.DS_Store
.Rhistory
.RDataTmp
.Rproj.user
.RData
rgbif.Rproj
gist_downloads.md
.httr-oauth
revdep/checks.noindex
revdep/data.sqlite
revdep/library.noindex
revdep/checks
revdep/library
gbifissues.txt
*.Rproj
inst/ignore/mvt-test.R
rgbif_dependencies.md
