.DS_Store
.Rhistory
.Rapp.history
.RDataTmp
.Rproj.user
.RData
.Ruserdata
.Renviron
.httr-oauth
.aspell
rgbif.Rproj
*.Rproj
gist_downloads.md
revdep/checks.noindex
revdep/data.sqlite
revdep/library.noindex
revdep/checks
revdep/library
gbifissues.txt
inst/ignore/mvt-test.R
rgbif_dependencies.md
readme_contributors.txt
tests/fixtures/dl_user.yml
inst/doc
docs/
/cache/
*_cache/
/check/
/*.tar.gz
/*.Rcheck/
*.utf8.md
*.knit.md
