export(gbifdatause)
export(networks)
export(occurrencecount)
export(occurrencedensity)
export(occurrenceget)
export(occurrencelist)
export(providers)
export(resources)
export(taxoncount)
export(taxonsearch)
export(taxrank)
import(RCurl)
import(XML)
import(httr)
import(plyr)
