export(country_codes)
export(datasetparser)
export(gbif_lookup)
export(gbifparser)
export(ldfast)
export(name_lookup)
export(occ_get)
import(httr)
importFrom(plyr,compact)
importFrom(plyr,rbind.fill)
