http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/collection?q=insect&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":583,"results":[{"key":"7bc994e7-6839-4557-926e-fd57daf97de1","code":"Insects","name":"Insect
        Collection at Vänersborg Museum","description":"<p>The insect collection at
        Vänersborg Museum includes insects from several collectors. The largest part
        of the collection comes from Gustaf Olof David von Hackwitz, lecturer in natural
        history at Högre allmänna läroverket in Vänersborg and curator of the Vänersborg
        Museum&#39;s natural history collections. His collection comes from several
        parts of the world and was collected between 1870 and 1914. Another part of
        the collection comes from the Vä[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/collection?limit=2&name=Insects
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":142,"results":[{"key":"59a8755c-9ca4-47fa-a2e0-7b854714532e","code":"ENT","name":"Entomology","contentTypes":["PreservedOrganisms"],"active":true,"personalCollection":false,"email":[],"phone":[],"catalogUrls":[],"apiUrls":[],"preservationTypes":[],"institutionKey":"8ac34b4f-3119-47c1-8add-3d5704c78eae","mailingAddress":{"key":57976,"address":"Trg
        Vojvode Bećir Bega Osmanagića 16","city":"Podgorica","postalCode":"81000","country":"ME"},"address":{"key":57975,"address":"Trg
        Vojvode Bećir Bega Osmanagića 16","city":"Podgorica","postalCode":"81000","country":"ME"},"createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2026-02-10T13:35:30.641+00:00","modified":"2026-02-10T13:35:30.641+00:00","tags":[],"identifiers":[],"contactPersons":[],"machineTags":[],"incorporatedCollections":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0,"institutionName":"Natural
        History Museum of Montenegro","institutionCode":"NHMM"},{"key":"d192e26e-6fc8-46d0-b295-da98474e93b9","code":"ENT","name":"Entomology","description":"Greece
        and other countries in the Eastern Mediterranean. the taxonomic scope is focused
        on flower visiting insects from Greece (mainly Hymenoptera, Diptera, Coleoptera
        and some Lepidoptera).","contentTypes":["PreservedOrganisms"],"active":true,"personalCollection":false,"email":[],"phone":[],"catalogUrls":[],"apiUrls":[],"preservationTypes":[],"institutionKey":"64b864f7-17cb-440c-9493-00edeeb1a546","mailingAddress":{"key":57974,"address":"Laboratory
        of Biogeography and Ecology, Department of Geography, University Hill","city":"Mytilene","postalCode":"81100","country":"GR"},"address":{"key":57973,"address":"Laboratory
        of Biogeography and Ecology, Department of Geography, University Hill","city":"Mytilene","postalCode":"81100","country":"GR"},"createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2026-02-10T13:33:11.663+00:00","modified":"2026-02-10T13:33:11.663+00:00","tags":[],"identifiers":[],"contactPersons":[],"machineTags":[],"incorporatedCollections":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0,"institutionName":"University
        of the Aegean","institutionCode":"UAEG"}]}'
  recorded_at: 2026-08-19 06:20:23
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/collection?numberSpecimens=0%2C100&limit=1
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":1740,"results":[{"key":"aaa6b337-3c6b-408b-841f-94a92a30b324","code":"DIP-DICHO","name":"The
        genus Dichopygina gen. n. (Diptera: Sciaridae)","description":"<p>The material
        studied in the article mentioned as source. Article prepared as part of the
        PUTTE project.</p>","contentTypes":["Biological","PreservedOrganisms"],"active":true,"personalCollection":false,"email":[],"phone":[],"homepage":"https://www.helsinki.fi/en/luomus/national-collections/explore-collections/zoological-collections","catalogUrls":[],"apiUrls":[],"preservationTypes":[],"institutionKey":"9e87321e-8dbc-460a-b553-9a68c2858b1d","mailingAddress":{"key":59876},"address":{"key":59875,"address":"Pohjoinen
        Rautatiekatu 13","city":"Helsinki","province":"Uusimaa","postalCode":"FI-00100","country":"FI"},"createdBy":"finbif","modifiedBy":"finbif","created":"2026-08-18T11:33:11.616+00:00","modified":"2026-08-18T11:55:42.268+00:00","tags":[],"identifiers":[{"key":472137,"type":"DOI","identifier":"10.15468/xjqqgp","createdBy":"finbif","created":"2026-08-18T11:33:11.616+00:00","primary":false}],"contactPersons":[{"key":54886,"position":[],"phone":[],"fax":[],"email":[],"address":[],"primary":true,"taxonomicExpertise":[],"userIds":[],"createdBy":"finbif","modifiedBy":"finbif","created":"2026-08-18T11:54:43.381+00:00","modified":"2026-08-18T11:54:43.381+00:00"},{"key":54887,"firstName":"Pekka","lastName":"Vilkamaa","position":[],"phone":[],"fax":[],"email":["pekka.vilkamaa@helsinki.fi"],"address":[],"primary":true,"taxonomicExpertise":[],"userIds":[],"createdBy":"finbif","modifiedBy":"finbif","created":"2026-08-18T11:54:43.381+00:00","modified":"2026-08-18T11:54:43.381+00:00"},{"key":54888,"position":[],"phone":[],"fax":[],"email":["helpdesk@laji.fi"],"address":[],"primary":false,"taxonomicExpertise":[],"userIds":[],"createdBy":"finbif","modifiedBy":"finbif","created":"2026-08-18T11:54:43.381+00:00","modified":"2026-08-18T11:54:43.381+00:00"}],"numberSpecimens":70,"machineTags":[],"taxonomicCoverage":"Diptera;
        Sciaridae","geographicCoverage":"Worldwide","incorporatedCollections":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GBIF_REGISTRY","masterSourceMetadata":{"key":10245,"source":"DATASET","sourceId":"b21606a6-5baa-4997-ab67-f7ebdab09306","createdBy":"finbif","created":"2026-08-18T11:33:11.616+00:00"},"displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0,"temporalCoverage":"1943-01-01
        - 2000-12-31","institutionName":"Helsinki Zoological Museum","institutionCode":"MZH"}]}'
  recorded_at: 2026-08-19 06:20:23
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/collection?limit=1&institutionKey=6a6ac6c5-1b8a-48db-91a2-f8661274ff80
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":27,"results":[{"key":"745ce2d0-a64b-4089-aae6-3712a39caa2a","code":"RS","name":"The
        Scorpiones collection (RS) of the Muséum national d''Histoire naturelle (MNHN
     [...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/collection?q=insect&limit=1&country=US
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":163,"results":[{"key":"ddfcd903-0d30-4d66-abb1-9a170b877391","code":"UMMZ-Insects","name":"University
        of Michigan Museum of Zoology, Insects Collection","description":"The University
        of Michi[...]
