http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/collection?q=insect&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":518,"results":[{"key":"5f024e8c-bbaa-400f-a9ae-b07b2a0ae45a","code":"PSUZC-INSECT","name":"Stock
        of insect specimens","description":"Curator: Dr. Sophak Chantharit. Tailed
        bugs are small invertebrates. It is classified as a legged animal. It is the
        boundary between crustaceans and insects. The stingrays belong to the class
        Collembola. Small in shape (0.2-8 mm), they are important in the ecosystem
        as a helper for the decomposition of organic matter. At present, there are
        more than 8,000 species of stinging insects that have been identified in the
        world for Thailand. There are re[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/collection?limit=2&name=Insects
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":136,"results":[{"key":"40091655-14a3-4558-a7b8-640e2e156a92","code":"ENT","name":"Entomology","description":"Entomology
        collection (ENT) of the Museu Nacional de História Natural e da Ciência (MNHNC),
        Lisbon, PORTUGAL.","contentTypes":["PreservedOrganisms"],"active":true,"personalCollection":false,"email":["geral@museus.ulisboa.pt","rkeller@edu.ulisboa.pt"],"phone":[],"homepage":"https://www.museus.ulisboa.pt/","catalogUrls":[],"apiUrls":[],"preservationTypes":["SamplePinned","SampleFluidPreserved","SampleSlideMount"],"institutionKey":"0fdf8436-0060-4cc4-8235-90526026bccd","mailingAddress":{"key":52829,"address":"Museu
        Nacional de História Natural e da Ciência, Rua da Escola Politécnica 56/58","city":"Lisbon","postalCode":"1250-102","country":"PT"},"address":{"key":52828,"address":"Museu
        Nacional de História Natural e da Ciência, Rua da Escola Politécnica 56/58","city":"Lisbon","postalCode":"1250-102","country":"PT"},"createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2025-01-21T08:49:23.632+00:00","modified":"2025-01-21T15:13:10.506+00:00","tags":[],"identifiers":[],"contactPersons":[],"numberSpecimens":500000,"machineTags":[],"taxonomicCoverage":"Hexapoda","geographicCoverage":"Global","incorporatedCollections":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0,"temporalCoverage":"1858
        - present","institutionName":"Museu Nacional de História Natural e da Ciência","institutionCode":"MNHNC"},{"key":"6d9fa861-1fba-47b5-a90a-735ee007776b","code":"AMBL-BL-ENT","name":"Entomology","description":"Estimated
        number of specimens (individual specimen): 275´000. Formation period: 1835-ongoing.
        Geologic period: Present. Estimated number of species: 20´000. Number of types:
        unknown. SCSPS: 4 [Holger Frick, updated 2024-10-03]","contentTypes":["Biological","PreservedOrganisms","Exoskeletons"],"active":true,"personalCollection":false,"email":["holger.frick@bl.ch"],"phone":[],"catalogUrls":[],"apiUrls":[],"preservationTypes":["StorageControlledAtmosphere","SamplePinned"],"institutionKey":"58f0cf31-4c49-4568-87d5-60d51389230f","mailingAddress":{"key":52093},"address":{"key":52084,"address":"Amtshausgasse
        7","city":"Liestal","postalCode":"CH-4410","country":"CH"},"createdBy":"tschudin","modifiedBy":"sofiawyler","created":"2024-11-27T19:43:26.388+00:00","modified":"2025-02-25T10:13:30.799+00:00","tags":[],"identifiers":[{"key":376510,"type":"UUID","identifier":"b394f0d1-dd46-452c-b2d5-4ffa6290ce37","createdBy":"sofiawyler","created":"2024-11-28T08:35:59.438+00:00","primary":false}],"contactPersons":[{"key":41476,"firstName":"Holger","lastName":"Frick","position":["Head
        of Collections","creator","metadataProvider","contact"],"phone":[],"fax":[],"email":["holger.frick@bl.ch"],"address":["Amtshausgasse
        7"],"city":"Liestal","country":"CH","postalCode":"CH-4410","primary":true,"taxonomicExpertise":[],"userIds":[{"type":"ORCID","id":"0000-0003-1971-310X"}],"createdBy":"sofiawyler","modifiedBy":"sofiawyler","created":"2025-02-25T10:13:31.555+00:00","modified":"2025-02-25T10:13:31.555+00:00"}],"numberSpecimens":275000,"machineTags":[],"taxonomicCoverage":"Insecta:
        Insecta; Lepidoptera; Coleoptera","notes":"One of the largest collections
        of butterflies of the canton (region) of Basel-Country","incorporatedCollections":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0,"temporalCoverage":"Formation
        period: 1835-ongoing","institutionName":"Archäologie und Museum Baselland
        - Museum.BL","institutionCode":"AMBL"}]}'
  recorded_at: 2025-08-04 13:47:45
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/collection?numberSpecimens=0%2C100&limit=1
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":1696,"results":[{"key":"4a5632b8-f86b-4d38-a0cb-12bef927b905","code":"FI-PBP","name":"Erbario
        di Onorina Passerini Bargagli Petrucci | Onorina Passerini Bargagli Petrucci''s
        herbarium","description":"Contents: 99 specimens, including 42 lichens, 45
        bryophytes, 10 pteridophytes and 2 angiosperms.","contentTypes":["PreservedOrganisms"],"active":false,"personalCollection":true,"email":[],"phone":[],"catalogUrls":[],"apiUrls":[],"preservationTypes":["SamplePressed","SampleDried","StorageIndoors"],"institutionKey":"42038f96-5978-474c-9b0b-4e92450cd1d8","mailingAddress":{"key":56097,"address":"Via
        Giorgio La Pira, 4","city":"Firenze","province":"[TOSCANA] Firenze (FI)","postalCode":"IT-50121","country":"IT"},"address":{"key":56096,"address":"Via
        Giorgio La Pira, 4","city":"Firenze","province":"[TOSCANA] Firenze (FI)","postalCode":"IT-50121","country":"IT"},"createdBy":"tasmacetus","modifiedBy":"tasmacetus","created":"2025-06-30T07:49:08.366+00:00","modified":"2025-06-30T07:49:08.366+00:00","tags":[],"identifiers":[],"contactPersons":[],"numberSpecimens":97,"machineTags":[],"notes":"This
        is a sub-collection of https://registry.gbif.org/collection/19961847-31f6-4abb-9b92-18a391ba9b0d.
        Information originally retrieved from internal University of Florence Museal
        System (UNIFI-SMA) digitization dashboard, compiled in October 2021.","incorporatedCollections":[],"alternativeCodes":[{"code":"FI999941","description":"Herbarium
        barcode"}],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":99,"typeSpecimenCount":0,"institutionName":"Sede
        di Via Giorgio La Pira del Museo di Storia naturale di Firenze |  Via Giorgio
        La Pira headquarter of the Natural History Museum in Florence","institutionCode":"MSNF-GLP"}]}'
  recorded_at: 2025-08-04 13:47:45
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/collection?limit=1&institutionKey=6a6ac6c5-1b8a-48db-91a2-f8661274ff80
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":27,"results":[{"key":"745ce2d0-a64b-4089-aae6-3712a39caa2a","code":"RS","name":"The
        Scorpiones collection (RS) of the Muséum national d''Histoire naturelle (MNHN
     [...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/collection?q=insect&limit=1&country=US
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":155,"results":[{"key":"e21440ee-0b58-4cfd-b763-5323cbe96ac8","code":"UAA:Ento","name":"University
        of Alaska Anchorage Insect Specimens (Arctos)","description":"The UAA Entomology
        Collection i[...]
