http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/collection?q=insect&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":533,"results":[{"key":"5f024e8c-bbaa-400f-a9ae-b07b2a0ae45a","code":"PSUZC-INSECT","name":"Stock
        of insect specimens","description":"Curator: Dr. Sophak Chantharit. Tailed
        bugs are small invertebrates. It is classified as a legged animal. It is the
        boundary between crustaceans and insects. The stingrays belong to the class
        Collembola. Small in shape (0.2-8 mm), they are important in the ecosystem
        as a helper for the decomposition of organic matter. At present, there are
        more than 8,000 species of stinging insects that have been identified in the
        world for Thailand. There are re[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/collection?limit=2&name=Insects
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":138,"results":[{"key":"fa140a6d-a1cd-46ea-95b9-1980418eb908","code":"ENT","name":"Entomology","description":"The
        insect collection is one of the Museum’s most active collections, maintained
        by a staff of about 15 scientists, curators, research students and volunteers.
        The collection includes about three million items representing Israel’s insect
        species, as well as tens of thousands of items from different regions around
        the world. These provide a basis for taxonomic, phylogenetic and ecological
        research for the Museum’s scientists and their students, as well as researchers
        from other academic institutions in Israel and overseas. The collection also
        includes a range of live insects, used for instruction purposes. Activities
        aim to preserve, document and study Israel’s insect community, estimated to
        include about 20,000 species, at least one thousand of which remain unknown
        to science. In addition to their research and routine work, the collection’s
        staff provides identification services to a range of government, academic,
        commercial and private organizations.","contentTypes":["Exoskeletons"],"active":true,"personalCollection":false,"email":[],"phone":[],"catalogUrls":[],"apiUrls":[],"preservationTypes":[],"institutionKey":"0e972e6d-3b72-476d-ae05-f7de1c82d3c6","mailingAddress":{"key":56960},"address":{"key":56961,"address":"12
        Klausner Street","city":"Tel Aviv","postalCode":"073-3802000","country":"IL"},"createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2025-09-29T10:06:17.068+00:00","modified":"2025-09-29T10:08:15.198+00:00","tags":[],"identifiers":[],"contactPersons":[],"numberSpecimens":3000000,"machineTags":[],"taxonomicCoverage":"Insecta","incorporatedCollections":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0,"institutionName":"Tel-Aviv
        University - Steinhardt Museum","institutionCode":"TAU"},{"key":"7f6438b9-fe77-41f3-8858-155f3c18690b","code":"SMNS-E","name":"Entomology","description":"The
        entomological collections include more than 5.5 million specimens from all
        over the world, thus forming the largest part of the museum’s inventory. Its
        major part holds about 4.8 million dried insects stored in more than 22,000
        insect drawers. Additionally, a considerable amount of insects and other arthropods,
        mainly Crustacea and Arachnida, are stored in ethanol. In recent years, specimens
        are increasingly preserved in 100 % ethanol and stored in deep freezers at
        -80° C for genetic studies.","contentTypes":["Exoskeletons","PreservedOrganisms"],"active":true,"personalCollection":false,"email":[],"phone":[],"homepage":"https://www.naturkundemuseum-bw.de/en/research/collection/entomology-collection","catalogUrls":[],"apiUrls":[],"preservationTypes":["SamplePinned","SampleFluidPreserved","StorageFrozenMinus80"],"accessionStatus":"Institutional","institutionKey":"57246550-fc3c-4056-a59b-5688a10274bd","mailingAddress":{"key":56953},"address":{"key":56952,"address":"Rosenstein
        1, D-70191 Stuttgart","country":"DE"},"createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2025-09-29T08:57:46.050+00:00","modified":"2025-09-29T08:58:54.702+00:00","tags":[],"identifiers":[],"contactPersons":[],"numberSpecimens":5500000,"machineTags":[],"taxonomicCoverage":"Arthropoda","incorporatedCollections":[],"alternativeCodes":[{"code":"SMNS-E-neuropteracoll","description":"Neuroptera"},{"code":"SMNS-E-goldenwaspscoll","description":"Chrysididae"}],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0,"featuredImageUrl":"https://www.naturkundemuseum-bw.de/fileadmin/_processed_/6/1/csm_smns-entomologie-sammlung-header_4784d273b2.jpg","institutionName":"Staatliches
        Museum für Naturkunde Stuttgart","institutionCode":"SMNS"}]}'
  recorded_at: 2025-11-13 08:03:32
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/collection?numberSpecimens=0%2C100&limit=1
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":1694,"results":[{"key":"b3eb4812-87e2-4325-8f94-0736c9f541f0","code":"MUSE-VER-c021","name":"Collezione
        micromammiferi A. Montolli | A. Montolli micromammal collection","description":"Soricomorpha
        and Rodentia collected and determined by Attilio Montolli","contentTypes":["PreservedOrganisms"],"active":true,"personalCollection":false,"email":["collezioni@muse.it","mariachiara.deflorian@muse.it"],"phone":[],"homepage":"https://www.muse.it/","catalogUrls":["https://www.muse.it/home/ricerca-e-collezioni/le-collezioni-scientifiche/catalogo-digitale-collezioni-muse/"],"apiUrls":[],"preservationTypes":["SampleDried"],"accessionStatus":"Institutional","institutionKey":"f7a73987-a389-406f-84eb-bc5a0ca35835","mailingAddress":{"key":57015,"address":"Corso
        del Lavoro e della Scienza, 3","city":"Trento","province":"[TRENTINO-ALTO
        ADIGE/SUDTIROL] Trento (TN)","postalCode":"IT-38122","country":"IT"},"address":{"key":57014,"address":"Corso
        del Lavoro e della Scienza, 3","city":"Trento","province":"[TRENTINO-ALTO
        ADIGE/SUDTIROL] Trento (TN)","postalCode":"IT-38122","country":"IT"},"createdBy":"tasmacetus","modifiedBy":"tasmacetus","created":"2025-10-24T09:31:13.815+00:00","modified":"2025-10-26T06:35:50.799+00:00","tags":[],"identifiers":[],"contactPersons":[],"numberSpecimens":56,"machineTags":[],"taxonomicCoverage":"Soricomorpha,
        Rodentia","geographicCoverage":"Trentino-Alto Adige","notes":"This is a subcollection
        of https://registry.gbif.org/collection/e06d3605-eed3-43fe-9a31-dd18c4e0f9fe.","incorporatedCollections":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0,"temporalCoverage":"1985-1995","institutionName":"MUSE
        - Museo delle Scienze","institutionCode":"MUSE"}]}'
  recorded_at: 2025-11-13 08:03:33
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/collection?limit=1&institutionKey=6a6ac6c5-1b8a-48db-91a2-f8661274ff80
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":27,"results":[{"key":"745ce2d0-a64b-4089-aae6-3712a39caa2a","code":"RS","name":"The
        Scorpiones collection (RS) of the Muséum national d''Histoire naturelle (MNHN
     [...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/collection?q=insect&limit=1&country=US
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":155,"results":[{"key":"e21440ee-0b58-4cfd-b763-5323cbe96ac8","code":"UAA:Ento","name":"University
        of Alaska Anchorage Insect Specimens (Arctos)","description":"The UAA Entomology
        Collection i[...]
