http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/a6998220-7e3a-485d-9cd6-73076bd85657/metadata?limit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"key":657,"datasetKey":"a6998220-7e3a-485d-9cd6-73076bd85657","type":"EML","createdBy":"eml-pusher.gbif.org","modifiedBy":"eml-pusher.gbif.org","created":"2013-10-24T11:23:15.236+00:00","modified":"2013-10-24T11:23:15.236+00:00"}]'
  recorded_at: 2022-04-08 13:33:06 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
