http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":91846,"results":[{"key":"8c567254-eaec-4ae2-89dc-c057adcb7902","installationKey":"7ce8aef1-9e92-11dc-8740-b8a03c50a999","publishingOrganizationKey":"7ce8aef0-9e92-11dc-8738-b8a03c50a862","doi":"10.15468/c2tuuk","external":false,"numConstituents":0,"type":"CHECKLIST","title":"Cotyledon
        mckayi (Crassulaceae subfam. Kalanchooideae), a new cremnophytic species from
        the central Tugela River Basin of KwaZulu-Natal, South Africa","description":"This
        dataset contains the digitized treatments in Plazi based on the original journal
        article Crouch, Neil R., Smith, Gideon F. (2023): Cotyledon mckayi (Crassulaceae
        subfam. Kalanchooideae), a new cremnophytic species from the central Tugela
        River Basin of KwaZulu-Natal, South Africa. Phytotaxa 632 (2): 184-192, DOI:
        10.11646/phytotaxa.632.2.8, URL: https://phytotaxa.mapress.com/pt/article/download/phytotaxa.632.2.8/51402","language":"eng","homepage":"https://tb.plazi.org/GgServer/summary/FFD0FFAEFFA9FFCB1149681CFFDBFFC1","citation":{"text":"Crouch
        N R, Smith G F, plazi (2023). Cotyledon mckayi (Crassulaceae subfam. Kalanchooideae),
        a new cremnophytic species from the central Tugela River Basin of KwaZulu-Natal,
        South Africa. Plazi.org taxonomic treatments database. Checklist dataset https://doi.org/10.15468/c2tuuk
        accessed via GBIF.org on 2024-01-03.","citationProvidedBySource":false},"contactsCitation":[{"key":5120872,"abbreviatedName":"Crouch
        N R","firstName":"Neil R.","lastName":"Crouch","roles":["ORIGINATOR"],"userId":[]},{"key":5120873,"abbreviatedName":"Smith
        G F","firstName":"Gideon F.","lastName":"Smith","roles":["ORIGINATOR"],"userId":[]},{"key":5120876,"abbreviatedName":"plazi","lastName":"plazi","roles":["METADATA_AUTHOR"],"userId":[]}],"lockedForAutoUpdate":false,"createdBy":"plazi","modifiedBy":"crawler.gbif.org","created":"2024-01-03T12:43:50.181+00:00","modified":"2024-01-03T12:44:54.916+00:00","contacts":[{"key":5120872,"type":"ORIGINATOR","primary":true,"userId":[],"firstName":"Neil
        R.","lastName":"Crouch","position":[],"email":[],"phone":[],"homepage":[],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2024-01-03T12:44:54.899+00:00","modified":"2024-01-03T12:44:54.899+00:00"},{"key":5120873,"type":"ORIGINATOR","primary":false,"userId":[],"firstName":"Gideon
        F.","lastName":"Smith","position":[],"email":[],"phone":[],"homepage":[],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2024-01-03T12:44:54.902+00:00","modified":"2024-01-03T12:44:54.902+00:00"},{"key":5120874,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Guido","lastName":"Sautter","position":[],"email":["sautter@plazi.org"],"phone":[],"homepage":["https://plazi.org"],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2024-01-03T12:44:54.903+00:00","modified":"2024-01-03T12:44:54.903+00:00"},{"key":5120875,"type":"PUBLISHER","primary":false,"userId":[],"position":[],"email":["info@plazi.org"],"phone":[],"homepage":["https://plazi.org/"],"organization":"Plazi","address":[],"city":"Bern","country":"CH","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2024-01-03T12:44:54.905+00:00","modified":"2024-01-03T12:44:54.905+00:00"},{"key":5120876,"type":"METADATA_AUTHOR","primary":true,"userId":[],"lastName":"plazi","position":[],"email":[],"phone":[],"homepage":[],"organization":"Plazi","address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2024-01-03T12:44:54.906+00:00","modified":"2024-01-03T12:44:54.906+00:00"}],"endpoints":[{"key":957858,"type":"DWC_ARCHIVE","url":"https://tb.plazi.org/GgServer/dwca/FFD0FFAEFFA9FFCB1149681CFFDBFFC1.zip","createdBy":"plazi","modifiedBy":"plazi","created":"2024-01-03T12:43:50.471+00:00","modified":"2024-01-03T12:43:50.471+00:00","machineTags":[]}],"machineTags":[{"key":18024933,"namespace":"crawler.gbif.org","name":"crawl_attempt","value":"1","createdBy":"crawler.gbif.org","created":"2024-01-03T12:44:50.805+00:00"}],"tags":[],"identifiers":[{"key":359469,"type":"UUID","identifier":"FFD0FFAEFFA9FFCB1149681CFFDBFFC1","createdBy":"plazi","created":"2024-01-03T12:43:50.352+00:00"}],"comments":[],"bibliographicCitations":[{"text":"Crouch,
        Neil R., Smith, Gideon F. (2023): Cotyledon mckayi (Crassulaceae subfam. Kalanchooideae),
        a new cremnophytic species from the central Tugela River Basin of KwaZulu-Natal,
        South Africa. Phytotaxa 632 (2): 184-192, DOI: 10.11646/phytotaxa.632.2.8,
        URL: https://phytotaxa.mapress.com/pt/article/download/phytotaxa.632.2.8/51402","citationProvidedBySource":false}],"curatorialUnits":[],"taxonomicCoverages":[],"geographicCoverages":[],"temporalCoverages":[],"keywordCollections":[],"countryCoverage":[],"collections":[],"dataDescriptions":[],"dataLanguage":"eng","pubDate":"2023-12-28T00:00:00.000+00:00","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode"},{"key":"4c11a504-aaab-44c6-aa7e-56020f27dc94","installationKey":"7ce8aef1-9e92-11dc-8740-b8a03c50a999","publishingOrganizationKey":"7ce8aef0-9e92-11dc-8738-b8a03c50a862","doi":"10.15468/utegwk","external":false,"numConstituents":0,"type":"CHECKLIST","title":"Another
        remarkable new species of Dictyanthus (Apocynaceae, Asclepiadoideae, Asclepiadeae,
        Gonolobinae) with a long stylar head from Mexico","description":"This da[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&country=US
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":2542,"results":[{"key":"157316bd-eec2-48d[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&type=CHECKLIST
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":49816,"results":[{"key":"8c567254-eae[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&identifierType=URL
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":19953,"results":[{"key":"df7867e6[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&identifier=168
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":true,"count":1,"results":[{"key":"8324c0dc-f762-11e[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagNamespace=metasync.gbif.org
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":10066,"results":[{"key":"cd9570ce-b6ed-4dba-9654-6582add155ef","installationKey":"6038e54e-f762-11e1-a439-00145eb45e9a","publishingOrganizationKey":"0674aea0-a7e1-11d8-9534-b8a03c50a862","networkKeys":[],"doi":"10.15468/ygzvjr","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"Rodents
        composition of urban and forested areas in Potsdam, Germany","description":"The
        present dataset from Germany is encompassed in the European Biodiversa BioRodDis
        project (Managing BIOdiversity in forests and urban green spaces: Dilution
        and amplification effects on RODent microbiomes and rodent-borne DISeases.
        Project coordinator: Nathalie Charbonnel, Senior[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagName=datasetTitle
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":1250,"results":[{"key":"[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagValue=Borkhart
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":true,"count":1,"results":[{"key":"61447af[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&modified=2023-04-01
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":18,"results":[{"key":"dbd109ca-9353-4c15-982e-2ed05401f6e2","installationKey":"9a0789af-e49d-41c2-8f8a-ca77da95d820","publishingOrganizationKey":"bdee9e20-df5e-4ef8-a012-53d2e83010e4","doi":"10.15468/2dz5u4","version":"1.1","external":false,"numConstituents":0,"type":"CHECKLIST","title":"Checklist
        of flora and fauna of Bayelsa State, Nigeria","description":"This is a record
        of plants and animals found in Coastal Environments in Bayelsa state of Nigeria","language":"eng","citation":{"text":"Oyedeji
        A (2023): Checklist of flora and fauna of Bayelsa State, Nigeria. v1.1. University
        of Lagos. Dataset/Checklist. https://ipt-nigeria.gbif.fr/resource?r=checklistoffloraandfaunaofbayelsastatenigeria&v=1.1
        https://doi.org/10.15468/2dz5u4 accessed via GBIF.org on 2024-01-03.","citationProvidedBySource":true},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"bdee9e20-df5e-4ef8-a012-53d2e83010e4","modifiedBy":"crawler.gbif.org","created":"2023-04-01T18:45:42.782+00:00","modified":"2023-04-01T18:58:06.804+00:00","contacts":[{"key":4292681,"type":"ORIGINATOR","primary":true,"userId":["https://scholar.google.com/citations?user=xq3yAyAAAAAJ&hl=en&oi=ao"],"firstName":"Ayodele","lastName":"Oyedeji","position":["Senior
        Lecturer"],"email":["ayodele.oyedeji@ndu.edu.ng"],"phone":["+2348038085958"],"homepage":[],"organization":"Niger
        Delta University","address":["Institute of Biodiversity, Climate Change &
        Watersheds"],"city":"Wilberforce Island","province":"Bayelsa","country":"NG","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2023-04-01T18:58:06.774+00:00","modified":"2023-04-01T18:58:06.774+00:00"},{"key":4292682,"type":"METADATA_AUTHOR","primary":true,"userId":["https://scholar.google.com/citations?user=RXZrUZIAAAAJ&hl=en"],"firstName":"Temitope","lastName":"Onuminya","position":["Associate
        Professor"],"email":["tadeyemi@unilag.edu.ng"],"phone":["+2347030241452"],"homepage":[],"organization":"University
        of Lagos","address":["Department Of Botany"],"city":"Akoka","province":"Lagos","country":"NG","postalCode":"23401","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2023-04-01T18:58:06.781+00:00","modified":"2023-04-01T18:58:06.781+00:00"},{"key":4292683,"type":"POINT_OF_CONTACT","primary":false,"userId":["https://scholar.google.com/citations?user=xq3yAyAAAAAJ&hl=en&oi=ao"],"firstName":"Ayodele","lastName":"Oyedeji","position":["Senior
        Lecturer"],"email":["ayodele.oyedeji@ndu.edu.ng"],"phone":["+2348038085958"],"homepage":[],"organization":"Niger
        Delta Universi[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?q=dog&limit=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":79,"results":[{"key":"27305adb-c2cc-4fef-9390-[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/deleted/?limit=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":12318,"results":[{"key":"d65279de-7e13-4a41-a64e-8df1ff2e7f1e","installationKey":"8120860c-d51c-4f5f-b865-3c8e39eb6915","publishingOrganizationKey":"c3367060-856b-11d9-8486-b8a03c50a862","networkKeys":[],"doi":"10.15468/arueh9","version":"1.3","external":false,"numConstituents":0,"type":"OCCURRENCE","subtype":"OBSERVATION","title":"Database
        of Japanese semi-natural grassland flora","description":"This is a dataset
        of Japanese semi-natural grassland flora, compiled from previously published
        studies.\nThis database is useful as a basis for the analysis of changes in
        the flora of Japanese grasslands as well as for future monitoring.","language":"eng","citation":{"text":"Noda
        A, Ohta Y, Yokota H, Inoue M, Shirakawa K, Masui T, Takahashi Y, Nishihiro
        J (2023). Database of Japanese semi-natural grassland flora. Version 1.3.
        National Institute of Genetics, ROIS. Occurrence dataset https://doi.org/10.15468/arueh9
        accessed via GBIF.org on 2023-12-21.","citationProvidedBySource":false},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"c3367060-856b-11d9-8486-b8a03c50a862","modifiedBy":"c3367060-856b-11d9-8486-b8a03c50a862","created":"2023-12-21T06:05:55.524+00:00","modified":"2023-12-21T08:19:34.517+00:00","deleted":"2023-12-21T08:19:34.517+00:00","contacts":[{"key":5110802,"type":"ORIGINATOR","primary":true,"userId":[],"firstName":"Akira","lastName":"Noda","position":[],"email":["akira.noda21@gmail.com"],"phone":[],"homepage":[],"organization":"Toho
        University","address":["2-2-1 Miyama"],"city":"Narashino","province":"Chiba","country":"JP","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2023-12-21T08:08:43.079+00:00","modified":"2023-12-21T08:08:43.079+00:00"},{"key":51108[...]
