http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset//metrics
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rgbif/2.1.0)
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2020-02-12 05:59:56 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/3f8a1297-3259-4700-91fc-acc4170b27ce/metrics
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rgbif/2.1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":330801,"datasetKey":"3f8a1297-3259-4700-91fc-acc4170b27ce","usagesCount":31469,"synonymsCount":21034,"distinctNamesCount":31439,"nubMatchingCount":30026,"colMatchingCount":24563,"nubCoveragePct":95,"colCoveragePct":78,"countByConstituent":{},"countByKingdom":{"PLANTAE":9089},"countByRank":{"SPECIES":6176,"GENUS":1271,"VARIETY":902,"SUBSPECIES":723,"SECTION":356,"TRIBE":334,"FAMILY":176,"SUBFAMILY":156,"SUBGENUS":106,"SUBTRIBE":61,"SUBSECTION":60,"ORDER":55,"SERIES":40,"SUPERORDER":12,"SUBCLASS":6,"CLASS":1},"countNamesByLanguage":{"ENGLISH":20940,"FRENCH":11373},"countExtRecordsByExtension":{"VERNACULAR_NAME":32313,"DISTRIBUTION":29607,"DESCRIPTION":10395,"IDENTIFIER":0,"MULTIMEDIA":0,"REFERENCE":0,"SPECIES_PROFILE":0,"TYPES_AND_SPECIMEN":0},"countByOrigin":{"SOURCE":31460,"PROPARTE":9},"countByIssue":{"SCIENTIFIC_NAME_ASSEMBLED":1841,"BACKBONE_MATCH_NONE":1443,"PARTIALLY_PARSABLE":45},"otherCount":{},"created":"2019-09-07T22:21:22.047+0000","downloaded":"2019-09-07T22:21:19.617+0000"}'
  recorded_at: 2020-02-12 05:59:56 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
[...]
