http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/search?q=amsterdam&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.5.2 rOpenSci(rgbif/0.9.9.9610)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/dataset/search?q=amsterdam&limit=100
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":68,"endOfRecords":true,"count":68,"results":[{"key":"c1e51d70-6166-11de-84bf-b8a03c50a862","title":"Zoological
        Museum Amsterdam, University of Amsterdam (NL) - Platyhelminthes","description":"The
        flatworm (Phylum Platyhelminthes) collection of the Zoological Museum Amsterdam
        contains a broad spectrum of species and specimens from all over the world.
        However, the major focus of the collections concerns the triclad flatworms
        or planarians (Order Tricladida). From this group many species and specimens
        are available of marine, freshwater, as well as terrestrial planarians, including
        385 type specimens. The beginning of these collections of planarians can be
        traced back to J. C. C. Loman (1856 - 1929), who described 16 new species
        of bipaliid land planarians. The collections were considerably expanded with
        the incorporation of the collection of Prof. Dr. Masaharu Kawakatsu into the
        collections of the Zoological Museum Amsterdam during the period 2000-2008.","type":"OCCURRENCE","hostingOrganizationKey":"cace8d10-2646-11d8-a2da-b8a03c50a862","hostingOrganizationTitle":"Netherlands
        Biodiversity Information Facility (NLBIF)","countryCoverage":[],"publishingCountry":"NL","publishingOrganizationKey":"396d5f30-dea9-11db-8ab4-b8a03c50a862","publishingOrganizationTitle":"Naturalis
        Biodiversity Center","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","decades":[],"keywords":[],"recordCount":7771},{"key":"b6ca95b0-c066-11dd-a312-b8a03c50a862","title":"Zoological
        Museum Amsterdam, University of Amsterdam (NL) - Bryozoa","description":"The
        Bryozoa collection of the Zoological Museum of Amsterdam consists of ca. 3000
        registered samples, including 210 nominal types. The collection is not currently
        studied by ZMA staff, but the Indonesian samples, collected by the Siboga
        Expedition in 1899-1900, are a valuable asset for the international taxonomic
[...]
