http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/suggest?q=Amazon&limit=100&type=OCCURRENCE
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.5.2 rOpenSci(rgbif/0.9.9.9610)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/dataset/suggest?q=Amazon&limit=100&type=OCCURRENCE
    body:
      encoding: UTF-8
      string: '[{"key":"82ceb6ba-f762-11e1-a439-00145eb45e9a","title":"Andes to Amazon
        Biodiversity Program","description":"The Andes to Amazon Program is an international,
        multidisciplinary team of scientists, students, and Peruvian locals working
        between the Botanical Research Institute of Texas (BRIT) and selected field
        and museum sites in Peru.","type":"OCCURRENCE"},{"key":"58414378-4fb2-47e0-8dd5-8b55d5c77117","title":"Bolivian
        Amazon lowland fish metacommunity data","description":"<p>This dataset represents
        data from the paper Yukoni, T. and Torres L. V. (2016) Fish metacommunity
        dynamics in the patchy heterogeneous habitats of varzea lakes, turbid river
        channels and transparent clear and black water bodies in the Amazonian Lowlands
        of Bolivia. Environmental Biology of Fishes.</p>\n<p>This study docume[...]
