http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/withNoEndpoint/?limit=3
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":7,"results":[{"key":"8e374f0d-90b1-4654-9123-07e160db1794","installationKey":"7ce8aef1-9e92-11dc-8740-b8a03c50a999","publishingOrganizationKey":"7ce8aef0-9e92-11dc-8738-b8a03c50a862","networkKeys":[],"doi":"10.15468/ufsuh7","external":false,"numConstituents":0,"type":"CHECKLIST","title":"Typification
        of the name Erodium soluntinum Tod. (Geraniaceae) and its taxonomic implications","language":"eng","citation":{"text":"Plazi.org
        taxonomic treatments database: Typification of the name Erodium soluntinum
        Tod. (Geraniaceae) and its taxonomic implications","citationProvidedBySource":false},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"plazi","modifiedBy":"plazi","created":"2024-09-07T02:12:04.095+00:00","modified":"2024-09-07T02:12:04.095+00:00","contacts":[],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[],"comments":[],"bibliographicCitations":[],"curatorialUnits":[],"taxonomicCoverages":[],"geographicCoverages":[],"temporalCoverages":[],"keywordCollections":[],"countryCoverage":[],"collections":[],"dataDescriptions":[],"license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode"},{"key":"c94ada4c-39a6-4860-95ab-c283964dfe07","installationKey":"e44d0fd7-0edf-477f-aa82-50a81836ab46","publishingOrganizationKey":"1928bdf0-f5d2-11dc-8c12-b8a03c50a862","networkKeys":[],"doi":"10.15468/ybybmf","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"Dataset
        4ca0e3ae-5814-4cf4-8d6e-ae835f50ccac","description":"Dataset 4ca0e3ae-5814-4cf4-8d6e-ae835f50ccac","language":"eng","citation":{"text":"UMS
        PatriNat (OFB-CNRS-MNHN), Paris: Dataset 4ca0e3ae-5814-4cf4-8d6e-ae835f50ccac","citationProvidedBySource":false},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"connexion_gbif_france","modifiedBy":"connexion_gbif_france","created":"2023-04-20T12:55:37.108+00:00","modified":"2023-04-20T12:55:37.108+00:00","contacts":[],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[],"comments"[...]
