http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/withNoEndpoint/?limit=3
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":17,"results":[{"key":"6a0b482c-1f32-419d-a36d-a1aa4b4bdd6e","installationKey":"7ce8aef1-9e92-11dc-8740-b8a03c50a999","publishingOrganizationKey":"ac084e47-e95d-4e30-ab94-115d4dec59b2","networkKeys":[],"doi":"10.15468/ncvcu7","external":false,"numConstituents":0,"type":"CHECKLIST","title":"Uncovering
        hidden diversity of Panorpidae (Insecta, Mecoptera) in the Himalayas and adjacent
        regions: New taxa and distributional records","language":"eng","citation":{"text":"Deutsche
        Entomologische Zeitschrift: Uncovering hidden diversity of Panorpidae (Insecta,
        Mecoptera) in the Himalayas and adjacent regions: New taxa and distributional
        records","citationProvidedBySource":false},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"plazi","modifiedBy":"plazi","created":"2026-06-10T19:10:13.401+00:00","modified":"2026-06-10T19:10:13.401+00:00","contacts":[],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[],"comments":[],"bibliographicCitations":[],"curatorialUnits":[],"taxonomicCoverages":[],"geographicCoverages":[],"temporalCoverages":[],"keywordCollections":[],"countryCoverage":[],"collections":[],"dataDescriptions":[],"license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode"},{"key":"13f1230d-b13c-4ffd-84f9-8da2d43b9c2b","installationKey":"7ce8aef1-9e92-11dc-8740-b8a03c50a999","publishingOrganizationKey":"7ce8aef0-9e92-11dc-8738-b8a03c50a862","networkKeys":[],"doi":"10.15468/ewn7cc","external":false,"numConstituents":0,"type":"CHECKLIST","title":"Redescription
        of Hypostomus johnii, a senior synonym of Hypostomus eptingi (Siluriformes:
        Loricariidae), Northeastern Brazil","language":"eng","ci[...]
