http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":114385,"results":[{"key":"76187bdd-48a7-4fa6-9d05-ef5684225bd3","installationKey":"7ce8aef1-9e92-11dc-8740-b8a03c50a999","publishingOrganizationKey":"7ce8aef0-9e92-11dc-8738-b8a03c50a862","doi":"10.15468/w34t2q","external":false,"numConstituents":0,"type":"CHECKLIST","title":"Late
        Eocene-early Oligocene snakes from the Transylvanian Basin (Romania)","description":"<p>This
        dataset contains the digitized treatments in Plazi based on the original journal
        article Venczel, Márton, Codrea, Vlad A., Solomon, Alexandru A., Fărcaș, Cristina,
        Bordeianu, Marian (2025): Late Eocene-early Oligocene snakes from the Transylvanian
        Basin (Romania). Comptes Rendus Palevol 24 (13): 229-240, DOI: 10.5852/cr-palevol2025v24a13,
        URL: https://doi.org/10.5852/cr-palevol2025v24a13</p>","language":"eng","homepage":"https://tb.plazi.org/GgServer/summary/FF8EFFC7FFA9FFE7FF88FF9EFFB2FFF9","citation":{"text":"Venczel
        M, Codrea V A, Solomon A A, Fărcaș C, Bordeianu M, felipe (2025). Late Eocene-early
        Oligocene snakes from the Transylvanian Basin (Romania). Plazi.org taxonomic
        treatments database. Checklist dataset https://doi.org/10.15468/w34t2q accessed
        via GBIF.org on 2025-06-10.","citationProvidedBySource":false},"contactsCitation":[{"key":6134131,"abbreviatedName":"Venczel
        M","firstName":"Márton","lastName":"Venczel","roles":["ORIGINATOR"],"userId":[]},{"key":6134132,"abbreviatedName":"Codrea
        V A","firstName":"Vlad A.","lastName":"Codrea","roles":["ORIGINATOR"],"userId":[]},{"key":6134133,"abbreviatedName":"Solomon
        A A","firstName":"Alexandru A.","lastName":"Solomon","roles":["ORIGINATOR"],"userId":[]},{"key":6134134,"abbreviatedName":"Fărcaș
        C","firstName":"Cristina","lastName":"Fărcaș","roles":["ORIGINATOR"],"userId":[]},{"key":6134135,"abbreviatedName":"Bordeianu
        M","firstName":"Marian","lastName":"Bordeianu","roles":["ORIGINATOR"],"userId":[]},{"key":6134138,"abbreviatedName":"felipe","lastName":"felipe","roles":["METADATA_AUTHOR"],"userId":[]}],"lockedForAutoUpdate":false,"createdBy":"plazi","modifiedBy":"crawler.gbif.org","created":"2025-06-10T13:44:20.591+00:00","modified":"2025-06-10T13:59:29.825+00:00","contacts":[{"key":6134131,"type":"ORIGINATOR","primary":true,"userId":[],"firstName":"Márton","lastName":"Venczel","position":[],"email":[],"phone":[],"homepage":[],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2025-06-10T13:59:29.790+00:00","modified":"2025-06-10T13:59:29.790+00:00"},{"key":6134132,"type":"ORIGINATOR","primary":false,"userId":[],"firstName":"Vlad
        A.","lastName":"Codrea","position":[],"email":[],"phone":[],"homepage":[],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2025-06-10T13:59:29.793+00:00","modified":"2025-06-10T13:59:29.793+00:00"},{"key":6134133,"type":"[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&country=US
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":2775,"results":[{"key":"96338c07-256a-4853-bab3-86dd7794b218","installationKey":"a957a663-2f17-415f-b1c8-5cf6398df8ed","publishingOrganizationKey":"0dea2b07-16e2-4604-9f50-36a4dd81d0e0","doi":"10.15468/3hrurp","external":false,"numConstituents":0,"type":"CHECKLIST","subtype":"INVENTORY_THEMATIC","title":"A
        Checklist of Prosimian Species Represented at The Duke Lemur Center, Durham,
        NC.","description":"\n            The Duke Lemur Center, an internationally
        acclaimed non-invasive research center, houses the world’s most\ndiverse population
        of lemurs outside their native Madagascar. This dataset is a\nchecklist of
        species housed at the Duke Lemur Center since its establishment in\n1966.\n        ","language":"eng","homepage":"http://lemur.duke.edu","logoUrl":"https://ipt.vertnet.org/logo.do?r=dlc_checklist","citation":{"text":"Mazza
        A (2025). A Checklist of Prosimian Species Represented at The Duke Lemur Center,
        Durham, NC.. Duke Lemur Center. Checklist dataset https://doi.org/10.15468/3hrurp
        accessed via GBIF.org on 2025-06-10.","citationProvidedBySource":false},"contactsCitation":[{"key":6133281,"abbreviatedName":"Mazza
        A","firstName":"Amanda","lastName":"Mazza","roles":["METADATA_AUTHOR","ORIGINATOR"],"userId":[]}],"lockedForAutoUpdate":false,"createdBy":"0dea2b07-16e2-4604-9f50-36a4dd81d0e0","modifiedBy":"crawler.gbif.org","created":"2025-06-09T17:21:22.581+00:00","modified":"2025-06-09T21:27:35.291+00:00","contacts":[{"key":6133281,"type":"ORIGINATOR","primary":true,"userId":[],"firstName":"Amanda","lastName":"Mazza","position":[],"email":["amanda.mazza@duke.edu"],"phone":[],"homepage":[],"organization":"Duke
        Lemur Center","address":[],"city":"Durham","province":"NC","country":"US","postalCode":"27705","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2025-06-09T21:27:35.249+00:00","modified":"2025-06-09T21:27:35.249+00:00"},{"key":6133282,"type":"METADATA_AUTHOR","primary":true,"userId":[],"firstName":"Amanda","lastName":"Mazza","position":[],"email":["amanda.mazza@duke.edu"],"phone":[],"homepage":[],"organization":"Duke
        Lemur Center","address":[],"city":"Durham","province":"NC","country":"US","postalCode":"27705","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2025-06-09T21:27:35.251+00:00","modified":"2025-06-09T21:27:35.251+00:00"},{"key":6133283,"type":"PROGRAMMER","primary":false,"userId":[],"firstName":"David","lastName":"Bloom","position":[],"email":["dbloom@vertnet.org"],"phone":[],"homepage":[],"organization":"VertNet","address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2025-06-09T21:27:35.253+00:00","modified":"2025-06-09T21:27:35.253+00:00"},{"key":6133284,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Amanda","lastName":"Mazza","position":[],"email":["amanda.mazza@duke.edu"],"phone":[],"homepage":[],"organization":"Duke
        Lemur Center","address":[],"city":"Durham","province":"NC","country":"US","postalCode":"27705","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2025-06-09T21:27:35.257+00:00","modified":"2025-06-09T21:27:35.257+00:00"}],"endpoints":[{"key":1114739,"type":"DWC_ARCHIVE","url":"https://ipt.vertnet.org/archive.do?r=dlc_checklist","createdBy":"0dea2b07-16e2-4604-9f50-36a4dd81d0e0","modifiedBy":"0dea2b07-16e2-4604-9f50-36a4dd81d0e0","created":"2025-06-09T17:21:22.745+00:00","modified":"2025-06-09T17:21:22.745+00:00","machineTags":[]},{"key":1114738,"type":"EML","url":"https://ipt.vertnet.org/eml.do?r=dlc_checklist","createdBy":"0dea2b07-16e2-4604-9f50-36a4dd81d0e0","modifiedBy":"0dea2b07-16e2-4604-9f50-36a4dd81d0e0","created":"2025-06-09T17:21:22.708+00:00","modified":"2025-06-09T17:21:22.708+00:00","machineTags":[]}],"machineTags":[{"key":25634156,"namespace":"crawler.gbif.org","name":"crawl_attempt","value":"2","createdBy":"crawler.gbif.org","created":"2025-06-10T12:06:13.842+00:00"}],"tags":[],"identifiers":[{"key":442512,"type":"CLB_DATASET_KEY","identifier":"310352","createdBy":"clb-bot","created":"2025-06-09T21:30:51.349+00:00","primary":false},{"key":442509,"type":"URL","identifier":"https://ipt.vertnet.org/resource?r=dlc_checklist","createdBy":"crawler.gbif.org","created":"2025-06-09T21:27:35.259+00:00","primary":false}],"comments":[],"bibliographicCitations":[],"curatorialUnits":[],"taxonomicCoverages":[{"coverages":[{"scientificName":"Mammalia","commonName":"Mammals","rank":{"verbatim":"class","interpreted":"CLASS"}},{"scientificName":"Primates","commonName":"Primates","rank":{"verbatim":"order","interpreted":"ORDER"}},{"scientificName":"Strepsirrhini","commonName":"Strepsirrhines","rank":{"verbatim":"suborder","interpreted":"SUBORDER"}}]}],"geographicCoverages":[{"description":"The
        species listed have been historically cared for or are currently housed at
        the Duke Lemur Center.","boundingBox":{"minLatitude":35.991,"maxLatitude":35.998,"minLongitude":-78.962,"maxLongitude":-78.958,"globalCoverage":false}}],"temporalCoverages":[],"keywordCollections":[{"thesaurus":"GBIF
        Dataset Type Vocabulary: http://rs.gbif.org/vocabulary/gbif/dataset_type_2015-07-10.xml","keywords":["Checklist"]},{"thesaurus":"GBIF
        Dataset Subtype Vocabulary: http://rs.gbif.org/vocabulary/gbif/dataset_subtype.xml","keywords":["Inventorythematic"]}],"project":{"title":"DLC
        Checklist Metadata","contacts":[{"type":"PUBLISHER","primary":false,"userId":[],"firstName":"Amanda","lastName":"Mazza","position":[],"email":[],"phone":[],"homepage":[],"address":[]}],"awards":[],"relatedProjects":[]},"samplingDescription":{"methodSteps":[]},"countryCoverage":[],"collections":[],"dataDescriptions":[],"dataLanguage":"eng","additionalInfo":"Please
        adhere to the VertNet Norms when using these data - https://vertnet.org/resources/norms.html","pubDate":"2025-06-09T00:00:00.000+00:00","maintenanceUpdateFrequency":"AS_NEEDED","maintenanceDescription":"","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode"},{"key":"6789ac99-6532-4f2b-85bb-cb1e5add7a95","installationKey":"1de87984-ce7c-407c-988c-a28014ae53ad","publishingOrganizationKey":"e794e60e-e558-4549-99f8-cfb241cdce24","doi":"10.15468/wqp57u","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"NEON
        Biorepository Benthic Macroinvertebrate Collection (Fluid Preserved Oligochaetes)","description":"<p>Identified
        oligochaete contained within fluid-preserved [...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&type=CHECKLIST
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":59472,"results":[{"key":"76187bdd-48a[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&identifierType=URL
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":22924,"results":[{"key":"f4b2a37d-4a91-4c8f-bc49-5300cb7e724d","installationKey":"2a3f6a56-7591-4f05-8c4c-a1bb77aa4ea6","publishingOrganizationKey":"730cd32c-627f-44a8-9d93-fcfb23ade969","doi":"10.15470/eeyuuz","external":false,"numConstituents":0,"type":"OCCURRENCE","subtype":"SPECIMEN","shortName":"LEB-MUSCI","title":"Colección
        de briófitos del herbario LEB \"Jaime Andrés Rodríguez\" LEB-MUSCI","description":"<p>Colección
        de briófitos desarrollada mayoritariamente durante la década de los años 8
        y 900, con algunos ejemplares de finales de los años 70 y otros pocos de la
        década de los años 2000.</p><p>La colección está formada por ejemplares recolectados
        mayoritariamente por el profesor de educación secundaria D. Basilio Llamas
        Frade en la pr[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&identifier=168
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":true,"count":1,"results":[{"key":"8324c0dc-f762-11e[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagNamespace=metasync.gbif.org
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":10072,"results":[{"key":"94596968-b143-4622-9b66-01a733bccc33","installationKey":"60cbe0db-ba15-4a03-a0b9-0803d7a166ee","publishingOrganizationKey":"63ed155b-d511-4026-b474-8945d0a36b13","networkKeys":[],"doi":"10.15468/p5zhke","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"Found
        Animal Survey Germany, Tierfund-Kataster Deutschland (TFK-D)","description":"A
        documentation of all vertebrates found dead. Mainly animal vehicle collisions
        are reported. Animals are reportet by public especially by hunters and rangers
        via smartphone app or web-service. Species in Dataset are Cervidae, badger,
        foxes, racoon and racoon dog, squirrel, hedgehog [...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagName=datasetTitle
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":1250,"results":[{"key":"[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagValue=Borkhart
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":true,"count":1,"results":[{"key":"61447af[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&modified=2023-04-01
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":14,"results":[{"key":"dbd109ca-9353-4c15-982e-2ed05401f6e2","installationKey":"9a0789af-e49d-41c2-8f8a-ca77da95d820","publishingOrganizationKey":"bdee9e20-df5e-4ef8-a012-53d2e83010e4","doi":"10.15468/2dz5u4","version":"1.1","external":false,"numConstituents":0,"type":"CHECKLIST","title":"Checklist
        of flora and fauna of Bayelsa State, Nigeria","description":"This is a record
        of plants and animals found in Coastal Environments in Bayelsa state of Nigeria","language":"eng","citation":{"text":"Oyedeji
        A (2023): Checklist of flora and fauna of Bayelsa State, Nigeria. v1.1. University
        of Lagos. Dataset/Checklist. https://ipt-nigeria.gbif.fr/resource?r=checklistoffloraandfaunaofbayelsastatenigeria&v=1.1
        https://doi.org/10.15468/2dz5u4 accessed via GBIF.org on 2025-06-10.","citationProvidedBySource":true},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"bdee9e20-df5e-4ef8-a012-53d2e83010e4","modifiedBy":"crawler.gbif.org","created":"2023-04-01T18:45:42.782+00:00","modified":"2023-04-01T18:58:06.804+00:00","contacts":[{"key":4292681,"type":"ORIGINATOR","primary":true,"userId":["https://scholar.google.com/citations?user=xq3yAyAAAAAJ&hl=en&oi=ao"],"firstName":"Ayodele","lastName":"Oyedeji",[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?q=dog&limit=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":93,"results":[{"key":"27305adb-c2cc-4fef-9390-[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/deleted/?limit=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":12750,"results":[{"key":"709cd0dd-8f0e-4ac7-[...]
