http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":124549,"results":[{"key":"153fc655-2c32-4e8a-84c5-3f0c5d5c44ef","installationKey":"68845aab-a453-4816-b36d-a3ec8455deb0","publishingOrganizationKey":"2fff5d0c-6bbd-432d-8832-cc4e307a267f","doi":"10.15472/0imtmb","external":false,"numConstituents":0,"type":"OCCURRENCE","subtype":"SPECIMEN","title":"Comunidad
        íctica de la Reserva natural Aguas Calientes Paratebueno, Cundinamarca","description":"<p>El
        curso Profundización Ictiología del programa de Biología, Facultad de Ciencias
        Básicas e Ingeniería, tiene como objetivo profundizar en el estudio de las
        principales diferencias de grupos taxonómicos y los principales caracteres
        diagnósticos en peces de agua dulce y desarrollar en el estudiante la capacidad
        para afrontar estudios básicos de investigación en ictiología, aplicando metodologías
        relacionadas con hábitos alimenticios, reproducción, edad y crecimiento en
        peces. En la práctica, los estudiantes tuvieron la oportunidad de familiarizarse
        con las diferentes metodologías de captura (chinchorro, atarraya, nasas) y
        manejo, identificación y preparación de ejemplares. En la Reserva Natural
        Aguas Calientes; Se colectaron 225 ejemplares correspondientes a peces los
        cuales fueron procesados en campo para su posterior ingreso en la Colección
        Colección ictiológica del Museo de Historia Natural Unillanos (MHNU-I), Universidad
        de los Llanos, Villavicencio, Colombia</p>","language":"eng","logoUrl":"https://gitlab.com/sib-colombia/logos/-/raw/main/socio-SiB-unillanos.png","citation":{"text":"Mira
        López. T M, Quiñones Montiel J M (2026). Comunidad íctica de la Reserva natural
        Aguas Calientes Paratebueno, Cundinamarca. Universidad de los Llanos. Occurrence
        dataset https://doi.org/10.15472/0imtmb accessed via GBIF.org on 2026-10-01.","identifier":"https://doi.org/10.15472/0imtmb","citationProvidedBySource":false},"contactsCitation":[{"key":7630951,"abbreviatedName":"Mira
        López. T M","firstName":"Tatiana María","lastName":"Mira López.","roles":["METADATA_AUTHOR","ORIGINATOR"],"userId":["https://orcid.org/0000-0002-2278-7997"]},{"key":7630952,"abbreviatedName":"Quiñones
        Montiel J M","firstName":"Jhonatan Mauricio","lastName":"Quiñones Montiel","roles":["ORIGINATOR"],"userId":["https://orcid.org/0009-0009-1623-2336"]}],"lockedForAutoUpdate":false,"createdBy":"2fff5d0c-6bbd-432d-8832-cc4e307a267f","modifiedBy":"crawler.gbif.org","created":"2026-10-01T06:17:54.040+00:00","modified":"2026-10-01T06:18:55.173+00:00","contacts":[{"key":7630951,"type":"ORIGINATOR","primary":true,"userId":["https://orcid.org/0000-0002-2278-7997"],"firstName":"Tatiana
        María","lastName":"Mira López.","position":["Investigador"],"email":["tmira@unillanos.edu.co"],"phone":["6616800"],"homepage":[],"organization":"Universidad
        de los Llanos","address":[],"city":"Villavicencio","province":"Meta","country":"CO","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2026-10-01T06:18:55.147+00:00","modified":"2026-10-01T06:18:55.147+00:00"},{"key":7630952,"type":"ORIGINATOR","primary":false,"userId":["https://orcid.org/0009-0009-1623-2336"],"firstName":"Jhonatan
        Mauricio","lastName":"Quiñones Montiel","position":[],"email":["jmquinones@unillanos.edu.co"],"phone":["66168000"],"homepage":[],"organization":"Universidad
        de los Llanos","address":[],"city":"Villavicencio[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&country=US
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":3252,"results":[{"key":"10524092-539d-4ea4-8539-2e91ad8581a9","installationKey":"a9c3f3b6-1f98-49c3-ba50-7e6aa1c9de59","publishingOrganizationKey":"e59f6a41-3eac-46dc-a5e6-ed54c6aac35f","doi":"10.15468/n52j6r","external":false,"numConstituents":0,"type":"OCCURRENCE","subtype":"OBSERVATION","shortName":"CalCOFI-202210-verteDNA","title":"CalCOFI
        October 2022 Vertebrate eDNA","description":"Samples used for this project
        were collected during a California Cooperative Oceanic Fisheries Investigations
        (CalCOFI) survey in October 2022. Samples were collected at 16 different stations
        in the southern CCE across varying depths with three different protocols:
        the NOAA Rockfish Recruitment and Ecosystem Assessment Survey (RREAS), the
        Global eDNA Marine Coll[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&type=CHECKLIST
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":65035,"results":[{"key":"f820d33c-a35a-4731-a7cd-492eed34372f","installationKey":"7ce8aef1-9e92-11dc-8740-b8a03c50a999","publishingOrganizationKey":"bb922300-7ddb-11de-a300-90ac77aa923f","doi":"10.15468/gtdnwq","external":fa[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&identifierType=URL
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":27382,"results":[{"key":"153fc655-2c32-4e8a-84c5-3f0c5d5c44ef","installationKey":"68845aab-a453-4816-b36d-a3ec8455deb0","publishingOrganizationKey":"2fff5d0c-6bbd-432d-8832-cc4e307a267f","doi":"10.15472/0imtmb","external[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&identifier=168
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":true,"count":1,"results":[{"key":"8324c0dc-f762-11e1-a439-00145eb45e9a","installationKey":"5ffa2bf6-f762-11e1-a439-00145eb45e9a","publishingOrganizationKey":"29817330-5d61-11d8-b9b2-b8a03c50a862","doi":"10.15468/bdayzp","external":false,"[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagNamespace=metasync.gbif.org
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":10072,"results":[{"key":"99361859-fd7c-47ad-844d-62877cd1469e","installationKey":"f0e191c4-2ef2-4e3d-9768-34d58d14ba2d","publishingOrganizationKey":"58dc6a89-4393-4e2f-a8fd-afb0db1c77e7","doi":"10.1546[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagName=datasetTitle
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":1250,"results":[{"key":"06d3504c-a3bb-11e2-95b8-00145eb45e9a","installationKey":"0929b2e3-dba3-4a26-83ec-f4affebcb8fc","publishingOrganizationKey":"f9912a00-84a9-11d9-8952-b8a03c50a862","doi":"10.15468/ufz7ht","[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagValue=Borkhart
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":true,"count":1,"results":[{"key":"61447af2-f762-11e1-a439-00145eb45e9a","installationKey":"8569325a-0cf5-45cf-a1b3-8f2abef355dd","publishingOrganizationKey":"ef69a030-3940-11dd-b168-b8a03c50a862","doi":"10.15468/cqwqx0","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"Borkhart","description":"This
        dataset holds the observations recorded during the GEO Biodiversity Day &#34;Borkhart&#34;","language":"eng","citation":{"text":"GEO-Tag
        der Artenvielfalt. Borkhart. Occurrence dataset https://doi.org/10.15468/cqwqx0
        accessed via GBIF.org on 2026-10-01.","citationProvidedBySource":false},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"registry-migration.gbif.org","modifiedBy":"crawler.gbif.org","created":"2008-06-13T12:25:52.000+00:00","modified":"2018-03-09T12:22:10.931+00:00","contacts":[{"key":873361,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":true,"userId":[],"lastName":"Tom
        Müller","position":[],"email":["mueller.tom@geo.de"],"phone":[],"homepage":[],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2018-03-09T12:22:10.903+00:00","modified":"2018-03-09T12:22:10.903+00:00"}],"endpoints":[{"key":261594,"type":"DWC_ARCHIVE","url":"https://orphans.gbif.org/DE/61447af2-f762-11e1-a439-00145eb45e9a.zip","description":"Orphaned
        dataset awaiting adoption.","createdBy":"MattBlissett","modifiedBy":"MattBlissett","created":"2018-03-09T12:21:10.521+00:00","modified":"2018-03-09T12:21:10.521+00:00","machineTags":[]}],"machineTags":[{"key":32946502,"namespace":"crawler.gbif.org","name":"crawl_attempt","value":"362","createdBy":"crawler.gbif.org","created":"2026-09-29T09:01:07.580+00:00"},{"key":55,"namespace":"metasync.gbif.org","name":"datasetTitle","value":"Borkhart","createdBy":"metasync-migration","created":"2013-10-24T09:05:37.959+00:00"},{"key":1346983,"namespace":"orphans.gbif.org","name":"download","value":"0017922-180131172636756","createdBy":"MattBlissett","created":"2018-03-09T12:20:36.025+00:00"},{"key":1346984,"namespace":"orphans.gbif.org","name":"status","value":"RESCUED","createdBy":"MattBlissett","created":"2018-03-09T12:20:36.098+00:00"},{"key":1346985,"namespace":"orphans.gbif.org","name":"orphanEndpoint","value":"http://www.geo-artenvielfalt.de/biocase/pywrapper.cgi?dsa=geo-artenvielfalt","createdBy":"MattBlissett","created":"2018-03-09T12:20:36.177+00:00"}],"tags":[],"identifiers":[{"key":151,"type":"GBIF_PORTAL","identifier":"2933","createdBy":"registry-migration.gbif.org","created":"2012-09-05T14:02:50.000+00:00","primary":false}],"comments":[{"key":6570,"content":"Import
        script set license to CC_BY_4_0","createdBy":"License Import script","modifiedBy":"License
        Import script","created":"2016-08-18T12:36:25.225+00:00","modified":"2016-08-18T12:36:25.225+00:00"}],"bibliographicCitations":[],"curatorialUnits":[],"taxonomicCoverages":[],"geographicCoverages":[],"temporalCoverages":[],"keywordCollections":[],"countryCoverage":[],"collections":[],"dataDescriptions":[{"name":"GBIF
        Occurrence Download","charset":"UTF-8","url":"http://api.gbif.org/v1/occurrence/download/request/0017922-180131172636756.zip","format":"Darwin
        Core Archive"}],"dataLanguage":"eng","maintenanceUpdateFrequency":"UNKOWN","maintenanceDescription":"","license":"http://creativecommons.org/licenses/by/4.0/legalcode","dwca":{"coreType":"http://rs.tdwg.org/dwc/terms/Occurrence","extensions":[],"modified":"2026-09-29T09:01:07.969+00:00"}}]}'
  recorded_at: 2026-10-01 08:08:36
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&modified=2023-04-01
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":13,"results":[{"key":"dbd109ca-9353-4c15-982e-2ed05401f6e2","installationKey":"9a0789af-e49d-41c2-8f8a-ca77da95d820","publishingOrganizationKey":"bdee9e20-df5e-4ef8-a012-53d2e83010e4","doi":"10.15468/2dz5u4","version":"1.1","external":false,"numConstituents":0,"type":"CHECKLIST","title":"Checklist
        of flora and fauna of Bayelsa State, Nigeria","description":"This is a record
        of plants and animals found in Coastal Environments in Bayelsa state of Nigeria","language":"eng","citation":{"text":"Oyedeji
        A (2023): Checklist of flora and fauna of Bayelsa State, Nigeria. v1.1. University
        of Lagos. Dataset/Checklist. https://ipt-nigeria.gbif.fr/resource?r=checklistoffloraandfaunaofbayelsastatenigeria&v=1.1
        https://doi.org/10.15468/2dz5u4 accessed via GBIF.org on 2026-10-01.","citationProvidedBySource":true},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"bdee9e20-df5e-4ef8-a012-53d2e83010e4","modifiedBy":"crawler.gbif.org","created":"2023-04-01T18:45:42.782+00:00","modified":"2023-04-01T18:58:06.804+00:00","contacts":[{"key":4292681,"type":"ORIGINATOR","primary":true,"userId":["https://scholar.google.com/citations?user=xq3yAyAAAAAJ&hl=en&oi=ao"],"firstName":"Ayodele","lastName":"Oyedeji","position":["Senior
        Lecturer"],"email":["ayodele.oyedeji@ndu.edu.ng"],"phone":["+2348038085958"],"homepage":[],"organization":"Niger
        Delta University","address":["Institute of Biodiversity, Climate Change &
        Watersheds"],"city":"Wilberforce Island","province":"Bayelsa","country":"NG","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2023-04-01T18:58:06.774+00:00","modified":"2023-04-01T18:58:06.774+00:00"},{"key":4292682,"type":"METADATA_AUTHOR","primary":true,"userId":["https://scholar.google.com/citations?user=RXZrUZIAAAAJ&hl=en"],"firstName":"Temitope","lastName":"Onuminya","position":["Associate
        Professor"],"email":["tadeyemi@unilag.edu.ng"],"phone":["+2347030241452"],"homepage":[],"organization":"University
        of Lagos","address":["Department Of Botany"],"city":"Akoka","province":"Lagos","country":"NG","postalCode":"23401","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2023-04-01T18:58:06.781+00:00","modified":"2023-04-01T18:58:06.781+00:00"},{"key":4292683,"type":"POINT_OF_CONTACT","primary":false,"userId":["https://scholar.google.com/citations?user=xq3yAyAAAAAJ&hl=en&oi=ao"],"firstName":"Ayodele","lastName":"Oyedeji","position":["Senior
        Lecturer"],"email":["ayodele.oyedeji@ndu.edu.ng"],"phone":["+2348038085958"],"homepage":[],"organization":"Niger
        Delta Universi[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?q=dog&limit=3
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":162,"results":[{"key":"f56dfa57-62ef-4f43-bb9a-c5368df89fc1","installationKey":"7ce8aef1-9e92-11dc-8740-b8a03c50a999","publishingOrganizationKey":"7ce8aef0-9e92-11dc-8738-b8a03c50a862","doi":"10.5281/zenodo.190572","external":false,"[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/deleted/?limit=3
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":25205,"results":[{"key":"932ac748-281c-4267-b639-91716bdd6467","installationKey":"68845aab-a453-4816-b36d-a3ec8455deb0","publishingOrganizationKey":"67c63221-0c74-4c18-97f9-e2b2acb739ce","networkKeys":[],"doi":"10.15472/spq9b3","version":"1.3","external":false,"numConstituents":0,"type":"OCCURRENCE","subtype":"OBSERVATION","title":"Complemento
        al Estudio de Impacto Ambiental (EIA) para la modificación de la licencia
        ambiental del Proyecto Carbonífero CNR III Mina El Hatillo, ubicado entre
        los municipios de El Paso y Chiriguaná, Cesar (CNR) - 2022","description":"<p>Se
        presentan los resultados del muestreo forestal y de la flora vascular y no
        vascular en[...]
