http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":118773,"results":[{"key":"df4a42dc-36fb-48b0-9a41-ff689041ade5","installationKey":"d0e2b9a9-8496-4959-8cba-a7fea22537eb","publishingOrganizationKey":"adc3d841-aefb-4d7c-9ab1-2156d614b27b","doi":"10.15468/ajku9n","external":false,"numConstituents":0,"type":"SAMPLING_EVENT","title":"Occurrences
        of vascular plants during a study of the impact of the construction of fortifications
        by Russian occupiers in 2022 on oak forests in the vicinity of the village
        of Myrotske (Kyiv region, Ukraine)","description":"\n            In 2024–2025,
        a comprehensive study of vascular plant diversity was carried out in an oak
        forest near the village of Myrotske, Kyiv Region, belonging to the Klavdiivka
        Forestry of the State Enterprise “Klavdiivka Forest Research Station”. The
        oak stand (compartment 20, plot 9, area 14.6 ha) (Didukh, 2025). Forest ecosystems
        have partially experienced significant anthropogenic impact as a result of
        fortification construction by Russian troops in 2022, which caused damage
        to the soil and vegetation cover, changes in microclimatic conditions, and
        alterations in the ecosystem structure (Moysiyenko et al., 2025).\nThe aim
        of the study was to assess the state of vegetation and document changes in
        the structure and species composition of the oak forest affected by the construction
        of fortifications. This dataset contains occurrences of ___ vascular plants
        species  recorded in 30 relevés. The nomenclature of the dataset is as follows:
        “Ukrainian Plant Trait Database: UkrTrait v. 1.0” - (Vynokurov et al. 2024).\n        ","language":"eng","citation":{"text":"Moysiyenko
        I, Zavialova L, Kucher O, Shapoval V, Dyrenko N, Miskova O, Grad Y, Radzanivskyi
        O, Didukh Y (2025). Occurrences of vascular plants during a study of the impact
        of the construction of fortifications by Russian occupiers in 2022 on oak
        forests in the vicinity of the village of Myrotske (Kyiv region, Ukraine).
        Kherson State University. Sampling event dataset https://doi.org/10.15468/ajku9n
        accessed via GBIF.org on 2025-11-13.","citationProvidedBySource":false},"contactsCitation":[{"key":6324248,"abbreviatedName":"Moysiyenko
        I","firstName":"Ivan","lastName":"Moysiyenko","roles":["ORIGINATOR","METADATA_AUTHOR"],"userId":["https://orcid.org/0000-0002-0689-6392"]},{"key":6324249,"abbreviatedName":"Zavialova
        L","firstName":"Lyudmyla","lastName":"Zavialova","roles":["ORIGINATOR"],"userId":["https://orcid.org/0000-0003-4160-1083"]},{"key":6324250,"abbreviatedName":"Kucher
        O","firstName":"Oksana","lastName":"Kucher","roles":["ORIGINATOR"],"userId":["https://orcid.org/0000-0002-4197-0471"]},{"key":6324251,"abbreviatedName":"Shapoval
        V","firstName":"Viktor","lastName":"Shapoval","roles":["ORIGINATOR"],"userId":["https://orcid.org/0000-0003-0443-663X"]},{"key":6324252,"abbreviatedName":"Dyrenko
        N","firstName":"Nina","lastName":"Dyrenko","roles":["ORIGINATOR"],"userId":["https://orcid.org/0009-0008-5802-0174"]},{"key":6324253,"abbreviatedName":"Miskova
        O","firstName":"Olena","lastName":"Miskova","roles":["ORIGINATOR"],"userId":["https://orcid.org/0000-0003-3827-7307"]},{"key":6324254,"abbreviatedName":"Grad
        Y","firstName":"Yuliia","lastName":"Grad","roles":["ORIGINATOR","METADATA_AUTHOR"],"userId":["https://orcid.org/0009-0002-5899-6798"]},{"key":6324255,"abbreviatedName":"Radzanivskyi
        O","firstName":"Olexii","lastName":"Radzanivskyi","roles":["ORIGINATOR"],"userId":["https://orcid.org/0009-0005-0953-1718"]},{"key":6324256,"abbreviatedName":"Didukh
        Y","firstName":"Yakiv","lastName":"Didukh","roles":["ORIGINATOR"],"userId":["https://orcid.org/0000-0002-5661-3944"]}],"lockedForAutoUpdate":false,"createdBy":"adc3d841-aefb-4d7c-9ab1-2156d614b27b","modifiedBy":"crawler.gbif.org","created":"2025-11-13T07:48:19.937+00:00","modified":"2025-11-13T07:49:20.849+00:00","contacts":[{"key":6324248,"type":"ORIGINATOR","primary":true,"userId":["https://orcid.org/0000-0002-0689-6392"],"firstName":"Ivan","lastName":"Moysiyenko","position":[],"email":["ivan.moysiyenko@gmail.com"],"phone":[],"homepage":[],"organization":"1Kherson
        State University, 2M.G. Kholodny Institute of Botany, National Academy of
        Sciences of Ukraine, 3F.E. Falz-Fein Biosphere Reserve \"Askania Nova\", National
        Academy of Agrarian Sciences of Ukraine","address":[],"city":"1Kherson State
        University, 2M.G. Kholodny Institute of Botany, National Academy of Sciences
        of Ukraine, 3F.E. Falz-Fein Biosphere Reserve \"Askania Nova\", National Academy
        of Agrarian Sciences of Ukraine","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2025-11-13T07:49:20.804+00:00","modified":"2025-11-13T07:49:20.804+00:00"},{"key":6324249,"type":"ORIGINATOR","primary":false,"userId":["https://orcid.org/0000-0003-4160-1083"],"firstName":"Lyudm[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&country=US
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":3110,"results":[{"key":"afe49544-ced8-4a31-a3fa-bc972c790a05","installationKey":"6fdcfa44-e2fb-44e3-876d-7cf0e1f8bc9d","publishingOrganizationKey":"8544c1de-58fe-49bf-a684-00a1de67eff2","doi":"10.15468/ujkt7r","external":false,"[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&type=CHECKLIST
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":62000,"results":[{"key":"0a5abd06-f686-4d7f-aa60-f5a7022a9fd2","installationKey":"d5b61ace-f25c-43bd-9dd0-03486850f90b","publishingOrganizationKey":"750a8724-fa66-4c27-b645-bd58ac5ee010","doi":"10.3897/bdj.13.e169855","exter[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&identifierType=URL
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":24787,"results":[{"key":"df4a42dc-36fb-48b0-9a41-ff689041ade5","installationKey":"d0e2b9a9-8496-4959-8cba-a7fea22537eb","publishingOrganizationKey":"adc3d841-aefb-4d7c-9ab1-2156d614b27b","doi":"10.15468/ajku9n","external[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&identifier=168
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":true,"count":1,"results":[{"key":"8324c0dc-f762-11e1-a439-00145eb45e9a","installationKey":"5ffa2bf6-f762-11e1-a439-00145eb45e9a","publishingOrganizationKey":"29817330-5d61-11d8-b9b2-b8a03c50a862","doi":"10.15468/bdayzp","external":false,"[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagNamespace=metasync.gbif.org
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":10077,"results":[{"key":"f5c13912-4f12-4fd0-b1c2-0d74564a5374","installationKey":"6b76ead1-4558-40b5-870a-357d26b87e0e","publishingOrganizationKey":"6e1cad80-bdf5-11d8-84ea-b8a03c50a862","networkKeys":[],"doi":"10.15468/ffu3mr","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"GfI-Fischartenatlas","description":"The
        &#34;GfI-Fish Atlas,&#34; organised entirely on a voluntary basis, collates
        data on the distribution of marine and freshwater fish in Germany (including
        the Trilateral Wadden Sea Region of the Netherlands, Germany, and Denmark)
        as well as in Austria. All records are sourced from validated submissions
        contributed by registered users of the atlas platform.","language":"eng","homepage":"https://www.ichthyologie.de/fischfauna-online","logoUrl":"https://www.ichthyologie.de/wp-content/uploads/2019/02/gesellschaft-fuer-ichthyologie-logo.png","citation":{"text":"Brunken
        H. GfI-Fischartenatlas. Leibniz Institute for the Analysis of Biodiversity
        Change (LIB). Occurrence dataset https://doi.org/10.15468/ffu3mr accessed
        via GBIF.org on 2025-11-13.","citationProvidedBySource":false},"contactsCitation":[{"key":6269376,"abbreviatedName":"Brunken
        H","firstName":"Heiko","lastName":"Brunken","roles":["ORIGINATOR"],"u[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagName=datasetTitle
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":1250,"results":[{"key":"06d3504c-a3bb-11e2-95b8-00145eb45e9a","installationKey":"603473a6-f762-11e1-a439-00145eb45e9a","publishingOrganizationKey":"f9912a00-84a9-11d9-8952-b8a03c50a862","doi":"10.15468/ufz7ht","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"Landesmuseum
        Kärnten","language":"eng","homepage":"http://www.tlmf.at","citation":{"text":"Tiroler
        Landesmuseum Ferdinandeum. Landesmuseum Kärnten. Occurrence dataset https://doi.org/10.15468/ufz7ht
        accessed via GBIF.org on 2025-11-13.","citationProvidedBySource":false},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"registry-migration.gbif.org","modifiedBy":"crawler.gbif.org","created":"2013-04-12T21:50:44.000+00:00","modified":"2018-02-28T14:39:56.630+00:00","contacts":[{"key":861372,"type":"TECHNICAL_POINT_OF_CONTACT","primary":false,"userId":[],"lastName":"Gerhard
        Tarmann","position":[],"email":[],"phone":[],"homepage":[],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2018-02-28T14:39:56.596+00:00","modified":"2018-02-28T14:39:56.596+00:00"}],"endpoints":[{"key":1072605,"type":"DWC_ARCHIVE","url":"https://kuechenschelle.info/GBIF/LMK/DwCA.zip","createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2025-01-10T10:51:54.584+00:00","modified":"2025-01-10T10:51:54.584+00:00","machineTags":[]}],"machineTags":[{"key":27933290,"namespace":"crawler.gbif.org","name":"crawl_attempt","value":"347","createdBy":"crawler.gbif.org","created":"2025-11-11T10:45:40.015+00:00"},{"key":9940,"namespace":"metasync.gbif.org","name":"datasetTitle","value":"Landesmuseum
        Kärnten","createdBy":"metasync-migration","created":"2013-10-24T09:05:37.959+00:00"},{"key":1313091,"namespace":"orphans.gbif.org","name":"download","value":"0012087-180131172636756","createdBy":"MattBlissett","created":"2018-02-28T11:48:19.571+00:00"},{"key":1313092,"namespace":"orphans.gbif.org","name":"status","value":"RESCUED","createdBy":"MattBlissett","created":"2018-02-28T11:48:19.666+00:00"},{"key":1313093,"namespace":"orphans.gbif.org","name":"orphanEndpoint","value":"http://83.175.85.43:81/biocase/pywrapper.cgi?dsa=BioOffice20","createdBy":"MattBlissett","created":"2018-02-28T11:48:19.753+00:00"}],"tags":[],"identifiers":[{"key":13273,"type":"GBIF_PORTAL","identifier":"14839","createdBy":"registry-migration.gbif.org","created":"2013-04-22T12:24:27.000+00:00","primary":false}],"comments":[{"key":37531,"content":"Updated
        the endpoint at the request of the former node, the old endpoint is https://orphans.gbif.org/AT/06d3504c-a3bb-11e2-95b8-00145eb45e9a.zip","createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2025-01-10T10:52:18.448+00:00","modified":"2025-01-10T10:52:18.448+00:00"},{"key":4994,"content":"Import
        script set license to CC_BY_4_0","createdBy":"License Import script","modifiedBy":"License
        Import script","created":"2016-08-18T12:36:25.225+00:00","modified":"2016-08-18T12:36:25.225+00:00"}],"bibliographicCitations":[],"curatorialUnits":[],"taxonomicCoverages":[],"geographicCoverages":[],"temporalCoverages":[],"keywordCollections":[],"countryCoverage":[],"collections":[],"dataDescriptions":[{"name":"GBIF
        Occurrence Download","charset":"UTF-8","url":"http://api.gbif.org/v1/occurrence/download/request/0012087-180131172636756.zip","format":"Darwin
        Core Archive"},{"name":"GBIF Occurrence Download","charset":"UTF-8","url":"http://api.gbif.org/v1/occurrence/download/request/0012087-180131172636756.zip","format":"Darwin
        Core Archive"}],"dataLanguage":"eng","maintenanceUpdateFrequency":"UNKOWN","maintenanceDescription":"","license":"http://creativecommons.org/licenses/by/4.0/legalcode","dwca":{"coreType":"http://rs.tdwg.org/dwc/terms/Occurrence","extensions":[],"modified":"2025-11-11T10:45:43.773+00:00"}},{"key":"7ba8437e-f762-11e1-a439-00145eb45e9a","installationKey":"8569325a-0cf5-45cf-a1b3-8f2abef355dd","publishingOrganizationKey":"ef69a030-3940-11dd-b168-b8a03c50a862","doi":"10.15468/nz9a27","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"Landwehrbach","description":"This
        dataset holds the observations recorded during the GEO Biodiversity Day &#34;Landwehrbach&#34;
        in Castrop-Rauxel","language":"eng","citation":[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagValue=Borkhart
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":true,"count":1,"results":[{"key":"61447af2-f762-11e1-a439-00145eb45e9a","installationKey":"8569325a-0cf5-45cf-a1b3-8f2abef355dd","publishingOrganizationKey":"ef69a030-3940-11dd-b168-b8a03c50a862","doi":"10.15468/cqwqx0","externa[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&modified=2023-04-01
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":13,"results":[{"key":"dbd109ca-9353-4c15-982e-2ed05401f6e2","installationKey":"9a0789af-e49d-41c2-8f8a-ca77da95d820","publishingOrganizationKey":"bdee9e20-df5e-4ef8-a012-53d2e83010e4","doi":"10.15468/2dz5u4","version":"1.1","external":false,"numConstituents":0,"type":"CHECKLIST","title":"Checklist
        of flora and fauna of Bayelsa State, Nigeria","description":"This is a record
        of plants and animals found in Coastal Environments in Bayelsa state of Nigeria","language":"eng","citation":{"text":"Oyedeji
        A (2023): Checklist of flora and fauna of Bayelsa State, Nigeria. v1.1. University
        of Lagos. Dataset/Checklist. https://ipt-nigeria.gbif.fr/resource?r=checklistoffloraandfaunaofbayelsastatenigeria&v=1.1
        https://doi.org/10.15468/2dz5u4 accessed via GBIF.org on 2025-11-13.","citationProvidedBySource":true},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"bdee9e20-df5e-4ef8-a012-53d2e83010e4","modifiedBy":"crawler.gbif.org","created":"2023-04-01T18:45:42.782+00:00","modified":"2023-04-01T18:58:06.804+00:00","contacts":[{"key":4292681,"type":"ORIGINATOR","primary":true,"userId":["https://scholar.google.com/citations?user=xq3yAyAAAAAJ&hl=en&oi=ao"],"firstName":"Ayodele","lastName":"Oyedeji","position":["Senior
        Lecturer"],"email":["ayodele.oyedeji@ndu.edu.ng"],"phone":["+2348038085958"],"homepage":[],"organization":"Niger
        Delta University","address":["Institute of Biodiversity, Climate Change &
        Watersheds"],"city":"Wilberforce Island","province":"Bayelsa","country":"NG","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2023-04-01T18:58:06.774+00:00","modified":"2023-04-01T18:58:06.774+00:00"},{"key":4292682,"type":"METADATA_AUTHOR","primary":true,"userId":["https://scholar.google.com/citations?user=RXZrUZIAAAAJ&hl=en"],"firstName":"Temitope","lastName":"Onuminya","position":["Associate
        Professor"],"email":["tadeyemi@unilag.edu.ng"],"phone":["+2347030241452"],"homepage":[],"organization":"University
        of Lagos","address":["Department Of Botany"],"city":"Akoka","province":"Lagos","country":"NG","postalCode":"23401","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2023-04-01T18:58:06.781+00:00","modified":"2023-04-01T18:58:06.781+00:00"},{"key":4292683,"type":"POINT_OF_CONTACT","primary":false,"userId":["https://scholar.google.com/citations?user=xq3yAyAAAAAJ&hl=en&oi=ao"],"firstName":"Ayodele","lastName":"Oyedeji","position":["Senior
        Lecturer"],"email":["ayodele.oyedeji@ndu.edu.ng"],"phone":["+2348038085958"],"homepage":[],"organization":"Niger
        Delta Universi[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?q=dog&limit=3
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":97,"results":[{"key":"3d08838c-42f9-4a98-b0f2-cee3c775db34","installationKey":"f240b133-cb4f-43bb-a511-2c6435bb049f","publishingOrganizationKey":"6772852d-ca2e-496f-9bea-dcf86134cb19","doi":"10.14286/aigyir","external":false,"numCons[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/deleted/?limit=3
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":12882,"results":[{"key":"cecd9885-1711-410e-a5e9-aff75525a197","installationKey":"122fe53a-3ec2-45b8-8b27-0e76863039e0","publishingOrganizationKey":"23e067c0-a255-11da-beae-b8a03c50a862","networkKeys":[],"doi":"10.15468/d569yc","external":false,"numConstituents":0,"type":"METADATA","title":"NIBS2","description":"<p>Kantonales
        Inventar der schutzwürdigen Naturobjekte Basel-Stadt</p>","language":"deu","citation":{"text":"David
        J, Yvonne R, Matthias P, Regula W, werwer W (2025). NIBS2. GBIF Swiss Node.
        Metadata dataset https://doi.org/10.15468/d569yc accessed via GBIF.org on
        2025-10-30.","citationProvidedBySource":false},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"datasubmission","modifiedBy":"datasubmission","created":"2025-10-30T16:08:55.061+00:00","modified":"2025-10-30T16:20:06.407+00:00","deleted":"2025-10-30T16:20:06.407+00:00","contacts":[{"key":6309989,"type":"ORIGINATOR","primary":true,"userId":[],"firstName":"Juretzko","lastName":"David","position":[],"email":["david.juretzko@bs.ch"],"phone":[],"homepage":[],"organization":"Stadtgärtnerei
        Basel","address":["Dufourstrasse 40"],"city":"Basel","postalCode":"4052","createdBy":"datasubmission","modifiedBy":"datasubmission","created":"2025-10-30T16:09:00.250+00:00","modified":"2025-10-30T16:09:00.250+00:00"},{"key":6309990,"type":"[...]
