http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/withNoEndpoint/?limit=3
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":8,"results":[{"key":"e5310ef8-b5cf-44d2-bd04-163094c31369","installationKey":"122fe53a-3ec2-45b8-8b27-0e76863039e0","publishingOrganizationKey":"23e067c0-a255-11da-beae-b8a03c50a862","networkKeys":[],"doi":"10.15468/dfa6sj","external":false,"numConstituents":0,"type":"METADATA","title":"dxt-100","language":"abk","citation":{"text":"GBIF
        Swiss Node: dxt-100","citationProvidedBySource":false},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"datasubmission","modifiedBy":"datasubmission","created":"2025-09-03T14:44:05.366+00:00","modified":"2025-09-03T14:44:05.366+00:00","contacts":[],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[],"comments":[],"bibliographicCitations":[],"curatorialUnits":[],"taxonomicCoverages":[],"geographicCoverages":[],"temporalCoverages":[],"keywordCollections":[],"countryCoverage":[],"collections":[],"dataDescriptions":[],"license":"http://creativecommons.org/licenses/by/4.0/legalcode"},{"key":"27c33480-3aab-46c5-8aa3-684800a52326","installationKey":"99552c70-f762-11e1-a439-00145eb45e9a","publishingOrganizationKey":"ee45975b-3d89-42b5-ac7a-c03f47b6dcb4","networkKeys":[],"doi":"10.15468/54aydt","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"KiEco
        Marine Ecology: Marine Phytoplankton","description":"This data collates all
        the Phytoplankton samples collected within Wales from 2007 onwards by Natural
        Resources Wales and former Environment Agency Wales that are held within NRWs
        KiEco Database. This methodology is based on the principle that additional
        nutrients (especially nitrogen) can alter the amount of phytoplankton in transitional
        and coastal waters. Persistent and high counts of phytoplankton taxa are also
        seen as a measure of disturbance [...]
