http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/search?limit=100&keyword=france
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.5.2 rOpenSci(rgbif/0.9.9.9610)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/dataset/search?limit=100&keyword=france
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":7,"endOfRecords":true,"count":7,"results":[{"key":"baa86fb2-7346-4507-a34f-44e4c1bd0d57","title":"Carnet
        en Ligne","description":"Données issues du programme de sciences participatives
        Flora Data. Des botanistes novices comme experts alimentent ce jeu de données
        en publiant leurs observations à travers le réseau Tela Botanica, à l''aide
        de l''outil Carnet en Ligne. Participez ! http://www.tela-botanica.org/page:flora_data","type":"OCCURRENCE","hostingOrganizationKey":"b2dbd210-90c2-11df-86a3-b8a03c50a862","hostingOrganizationTitle":"Tela
        Botanica","countryCoverage":[],"publishingCountry":"FR","publishingOrganizationKey":"b2dbd210-90c2-11df-86a3-b8a03c50a862","publishingOrganizationTitle":"Tela
        Botanica","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","decades":[],"keywords":["commune","phanérogame","France"],"recordCount":306084},{"key":"2d680d46-d783-4ea7-94b1-2556cd653e36","title":"Phytochorologie
        des départements français","description":"Ce projet à pour but de réaliser
        les listes  de plantes présentes dans chaque département français.\n\nUn travail
        d''harmonisation est réalisé pour la nomenclature des taxons sur la base de
        l''index synonymique réalisé par Benoît BOCK dans le cadre du projet \"Index
        synonymique\" de Tela Botanica.\n\nLes listes réalisées seront disponibl[...]
