http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/search?limit=100&type=OCCURRENCE
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.91 rOpenSci(rgbif/2.3.2.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":100,"endOfRecords":false,"count":19584,"results":[{"key":"4fa7b334-ce0d-4e88-aaae-2e0c138d049e","title":"EOD
        - eBird Observation Dataset","description":"eBird is a collective enterprise
        that takes a novel approach to citizen science by developing cooperative partnerships
        among experts in a wide range of fields: population ecologists, conservation
        biologists, quantitative ecologists, statisticians, computer scientists, GIS
        and informatics specialists, application developers, and data administrators.
        Managed by the Cornell Lab of Ornithology eBird’s goal is to increase data
        quantity through participant recruitment and engagement globally, but also
        to quantify and control for data quality issues such as observer variability,
        imperfect detection of species, and both spatial and temporal bias in data
        collection. eBird data are openly available and used by a broad spectrum of
        students, teachers, scientists, NGOs, government agencies, land managers,
        and policy makers. The result is that eBird has become a major source of biodiversity
        data, increasing our knowledge of the dynamics of species distributions, and
        having a direct impact on the conservation of birds and their habitats.","type":"OCCURRENCE","hostingOrganizationKey":"e2e717bf-551a-4917-bdc9-4fa0f342c530","hostingOrganizationTitle":"Cornell
        Lab of Ornithology","publishingCountry":"US","publishingOrganizationKey":"e2e717bf-551a-4917-bdc9-4fa0f342c530","publishingOrganizationTitle":"Cornell
        Lab of Ornithology","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","decades":[1810,1820,1830,1840,1850,1860,1870,1880,1890,1900,1910,1920,1930,1940,1950,1960,1970,1980,1990,2000,2010],"keywords":["Occurrence","Observation"],"recordCount":561852542},{"key":"38b4c89f-584c-41bb-bd8f-cd1def33e92f","title":"Artportalen
        (Swedish Species Observation System)","description":"Artportalen (Swedish
        Species Observation System) – formerly recognized as Artdata - is a website
        for reporting and retrieving information on observations of Sweden’s plants,
        animals and fungi. Observations are entered individually or into several thousand
        subsets/projects (some of which are individually searchable) by individua[...]
