http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset//metrics
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '403'
      message: Forbidden
      explanation: Request forbidden -- authorization will not help
    headers:
      status: HTTP/1.1 403 Forbidden
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2022-04-08 13:32:40 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/3f8a1297-3259-4700-91fc-acc4170b27ce/metrics
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":1011937,"datasetKey":"3f8a1297-3259-4700-91fc-acc4170b27ce","usagesCount":32204,"synonymsCount":21629,"distinctNamesCount":32171,"nubMatchingCount":30776,"colMatchingCount":25024,"nubCoveragePct":95,"colCoveragePct":77,"countByConstituent":{},"countByKingdom":{"PLANTAE":9247},"countByRank":{"SPECIES":6219,"GENUS":1271,"VARIETY":919,"SUBSPECIES":716,"SECTION":406,"TRIBE":341,"FAMILY":176,"SUBFAMILY":159,"SUBGENUS":113,"SUBTRIBE":68,"SUBSECTION":63,"ORDER":55,"SERIES":50,"SUPERORDER":12,"SUBCLASS":6,"CLASS":1},"countNamesByLanguage":{"ENGLISH":20958,"FRENCH":11563},"countExtRecordsByExtension":{"VERNACULAR_NAME":32521,"DISTRIBUTION":29793,"DESCRIPTION":10574,"IDENTIFIER":0,"MULTIMEDIA":0,"REFERENCE":0,"SPECIES_PROFILE":0,"TYPES_AND_SPECIMEN":0},"countByOrigin":{"SOURCE":32193,"PROPARTE":11},"countByIssue":{"SCIENTIFIC_NAME_ASSEMBLED":1877,"BACKBONE_MATCH_NONE":1428,"PARTIALLY_PARSABLE":49,"UNPARSABLE":3},"otherCount":{},"downloaded":"2021-12-22T16:36:41.323+00:00"}'
  recorded_at: 2022-04-08 13:32:40 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
