http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/a6998220-7e3a-485d-9cd6-73076bd85657/contact?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.4.0.95)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"key":22898,"type":"ORIGINATOR","primary":true,"userId":[],"firstName":"Ian","lastName":"Fisher","position":[],"email":["ian.fisher@birdlife.org"],"phone":["00441223277200"],"homepage":[],"organization":"BirdLife
        International","address":["Wellbrook Court, Girton Road"],"city":"Cambridge","postalCode":"CB3
        0NA","createdBy":"eml-pusher.gbif.org","modifiedBy":"eml-pusher.gbif.org","created":"2013-10-24T11:23:15.249+0000","modified":"2013-10-24T11:23:15.249+0000"},{"key":22899,"type":"METADATA_AUTHOR","primary":true,"userId":[],"firstName":"Ian","lastName":"Fisher","position":[],"email":["ian.fisher@birdlife.org"],"phone":["00441223277200"],"homepage":[],"organization":"BirdLife
        International","address":["Wellbrook Court, Girton Road"],"city":"Cambridge","postalCode":"CB3
        0NA","createdBy":"eml-pusher.gbif.org","modifiedBy":"eml-pusher.gbif.org","created":"2013-10-24T11:23:15.252+0000","modified":"2013-10-24T11:23:15.252+0000"},{"key":22900,"type":"AUTHOR","primary":false,"userId":[],"firstName":"Graham","lastName":"Berry","position":[],"email":[],"phone":[],"homepage":[],"organization":"QPQ
        Software Limited","address":[],"city":"Abingdon","province":"Oxfordshire","country":"GB","postalCode":"OX14
        1JD","createdBy":"eml-pusher.gbif.org","modifiedBy":"eml-pusher.gbif.org","created":"2013-10-24T11:23:15.256+0000","modified":"2013-10-24T11:23:15.256+0000"},{"key":22901,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Ian","lastName":"Fisher","position":[],"email":["ian.fisher@birdlife.org"],"phone":["00441223277200"],"homepage":[],"organization":"BirdLife
        International","address":["Wellbrook Court, Girton Road"],"city":"Cambridge","province":"Cambridgeshire","postalCode":"CB3
        0NA","createdBy":"eml-pusher.gbif.org","modifiedBy":"eml-pusher.gbif.org","created":"2013-10-24T11:23:15.258+0000","modified":"2013-10-24T11:23:15.258+0000"}]'
  recorded_at: 2020-12-08 23:53:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
