http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/search?limit=2&type=OCCURRENCE
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":16624,"results":[{"key":"4fa7b334-ce0d-4e88-aaae-2e0c138d049e","title":"EOD
        - eBird Observation Dataset","description":"eBird is a collective enterprise
        that takes a novel approach to citizen science by developing cooperative partnerships
        among experts in a wide range of fields: population ecologists, conservation
        biologists, quantitative ecologists, statisticians, computer scientists, GIS
        and informatics specialists, application developers, and data administrators.
        Managed by the Cornell Lab of Ornithology eBird’s goal is to increase data
        quantity through participant recruitment and engagement globally, but also
        to quantify and control for data quality issues such as observer variability,
        imperfect detection of species, and both spatial and temporal bias in data
        collection. eBird data are openly available and used by a broad spectrum of
        students, teachers, scientists, NGOs, government agencies, land managers,
        and policy makers. The result is that eBird has become a major source of biodiversity
        data, increasing our knowledge of the dynamics of species distributions, and
        having a direct impact on the conservation of birds and their habitats.","type":"OCCURRENCE","hostingOrganizationKey":"e2e717bf-551a-4917-bdc9-4fa0f342c530","hostingOrganizationTitle":"Cornell
        Lab of Ornithology","countryCoverage":[],"publishingCountry":"US","publishingOrganizationKey":"e2e717bf-551a-4917-bdc9-4fa0f342c530","publishingOrganizationTitle":"Cornell
        Lab of Ornithology","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","decades":[1810,1820,1830,1840,1850,1860,1870,1880,1890,1900,1910,1920,1930,1940,1950,1960,1970,1980,1990,2000,2010],"keywords":["Observation","Occurrence"],"recordCount":361429888},{"key":"75956ee6-1a2b-4fa3-b3e8-ccda64ce6c2d","title":"INPN
        - Données flore des CBN agrégées par la FCBN","description":"Dès la création
        de leur Fédération (FCBN - www.fcbn.fr) en 1999, les onze Conservatoires botaniques
        nationaux (CBN) ont exprimé la volonté collective de constituer un système
        d’information national pour mettre en commun leurs données, et celles de leurs
        partenaires, sur la flore, la fonge et les végétations-habitats. C’est rée[...]
