http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/doi/10.15468/igasai?limit=20
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":20,"endOfRecords":true,"count":1,"results":[{"key":"8575f23e-f762-11e1-a439-00145eb45e9a","installationKey":"60454014-f762-11e1-a439-00145eb45e9a","publishingOrganizationKey":"57254bd0-8256-11d8-b7ed-b8a03c50a862","networkKeys":["17abcf75-2f1e-46dd-bf75-a5b21dd02655"],"doi":"10.15468/igasai","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"PonTaurus
        collection","description":"Plant specimens gathered in the Toroslar mountain
        range of southern Turkey and the Pontic mountain range in north eastern torkey
        in 1999. The collection mainly covers grass vegetation plots of the subalpine
        level. It was collected together with many more observation records for vegetational
        studies applying phytosociological analysis. The resulting thesis was released
        in the public domain and is available at <a href=\"http://www.archive.org/details/VegetationskundlicheUntersuchungenInDerHochgebirgsregionDerBolkar\">http://www.archive.org/details/VegetationskundlicheUntersuchungenInDerHochgebirgsregionDerBolkar</a>.  Specimens
        have been deposited at the Berlin Botanical Garden Herbarium (B) with duplicates
        send to the Istanbul herbarium and the private collection of Gerald Parolly
        who supervised this work.","language":"eng","citation":{"text":"Botanic Garden
        and Botanical Museum Berlin. PonTaurus collection. Occurrence dataset https://doi.org/10.15468/igasai
        accessed via GBIF.org on 2024-04-11.","citationProvidedBySource":false},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"registry-migration.gbif.org","modifiedBy":"nvolik","created":"2007-03-08T23:00:00.000+00:00","modified":"2024-04-11T11:40:27.379+00:00","contacts":[{"key":5559531,"type":"TECHNICAL_POINT_OF_CONTACT","primary":false,"userId":[],"firstName":"Markus
        Döring","position":[],"email":["mdoering@gbif.org"],"phone":[],"homepage":[],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2024-11-14T14:37:38.304+00:00","modified":"2024-11-14T14:37:38.304+00:00"},{"key":5559532,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":false,"userId":[],"firstName":"Markus
        Döring","position":[],"email":["mdoering@gbif.org"],"phone":[],"homepage":[],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2024-11-14T14:37:38.385+00:00","modified":"2024-11-14T14:37:38.385+00:00"},{"key":5559533,"type":"ORIGINATOR","primary":false,"userId":[],"firstName":"Markus
        Döring","position":[],"email":["mdoering@gbif.org"],"phone":[],"homepage":[],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2024-11-14T14:37:38.494+00:00","modified":"2024-11-14T14:37:38.494+00:00"}],"endpoints":[{"key":1057257,"type":"BIOCASE","url":"http://ww3.bgbm.org/biocase/pywrapper.cgi?dsa=pontaurus","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2024-11-14T14:37:38.962+00:00","modified":"2024-11-14T14:37:38.962+00:00","machineTags":[{"key":22600009,"namespace":"metasync.gbif.org","name":"conceptualSchema","value":"http://www.tdwg.org/schemas/abcd/2.06","createdBy":"crawler.gbif.org","created":"2024-11-14T14:37:38.962+00:00"}]},{"key":1057256,"type":"BIOCASE_XML_ARCHIVE","url":"https://ww3.bgbm.org/biocase/downloads/pontaurus/PonTaurus%20collection.ABCD_2.06.zip","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2024-11-14T14:37:38.832+00:00","modified":"2024-11-14T14:37:38.832+00:00","machineTags":[{"key":22600007,"namespace":"metasync.gbif.org","name":"archiveOrigin","value":"BIOCASE_INSTALLATION","createdBy":"crawler.gbif.org","created":"2024-11-14T14:37:38.832+00:00"},{"key":22600008,"namespace":"metasync.gbif.org","name":"conceptualSchema","value":"http://www.tdwg.org/schemas/abcd/2.06","createdBy":"crawler.gbif.org","created":"2024-11-14T14:37:38.832+00:00"}]}],"machineTags":[{"key":26733205,"namespace":"crawler.gbif.org","name":"crawl_attempt","value":"343","createdBy":"crawler.gbif.org","created":"2025-08-27T22:07:00.833+00:00"},{"key":26733204,"namespace":"metasync.gbif.org","name":"declaredCount","value":"1534","createdBy":"crawler.gbif.org","created":"2025-08-27T22:07:00.774+00:00"}],"tags":[],"identifiers":[{"key":7376,"type":"GBIF_PORTAL","identifier":"1099","createdBy":"registry-migration.gbif.org","created":"2012-09-05T14:03:51.000+00:00","primary":false}],"comments":[{"key":6542,"content":"Import
        script set license to CC_BY_4_0","createdBy":"License Import script","modifiedBy":"License
        Import script","created":"2016-08-18T12:36:25.225+00:00","modified":"2016-08-18T12:36:25.225+00:00"}],"bibliographicCitations":[],"curatorialUnits":[],"taxonomicCoverages":[],"geographicCoverages":[],"temporalCoverages":[],"keywordCollections":[],"countryCoverage":[],"collections":[],"dataDescriptions":[],"license":"http://creativecommons.org/licenses/by/4.0/legalcode"}]}'
  recorded_at: 2025-09-04 07:12:30
recorded_with: VCR-vcr/2.0.0
