http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":105129,"results":[{"key":"df3122dd-3fdc-4f16-8407-6765c2fbbda6","installationKey":"791e3715-7452-4dd0-a906-db21a3852427","publishingOrganizationKey":"76c3443b-bf10-4fb6-a6e7-aeaa65be383c","doi":"10.15468/664xxk","external":false,"numConstituents":0,"type":"OCCURRENCE","subtype":"OBSERVATION","title":"Avifauna
        Monitoring report in the ENGIE''s Elimi wind farm in Italy - 2023","description":"The
        data set in the excel tables are raw data retrieved from the avifauna impact
        study performed between January and December 2023 on the ELIMI wind farm project
        located in the province of Trapani in Sicilia, Italy. The report aimed to
        monitor and report on the abundance, dominance and scientific knowledge of
        the bird populations present in the area of the site. A study has been carried
        out both directly by data collected in the field, as stipulated in the national
        protocol, and indirectly by detailed and in-depth bibliographical research.
        Each row in the tables corresponds to a field observation of an single individual
        of the bird species observed.","language":"eng","citation":{"text":"Melon
        J (2024). Avifauna Monitoring report in the ENGIE''s Elimi wind farm in Italy
        - 2023. ENGIE. Occurrence dataset https://doi.org/10.15468/664xxk accessed
        via GBIF.org on 2024-05-22.","citationProvidedBySource":false},"contactsCitation":[{"key":5331041,"abbreviatedName":"Melon
        J","firstName":"Juana","lastName":"Melon","roles":["METADATA_AUTHOR","ORIGINATOR"],"userId":[]}],"lockedForAutoUpdate":false,"createdBy":"76c3443b-bf10-4fb6-a6e7-aeaa65be383c","modifiedBy":"crawler.gbif.org","created":"2024-05-22T08:44:31.191+00:00","modified":"2024-05-22T08:45:40.471+00:00","contacts":[{"key":5331041,"type":"ORIGINATOR","primary":true,"userId":[],"firstName":"Juana","lastName":"Melon","position":["Certificate
        Manager"],"email":["juana.melon@engie.com"],"phone":[],"homepage":[],"organization":"ENGIE
        ITALIA","address":["Via Giorgio Ribotta, 31"],"city":"Rome","province":"Rome","country":"IT","postalCode":"00144","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2024-05-22T08:45:40.446+00:00","modified":"2024-05-22T08:45:40.446+00:00"},{"key":5331042,"type":"METADATA_AUTHOR","primary":true,"userId":[],"firstName":"Juana","lastName":"Melon","position":["Certificate
        Manager"],"email":["juana.melon@engie.com"],"phone":[],"homepage":[],"organization":"ENGIE
        ITALIA","address":["Via Giorgio Ribotta, 31"],"city":"Rome","province":"Rome","country":"IT","postalCode"[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&country=US
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":2638,"results":[{"key":"0a785fa9-67e8-48ae-b3c5-570c1f66ecb6","installationKey":"beeeddea-c02a-43d5-aec7-b534daca34d6","publishingOrganizationKey":"67b2263f-6990-4d9d-b32b-20aa72ef4fbc","doi":"10.15468/p7hm7x","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"NOAA
        Ship Gordon Gunter Vessel Line-transect Survey 2023 (GU2301)","description":"Original
        provider:\nNOAA Southeast Fisheries Science Center (NEFSC)\n\nDataset credits:\nNOAA
        Southeast Fisheries Science Center (SEFSC)\n\nAbstract:\nAs part of the Atlantic
        Marine Assessment Program for Protected Species \n(AMAPPS), the Southeast
        Fisheries Science Center (SEFSC) conducted a \nshipboard survey of the U.S.
        waters of the Western North Atlantic (WNA) \nfrom approximately the 200m isobath
        out to the U.S. Exclusive Economic \nZone (EEZ). The survey was conducte[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&type=CHECKLIST
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":52368,"results":[{"key":"981e4b75-805[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&identifierType=URL
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":20744,"results":[{"key":"df3122dd[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&identifier=168
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":true,"count":1,"results":[{"key":"8324c0dc-f762-11e[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagNamespace=metasync.gbif.org
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":10061,"results":[{"key":"9df2ca9d-fd6a-4d10-b73b-67fe59a17528","installationKey":"603065ae-f762-11e1-a439-00145eb45e9a","publishingOrganizationKey":"6e1cad80-bdf5-11d8-84ea-b8a03c50a862","networkKeys":[],"doi":"10.15468/yj5c5j","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"Fauna
        in Phoenix palm trees – results from a full year monitoring in southern Spain","description":"This
        study aimed to monitor the invertebrate and vertebrate fauna occurring on
        and associated with ornamental palms of the genus Phoenix, over the course
        of one year. The term ‘ornamental palm’ in this context refers to the type
        of trees (i.e. non-native, planted pal[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagName=datasetTitle
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":1250,"results":[{"key":"[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagValue=Borkhart
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":true,"count":1,"results":[{"key":"61447af[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?limit=3&modified=2023-04-01
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":17,"results":[{"key":"dbd109ca-9353-4c15-982e-2ed05401f6e2","installationKey":"9a0789af-e49d-41c2-8f8a-ca77da95d820","publishingOrganizationKey":"bdee9e20-df5e-4ef8-a012-53d2e83010e4","doi":"10.15468/2dz5u4","version":"1.1","external":false,"numConstituents":0,"type":"CHECKLIST","title":"Checklist
        of flora and fauna of Bayelsa State, Nigeria","description":"This is a record
        of plants and animals found in Coastal Environments in Bayelsa state of Nigeria","language":"eng","citation":{"text":"Oyedeji
        A (2023): Checklist of flora and fauna of Bayelsa State, Nigeria. v1.1. University
        of Lagos. Dataset/Checklist. https://ipt-nigeria.gbif.fr/resource?r=checklistoffloraandfaunaofbayelsastatenigeria&v=1.1
        https://doi.org/10.15468/2dz5u4 accessed via GBIF.org on 2024-05-22.","citationProvidedBySource":true},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"bdee9e20-df5e-4ef8-a012-53d2e83010e4","modifiedBy":"crawler.gbif.org","created":"2023-04-01T18:45:42.782+00:00","modified":"2023-04-01T18:58:06.804+00:00","contacts":[{"key":4292681,"type":"ORIGINATOR","primary":true,"userId":["https://scholar.google.com/citations?user=xq3yAyAAAAAJ&hl=en&oi=ao"],"firstName":"Ayodele","lastName":"Oyedeji",[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/?q=dog&limit=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":82,"results":[{"key":"27305adb-c2cc-4fef-9390-[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/deleted/?limit=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":12396,"results":[{"key":"67ff0783-b942-41be-a582-6aaa00c02900","installationKey":"791e3715-7452-4dd0-a906-db21a3852427","publishingOrganizationKey":"76c3443b-bf10-4fb6-a6e7-aeaa65be383c","networkKeys":[],"doi":"10.15468/vzbcu9","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"TEST
        grune study csv","description":"test grune study csv","language":"eng","citation":{"text":"ENGIE.
        TEST grune study csv. Occurrence dataset https://doi.org/10.15468/vzbcu9 accessed
        via GBIF.org on 2024-05-14.","citationProvidedBySource":false},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"76c3443b-bf10-4fb6-a6e7-aeaa65be383c","modifiedBy":"76c3443b-bf10-4fb6-a6e7-aeaa65be383c","created":"2024-05-14T05:31:14.617+00:00","modified":"2024-05-14T05:31:27.253+00:00","deleted":"2024-05-14T05:31:27.253+00:00","contacts":[{"key":5323486,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Sonja
        Deprelle","position":[],"email":["renewableadministration@engie.com"],"phone":[],"homepage":[],"address":["BE"],"createdBy":"76c3443b-bf10-4fb6-a6e7-aeaa65be383c","modifiedBy":"76c3443b-bf10-4fb6-a6e7-aeaa65be383c","created":"2024-05-14T05:31:14.697+00:00","modified":"2024-05-14T05:31:14.697+00:00"}],"endpoints":[{"key":1013544,"type":"DWC_ARCHIVE","url":"https://ipt.gbif.fr/archive.do?r=grune_birds_2023","createdBy":"76c3443b-bf10-4fb6-a6e7-aeaa65be383c","modifiedBy":"76c3443b-bf10-4fb6-a6e7-aeaa65be383c","created":"2024-05-14T05:31:14.765+00:00","modified":"2024-05-14T05:31:14.765+00:00","machineTags":[]},{"key":1013543,"type":"EML","url":"https://ipt.gbif.fr/eml.do?r=grune_birds_2023","createdBy":"76c3443b-bf10-4fb6-a6e7-aeaa65be383c","modifiedBy":"76c3443b-bf10-4fb6-a6e7-aeaa65be383c","created":"2024-05-14T05:31:14.731+00:00","modified":"2024-05-14T05:31:14.731+00:00","machineTags":[]}],"machineTags":[],"tags":[],"identifiers":[],"comments":[],"bibliographicCitations":[],"curatorialUnits":[],"taxonomicCoverages":[],"geographicCoverages":[],"temporalCoverages":[],"keywordCollections":[],"countryCoverage":[],"collections":[],"dataDescriptions":[],"license":"unspecified"},{"key":"90f41d62-15d8-4999-864b-75393a363a85","installationKey":"791e3715-7452-4dd0-a906-db21a3852427","publishingOrganizationKey":"76c3443b-bf10-4fb6-a6e7-aeaa65be383c","networkKeys":[],"doi":"10.15468/5hnh88","external":false,"numConstituents":0,"type":"OCCURRENCE","subtype":"OBSERVATION","title":"Birds
        monitoring in Grune Belgium in 2022 - Part 3/3","description":"Several studies
        about Birds in order to propose a windfarm project in Grune (Wallonia, Belgium)
   [...]
