http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/withNoEndpoint/?limit=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":8,"results":[{"key":"642e32fa-9593-4710-b45f-bbd3ebfc5e12","installationKey":"dc9d8bd0-3c20-4fba-b7ff-26d654817ea7","publishingOrganizationKey":"23e067c0-a255-11da-beae-b8a03c50a862","networkKeys":[],"doi":"10.15468/u3n99t","external":false,"numConstituents":0,"type":"METADATA","title":"SCN-122:
        Rapid digitization of herbarium specimens by conveyor belt.","description":"Occurrences
        : https://www.gbif.org/occurrence/search?dataset_name=https://doi.org/10.15468/u3n99t","language":"eng","citation":{"text":"GBIF
        Swiss Node. SCN-122: Rapid digitization of herbarium specimens by conveyor
        belt.. Metadata dataset https://doi.org/10.15468/u3n99t accessed via GBIF.org
        on 2025-06-10.","citationProvidedBySource":false},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"sofiawyler","modifiedBy":"sofiawyler","created":"2025-06-10T10:08:29.321+00:00","modified":"2025-06-10T10:20:51.631+00:00","contacts":[{"key":6133437,"type":"AUTHOR","primary":false,"userId":[],"firstName":"Katja","lastName":"Rembold","position":["Curator"],"email":["katja.rembold@boga.unibe.ch"],"phone":["+41
        31 684 49 38+41 31 684 49 82"],"homepage":[],"organization":"Herbarium of
        the Botanical Garden of the University of Bern","address":[],"city":"Bern","province":"BE","country":"CH","postalCode":"3013","createdBy":"sofiawyler","modifiedBy":"sofiawyler","created":"2025-06-10T10:12:59.651+00:00","modified":"2025-06-10T10:12:59.651+00:00"}],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[],"comments":[],"bibliographicCitations":[],"curatorialUnits":[],"taxonomicCoverages":[],"geographicCoverages":[],"temporalCoverages":[],"keywordCollections":[],"countryCoverage":[],"collections":[],"dataDescriptions":[],"maintenanceUpdateFrequency":"AS_NEEDED","license":"http://creativecommons.org/licenses/by/4.0/legalcode"},{"key":"8e374f0d-90b1-4654-9123-07e160db1794","installationKey":"7ce8aef1-9e92-11dc-8740-b8a03c50a999","publishingOrganizationKey":"7ce8aef0-9e92-11dc-8738-b8a03c50a862","networkKeys":[],"doi":"10.15468/ufsuh7","external":false,"numConstituents":0,"type":"CHECKLIST","title":"Typification
        of the name Erodium soluntinum Tod. (Geraniaceae) and its taxonomic implications","language":"eng","citation":{"text":"Plazi.org
        taxonomic [...]
