http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset//metrics
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '403'
      message: Forbidden
      explanation: Request forbidden -- authorization will not help
    headers:
      status: HTTP/1.1 403 Forbidden
    body:
      encoding: ''
      file: no
      string: ''
  recorded_at: 2023-03-22 11:30:53 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/3f8a1297-3259-4700-91fc-acc4170b27ce/metrics
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"key":1807427,"datasetKey":"3f8a1297-3259-4700-91fc-acc4170b27ce","usagesCount":32563,"synonymsCount":21947,"distinctNamesCount":32529,"nubMatchingCount":31067,"colMatchingCount":25726,"nubCoveragePct":95,"colCoveragePct":79,"countByConstituent":{},"countByKingdom":{"PLANTAE":9281},"countByRank":{"SPECIES":6239,"GENUS":1275,"VARIETY":909,"SUBSPECIES":723,"SECTION":411,"TRIBE":341,"FAMILY":177,"SUBFAMILY":159,"SUBGENUS":115,"SUBSECTION":73,"SUBTRIBE":68,"ORDER":56,"SERIES":50,"SUPERORDER":13,"SUBCLASS":6,"CLASS":1},"countNamesByLanguage":{"ENGLISH":20983,"FRENCH":11566},"countExtRecordsByExtension":{"VERNACULAR_NAME":32549,"DISTRIBUTION":29861,"DESCRIPTION":10609,"IDENTIFIER":0,"MULTIMEDIA":0,"REFERENCE":0,"SPECIES_PROFILE":0,"TYPES_AND_SPECIMEN":0},"countByOrigin":{"SOURCE":32552,"PROPARTE":11},"countByIssue":{"SCIENTIFIC_NAME_ASSEMBLED":1919,"BACKBONE_MATCH_NONE":1496,"PARTIALLY_PARSABLE":51,"UNPARSABLE":3},"otherCount":{},"downloaded":"2022-12-20T14:07:48.320+00:00"}'
  recorded_at: 2023-03-22 11:30:53 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/82ceb6ba-f762-11e1-a439-00145eb45e9a/metrics
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"timestamp":"2023-03-22T11:30:53.595+00:00","status":404,"error":"","message":"Entity
        not found for uri: /dataset/82ceb6ba-f762-11e1-a439-00145eb45e9a/metrics"}'
  recorded_at: 2023-03-22 11:30:53 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
