http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/38b4c89f-584c-41bb-bd8f-cd1def33e92f
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"key":"38b4c89f-584c-41bb-bd8f-cd1def33e92f","installationKey":"4346b227-ca68-4d54-8a77-909148492e0b","publishingOrganizationKey":"b8323864-602a-4a7d-9127-bb903054e97d","doi":"10.15468/kllkyl","version":"92.421","external":false,"numConstituents":0,"type":"OCCURRENCE","subtype":"OBSERVATION","title":"Artportalen","description":"<p>Artportalen
        is a website for reporting and retrieving information on observations of Sweden’s
        plants, animals and fungi. Observations are entered individually or into several
        thousand subsets/projects (some of which are individually searchable) by individuals
        and NGOs (95% of data), by public authorities or agencies, and by corporate
        enterprises. An observation may include not only the species identity, reporter
        identity, location and date but [...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/38b4c89f-584c-41bb-bd8f-cd1def33e92f/process?limit=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":542,"results":[{"datasetKey":"38b4c89f-584c-41bb-bd8f-cd1def33e92f","crawlJob":{"datasetKey":"38b4c89f-584c-41bb-bd8f-cd1def33e92f","endpointType":"DWC_ARCHIVE","targetUrl":"https://www.gbif.se/ipt/archive.do?r=artdata","attempt":548,"properties":{}},"startedCrawling":"2025-06-10T12:10:29.954+00:00","finishedCrawling":"2025-06-10T12:15:48.537+00:00","finishReason":"NORMAL","processStateOccurrence":"FINISHED","processStateChecklist":"EMPTY","pagesCrawled":1,"pagesFragmentedSuccessful":0,"pagesFragmentedError":0,"fragmentsEmitted":0,"fragmentsReceived":0,"rawOccurrencesPersistedNew":0,"rawOccurrencesPersistedUpdated":0,"rawOccurrencesPersistedUnchanged":0,"rawOccurrencesPersistedError":0,"fragmentsProcessed":0,"verbatimOccurrencesPersistedSuccessful":0,"verbatimOccurrencesPersistedError":0,"interpretedOccurrencesPersistedSuccessful":0,"interpretedOccurrencesPersistedError":0},{"datasetKey":"38b4c89f-584c-41bb-bd8f-cd1def33e92f","crawlJob":{"datasetKey":"38b4c89f-584c-41bb-bd8f-cd1def33e92f","endpointType":"DWC_ARCHIVE","targetUrl":"https://www.gbif.se/ipt/archive.do?r=artdata","attempt":547,"properties":{}},"startedCrawling":"2025-05-31T06:33:13.203+00:00","finishedCrawling":"2025-05-31T06:37:52.006+00:00","finishReason":"NORMAL","processStateOccurrence":"FINISHED","processStateChecklist":"EMPTY","pagesCrawled":1,"pagesFragmentedSuccessful":0,"pagesFragmentedError[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/3dab037f-a520-4bc3-b888-508755c2eb52/networks
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"key":"2b7c7b4f-4d4f-40d3-94de-c28b6fa054a6","title":"Ocean Biodiversity
        Information System (OBIS)","description":"The Ocean Biodiversity Information
        System (OBIS) is a global open-access data and information clearing-house
        on marine biodiversity for science, conservation and sustainable development.","language":"eng","numConstituents":2882,"email":[],"phone":[],"homepage":["https://obis.org"],"logoUrl":"https://obis.org/images/logo.png","address":[],"createdBy":"ADMIN","modifiedBy":"MattBlissett","created":"2007-04-03T08:31:37.000+00:00","modified":"2020-06-17T11:34:47.474+00:00","contacts":[],"endpoints":[],"machineTags":[{"key":7598741,"namespace":"registry.gbif.org","name":"visibleOnDatasetPage","value":"true","createdBy":"MattBlissett","created":"2021-01-20T15:54:18.923+00:00"}],"tags":[],"identifiers":[],"comments":[]}]'
  recorded_at: 2025-06-10 14:16:22 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/2e4cc37b-302e-4f1b-bbbb-1f674ff90e14/comment
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"key":30380,"content":"Auto-deletion of stale records: 1 occurrence(s)
        flagged for deletion. 1205 was identified as the last normal crawl attempt.","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2019-12-21T23:48:12.027+00:00","modified":"2019-12-21T23:48:12.027+00:00"},{"key":30378,"content":"Auto-deletion
        of stale records: 2 occurrence(s) flagged for deletion. 1204 was identified
        as the last normal crawl attempt.","createdBy":"crawler.gbif.org","modifiedBy":"crawler[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/7ddf754f-d193-4cc9-b351-99906754a03b/contact
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"key":6113358,"type":"ORIGINATOR","primary":true,"userId":["http://orcid.org/0000-0001-6197-9951"],"firstName":"Olaf","lastName":"Bánki","position":[],"email":[],"phone":[],"homepage":[],"organization":"Catalogue
        of Life","address":[],"city":"Amsterdam","country":"NL","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2025-05-23T12:21:03.955+00:00","modified":"2025-05-23T12:21:03.955+00:00"},{"key":6113359,"type":"ORIGINATOR","primary":false,"userId":["http://orcid.org/0000-0003-2137-2690"],"firstName":"Yury","lastName":"Roskov","position":[],"email":[],"phone":[],"homepage":[],"organization":"Illinois
        Natural History Survey","address":[],"city":"Champaign","province":"IL","country":"US","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2025-05-23T12:21:03.957+00:00","modified":"2025-05-23T12:21:03.957+00:00"},{"key":6113360,"type":"ORIGINATOR","primary":false,"userId":["http://orcid.org/0000-0001-7757-1889"],"firstName":"Markus","lastName":"Döring","position":[],"email":[],"phone":[],"homepage":[],"organization":"GBIF","address":[],"city":"Berlin","country":"DE","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/7ddf754f-d193-4cc9-b351-99906754a03b/endpoint
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"key":574179,"type":"DWC_ARCHIVE","url":"https://download.catalogueoflife.org/col/latest_dwca.zip","createdBy":"markus","modifiedBy":"markus","created":"2021-03-19T19:45:44.204+00:00","modified":"2021-03-19T19:45:44.204+00:00","machineTags":[]}]'
  recorded_at: 2025-06-10 14:16:22 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/7ddf754f-d193-4cc9-b351-99906754a03b/identifier
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"key":441499,"type":"DOI","identifier":"10.48580/dgplc","createdBy":"crawler.gbif.org","created":"2025-05-23T12:21:04.627+00:00","primary":false},{"key":440112,"type":"CLB_DATASET_KEY","identifier":"3","createdBy":"clb-bot","created":"2025-04-28T10:03:00.767+00:00","primary":false},{"key":439876,"type":"CLB_DATASET_KEY","identifier":"3LR","createdBy":"thomasgbif","created":"2025-04-24T11:07:47.668+00:00","primary":false},{"key":439746,"type":"DOI","identifier":"10.48580/dgnz3","createdBy":"crawler.gbif.org","created":"2025-04-18T02:3[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/7ddf754f-d193-4cc9-b351-99906754a03b/machineTag
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"key":25584314,"namespace":"crawler.gbif.org","name":"crawl_attempt","value":"367","createdBy":"crawler.gbif.org","created":"2025-06-06T15:11:47.313+00:00"}]'
  recorded_at: 2025-06-10 14:16:22 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/c47f13c1-7427-45a0-9f12-237aad351040/tag
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"key":36550,"value":"living-norway-p-honsefuglportalen","createdBy":"siw.berge","created":"2021-10-27T09:05:27.271+00:00"}]'
  recorded_at: 2025-06-10 14:16:22 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/7ddf754f-d193-4cc9-b351-99906754a03b
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"key":"7ddf754f-d193-4cc9-b351-99906754a03b","installationKey":"3298f964-ee79-44d3-9ac3-4236aa62c5f9","publishingOrganizationKey":"f4ce3c03-7b38-445e-86e6-5f6b04b649d4","publishingOrganizationName":"Catalogue
        of Life","doi":"10.48580/dgqdn","external":false,"numConstituents":0,"type":"CHECKLIST","subtype":"TAXONOMIC_AUTHORITY","shortName":"COL25.5","title":"Catalogue
        of Life","description":"<p>The Catalogue of Life is an assembly of expert-based
        global species checklists with the aim to build a comprehensive catalogue
        of all known species of organisms on Earth. \nContinuous progress is made
        towards completion, but for now, it probably includes just over 80% of the
        world’s known species. \nThe Catalogue of Life estimates 2.3M extant species
        on the planet recognised by taxonomists at [...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/7ddf754f-d193-4cc9-b351-99906754a03b/metrics
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"key":5073112,"datasetKey":"7ddf754f-d193-4cc9-b351-99906754a03b","usagesCount":5320607,"synonymsCount":2655735,"distinctNamesCount":5303050,"nubMatchingCount":5009633,"colMatchingCount":5009633,"nubCoveragePct":94,"colCoveragePct":94,"countByConstituent":{},"countByKingdom":{"ANIMALIA":1791096,"PLANTAE":452874,"FUNGI":167691,"CHROMISTA":75142,"BACTERIA":20874,"VIRUSES":11129,"PROTOZOA":3937,"ARCHAEA":776,"INCERTAE_SEDIS":262},"countByRank":{"SPECIES":2224064,"GENUS":217756,"SUBSPECIES":148620,"VARIETY":26359,"FAMILY":14869,"SUBGENUS":13652,"SUBFAMILY":6912,"TRIBE":4964,"ORDER":1885,"SUPERFAMILY":1554,"SUBTRIBE":1390,"FORM":1189,"CLASS":462,"SUBORDER":428,"INFRAORDER":169,"PHYLUM":142,"SUBCLASS":105,"INFRATRIBE":56,"SUPERORDER":43,"PARVORDER":37,"UNRANKED":32,"SUBPHYLUM":29,"KINGDOM":23,"INFRACLASS":23,"SUPERTRIBE":23,"SUPERCLASS":9,"INFRAPHYLUM":5,"DOMAIN":3,"SUBKINGDOM":2,"OTHER":1},"countNamesByLanguage":{"ENGLISH":61611,"JAPANESE":11875,"SPANISH":10050,"FRENCH":8845,"GERMAN":8575,"PORTUGUESE":7601,"RUSSIAN":1976,"DUTCH":1901,"CHINESE":1877,"TURKISH":709,"SWEDISH":699,"GREEK":694,"ITALIAN":654,"ALBANIAN":553,"UKRAINIAN":536,"NORWEGIAN_BOKMAL":451,"NORWEGIAN_NYNORSK":449,"POLISH":409,"KOREAN":326,"CATALAN":317,"HEBREW":290,"WELSH":252,"LITHUANIAN":240,"NORWEGIAN":178,"SLOVENIAN":164,"BRETON":157,"FINNISH":153,"AFRIKAANS":118,"VIETNAMESE":96,"BULGARIAN":80,"ROMANIAN":80,"BASQUE":68,"THAI":67,"CROATIAN":66,"HUNGARIAN":62,"ICELANDIC":61,"GALLEGAN":60,"SINHALESE":48,"INDONESIAN":46,"TAMIL":27,"MALTESE":25,"IRISH":24,"SCOTTISH_GAELIC":20,"CZECH":16,"MALAY":16,"BURMESE":13,"CORSICAN":13,"GEORGIAN":12,"FAROESE":11,"MAORI":11,"SERBIAN":11,"TAGALOG":11,"ARABIC":10,"ESPERANTO":9,"BENGALI":7,"HINDI":7,"LAO":6,"SAMOAN":6,"GREENLANDIC":5,"MALAGASY":5,"NEPALI":5,"WOLOF":5,"MARATHI":4,"SOMALI":4,"ESTONIAN":2,"GUJARATI":2,"KHMER":2,"LATVIAN":2,"MARSHALLESE":2,"MONGOLIAN":2,"SLOVAK":2,"SWAHILI":2,"TAHITIAN":2,"TELUGU":2,"CHAMORRO":1,"FIJIAN":1,"FRISIAN":1,"MALAYALAM":1,"PERSIAN":1},"countExtRecordsByExtension":{"DISTRIBUTION":2739394,"SPECIES_PROFILE":1614520,"VERNACULAR_NAME":125891,"DESCRIPTION":0,"IDENTIFIER":0,"MULTIMEDIA":0,"REFERENCE":0,"TYPES_AND_SPECIMEN":0},"countByOrigin":{"SOURCE":5320607},"countByIssue":{"NOMENCLATURAL_STATUS_INVALID":1752959,"ORIGINAL_NAME_USAGE_ID_INVALID":1110488,"BACKBONE_MATCH_NONE":310974,"TAXONOMIC_STATUS_INVALID":86019,"CLASSIFICATION_NOT_APPLIED":18975,"SCIENTIFIC_NAME_ASSEMBLED":10521,"PARTIALLY_PARSABLE":8511,"RANK_INVALID":678,"VERNACULAR_NAME_INVALID":581,"DISTRIBUTION_INVALID":80,"UNPARSABLE":2},"otherCount":{},"downloaded":"2025-05-23T12:20:16.552+00:00"}'
  recorded_at: 2025-06-10 14:16:22 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
