http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.5.2 rOpenSci(rgbif/0.9.9.9610)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/dataset?limit=100
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":false,"count":39233,"results":[{"key":"dbca12a3-a1d0-42bf-8535-c30aa349faa7","installationKey":"b75cac4b-10fd-424f-a4f7-7bae2657bf64","publishingOrganizationKey":"74c672a2-cc69-4b8f-a86b-6bf18f05fa49","doi":"10.15468/oayffr","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"Population
        status, Distribution and Threats to the Nile lechwe (Kobus megaceros,  M.T.Von
        Heuglin,1853) in the Sudd Wetland, South Sudan (2012)","description":"The
        study was conducted between January and March 2010, within an area covering
        about 70,456 km2 of the Sudd Wetland in South Sudan, the distribution, population
        status and threats to the Nile lechwe were examined.  Using systematic flight
        and questionnaires, results showed that Nile lechwes were distributed at the
        periphery of the Sudd Wetland.57.6 % of the population occurred outside protected
        areas, while 42.4% were observed inside Zeraf Game R[...]
