http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/38b4c89f-584c-41bb-bd8f-cd1def33e92f
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"key":"38b4c89f-584c-41bb-bd8f-cd1def33e92f","installationKey":"4346b227-ca68-4d54-8a77-909148492e0b","publishingOrganizationKey":"b8323864-602a-4a7d-9127-bb903054e97d","doi":"10.15468/kllkyl","version":"92.347","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"Artportalen
        (Swedish Species Observation System)","description":"Artportalen (Swedish
        Species Observation System) – formerly recognized as Artdata - is a website
        for reporting and retrieving information on observations of Sweden’s plants,
        animals and fungi. Observations are entered individually or into several thousand
        subsets/projects (some of which are individually searchable) by individuals
        and NGOs (95% of data), by public authorities or agencies, and by corporate
        enterprises. An observation may include not[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/38b4c89f-584c-41bb-bd8f-cd1def33e92f/process?limit=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":413,"results":[{"datasetKey":"38b4c89f-584c-41bb-bd8f-cd1def33e92f","crawlJob":{"datasetKey":"38b4c89f-584c-41bb-bd8f-cd1def33e92f","endpointType":"DWC_ARCHIVE","targetUrl":"https://www.gbif.se/ipt/archive.do?r=artdata","attempt":419,"properties":{}},"startedCrawling":"2023-12-30T04:20:34.630+00:00","finishedCrawling":"2023-12-30T04:25:00.135+00:00","finishReason":"NORMAL","processStateOccurrence":"FINISHED","processStateChecklist":"EMPTY","pagesCrawled":1,"pagesFragmentedSuccessful":0,"pagesFragmentedError":0,"fragmentsEmitted":0,"fragmentsReceived":0,"rawOccurrencesPersistedNew":0,"rawOccurrencesPersistedUpdated":0,"rawOccurrencesPersistedUnchanged":0,"rawOccurrencesPersistedError":0,"fragmentsProcessed":0,"verbatimOccurrencesPersistedSuccessful":0,"verbatimOccurrencesPersistedError":0,"interpretedOccurrencesPersistedSuccessful":0,"interpretedOccurrencesPersistedError":0},{"datasetKey":"38b4c89f-584c-41bb-bd8f-cd1def33e92f","crawlJob":{"datasetKey":"38b4c89f-584c-41bb-bd8f-cd1def33e92f","endpointType":"DWC_ARCHIVE","targetUrl":"https://www.gbif.se/ipt/archive.do?r=artdata","attempt":418,"properties":{}},"startedCrawling":"2023-12-23T04:42:21.795+00:00","finishedCrawling":"2023-12-23T04:42:21.886+00:00","finishReason":"NOT_MODIFIED","processStateOccurrence":"FINISHED","processStateChecklist":"FINISHED","pagesCrawled":0,"pagesFragmentedSuccessful":0,"pagesFragme[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/3dab037f-a520-4bc3-b888-508755c2eb52/networks
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"key":"2b7c7b4f-4d4f-40d3-94de-c28b6fa054a6","title":"Ocean Biodiversity
        Information System (OBIS)","description":"The Ocean Biodiversity Information
        System (OBIS) is a global open-access data and information clearing-house
        on marine biodiversity for science, conservation and sustainable development.","language":"eng","numConstituents":2674,"email":[],"phone":[],"homepage":["https://obis.org"],"logoUrl":"https://obis.org/images/logo.png","address":[],"createdBy":"ADMIN","modifiedBy":"MattBlissett","created":"2007-04-03T08:31:37.000+00:00","modified":"2020-06-17T11:34:47.474+00:00","contacts":[],"endpoints":[],"machineTags":[{"key":7598741,"namespace":"registry.gbif.org","name":"visibleOnDatasetPage","value":"true","createdBy":"MattBlissett","created":"2021-01-20T15:54:18.923+00:00"}],"tags":[],"identifiers":[],"comments":[]}]'
  recorded_at: 2024-01-02 13:28:55 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/7ddf754f-d193-4cc9-b351-99906754a03b/constituents?limit=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":164,"results":[{"key":"03c7e444-8a78-4c43-a842-709576d67cfb","parentDatasetKey":"7ddf754f-d193-4cc9-b351-99906754a03b","installationKey":"3298f964-ee79-44d3-9ac3-4236aa62c5f9","publishingOrganizationKey":"f4ce3c03-7b38-445e-86e6-5f6b04b649d4","networkKeys":[],"doi":"10.48580/dfgnm-f2hq","external":false,"numConstituents":0,"type":"CHECKLIST","subtype":"TAXONOMIC_AUTHORITY","title":"The
        Paleobiology Database","description":"The Paleobiology Database (PaleoBioDB)
        is a non-governmental, non-profit public resource for paleontological data.
        It has been organized and operated by a multi-disciplinary, multi-institutional,
        international group of paleobiological researchers. Its purpose is to provide
        global, collection-based occurrence and taxonomic data for organisms of all
        geological ages, as well data services to allow easy access to data for independent
        development of analytical tools, visualization software, and applications
        of all types. The Database’s broader goal is to encourage and enable data-driven
        collaborative efforts that address large-scale paleobiological questions.","language":"eng","homepage":"https://paleobiodb.org","citation":{"text":"The
        Catalogue of Life Partnership: The Paleobiology Database","citationProvidedBySource":false},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2023-11-27T10:23:00.022+00:00","modified":"2023-11-27T10:23:00.354+00:00","contacts":[{"key":5052303,"type":"ORIGINATOR","primary":true,"userId":[],"position":[],"email":[],"phone":[],"homepage":[],"organization":"Paleobiology
        Database contributors","address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2023-11-27T10:23:00.335+00:00","modified":"2023-11-27T10:23:00.335+00:00"},{"key":5052304,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":false,"userId":[],"position":[],"email":[],"phone":[],"homepage":[],"organization":"The
        Paleobiology Database Executive Committee","address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2023-11-27T10:23:00.338+00:00","modified":"2023-11-27T10:23:00.338+00:00"},{"key":5052305,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":true,"userId":[],"position":[],"email":["sec@paleobiodb.org"],"phone":[],"homepage":[],"organization":"Matthew
        Clapham , Mark Uhen <muhen@gmu.edu>","address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2023-11-27T10:23:00.339+00:00","modified":"2023-11-27T10:23:00.339+00:00"}],"endpoints":[],"machineTags":[{"key":17535337,"namespace":"hit.gbif.org","name":"dataset_id","value":"268676","createdBy":"crawler.gbif.org","created":"2023-11-27T10:23:00.267+00:00"}],"tags":[],"identifiers":[{"key":358510,"type":"DOI","identifier":"10.15468/bmsbpj","createdBy":"crawler.gbif.org","created":"2023-11-27T10:23:00.347+00:00"}],"comments":[],"bibliographicCitations":[],"curatorialUnits":[],"taxonomicCoverages":[],"geographicCoverages":[],"temporalCoverages":[],"keywordCollections":[],"countryCoverage":[],"collections":[],"dataDescriptions":[],"license":"http://creativecommons.org/licenses/by/4.0/legalcode"},{"key":"9832c5e2-b4a7-4a87-b34d-056879ce2c8e","parentDatasetKey":"7ddf754f-d193-4cc9-b351-99906754a03b","installationKey":"3298f964-ee79-44d3-9ac3-4236aa62c5f9","publishingOrganizationKey":"f4ce3c03-7b38-445e-86e6-5f6b04b649d4","networkKeys":[],"doi":"10.48580/dfgnm-dwyf","external":false,"numConstituents":0,"type":"CHECKLIST","subtype":"TAXONOMIC_AUTHORITY","title":"A
        Revised World Catalogue of Ghost Moths (Lepidoptera: Hepialidae)[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/2e4cc37b-302e-4f1b-bbbb-1f674ff90e14/comment
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"key":30380,"content":"Auto-deletion of stale records: 1 occurrence(s)
        flagged for deletion. 1205 was identified as the last normal crawl attempt.","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2019-12-21T23:48:12.027+00:00","modified":"2019-12-21T23:48:12.027+00:00"},{"key":30378,"content":"Auto-deletion
        of stale records: 2 occurrence(s) flagged for deletion. 1204 was identified
        as the last normal crawl attempt.","createdBy":"crawler.gbif.org","modifiedBy":"crawler[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/7ddf754f-d193-4cc9-b351-99906754a03b/contact
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"key":5051086,"type":"ORIGINATOR","primary":true,"userId":["http://orcid.org/0000-0001-6197-9951"],"firstName":"Olaf","lastName":"Bánki","position":[],"email":[],"phone":[],"homepage":[],"organization":"Naturalis
        Biodiversity Center","address":[],"city":"Leiden","country":"NL","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2023-11-27T10:22:03.076+00:00","modified":"2023-11-27T10:22:03.076+00:00"},{"key":5051087,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":false,"userId":["http://orcid.org/0000-0003-2137-2690"],"firstName":"Yury","lastName":"Roskov","position":[],"email":[],"phone":[],"homepage":[],"organization":"Illinois
        Natural History Survey","address":[],"city":"Champaign","province":"IL","country":"US","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2023-11-27T10:22:03.084+00:00","modified":"2023-11-27T10:22:03.084+00:00"},{"key":5051088,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":false,"userId":["http://orcid.org/0000-0001-7757-1889"],"firstName":"Markus","lastName":"Döring","position":[],"email":[],"phone":[],"homepage":[],"organization":"GBIF","address":[],"city":"Berlin","country":"DE","createdBy":"crawler.gbif.org","modifiedBy":"crawler[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/7ddf754f-d193-4cc9-b351-99906754a03b/endpoint
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"key":574179,"type":"DWC_ARCHIVE","url":"https://download.catalogueoflife.org/col/latest_dwca.zip","createdBy":"markus","modifiedBy":"markus","created":"2021-03-19T19:45:44.204+00:00","modified":"2021-03-19T19:45:44.204+00:00","machineTags":[]}]'
  recorded_at: 2024-01-02 13:28:55 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/7ddf754f-d193-4cc9-b351-99906754a03b/identifier
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"key":358452,"type":"DOI","identifier":"10.48580/df7lv","createdBy":"crawler.gbif.org","created":"2023-11-27T10:22:04.008+00:00"},{"key":357480,"type":"DOI","identifier":"10.48580/ddz4x","createdBy":"crawler.gbif.org","created":"2023-10-26T10:06:05.779+00:00"},{"key":355838,"type":"DOI","identifier":"10.48580/dft7","createdBy":"crawler.gbif.org","created":"2023-09-21T04:58:52.666+00:00"},{"key":355094,"type":"DOI","identifier":"10.48580/dfsy","createdBy":"crawler.gbif.org","created":"2023-08-30T10:15:58.995+00:00"},{"key":345381,"type":"DOI","identifier":"10.48580/dfsr","createdBy":"crawler.gbif.org","created":"2023-07-28T00:41:04.880+00:00"},{"key":343782,"type":"DOI","identifier":"10.48580/dfs6","createdBy":"crawler.gbif.org","created":"2023-06-29T06:49:52.712+00:00"},{"key":340888,"type":"DOI","identifier":"10.15468/rffz4x","createdBy":"crawler.gbif.org","created":"2023-06-21T13:40:11.769+00:00"}]'
  recorded_at: 2024-01-02 13:28:55 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/7ddf754f-d193-4cc9-b351-99906754a03b/machineTag
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"key":18001851,"namespace":"crawler.gbif.org","name":"crawl_attempt","value":"297","createdBy":"crawler.gbif.org","created":"2024-01-01T16:56:09.909+00:00"}]'
  recorded_at: 2024-01-02 13:28:55 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/c47f13c1-7427-45a0-9f12-237aad351040/tag
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"key":36550,"value":"living-norway-p-honsefuglportalen","createdBy":"siw.berge","created":"2021-10-27T09:05:27.271+00:00"}]'
  recorded_at: 2024-01-02 13:28:55 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/7ddf754f-d193-4cc9-b351-99906754a03b/metrics
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"key":1967582,"datasetKey":"7ddf754f-d193-4cc9-b351-99906754a03b","usagesCount":5048402,"synonymsCount":2501099,"distinctNamesCount":5002498,"nubMatchingCount":4943945,"colMatchingCount":4943945,"nubCoveragePct":97,"colCoveragePct":97,"countByConstituent":{"be1f0e7a-0ee0-45a8-847c-9d12e3997425":750931,"5e8ba9ca-1cac-4ddb-88c8-c14c098ad104":440693,"88f99ef1-8e37-4c98-9024-4571d7475ae0":366611,"09ae0135-3572-4662-9917-49d5f73daf6a":329554,"c2508dd9-c6dc-4312-879b-2b80d23dc6c1":315603,"ecc17157-ae33-498b-9ca0-6317cdbb411a":312866,"7389fe13-3ebb-493d-b40a-01509cf1942a":263719,"c46b1c06-96c4-4184-8de2-74dca7aa8fe5":137103,"968018ff-cb9f-4ea3-9e86-14702d690b10":109778,"062f361a-aafd-43fc-a9cc-7563f6c1f01f":108486,"feeffabf-7440-4bc9-9093-4c6481a858c6":102515,"92e460f8-4b1b-4081-9fef-55c3fdb59304":101358,"d20b2c8d-4acc-4fe4-b1ad-2a3bf00339bb":88363,"c71af5d9-5649-452c-a2d3-baa3e963365f":86108,"02a8ebe6-2745-48e9-ba95-edb4843c8f4b":83856,"2f8fe452-17f1-4a8e-a992-db593563fe93":79296,"1e208e1b-677e-48d0-b915-8336d1fcacaa":72415,"8e600a7a-1f9d-4fbd-a5d3-65acc1e42b9a":69187,"5283bf32-9fa5-4ed7-ab09-2e713888de6b":67917,"74c15f8d-3d46-4ba7-837f-b966cae4ae99":64627,"90cf4d2d-8893-45be-a5be-c6ced89e0efe":60360,"a69e4cf4-4526-42d3-bf70-9865176fa6f7":41042,"fecfbbbe-7a11-4b88-aaea-934323b275c1":32491,"59891639-337e-4ec5-9b14-461bef510ab6":31535,"49fe7cd6-c81e-4396-ba37-62017c201c7a":30814,"d31071e2-3a89-43a5-b540-042c9aa992c7":29566,"386e0505-c7ab-421a-8cd2-039fe608cc4a":29018,"45f0ca95-cd33-4d72-9e1e-d757ef735158":27972,"495857f3-948b-432f-9f16-3a07b1474c5c":27153,"220e1cff-1ab0-452a-89b2-5dd8edeba787":25492,"0c53c864-70e3-483c-8891-092cfd65e355":25425,"2311709d-d994-4540-91c5-ace42406549f":25189,"03c7e444-8a78-4c43-a842-709576d67cfb":24620,"7e347571-edab-4403-a2d0-97c4f0444cc1":24350,"a8e8a284-0801-43ce-b44d-49f11e892bea":23449,"1d34a500-95ed-45a5-ac14-557fdc0f5307":22833,"5c3dc687-cd62-4d3f-8812-16b804d8d282":22281,"6eb78aed-701b-40fb-8d94-b385fd19b560":22184,"49e336d5-5043-4df7-8162-7cdb1e76ad8c":21386,"76b496e7-2b58-4682-a2bc-32fe6701df8f":21356,"88244460-2ad2-440e-8307-53df7a2183eb":20739,"aa2aa80b-5e51-434c-a0ee-e6d9b184b7ff":20275,"84c7e42c-81dc-4e61-8ff6-80b110f47970":20036,"9c5d84ce-5445-40bd-b26e-a71111fe0acf":19479,"0cc16b16-6594-4f9b-95d5-c4d49584d97c":19072,"6af7c70f-306b-44ea-a02c-d33c8a226237":18066,"a6876fdc-8911-4d56-866c-dcdedf358dc9":16318,"3d09c8d4-3f3b-426b-85ca-c14a7f265158":13709,"0c919a4d-3261-4486-9867-8595df666426":13637,"da935f03-204e-42fa-972a-23f60ca1b331":13633,"b6349cdd-9d7e-4b23-8c05-a231f0ffa1a0":12454,"3cb6cb8b-5e9f-4bb1-ada9-9b10d4156446":12155,"463495e0-cca5-4b37-8b27-24ffc66b71f7":12121,"745c2168-a9b8-42e7-8d3e-eed5e7c5f09b":11868,"2b5ee34d-7f78-4d56-a576-7129c709cfba":11650,"1873a64d-e5fe-498b-8881-1cab2c39e6f6":11575,"f666b7b9-18dd-4600-b051-3ee1e44b0254":11564,"e43cb1b4-9739-4641-bdac-a56ab77db400":10368,"658aef04-7ce5-4328-a7ba-a3452c73aed8":9979,"6a065176-41c5-4741-a536-bd8dd45a15be":9680,"5d049fe7-dac0-4710-9cae-e57b96661dcc":9213,"f6451127-e2c6-4aed-9582-cb824fa1f76d":8939,"629ebe92-01a2-4ab5-b43f-aa7e816e0098":8601,"582c3e07-6764-4b10-8e71-0ab8adb75de5":8467,"284ff872-65ec-4c1b-8bed-26163af04e54":7758,"5380fa01-2981-4e1c-8c4b-ee957601919f":7624,"2324c786-a621-465b-997b-deba44a8c56a":7431,"ff9157c8-04ad-4a3f-8a2c-e1fade0d7291":6439,"412cb20c-961a-46dc-84de-ebfb42949097":6246,"689b0110-1cd4-40dd-a24e-dbbbfc2c1594":6172,"5e3e5dba-107f-4a4d-958b-43098cdab0b8":6138,"28ac8b8e-5e86-4ab7-a967-de459bea8f50":5662,"c582fd01-b1fa-4852-aadc-35411dcfc5c9":5564,"a8c84fba-f774-4fc8-92f9-18c38d5f6e97":5432,"bb205fa6-306d-4f85-aa43-b83b65c96942":5297,"1dbf6a10-13b8-491e-b74d-4d90b7f52154":5229,"b9fa5011-3565-4ea2-8ce7-f69fc54386fe":4883,"3b50a289-1791-453e-80e9-550ac6efa410":4549,"d1b77461-03e3-4e9c-b43f-8dc6cb392c29":4479,"153c2909-ab0b-4e85-b43e-8f6a2a484216":4387,"d80143de-729b-40a3-b7ad-2b1ae6416c62":4283,"95861d40-fb06-480e-a09a-ef3970b04ca9":4278,"044f1d76-38ba-492c-a56f-d225be1b1c3e":4262,"a9b2f4c4-be21-4dcc-aa0a-daf71dd79be0":3946,"bd483931-2813-4468-97c2-f85452544a5e":3944,"a557402f-1bf8-4987-95a2-3859cfebb100":3909,"712fea8a-5a84-42e0-bb49-ca8f0c88a206":3832,"aaaa22c5-12df-41f9-b74d-34a113f618e0":3817,"9d602860-c4a9-482c-98dc-21ff9af38d1b":3711,"a0f99af5-a78f-4951-9b88-3e99059c7493":3656,"76f3adcc-700a-4bee-854f-257e379cfd14":3231,"1e8440dd-20aa-4bee-aa6b-047a64629c12":3189,"e76f95c7-b9ce-4efe-89f2-612b7f2325e4":3123,"d558baa1-8021-4205-bf7e-bc2ea1b59570":3085,"1d10d1a2-5e20-4393-ac0e-034ab3bd2f8f":2969,"86a59059-e55f-4d9b-ae25-e2ee2a93877a":2747,"98fb9418-8215-4575-abfb-07a30b81acfc":2613,"3f372daa-6f01-4743-a79e-65807d8ad882":2514,"0f77dfff-5dcd-4081-a118-bf32ad935323":2486,"5c6129e7-d3f9-4839-9be7-121e97a80f39":2457,"3865f548-4c94-4dc0-aa00-466a7d2ef6bd":2416,"a6b05163-ba6d-40de-845f-55922360f58d":2314,"55ca8b62-59d3-4648-b08d-ac5113ceec47":2304,"75d46a12-f541-4df9-8c9d-048cea0e1187":2161,"c0fea314-c215-4cf4-b9f7-37392fb701d0":2109,"43f21316-d220-4713-a4d9-59559f626ece":2097,"1052b2e3-e54e-45bd-910f-aafabdfa51b7":1878,"a273b6e5-e3bc-4a86-b551-f814519f1ba5":1876,"9761414e-4636-4980-a6e9-7018d401a7e0":1875,"ce39af33-e7e2-44ad-bf20-beb58adf98e7":1838,"9832c5e2-b4a7-4a87-b34d-056879ce2c8e":1588,"f4fb27fb-e75c-41b7-9f84-3d0753747d0e":1574,"c773c97d-698a-491d-aaf7-3840c6f76ed9":1288,"2b1a2b6e-2f92-4b5d-a206-086195f23571":1062,"05da7ecc-cd7e-4fbf-b922-1f2b79713568":1028,"8d83b0c6-3133-46b2-921f-a5beeea093da":984,"9b16c2f1-3fb6-4fe8-8f1e-eb736c7ebd36":927,"273279f1-d5dc-4df8-8be2-c6fde20dc8e4":922,"0773b11b-07d3-4e0f-baca-4c045b208d9e":778,"69e3ed06-f187-4231-a8f7-18a7382733da":683,"71babb97-053d-4ce0-855c-7e342259894a":667,"3cdc35b3-2fbc-4db5-b96b-a96df7c9be6e":546,"4bc1b120-2a7d-4696-8192-c78478a676da":543,"60500160-f6f5-4057-b2a2-362ecd1f0d61":540,"12d48914-c64d-4c86-b72d-09158edf5b9e":506,"60b87dc0-26c3-4fe1-8c58-566b2ba1574e":480,"f5453531-9e6a-42c5-a772-e117b10c34f4":410,"1ba737ea-9d5e-470d-9810-3e25ad728412":379,"fd5b3b80-8220-461b-892c-ab581ce26788":357,"1271f5c5-659e-4729-bb86-ce82865dc9b9":345,"a7046ad0-4fae-41d9-9251-d57ee75eb072":341,"d585bf8c-32e1-41ae-a5a8-45fbf117d0c9":304,"5c75ef0a-3910-48af-b26e-a5e1bc87923c":271,"90040be6-3f7a-43d9-8cfb-d56805e063d6":264,"25559ff7-bf27-4a16-9919-ae1b35937cd7":198,"a95e2170-cc0d-4eaa-8d15-0bcf00e4d5f9":190,"8f28b783-16f8-4b20-8e59-60693f409fcd":180,"8006987c-85dc-41bc-a0b3-5d4aac11a847":173,"3517475f-522d-46c4-92e1-82ff4ddc1628":160,"e5fcfee5-6dc5-4abf-b756-c028a009a5c6":157,"9ae3548d-f706-44a5-aa3d-613f532472e0":155,"4624d977-2b36-4a58-a3e3-7da7cf9e1c6b":145,"edd94fed-cb37-48b0-b977-96428fd41db4":138,"218e4252-4d72-4cb8-8c95-1b4c6b1676dc":103,"f416cd07-9a67-4466-92d4-9b0ad28717b6":99,"aa25a26a-2160-42d8-b20f-8d5f8b078b4a":98,"c29300d0-7dcd-4be7-a377-7fd9128a772b":98,"b8590b36-42d7-484c-b158-e612ce1748e1":74,"65e6b029-626a-4d5c-b978-8e398633b717":74,"b1b12bfe-a700-4a81-b7df-8978d40beec6":67,"290573bf-2f6b-4784-b4ee-3e85e4219312":67,"bea4cf6f-75a5-4967-b1dd-1cdb4e44cdbc":65,"b128fccc-7e80-4484-9871-998138de4870":62,"5df07efe-7221-4f58-9f9f-3b85f44611cf":61,"6eafbb82-30cf-4f30-9b2e-95bf42a48697":58,"51fbd1c2-4934-4c8f-b989-1cf7fe2415b4":46,"aef26418-677b-44e9-a337-0ea4cd92e4a9":36,"485cc4e9-1ba7-4a76-9b70-8875688fd299":32,"bd5bd172-b5db-483d-aad6-2257b2345707":21,"b46e172e-1aaf-4269-9e7a-e683c8669b90":20,"780fd17e-1cb0-4c37-ade7-76c89255060b":20,"cb999d87-8f29-4300-a7bc-501c74de2be9":11,"44474bcd-f8a4-4787-a765-3ec4bd971eb4":11,"199bc6de-f7d3-4019-ad29-980bb49c8a27":10},"countByKingdom":{"ANIMALIA":1780740,"PLANTAE":453346,"FUNGI":168487,"CHROMISTA":77568,"BACTERIA":12843,"VIRUSES":11526,"PROTOZOA":3980,"ARCHAEA":544,"INCERTAE_SEDIS":133},"countByRank":{"SPECIES":2125506,"GENUS":207620,"SUBSPECIES":144137,"VARIETY":26215,"FAMILY":13658,"SUBGENUS":10780,"SUBFAMILY":5598,"INFRASPECIFIC_NAME":4065,"TRIBE":3461,"ORDER":1656,"SUPERFAMILY":1487,"FORM":820,"SUBTRIBE":787,"CLASS":416,"SUBORDER":411,"INFRAORDER":159,"PHYLUM":125,"SUBCLASS":105,"SUPERORDER":38,"SUBPHYLUM":32,"OTHER":32,"PARVORDER":29,"INFRATRIBE":29,"INFRACLASS":21,"SUPERTRIBE":20,"KINGDOM":17,"SUBVARIETY":16,"SUPERCLASS":4,"SUBKINGDOM":3,"NATIO":3,"INFRAPHYLUM":2,"UNRANKED":2},"countNamesByLanguage":{"ENGLISH":130451,"SPANISH":26967,"GERMAN":20600,"PORTUGUESE":17487,"FRENCH":17333,"JAPANESE":13032,"ESTONIAN":10429,"MALAY":9504,"ITALIAN":6030,"DANISH":5785,"FINNISH":5450,"CZECH":5327,"RUSSIAN":4243,"ARABIC":3948,"TAGALOG":3793,"TAMIL":3017,"MALAYALAM":2827,"DUTCH":2820,"GREEK":2663,"AFRIKAANS":2376,"SWEDISH":2092,"POLISH":1969,"CHINESE":1948,"KOREAN":1777,"TURKISH":1724,"VIETNAMESE":1568,"THAI":1432,"FIJIAN":1110,"MARATHI":1092,"SWAHILI":1019,"TELUGU":1015,"ALBANIAN":1001,"CROATIAN":960,"SAMOAN":923,"BENGALI":878,"MALTESE":860,"TAHITIAN":832,"WOLOF":764,"SERBIAN":752,"NORWEGIAN":721,"CATALAN":704,"KANNADA":694,"KHMER":642,"JAVANESE":587,"DIVEHI":578,"SINHALESE":563,"PERSIAN":539,"MARSHALLESE":497,"INUKTITUT":485,"NYANJA":417,"GUJARATI":416,"NEPALI":414,"SOMALI":399,"ICELANDIC":396,"BURMESE":355,"INDONESIAN":343,"FAROESE":330,"HUNGARIAN":320,"CORSICAN":314,"HINDI":308,"HEBREW":292,"MALAGASY":291,"EWE":288,"SLOVENIAN":255,"WELSH":250,"HAUSA":223,"MAORI":214,"TONGA":188,"ASSAMESE":152,"PANJABI":146,"NORWEGIAN_BOKMAL":139,"NORWEGIAN_NYNORSK":137,"ORIYA":133,"BULGARIAN":131,"SLOVAK":126,"GUARANI":114,"YORUBA":112,"LITHUANIAN":93,"UKRAINIAN":93,"CHAMORRO":85,"KANURI":81,"LATVIAN":80,"IRISH":73,"MANX":72,"KIRGHIZ":65,"IGBO":63,"SINDHI":50,"BISLAMA":44,"CREE":41,"URDU":35,"VENDA":31,"KASHMIRI":28,"AMHARIC":26,"GREENLANDIC":24,"MACEDONIAN":22,"SCOTTISH_GAELIC":15,"BAMBARA":14,"GALLEGAN":14,"GEORGIAN":13,"QUECHUA":11,"BASQUE":10,"RUNDI":10,"ESPERANTO":9,"AKAN":8,"OROMO":6,"LAO":5,"BRETON":4,"KIKUYU":4,"ROMANIAN":4,"SUNDANESE":4,"LINGALA":3,"TIGRINYA":3,"TWI":3,"DZONGKHA":2,"KAZAKH":2,"MONGOLIAN":2,"OCCITAN":2,"XHOSA":2,"ARMENIAN":1,"BOSNIAN":1,"GANDA":1,"HIRI_MOTU":1,"TURKMEN":1,"UZBEK":1,"ZULU":1},"countExtRecordsByExtension":{"DISTRIBUTION":2609671,"SPECIES_PROFILE":2017995,"VERNACULAR_NAME":452798,"DESCRIPTION":0,"IDENTIFIER":0,"MULTIMEDIA":0,"REFERENCE":0,"TYPES_AND_SPECIMEN":0},"countByOrigin":{"SOURCE":5048402},"countByIssue":{"NOMENCLATURAL_STATUS_INVALID":1478490,"ORIGINAL_NAME_USAGE_ID_INVALID":670489,"BACKBONE_MATCH_NONE":104457,"TAXONOMIC_STATUS_INVALID":82945,"VERNACULAR_NAME_INVALID":23065,"PARTIALLY_PARSABLE":13710,"SCIENTIFIC_NAME_ASSEMBLED":13004,"RANK_INVALID":394,"DISTRIBUTION_INVALID":54,"UNPARSABLE":5},"otherCount":{},"downloaded":"2023-12-25T15:56:00.840+00:00"}'
  recorded_at: 2024-01-02 13:28:55 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
