http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset//metrics
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '403'
      message: Forbidden
      explanation: Request forbidden -- authorization will not help
    headers:
      status: HTTP/1.1 403 Forbidden
    body:
      encoding: ''
      file: no
      string: ''
  recorded_at: 2023-08-29 13:18:52 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/3f8a1297-3259-4700-91fc-acc4170b27ce/metrics
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"key":1881940,"datasetKey":"3f8a1297-3259-4700-91fc-acc4170b27ce","usagesCount":32782,"synonymsCount":22103,"distinctNamesCount":32748,"nubMatchingCount":31327,"colMatchingCount":0,"nubCoveragePct":95,"colCoveragePct":0,"countByConstituent":{},"countByKingdom":{"PLANTAE":9361},"countByRank":{"SPECIES":6301,"GENUS":1278,"VARIETY":918,"SUBSPECIES":726,"SECTION":413,"TRIBE":341,"FAMILY":178,"SUBFAMILY":162,"SUBGENUS":118,"SUBTRIBE":68,"SUBSECTION":61,"ORDER":56,"SERIES":39,"SUPERORDER":13,"SUBCLASS":6,"CLASS":1},"countNamesByLanguage":{"ENGLISH":20982,"FRENCH":11593},"countExtRecordsByExtension":{"VERNACULAR_NAME":32575,"DISTRIBUTION":30091,"DESCRIPTION":10662,"IDENTIFIER":0,"MULTIMEDIA":0,"REFERENCE":0,"SPECIES_PROFILE":0,"TYPES_AND_SPECIMEN":0},"countByOrigin":{"SOURCE":32770,"PROPARTE":12},"countByIssue":{"SCIENTIFIC_NAME_ASSEMBLED":1927,"BACKBONE_MATCH_NONE":1455,"PARTIALLY_PARSABLE":48,"UNPARSABLE":3},"otherCount":{},"downloaded":"2023-08-24T14:05:55.941+00:00"}'
  recorded_at: 2023-08-29 13:18:52 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/82ceb6ba-f762-11e1-a439-00145eb45e9a/metrics
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"timestamp":"2023-08-29T13:18:52.394+00:00","status":404,"error":"","message":"Entity
        not found for uri: /dataset/82ceb6ba-f762-11e1-a439-00145eb45e9a/metrics"}'
  recorded_at: 2023-08-29 13:18:52 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
