http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset//metrics
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '403'
      message: Forbidden
      explanation: Request forbidden -- authorization will not help
    headers:
      status: HTTP/1.1 403 Forbidden
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2021-07-28 09:19:34 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/3f8a1297-3259-4700-91fc-acc4170b27ce/metrics
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":423840,"datasetKey":"3f8a1297-3259-4700-91fc-acc4170b27ce","usagesCount":31924,"synonymsCount":21425,"distinctNamesCount":31891,"nubMatchingCount":30591,"colMatchingCount":24565,"nubCoveragePct":95,"colCoveragePct":76,"countByConstituent":{},"countByKingdom":{"PLANTAE":9253},"countByRank":{"SPECIES":6200,"GENUS":1272,"VARIETY":906,"SUBSPECIES":724,"SECTION":377,"TRIBE":335,"FAMILY":176,"SUBFAMILY":157,"SUBGENUS":106,"SUBTRIBE":68,"SUBSECTION":60,"ORDER":55,"SERIES":44,"SUPERORDER":12,"SUBCLASS":6,"CLASS":1},"countNamesByLanguage":{"ENGLISH":20941,"FRENCH":11392},"countExtRecordsByExtension":{"VERNACULAR_NAME":32333,"DISTRIBUTION":29734,"DESCRIPTION":10465,"IDENTIFIER":0,"MULTIMEDIA":0,"REFERENCE":0,"SPECIES_PROFILE":0,"TYPES_AND_SPECIMEN":0},"countByOrigin":{"SOURCE":31913,"PROPARTE":11},"countByIssue":{"SCIENTIFIC_NAME_ASSEMBLED":1878,"BACKBONE_MATCH_NONE":1333,"PARTIALLY_PARSABLE":47},"otherCount":{},"created":"2021-03-04T04:57:51.497+0000","downloaded":"2021-03-03T20:14:33.029+0000"}'
  recorded_at: 2021-07-28 09:19:34 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
