http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":116672,"results":[{"key":"8985a0b3-f68a-4c47-9bc7-29bfa6e75076","installationKey":"c4e83f8a-f24c-4573-a197-f085ca242917","publishingOrganizationKey":"51818adb-2745-4201-9397-6d6dc433954f","doi":"10.15468/bm3jde","external":false,"numConstituents":0,"type":"OCCURRENCE","subtype":"OBSERVATION","title":"Equinor
        bird monitoring at Hywind Tampen","description":"<p>Three CCTV cameras are
        installed in the Hywind Tampen floating offshore wind farm in Norway for the
        purpose of health, safety and environmental (HSE) monitoring. However, the
        data collected by these cameras also offer the potential to document presence,
        abundance and behaviour of birds within the offshore wind farm. To investigate
        this, Equinor partnered with Spoor to rapidly scale this approach, and contribute
        to filling key gaps in our understanding of bird movements in and around offshore
        wind farms.  </p><p>The birds in the dataset were identified by applying Spoor''s
        AI bird-monitoring technology to Hywind Tampen video material provided by
        Equinor. For further details on the methodology and results, please see the
        associated report: https://cdn.equinor.com/files/h61q9gi9/global/c4a3e3487044b0280804db9fc9cb4e1d890f374f.pdf?spoor-review-ai-avian-monitoring-cctv-cameras-floating-wind-turbines-equinor.pdf</p>","language":"eng","citation":{"text":"Mogstad
        A A (2025). Equinor bird monitoring at Hywind Tampen. Equinor. Occurrence
        dataset https://doi.org/10.15468/bm3jde accessed via GBIF.org on 2025-09-04.","citationProvidedBySource":false},"contactsCitation":[{"key":6229370,"abbreviatedName":"Mogstad
        A A","firstName":"Aksel Alstad","lastName":"Mogstad","roles":["METADATA_AUTHOR","ORIGINATOR"],"userId":["https://orcid.org/0000-0003-2152-4746"]}],"lockedForAutoUpdate":false,"createdBy":"51818adb-2745-4201-9397-6d6dc433954f","modifiedBy":"crawler.gbif.org","created":"2025-09-04T06:11:46.112+00:00","modified":"2025-09-04T06:12:48.091+00:00","contacts":[{"key":6229370,"type":"ORIGINATOR","primary":true,"userId":["https://orcid.org/0000-0003-2152-4746"],"firstName":"Aksel
        Alstad","lastName":"Mogstad","position":["Sr Researcher"],"email":[],"phone":[],"homepage":[],"organization":"Equinor","address":[],"country":"NO","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2025-09-04T06:12:48.065+00:00","modified":"2025-09-04T06:12:48.065+00:00"},{"key":6229371,"type":"METADATA_AUTHOR","primary":true,"userId":["https://orcid.org/0000-0003-2152-4746"],"firstName":"Aksel
        Alstad","lastName":"Mogstad","position":["Sr Researcher"],"email":[],"phone":[],"homepage":[],"organization":"Equinor","address":[],"country":"NO","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","cr[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&country=US
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":2782,"results":[{"key":"f427964f-3b6f-43a3-8639-18005ae6e4bc","installationKey":"12fadca0-d638-416d-8cee-6f29ef37a249","publishingOrganizationKey":"8483a1f0-1032-11db-ae00-b8a03c50a862","doi":"10.15468/25avus","version":"1.2","external":false,"numConstituents":0,"type":"OCCURRENCE","subtype":"SPECIMEN","title":"University
        of Florida Lepidoptery","description":"<p>The McGuire Center for Lepidoptera
        and Biodiversity represents the largest collections-based research and education
        center in the world focused on butterflies and moths. The collections are
        taxonomically comprehensive and contain more than 10 million specimens, which
        are widely used by an ever-growing global comm[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&type=CHECKLIST
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":61156,"results":[{"key":"fb40509a-56a4-447f-bf7c-45ce41a2a262","installationKey":"7ce8aef1-9e92-11dc-8740-b8a03c50a999","publishingOrganizationKey":"7ce8aef0-9e92-11dc-8738-b8a03c50a862","doi":"10.15468/d3b9h3","external":fa[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&identifierType=URL
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":23518,"results":[{"key":"8985a0b3-f68a-4c47-9bc7-29bfa6e75076","installationKey":"c4e83f8a-f24c-4573-a197-f085ca242917","publishingOrganizationKey":"51818adb-2745-4201-9397-6d6dc433954f","doi":"10.15468/bm3jde","external[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&identifier=168
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":true,"count":1,"results":[{"key":"8324c0dc-f762-11e1-a439-00145eb45e9a","installationKey":"5ffa2bf6-f762-11e1-a439-00145eb45e9a","publishingOrganizationKey":"29817330-5d61-11d8-b9b2-b8a03c50a862","doi":"10.15468/bdayzp","external":false,"[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagNamespace=metasync.gbif.org
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":10075,"results":[{"key":"79fb1e59-15e7-440b-ae93-6644efb429ce","installationKey":"6038e54e-f762-11e1-a439-00145eb45e9a","publishingOrganizationKey":"0674aea0-a7e1-11d8-9534-b8a03c50a862","networkKeys":[],"doi":"10.15468/wq85f9","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"The
        Smut Fungi Collection at the Botanische Staatssammlung München","description":"https://www.botanischestaatssammlung.de/DatabaseClients/BSMsmutfungicoll/About.html","language":"eng","homepage":"https://www.botanischestaatssammlung.de/DatabaseClients/BSMsmutfungicoll/About.html","logoUrl":"http://pictures.snsb.info/Logos/BSM/bot-staatss-muc-wbm.png","citation":{"text":"Staatliche
        Naturwissenschaftliche Sammlungen Bayerns. The Smut Fungi Collection at the
        Botanische Staatssammlung München. Occurrence dataset https://doi.org/10.15468/wq85f9
        accessed via GBIF.org on 2025-09-04.","citationProvidedBySource":false},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2025-07-01T06:20:37.963+0[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagName=datasetTitle
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":1250,"results":[{"key":"06d3504c-a3bb-11e2-95b8-00145eb45e9a","installationKey":"603473a6-f762-11e1-a439-00145eb45e9a","publishingOrganizationKey":"f9912a00-84a9-11d9-8952-b8a03c50a862","doi":"10.15468/ufz7ht","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"Landesmuseum
        Kärnten","language":"eng","homepage":"http://www.tlmf.at","citation":{"text":"Tiroler
        Landesmuseum Ferdinandeum. Landesmuseum Kärnten. Occurrence dataset https://doi.org/10.15468/ufz7ht
        accessed via GBIF.org on 2025-09-04.","citationProvidedBySource":false},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"registry-migration.gbif.org","modifiedBy":"crawler.gbif.org","created":"2013-04-12T21:50:44.000+00:00","modified":"2018-02-28T14:39:56.630+00:00","contacts":[{"key":861372,"type":"TECHNICAL_POINT_OF_CONTACT","primary":false,"userId":[],"lastName":"Gerhard
        Tarmann","position":[],"email":[],"phone":[],"homepage":[],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2018-02-28T14:39:56.596+00:00","modified":"2018-02-28T14:39:56.596+00:00"}],"endpoints":[{"key":1072605,"type":"DWC_ARCHIVE","url":"https://kuechenschelle.info/GBIF/LMK/DwCA.zip","createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2025-01-10T10:51:54.584+00:00","modified":"2025-01-10T10:51:54.584+00:00","machineTags":[]}],"machineTags":[{"key":26722848,"namespace":"crawler.gbif.org","name":"crawl_attempt","value":"337","createdBy":"crawler.gbif.org","created":"2025-08-27T13:04:11.083+00:00"},{"key":9940,"namespace":"metasync.gbif.org","name":"datasetTitle","value":"Landesmuseum
        Kärnten","createdBy":"metasync-migration","created":"2013-10-24T09:05:37.959+00:00"},{"key":1313091,"namespace":"orphans.gbif.org","name":"download","value":"0012087-180131172636756","createdBy":"MattBlissett","created":"2018-02-28T11:48:19.571+00:00"},{"key":1313092,"namespace":"orphans.gbif.org","name":"status","value":"RESCUED","createdBy":"MattBlissett","created":"2018-02-28T11:48:19.666+00:00"},{"key":1313093,"namespace":"orphans.gbif.org","name":"orphanEndpoint","value":"http://83.175.85.43:81/biocase/pywrapper.cgi?dsa=BioOffice20","createdBy":"MattBlissett","created":"2018-02-28T11:48:19.753+00:00"}],"tags":[],"identifiers":[{"key":13273,"type":"GBIF_PORTAL","identifier":"14839","createdBy":"registry-migration.gbif.org","created":"2013-04-22T12:24:27.000+00:00","primary":false}],"comments":[{"key":37531,"content":"Updated
        the endpoint at the request of the former node, the old endpoint is https://orphans.gbif.org/AT/06d3504c-a3bb-11e2-95b8-00145eb45e9a.zip","createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2025-01-10T10:52:18.448+00:00","modified":"2025-01-10T10:52:18.448+00:00"},{"key":4994,"content":"Import
        script set license to CC_BY_4_0","createdBy":"License Import script","modifiedBy":"License
        Import script","created":"2016-08-18T12:36:25.225+00:00","modified":"2016-08-18T12:36:25.225+00:00"}],"bibliographicCitations":[],"curatorialUnits":[],"taxonomicCoverages":[],"geographicCoverages":[],"temporalCoverages":[],"keywordCollections":[],"countryCoverage":[],"collections":[],"dataDescriptions":[{"name":"GBIF
        Occurrence Download","charset":"UTF-8","url":"http://api.gbif.org/v1/occurrence/download/request/0012087-180131172636756.zip","format":"Darwin
        Core Archive"},{"name":"GBIF Occurrence Download","charset":"UTF-8","url":"http://api.gbif.org/v1/occurrence/download/request/0012087-180131172636756.zip","format":"Darwin
        Core Archive"}],"dataLanguage":"eng","maintenanceUpdateFrequency":"UNKOWN","maintenanceDescription":"","license":"http://creativecommons.org/licenses/by/4.0/legalcode","dwca":{"coreType":"http://rs.tdwg.org/dwc/terms/Occurrence","extensions":[],"modified":"2025-07-02T10:36:48.718+00:00"}},{"key":"7ba8437e-f762-11e1-a439-00145eb45e9a","installationKey":"8569325a-0cf5-45cf-a1b3-8f2abef355dd","publishingOrganizationKey":"ef69a030-3940-11dd-b168-b8a03c50a862","doi":"10.15468/nz9a27","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"Landwehrbach","description":"This
        dataset holds the observations recorded during the GEO Biodiversity Day &#34;Landwehrbach&#34;
        in Castrop-Rauxel","language":"eng","citation":[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagValue=Borkhart
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":true,"count":1,"results":[{"key":"61447af2-f762-11e1-a439-00145eb45e9a","installationKey":"8569325a-0cf5-45cf-a1b3-8f2abef355dd","publishingOrganizationKey":"ef69a030-3940-11dd-b168-b8a03c50a862","doi":"10.15468/cqwqx0","externa[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&modified=2023-04-01
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":13,"results":[{"key":"dbd109ca-9353-4c15-982e-2ed05401f6e2","installationKey":"9a0789af-e49d-41c2-8f8a-ca77da95d820","publishingOrganizationKey":"bdee9e20-df5e-4ef8-a012-53d2e83010e4","doi":"10.15468/2dz5u4","version":"1.1","external":false,"numConstituents":0,"type":"CHECKLIST","title":"Checklist
        of flora and fauna of Bayelsa State, Nigeria","description":"This is a record
        of plants and animals found in Coastal Environments in Bayelsa state of Nigeria","language":"eng","citation":{"text":"Oyedeji
        A (2023): Checklist of flora and fauna of Bayelsa State, Nigeria. v1.1. University
        of Lagos. Dataset/Checklist. https://ipt-nigeria.gbif.fr/resource?r=checklistoffloraandfaunaofbayelsastatenigeria&v=1.1
        https://doi.org/10.15468/2dz5u4 accessed via GBIF.org on 2025-09-04.","citationProvidedBySource":true},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"bdee9e20-df5e-4ef8-a012-53d2e83010e4","modifiedBy":"crawler.gbif.org","created":"2023-04-01T18:45:42.782+00:00","modified":"2023-04-01T18:58:06.804+00:00","contacts":[{"key":4292681,"type":"ORIGINATOR","primary":true,"userId":["https://scholar.google.com/citations?user=xq3yAyAAAAAJ&hl=en&oi=ao"],"firstName":"Ayodele","lastName":"Oyedeji","position":["Senior
        Lecturer"],"email":["ayodele.oyedeji@ndu.edu.ng"],"phone":["+2348038085958"],"homepage":[],"organization":"Niger
        Delta University","address":["Institute of Biodiversity, Climate Change &
        Watersheds"],"city":"Wilberforce Island","province":"Bayelsa","country":"NG","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2023-04-01T18:58:06.774+00:00","modified":"2023-04-01T18:58:06.774+00:00"},{"key":4292682,"type":"METADATA_AUTHOR","primary":true,"userId":["https://scholar.google.com/citations?user=RXZrUZIAAAAJ&hl=en"],"firstName":"Temitope","lastName":"Onuminya","position":["Associate
        Professor"],"email":["tadeyemi@unilag.edu.ng"],"phone":["+2347030241452"],"homepage":[],"organization":"University
        of Lagos","address":["Department Of Botany"],"city":"Akoka","province":"Lagos","country":"NG","postalCode":"23401","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2023-04-01T18:58:06.781+00:00","modified":"2023-04-01T18:58:06.781+00:00"},{"key":4292683,"type":"POINT_OF_CONTACT","primary":false,"userId":["https://scholar.google.com/citations?user=xq3yAyAAAAAJ&hl=en&oi=ao"],"firstName":"Ayodele","lastName":"Oyedeji","position":["Senior
        Lecturer"],"email":["ayodele.oyedeji@ndu.edu.ng"],"phone":["+2348038085958"],"homepage":[],"organization":"Niger
        Delta Universi[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?q=dog&limit=3
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":96,"results":[{"key":"3d08838c-42f9-4a98-b0f2-cee3c775db34","installationKey":"f240b133-cb4f-43bb-a511-2c6435bb049f","publishingOrganizationKey":"6772852d-ca2e-496f-9bea-dcf86134cb19","doi":"10.14286/aigyir","external":false,"numCons[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/deleted/?limit=3
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":12815,"results":[{"key":"c316edb1-49a6-488d-b4fd-dbe4de933215","installationKey":"d0709e6e-78bf-49e8-8814-384ac4fb139f","publishingOrganizationKey":"2290c88a-89a0-4c0b-85ac-1faf44e29c63","networkKeys":[],"doi":"10.15468/n8wt8u","ex[...]
