http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/withNoEndpoint/?limit=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":true,"count":3,"results":[{"key":"c94ada4c-39a6-4860-95ab-c283964dfe07","installationKey":"e44d0fd7-0edf-477f-aa82-50a81836ab46","publishingOrganizationKey":"1928bdf0-f5d2-11dc-8c12-b8a03c50a862","networkKeys":[],"doi":"10.15468/ybybmf","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"Dataset
        4ca0e3ae-5814-4cf4-8d6e-ae835f50ccac","description":"Dataset 4ca0e3ae-5814-4cf4-8d6e-ae835f50ccac","language":"eng","citation":{"text":"UMS
        PatriNat (OFB-CNRS-MNHN), Paris: Dataset 4ca0e3ae-5814-4cf4-8d6e-ae835f50ccac","citationProvidedBySource":false},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"connexion_gbif_france","modifiedBy":"connexion_gbif_france","created":"2023-04-20T12:55:37.108+00:00","modified":"2023-04-20T12:55:37.108+00:00","contacts":[],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[],"comments":[],"bibliographicCitations":[],"curatorialUnits":[],"taxonomicCoverages":[],"geographicCoverages":[],"temporalCoverages":[],"keywordCollections":[],"countryCoverage":[],"collections":[],"dataDescriptions":[],"license":"http://creativecommons.org/licenses/by/4.0/legalcode"},{"key":"2538a3c6-92e1-4e3b-ad7d-8606531dc508","installationKey":"e44d0fd7-0edf-477f-aa82-50a81836ab46","publishingOrganizationKey":"1928bdf0-f5d2-11dc-8c12-b8a03c50a862","networkKeys":[],"doi":"10.15468/2u9jks","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"Dataset
        894c75f6-efcb-4907-a309-960c74ce986a","description":"Dataset 894c75f6-efcb-4907-a309-960c74ce986a","language":"eng","citation":{"text":"UMS
        Pat[...]
