http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/suggest?q=amsterdam&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.5.2 rOpenSci(rgbif/0.9.9.9610)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/dataset/suggest?q=amsterdam&limit=100
    body:
      encoding: UTF-8
      string: '[{"key":"562cf940-6166-11de-84bf-b8a03c50a862","title":"Zoological
        Museum Amsterdam, University of Amsterdam (NL) - Lepidoptera_Nymphalidae_Palearctic","description":"The
        ZMAN holdings of Palaearctic Lepidoptera belong to the regalia of the collection.
        The size of the Lepidoptera collection, the quality of the material, and the
        fact that the greater majority of material has recently been expertly identified
        and arranged, provide this part of the collection with a high priority for
        digitization. Approximately 17% of this collection has now been digitised.","type":"OCCURRENCE"},{"key":"1ed365f0-6167-11de-84c0-b8a03c50a862","title":"Zoological
        Museum Amsterdam, University of Amsterdam (NL) - Diptera_Tipulidae_NL","description":"The
        ZMAN collection of Tipulidae (craneflies) from the Netherlands is one of the
        most important collections in its kind, containing types of many species and
        voucher specimens. Together with the Tipulidae collections in Bonn (Germany)
        and Kiev (Ukraine), the ZMAN collection is indispensible fo[...]
