http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":115912,"results":[{"key":"e52e3365-a8b7-4548-8dba-5b8f3996a76e","installationKey":"7ce8aef1-9e92-11dc-8740-b8a03c50a999","publishingOrganizationKey":"7ce8aef0-9e92-11dc-8738-b8a03c50a862","doi":"10.15468/zwc7um","external":false,"numConstituents":0,"type":"CHECKLIST","title":"Morphological
        and genetic evidence reveals a new subgenus of Tarucus Moore, [1881] (Lepidoptera:
        Lycaenidae)","description":"<p>This dataset contains the digitized treatments
        in Plazi based on the original journal article Li, Hua-Zhao, Liu, Zhe, Yin,
        Wen-Xi, Li, Jia-Ling (2025): Morphological and genetic evidence reveals a
        new subgenus of Tarucus Moore, [1881] (Lepidoptera: Lycaenidae). Zootaxa 5646
        (3): 400-408, DOI: 10.11646/zootaxa.5646.3.4, URL: https://doi.org/10.11646/zootaxa.5646.3.4</p>","language":"eng","homepage":"https://tb.plazi.org/GgServer/summary/FF80E652FFA6FFC7F321FFC50541FFD7","citation":{"text":"Li
        H, Liu Z, Yin W, Li J, plazi (2025). Morphological and genetic evidence reveals
        a new subgenus of Tarucus Moore, [1881] (Lepidoptera: Lycaenidae). Plazi.org
        taxonomic treatments database. Checklist dataset https://doi.org/10.15468/zwc7um
        accessed via GBIF.org on 2025-08-04.","citationProvidedBySource":false},"contactsCitation":[{"key":6197943,"abbreviatedName":"Li
        H","firstName":"Hua-Zhao","lastName":"Li","roles":["ORIGINATOR"],"userId":[]},{"key":6197944,"abbreviatedName":"Liu
        Z","firstName":"Zhe","lastName":"Liu","roles":["ORIGINATOR"],"userId":[]},{"key":6197945,"abbreviatedName":"Yin
        W","firstName":"Wen-Xi","lastName":"Yin","roles":["ORIGINATOR"],"userId":[]},{"key":6197946,"abbreviatedName":"Li
        J","firstName":"Jia-Ling","lastName":"Li","roles":["ORIGINATOR"],"userId":[]},{"key":6197950,"abbreviatedName":"plazi","lastName":"plazi","roles":["METADATA_AUTHOR"],"userId":[]}],"lockedForAutoUpdate":false,"createdBy":"plazi","modifiedBy":"crawler.gbif.org","created":"2025-08-04T13:20:14.905+00:00","modified":"2025-08-04T13:35:27.321+00:00","contacts":[{"key":6197943,"type":"ORIGINATOR","primary":true,"userId":[],"firstName":"Hua-Zhao","lastName":"Li","position":[],"email":[],"phone":[],"homepage":[],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2025-08-04T13:35:27.294+00:00","modified":"2025-08-04T13:35:27.294+00:00"},{"key":6197944,"type":"ORIGINATOR","primary":false,"userId":[],"firstName":"Zhe","lastName":"Liu","position":[],"email":[],"phone":[],"homepage":[],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2025-08-04T13:35:27.297+00:00","modified":"2025-08-04T13:35:27.297+00:00"},{"key":6197945,"type":"ORIGINATOR","pr[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&country=US
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":2777,"results":[{"key":"9ec7b624-8f5c-4898-a90d-194913d7e0ab","installationKey":"a957a663-2f17-415f-b1c8-5cf6398df8ed","publishingOrganizationKey":"cae7b6c7-669a-4261-9a34-6e8cdc16a125","doi":"10.15468/k4g2zn","version":"1.3","external":false,"numConstituents":0,"type":"OCCURRENCE","subtype":"OBSERVATION","title":"Marc
        Kummel Photography","description":"<p>\n        This dataset contains occurrence
        records and associated media of observations made by Mark Kummel between 2003
        - 2024. It includes photographic records of flora, fauna, and their interactions,
        captured at various locations in California and nearby regions. Data are licensed
        under Creative Commons Attribution 4.0 International License (CC BY 4.0).\n      </p>","language":"eng","homepage":"https://www.flickr.com/people/treebeard/","logoUrl":"https://ipt.vertnet.org/logo.do?r=kummel","citation":{"text":"Kummel
        M, Seltmann K (2025). Marc Kummel Photography. Version 1.3. Cheadle Center
        for Biodiversity and Ecological Restoration. Occurrence dataset https://doi.org/10.15468/k4g2zn
        accessed via GBIF.org on 2025-08-04.","citationProvidedBySource":false},"contactsCitation":[{"key":6186769,"abbreviatedName":"Kummel
        M","firstName":"Marc","lastName":"Kummel","roles":["ORIGINATOR"],"userId":[]},{"key":6186770,"abbreviatedName":"Seltmann
        K","firstName":"Katja","lastName":"Seltmann","roles":["METADATA_AUTHOR","ORIGINATOR"],"userId":[]}],"lockedForAutoUpdate":false,"createdBy":"cae7b6c7-669a-4261-9a34-6e8cdc16a125","modifiedBy":"crawler.gbif.org","created":"2025-07-22T20:40:41.765+00:00","modified":"2025-07-29T14:54:26.278+00:00","contacts":[{"key":6186769,"type":"ORIGINATOR","primary":true,"userId":[],"firstName":"Marc","lastName":"Kummel","position":[],"email":["mkummel@rain2.org"],"phone":[],"homepage":["https://www.flickr.com/people/treebeard/"],"organization":"Independent
        Researcher, Cheadle Center for Biodiversity and Ecological Restoration","address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2025-07-29T14:54:26.251+00:00","modified":"2025-07-29T14:54:26.251+00:00"},{"key":6186770,"type":"ORIGINATOR","primary":false,"userId":[],"firstName":"Katja","lastName":"Seltmann","position":[],"email":["seltmann@ucsb.edu"],"phone":[],"homepage":["https://ccber.ucsb.edu"],"organization":"Cheadle
        Center for Biod[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&type=CHECKLIST
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":60553,"results":[{"key":"e52e3365-a8b7-4548-8dba-5b8f3996a76e","installationKey":"7ce8aef1-9e92-11dc-8740-b8a03c50a999","publishingOrganizationKey":"7ce8aef0-9e92-11dc-8738-b8a03c50a862","doi":"10.15468/zwc7um","external":fa[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&identifierType=URL
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":23369,"results":[{"key":"2ac68635-dc9c-4bc9-a8b3-3dde46b54514","installationKey":"fb5e4c2a-579c-434b-a446-3a665dd732ad","publishingOrganizationKey":"ab733144-7043-4e88-bd4f-fca7bf858880","doi":"10.15468/qwnu2p","external[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&identifier=168
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":true,"count":1,"results":[{"key":"8324c0dc-f762-11e1-a439-00145eb45e9a","installationKey":"5ffa2bf6-f762-11e1-a439-00145eb45e9a","publishingOrganizationKey":"29817330-5d61-11d8-b9b2-b8a03c50a862","doi":"10.15468/bdayzp","external":false,"[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagNamespace=metasync.gbif.org
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":10075,"results":[{"key":"79fb1e59-15e7-440b-ae93-6644efb429ce","installationKey":"6038e54e-f762-11e1-a439-00145eb45e9a","publishingOrganizationKey":"0674aea0-a7e1-11d8-9534-b8a03c50a862","networkKeys":[],"doi":"10.15468/wq85f9","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"The
        Smut Fungi Collection at the Botanische Staatssammlung München","description":"https://www.botanischestaatssammlung.de/DatabaseClients/BSMsmutfungicoll/About.html","language":"eng","homepage":"https://www.botanischestaatssammlung.de/DatabaseClients/BSMsmutfungicoll/About.html","logoUrl":"http://pictures.snsb.info/Logos/BSM/bot-staatss-muc-wbm.png","citation":{"text":"Staatliche
        Naturw[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagName=datasetTitle
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":1250,"results":[{"key":"06d3504c-a3bb-11e2-95b8-00145eb45e9a","installationKey":"603473a6-f762-11e1-a439-00145eb45e9a","publishingOrganizationKey":"f9912a00-84a9-11d9-8952-b8a03c50a862","doi":"10.15468/ufz7ht","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"Landesmuseum
        Kärnten","language":"eng","homepage":"http://www.tlmf.at","citation":{"text":"Tiroler
        Landesmuseum Ferdinandeum. Landesmuseum Kärnten. Occurrence dataset https://doi.org/10.15468/ufz7ht
        accessed via GBIF.org on 2025-08-04.","citationProvidedBySource":false},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"registry-migration.gbif.org","modifiedBy":"crawler.gbif.org","created":"2013-04-12T21:50:44.000+00:00","modified":"2018-02-28T14:39:56.630+00:00","contacts":[{"key":861372,"type":"TECHNICAL_POINT_OF_CONTACT","primary":false,"userId":[],"lastName":"Gerhard
        Tarmann","position":[],"email":[],"phone":[],"homepage":[],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2018-02-28T14:39:56.596+00:00","modified":"2018-02-28T14:39:56.596+00:00"}],"endpoints":[{"key":1072605,"type":"DWC_ARCHIVE","url":"https://kuechenschelle.info/GBIF/LMK/DwCA.zip","createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2025-01-10T10:51:54.584+00:00","modified":"2025-01-10T10:51:54.584+00:00","machineTags":[]}],"machineTags":[{"key":26484602,"namespace":"crawler.gbif.org","name":"crawl_attempt","value":"335","createdBy":"crawler.gbif.org","created":"2025-08-03T21:30:11.817+00:00"},{"key":9940,"namespace":"metasync.gbif.org","name":"datasetTitle","value":"Landesmuseum
        Kärnten","createdBy":"metasync-migration","created":"2013-10-24T09:05:37.959+00:00"},{"key":1313091,"namespace":"orphans.gbif.org","name":"download","value":"0012087-180131172636756","createdBy":"MattBlissett","created":"2018-02-28T11:48:19.571+00:00"},{"key":1313092,"namespace":"orphans.gbif.org","name":"status","value":"RESCUED","createdBy":"MattBlissett","created":"2018-02-28T11:48:19.666+00:00"},{"key":1313093,"namespace":"orphans.gbif.org","name":"orphanEndpoint","value":"http://83.175.85.43:81/biocase/pywrapper.cgi?dsa=BioOffice20","createdBy":"MattBlissett","created":"2018-02-28T11:48:19.753+00:00"}],"tags":[],"identifiers":[{"key":13273,"type":"GBIF_PORTAL","identifier":"14839","createdBy":"registry-migration.gbif.org","created":"2013-04-22T12:24:27.000+00:00","primary":false}],"comments":[{"key":37531,"content":"Updated
        the endpoint at the request of the former node, the old endpoint is https://orphans.gbif.org/AT/06d3504c-a3bb-11e2-95b8-00145eb45e9a.zip","createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2025-01-10T10:52:18.448+00:00","modified":"2025-01-10T10:52:18.448+00:00"},{"key":4994,"content":"Import
        script set license to CC_BY_4_0","createdBy":"License Import script","modifiedBy":"License
        Import script","created":"2016-08-18T12:36:25.225+00:00","modified":"2016-08-18T12:36:25.225+00:00"}],"bibliographicCitations":[],"curatorialUnits":[],"taxonomicCoverages":[],"geographicCoverages":[],"temporalCoverages":[],"keywordCollections":[],"countryCoverage":[],"collections":[],"dataDescriptions":[{"name":"GBIF
        Occurrence Download","charset":"UTF-8","url":"http://api.gbif.org/v1/occurrence/download/request/0012087-180131172636756.zip","format":"Darwin
        Core Archive"},{"name":"GBIF Occurrence Download","charset":"UTF-8","url":"http://api.gbif.org/v1/occurrence/download/request/0012087-180131172636756.zip","format":"Darwin
        Core Archive"}],"dataLanguage":"eng","maintenanceUpdateFrequency":"UNKOWN","maintenanceDescription":"","license":"http://creativecommons.org/licenses/by/4.0/legalcode","dwca":{"coreType":"http://rs.tdwg.org/dwc/terms/Occurrence","extensions":[],"modified":"2025-07-02T10:36:48.718+00:00"}},{"key":"7ba8437e-f762-11e1-a439-00145eb45e9a","installationKey":"8569325a-0cf5-45cf-a1b3-8f2abef355dd","publishingOrganizationKey":"ef69a030-3940-11dd-b168-b8a03c50a862","doi":"10.15468/nz9a27","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"Landwehrbach","description":"This
        dataset holds the observations recorded during the GEO Biodiversity Day &#34;Landwehrbach&#34;
        in Castrop-Rauxel","language":"eng","citation":[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagValue=Borkhart
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":true,"count":1,"results":[{"key":"61447af2-f762-11e1-a439-00145eb45e9a","installationKey":"8569325a-0cf5-45cf-a1b3-8f2abef355dd","publishingOrganizationKey":"ef69a030-3940-11dd-b168-b8a03c50a862","doi":"10.15468/cqwqx0","externa[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&modified=2023-04-01
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":13,"results":[{"key":"dbd109ca-9353-4c15-982e-2ed05401f6e2","installationKey":"9a0789af-e49d-41c2-8f8a-ca77da95d820","publishingOrganizationKey":"bdee9e20-df5e-4ef8-a012-53d2e83010e4","doi":"10.15468/2dz5u4","version":"1.1","external":false,"numConstituents":0,"type":"CHECKLIST","title":"Checklist
        of flora and fauna of Bayelsa State, Nigeria","description":"This is a record
        of plants and animals found in Coastal Environments in Bayelsa state of Nigeria","language":"eng","citation":{"text":"Oyedeji
        A (2023): Checklist of flora and fauna of Bayelsa State, Nigeria. v1.1. University
        of Lagos. Dataset/Checklist. https://ipt-nigeria.gbif.fr/resource?r=checklistoffloraandfaunaofbayelsastatenigeria&v=1.1
        https://doi.org/10.15468/2dz5u4 accessed via GBIF.org on 2025-08-04.","citationProvidedBySource":true},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"bdee9e20-df5e-4ef8-a012-53d2e83010e4","modifiedBy":"crawler.gbif.org","created":"2023-04-01T18:45:42.782+00:00","modified":"2023-04-01T18:58:06.804+00:00","contacts":[{"key":4292681,"type":"ORIGINATOR","primary":true,"userId":["https://scholar.google.com/citations?user=xq3yAyAAAAAJ&hl=en&oi=ao"],"firstName":"Ayodele","lastName":"Oyedeji","position":["Senior
        Lecturer"],"email":["ayodele.oyedeji@ndu.edu.ng"],"phone":["+2348038085958"],"homepage":[],"organization":"Niger
        Delta University","address":["Institute of Biodiversity, Climate Change &
        Watersheds"],"city":"Wilberforce Island","province":"Bayelsa","country":"NG","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2023-04-01T18:58:06.774+00:00","modified":"2023-04-01T18:58:06.774+00:00"},{"key":4292682,"type":"METADATA_AUTHOR","primary":true,"userId":["https://scholar.google.com/citations?user=RXZrUZIAAAAJ&hl=en"],"firstName":"Temitope","lastName":"Onuminya","position":["Associate
        Professor"],"email":["tadeyemi@unilag.edu.ng"],"phone":["+2347030241452"],"homepage":[],"organization":"University
        of Lagos","address":["Department Of Botany"],"city":"Akoka","province":"Lagos","country":"NG","postalCode":"23401","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2023-04-01T18:58:06.781+00:00","modified":"2023-04-01T18:58:06.781+00:00"},{"key":4292683,"type":"POINT_OF_CONTACT","primary":false,"userId":["https://scholar.google.com/citations?user=xq3yAyAAAAAJ&hl=en&oi=ao"],"firstName":"Ayodele","lastName":"Oyedeji","position":["Senior
        Lecturer"],"email":["ayodele.oyedeji@ndu.edu.ng"],"phone":["+2348038085958"],"homepage":[],"organization":"Niger
        Delta Universi[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?q=dog&limit=3
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":95,"results":[{"key":"3d08838c-42f9-4a98-b0f2-cee3c775db34","installationKey":"f240b133-cb4f-43bb-a511-2c6435bb049f","publishingOrganizationKey":"6772852d-ca2e-496f-9bea-dcf86134cb19","doi":"10.14286/aigyir","external":false,"numCons[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/deleted/?limit=3
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":12801,"results":[{"key":"a089a4ba-ce22-472f-a1f3-d31267d243b2","installationKey":"17a83780-3060-4851-9d6f-029d5fcb81c9","publishingOrganizationKey":"d2b97690-bfd6-11de-b279-d52977ace833","networkKeys":[],"doi":"10.15468/zgxt2n","external":false,"numConstituents":0,"type":"OCCURRENCE","subtype":"OBSERVATION","title":"CAM-COAST
        database of birds and mammals in a Natura 2000 COASTal site in Italy","description":"\n            CAM
        COAST db with occurrences and image records\n        ","language":"eng","homepage":"https://zenodo.org/records/15622278","citation":{"text":"de
        Francesco M C (2025). CAM-COAST database of birds and mammals in a Natura
        2000 COASTal site in Italy. National Biodiversity Data Centre. Occurrence
        dataset https://doi.org/10.15468/zgxt2n accessed via GBIF.org on 2025-08-04.","identifier":"DOI:
        https://zenodo.org/records/15622278","citationProvidedBySource":false},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"d2b97690-bfd6-11de-b279-d52977ace833","modifiedBy":"mgrosjean","created":"2025-08-04T11:12:41.551+00:00","modified":"2025-08-04T11:30:03.860+00:00","deleted":"2025-08-04T11:30:03.860+00:00","contacts":[{"key":6197321,"type":"ORIGINATOR","primary":true,"userId":[],"firstName":"Maria
        Carla","lastName":"de Francesco","position":[],"email":["maria.defrancesco@unimol.it"],"phone":[],"homepage":[],"organization":"University
        of Molise","address":[],"city":"Termoli","province":"CB","country":"IT","postalCode":"86039","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2025-08-04T11:13:49.205+00:00","modified":"2025-08-04[...]
