http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset//metrics
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
    body:
      encoding: UTF-8
      string: ''
  recorded_at: 2019-02-26 15:13:40 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/3f8a1297-3259-4700-91fc-acc4170b27ce/metrics
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"key":233937,"datasetKey":"3f8a1297-3259-4700-91fc-acc4170b27ce","usagesCount":30873,"synonymsCount":20479,"distinctNamesCount":30849,"nubMatchingCount":29542,"colMatchingCount":24138,"nubCoveragePct":95,"colCoveragePct":78,"countByConstituent":{},"countByKingdom":{"PLANTAE":9173},"countByRank":{"SPECIES":6163,"GENUS":1263,"VARIETY":895,"SUBSPECIES":723,"SECTION":356,"TRIBE":330,"FAMILY":175,"SUBFAMILY":148,"SUBGENUS":106,"SUBTRIBE":61,"SUBSECTION":60,"ORDER":55,"SERIES":40,"SUPERORDER":12,"SUBCLASS":6,"CLASS":1},"countNamesByLanguage":{"ENGLISH":20967,"FRENCH":11322},"countExtRecordsByExtension":{"VERNACULAR_NAME":32289,"DISTRIBUTION":29519,"DESCRIPTION":10359,"IDENTIFIER":0,"MULTIMEDIA":0,"REFERENCE":0,"SPECIES_PROFILE":0,"TYPES_AND_SPECIMEN":0},"countByOrigin":{"SOURCE":30865,"PROPARTE":8},"countByIssue":{"SCIENTIFIC_NAME_ASSEMBLED":1814,"BACKBONE_MATCH_NONE":1331,"PARTIALLY_PARSABLE":41},"otherCount":{},"created":"2018-07-10T14:04:20.503+0000","downloaded":"2018-06-21T17:42:42.165+0000"}'
  recorded_at: 2019-02-26 15:13:40 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
[...]
