http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/a6998220-7e3a-485d-9cd6-73076bd85657/metadata?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.4.0.95)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"key":657,"datasetKey":"a6998220-7e3a-485d-9cd6-73076bd85657","type":"EML","createdBy":"eml-pusher.gbif.org","modifiedBy":"eml-pusher.gbif.org","created":"2013-10-24T11:23:15.236+0000","modified":"2013-10-24T11:23:15.236+0000"}]'
  recorded_at: 2020-12-08 23:53:49 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
