http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":123662,"results":[{"key":"aa114347-68c5-49fa-b693-ad64b34688b5","installationKey":"7ce8aef1-9e92-11dc-8740-b8a03c50a999","publishingOrganizationKey":"bb922300-7ddb-11de-a300-90ac77aa923f","doi":"10.15468/mtxjq3","external":false,"numConstituents":0,"type":"CHECKLIST","title":"A
        new species and two newly recorded species of the genus Metopomyza Enderlein
        from northern China (Diptera, Agromyzidae) with a worldwide key and checklist","description":"<p>This
        dataset contains the digitized treatments in Plazi based on the original journal
        article Fu, Xin-Ting, Shi, Li (2026): A new species and two newly recorded
        species of the genus Metopomyza Enderlein from northern China (Diptera, Agromyzidae)
        with a worldwide key and checklist. ZooKeys 1290: 35-58, DOI: 10.3897/zookeys.1290.199747</p><p>Abstract</p><p>A
        new species, Metopomyza hebeiensis sp. nov., together with two newly recorded
        species for China (i. e., M. laeta and M. scutellata), are documented and
        illustrated in this study; a worldwide identification key and checklist of
        species included in the genus are also provided. The Maximum-Likelihood and
        Neighbor-Joining phylogenetic trees based on 48 sequences confirm that our
        specimens belong to M. scutellata, but this does not prove that M. scutellata
        and M. junci are conspecific.</p>","language":"eng","homepage":"https://tb.plazi.org/GgServer/summary/B201C0ED2848592B967459E96574B97E","citation":{"text":"Fu
        X, Shi L, pensoft (2026). A new species and two newly recorded species of
        the genus Metopomyza Enderlein from northern China (Diptera, Agromyzidae)
        with a worldwide key and checklist. ZooKeys. Checklist dataset https://doi.org/10.15468/mtxjq3
        accessed via GBIF.org on 2026-08-19.","citationProvidedBySource":false},"contactsCitation":[{"key":7111719,"abbreviatedName":"Fu
        X","firstName":"Xin-Ting","lastName":"Fu","roles":["ORIGINATOR"],"userId":["https://orcid.org/0009-0002-3970-8367"]},{"key":7111720,"abbreviatedName":"Shi
        L","firstName":"Li","lastName":"Shi","roles":["ORIGINATOR"],"userId":["https://orcid.org/0000-0001-5842-4904"]},{"key":7111724,"abbreviatedName":"pensoft","lastName":"pensoft","roles":["METADATA_AUTHOR"],"userId":[]}],"lockedForAutoUpdate":false,"createdBy":"plazi","modifiedBy":"crawler.gbif.org","created":"2026-08-19T03:50:14.540+00:00","modified":"2026-08-19T03:51:15.604+00:00","contacts":[{"key":7111719,"type":"ORIGINATOR","primary":true,"userId":["https://orcid.org/0009-0002-3970-8367"],"firstName":"Xin-Ting","lastName":"Fu","position":[],"email":[],"phone":[],"homepage":[],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2026-08-19T03:51:15.582+00:00","modified":"2026-08-19T03:51:15.582+00:00"},{"key":7111720,"type":"ORIGINATOR","primary":false,"userId":["https://orcid.org/0000-0001-5842-4904"],"firstName":"Li","lastName":"Shi","position":[],"email":[],"phone":[],"homepage":[],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2026-08-19T03:51:15.585+00:00","modified":"2026-08-19T03:51:15.585+00:00"},{"key":7111721,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Guido","lastName":"Sautter","position":[],"email":["gsautter@gmail.com"],"phone":[],"homepage":["http://plazi.org"],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2026-08-19T03:51:15.587+00:00","modified":"2026-08-19T03:51:15.587+00:00"},{"key":7111722,"type":"PUBLISHER","primary":false,"userId":[],"position":[],"email":["info@pensoft.net"],"phone":[],"homepage":["https://www.pensoft.net"],"organization":"Pensoft
        Publishers","address":["Prof. Georgi Zlatarski Street 12"],"city":"Sofia","country":"BG","postalCode":"1700","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2026-08-19T03:51:15.588+00:00","modified":"2026-08-19T03:51:15.588+00:00"},{"key":7111723,"type":"DISTRIBUTOR","primary":false,"userId":[],"position":[],"email":["info@plazi.org"],"phone":[],"homepage":["https://plazi.org/"],"organization":"Plazi","address":[],"city":"Bern","country":"CH","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2026-08-19T03:51:15.589+00:00","modified":"2026-08-19T03:51:15.589+00:00"},{"key":7111724,"type":"METADATA_AUTHOR","primary":true,"userId":[],"lastName":"pensoft","position":[],"email":[],"phone":[],"homepage":[],"organization":"Plazi","address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2026-08-19T03:51:15.590+00:00","modified":"2026-08-19T03:51:15.590+00:00"}],"endpoints":[{"key":1313682,"type":"COLDP","url":"https://tb.plazi.org/GgServer/colDp/B201C0ED2848592B967459E96574B97E.zip","createdBy":"plazi","modifiedBy":"plazi","created":"2026-08-19T04:05:38.203+00:00","modified":"2026-08-19T04:05:38.203+00:00","machineTags":[]},{"key":1313676,"type":"DWC_ARCHIVE","url":"https://tb.plazi.org/GgServer/dwca/B201C0ED2848592B967459E96574B97E.zip","createdBy":"plazi","modifiedBy":"plazi","created":"2026-08-19T03:50:14.842+00:00","modified":"2026-08-19T03:50:14.842+00:00","machineTags":[]}],"machineTags":[{"key":32468143,"namespace":"crawler.gbif.org","name":"crawl_attempt","value":"1","createdBy":"crawler.gbif.org","created":"2026-08-19T03:51:15.030+00:00"}],"tags":[],"identifiers":[{"key":472166,"type":"UUID","identifier":"B201C0ED2848592B967459E96574B97E","createdBy":"plazi","created":"2026-08-19T03:50:14.757+00:00","primary":false}],"comments":[],"bibliographicCitations":[],"curatorialUnits":[],"taxonomicCoverages":[],"geographicCoverages":[],"temporalCoverages":[],"keywordCollections":[{"keywords":["Morphological
        structure","phylogenetic tree","new record","Phytomyzinae","taxonomy"]}],"countryCoverage":[],"collections":[],"dataDescriptions":[],"dataLanguage":"eng","pubDate":"2026-08-18T00:00:00.000+00:00","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","dwca":{"coreType":"http://rs.tdwg.org/dwc/terms/Taxon","extensions":["http://rs.gbif.org/terms/1.0/Multimedia","http://rs.tdwg.org/dwc/terms/Occurrence","http://eol.org/schema/media/Document","http://eol.org/schema/reference/Reference","http://rs.gbif.org/terms/1.0/Description"],"modified":"2026-08-19T03:51:15.529+00:00"}},{"key":"d39f887f-9d74-4571-aa05-f9aa98849c8b","installationKey":"7ce8aef1-9e92-11dc-8740-b8a03c50a999","publishingOrganizationKey":"5aaf6f62-72a5-403f-8fae-e8f9cd4a18cd","doi":"10.15468/q3ucpd","external":false,"numConstituents":0,"type":"CHEC[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&country=US
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":3247,"results":[{"key":"2ae77258-d4cb-4e90-a99f-5dc6e5f8f74a","installationKey":"3056a1fb-d172-4927-8f52-92246f9c768b","publishingOrganizationKey":"3d91824c-5905-418e-9106-4f377cd2671f","doi":"10.15468/kayzxd","external":false,"[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&type=CHECKLIST
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":64753,"results":[{"key":"aa114347-68c5-49fa-b693-ad64b34688b5","installationKey":"7ce8aef1-9e92-11dc-8740-b8a03c50a999","publishingOrganizationKey":"bb922300-7ddb-11de-a300-90ac77aa923f","doi":"10.15468/mtxjq3","external":fa[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&identifierType=URL
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":26825,"results":[{"key":"9c3a2e99-90fb-4a6d-aaa5-f74cf6b7d872","installationKey":"0a14e644-0b5a-4b59-b9b2-64577a41f8ae","publishingOrganizationKey":"6f2da4d9-8bd9-4f4f-852b-22cde4a43a01","doi":"10.15468/ft6tnq","external[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&identifier=168
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":true,"count":1,"results":[{"key":"8324c0dc-f762-11e1-a439-00145eb45e9a","installationKey":"5ffa2bf6-f762-11e1-a439-00145eb45e9a","publishingOrganizationKey":"29817330-5d61-11d8-b9b2-b8a03c50a862","doi":"10.15468/bdayzp","external":false,"[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagNamespace=metasync.gbif.org
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":10077,"results":[{"key":"99361859-fd7c-47ad-844d-62877cd1469e","installationKey":"f0e191c4-2ef2-4e3d-9768-34d58d14ba2d","publishingOrganizationKey":"58dc6a89-4393-4e2f-a8fd-afb0db1c77e7","doi":"10.1546[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagName=datasetTitle
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":1250,"results":[{"key":"06d3504c-a3bb-11e2-95b8-00145eb45e9a","installationKey":"0929b2e3-dba3-4a26-83ec-f4affebcb8fc","publishingOrganizationKey":"f9912a00-84a9-11d9-8952-b8a03c50a862","doi":"10.15468/ufz7ht","[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagValue=Borkhart
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":true,"count":1,"results":[{"key":"61447af2-f762-11e1-a439-00145eb45e9a","installationKey":"8569325a-0cf5-45cf-a1b3-8f2abef355dd","publishingOrganizationKey":"ef69a030-3940-11dd-b168-b8a03c50a862","doi":"10.15468/cqwqx0","externa[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&modified=2023-04-01
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":13,"results":[{"key":"dbd109ca-9353-4c15-982e-2ed05401f6e2","installationKey":"9a0789af-e49d-41c2-8f8a-ca77da95d820","publishingOrganizationKey":"bdee9e20-df5e-4ef8-a012-53d2e83010e4","doi":"10.15468/2dz5u4","version":"1.1","external":false,"numConstituents":0,"type":"CHECKLIST","title":"Checklist
        of flora and fauna of Bayelsa State, Nigeria","description":"This is a record
        of plants and animals found in Coastal Environments in Bayelsa state of Nigeria","language":"eng","citation":{"text":"Oyedeji
        A (2023): Checklist of flora and fauna of Bayelsa State, Nigeria. v1.1. University
        of Lagos. Dataset/Checklist. https://ipt-nigeria.gbif.fr/resource?r=checklistoffloraandfaunaofbayelsastatenigeria&v=1.1
        https://doi.org/10.15468/2dz5u4 accessed via GBIF.org on 2026-08-19.","citationProvidedBySource":true},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"bdee9e20-df5e-4ef8-a012-53d2e83010e4","modifiedBy":"crawler.gbif.org","created":"2023-04-01T18:45:42.782+00:00","modified":"2023-04-01T18:58:06.804+00:00","contacts":[{"key":4292681,"type":"ORIGINATOR","primary":true,"userId":["https://scholar.google.com/citations?user=xq3yAyAAAAAJ&hl=en&oi=ao"],"firstName":"Ayodele","lastName":"Oyedeji","position":["Senior
        Lecturer"],"email":["ayodele.oyedeji@ndu.edu.ng"],"phone":["+2348038085958"],"homepage":[],"organization":"Niger
        Delta University","address":["Institute of Biodiversity, Climate Change &
        Watersheds"],"city":"Wilberforce Island","province":"Bayelsa","country":"NG","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2023-04-01T18:58:06.774+00:00","modified":"2023-04-01T18:58:06.774+00:00"},{"key":4292682,"type":"METADATA_AUTHOR","primary":true,"userId":["https://scholar.google.com/citations?user=RXZrUZIAAAAJ&hl=en"],"firstName":"Temitope","lastName":"Onuminya","position":["Associate
        Professor"],"email":["tadeyemi@unilag.edu.ng"],"phone":["+2347030241452"],"homepage":[],"organization":"University
      [...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?q=dog&limit=3
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":162,"results":[{"key":"f56dfa57-62ef-4f43-bb9a-c5368df89fc1","installationKey":"7ce8aef1-9e92-11dc-8740-b8a03c50a999","publishingOrganizationKey":"7ce8aef0-9e92-11dc-8738-b8a03c50a862","doi":"10.5281/zenodo.190572","external":false,"[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/deleted/?limit=3
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":12985,"results":[{"key":"e5f55566-9461-4e47-ba93-eee6c39ca6f6","installationKey":"791e3715-7452-4dd0-a906-db21a3852427","publishingOrganizationKey":"b594a3ca-021f-4e7d-ad0c-4830c042e2bb","networkKeys":[],"doi":"10.15468/3cvyc5","version":"1.1","external":false,"numConstituents":0,"type":"OCCURRENCE","subtype":"SPECIMEN","title":"Types
        nomenclaturaux de l''herbier du Muséum d''Histoire naturelle de Grenoble (GRM)","description":"\n            Inventaire
        partiel des types nomenclaturaux de l&#39;herbier GRM du Muséum d&#39;Histoire
        Naturelle de Grenoble. Cet inventaire sera complété au fur et à mesure de
        l&#39;étude des collections.\n        ","language":"fra","citation":{"text":"Lefebvre
        M (2026). Types nomenclaturaux de l''herbier du Muséum d''Histoire naturelle
        de Grenoble (GRM). Version 1.1. Muséum d''Histoire naturelle de Grenoble.
        Occurrence dataset https://doi.org/10.15468/3cvyc5 accessed via GBIF.org on
        2026-07-31.","citationProvidedBySource":false},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"b594a3ca-021f-4e7d-ad0c-4830c042e2bb","modifiedBy":"b594a3ca-021f-4e7d-ad0c-4830c042e2bb","created":"2026-07-30T12:31:34.915+00:00","modified":"2026-07-31T13:48:45.654+00:00","deleted":"2026-07-31T13:48:45.654+00:00","contacts":[{"key":7094746,"type":"ORIGINATOR","primary":true,"userId":[],"firstName":"Matthieu","lastName":"Lefebvre","position":["Chargé
        de l''Herbier GRM"],"email":["matthieu.lefebvre@grenoble.fr"],"phone":[],"homepage":[],"organization":"Museum
        d''Histoire Naturelle de Grenoble","address":["1 rue Dolomieu"],"city":"Grenoble","province":"Isère","country":"FR","postalCode":"38000","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","cr[...]
