http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/a6998220-7e3a-485d-9cd6-73076bd85657/contact?limit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"key":22898,"type":"ORIGINATOR","primary":true,"userId":[],"firstName":"Ian","lastName":"Fisher","position":[],"email":["ian.fisher@birdlife.org"],"phone":["00441223277200"],"homepage":[],"organization":"BirdLife
        International","address":["Wellbrook Court, Girton Road"],"city":"Cambridge","postalCode":"CB3
        0NA","createdBy":"eml-pusher.gbif.org","modifiedBy":"eml-pusher.gbif.org","created":"2013-10-24T11:23:15.249+00:00","modified":"2013-10-24T11:23:15.249+00:00"},{"key":22899,"type":"METADATA_AUTHOR","primary":true,"userId":[],"firstName":"Ian","lastName":"Fisher","position":[],"email":["ian.fisher@birdlife.org"],"phone":["00441223277200"],"homepage":[],"organization":"BirdLife
        International","address":["Wellbrook Court, Girton Road"],"city":"Cambridge","postalCode":"CB3
        0NA","createdBy":"eml-pusher.gbif.org","modifiedBy":"eml-pusher.gbif.org","created":"2013-10-24T11:23:15.252+00:00","modified":"2013-10-24T11:23:15.252+00:00"},{"key":22900,"type":"AUTHOR","primary":false,"userId":[],"firstName":"Graham","lastName":"Berry","position":[],"email":[],"phone":[],"homepage":[],"organization":"QPQ
        Software Limited","address":[],"city":"Abingdon","province":"Oxfordshire","country":"GB","postalCode":"OX14
        1JD","createdBy":"eml-pusher.gbif.org","modifiedBy":"eml-pusher.gbif.org","created":"2013-10-24T11:23:15.256+00:00","modified":"2013-10-24T11:23:15.256+00:00"},{"key":22901,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Ian","lastName":"Fisher","position":[],"email":["ian.fisher@birdlife.org"],"phone":["00441223277200"],"homepage":[],"organization":"BirdLife
        International","address":["Wellbrook Court, Girton Road"],"city":"Cambridge","province":"Cambridgeshire","postalCode":"CB3
        0NA","createdBy":"eml-pusher.gbif.org","modifiedBy":"eml-pusher.gbif.org","created":"2013-10-24T11:23:15.258+00:00","modified":"2013-10-24T11:23:15.258+00:00"}]'
  recorded_at: 2022-07-12 12:28:08 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
