http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/863e6d6b-f602-4495-ac30-881482b6f799/metrics
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.5.2 rOpenSci(rgbif/0.9.9.9610)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/dataset/863e6d6b-f602-4495-ac30-881482b6f799/metrics
    body:
      encoding: UTF-8
      string: '{"key":201919,"datasetKey":"863e6d6b-f602-4495-ac30-881482b6f799","usagesCount":7,"synonymsCount":0,"distinctNamesCount":7,"nubMatchingCount":7,"colMatchingCount":7,"nubCoveragePct":100,"colCoveragePct":100,"countByConstituent":{},"countByKingdom":{"ANIMALIA":7},"countByRank":{"KINGDOM":1,"PHYLUM":1,"CLASS":1,"ORDER":1,"FAMILY":1,"GENUS":1,"SPECIES":1},"countNamesByLanguage":{},"countExtRecordsByExtension":{"DESCRIPTION":4,"DISTRIBUTION":0,"IDENTIFIER":0,"MULTIMEDIA":0,"REFERENCE":0,"SPECIES_PROFILE":0,"TYPES_AND_SPECIMEN":0,"VERNACULAR_NAME":0},"countByOrigin":{"DENORMED_CLASSIFICATION":6,"SOURCE":1},"countByIssue":{},"otherCount":{},"created":"2018-02-06T22:40:49.476+0000","downloaded":"2018-02-06T22:40:48.831+0000"}'
  recorded_at: 2018-06-17 05:01:00 GMT
  recorded_with: vcr/0.1.0, webmockr/0.2.6, crul/0.5.2
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/66dd0960-2d7d-46ee-a491-87b9adcfe7b1/metrics
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.5.2 rOpenSci(rgbif/0.9.9.9610)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/dataset/66dd0960-2d7d-46ee-a491-87b9adcfe7b1/metrics
    body:
      encoding: UTF-8
      string: '{"key":209652,"datasetKey":"66dd0960-2d7d-46ee-a491-87b9adcfe7b1","usagesCount":138248,"synonymsCount":59906,"distinctNamesCount":138126,"nubMatchingCount":131900,"colMatchingCount":100309,"nubCoveragePct":95,"colCoveragePct":72,"countByConstituent":{},"countByKingdom":{"PLANTAE":72463,"CHROMISTA":1},"countByRank":{"SPECIES":52563,"GENUS":12880,"VARIETY":4810,"SUBSPECIES":4462,"SERIES":1077,"TRIBE":844,"FAMILY":509,"SUBTRIBE":327,"SUBFAMILY":303,"SUBGENUS":240,"FORM":238,"SECTION":82,"SUBVARIETY":5,"KINGDOM":1},"countNamesByLanguage":{"ENGLISH":32165,"SWEDISH":7284,"GERMAN":4882,"SPANISH":4157,"FRENCH":3783,"PORTUGUESE":1141,"ITALIAN":663,"AFRIKAANS":450,"ARABIC":182,"INDONESIAN":153,"MALAY":139,"SWAHILI":72,"DUTCH":50,"MALAGASY":41,"DANISH":21,"FIJIAN":17,"HINDI":15,"SOMALI":11,"TURKISH":8,"POLISH":7,"CZECH":4,"KOREAN":4,"TAJIK":4,"CATALAN":3,"FINNISH":3,"JAVANESE":3,"ROMANIAN":3,"YORUBA":3,"AYMARA":2,"CHINESE":2,"SAMOAN":2,"ALBANIAN":1,"BISLAMA":1,"HUNGARIAN":1,"NORWEGIAN":1,"QUECHUA":1,"RUSSIAN":1,"SANSKRIT":1,"TAMIL":1,"THAI":1,"TONGA":1,"TURKMEN":1},"countExtRecordsByExtension":{"VERNACULAR_NAME":64900,"DESCRIPTION":0,"DISTRIBUTION":0,"IDENTIFIER":0,"MULTIMEDIA":0,"REFERENCE":0,"SPECIES_PROFILE":0,"TYPES_AND_SPECIMEN":0},"countByOrigin":{"SOURCE":138246,"DENORMED_CLASSIFICATION":1,"MISSING_ACCEPTED":1},"countByIssue":{"SCIENTIFIC_NAME_ASSEMBLED":129274,"BACKBONE_MATCH_NONE":6348,"VERNACULAR_NAME_INVALID":5732,"CHAINED_SYNOYM":522,"PARENT_NAME_USAGE_ID_INVALID":48,"PARTIALLY_PARSABLE":8,"PARENT_CYCLE":1},"otherCount":{},"created":"2018-06-05T17:32:31.439+0000","downloaded":"2018-06-05T15:37:02.382+0000"}'
  recorded_at: 2018-06-17 05:01:00 GMT
  recorded_with: vcr/0.1.0, webmockr/0.2.6, crul/0.5.2
