http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/search?limit=100&type=metadata&type=checklist
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.5.2 rOpenSci(rgbif/0.9.9.9610)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/dataset/search?limit=100&type=metadata&type=checklist
    body:
      encoding: UTF-8
      string: "{\"offset\":0,\"limit\":100,\"endOfRecords\":false,\"count\":24026,\"results\":[{\"key\":\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\",\"title\":\"GBIF
        Backbone Taxonomy\",\"description\":\"The GBIF Backbone Taxonomy, often called
        the Nub taxonomy, is a single synthetic management classification with the
        goal of covering all names GBIF is dealing with.             It's the taxonomic
        backbone that allows GBIF to integrate name based information from different
        resources, no matter if these are occurrence datasets, species pages, names
        from nomenclators or external sources like EOL, Genbank or IUCN.             This
        backbone allows tax[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/search?limit=100&publishingCountry=DE&publishingCountry=NZ
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.5.2 rOpenSci(rgbif/0.9.9.9610)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/dataset/search?limit=100&publishingCountry=DE&publishingCountry=NZ
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":false,"count":31670,"results":[{"key":"e6fab7b3-c733-40b9-8df3-2a03e49532c1","title":"Flora
        von Deutschland (Phanerogamen)","description":"Verbreitung der Farn- und Bluetenpflanzen
        in Deutschland, Vorkommensnachweise aggregiert auf Quadranten der Topographischen
        Karte 1 : 25000 (TK25 = MTB), sowie in Zeitperioden <vor 1950>, <1950 - 1980>,
        <nach 1980 >","type":"OCCURRENCE","hostingOrganizationKey":"43cab2b0-0653-11d9-acb2-b8a03c50a862","hostingOrganizationTitle":"Bundesamt
        für Naturschutz / Netzwerk Phytodiversität Deutschland","countryCoverage":[],"publishingCountry":"DE","publishingOrganizationKey":"43cab2b0-0653-11d9-acb2-b8a03c50a862","publishingOrganizationTitle":"Bundesamt
        für Naturschutz / Netzwerk Phytodiversität Deutschland","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","decades":[],"keywords":[],"recordCount":9577886},{"key":"6ac3f774-d9fb-4796-b3e9-92bf6c81c084","title":"naturgucker","description":"naturgucker.de
        / enjoynature.net is a rapidly growing social network with several millions
        of observations of wild plants and animals, thus naturgucker.de / enjoynature.net
        supports and promotes nature conservancy. naturgucker.de / enjoynature.net
        offers nature observers (mainly citizen scientists) a personal data center
        for their data in which they can pool and man[...]
