http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":123589,"results":[{"key":"a701540c-b53b-4a08-9ec1-6cbf28bee5c8","installationKey":"9f25fd85-85dc-4dcd-a1b4-b31165442e2b","publishingOrganizationKey":"1cd669d0-80ea-11de-a9d0-f1765f95f18b","doi":"10.15468/5dm28a","external":false,"numConstituents":0,"type":"SAMPLING_EVENT","subtype":"OBSERVATION","shortName":"inboveg-overstroming-demer-1997","title":"INBOVeg
        - Botanical inventory of a number of natural flooding areas in the Demer catchment
        in Flanders, Belgium","description":"<p>This dataset was gathered as part
        of at study detailing the vegetation found in two flooding zones near to the
        Demer waterbody in Flanders, Belgium. More details are given under &#39;project
        data&#39; and &#39;sampling methods&#39;, but the most information is to be
        found in the original (Dutch) report cited (Butaye &amp; Hermy, 1997).</p><p>The
        vegetation data from this study has been stored in INBOVEG, the INBO vegetation
        record database (als[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&country=US
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":3246,"results":[{"key":"fad438a9-c88d-4229-a847-71b925d9f4f1","installationKey":"a957a663-2f17-415f-b1c8-5cf6398df8ed","publishingOrganizationKey":"c38016fb-b4ec-481b-8a29-18aca713f1e8","doi":"10.15468/gjsg2w","version":"1.4","external":false,"numConstituents":0,"type":"CHECKLIST","subtype":"INVENTORY_THEMATIC","title":"Brookfield
        Zoo Chicago: A checklist of species at the Brookfield Zoo Chicago, Brookfield,
        Illinois","description":"<p>Brookfield Zoo Chicago is a private non-profit
        organization operated by the Chicago Zoological Society, located in Brookfield,
        Illinois, United States. </p><p>This dataset is a checklist of species housed
        at the Brookfield Zoo Chicago, current as of October 2025. </p>","language":"eng","homepage":"https://www.brookfieldzoo.org/","citation":{"text":"Johnson
        D (2026). Brookfield Zoo Chicago: A checklist of species at the Brookfield
        Zoo Chicago, Brookfield, Illinois. Version 1.4. Brookfield Zoo Chicago. Checklist
        dataset https://doi.org/10.15468/gjsg2w accessed via GBIF.org on 2026-08-13.","citationProvidedBySource":false},"contactsCitation":[{"key":7107329,"abbreviatedName":"Johnson
        D","firstName":"Debbie","lastName":"Johnson","roles":["ORIGINATOR","METADATA_AUTHOR"],"userId":[]}],"lockedForAutoUpdate":false,"createdBy":"c38016fb-b4ec-481b-8a29-18aca713f1e8","modifiedBy":"crawler.gbif.org","created":"2026-08-11T19:47:53.285+00:00","modified":"2026-08-12T18:56:55.277+00:00","contacts":[{"key":7107329,"type":"ORIGINATOR","primary":true,"userId":[],"firstName":"Debbie","lastName":"Johnson","position":[],"email":["debbie.johnson@brookfieldzoo.org"],"phone":[],"homepage":[],"organization":"Brookfield
        Zoo Chicago","address":[],"city":"Brookfield","province":"IL","country":"US","postalCode":"60513","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2026-08-12T18:56:55.249+00:00","modified":"2026-08-12T18:56:55.249+00:00"},{"key":7107330,"type":"METADATA_AUTHOR","primary":true,"userId":[],"firstName":"Debbie","lastName":"Johnson","position":[],"email":["debbie.johnson@brookfieldzoo.org"],"phone":[],"homepage":[],"organization":"Brookfield
        Zoo Chicago","address":[],"city":"Brookfield","province":"IL","country":"US","postalCode":"60513","createdBy":"craw[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&type=CHECKLIST
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":64711,"results":[{"key":"b0a587aa-f34d-4590-b27b-1fb12286a6e2","installationKey":"7ce8aef1-9e92-11dc-8740-b8a03c50a999","publishingOrganizationKey":"af62a723-bd15-484a-995e-6fc6720c54f0","doi":"10.15468/ufysmw","external":fa[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&identifierType=URL
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":26801,"results":[{"key":"a701540c-b53b-4a08-9ec1-6cbf28bee5c8","installationKey":"9f25fd85-85dc-4dcd-a1b4-b31165442e2b","publishingOrganizationKey":"1cd669d0-80ea-11de-a9d0-f1765f95f18b","doi":"10.15468/5dm28a","external[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&identifier=168
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":true,"count":1,"results":[{"key":"8324c0dc-f762-11e1-a439-00145eb45e9a","installationKey":"5ffa2bf6-f762-11e1-a439-00145eb45e9a","publishingOrganizationKey":"29817330-5d61-11d8-b9b2-b8a03c50a862","doi":"10.15468/bdayzp","external":false,"[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagNamespace=metasync.gbif.org
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":10077,"results":[{"key":"99361859-fd7c-47ad-844d-62877cd1469e","installationKey":"f0e191c4-2ef2-4e3d-9768-34d58d14ba2d","publishingOrganizationKey":"58dc6a89-4393-4e2f-a8fd-afb0db1c77e7","doi":"10.1546[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagName=datasetTitle
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":1250,"results":[{"key":"06d3504c-a3bb-11e2-95b8-00145eb45e9a","installationKey":"0929b2e3-dba3-4a26-83ec-f4affebcb8fc","publishingOrganizationKey":"f9912a00-84a9-11d9-8952-b8a03c50a862","doi":"10.15468/ufz7ht","[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&machineTagValue=Borkhart
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":true,"count":1,"results":[{"key":"61447af2-f762-11e1-a439-00145eb45e9a","installationKey":"8569325a-0cf5-45cf-a1b3-8f2abef355dd","publishingOrganizationKey":"ef69a030-3940-11dd-b168-b8a03c50a862","doi":"10.15468/cqwqx0","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"Borkhart","description":"This
        dataset holds the observations recorded during the GEO Biodiversity Day &#34;Borkhart&#34;","language":"eng","citation":{"text":"GEO-Tag
        der Artenvielfalt. Borkhart. Occurrence dataset https://doi.org/10.15468/cqwqx0
        accessed via GBIF.org on 2026-08-13.","citationProvidedBySource":false},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"registry-migration.gbif.org","modifiedBy":"crawler.gbif.org","created":"2008-06-13T12:25:52.000+00:00","modified":"2018-03-09T12:22:10.931+00:00","contacts":[{"key":873361,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":true,"userId":[],"lastName":"Tom
        Müller","position":[],"email":["mueller.tom@geo.de"],"phone":[],"homepage":[],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2018-03-09T12:22:10.903+00:00","modified":"2018-03-09T12:22:10.903+00:00"}],"endpoints":[{"key":261594,"type":"DWC_ARCHIVE","url":"https://orphans.gbif.org/DE/61447af2-f762-11e1-a439-00145eb45e9a.zip","description":"Orphaned
        dataset awaiting adoption.","createdBy":"MattBlissett","modifiedBy":"MattBlissett","created":"2018-03-09T12:21:10.521+00:00","modified":"2018-03-09T12:21:10.521+00:00","machineTags":[]}],"machineTags":[{"key":32330328,"namespace":"crawler.gbif.org","name":"crawl_attempt","value":"358","createdBy":"crawler.gbif.org","created":"2026-08-06T13:49:18.451+00:00"},{"key":55,"namespace":"metasync.gbif.org","name":"datasetTitle","value":"Borkhart","createdBy":"metasync-migration","created":"2013-10-24T09:05:37.959+00:00"},{"key":1346983,"namespace":"orphans.gbif.org","name":"download","value":"0017922-180131172636756","createdBy":"MattBlissett","created":"2018-03-09T12:20:36.025+00:00"},{"key":1346984,"namespace":"orphans.gbif.org","name":"status","value":"RESCUED","createdBy":"MattBlissett","created":"2018-03-09T12:20:36.098+00:00"},{"key":1346985,"namespace":"orphans.gbif.org","name":"orphanEndpoint","value":"http://www.geo-artenvielfalt.de/biocase/pywrapper.cgi?dsa=geo-artenvielfalt","createdBy":"MattBlissett","created":"2018-03-09T12:20:36.177+00:00"}],"tags":[],"identifiers":[{"key":151,"type":"GBIF_PORTAL","identifier":"2933","createdBy":"registry-migration.gbif.org","created":"2012-09-05T14:02:50.000+00:00","primary":false}],"comments":[{"key":6570,"content":"Import
        script set license to CC_BY_4_0","createdBy":"License Import script","modifiedBy":"License
        Import script","created":"2016-08-18T12:36:25.225+00:00","modified":"2016-08-18T12:36:25.225+00:00"}],"bibliographicCitations":[],"curatorialUnits":[],"taxonomicCoverages":[],"geographicCoverages":[],"temporalCoverages":[],"keywordCollections":[],"countryCoverage":[],"collections":[],"dataDescriptions":[{"name":"GBIF
        Occurrence Download","charset":"UTF-8","url":"http://api.gbif.org/v1/occurrence/download/request/0017922-180131172636756.zip","format":"Darwin
        Core Archive"}],"dataLanguage":"eng","maintenanceUpdateFrequency":"UNKOWN","maintenanceDescription":"","license":"http://creativecommons.org/licenses/by/4.0/legalcode","dwca":{"coreType":"http://rs.tdwg.org/dwc/terms/Occurrence","extensions":[],"modified":"2026-08-06T13:49:20.280+00:00"}}]}'
  recorded_at: 2026-08-13 11:56:59
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?limit=3&modified=2023-04-01
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":13,"results":[{"key":"dbd109ca-9353-4c15-982e-2ed05401f6e2","installationKey":"9a0789af-e49d-41c2-8f8a-ca77da95d820","publishingOrganizationKey":"bdee9e20-df5e-4ef8-a012-53d2e83010e4","doi":"10.15468/2dz5u4","version":"1.1","external":false,"numConstituents":0,"type":"CHECKLIST","title":"Checklist
        of flora and fauna of Bayelsa State, Nigeria","description":"This is a record
        of plants and animals found in Coastal Environments in Bayelsa state of Nigeria","language":"eng","citation":{"text":"Oyedeji
        A (2023): Checklist of flora and fauna of Bayelsa State, Nigeria. v1.1. University
        of Lagos. Dataset/Checklist. https://ipt-nigeria.gbif.fr/resource?r=checklistoffloraandfaunaofbayelsastatenigeria&v=1.1
        https://doi.org/10.15468/2dz5u4 accessed via GBIF.org on 2026-08-13.","citationProvidedBySource":true},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"bdee9e20-df5e-4ef8-a012-53d2e83010e4","modifiedBy":"crawler.gbif.org","created":"2023-04-01T18:45:42.782+00:00","modified":"2023-04-01T18:58:06.804+00:00","contacts":[{"key":4292681,"type":"ORIGINATOR","primary":true,"userId":["https://scholar.google.com/citations?user=xq3yAyAAAAAJ&hl=en&oi=ao"],"firstName":"Ayodele","lastName":"Oyedeji",[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/?q=dog&limit=3
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":162,"results":[{"key":"f56dfa57-62ef-4f43-bb9a-c5368df89fc1","installationKey":"7ce8aef1-9e92-11dc-8740-b8a03c50a999","publishingOrganizationKey":"7ce8aef0-9e92-11dc-8738-b8a03c50a862","doi":"10.5281/zenodo.190572","external":false,"[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/dataset/deleted/?limit=3
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":12984,"results":[{"key":"e5f55566-9461-4e47-ba93-eee6c39ca6f6","installationKey":"791e3715-7452-4dd0-a906-db21a3852427","publishingOrganizationKey":"b594a3ca-021f-4e7d-ad0c-4830c042e2bb","networkKeys":[],"doi":"10.15468/3cvyc5","version":"1.1","external":false,"numConstituents":0,"type":"OCCURRENCE","subtype":"SPECIMEN","title":"Types
        nomenclaturaux de l''herbier du Muséum d''Histoire naturelle de Grenoble (GRM)","description":"\n            Inventaire
        partiel des types nomenclaturaux de l&#39;herbier GRM du Muséum d&#39;Histoire
        Naturelle de Grenoble. Cet inventaire sera complété au fur et à mesure de
        l&#39;étude des collections.\n        ","language":"fra","citation":{"text":"Lefebvre
        M (2026). Types nomenclaturaux de l''herbier du Muséum d''Histoire naturelle
        de Grenoble (GRM). Version 1.1. Muséum d''Histoire naturelle de Grenoble.
        Occurrence dataset https://doi.org/10.15468/3cvyc5 accessed via GBIF.org on
        2026-07-31.","citationProvidedBySource":false},"contactsCitation":[],"lockedForAutoUpdate":false,"createdBy":"b594a3ca-021f-4e7d-ad0c-4830c042e2bb","modifiedBy":"b594a3ca-021f-4e7d-ad0c-4830c042e2bb","created":"2026-07-30T12:31:34.915+00:00","modified":"2026-07-31T13:48:45.654+00:00","deleted":"2026-07-31T13:48:45.654+00:00","contacts":[{"key":7094746,"type":"ORIGINATOR","primary":true,"userId":[],"firstName":"Matthieu","lastName":"Lefebvre","position":["Chargé
        de l''Herbier GRM"],"email":["matthieu.lefebvre@grenoble.fr"],"phone":[],"homepage":[],"organization":"Museum
        d''Histoire Naturelle de Grenoble","address":["1 rue Dolomieu"],"city":"Grenoble","province":"Isère","country":"FR","postalCode":"38000","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","cr[...]
