http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/deleted?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.5.2 rOpenSci(rgbif/0.9.9.9610)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/dataset/deleted?limit=100
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":false,"count":10173,"results":[{"key":"a58353d4-0a36-4cd7-be76-7ad67f6b970a","installationKey":"9f25fd85-85dc-4dcd-a1b4-b31165442e2b","publishingOrganizationKey":"1cd669d0-80ea-11de-a9d0-f1765f95f18b","doi":"10.3897/rio.3.e13414","version":"1.1","external":false,"numConstituents":0,"type":"CHECKLIST","title":"RINSE
        - Registry of non-native species in the Two Seas region countries (Great Britain,
        France, Belgium and the Netherlands)","description":"<p>The Registry of non-native
        species in the Two Seas region countries is a species checklist dataset published
        by the University of Cambridge. It contains information on 6.661 taxa occurring
        in Great Britain, France, Belgium and the Netherlands. This dataset represents
        a registry of species that are not native, but recorded to live in the wild
        in at least one of the four countries and is the result of the screening of
        55 national and internationa[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/duplicate?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.5.2 rOpenSci(rgbif/0.9.9.9610)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/dataset/duplicate?limit=100
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":true,"count":0,"results":[]}'
  recorded_at: 2018-06-17 05:08:27 GMT
  recorded_with: vcr/0.1.0, webmockr/0.2.6, crul/0.5.2
