http_interactions:
- request:
    method: post
    uri: https://api.gbif.org/v1/derivedDataset
    body:
      encoding: ''
      string: '{"title":"Test for derived dataset","description":"This data was filtered
        using a fake protocol","sourceUrl":"https://zenodo.org/record/4246090#.YPGS2OgzZPY","relatedDatasets":{"3ea36590-9b79-46a8-9300-c9ef0bfed7b8":3,"630eb55d-5169-4473-99d6-a93396aeae38":1,"806bf7d4-f762-11e1-a439-00145eb45e9a":2781}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"doi":"10.15468/dd.qc7d22","description":"This data was filtered using
        a fake protocol","citation":"Derived dataset GBIF.org (22 March 2023) Filtered
        export of GBIF occurrence data https://doi.org/10.15468/dd.qc7d22","title":"Test
        for derived dataset","sourceUrl":"https://zenodo.org/record/4246090#.YPGS2OgzZPY","createdBy":"<gbif_user>","modifiedBy":"<gbif_user>"}'
  recorded_at: 2023-03-22 11:31:09 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
