http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/derivedDataset
    body:
      string: '{"title":"Test for derived dataset","description":"This data was filtered
        using a fake protocol","sourceUrl":"https://zenodo.org/record/4246090#.YPGS2OgzZPY","relatedDatasets":{"3ea36590-9b79-46a8-9300-c9ef0bfed7b8":3,"630eb55d-5169-4473-99d6-a93396aeae38":1,"806bf7d4-f762-11e1-a439-00145eb45e9a":2781}}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: '{"doi":"10.15468/dd.bmhbxp","description":"This data was filtered using
        a fake protocol","citation":"Derived dataset GBIF.org (4 August 2025) Filtered
        export of GBIF occurrence data https://doi.org/10.15468/dd.bmhbxp","title":"Test
        for derived dataset","sourceUrl":"https://zenodo.org/record/4246090#.YPGS2OgzZPY","createdBy":"<gbif_user>","modifiedBy":"<gbif_user>"}'
  recorded_at: 2025-08-04 13:48:27
recorded_with: VCR-vcr/2.0.0
