http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/suggest?q=Puma%20concolor&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.5.2 rOpenSci(rgbif/0.9.9.9610)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/suggest?q=Puma%20concolor&limit=100
    body:
      encoding: UTF-8
      string: '[{"key":2435099,"kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Felidae","genus":"Puma","species":"Puma
        concolor","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9703,"genusKey":2435098,"speciesKey":2435099,"parent":"Puma","parentKey":2435098,"nubKey":2435099,"scientificName":"Puma
        concolor (Linnaeus, 1771)","canonicalName":"Puma concolor","rank":"SPECIES","status":"ACCEPTED","higherClassificationMap":{"1":"Animalia","44":"Chordata","359":"Mammalia","732":"Carnivora","9703":"Felidae","2435098":"Puma"},"synonym":false,"class":"Mammalia"},{"key":6164589,"kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Felidae","genus":"Puma","species":"Puma
        concolor","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9703,"genusKey":2435098,"speciesKey":2435099,"parent":"Puma
        concolor","parentKey":2435099,"nubKey":6164589,"scientificName":"Puma concolor
        anthonyi (Nelson & Goldman, 1931)","canonicalName":"Puma concolor anthonyi","rank":"SUBSPECIES","status":"ACCEPTED","[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?hasCoordinate=TRUE&limit=20&offset=0&taxonKey=2435099
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.5.2 rOpenSci(rgbif/0.9.9.9610)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/search?hasCoordinate=TRUE&limit=20&offset=0&taxonKey=2435099
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":5155,"results":[{"key":1802781354,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2018-06-12T02:36:11.592+0000","lastParsed":"2018-02-01T17:55:09.352+0000","crawlId":114,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":6164590,"kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9703,"genusKey":2435098,"speciesKey":2435099,"scientificName":"Puma
        concolor couguar (Kerr, 1792)","kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Felidae","genus":"Puma","species":"Puma
        concolor","genericName":"Puma","specificEpithet":"concolor","infraspecificEpithet":"couguar","taxonRank":"SUBSPECIES","dateIdentified":"2018-01-06T18:16:52.000+0000","decimalLongitude":-122.803709,"decimalLatitude":38.418883,"coordinateUncertaintyInMeters":28240.0,"year":2018,"month":1,"day":5,"eventDate":"2018-01-05T22:03:16.000+0000","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2018-01-22T03:27:24.000+0000","lastInterpreted":"2018-02-02T17:13:23.439+0000","references":"https://www.inaturalist.org/observations/9383449","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/12746357/original.jpg?1515262616","references":"https://www.inaturalist.org/photos/12746357","created":"2018-01-06T06:03:16.000+0000","creator":"tedjudah","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"tedjudah"},{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/12746359/original.jpg?1515262623","references":"https://www.inaturalist.org/photos/12746359","created":"2018-01-06T06:03:16.000+0000","creator":"tedjudah","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"tedjudah"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Mammalia","countryCode":"US","country":"United
        States","rightsHolder":"tedjudah","identifier":"9383449","informationWithheld":"Coordinate
        uncertainty increased to 28240m at the request of the observer","verbatimEventDate":"Fri
        Jan 05 2018 22:03:16 GMT-0800 (PST)","datasetName":"iNaturalist research-grade
        observations","collectionCode":"Observations","gbifID":"1802781354","verbatimLocality":"Sonoma
        County, US-CA, US","occurrenceID":"https://www.inaturalist.org/observations/9383449","taxonID":"143589","recordedBy":"tedjudah","catalogNumber":"9383449","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/9383449","institutionCode":"iNaturalist","rights":"©
        tedjudah some rights reserved","eventTime":"06:03:16Z","occurrenceRemarks":"Came
        across a skeleton in the forest. At first thought it was a deer. Soon realized
        it was a large cat!","http://unknown.org/http_//rs.gbif.org/terms/1.0/Multimedia":"[
        {\n  \"http://purl.org/dc/terms/format\" : \"image/jpeg\",\n  \"http://purl.org/dc/terms/publisher\"
        : \"iNaturalist\",\n  \"http://purl.org/dc/terms/references\" : \"https://www.inaturalist.org/photos/12746357\",\n  \"http://purl.org/dc/terms/identifier\"
        : \"https://static.inaturalist.or[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/elevation/json?locations=38.41888%2C-122.80371%7C37.04732%2C-121.42556%7C36.50723%2C-121.18366%7C33.63844%2C-116.49820%7C37.17569%2C-121.38843%7C37.04749%2C-121.42549%7C40.78250%2C-111.88139%7C34.83981%2C-118.86200%7C37.04746%2C-121.42561%7C37.04988%2C-121.42657%7C35.32380%2C-120.73842%7C39.99228%2C-105.28160%7C37.17961%2C-121.99944%7C16.05619%2C-93.47792%7C37.04999%2C-121.42676%7C39.43723%2C-120.25755%7C33.39382%2C-116.43114%7C48.03396%2C-122.68094%7C37.17386%2C-121.48583%7C38.44970%2C-122.44150&sensor=false&key=<google_elevation_api_token>
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.5.2 rOpenSci(rgbif/0.9.9.9610)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "elevation" : 27.87019920349121,
                 "location" : {
                    "lat" : 38.41888,
                    "lng" : -122.80371
                 },
                 "resolution" : 1221.625854492188
              },
              {
                 "elevation" : 372.8970947265625,
                 "location" : {
                    "lat" : 37.04732,
                    "lng" : -121.42556
                 },
                 "resolution" : 610.8129272460938
              },
              {
                 "elevation" : 361.7476806640625,
                 "location" : {
                    "lat" : 36.50723,
                    "lng" : -121.18366
                 },
       [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/elevation/json?locations=31.8496%2C-110.57606%7C29.15503%2C-103.59828&sensor=false&key=<google_elevation_api_token>
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.5.2 rOpenSci(rgbif/0.9.9.9610)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "elevation" : 1293.933715820312,
                 "location" : {
                    "lat" : 31.8496,
                    "lng" : -110.57606
                 },
                 "resolution" : 9.543951988220215
              },
              {
                 "elevation" : 657.8649291992188,
                 "location" : {
                    "lat" : 29.15503,
                    "lng" : -103.59828
                 },
                 "resolution" : 152.7032318115234
              }
           ],
           "status" : "OK"
        }
  recorded_at: 2018-06-17 05:20:30 GMT
  recorded_with: vcr/0.1.0, webmockr/0.2.6, crul/0.5.2
