http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/enumeration/basic/
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '["AccessionStatus","AppRole","BasisOfRecord","CitesAppendix","CollectionContentType","ContactType","Continent","Country","DatasetSubtype","DatasetType","Discipline","EndpointType","EstablishmentMeans","Extension","GbifRegion","Habitat","IdentifierType","InstallationType","InstitutionGovernance","InstitutionType","InterpretationRemarkSeverity","Kingdom","Language","License","LifeStage","MaintenanceUpdateFrequency","MediaType","MetadataType","NamePart","NameType","NameUsageIssue","NodeType","NomenclaturalCode","NomenclaturalStatus","OccurrenceIssue","OccurrencePersistenceStatus","OccurrenceSchemaType","OccurrenceStatus","Origin","ParticipationStatus","PreservationMethodType","PreservationType","ProcessingErrorType","Rank","RelationType","Sex","TagName","TagNamespace","TaxonomicStatus","TechnicalInstallationType","ThreatStatus","TypeDesignationType","TypeStatus","UserRole"]'
  recorded_at: 2019-02-26 15:17:09 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.gbif.org/v1/enumeration/basic/NameType
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '["SCIENTIFIC","VIRUS","HYBRID","INFORMAL","CULTIVAR","CANDIDATUS","OTU","DOUBTFUL","PLACEHOLDER","NO_NAME"]'
  recorded_at: 2019-02-26 15:17:09 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.gbif.org/v1/enumeration/basic/MetadataType
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '["EML","DC"]'
  recorded_at: 2019-02-26 15:17:09 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.gbif.org/v1/enumeration/basic/TypeStatus
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '["TYPE","TYPE_SPECIES","TYPE_GENUS","ALLOLECTOTYPE","ALLONEOTYPE","ALLOTYPE","COTYPE","EPITYPE","EXEPITYPE","EXHOLOTYPE","EXISOTYPE","EXLECTOTYPE","EXNEOTYPE","EXPARATYPE","EXSYNTYPE","EXTYPE","HAPANTOTYPE","HOLOTYPE","HYPOTYPE","ICONOTYPE","ISOLECTOTYPE","ISONEOTYPE","ISOSYNTYPE","ISOTYPE","LECTOTYPE","NEOTYPE","NOTATYPE","ORIGINALMATERIAL","PARALECTOTYPE","PARANEOTYPE","PARATYPE","PLASTOHOLOTYPE","PLASTOISOTYPE","PLASTOLECTOTYPE","PLASTONEOTYPE","PLASTOPARATYPE","PLASTOSYNTYPE","PLASTOTYPE","PLESIOTYPE","SECONDARYTYPE","SUPPLEMENTARYTYPE","SYNTYPE","TOPOTYPE"]'
  recorded_at: 2019-02-26 15:17:09 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.gbif.org/v1/enumeration/country/
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"iso2":"AF","iso3":"AFG","isoNumerical":"4","title":"Afghanistan","gbifRegion":"ASIA","enumName":"AFGHANISTAN"},{"iso2":"AX","iso3":"ALA","isoNumerical":"248","title":"Åland
        Islands","gbifRegion":"EUROPE","enumName":"ALAND_ISLANDS"},{"iso2":"AL","iso3":"ALB","isoNumerical":"8","title":"Albania","gbifRegion":"EUROPE","enumName":"ALBANIA"},{"iso2":"DZ","iso3":"DZA","isoNumerical":"12","title":"Algeria","gbifRegion":"AFRICA","enumName":"ALGERIA"},{"iso2":"AS","iso3":"ASM","isoNumerical":"16","title":"American
        Samoa","gbifRegion":"OCEANIA","enumName":"AMERICAN_SAMOA"},{"iso2":"A[...]
