http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/match?checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b&scientificNameID=gbif%3A5231190
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usageKey":5231190,"scientificName":"Passer domesticus (Linnaeus,
        1758)","canonicalName":"Passer domesticus","rank":"SPECIES","status":"ACCEPTED","confidence":100,"matchType":"EXACT","kingdom":"Animalia","phylum":"Chordata","order":"Passeriformes","family":"Passeridae","genus":"Passer","species":"Passer
        domesticus","kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":729,"familyKey":5264,"genusKey":2492321,"speciesKey":5231190,"class":"Aves"}'
  recorded_at: 2026-07-08 13:26:44
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/match?checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b&scientificNameID=gbif%3A2877951
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usageKey":2877951,"scientificName":"Quercus L.","canonicalName":"Quercus","rank":"GENUS","status":"ACCEPTED","confidence":100,"matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Fagales","family":"Fagaceae","genus":"Quercus","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1354,"familyKey":4689,"genusKey":2877951,"class":"Magnoliopsida"}'
  recorded_at: 2026-07-08 13:26:44
recorded_with: VCR-vcr/2.0.0
