http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/oai-pmh/registry?verb=ListIdentifiers&metadataPrefix=oai_dc&from=2017-01-15&until=2017-01-30
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-api-url: /v1/oai-pmh/registry?verb=ListIdentifiers&metadataPrefix=oai_dc&from=2017-01-15&until=2017-01-30
      Content-Type: application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2018-10-19T20:03:27Z</responseDate><request verb="ListIdentifiers" metadataPrefix="oai_dc" from="2017-01-15T00:00:00Z" until="2017-01-30T00:00:00Z">http://api.gbif.org/v1/oai-pmh/registry</request><ListIdentifiers><header><identifier>cb2c797e-ff62-43ea-8dd0-0a62e56ac5d3</identifier><datestamp>2017-01-29T06:58:03Z</datestamp><setSpec>installation:7ce8aef1-9e92-11dc-8740-b8a03c50a999</setSpec><setSpec>dataset_type:CHECKLIST</setSpec><setSpec>country:DE</setSpec></header><header><identifier>c69eb458-40db-4e46-8c25-44455fb067bf</identifier><datestamp>2017-01-25T17:23:37Z</datestamp><setSpec>installation:7ce8aef1-9e92-11dc-8740-b8a03c50a999</setSpec><setSpec>dataset_type:CHECKLIST</setSpec><setSpec>country:DE</setSpec></header><header><identifier>f1b4e50a-3989-4bb6-bec4-a083bcaca72b</identifier><datestamp>2017-01-22T06:39:48Z</d[...]
