http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/oai-pmh/registry?verb=ListSets
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2019-02-26T15:17:30Z</responseDate><request verb="ListSets">http://api.gbif.org/v1/oai-pmh/registry</request><ListSets><set><setSpec>dataset_type</setSpec><setName>per dataset type</setName></set><set><setSpec>dataset_type:OCCURRENCE</setSpec><setName>occurrence</setName></set><set><setSpec>dataset_type:CHECKLIST</setSpec><setName>checklist</setName></set><set><setSpec>dataset_type:METADATA</setSpec><setName>metadata</setName></set><set><setSpec>dataset_type:SAMPLING_EVENT</setSpec><setName>sampling_event</setName></set><set><setSpec>country</setSpec><setName>per country</setName></set><set><setSpec>country:AD</setSpec><setName>Andorra</setName></set><set>[...]
