http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b&scientificNameID=gbif%3A5231190
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"4DXXM","name":"Passer domesticus (Linnaeus, 1758)","canonicalName":"Passer
        domesticus","authorship":"(Linnaeus, 1758)","rank":"SPECIES","code":"ZOOLOGICAL","status":"ACCEPTED","genericName":"Passer","specificEpithet":"domesticus","type":"SCIENTIFIC","formattedName":"<i>Passer</i>
        <i>domesticus</i> (Linnaeus, 1758)"},"classification":[{"key":"CS5HF","name":"Eukaryota","rank":"DOMAIN"},{"key":"N","name":"Animalia","rank":"KINGDOM"},{"key":"CH2","name":"Chordata","rank":"PHYLUM"},{"key":"8V4V3","name":"Vertebrata","rank":"SUBPHYLUM"},{"key":"8V4V5","name":"Gnathostomata","rank":"INFRAPHYLUM"},{"key":"8VVWB","name":"Osteichthyes","rank":"PARVPHYLUM"},{"key":"9CK8W","name":"Tetrapoda","rank":"MEGACLASS"},{"key":"V2","name":"Aves","rank":"CLASS"},{"key":"3RL","name":"Passeriformes","rank":"ORDER"},{"key":"626DC","name":"Passeridae","rank":"FAMILY"},{"key":"6JFY","name":"Passer","rank":"GENUS"},{"key":"4DXXM","name":"Passer
        domesticus","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":100,"timeTaken":0,"timings":{"idMatchScientificNameID":1,"sciNameMatch":0,"checkScientificNameAndIDConsistencyScientificNameID":0,"checkConsistencyWithClassificationMatch":0},"matchedID":{"id":"5231190","mainIndexID":"4DXXM","datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","clbDatasetKey":"53147","datasetTitle":"GBIF
        Backbone Taxonomy","parentID":"2492321","scientificName":"Passer domesticus
        (Linnaeus, 1758)","rank":"SPECIES","status":"ACCEPTED","recognizedVariants":["gbif:5231190"]}},"additionalStatus":[{"clbDatasetKey":"53131","datasetAlias":"IUCN","datasetKey":"19491596-35ae-4a91-9a98-85cf505f1bd3","status":"LEAST_CONCERN","statusCode":"LC","sourceId":"103818789"}],"synonym":false}'
  recorded_at: 2026-08-13 12:20:54
[...]
