http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/oai-pmh/registry?verb=ListIdentifiers&metadataPrefix=oai_dc&from=2019-01-15&until=2019-01-30
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml
    body:
      encoding: ''
      file: no
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2023-03-22T11:33:18Z</responseDate><request verb="ListIdentifiers" metadataPrefix="oai_dc" from="2019-01-15T00:00:00Z" until="2019-01-30T00:00:00Z">http://api.gbif.org/v1/oai-pmh/registry</request><ListIdentifiers><header><identifier>7f66928f-2995-44d1-9a13-5cd263d5708c</identifier><datestamp>2019-01-29T15:44:14Z</datestamp><setSpec>installation:b75cac4b-10fd-424f-a4f7-7bae2657bf64</setSpec><setSpec>dataset_type:OCCURRENCE</setSpec><setSpec>country:KE</setSpec></header><header><identifier>22e8893c-a8e2-4898-8684-9ae74cff4126</identifier><datestamp>2019-01-29T07:39:55Z</datestamp><setSpec>installation:dcb66639-d9b6-410b-ad16-d4e932cb4ea8</setSpec><setSpec>dataset_type:CHECKLIST</setSpec><setSpec>country:CM</setSpec></header><header><identifier>1580f177-248f-421a-8a3d-bf5ab2065a6b</identifier><datestamp>2019-01-29T07:37:25Z</[...]
