http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/oai-pmh/registry?verb=Identify
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"><responseDate>2019-02-26T15:17:29Z</responseDate><request
        verb=\"Identify\">http://api.gbif.org/v1/oai-pmh/registry</request><Identify><repositoryName>GBIF
        Registry</repositoryName><baseURL>http://api.gbif.org/v1/oai-pmh/registry</baseURL><protocolVersion>2.0</protocolVersion><adminEmail>dev@gbif.org</adminEmail><earliestDatestamp>2007-01-01T00:00:01Z</earliestDatestamp><deletedRecord>persistent</deletedRecord><granularity>YYYY-MM-DDThh:mm:ssZ</granularity><description><oai_dc:dc
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/
        http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n\t<dc:title>GBIF Registry</dc:title>\n\t<dc:creator>Global
        Biodiversity Information Facility Secretariat</dc:creator>\n\t<dc:description>\n\t\tThe
        GBIF Registry — the entities that make up the GBIF network.\n\t\tThis OAI-PMH
        service exposes Datasets, organized into sets of country, installation and
        resource type.\n\t\tFor more information, see https://www.gbif.org/developer/registry\n\t</dc:description>\n</oai_dc:dc></description></Identify></OAI-PMH>"
  recorded_at: 2019-02-26 15:17:29 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
