http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/oai-pmh/registry?verb=ListRecords&metadataPrefix=oai_dc&from=2018-10-19
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-api-url: /v1/oai-pmh/registry?verb=ListRecords&metadataPrefix=oai_dc&from=2018-10-19
      Content-Type: application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"><responseDate>2018-10-19T20:03:28Z</responseDate><request
        verb=\"ListRecords\" metadataPrefix=\"oai_dc\" from=\"2018-10-19T00:00:00Z\">http://api.gbif.org/v1/oai-pmh/registry</request><ListRecords><record><header><identifier>58226abf-d99b-4d34-a7b6-9e9c19e29dd4</identifier><datestamp>2018-10-19T19:52:50Z</datestamp><setSpec>installation:2ec3e654-1407-4d5b-aa68-19e9c82b57a6</setSpec><setSpec>dataset_type:CHECKLIST</setSpec><setSpec>country:CO</setSpec></header><metadata><oai_dc:dc
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/
        http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n    <dc:title>Especies
        de interés especial cerro Tacarcuna-Chocó, en el marco del proyecto Clombia
        BIO</dc:title>\n    <dc:publisher>Instituto de Investigaciones Ambientales
        del Pacifico John Von Neumann (IIAP)</dc:publisher>\n\n    <dc:identifier>https://www.gbif.org/dataset/58226abf-d99b-4d34-a7b6-9e9c19e29dd4</dc:identifier>\n
        \   <dc:subject>Media montaña, especies migratorias, especies amenazadas,
        Checklist, especies endémicas</dc:subject>\n    <dc:subject>Derivedfromoccurrence</dc:subject>\n\n
        \   <dc:source>https://ipt.biodiversidad.co/iiap/resource?r=especiesdeinteresespecialcerrotacarcunacolombiabio&amp;amp;amp;v=1.0</dc:source>\n
        \   <dc:description>A pesar de que el Chocó Biogeográfico se percibe como
        un territorio homogéneo a escala regional, vale la pena resaltar que posee
        a nivel local una variedad de ecosistemas propios (manglares, ciénagas, bosques
        inundables, bosques secos, húmedos y nubosos y páramo), enclaves de una diversidad
        especifica particular que se enriquece por el recambio de especies a medida
        que se pasa de un ambiente a otro, contribuyendo así con la alta diversidad
        regional[...]
