http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/oai-pmh/registry?verb=GetRecord&metadataPrefix=oai_dc&identifier=9c4e36c1-d3f9-49ce-8ec1-8c434fa9e6eb
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-api-url: /v1/oai-pmh/registry?verb=GetRecord&metadataPrefix=oai_dc&identifier=9c4e36c1-d3f9-49ce-8ec1-8c434fa9e6eb
      Content-Type: application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"><responseDate>2018-10-19T20:03:31Z</responseDate><request
        verb=\"GetRecord\" identifier=\"9c4e36c1-d3f9-49ce-8ec1-8c434fa9e6eb\" metadataPrefix=\"oai_dc\">http://api.gbif.org/v1/oai-pmh/registry</request><GetRecord><record><header><identifier>9c4e36c1-d3f9-49ce-8ec1-8c434fa9e6eb</identifier><datestamp>2017-09-08T07:25:25Z</datestamp><setSpec>installation:7e01b34f-2a3f-48ec-9b18-e99029296724</setSpec><setSpec>dataset_type:OCCURRENCE</setSpec><setSpec>country:DE</setSpec></header><metadata><oai_dc:dc
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/
        http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n    <dc:title>Freshwater
        fishes of Serbia and Montenegro</dc:title>\n    <dc:publisher>BioFresh</dc:publisher>\n\n
        \   <dc:identifier>https://www.gbif.org/dataset/9c4e36c1-d3f9-49ce-8ec1-8c434fa9e6eb</dc:identifier>\n
        \   <dc:subject>rivers, wetlands, lakes</dc:subject>\n    <dc:subject>Biosphere</dc:subject>\n
        \   <dc:subject>Inland Waters, Biota, Environment, Location</dc:subject>\n
        \   <dc:subject>Metadata</dc:subject>\n    <dc:subject>Observation</dc:subject>\n\n
        \   <dc:source/>\n    <dc:description>&lt;p>Geo-referenced distribution data
        of freshwater fishes of Serbia  and Montenegro from about 200 papers &amp;amp;
        150 fisheries management plans &amp;#61; 3-4 thousands sampling sites.&lt;/p>\n&lt;p>For
        additional metadata see: http://data.freshwaterbiodiversity.eu/metadb/bf_mdb_view.php?entryID&amp;#61;BF_CF12&lt;/p></dc:description>\n
        \   \n    <dc:description>5,323 occurrences</dc:description>\n\n    <dc:type>Dataset</dc:type>\n\n
        \   <dc:creator>Aleksandar Hegediš</dc:creator>\n    <dc:creator>Aaike De
        Wever</dc:creator>\n\n    <dc:date>2017-09-08</dc:date>\n    <dc:language>en</dc:language>\n
        \   \n\n\n    \n\n    <dc:coverage>National coverage</dc:coverage>\n    <dc:coverage>42.218,18.851
        / 46.212,23.056 (min, max Latitude / min, max Longitude)</dc:coverage>\n    <dc:format>application/dwca+zip</dc:format>\n
        \   <dc:source>Global Biodiversity Information Facility (GBIF) https://www.gbif.org</dc:source>\n</oai_dc:dc></metadata></record></GetRecord></OAI-PMH>"
  recorded_at: 2018-10-19 20:05:42 GMT
  recorded_with: vcr/0.2.0, webmockr/0.2.8.9100
