http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=20&offset=0&taxonKey=9206251
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.4 rOpenSci(rgbif/1.3.0.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":43384,"results":[{"key":1993719684,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-05-27T11:35:23.141+0000","lastParsed":"2019-05-20T15:20:58.085+0000","crawlId":164,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":9206251,"kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":414,"familyKey":3065,"genusKey":3119134,"speciesKey":9206251,"acceptedTaxonKey":9206251,"scientificName":"Helianthus
        annuus L.","acceptedScientificName":"Helianthus annuus L.","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asterales","family":"Asteraceae","genus":"Helianthus","species":"Helianthus
        annuus","genericName":"Helianthus","specificEpithet":"annuus","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","dateIdentified":"2019-02-01T03:59:27","decimalLongitude":-117.615045,"decimalLatitude":33.418833,"coordinateUncertaintyInMeters":5.0,"stateProvince":"California","year":2019,"month":1,"day":29,"eventDate":"2019-01-29T12:26:35","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2019-02-01T15:36:55.000+0000","lastInterpreted":"2019-05-20T15:20:58.163+0000","references":"https://www.inaturalist.org/observations/20001771","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/30872830/original.jpg?1548993571","references":"https://www.inaturalist.org/photos/30872830","created":"2019-01-29T20:26:35.000+0000","creator":"Martin
        Dale Purdy","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by/4.0/","rightsHolder":"Martin
        Dale Purdy"},{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/30872832/original.jpg?1548993580","references":"https://www.inaturalist.org/photos/30872832","created":"2019-01-29T20:26:35.000+0000","creator":"Martin
        Dale Purdy","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by/4.0/","rightsHolder":"Martin
        Dale Purdy"},{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/30872833/original.jpg?1548993588","references":"https://www.inaturalist.org/photos/30872833","created":"2019-01-29T20:26:35.000+0000","creator":"Martin
        Dale Purdy","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by/4.0/","rightsHolder":"Martin
        Dale Purdy"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Magnoliopsida","countryCode":"US","country":"United
        States of America","rightsHolder":"Martin Dale Purdy","identifier":"20001771","verbatimEventDate":"Tue
        Jan 29 2019 12:26:35 GMT-0800 (PST)","datasetName":"iNaturalist research-grade
        observations","collectionCode":"Observations","verbatimLocality":"229 Trafalgar
        Ln, San Clemente, CA, US","gbifID":"1993719684","occurrenceID":"https://www.inaturalist.org/observations/20001771","taxonID":"57983","catalogNumber":"20001771","recordedBy":"Martin
        Dale Purdy","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/20001771","institutionCode":"iNaturalist","rights":"©
        Martin Dale Purdy some rights reserved","eventTime":"20:26:35Z","occurrenceRemarks":"Sprouted
        under bird feeder","identificationID":"44280722"},{"key":1986597827,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-05-27T11:34:12.844+0000","lastParsed":"2019-03-19T20:59:07.881+0000","crawlId":164,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":9206251,"kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":4[...]
