http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/oai-pmh/registry?verb=ListMetadataFormats
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2019-02-26T15:17:30Z</responseDate><request verb="ListMetadataFormats">http://api.gbif.org/v1/oai-pmh/registry</request><ListMetadataFormats><metadataFormat><metadataPrefix>oai_dc</metadataPrefix><schema>http://www.openarchives.org/OAI/2.0/oai_dc.xsd</schema><metadataNamespace>http://www.openarchives.org/OAI/2.0/oai_dc/</metadataNamespace></metadataFormat><metadataFormat><metadataPrefix>eml</metadataPrefix><schema>http://rs.gbif.org/schema/eml-gbif-profile/1.0.2/eml.xsd</schema><metadataNamespace>eml://ecoinformatics.org/eml-2.1.1</metadataNamespace></metadataFormat></ListMetadataFormats></OAI-PMH>
  recorded_at: 2019-02-26 15:17:30 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
