http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/oai-pmh/registry?verb=ListMetadataFormats
  response:
    status: 200
    headers:
      content-type: application/xml
    body:
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2025-08-04T13:26:26Z</responseDate><request verb="ListMetadataFormats">http://api.gbif.org/v1/oai-pmh/registry</request><ListMetadataFormats><metadataFormat><metadataPrefix>oai_dc</metadataPrefix><schema>http://www.openarchives.org/OAI/2.0/oai_dc.xsd</schema><metadataNamespace>http://www.openarchives.org/OAI/2.0/oai_dc/</metadataNamespace></metadataFormat><metadataFormat><metadataPrefix>eml</metadataPrefix><schema>http://rs.gbif.org/schema/eml-gbif-profile/1.2/eml.xsd</schema><metadataNamespace>eml://ecoinformatics.org/eml-2.1.1</metadataNamespace></metadataFormat></ListMetadataFormats></OAI-PMH>
  recorded_at: 2025-08-04 13:50:30
recorded_with: VCR-vcr/2.0.0
