http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/search?limit=100&offset=0&rank=SPECIES
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":100,"endOfRecords":false,"count":31787121,"results":[{"key":1000003,"nameKey":1800983,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"a97f36e5-ded1-49cc-bdec-ac6170fc7b9c","nubKey":1000003,"parentKey":1000002,"parent":"Caldisphaera","kingdom":"Archaea","phylum":"Thermoproteota","order":"Sulfolobales","family":"Acidilobaceae","genus":"Caldisphaera","species":"Caldisphaera
        lagunensis","kingdomKey":2,"phylumKey":10807497,"classKey":10705623,"orderKey":564,"familyKey":5900544,"genusKey":1000002,"speciesKey":1000003,"scientificName":"Caldisphaera
        lagunensis Itoh et al., 2003","canonicalName":"Caldisphaera lagunensis","authorship":"Itoh
        et al., 2003","publishedIn":"Int. J. Syst. Evol. Microbiol. 53::1153","nameType":"SCIENTIFIC","taxonomicStatus":"ACCEPTED","rank":"SPECIES","origin":"SOURCE","numDescendants":0,"numOccurrences":0,"taxonID":"gbif:1000003","extinct":false,"habitats":[],"nomenclaturalStatus":[],"threatStatuses":[],"descriptions":[],"vernacularNames":[],"higherClassificationMap":{"2":"Archaea","10807497":"Thermoproteota","10705623":"Thermoproteia","564":"Sulfolobales","5900544":"Acidilobaceae","1000002":"Caldisphaera"},"synonym":false,"class":"Thermoproteia"},{"key":1000005,"nameKey":9579814,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"a97f36e5-ded1-49cc-bdec-ac6170fc7b9c","nubKey":1000005,"parentKey":1000004,"parent":"Pyrodictium","kingdom":"Archaea","phylum":"Thermoproteota","order":"Sulfolobales","family":"Pyrodictiaceae","genus":"Pyrodictium","species":"Pyrodictium
        occultum","kingdomKey":2,"phylumKey":10807497,"classKey":10705623,"orderKey":564,"familyKey":3797,"genusKey":1000004,"speciesKey":1000[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=0&offset=0&facetLimit=&taxonKey=1000003
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-rlr: '25'
      x-grlr: '30'
    body:
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":5,"results":[],"facets":[]}'
  recorded_at: 2025-09-03 13:00:17
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=0&offset=0&facetLimit=&taxonKey=1000033
  response:
    status: 429
    headers:
      status: HTTP/1.1 429 Too Many Requests
      content-type: application/json
      retry-after: '31'
    body:
      string: '["To download GBIF occurrence data in bulk, please request a download
        through the website <https://www.gbif.org/occurrence/search>, the API <https://techdocs.gbif.org/en/data-use/api-downloads>,
        or use the free public cloud datasets <https://www.gbif.org/occurrence-snapshot>.","We
        can also provide data about downloads, datasets, citations and so on in CSV
        or some other format, please contact helpdesk@gbif.org."]'
  recorded_at: 2025-09-03 13:00:18
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=0&offset=0&facetLimit=&taxonKey=1000142
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-rlr: '25'
      x-grlr: '30'
    body:
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":1,"results":[],"facets":[]}'
  recorded_at: 2025-09-03 13:01:06
recorded_with: VCR-vcr/2.0.0
