http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?q=Kansas&limit=1
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":20,"results":[{"key":"956f3e1f-ebd2-48e3-a3ee-42bfb1950a47","code":"PECA","name":"Pratt
        Education Center and Aquarium","description":"The emphasis of the Pratt Education
        Center is to discover the wildlife of Kansas. Numerous displays, dioramas,
        and exhibits provide close encounters with the native birds, fish, mammals,
        and reptiles of Kansas.\n\nOur \"winter\" diorama provides a glimpse of how
        wildlife deals with the snow and cold of Kansas winters.\n\nThe grassland
        display depicts the three grasslands (short, mixed and tall) of Kansas and
        wildlife common to each region; including a rare black-footed ferret. Our
        raptor exhibit features owls, hawks, falcons, and kites; all with hooked beaks
        and sharp talons. The wetland wall display includes Cheyenne Bottoms, one
        of the five most important wetlands in North America.\n\nThe Aquarium Room
        contains twelve, 400-600 gallon aquariums; each displaying fish species native
        to Kansas or that have been successfully introduced into Kansas. On the east
        wall are two wall panels. One featuring the early history of the Pratt Hatchery.
        The other features the catfish rearing program along with a working model
        of Seth Way''s ingenious incubating trough.  Over one hundred and twenty-eight
        species of birds and their eggs","types":[],"active":true,"email":[],"phone":[],"homepage":"https://ksoutdoors.com/KDWP-Info/Locations/Museums-and-Nature-Centers/Pratt-Education-Center","catalogUrls":[],"apiUrls":[],"institutionalGovernances":[],"disciplines":[],"latitude":37.632106,"longitude":-98.693794,"mailingAddress":{"key":46553,"country":"US"},"address":{"key":46554,"province":"KS","country":"US"},"additionalNames":[],"createdBy":"GRBIO","modifiedBy":"gbif-collections","created":"2013-05-21T01:38:00.000+00:00","modified":"2024-05-23T12:37:31.514+00:00","tags":[],"identifiers":[{"key":350269,"type":"NCBI_BIOCOLLECTION","identifier":"945030","createdBy":"mgrosjean","created":"2023-08-15T11:08:06.053+00:00","primary":false},{"key":178149,"type":"GRSCICOLL_URI","identifier":"http://grscicoll.org/institution/pratt-education-center-and-aquarium","createdBy":"registry-migration-grbio.gbif.org","created":"2019-08-15T08:12:27.572+00:00","primary":false},{"key":169988,"type":"GRSCICOLL_URI","identifier":"http://grbio.org/institution/pratt-education-center-and-aquarium","createdBy":"registry-migration-grbio.gbif.org","created":"2019-08-15T08:12:20.362+00:00","primary":false},{"key":134524,"type":"GRSCICOLL_ID","identifier":"17487","createdBy":"registry-migration-grbio.gbif.org","created":"2018-11-15T10:23:01.527+00:00","primary":false},{"key":141621,"type":"GRSCICOLL_URI","identifier":"http://grbio.org/cool/sfj9-st9f","createdBy":"registry-migration-grbio.gbif.org","created":"2018-11-15T10:23:01.527+00:00","primary":false}],"contactPersons":[],"machineTags":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0}]}'
  recorded_at: 2026-08-13 12:20:56
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?numberSpecimens=1000%2C%2A&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":2831,"results":[{"key":"2bc94e2f-c8ea-4c28-8b41-4ea859e31cec","code":"Q-Quatics","name":"Quantitative
        Aquatics, Inc.","description":"Q-quatics was created to support the assembly
        and [...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?numberSpecimens=1000%2C%2A&occurrenceCount=10%2C%2A&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":1485,"results":[{"key":"a2dc9223-d557-4fcf-9c86-c5d2aa34f198","code":"UQUH","name":"Umm
        Al-Qura University","description":"Umm al-Qura University is a public university
        in Mecca, Saudi Arabia, established in 1949","types":["UniversityCollege"],"active":true,"email":["herbarium@uqu.edu.sa"],"phone":["[+966]
        12527000 ext. 3219"],"catalogUrls":[],"apiUrls":[],"institutionalGovernances":["State","Governmental","Academic"],"disciplines":[],"latitude":21.330547,"longitude":39.948273,"mailingAddress":{"key":59244,"address":"MDAA3581
        Al Mashair","city":"Makkah","province":"Makkah","postalCode":"24381","country":"SA"},"address":{"key":59046,"address":"MDAA3581
        Al Mashair","city":"Makkah","province":"Makkah","postalCode":"24381","country":"SA"},"additionalNames":[],"foundingDate":1994,"numberSpecimens":1500,"createdBy":"laban","modifiedBy":"ih-sync","created":"2026-04-24T04:45:38.150+00:00","modified":"2026-06-03T11:48:14.986+00:00","tags":[],"identifiers":[{"key":467353,"type":"IH_IRN","identifier":"gbif:ih:irn:269402","createdBy":"laban","created":"2026-04-24T04:45:38.164+00:00","primary":false}],"contactPersons":[{"key":47307,"firstName":"Widad
        S.","lastName":"AL-Juhani","position":["Associate Professor of Taxonomy and
        Plant Diversity"],"phone":[],"fax":[],"email":["wsjuhani@uqu.edu.sa"],"address":[],"city":"Makkah","province":"Makkah","country":"SA","primary":false,"taxonomicExpertise":[],"userIds":[{"type":"IH_IRN","id":"269425"}],"createdBy":"ih-sync","modifiedBy":"ih-sync","created":"2026-06-03T11:48:15.065+00:00","modified":"2026-06-17T14:07:38.108+00:00"},{"key":47308,"firstName":"Samah
        Abdullah","lastName":"Alharbi","position":["Associate Professor of Taxonomy
        and Plant Diversity"],"phone":["[+966] 12527000 ext. 3219"],"fax":[],"email":["sarehaily@uqu.edu.sa"],"address":["MDAA3581
        Al Mashair"],"city":"Makkah","province":"Makkah","country":"SA","postalCode":"24341
        3931","primary":false,"taxonomicExpertise":[],"userIds":[{"type":"IH_IRN","id":"269423"}],"createdBy":"ih-sync","modifiedBy":"ih-sync","created":"2026-06-03T11:48:15.106+00:00","modified":"2026-06-03T11:48:15.106+00:00"},{"key":47309,"firstName":"Aiman
        Hamed","lastName":"Nawwab","position":[],"phone":["[+966] 12527000 ext. 3219"],"fax":[],"email":["ahnawwab@uqu.edu.sa"],"address":[],"primary":false,"taxonomicExpertise":[],"userIds":[{"type":"IH_IRN","id":"269426"}],"createdBy":"ih-sync","modifiedBy":"ih-sync","created":"2026-06-03T11:48:15.148+00:00","modified":"2026-06-03T11:48:15.148+00:00"}],"machineTags":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"IH","masterSourceMetadata":{"key":10025,"source":"IH_IRN","sourceId":"269402","createdBy":"laban","created":"2026-04-24T04:45:38.173+00:00"},"displayOnNHCPortal":true,"occurrenceCount":33,"typeSpecimenCount":0},{"key":"b1a5b244-b055-4178-ae4f-36fbaeb31620","code":"TCM","name":"Ţării
        Crişurilor Museum","description":"Ţării Crişurilor Museum – museum complex,
        subordinated to Bihor County Council – is an important cultural objective
        in Romania, formed by Ţării Crişurilor Museum departments: Archaeology, History,
        Natural Sciences, Ethn[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?limit=1&source=IH_IRN
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":3817,"results":[{"key":"127e7036-7dd0-4311-b2e5-d56361d9800c","code":"SINAI","name":"Arish
        University","description":"Herbarium of the Faculty of Science, El-Arish University,
        North Sinai, Egypt",[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?limit=1&country=US
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":2586,"results":[{"key":"063dec33-ee7a-4c38-accd-08d3ea6930de","code":"AUDUBON","name":"Audubon
        Zoo","description":"Audubon Zoo, part of the Audubon Nature Institute, is
        a 58-acre zoo located in uptow[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?typeSpecimenCount=10%2C100&limit=1
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":772,"results":[{"key":"3060e3e2-133e-450d-b82d-0fb5a2978ddc","code":"KCMI","name":"Kashihara
        City Museum Of Insect","types":["Museum"],"active":true,"email":[],"phone":["0744-24-7246"],"homepage":"https://www.city.kashihara.nara.jp/article?id=5c52229d65909e2ebea90610","catalogUrls":[],"apiUrls":[],"institutionalGovernances":[],"disciplines":[],"latitude":34.490596,"longitude":135.826787,"address":{"key":58816,"address":"Minamiyamacho","city":"Kashihara
        Shi","province":"Nara Ken","postalCode":"634-0024","country":"JP"},"additionalNames":[],"createdBy":"mgrosjean","modifiedBy":"mhoefft","created":"2026-04-22T08:43:25.107+00:00","modified":"2026-04-23T13:16:45.726+00:00","tags":[],"identifiers":[{"key":467104,"type":"ISIL","identifier":"JP-2003268","createdBy":"mgrosjean","created":"2026-04-22T08:43:25.162+00:00","primary":false}],"contactPersons":[],"machineTags":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":55216,"typeSpecimenCount":37}]}'
  recorded_at: 2026-08-13 12:20:56
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?limit=1&discipline=Paleontology
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":96,"results":[{"key":"436964a5-f408-4922-8112-4783f768b934","code":"PGM","name":"Palanga
        Amber Museum","description":"There are more than 5000 exhibits in the exposition
        of Palanga Amber[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?limit=1&contactUserId=1
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":true,"count":0,"results":[]}'
  recorded_at: 2026-08-13 12:20:56
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?contactEmail=info%40ynhm.org&limit=1
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":true,"count":0,"results":[]}'
  recorded_at: 2026-08-13 12:20:56
recorded_with: VCR-vcr/2.0.0
