http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/installation?limit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":698,"results":[{"key":"e5485242-aa1f-4aab-96a3-d33b2c9f7880","organizationKey":"948f0437-2242-4c2e-bb1e-d6e9e69d1d2a","type":"HTTP_INSTALLATION","title":"AGES
        - Austrian Agency for Health and Food Safety - installation","createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2025-06-17T12:05:58.671+00:00","modified":"2025-06-17T12:05:58.671+00:00","disabled":false,"contacts":[],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[],"comments":[]}]}'
  recorded_at: 2025-07-01 08:08:40 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif.org/v1/installation?q=Estonia&limit=2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":3,"results":[{"key":"896898e8-c0ac-47a0-8f38-0f792fbe3343","organizationKey":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","type":"IPT_INSTALLATION","title":"GBIF
        Estonia","description":"Integrated Publishing Toolkit for GBIF Estonia","createdBy":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","modifiedBy":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","created":"2025-05-30T13:17:32.720+00:00","modified":"2025-05-30T13:17:32.720+00:00","disabled":false,"contacts":[{"key":6120570,"type":"TECHNICAL_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Kristjan
        Adojaan","position":[],"email":["kristjan.adojaan@ut.ee"],"phone":[],"homepage":[],"address":[],"createdBy":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","modifiedBy":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","created":"2025-05-30T13:17:32.737+00:00","modified":"2025-05-30T13:17:32.737+00:00"}],"endpoints":[{"key":1111486,"type":"FEED","url":"https://cloud.gbif.org/ee/rss.do","createdBy":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","modifiedBy":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","created":"2025-05-30T13:17:32.755+00:00","modified":"2025-05-30T13:17:32.755+00:00","machineTags":[]}],"machineTags":[],"tags":[],"identifiers":[],"comments":[]},{"key":"60433990-f762-11e1-a439-00145eb45e9a","organizationKey":"70488160-b003-11d8-a8af-b8a03c50a862","type":"BIOCASE_INSTALLATION","title":"BioCASe
        Installation Geocollections of Estonia","[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/installation?type=IPT_INSTALLATION&limit=2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":374,"results":[{"key":"237[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/installation?modified=2023-04-01%2C%2A&limit=2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":153,"results":[{"key":[...]
