http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/installation/deleted?limit=2
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/installation/deleted?limit=2
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":1070,"results":[{"key":"4f4e7439-d718-4908-86c2-3d596b3246b2","organizationKey":"7d77970a-28ba-43e3-9dc8-de37db3e1894","type":"IPT_INSTALLATION","title":"GBIF
        Mozambique IPT","description":"GBIF Mozambique IPT promove a partilha livre
        e aberta dos dados primários de biodiversidade e enriquece o conhecimento
        da biodiversidade moçambicana e mundial. Promove a integração de editores
        de dados moçambicanos e recursos de informação sobre biodiversidade na rede
        GBIF, bem como a disponibilidade de dados de biodiversidade para a investigação
        científica e as necessidades societais.\r\n\r\nVisões:\r\na) promover a conservação
        da flora, fauna e [...]
