http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?q=Kansas&limit=1
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":19,"results":[{"key":"956f3e1f-ebd2-48e3-a3ee-42bfb1950a47","code":"PECA","name":"Pratt
        Education Center and Aquarium","description":"The emphasis of the Pratt Education
        Center is to discover the wildlife of Kansas. Numerous displays, dioramas,
        and exhibits provide close encounters with the native birds, fish, mammals,
        and reptiles of Kansas.\n\nOur \"winter\" diorama provides a glimpse of how
        wildlife deals with the snow and cold of Kansas winters.\n\nThe grassland
        display depicts the three grasslands (short, mixed and tall) of Kansas and
        wildlife common to each region; including a rare black-footed ferret. Our
        raptor exhibit features owls, hawks, falcons, and kites; all with hooked beaks
        and sharp talons. The wetland wall display includes Cheyenne Bottoms, one
        of the five most important wetlands in North America.\n\nThe Aquarium Room
        contains twelve, 400-600 gallon aquariums; each displaying fish species native
        to Kansas or that have been successfully introduced into Kansas. On the east
        wall are two wall panels. One featuring the early history of the Pratt Hatchery.
        The other features the catfish rearing program along with a working model
        of Seth Way''s ingenious incubating trough.  Over one hundred and twenty-eight
        species of birds and their eggs","types":[],"active":true,"email":[],"phone":[],"homepage":"https://ksoutdoors.com/KDWP-Info/Locations/Museums-and-Nature-Centers/Pratt-Education-Center","catalogUrls":[],"apiUrls":[],"institutionalGovernances":[],"disciplines":[],"latitude":37.632106,"longitude":-98.693794,"mailingAddress":{"key":46553,"country":"US"},"address":{"key":46554,"province":"KS","country":"US"},"additionalNames":[],"createdBy":"GRBIO","modifiedBy":"gbif-collections","created":"2013-05-21T01:38:00.000+00:00","modified":"2024-05-23T12:37:31.514+00:00","tags":[],"identifiers":[{"key":350269,"type":"NCBI_BIOCOLLECTION","identifier":"945030","createdBy":"mgrosjean","created":"2023-08-15T11:08:06.053+00:00","primary":false},{"key":178149,"type":"GRSCICOLL_URI","identifier":"http://grscicoll.org/institution/pratt-education-center-and-aquarium","createdBy":"registry-migration-grbio.gbif.org","created":"2019-08-15T08:12:27.572+00:00","primary":false},{"key":169988,"type":"GRSCICOLL_URI","identifier":"http://grbio.org/institution/pratt-education-center-and-aquarium","createdBy":"registry-migration-grbio.gbif.org","created":"2019-08-15T08:12:20.362+00:00","primary":false},{"key":134524,"type":"GRSCICOLL_ID","identifier":"17487","createdBy":"registry-migration-grbio.gbif.org","created":"2018-11-15T10:23:01.527+00:00","primary":false},{"key":141621,"type":"GRSCICOLL_URI","identifier":"http://grbio.org/cool/sfj9-st9f","createdBy":"registry-migration-grbio.gbif.org","created":"2018-11-15T10:23:01.527+00:00","primary":false}],"contactPersons":[],"machineTags":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0}]}'
  recorded_at: 2025-11-13 08:04:46
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?numberSpecimens=1000%2C%2A&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":2825,"results":[{"key":"00f93b00-a375-4c3b-b6a4-119f89b1b78d","code":"NSMUK","name":"Natural
        Sciences Museum","description":"The Natural Sciences Museum is a relatively
        new independent natural history museum located in at 149 Holme Lane, Sheffield
        S6 4JR, and opened to the public on 13 August 2022.  The museum is focused
        chiefly on palaeontological specimens. It has 12,000 specimens, a CT-scanner,
        a public preparation lab, and a private conservation lab. ","types":["Museum"],"active":true,"email":["info@ynhm.org"],"phone":["01142216662‬"],"homepage":"https://ynhm.org","catalogUrls":[],"apiUrls":[],"institutionalGovernances":["NonProfit"],"disciplines":["Paleontology"],"latitude":53.401184,"longitude":-1.505363,"mailingAddress":{"key":57013,"address":"149
        Holme Lane","city":"Sheffield","province":"South Yorkshire","postalCode":"S6
        4JR","country":"GB"},"address":{"key":57012,"address":"149 Holme Lane","city":"Sheffield","province":"South
        Yorkshire","postalCode":"S6 4JR","country":"GB"},"additionalNames":["Yorkshire
        Natural History Museum"],"numberSpecimens":12000,"logoUrl":"https://img1.wsimg.com/isteam/ip/ecbcc640-26c4-4e77-8b4c-6215b27303ce/blob-0003.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25","createdBy":"taraw","modifiedBy":"taraw","created":"2025-10-21T09:59:25.632+00:00","modified":"2025-10-21T09:59:25.632+00:00","tags":[],"identifiers":[],"contactPersons":[],"machineTags":[],"alternativeCodes":[{"code":"YNHM","description":"Yorkshire
        Natural History Museum"}],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0,"featuredImageUrl":"https://ynhm.org"},{"key":"65c860d6-866b-4b79-94b6-1fe20cfde100","code":"NBSBC","name":"Native
        Bee Society of BC","description":"The Native Bee Society of BC is an incorporated
        not-for-profit society, established in July 2019 in the province of British
        Columbia under the Societies Act. As of May 2023, NBSBC is an affiliate club
        of BC Nature.\nWe are a collective of native bee researchers, artists, land
        managers, conservation practitioners, and enthusiasts working to promote the
        conservation of native bees in British Columbia. ","types":["OtherInstitutionalType"],"active":true,"email":["bcnativebees@gmail.com"],"phone":[],"homepage":"https://www.bcnativebees.org/","catalogUrls":[],"apiUrls":[],"institutionalGovernances":["NonProfit"],"disciplines":[],"latitude":49.479000,"longitude":-124.803000,"mailingAddress":{"key":56963,"address":"1481
        Park Ave","city":"Roberts Creek","postalCode":"V0N2W2","country":"CA"},"address":{"key":56962,"address":"1481
        Park Ave","city":"Roberts Creek","postalCode":"V0N2W2","country":"CA"},"additionalNames":[],"foundingDate":2019,"numberSpecimens":5000,"createdBy":"canadensys","modifiedBy":"canadensys","created":"2025-09-29T13:04:46.472+00:00","modified":"2025-09-29T13:04:46.472+00:00","tags":[],"identifiers":[],"contactPersons":[],"machineTags":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0}]}'
  recorded_at: 2025-11-13 08:04:46
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?numberSpecimens=1000%2C%2A&occurrenceCount=10%2C%2A&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":1405,"results":[{"key":"51c241b8-6086-4f34-bc63-a2e6a3dfceb0","code":"MCUC","name":"Science
        Museum of the University of Coimbra","description":"The Science Museum of
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?limit=1&source=IH_IRN
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":3779,"results":[{"key":"c7ef73ef-d78d-4a08-a189-9b576b9eff06","code":"HAB","name":"Herzog
        August Library Wolfenbüttel","types":[],"active":false,"email":["auskunft@hab.de"],"phone":["+49
        (0)5331 808 114","+49 (0)5331 808 129"],"catalogUrls":[],"apiUrls":[],"institutionalGovernances":[],"disciplines":[],"address":{"key":56948,"address":"Lessingplatz
        1","city":"Wolfenbüttel","province":"Lower Saxony","postalCode":"38304","country":"DE"},"additionalNames":[],"createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2025-09-29T08:21:51.171+00:00","modified":"2025-09-29T08:21:51.171+00:00","tags":[],"identifiers":[{"key":449529,"type":"IH_IRN","identifier":"gbif:ih:irn:268202","createdBy":"mgrosjean","created":"2025-09-29T08:21:51.192+00:00","primary":false}],"contactPersons":[],"machineTags":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"IH","masterSourceMetadata":{"key":9871,"source":"IH_IRN","sourceId":"268202","createdBy":"mgrosjean","created":"2025-09-29T08:21:51.202+00:00"},"displayOnNHCPortal":true,"occurrenceCount":5,"typeSpecimenCount":3}]}'
  recorded_at: 2025-11-13 08:04:46
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?limit=1&country=US
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":2570,"results":[{"key":"00f93b00-a375-4c3b-b6a4-119f89b1b78d","code":"NSMUK","name":"Natural
        Sciences Museum","description":"The Natural Sciences Museum is a relatively
        new independent natural histor[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?typeSpecimenCount=10%2C100&limit=1
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":668,"results":[{"key":"acc160f3-8fb5-4e54-8a92-f428fb051a76","code":"SFC","name":"Santa
        Fe College Museum of Earth Science","description":"Santa Fe College''s Museum
        of Earth Science [...]
