http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/installation?limit=1
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":726,"results":[{"key":"5d6d68bd-a9e4-4353-87b1-aefb71fad819","organizationKey":"4a19e429-8f13-478e-86d7-93adb7534524","type":"IPT_INSTALLATION","title":"Wildlife
        Institute of India","description":"Wildlife Institute of India (WII) is an
        Autonomous Institution of Ministry of Environment and Forests, Government
        of India. Established in 1982, WII is an internationally acclaimed Institution,
        which offers training program, academic courses and advisory in wildlife research
        and management. The Institute is actively engaged in research across the breadth
        of the country on biodiversity related issues. The Institute''s idyllic campus
        that has been carefully developed to create state of the art infrastructure
        encourages scholarly work.","createdBy":"4a19e429-8f13-478e-86d7-93adb7534524","modifiedBy":"5d6d68bd-a9e4-4353-87b1-aefb71fad819","created":"2026-08-12T06:05:45.320+00:00","modified":"2026-08-12T06:14:55.843+00:00","disabled":false,"contacts":[{"key":7104904,"type":"TECHNICAL_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Dr.
        Gautam Talukdar","position":[],"email":["wii@wii.gov.in"],"phone":[],"homepage":[],"address":[],"createdBy":"4a19e429-8f13-478e-86d7-93adb7534524","modifiedBy":"5d6d68bd-a9e4-4353-87b1-aefb71fad819","created":"2026-08-12T06:05:45.356+00:00","modified":"2026-08-12T06:14:55.865+00:00"}],"endpoints":[{"key":1312618,"type":"FEED","url":"http://ibif.gov.in:8080/ipt/rss.do","createdBy":"5d6d68bd-a9e4-4353-87b1-aefb71fad819","modifiedBy":"5d6d68bd-a9e4-4353-87b1-aefb71fad819","created":"2026-08-12T06:14:55.896+00:00","modified":"2026-08-12T06:14:55.896+00:00","machineTags":[]}],"machineTags":[],"tags":[],"identifiers":[],"comments":[]}]}'
  recorded_at: 2026-08-13 12:20:54
- request:
    method: GET
    uri: https://api.gbif.org/v1/installation?q=Estonia&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":3,"results":[{"key":"896898e8-c0ac-47a0-8f38-0f792fbe3343","organizationKey":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","type":"IPT_INSTALLATION","title":"GBIF
        Estonia","description":"Integrated Publishing Toolkit for GBI[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/installation?type=IPT_INSTALLATION&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":390,"results":[{"key":"5d6d68bd-a9e4-4353-87b1-aefb71fad819","organizationKey":"4a19e429-8f13-478e-86d7-93adb7534524","type":"IPT_INSTALLATION","title":"Wildlife
        Institute of India","description":"Wildlife[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/installation?modified=2023-04-01%2C%2A&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":214,"results":[{"key":"5d6d68bd-a9e4-4353-87b1-aefb71fad819","organizationKey":"4a19e429-8f13-478e-86d7-93adb7534524","type":"IPT_INSTALLATION","title":"Wildlife
        Institute of India","description":"Wild[...]
