http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?q=Kansas&limit=1
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":19,"results":[{"key":"956f3e1f-ebd2-48e3-a3ee-42bfb1950a47","code":"PECA","name":"Pratt
        Education Center and Aquarium","description":"The emphasis of the Pratt Education
        Center is to discover the wildlife of Kansas. Numerous displays, dioramas,
        and exhibits provide close encounters with the native birds, fish, mammals,
        and reptiles of Kansas.\n\nOur \"winter\" diorama provides a glimpse of how
        wildlife deals with the snow and cold of Kansas winters.\n\nThe grassland
        display depicts the three grasslands (short, mixed and tall) of Kansas and
        wildlife common to each region; including a rare black-footed ferret. Our
        raptor exhibit features owls, hawks, falcons, and kites; all with hooked beaks
        and sharp talons. The wetland wall display includes Cheyenne Bottoms, one
        of the five most important wetlands in North America.\n\nThe Aquarium Room
        contains twelve, 400-600 gallon aquariums; each displaying fish species native
        to Kansas or that have been successfully introduced into Kansas. On the east
        wall are two wall panels. One featuring the early history of the Pratt Hatchery.
        The other features the catfish rearing program along with a working model
        of Seth Way''s ingenious incubating trough.  Over one hundred and twenty-eight
        species of birds and their eggs","types":[],"active":true,"email":[],"phone":[],"homepage":"https://ksoutdoors.com/KDWP-Info/Locations/Museums-and-Nature-Centers/Pratt-Education-Center","catalogUrls":[],"apiUrls":[],"institutionalGovernances":[],"disciplines":[],"latitude":37.632106,"longitude":-98.693794,"mailingAddress":{"key":46553,"country":"US"},"address":{"key":46554,"province":"KS","country":"US"},"additionalNames":[],"createdBy":"GRBIO","modifiedBy":"gbif-collections","created":"2013-05-21T01:38:00.000+00:00","modified":"2024-05-23T12:37:31.514+00:00","tags":[],"identifiers":[{"key":350269,"type":"NCBI_BIOCOLLECTION","identifier":"945030","createdBy":"mgrosjean","created":"2023-08-15T11:08:06.053+00:00","primary":false},{"key":178149,"type":"GRSCICOLL_URI","identifier":"http://grscicoll.org/institution/pratt-education-center-and-aquarium","createdBy":"registry-migration-grbio.gbif.org","created":"2019-08-15T08:12:27.572+00:00","primary":false},{"key":169988,"type":"GRSCICOLL_URI","identifier":"http://grbio.org/institution/pratt-education-center-and-aquarium","createdBy":"registry-migration-grbio.gbif.org","created":"2019-08-15T08:12:20.362+00:00","primary":false},{"key":134524,"type":"GRSCICOLL_ID","identifier":"17487","createdBy":"registry-migration-grbio.gbif.org","created":"2018-11-15T10:23:01.527+00:00","primary":false},{"key":141621,"type":"GRSCICOLL_URI","identifier":"http://grbio.org/cool/sfj9-st9f","createdBy":"registry-migration-grbio.gbif.org","created":"2018-11-15T10:23:01.527+00:00","primary":false}],"contactPersons":[],"machineTags":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0}]}'
  recorded_at: 2025-09-04 07:12:55
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?numberSpecimens=1000%2C%2A&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":2819,"results":[{"key":"46f8cffb-33f8-4428-81db-8e97bf5c4dc2","code":"MNKNU","name":"Museum
        of Nature of the V.N. Karazin Kharkiv National University","types":["Museum"],"active":true,"email":["mnknu.gbif@gmail.com"],"phone":["+380971112471"],"homepage":"http://muzei-prirody.blogspot.com/","catalogUrls":[],"apiUrls":[],"institutionalGovernances":["State"],"disciplines":["Zoology","Geology","Paleontology"],"latitude":50.008000,"longitude":36.235000,"mailingAddress":{"key":56567,"address":"Trinkler
        str., 8","city":"Kharkiv","province":"Kharkiv","postalCode":"61000","country":"UA"},"address":{"key":56566,"address":"Trinkler
        str., 8","city":"Kharkiv","province":"Kharkiv","postalCode":"61000","country":"UA"},"additionalNames":["Музей
        Природи Харківського Національного Університету ім. В.Н. Каразіна"],"foundingDate":1807,"numberSpecimens":250000,"logoUrl":"https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgo4S7o98ocyTrkuVmKCmNMtEi0JEWR898y7DHH5lmywyrSsDkHobRxgYrlxlTIJtktYynl-q9yiNELNsTKSVliQeD1t5C8Ab7asv58LGN5WJtzYBdpOxwiZk04ufiKfJkqiVMdtrPvkgc/s1600/%25D0%2593%25D0%25B5%25D1%2580%25D0%25B1+%25D0%25BC%25D1%2583%25D0%25B7%25D0%25B5%25D1%258F+%25D0%25BC%25D0%25B0%25D0%25BB%25D0%25B5%25D0%25BD%25D1%258C%25D0%25BA%25D0%25B8%25D0%25B9.jpg","createdBy":"oleg.borodin","modifiedBy":"oleg.borodin","created":"2025-09-02T07:31:49.291+00:00","modifi[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?numberSpecimens=1000%2C%2A&occurrenceCount=10%2C%2A&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":1370,"results":[{"key":"e4cf34ea-6d63-4e05-a63a-ca62460f4a71","code":"TUR","name":"University
        of Turku Natural History Museum","description":"The Natural History Muse[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?limit=1&source=IH_IRN
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":3787,"results":[{"key":"473103ee-e47a-4656-8e08-d89be038999f","code":"PSGCASH","name":"PSG
        College of Arts & Science","types":[],"active":true,"email":["aryasindu001@gmail.com"],"phone":[],"catalogUrls":[],"apiUrls":[],"institutionalGovernances":[],"disciplines":[],"address":{"key":55986,"address":"PSG
        College of Arts & Science, Civil Aerodrome Post","city":"Coimbatore","province":"Tamil
        Nadu","postalCode":"641014","country":"IN"},"additionalNames":[],"createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2025-06-13T07:36:09.626+00:00","modified":"2025-06-13T07:36:09.626+00:00","tags":[],"identifiers":[{"key":442779,"type":"IH_IRN","identifier":"gbif:ih:irn:267351","createdBy":"mgrosjean","created":"2025-06-13T07:36:09.637+00:00","primary":false}],"contactPersons":[{"key":42806,"firstName":"Arya","lastName":"Sindhu","position":["Assistant
        Professor"],"phone":["8891017715"],"fax":[],"email":["aryasindu001@gmail.com"],"address":["Civil
        aerodrome Post"],"city":"Coimbatore","province":"Tamil Nadu","country":"IN","postalCode":"695011","primary":false,"taxonomicExpertise":[],"userIds":[{"type":"IH_IRN","id":"267377"}],"createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2025-06-13T07:36:09.648+00:00","modified":"2025-06-13T07:36:09.648+00:00"}],"machineTags":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"IH","masterSourceMetadata":{"key":9834,"source":"IH_IRN","sourceId":"267351","createdBy":"mgrosjean","created":"2025-06-13T07:36:09.644+00:00"},"displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0}]}'
  recorded_at: 2025-09-04 07:12:55
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?limit=1&country=US
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":2568,"results":[{"key":"200dfb5f-58ed-478d-8058-8ac565b509cf","code":"MEMZOO","name":"Memphis
        Zoo","description":"The Memphis Zoo is a zoo in Midtown, Memphis, Tennessee,
        United States. It is home to[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?typeSpecimenCount=10%2C100&limit=1
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":609,"results":[{"key":"967647c6-b1af-4f0a-9bb0-94d0dbb1ca9f","code":"UAT","name":"Universidad
        Autónoma de Tamaulipas","types":[],"active":true,"email":[],"phone":["[52]
        834 318 1800"],"homepage":"https://www.uat.edu.mx/","catalogUrls":[],"apiUrls":[],"institutionalGovernances":["Academic","Governmental"],"disciplines":[],"latitude":23.732532,"longitude":-99.144592,"mailingAddress":{"key":56451,"address":"Mariano
        Matamoros s/n, zona Centro","city":"Ciudad Victoria","province":"Tamaulipas","postalCode":"87000","country":"MX"},"address":{"key":56450,"address":"Mariano
        Matamoros s/n, zona Centro","city":"Ciudad Victoria","province":"Tamaulipas","postalCode":"87000","country":"MX"},"additionalNames":[],"createdBy":"vaguirojas","modifiedBy":"vaguirojas","created":"2025-08-25T22:28:20.656+00:00","modified":"2025-08-25T22:28:20.656+00:00","tags":[],"identifiers":[],"contactPersons":[],"machineTags":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":192,"typeSpecimenCount":16}]}'
  recorded_at: 2025-09-04 07:12:55
recorded_with: VCR-vcr/2.0.0
