http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/installation?limit=1
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":708,"results":[{"key":"6e2e8392-924d-43b7-854a-67f6005092b2","organizationKey":"f5fd374b-89cb-4ab6-b3eb-794c65f232c3","type":"IPT_INSTALLATION","title":"Sistema
        de Informação sobre a Biodiversidade Brasileira - OBIS Brasil","description":"O
        IPT (Integrated Publishing Toolkit) do OBIS – Brasil é a principal ferramenta
        de publicação e gestão de dados sobre biodiversidade marinha e costeira do
        país. O sistema integra o Brasil à rede global do Ocean Biodiversity Information
        System (OBIS), iniciativa coordenada pela Comissão Oceanográfica Intergovernamental
        (COI/UNESCO). O OBIS – Brasil é administrado pelo SiBBr (Sistema de Informação
        sobre a Biodiversidade Brasileira), que atua como o nó nacional responsável
        por promover a integração, padronização e disseminação dos dados marinhos
        produzidos por instituições de pesquisa, universidades e órgãos governamentais.
        Por meio do IPT, o OBIS – Brasil, sob coordenação do SiBBr, assegura que os
        dados marinhos nacionais sejam acessíveis, reutilizáveis e integrados à rede
        global, fortalecendo a ciência aberta e subsidiando políticas públicas voltadas
        à conservação da biodiversidade oceânica, à gestão de recursos pesqueiros
        e ao monitoramento ambiental.","createdBy":"f5fd374b-89cb-4ab6-b3eb-794c65f232c3","modifiedBy":"f5fd374b-89cb-4ab6-b3eb-794c65f232c3","created":"2025-11-02T18:50:34.920+00:00","modified":"2025-11-02T18:50:34.920+00:00","disabled":false,"contacts":[{"key":6312340,"type":"TECHNICAL_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Equipe
        de dados SiBBr","position":[],"email":["atendimento_sibbr@rnp.br"],"phone":[],"homepage":[],"address":[],"createdBy":"f5fd374b-89cb-4ab6-b3eb-794c65f232c3","modifiedBy":"f5fd374b-89cb-4ab6-b3eb-794c65f232c3","created":"2025-11-02T18:50:34.942+00:00","modified":"2025-11-02T18:50:34.942+00:00"}],"endpoints":[{"key":1158958,"type":"FEED","url":"https://ipt.sibbr.gov.br/obis-brasil/rss.do","createdBy":"f5fd374b-89cb-4ab6-b3eb-794c65f232c3","modifiedBy":"f5fd374b-89cb-4ab6-b3eb-794c65f232c3","created":"2025-11-02T18:50:34.961+00:00","modified":"2025-11-02T18:50:34.961+00:00","machineTags":[]}],"machineTags":[],"tags":[],"identifiers":[],"comments":[]}]}'
  recorded_at: 2025-11-13 08:04:44
- request:
    method: GET
    uri: https://api.gbif.org/v1/installation?q=Estonia&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":3,"results":[{"key":"896898e8-c0ac-47a0-8f38-0f792fbe3343","organizationKey":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","type":"IPT_INSTALLATION","title":"GBIF
        Estonia","description":"Integrated Publishing Toolkit for GBI[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/installation?type=IPT_INSTALLATION&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":376,"results":[{"key":"6e2e8392-924d-43b7-854a-67f6005092b2","organizationKey":"f5fd374b-89cb-4ab6-b3eb-794c65f232c3","type":"IPT_INSTALLATION","title":"Sistema
        de Informação sobre a Biodiversidade Brasile[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/installation?modified=2023-04-01%2C%2A&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":170,"results":[{"key":"6e2e8392-924d-43b7-854a-67f6005092b2","organizationKey":"f5fd374b-89cb-4ab6-b3eb-794c65f232c3","type":"IPT_INSTALLATION","title":"Sistema
        de Informação sobre a Biodiversidade Bra[...]
