http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/installation/2e029a0c-87af-42e6-87d7-f38a50b78201/contact?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rgbif/2.1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"key":19952,"type":"TECHNICAL_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Biodiversity
        Informatics Manager","position":[],"email":["bdim@ansp.org"],"phone":[],"homepage":[],"address":[],"createdBy":"registry-migration.gbif.org","modifiedBy":"2e029a0c-87af-42e6-87d7-f38a50b78201","created":"2013-07-22T18:17:06.000+0000","modified":"2014-11-10T14:00:07.894+0000"}]'
  recorded_at: 2020-02-12 18:19:39 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
