http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/installation/2e029a0c-87af-42e6-87d7-f38a50b78201/contact?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/installation/2e029a0c-87af-42e6-87d7-f38a50b78201/contact?limit=100
    body:
      encoding: UTF-8
      string: '[{"key":19952,"type":"TECHNICAL_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Biodiversity
        Informatics Manager","position":[],"email":["bdim@ansp.org"],"phone":[],"homepage":[],"address":[],"createdBy":"registry-migration.gbif.org","modifiedBy":"2e029a0c-87af-42e6-87d7-f38a50b78201","created":"2013-07-22T18:17:06.000+0000","modified":"2014-11-10T14:00:07.894+0000"}]'
  recorded_at: 2018-10-09 20:58:49 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
