http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?q=Kansas&limit=1
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":19,"results":[{"key":"956f3e1f-ebd2-48e3-a3ee-42bfb1950a47","code":"PECA","name":"Pratt
        Education Center and Aquarium","description":"The emphasis of the Pratt Education
        Center is to discover the wildlife of Kansas. Numerous displays, dioramas,
        and exhibits provide close encounters with the native birds, fish, mammals,
        and reptiles of Kansas.\n\nOur \"winter\" diorama provides a glimpse of how
        wildlife deals with the snow and cold of Kansas winters.\n\nThe grassland
        display depicts the three grasslands (short, mixed and tall) of Kansas and
        wildlife common to each region; including a rare black-footed ferret. Our
        raptor exhibit features owls, hawks, falcons, and kites; all with hooked beaks
        and sharp talons. The wetland wall display includes Cheyenne Bottoms, one
        of the five most important wetlands in North America.\n\nThe Aquarium Room
        contains twelve, 400-600 gallon aquariums; each displaying fish species native
        to Kansas or that have been successfully introduced into Kansas. On the east
        wall are two wall panels. One featuring the early history of the Pratt Hatchery.
        The other features the catfish rearing program along with a working model
        of Seth Way''s ingenious incubating trough.  Over one hundred and twenty-eight
        species of birds and their eggs","types":[],"active":true,"email":[],"phone":[],"homepage":"https://ksoutdoors.com/KDWP-Info/Locations/Museums-and-Nature-Centers/Pratt-Education-Center","catalogUrls":[],"apiUrls":[],"institutionalGovernances":[],"disciplines":[],"latitude":37.632106,"longitude":-98.693794,"mailingAddress":{"key":46553,"country":"US"},"address":{"key":46554,"province":"KS","country":"US"},"additionalNames":[],"createdBy":"GRBIO","modifiedBy":"gbif-collections","created":"2013-05-21T01:38:00.000+00:00","modified":"2024-05-23T12:37:31.514+00:00","tags":[],"identifiers":[{"key":350269,"type":"NCBI_BIOCOLLECTION","identifier":"945030","createdBy":"mgrosjean","created":"2023-08-15T11:08:06.053+00:00","primary":false},{"key":178149,"type":"GRSCICOLL_URI","identifier":"http://grscicoll.org/institution/pratt-education-center-and-aquarium","createdBy":"registry-migration-grbio.gbif.org","created":"2019-08-15T08:12:27.572+00:00","primary":false},{"key":169988,"type":"GRSCICOLL_URI","identifier":"http://grbio.org/institution/pratt-education-center-and-aquarium","createdBy":"registry-migration-grbio.gbif.org","created":"2019-08-15T08:12:20.362+00:00","primary":false},{"key":134524,"type":"GRSCICOLL_ID","identifier":"17487","createdBy":"registry-migration-grbio.gbif.org","created":"2018-11-15T10:23:01.527+00:00","primary":false},{"key":141621,"type":"GRSCICOLL_URI","identifier":"http://grbio.org/cool/sfj9-st9f","createdBy":"registry-migration-grbio.gbif.org","created":"2018-11-15T10:23:01.527+00:00","primary":false}],"contactPersons":[],"machineTags":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0}]}'
  recorded_at: 2025-08-04 13:48:52
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?numberSpecimens=1000%2C%2A&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":2818,"results":[{"key":"c298021c-eaea-4bf8-bf15-5a8c5f768aa5","code":"CEBREM","name":"Center
        for Biodiversity Research and Extension in Mindanao (CEBREM)","description":"The
        Center fo[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?numberSpecimens=1000%2C%2A&occurrenceCount=10%2C%2A&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":1366,"results":[{"key":"e4cf34ea-6d63-4e05-a63a-ca62460f4a71","code":"TUR","name":"University
        of Turku Natural History Museum","description":"The Natural History Muse[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?limit=1&source=IH_IRN
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":3788,"results":[{"key":"473103ee-e47a-4656-8e08-d89be038999f","code":"PSGCASH","name":"PSG
        College of Arts & Science","types":[],"active":true,"email":["aryasindu001@gmail.com"],"phone":[],"catalogUrls":[],"apiUrls":[],"institutionalGovernances":[],"disciplines":[],"address":{"key":55986,"address":"PSG
        College of Arts & Science, Civil Aerodrome Post","city":"Coimbatore","province":"Tamil
        Nadu","postalCode":"641014","country":"IN"},"additionalNames":[],"createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2025-06-13T07:36:09.626+00:00","modified":"2025-06-13T07:36:09.626+00:00","tags":[],"identifiers":[{"key":442779,"type":"IH_IRN","identifier":"gbif:ih:irn:267351","createdBy":"mgrosjean","created":"2025-06-13T07:36:09.637+00:00","primary":false}],"contactPersons":[{"key":42806,"firstName":"Arya","lastName":"Sindhu","position":["Assistant
        Professor"],"phone":["8891017715"],"fax":[],"email":["aryasindu001@gmail.com"],"address":["Civil
        aerodrome Post"],"city":"Coimbatore","province":"Tamil Nadu","country":"IN","postalCode":"695011","primary":false,"taxonomicExpertise":[],"userIds":[{"type":"IH_IRN","id":"267377"}],"createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2025-06-13T07:36:09.648+00:00","modified":"2025-06-13T07:36:09.648+00:00"}],"machineTags":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"IH","masterSourceMetadata":{"key":9834,"source":"IH_IRN","sourceId":"267351","createdBy":"mgrosjean","created":"2025-06-13T07:36:09.644+00:00"},"displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0}]}'
  recorded_at: 2025-08-04 13:48:53
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?limit=1&country=US
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":2568,"results":[{"key":"200dfb5f-58ed-478d-8058-8ac565b509cf","code":"MEMZOO","name":"Memphis
        Zoo","description":"The Memphis Zoo is a zoo in Midtown, Memphis, Tennessee,
        United States. It is home to more than 3,500 animals representing over 500
        different species. ","types":["ZooAquarium"],"active":true,"email":[],"phone":[],"homepage":"https://www.memphiszoo.org/","catalogUrls":[],"apiUrls":[],"institutionalGovernances":["NonProfit"],"disciplines":["Zoology","Biological"],"latitude":35.150331,"longitude":-89.993305,"mailingAddress":{"key":55998,"address":"2000
        Prentiss Place","city":"Memphis","province":"Tennessee","postalCode":"38112","country":"US"},"address":{"key":55997,"address":"2000
        Prentiss Place","city":"Memphis","province":"Tennessee","postalCode":"38112","country":"US"},"additionalNames":["Memphis
        Zoological Society"],"foundingDate":1906,"numberSpecimens":3500,"logoUrl":"https://prod.speakcdn.com/sitefiles/2879/images/white-logo.svg","createdBy":"catchapman","modifiedBy":"catchapman","created":"2025-06-17T15:15:27.291+00:00","modified":"2025-06-17T15:15:27.291+00:00","tags":[],"identifiers":[],"contactPersons":[{"key":42822,"firstName":"Sinlan","lastName":"Poo","position":["Curator
        of Research"],"phone":[],"fax":[],"email":["spoo@memphiszoo.org"],"address":[],"city":"Memphis","province":"Tennessee","country":"US","primary":true,"taxonomicExpertise":[],"userIds":[{"type":"ORCID","id":"https://orcid.org/0000-0002-7767-8173"}],"createdBy":"dbloom","modifiedBy":"dbloom","created":"2025-06-18T22:37:57.149+00:00","modified":"2025-06-18T22:37:57.149+00:00"}],"machineTags":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0}]}'
  recorded_at: 2025-08-04 13:48:53
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?typeSpecimenCount=10%2C100&limit=1
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":604,"results":[{"key":"29658e18-1cef-4773-b81a-92111c9d288f","code":"CBC","name":"Universidade
        do Estado de Minas Gerais","types":[],"active":true,"email":["mcbp.passos@uemg.br"],"phone":["[5[...]
