http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?q=Kansas&limit=1
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":20,"results":[{"key":"956f3e1f-ebd2-48e3-a3ee-42bfb1950a47","code":"PECA","name":"Pratt
        Education Center and Aquarium","description":"The emphasis of the Pratt Education
        Center is to discover the wildlife of Kansas. Numerous displays, dioramas,
        and exhibits provide close encounters with the native birds, fish, mammals,
        and reptiles of Kansas.\n\nOur \"winter\" diorama provides a glimpse of how
        wildlife deals with the snow and cold of Kansas winters.\n\nThe grassland
        display depicts the three grasslands (short, mixed and tall) of Kansas and
        wildlife common to each region; including a rare black-footed ferret. Our
        raptor exhibit features owls, hawks, falcons, and kites; all with hooked beaks
        and sharp talons. The wetland wall display includes Cheyenne Bottoms, one
        of the five most important wetlands in North America.\n\nThe Aquarium Room
        contains twelve, 400-600 gallon aquariums; each displaying fish species native
        to Kansas or that have been successfully introduced into Kansas. On the east
        wall are two wall panels. One featuring the early history of the Pratt Hatchery.
        The other features the catfish rearing program along with a working model
        of Seth Way''s ingenious incubating trough.  Over one hundred and twenty-eight
        species of birds and their eggs","types":[],"active":true,"email":[],"phone":[],"homepage":"https://ksoutdoors.com/KDWP-Info/Locations/Museums-and-Nature-Centers/Pratt-Education-Center","catalogUrls":[],"apiUrls":[],"institutionalGovernances":[],"disciplines":[],"latitude":37.632106,"longitude":-98.693794,"mailingAddress":{"key":46553,"country":"US"},"address":{"key":46554,"province":"KS","country":"US"},"additionalNames":[],"createdBy":"GRBIO","modifiedBy":"gbif-collections","created":"2013-05-21T01:38:00.000+00:00","modified":"2024-05-23T12:37:31.514+00:00","tags":[],"identifiers":[{"key":350269,"type":"NCBI_BIOCOLLECTION","identifier":"945030","createdBy":"mgrosjean","created":"2023-08-15T11:08:06.053+00:00","primary":false},{"key":178149,"type":"GRSCICOLL_URI","identifier":"http://grscicoll.org/institution/pratt-education-center-and-aquarium","createdBy":"registry-migration-grbio.gbif.org","created":"2019-08-15T08:12:27.572+00:00","primary":false},{"key":169988,"type":"GRSCICOLL_URI","identifier":"http://grbio.org/institution/pratt-education-center-and-aquarium","createdBy":"registry-migration-grbio.gbif.org","created":"2019-08-15T08:12:20.362+00:00","primary":false},{"key":134524,"type":"GRSCICOLL_ID","identifier":"17487","createdBy":"registry-migration-grbio.gbif.org","created":"2018-11-15T10:23:01.527+00:00","primary":false},{"key":141621,"type":"GRSCICOLL_URI","identifier":"http://grbio.org/cool/sfj9-st9f","createdBy":"registry-migration-grbio.gbif.org","created":"2018-11-15T10:23:01.527+00:00","primary":false}],"contactPersons":[],"machineTags":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0}]}'
  recorded_at: 2026-10-01 08:09:44
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?numberSpecimens=1000%2C%2A&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":2838,"results":[{"key":"0da8ecef-02b2-49ce-8ea6-bad0e42c3f50","code":"CNP","name":"Instituto
        de Diversidad y Evolución Austral (IDEAus)-CONICET (Consejo Nacional de Investigaciones
        Científicas y Técnicas)","types":["OtherTypeResearchInstitutionBiorepository"],"active":true,"email":["secretaria-ideaus@cenpat-conicet.gob.ar"],"phone":["+54
        280 488-3184"],"homepage":"https://ideaus.conicet.gov.ar/","catalogUrls":[],"apiUrls":[],"institutionalGovernances":["Academic"],"disciplines":["Zoology","Taxonomy","Parasitology","MolecularBiology","EvolutionaryBiology","Anthropology"],"latitude":-42.785823,"longitude":-65.007648,"mailingAddress":{"key":60046,"address":"Bv.
        Almirante Brown 2915","city":"Puerto Madryn","province":"Chubut","postalCode":"9120"},"address":{"key":60045,"address":"Bv.
        Almirante Brown 2915","city":"Puerto Madryn","province":"Chubut","postalCode":"9120","country":"AR"},"additionalNames":[],"foundingDate":2011,"numberSpecimens":10000,"createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2026-09-25T12:53:15.768+00:00","modified":"2026-09-25T12:53:15.768+00:00","tags":[],"identifiers":[],"contactPersons":[],"machineTags":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0},{"key":"0928ba2f-6e67-41a3-946a-b9a1a97a6e2a","code":"BSI","name":"Bioeconomy
        Science Institute","description":"The Bioeconomy Scien[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?numberSpecimens=1000%2C%2A&occurrenceCount=10%2C%2A&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":1491,"results":[{"key":"a2dc9223-d557-4fcf-9c86-c5d2aa34f198","code":"UQUH","name":"Umm
        Al-Qura University","description":"Umm al-Qura University is a public universi[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?limit=1&source=IH_IRN
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":3826,"results":[{"key":"fa172ba1-5478-429a-a185-66c147f61594","code":"UCBOTH","name":"University
        of Calabar, Nigeria","types":[],"active":true,"email":["akomayeferd@unical.edu.ng"],"phone":["234
        8037223608"],"catalogUrls":[],"apiUrls":[],"institutionalGovernances":[],"disciplines":[],"address":{"key":60052,"address":"Department
        of Botany, University of Calabar","city":"Calabar","province":"Cross River
        State","postalCode":"540271","country":"NG"},"additionalNames":[],"createdBy":"laban","modifiedBy":"laban","created":"2026-09-29T17:02:44.621+00:00","modified":"2026-09-29T17:02:44.621+00:00","tags":[],"identifiers":[{"key":488960,"type":"IH_IRN","identifier":"gbif:ih:irn:270082","createdBy":"laban","created":"2026-09-29T17:02:44.643+00:00","primary":false}],"contactPersons":[{"key":57745,"firstName":"Ferdinand
        Akpo","lastName":"Akomaye","position":["Lecturer/Curator"],"phone":[],"fax":[],"email":["akomayeferd@unical.edu.ng"],"address":[],"city":"Calabar","province":"Cross
        River State","country":"NG","primary":false,"taxonomicExpertise":[],"userIds":[{"type":"IH_IRN","id":"270083"}],"createdBy":"laban","modifiedBy":"laban","created":"2026-09-29T17:02:44.660+00:00","modified":"2026-09-29T17:02:44.660+00:00"}],"machineTags":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"IH","masterSourceMetadata":{"key":10291,"source":"IH_IRN","sourceId":"270082","createdBy":"laban","created":"2026-09-29T17:02:44.652+00:00"},"displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0}]}'
  recorded_at: 2026-10-01 08:09:45
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?limit=1&country=US
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":2596,"results":[{"key":"e078ec11-e461-4020-880c-e48ff2143e35","code":"ACBC","name":"Arkansas
        Center for Biodiversity Collections","description":"The Arkansas Center for
        Biodiversity Collections is an[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?typeSpecimenCount=10%2C100&limit=1
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":779,"results":[{"key":"3060e3e2-133e-450d-b82d-0fb5a2978ddc","code":"KCMI","name":"Kashihara
        City Museum Of Insect","types":["Museum"],"active":true,"email":[],"phone":["0744-24-7246"],"homepage":"https://www.city.kashihara.nara.jp/article?id=5c52229d65909e2ebea90610","catalogUrls":[],"apiUrls":[],"institutionalGovernances":[],"disciplines":[],"latitude":34.490596,"longitude":135.826787,"address":{"key":58816,"address":"Minamiyamacho","city":"Kashihara
        Shi","province":"Nara Ken","postalCode":"634-0024","country":"JP"},"additionalNames":[],"createdBy":"mgrosjean","modifiedBy":"mhoefft","created":"2026-04-22T08:43:25.107+00:00","modified":"2026-04-23T13:16:45.726+00:00","tags":[],"identifiers":[{"key":467104,"type":"ISIL","identifier":"JP-2003268","createdBy":"mgrosjean","created":"2026-04-22T08:43:25.162+00:00","primary":false}],"contactPersons":[],"machineTags":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":55216,"typeSpecimenCount":37}]}'
  recorded_at: 2026-10-01 08:09:45
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?limit=1&discipline=Paleontology
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":98,"results":[{"key":"143a7540-7565-4606-a474-f285ee62e72f","code":"IGL-UNAM","name":"Museo
        de Geología, Instituto de Geología, Universidad Nacional Autónoma de México","types":["Museum"],"activ[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?limit=1&contactUserId=1
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":true,"count":0,"results":[]}'
  recorded_at: 2026-10-01 08:09:45
- request:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?contactEmail=info%40ynhm.org&limit=1
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":true,"count":0,"results":[]}'
  recorded_at: 2026-10-01 08:09:45
recorded_with: VCR-vcr/2.0.0
