http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/installation/deleted?limit=2
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":1072,"results":[{"key":"99359045-8574-4e9a-9754-360021930292","organizationKey":"b648db34-3bf9-45eb-a65b-8176a3c3be88","type":"SYMBIOTA_INSTALLATION","title":"MyCoPortal","createdBy":"symbiotamycoportal","modifiedBy":"mgrosjean","created":"2019-02-01T13:29:37.100+0000","modified":"2019-02-11T08:48:54.362+0000","deleted":"2019-02-11T08:48:54.390+0000","disabled":false,"contacts":[],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[],"comments":[]},{"key":"4f4e7439-d718-4908-86c2-3d596b3246b2","organizationKey":"7d77970a-28ba-43e3-9dc8-de37db3e1894","type":"IPT_INSTALLATION","title":"GBIF
        Mozambique IPT","description":"GBIF Mozambique IPT promove a partilha livre
        e aberta dos dados primários de biodiversidade e enriquece o conhecimento
        da biodiversidade moçambicana e mundial. Promove a integração de editores
        de dados moçambicanos e recursos de informação sobre biodiversidade na rede
        GBIF, bem como a disponibilidade de dados de biodiversidade para a investigação
        científica e as necessidades societais.\r\n\r\nVisões:\r\na) promover a conservação
        da flora, fauna e [...]
