http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/installation?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/installation?limit=100
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":false,"count":502,"results":[{"key":"82d6992a-b20b-4e74-b6ac-6b971b2c485d","organizationKey":"4fd82480-ea1c-11da-8db4-b8a03c50a862","type":"IPT_INSTALLATION","title":"National
        Museum of Nature and Science, Japan","description":"This is a default IPT
        hosted by National Museum of Nature and Science, Japan.","createdBy":"4fd82480-ea1c-11da-8db4-b8a03c50a862","modifiedBy":"4fd82480-ea1c-11da-8db4-b8a03c50a862","created":"2018-10-04T07:36:44.219+0000","modified":"2018-10-04T07:36:44.219+0000","disabled":false,"contacts":[{"key":1046316,"type":"TECHNICAL_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Hosoya
        Tsuyoshi","position":[],"email":["hosoya@kahaku.go.jp"],"phone":[],"homepage":[],"address":[],"createdBy":"4fd82480-ea1c-11da-8db4-b8a03c50a862","modifiedBy":"4fd82480-ea1c-11da-8db4-b8a03c50a862","created":"2018-10-04T07:36:44.308+0000","modified":"2018-10-04T07:36:44.308+0000"}],"endpoints":[{"key":335584,"type":"FEED","url":"http://science-net.kahaku.go.jp/ipt2/rss.do","createdBy":"4fd82480-ea1c-11da-8db4-b8a03c50a862","modifiedBy":"4fd82480-ea1c-11da-8db4-b8a03c50a862","created":"2018-10-04T07:36:44.396+0000","modified":"2018-10-04T07:36:44.396+0000","machineTags":[]}],"machineTags":[],"tags":[],"identifiers":[],"comments":[]},{"key":"8569325a-0cf5-45cf-a1b3-8f2abef355dd","organizationKey":"fbca90e3-8aed-48b1-84e3-369afbd000ce","type":"HTTP_INSTALLATION","title":"Orphan
        datasets repository","createdBy":"jlegind","modifiedBy":"jlegind","created":"2018-10-03T14:29:38.395+0000","modified":"2018-10-03T14:29:38.395+0000","disabled":true,"contacts":[],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[],"comments":[]},{"key":"3d54a439-3262-47e0-9fa7-cd1a19ada395","organizationKey":"cd9be75a-6884-4655-a827-[...]
