http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/installation?limit=1
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":700,"results":[{"key":"122fe53a-3ec2-45b8-8b27-0e76863039e0","organizationKey":"23e067c0-a255-11da-beae-b8a03c50a862","type":"HTTP_INSTALLATION","title":"Swiss
        Node : DXT","createdBy":"sofiawyler","modifiedBy":"sofiawyler","created":"2025-09-03T13:31:20.387+00:00","modified":"2025-09-03T13:31:20.387+00:00","disabled":false,"contacts":[],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[],"comments":[]}]}'
  recorded_at: 2025-09-04 07:12:54
- request:
    method: GET
    uri: https://api.gbif.org/v1/installation?q=Estonia&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":3,"results":[{"key":"896898e8-c0ac-47a0-8f38-0f792fbe3343","organizationKey":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","type":"IPT_INSTALLATION","title":"GBIF
        Estonia","description":"Integrated Publishing Toolkit for GBIF Estonia","createdBy":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","modifiedBy":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","created":"2025-05-30T13:17:32.720+00:00","modified":"2025-05-30T13:17:32.720+00:00","disabled":false,"contacts":[{"key":6120570,"type":"TECHNICAL_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Kristjan
        Adojaan","position":[],"email":["kristjan.adojaan@ut.ee"],"phone":[],"homepage":[],"address":[],"createdBy":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","modifiedBy":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","created":"2025-05-30T13:17:32.737+00:00","modified":"2025-05-30T13:17:32.737+00:00"}],"endpoints":[{"key":1111486,"type":"FEED","url":"https://cloud.gbif.org/ee/rss.do","createdBy":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","modifiedBy":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","created":"2025-05-30T13:17:32.755+00:00","modified":"2025-05-30T13:17:32.755+00:00","machineTags":[]}],"machineTags":[],"tags":[],"identifiers":[],"comments":[]},{"key":"60433990-f762-11e1-a439-00145eb45e9a","organizationKey":"70488160-b003-11d8-a8af-b8a03c50a862","type":"BIOCASE_INSTALLATION","title":"BioCASe
        Installation Geocollections of Estonia","[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/installation?type=IPT_INSTALLATION&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":374,"results":[{"key":"7ae54f0b-d21b-47d4-bb81-9615861f4e73","organizationKey":"866b32c9-6990-4c4e-8dea-ec9a96c9f1a5","type":"IPT_INSTALLATION","title":"Wings
        PF IPT installation","description":"The IPT in[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/installation?modified=2023-04-01%2C%2A&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":161,"results":[{"key":"122fe53a-3ec2-45b8-8b27-0e76863039e0","organizationKey":"23e067c0-a255-11da-beae-b8a03c50a862","type":"HTTP_INSTALLATION","title":"Swiss
        Node : DXT","createdBy":"sofiawyler","mod[...]
