http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/installation?limit=1
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":732,"results":[{"key":"a3c51b22-e3ff-4ddf-a82e-13f442763e86","organizationKey":"f8dbeca7-3131-41ab-872f-bfad71041f3f","type":"HTTP_INSTALLATION","title":"ServCat
        U.S. Fish and Wildlife Service","description":"USFWS HTTP installation for
        ServCat","createdBy":"estebangbif","modifiedBy":"estebangbif","created":"2026-09-30T13:47:49.996+00:00","modified":"2026-09-30T13:47:49.996+00:00","disabled":false,"contacts":[],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[],"comments":[{"key":47441,"content":"2026-09-30
        [EMH] Created HTTP installation by publisher request","createdBy":"estebangbif","modifiedBy":"estebangbif","created":"2026-09-30T13:48:25.533+00:00","modified":"2026-09-30T13:48:25.533+00:00"}]}]}'
  recorded_at: 2026-10-01 08:09:43
- request:
    method: GET
    uri: https://api.gbif.org/v1/installation?q=Estonia&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":3,"results":[{"key":"896898e8-c0ac-47a0-8f38-0f792fbe3343","organizationKey":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","type":"IPT_INSTALLATION","title":"GBIF
        Estonia","description":"Integrated Publishing Toolkit for GBIF Estonia","createdBy":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","modifiedBy":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","created":"2025-05-30T13:17:32.720+00:00","modified":"2025-05-30T13:17:32.720+00:00","disabled":false,"contacts":[{"key":6120570,"type":"TECHNICAL_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Kristjan
        Adojaan","position":[],"email":["kristjan.adojaan@ut.ee"],"phone":[],"homepage":[],"address":[],"createdBy":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","modifiedBy":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","created":"2025-05-30T13:17:32.737+00:00","modified":"2025-05-30T13:17:32.737+00:00"}],"endpoints":[{"key":1111486,"type":"FEED","url":"https://cloud.gbif.org/ee/rss.do","createdBy":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","modifiedBy":"0870a77b-587c-4369-a8ed-bc3d347b8e1c","created":"2025-05-30T13:17:32.755+00:00","modified":"2025-05-30T13:17:32.755+00:00","machineTags":[]}],"machineTags":[],"tags":[],"identifiers":[],"comments":[]},{"key":"60433990-f762-11e1-a439-00145eb45e9a","organizationKey":"70488160-b003-11d8-a8af-b8a03c50a862","type":"BIOCASE_INSTALLATION","title":"BioCASe
        Installation Geocollections of Estonia","[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/installation?type=IPT_INSTALLATION&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":392,"results":[{"key":"3585dc96-2b1f-476d-86dc-c11807f4ce79","organizationKey":"95c2411e-2dfb-435b-977a-3a51173f8eab","type":"IPT_INSTALLATION","title":"Atlanta
        Botanical Garden Department of Conservation [...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/installation?modified=2023-04-01%2C%2A&limit=2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":221,"results":[{"key":"a3c51b22-e3ff-4ddf-a82e-13f442763e86","organizationKey":"f8dbeca7-3131-41ab-872f-bfad71041f3f","type":"HTTP_INSTALLATION","title":"ServCat
        U.S. Fish and Wildlife Service","descri[...]
