http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5231190/media?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"type":"StillImage","format":"image/jpeg","source":"Checklist
        Dutch Caribbean Species Register","created":"2017-01-05T00:00:00.000+00:00","license":"CC
        BY-NC-ND","rightsHolder":"Michiel Oversteegen","taxonKey":5231190,"sourceTaxonKey":181869959,"identifier":"https://images.naturalis.nl/original/csr%2FDML_6601.jpg"},{"type":"StillImage","format":"image/jpeg","source":"Checklist
        Dutch Caribbean Species Register","created":"2016-10-19T00:00:00.000+00:00","license":"CC
        BY-NC-ND","rightsHolder":"Michiel Oversteegen","taxonKey":5231190,"sourceTaxonKey":181869959,"identifier":"https://images.naturalis.nl/original/csr%2FD80_8153.jpg"},{"type":"StillImage","format":"image/jpeg","source":"Checklist
        Dutch Caribbean Species Register"[...]
[...]
