http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5231190/media?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.4.0.95)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"type":"StillImage","format":"image/jpeg","identifier":"https://images.naturalis.nl/original/112437.jpg","source":"Checklist
        Dutch Species Register - Nederlands Soortenregister","created":"2008-11-26T00:00:00.000+0000","license":"All
        rights reserved","rightsHolder":"Henk Olieman","taxonKey":5231190,"sourceTaxonKey":152437165},{"type":"StillImage","format":"image/jpeg","identifier":"https://images.naturalis.nl/original/113397.jpg","source":"Checklist
        Dutch Species Register - Nederlands Soortenregister","created":"2007-05-04T00:00:00.000+0000","license":"All
        rights reserved","rightsHolder":"Dirk Huitzing","taxonKey":5231190,"sourceTaxonKey":152437165},{"type":"StillImage","format":"image/jpeg","identifier":"https://images.naturalis.nl/original/113398.jpg","source":"Checklist
        Dutch Spe[...]
[...]
