http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/5231190/typeSpecimens?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[]}'
  recorded_at: 2025-09-04 07:14:42
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/5097652/typeSpecimens?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[]}'
  recorded_at: 2025-09-04 07:14:42
recorded_with: VCR-vcr/2.0.0
