http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Helianthus+annuus&taxonRank=species&verbose=FALSE&checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"3K5TS","name":"Helianthus annuus L.","canonicalName":"Helianthus
        annuus","authorship":"L.","rank":"SPECIES","code":"BOTANICAL","status":"ACCEPTED","genericName":"Helianthus","specificEpithet":"annuus","type":"SCIENTIFIC","formattedName":"<i>Helianthus</i>
        <i>annuus</i> L."},"classification":[{"key":"CS5HF","name":"Eukaryota","rank":"DOMAIN"},{"key":"P","name":"Plantae","rank":"KINGDOM"},{"key":"CMQ8S","name":"Pteridobiotina","rank":"SUBKINGDOM"},{"key":"TP","name":"Tracheophyta","rank":"PHYLUM"},{"key":"MG","name":"Magnoliopsida","rank":"CLASS"},{"key":"ST","name":"Asterales","rank":"ORDER"},{"key":"622TP","name":"Asteraceae","rank":"FAMILY"},{"key":"J6T","name":"Asteroideae","rank":"SUBFAMILY"},{"key":"KVBCQ","name":"Heliantheae","rank":"TRIBE"},{"key":"KVBFN","name":"Helianthinae","rank":"SUBTRIBE"},{"key":"62TKF","name":"Helianthus","rank":"GENUS"},{"key":"3K5TS","name":"Helianthus
        annuus","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"timeTaken":8,"timings":{"nameNRank":0,"sciNameMatch":9,"nameParse":1,"luceneMatch":8}},"additionalStatus":[{"clbDatasetKey":"53131","datasetAlias":"IUCN","datasetKey":"19491596-35ae-4a91-9a98-85cf505f1bd3","status":"LEAST_CONCERN","statusCode":"LC","sourceId":"19073408"}],"synonym":false,"left":3320794,"right":3320794}'
  recorded_at: 2026-07-09 08:21:16
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Helianthus+annuus&taxonRank=species&verbose=TRUE
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"9206251","name":"Helianthus annuus L.","canonicalName":"Helianthus
        annuus","authorship":"L.","rank":"SPECIES","status":"ACCEPTED","genericName":"Helianthus","specificEpithet":"annuus","type":"SCIENTIFIC","formattedName":"<i>Helianthus</i>
        <i>annuus</i> L."},"classification":[{"key":"6","name":"Plantae","rank":"KINGDOM"},{"key":"7707728","name":"Tracheophyta","rank":"PHYLUM"},{"key":"220","name":"Magnoliopsida","rank":"CLASS"},{"key":"414","name":"Asterales","rank":"ORDER"},{"key":"3065","name":"Asteraceae","rank":"FAMILY"},{"key":"3119134","name":"Helianthus","rank":"GENUS"},{"key":"9206251","name":"Helianthus
        annuus","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"note":"Similarity:
        name=110; authorship=0; classification=-2; rank=6; status=1; score=115; nextMatch=5","timeTaken":9,"alternatives":[{"usage":{"key":"4252034","name":"Helianthus
        canus (Britton) Wooton & Standl.","canonicalName":"Helianthus canus","authorship":"(Britton)
        Wooton & Standl.","rank":"SPECIES","code":"BOTANICAL","status":"SYNONYM","genericName":"Helianthus","specificEpithet":"canus","type":"SCIENTIFIC","formattedName":"<i>Helianthus</i>
        <i>canus</i> (Britton) Wooton & Standl."},"acceptedUsage":{"key":"4250528","name":"Helianthus
        petiolaris var. canescens A.Gray","canonicalName":"Helianthus petiolaris canescens","authorship":"A.Gray","rank":"VARIETY","genericName":"Helianthus","specificEpithet":"petiolaris","infraspecificEpithet":"canescens","type":"SCIENTIFIC","formattedName":"<i>Helianthus</i>
        <i>petiolaris</i> var. <i>canescens</i> A.Gray"},"classification":[{"key":"6","name":"Plantae","rank":"KINGDOM"},{"key":"7707728","name":"Tracheophyta","rank":"PHYLUM"},{"key":"220","name":"Magnoliopsida","rank":"CLASS"},{"key":"414","name":"Asterales","rank":"ORDER"},{"key":"3065","name":"Asteraceae","rank":"FAMILY"},{"key":"3119134","name":"Helianthus","rank":"GENUS"},{"key":"3119225","name":"Helianthus
        petiolaris","rank":"SPECIES"},{"key":"4250528","name":"Helianthus petiolaris
        canescens","rank":"VARIETY"}],"diagnostics":{"matchType":"VARIANT","confidence":9,"note":"Similarity:
        name=5; authorship=0; classification=-2; rank=6; status=0; score=9","timeTaken":0},"synonym":true}],"timings":{"nameNRank":0,"sciNameMatch":9,"nameParse":1,"luceneMatch":8}},"additionalStatus":[{"clbDatasetKey":"53131","datasetAlias":"IUCN","datasetKey":"19491596-35ae-4a91-9a98-85cf505f1bd3","status":"LEAST_CONCERN","statusCode":"LC","sourceId":"19073408"}],"synonym":false}'
  recorded_at: 2026-07-09 08:21:16
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Calopteryx+fakeus&verbose=FALSE&checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"diagnostics":{"matchType":"NONE","issues":[],"confidence":100,"timeTaken":18,"timings":{"sciNameMatch":18}},"synonym":false}'
  recorded_at: 2026-07-09 08:21:16
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Calopteryx+splendens&kingdom=Plantae&strict=FALSE&verbose=FALSE&checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"5T74S","name":"Calopteryx A.C.Sm.","canonicalName":"Calopteryx","authorship":"A.C.Sm.","rank":"GENUS","code":"BOTANICAL","status":"SYNONYM","type":[...]
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Calopteryx+splendens&kingdom=Plantae&strict=TRUE&verbose=FALSE&checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"diagnostics":{"matchType":"NONE","issues":[],"processingFlags":["LOW_CONFIDENCE"],"confidence":99,"note":"No
        match because of too little confidence","timeTaken":2,"timings":{"nameNRank":0,"sciNameMatch":2,"nameParse":1,"luceneMatch":1}},"synonym":false}'
  recorded_at: 2026-07-09 08:21:16
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Calopteryx+splendens&kingdom=Plantae&verbose=TRUE&checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"5T74S","name":"Calopteryx A.C.Sm.","canonicalName":"Calopteryx","authorship":"A.C.Sm.","rank":"GENUS","code":"BOTANICAL","status":"SYNONYM","type":"SCIENTIFIC","[...]
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Calopteryx+splendens&kingdom=Plantae&strict=TRUE&verbose=TRUE&checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"diagnostics":{"matchType":"NONE","issues":[],"processingFlags":["LOW_CONFIDENCE"],"confidence":99,"note":"No
        match because of too little confidence","timeTa[...]
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Aves&verbose=FALSE&checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"V2","name":"Aves","canonicalName":"Aves","rank":"CLASS","code":"ZOOLOGICAL","status":"ACCEPTED","type":"SCIENTIFIC","formattedName":"<i>Aves</i>"},"classification":[{"key":"CS5HF","name":"Eukaryota","rank":"DOMAIN"},{"key":"N","name":"Animalia","rank":"KINGDOM"},{"key":"CH2","name":"Chordata","rank":"PHYLUM"},{"key":"8V4V3","name":"Vertebrata","rank":"SUBPHYLUM"},{"key":"8V4V5","name":"Gnathostomata","rank":"INFRAPHYLUM"},{"key":"8VVWB","name":"Osteichthyes","rank":"PARVPHYLUM"},{"key":"9CK8W","name":"Tetrapoda","rank":"MEGACLASS"},{"key":"V2","name":"Aves","rank":"CLASS"}],"diagnostics":{"matchType":"EXACT","confidence":94,"timeTaken":3,"timings":{"nameNRank":0,"sciNameMatch":4,"nameParse":0,"luceneMatch":4}},"synonym":false,"left":2239531,"right":2282450}'
  recorded_at: 2026-07-09 08:21:16
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Calopteryx&usageKey=V2&verbose=FALSE&checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"V2","name":"Aves","canonicalName":"Aves","rank":"CLASS","code":"ZOOLOGICAL","status":"ACCEPTED","type":"SCIENTIFIC","formattedName":"<i>Aves</i>"},"classification":[{"key":"CS5HF","name":"Eukaryota","rank":"DOMAIN"},{"key":"N","name":"Animalia","rank":"KINGDOM"},{"key":"CH2","name":"Chordata","rank":"PHYLUM"},{"key":"8V4V3","name":"Vertebrata","rank":"SUBPHYLUM"},{"key":"8V4V5","name":"Gnathostomata","rank":"INFRAPHYLUM"},{"key":"8VVWB","name":"Osteichthyes","rank":"PARVPHYLUM"},{"key":"9CK8W","name":"Tetrapoda","rank":"MEGACLASS"},{"key":"V2","name":"Aves","rank":"CLASS"}],"diagnostics":{"matchType":"EXACT","confidence":100,"note":"All
        provided names were ignored since the usageKey was provided","timeTaken":0,"timings":{"usageKeyMatch":0}},"synonym":false,"left":2239531,"right":2282450}'
  recorded_at: 2026-07-09 08:21:16
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificNameAuthorship=Erwin%2C+2002&genericName=Agra&specificEpithet=schwarzeneggeri&verbose=FALSE&checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"B2X8","name":"Agra schwarzeneggeri Erwin, 2002","canonicalName":"Agra
        schwarzeneggeri","authorship":"Erwin, 2002","r[...]
