http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/100037505?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/100037505?offset=0&limit=100
    body:
      encoding: UTF-8
      string: '{"key":100037505,"nubKey":2353299,"nameKey":9983926,"taxonID":"data.sibcolombia.net:species:browse:resource:1:taxon:46475","kingdom":"Animalia","phylum":"Chordata","order":"Characiformes","family":"Characidae","species":"Incertae
        sedis","kingdomKey":135226033,"phylumKey":135226181,"classKey":135226520,"orderKey":135226679,"familyKey":135226721,"speciesKey":135226723,"datasetKey":"9e11f45e-f496-42e5-a1a6-9415907a3717","parentKey":135226721,"parent":"Characidae","acceptedKey":135226723,"accepted":"Incertae
        sedis","scientificName":"Saccoderma hastatus","canonicalName":"Saccoderma
        hastatus","authorship":"","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"SYNONYM","nomenclaturalStatus":[],"accordingTo":"Taxonomía
        validada de: ITIS; Estado taxonómico obtenido de: Catalogue of Life: 21st
        April 2015","numDescendants":0,"lastCrawled":"2018-06-25T18:47:03.794+0000","lastInterpreted":"2017-10-08T06:52:54.891+0000","issues":["ACCEPTED_NAME_MISSING"],"synonym":true,"class":"Actinopterygii"}'
  recorded_at: 2018-10-09 21:17:05 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
