http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5231190/synonyms?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"key":8933000,"nameKey":16124973,"taxonID":"gbif:8933000","sourceTaxonKey":167504517,"kingdom":"Animalia","phylum":"Chordata","order":"Passeriformes","family":"Passeridae","genus":"Passer","species":"Passer
        domesticus","kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":729,"familyKey":5264,"genusKey":2492321,"speciesKey":5231190,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"2d59e5db-57ad-41ff-97d6-11f5fb264527","parentKey":2492321,"parent":"Passer","acceptedKey":5231190,"accepted":"Passer
        domesticus (Linnaeus, 1758)","scientificName":"Fringilla domestica Linnaeus,
        1758","canonicalName":"Fringilla domestica","vernacularName":"house sparrow","authorship":"Linnaeus,
        1758","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"HOMOTYPIC_SYNONYM","nomenclaturalStatus":[],"remarks":"","publishedIn":"Linnaeus,
        C. (1758). Systema Naturae per regna tria naturae, secundum classes, ordines,
        genera, species, cum characteribus, differentiis, synonymis, locis. <em>Editio
        decima, reformata [10th revised edition], vol. 1: 824 pp. Laurentius Salvius:
        Holmiae.</em>","numDescendants":0,"lastCrawled":"2021-11-29T13:11:38.124+00:00","lastInterpreted":"2021-11-29T12:30:57.180+00:00","issues":[],"synonym":true,"class":"Aves"}]}'
  recorded_at: 2022-04-08 13:35:33 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5135790/synonyms?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"key":6231515,"nubKey":6231515,"nameKey":8831492,"taxonID":"gbif:6231515","sourceTaxonKey":173224673,"kingdom":"Animalia","phylum":"Arthropoda","order":"Lepidoptera","family":"Nymphalidae","genus":"Acraea","species":"Acraea
        johnstoni","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":797,"familyKey":7017,"genusKey":1915529,"speciesKey":5135790,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":1915529,"parent":"Acraea","acceptedKey":5135790,"accepted":"Acraea
        johnstoni Godman, 1885","scientificName":"Planema telekiana Rogenhofer, 1891","canonicalName":"Planema
        telekiana","authorship":"Rogenhofer, 1891","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"SYNONYM","nomenclaturalStatus":[],"remarks":"","numDescendants":0,"lastCrawled":"2021-11-29T13:11:38.124+00:00","lastInterpreted":"2021-11-29T11:45:24.086+00:00","issues":[],"synonym":true,"class":"Insecta"}]}'
  recorded_at: 2022-04-08 13:35:33 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
