http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5231190/name?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/5231190/name?offset=0&limit=100
    body:
      encoding: UTF-8
      string: '{"key":8290258,"scientificName":"Passer domesticus (Linnaeus, 1758)","type":"SCIENTIFIC","genusOrAbove":"Passer","specificEpithet":"domesticus","bracketAuthorship":"Linnaeus","bracketYear":"1758","parsed":true,"parsedPartially":false,"canonicalName":"Passer
        domesticus","canonicalNameWithMarker":"Passer domesticus","canonicalNameComplete":"Passer
        domesticus (Linnaeus, 1758)","rankMarker":"sp."}'
  recorded_at: 2018-10-09 21:17:05 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5127291/name?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/5127291/name?offset=0&limit=100
    body:
      encoding: UTF-8
      string: '{"key":1200841,"scientificName":"Aulacodes aulocodoidalis Rothschild,
        1916","type":"SCIENTIFIC","genusOrAbove":"Aulacodes","specificEpithet":"aulocodoidalis","authorship":"Rothschild","year":"1916","parsed":true,"parsedPartially":false,"canonicalName":"Aulacodes
        aulocodoidalis","canonicalNameWithMarker":"Aulacodes aulocodoidalis","canonicalNameComplete":"Aulacodes
        aulocodoidalis Rothschild, 1916","rankMarker":"sp."}'
  recorded_at: 2018-10-09 21:17:05 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
