http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5231190/descriptions?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/5231190/descriptions?offset=0&limit=100
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"key":31032583,"taxonKey":5231190,"type":"Distribución","language":"","description":"Ecorregión
        (Hernández et al. (1992): South American Pacific mangroves (SAPm): Distrito
        Tumaco","source":"Aves del departamento de Nariño, Colombia","sourceTaxonKey":114072928},{"key":57595502,"taxonKey":5231190,"type":"Distribution","language":"","description":"Breeding
        regions are EU, OR, AF. Breeding subregions are widespread, introduced worldwide.","source":"IOC
        World Bird List, v8.2","sourceTaxonKey":123528979},{"key":57708163,"taxonKey":5231190,"type":"Distribution","language":"eng","description":"Caribbean","source":"Catalogue
        of Life","sourceTaxonKey":132136870},{"key":57708164,"taxonKey":5231190,"type":"Distribution","language":"eng","description":"North
        America","source":"Catalogue of Life","sourceTaxonKey":132136870},{"key":57708165,"taxonKey":5231190,"type":"Distribution","language":"eng","description":"Oceania","source":"Catalogue
        of Life","sourceTaxonKey":132136870}]}'
  recorded_at: 2018-10-09 21:17:10 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
[...]
