http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/5231190/name?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":8290258,"scientificName":"Passer domesticus (Linnaeus, 1758)","type":"SCIENTIFIC","genusOrAbove":"Passer","specificEpithet":"domesticus","bracketAuthorship":"Linnaeus","bracketYear":"1758","parsed":true,"parsedPartially":false,"canonicalName":"Passer
        domesticus","canonicalNameWithMarker":"Passer domesticus","canonicalNameComplete":"Passer
        domesticus (Linnaeus, 1758)","rankMarker":"sp."}'
  recorded_at: 2025-08-04 13:50:21
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/5127291/name?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":1200841,"scientificName":"Aulacodes aulocodoidalis Rothschild,
        1916","type":"SCIENTIFIC","genusOrAbove":"Aulacodes","specificEpithet":"aulocodoidalis","authorship":"Rothschild","year":"1916","parsed":true,"parsedPartially":false,"canonicalName":"Aulacodes
        aulocodoidalis","canonicalNameWithMarker":"Aulacodes aulocodoidalis","canonicalNameComplete":"Aulacodes
        aulocodoidalis Rothschild, 1916","rankMarker":"sp."}'
  recorded_at: 2025-08-04 13:50:21
recorded_with: VCR-vcr/2.0.0
