http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/search?limit=1001&offset=0&datasetKey=a5224e5b-6379-4d33-a29d-14b56015893d
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":1000,"endOfRecords":false,"count":1051,"results":[{"key":100064605,"datasetKey":"a5224e5b-6379-4d33-a29d-14b56015893d","nubKey":2355356,"parentKey":135249927,"parent":"Leporinus","kingdom":"Animalia","phylum":"Chordata","order":"Characiformes","family":"Anostomidae","genus":"Leporinus","species":"Leporinus
        muyscorum","kingdomKey":135249515,"phylumKey":135249518,"classKey":135249880,"orderKey":135249908,"familyKey":135249925,"genusKey":135249927,"speciesKey":100064605,"scientificName":"Leporinus
        muyscorum Steindachner, 1900","canonicalName":"Leporinus muyscorum","authorship":"","nameType":"DOUBTFUL","taxonomicStatus":"ACCEPTED","rank":"SPECIES","origin":"SOURCE","numDescendants":0,"numOccurrences":0,"habitats":[],"nomenclaturalStatus":[],"threatStatuses":["VULNERABLE"],"descriptions":[{"description":"Bosques
        del cañón del río Lebrija"}],"vernacularNames":[],"higherClassificationMap":{"135249515":"Animalia","135249518":"Chordata","135249880":"Actinopterygii","135249908":"Characiformes","135249925":"Anostomidae","135249927":"Leporinus"},"synonym":false,"class":"Actinopterygii"},{"key":100064607,"datasetKey":"a5224e5b-6379-4d33-a29d-14b56015893d","nubKey":2355385,"parentKey":135249927,"parent":"Leporinus","kingdom":"Animalia","phylum":"Chordata","order":"Characiformes","family":"Anostomidae","genus":"Leporinus","species":"Leporinus
        striatus","kingdomKey":135249515,"phylumKey":135249518,"classKey":135249880,"orderKey":135249908,"familyKey":135249925,"genusKey":135249927,"speciesKey":100064607,"scientificName":"Leporinus
        striatus Kner, 18[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/species/search?limit=1&offset=1000&datasetKey=a5224e5b-6379-4d33-a29d-14b56015893d
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":1000,"limit":1,"endOfRecords":false,"count":1051,"results":[{"key":135250049,"datasetKey":"a5224e5b-6379-4d33-a29d-14b56015893d","nubKey":7967492,"parentKey":135250044,"parent":"Didelphidae","kingdom":"Animalia","phylum":"Chordata","order":"Didelphimorphia","family":"Didelphidae","genus":"Monodelphis","kingdomKey":135249515,"phylumKey":135249518,"classKey":135249945,"orderKey":135250043,"familyKey":135250044,"genusKey":135250049,"scientificName":"Monodelphis","canonicalName":"Monodelphis","authorship":"","nameType":"SCIENTIFIC","taxonomicStatus":"ACCEPTED","rank":"GENUS","origin":"DENORMED_CLASSIFICATION","numDescendants":1,"numOccurrences":0,"habitats":[],"nomenclaturalStatus":[],"threatStatuses":[],"descriptions":[],"vernacularNames":[],"higherClassificationMap":{"135249515":"Animalia","135249518":"Chordata","135249945":"Mammalia","135250043":"Didelphimorphia","135250044":"Didelphidae"},"synonym":false,"class":"Mammalia"}],"facets":[]}'
  recorded_at: 2019-02-26 15:18:50 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
