http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5231190/name?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":8290258,"scientificName":"Passer domesticus (Linnaeus, 1758)","type":"SCIENTIFIC","genusOrAbove":"Passer","specificEpithet":"domesticus","bracketAuthorship":"Linnaeus","bracketYear":"1758","parsed":true,"parsedPartially":false,"canonicalName":"Passer
        domesticus","canonicalNameWithMarker":"Passer domesticus","canonicalNameComplete":"Passer
        domesticus (Linnaeus, 1758)","rankMarker":"sp."}'
  recorded_at: 2020-12-08 23:50:18 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5127291/name?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":1200841,"scientificName":"Aulacodes aulocodoidalis Rothschild,
        1916","type":"SCIENTIFIC","genusOrAbove":"Aulacodes","specificEpithet":"aulocodoidalis","authorship":"Rothschild","year":"1916","parsed":true,"parsedPartially":false,"canonicalName":"Aulacodes
        aulocodoidalis","canonicalNameWithMarker":"Aulacodes aulocodoidalis","canonicalNameComplete":"Aulacodes
        aulocodoidalis Rothschild, 1916","rankMarker":"sp."}'
  recorded_at: 2020-12-08 23:50:18 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
