http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/search?q=mammalia&limit=100&offset=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/search?q=mammalia&limit=100&offset=0
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":false,"count":969,"results":[{"key":135011053,"datasetKey":"79c8c7d3-7db9-43a5-a268-739984158725","nubKey":359,"parentKey":135011046,"parent":"Chordata","kingdom":"Animalia","phylum":"Chordata","kingdomKey":135010932,"phylumKey":135011046,"classKey":135011053,"scientificName":"Mammalia","canonicalName":"Mammalia","authorship":"","nameType":"SCIENTIFIC","taxonomicStatus":"ACCEPTED","rank":"CLASS","origin":"DENORMED_CLASSIFICATION","numDescendants":23,"numOccurrences":0,"habitats":[],"nomenclaturalStatus":[],"threatStatuses":[],"descriptions":[],"vernacularNames":[],"higherClassificationMap":{"135010932":"Animalia","135011046":"Chordata"},"synonym":false,"class":"Mammalia"},{"key":135025807,"datasetKey":"b0135100-e83b-444f-a51f-1232a778b3a1","nubKey":359,"parentKey":135025806,"parent":"Chordata","kingdom":"Animalia","phylum":"Chordata","kingdomKey":135025805,"phylumKey":135025806,"classKey":135025807,"scientificName":"Mammalia","canonicalName":"Mammalia","authorship":"","nameType":"SCIENTIFIC","taxonomicStatus":"ACCEPTED","rank":"CLASS","origin":"DENORMED_CLASSIFICATION","numDescendants":4,"numOccurrences":0,"habitats":[],"nomenclaturalStatus":[],"threa[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/species/search?q=Cnaemidophorus&limit=100&offset=0&rank=genus
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/search?q=Cnaemidophorus&limit=100&offset=0&rank=genus
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":19,"endOfRecords":true,"count":19,"results":[{"key":134031474,"datasetKey":"23905003-5ee5-4326-b1bb-3a2fd6250df3","nubKey":1858636,"parentKey":134031457,"parent":"Pterophoridae","kingdom":"Animalia","phylum":"Arthropoda","order":"Lepidoptera","family":"Pterophoridae","genus":"Cnaemidophorus","kingdomKey":134031453,"phylumKey":134031454,"classKey":134031455,"orderKey":134031456,"familyKey":134031457,"genusKey":134031474,"scientificName":"Cnaemidophorus","canonicalName":"Cnaemidophorus","authorship":"","nameType":"SCIENTIFIC","taxonomicStatus":"ACCEPTED","rank":"GENUS","origin":"DENORMED_CLASSIFICATION","numDescendants":1,"numOccurrences":0,"habitats":[],"nomenclaturalStatus":[],"threatStatuses":[],"descriptions":[],"vernacularNames":[],"higherClassificationMap":{"134031453":"Animalia","134031454":"Arthropoda","134031455":"Insecta","134031456":"Lepidoptera","134031457":"Pterophoridae"},"synonym":false,[...]
