http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/search?q=mammalia&limit=100&offset=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":false,"count":1044,"results":[{"key":135080673,"datasetKey":"7b3f4866-9369-45a9-b2a8-bcd0b144d500","nubKey":359,"parentKey":135080672,"parent":"Chordata","kingdom":"Animalia","phylum":"Chordata","kingdomKey":135080671,"phylumKey":135080672,"classKey":135080673,"scientificName":"Mammalia","canonicalName":"Mammalia","authorship":"","nameType":"SCIENTIFIC","taxonomicStatus":"ACCEPTED","rank":"CLASS","origin":"DENORMED_CLASSIFICATION","numDescendants":394,"numOccurrences":0,"habitats":[],"nomenclaturalStatus":[],"threatStatuses":[],"descriptions":[],"vernacularNames":[],"higherClassificationMap":{"135080671":"Animalia","135080672":"Chordata"},"synonym":false,"class":"Mammalia"},{"key":135215963,"datasetKey":"1ddab917-15d1-4d69-a455-5bd397af5a9c","nubKey":359,"parentKey":135215962,"parent":"Chordata","kingdom":"Animalia","phylum":"Chordata","kingdomKey":135215961,"phylumKey":135215962,"classKey":135215963,"scientificName":"Mammalia","canonicalName":"Mammalia","authorship":"","nameType":"SCIENTIFIC","taxonomicStatus":"ACCEPTED","rank":"CLASS","origin":"DENORMED_CLASSIFICATION","numDescendants":191,"numOccurrences":0,"habitats":[],"nomenclaturalStatus":[],"thr[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/species/search?q=Cnaemidophorus&limit=100&offset=0&rank=genus
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":19,"endOfRecords":true,"count":19,"results":[{"key":133063907,"datasetKey":"4cec8fef-f129-4966-89b7-4f8439aba058","nubKey":1858636,"parentKey":133063901,"parent":"Pterophoridae","phylum":"Arthropoda","order":"Lepidoptera","family":"Pterophoridae","genus":"Cnaemidophorus","phylumKey":133051469,"classKey":133053396,"orderKey":133055577,"familyKey":133063901,"genusKey":133063907,"scientificName":"Cnaemidophorus","canonicalName":"Cnaemidophorus","authorship":"","nameType":"SCIENTIFIC","taxonomicStatus":"ACCEPTED","rank":"GENUS","origin":"DENORMED_CLASSIFICATION","numDescendants":1,"numOccurrences":0,"habitats":[],"nomenclaturalStatus":[],"threatStatuses":[],"descriptions":[],"vernacularNames":[],"higherClassificationMap":{"133051469":"Arthropoda","133053396":"Insecta","133055577":"Lepidoptera","133063901":"Pterophoridae"},"synonym":false,"class":"Insecta"},{"key":153048870,"datasetKey":"7ddf754f-d193-4cc9-b351-99906754a03b","nubKey":1858636,"parentKey":153048732,"parent":"Pterophoridae","kingdom":"Animalia","phylum":"Arthropoda","order":"Lepidoptera","family":"Pterophoridae","genus":"Cnaemidophorus","kingdomKey":152695021,"phylumKey":152907283,"classKey":153036287,"orderKey":153047569,"familyKey":153048732,"genusKey":153048870,"scientificName":"Cnaemidophorus","canonicalName":"Cnaemidophorus","nameType":"SCIENTIFIC","taxonomicStatus":"ACCEPTED","rank":"GENUS","origin":"SOURCE","numDescendants":0,"numOccurrences":0,"taxonID":"54185489","habitats":[],"nomenclaturalStatus":[],"threatStatuses":[],"descriptions":[],"vernacularNames":[],"higherClassificationMap":{"152695021":"Animalia","152907283":"Arthropoda","153036287":"Insecta","153047569":"Lepidoptera","153048732":"Pterophoridae"},"synonym":false,"class":"Insecta"},{"key":152672861,"datasetKey":"d16563e0-e718-45a9-a20f-3e9fc20613da","nubKey":1858636,"parentKey":152672840,"parent":"Pterophoridae","kingdom":"Animalia","phylum":"Arthropoda","order":"Lepidoptera","famil[...]
