http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Helianthus&strict=false&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.91 rOpenSci(rgbif/2.3.2.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":3119134,"scientificName":"Helianthus L.","canonicalName":"Helianthus","rank":"GENUS","status":"ACCEPTED","confidence":94,"matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asterales","family":"Asteraceae","genus":"Helianthus","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":414,"familyKey":3065,"genusKey":3119134,"synonym":false,"class":"Magnoliopsida"}'
  recorded_at: 2020-06-11 23:23:45 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
[...]
