http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/suggest?limit=100&rank=family&rank=genus
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"key":1888,"nameKey":5968792,"kingdom":"Chromista","phylum":"Oomycota","family":"Lagenaceae","kingdomKey":4,"phylumKey":32,"familyKey":1888,"parent":"Oomycota","parentKey":32,"nubKey":1888,"scientificName":"Lagenaceae","canonicalName":"Lagenaceae","rank":"FAMILY","status":"ACCEPTED","synonym":false,"higherClassificationMap":{"4":"Chromista","32":"Oomycota"}},{"key":1889,"nameKey":11426280,"kingdom":"Animalia","phylum":"Placozoa","family":"Trichoplacidae","kingdomKey":1,"phylumKey":76,"familyKey":1889,"parent":"Placozoa","parentKey":76,"nubKey":1889,"scientificName":"Trichoplacidae","canonicalName":"Trichoplacidae","rank":"FAMILY","status":"ACCEPTED","synonym":false,"higherClassificationMap":{"1":"Animalia","76":"Placozoa"}},{"key":1890,"nameKey":1560137,"kingdom":"Bacteria","phylum":"Cyanobacteria","order":"Cyanobacteriales","family":"Borzinemataceae","kingdomKey":3,"phylumKey":68,"classKey":10774316,"orderKey":10793096,"familyKey":1890,"parent":"Cyanobacteriales","parentKey":10793096,"nubKey":1890,"scientificName":"Borzinemataceae","canonicalName":"Borzinemataceae","rank":"FAMILY","status":"DOUBTFUL","synonym":false,"higherClassificationMap":{"3":"Bacteria","68":"Cyanobacteria","10774316":"Cyanobacteriia","10793096":"Cyanobacteriales"},"class":"Cyanobacteriia"},{"key":1891,"nameKey":1971307,"kingdom":"Bacteria","phylum":"Cyanobacteria","order":"Cyanobacteriales","family":"Capsosiraceae","kingdomKey":3,"phylumKey":68,"classKey":10774316,"orderKey":10793096,"familyKey":1891,"parent":"Cyanobacteriales","parentKey":10793096,"nubKey":1891,"scientificName":"Capsosiraceae","canonicalName":"Capsosiraceae","rank":"FAMILY","status":"DOUBTFUL","synonym":false,"higherClassificationMap":{"3":"Bacteria","68":"Cyanobacteria","10774316":"Cyanobacteri[...]
