http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/7412043/iucnRedListCategory?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"category":"NOT_EVALUATED","scientificName":"Calopteryx splendens
        Harris, 1780","taxonomicStatus":"ACCEPTED","code":"NE"}'
  recorded_at: 2025-06-10 14:18:28 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5097652/iucnRedListCategory?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"category":"NOT_EVALUATED","scientificName":"Corycus praemorsus Krauss,
        1890","taxonomicStatus":"SYNONYM","acceptedName":"Corycoides karschi (Krauss,
        1890)","code":"NE"}'
  recorded_at: 2025-06-10 14:18:28 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
