http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5231190/related?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/5231190/related?offset=0&limit=100
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"key":134643103,"nubKey":5231190,"nameKey":8290258,"taxonID":"4525","kingdom":"Animalia","phylum":"Chordata","order":"Passeriformes","family":"Passeridae","genus":"Passer","species":"Passer
        domesticus","kingdomKey":134521164,"phylumKey":134573709,"classKey":134635464,"orderKey":134638675,"familyKey":134643053,"genusKey":134643066,"speciesKey":134643103,"datasetKey":"0e61f8fe-7d25-4f81-ada7-d970bbb2c6d6","parentKey":134643066,"parent":"Passer","scientificName":"Passer
        domesticus (Linnaeus, 1758)","canonicalName":"Passer domesticus","authorship":"
        (Linnaeus, 1758)","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"numDescendants":2,"references":"https://inpn.mnhn.fr/espece/cd_nom/4525","lastCrawled":"2018-06-25T19:40:40.264+0000","lastInterpreted":"2017-09-20T15:09:44.408+0000","issues":["SCIENTIFIC_NAME_ASSEMBLED","CLASSIFICATION_NOT_APPLIED"],"synonym":false,"class":"Aves"},{"key":114319110,"nubKey":5231190,"nameKey":8290255,"taxonID":"urn:lsid:ubio.org:namebank:3849643","kingdom":"Animalia","phylum":"Chordata","order":"Passeriformes","family":"Passeridae","genus":"Passer","kingdomKey":135215737,"phylumKey":135215738,"classKey":135215739,"orderKey":135215822,"familyKey":135215843,"genusKey":135215844,"datasetKey":"1079ebef-9efc-448f-a2fe-56c6d72847c4","parentKey":135215844,"parent":"Passer","scientificName":"Passer
        domesticus (Linnaeus) 1758","canonicalName":"Passer domesticus","authorship":"
        (Linnaeus, 1758)","nameType":"SCIENTIFIC","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"accordingTo":"Taxonomía
        y estado taxonómico tomado de: Species 2000 & ITIS Catalogue of Life: 2140","numDescendants":0,"lastCrawled":"2018-06-25T18:34:07.229+0000","lastInterpreted":"2017-10-08T06:17:53.139+0000","issues":["SCIENTIFIC_NAME_ASSEMBLED","DESCRIPTION_INVALID"],"synonym":false,"class":"Aves"},{"key":100448484,"nubKey":5231190,"nameKey":8290258,"taxonID":"217589","order":"Passeriformes","family":"Passeridae","genus":"Passer","species":"Passer
        domesticus","orderKey":147684261,"famil[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5135787/related?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/5135787/related?offset=0&limit=100
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"key":110504004,"nubKey":5135787,"nameKey":170527,"taxonID":"10688387","kingdom":"Animalia","phylum":"Arthropoda","order":"Lepidoptera","family":"Nymphalidae","genus":"Acraea","species":"Acraea
        encoda","kingdomKey":147870766,"phylumKey":148510178,"classKey":148540140,"orderKey":147970808,"familyKey":148553723,"genusKey":148554363,"speciesKey":110504004,"datasetKey":"7ddf754f-d193-4cc9-b351-99906754a03b","constituentKey":"89101430-65da-43e9-a5e8-6baa2cc7a881","parentKey":148554363,"parent":"Acraea","scientificName":"Acraea
        encoda Pierre, 1981","canonicalName":"Acraea encoda","authorship":"Pierre,
        1981","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"accordingTo":"Ollerenshaw,
        J.","numDescendants":0,"references":"http://www.catalogueoflife.org/annual-checklist/2015/details/species/id/f133f2661b99c82bce17cefc17013c63","lastCrawled":"2018-10-05T01:13:11.383+0000","lastInterpreted":"2018-10-05T06:53:57.595+0000","issues":[],"synonym":false,"class":"Insecta"},{"key":5135787,"nubKey":5135787,"nameKey":170527,"taxonID":"gbif:5135787","sourceTaxonKey":110504004,"kingdom":"Animalia","phylum":"Arthropoda","order":"Lepidoptera","family":"Nymphalidae","genus":"Acraea","species":"Acraea
        encoda","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":797,"familyKey":7017,"genusKey":1915529,"speciesKey":5135787,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":1915529,"parent":"Acraea","scientificName":"Acraea
        encoda Pierre, 1981","canonicalName":"Acraea encoda","authorship":"Pierre,
        1981","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":0,"lastCrawled":"2018-06-20T14:41:51.801+0000","lastInterpreted":"2018-06-20T14:02:18.131+0000","issues":[],"synonym":false,"class":"Insecta"}]}'
  recorded_at: 2018-10-09 21:17:08 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
