http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/match?name=Calopteryx&rank=GENUS&strict=false&verbose=FALSE&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"confidence":100,"note":"Multiple equal matches for Calopteryx","matchType":"NONE","synonym":false}'
  recorded_at: 2025-09-04 07:14:30
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/match?name=Calopteryx&rank=GENUS&strict=false&verbose=TRUE&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"confidence":100,"note":"Multiple equal matches for Calopteryx","matchType":"NONE","alternatives":[{"usageKey":1427007,"scientificName":"Calopteryx
        Leach, 1815","canonicalName":"Calopteryx","rank":"GENUS","status":"ACCEPTED","confidence":105,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=6; status=1; score=105","matchType":"EXACT","kingdom":"Animalia","phylum":"Arthropoda","order":"Odonata","family":"Calopterygidae","genus":"Calopteryx","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":789,"familyKey":4211,"genusKey":1427007,"class":"Insecta"},{"usageKey":3234109,"acceptedUsageKey":7763613,"scientificName":"Calopteryx
        A.C.Sm.","canonicalName":"Calopteryx","rank":"GENUS","status":"SYNONYM","confidence":104,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=6; status=0; score=104","matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Ericales","family":"Ericaceae","genus":"Thibaudia","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1353,"familyKey":2505,"genusKey":7763613,"class":"Magnoliopsida"},{"usageKey":723[...]
