http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5231190/speciesProfiles?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rgbif/2.1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"taxonKey":5231190,"extinct":false,"source":"The
        Clements Checklist","sourceTaxonKey":133145048},{"taxonKey":5231190,"extinct":false,"source":"The
        Clements Checklist","sourceTaxonKey":133145086},{"taxonKey":5231190,"extinct":false,"source":"The
        Clements Checklist","sourceTaxonKey":133145243},{"taxonKey":5231190,"extinct":false,"source":"The
        Clements Checklist","sourceTaxonKey":133145252},{"taxonKey":5231190,"habitat":"Terrestrial","source":"Global
        Register of Introduced and Invasive Species- Vanuatu","sourceTaxonKey":134846058},{"taxonKey":5231190,"habitat":"terrestrial","source":"Global
        Register of Introduced and Invasive Species- South Africa","sourceTaxonKey":134848379},{"taxonKey":5231190,"habitat":"terrestrial","source":"Global
        Register of Introduced and Invasive Species- Seychelles","sourceTaxonKey":134849792},{"taxonKey":5231190,"habitat":"terrestrial","source":"Global
        [...]
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5136020/speciesProfiles?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rgbif/2.1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[]}'
  recorded_at: 2020-02-12 17:59:49 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
