http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5231190/typeSpecimens?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[]}'
  recorded_at: 2019-02-26 15:29:54 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
[...]
