http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5231190/parents?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/5231190/parents?offset=0&limit=100
    body:
      encoding: UTF-8
      string: '[{"key":1,"nubKey":1,"nameKey":18528683,"taxonID":"gbif:1","sourceTaxonKey":144299179,"kingdom":"Animalia","kingdomKey":1,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","scientificName":"Animalia","canonicalName":"Animalia","authorship":"","nameType":"SCIENTIFIC","rank":"KINGDOM","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":2226311,"lastCrawled":"2018-06-20T14:41:51.801+0000","lastInterpreted":"2018-06-20T13:39:53.354+0000","issues":[],"synonym":false},{"key":44,"nubKey":44,"nameKey":2429952,"taxonID":"gbif:44","sourceTaxonKey":144299180,"kingdom":"Animalia","phylum":"Chordata","kingdomKey":1,"phylumKey":44,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"daacce49-b206-469b-8dc2-2257719f3afa","parentKey":1,"parent":"Animalia","scientificName":"Chordata","canonicalName":"Chordata","authorship":"","nameType":"SCIENTIFIC","rank":"PHYLUM","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":217776,"lastCrawled":"2018-06-20T14:41:51.801+0000","lastInterpreted":"2018-06-20T13:40:17.783+0000","issues":[],"synonym":false},{"key":212,"nubKey":212,"nameKey":1235940,"taxonID":"gbif:212","sourceTaxonKey":144316009,"kingdom":"Animalia","phylum":"Chordata","kingdomKey":1,"phylumKey":44,"classKey":212,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"daacce49-b206-469b-8dc2-2257719f3afa","parentKey":44,"parent":"Chordata","scientificName":"Aves","canonicalName":"Aves","authorship":"","nameType":"SCIENTIFIC","rank":"CLASS","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":55532,"lastCrawled":"2018-06-20T14:41:51.801+0000","lastInterpreted":"2018-06-20T13:40:33.252+0000","issues":[],"synonym":false,"class":"Aves"},{"key":729,"nubKey":729,"nameKey":8291655,"taxonID":"gbif:729","sourceTaxonKey":144318496,"kingdom":"Animalia","phylum":"Chordata","order":"Passeriformes","kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":729,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":212,"parent":"Aves","scientificName":"Passeriformes","canonicalName":"Passeriformes","authorship":"","nameType":"SCIENTIFIC","rank":"ORDER","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":30140,"lastCrawled":"2018-06-20T14:41:51.801+0000","lastInterpreted":"2018-06-20T13:40:46.118+0000","issues":[],"synonym":false,"class":"Aves"},{"key":5264,"nubKey":5264,"nameKey":8291641,"taxonID":"gbif:5264","sourceTaxonKey":144319940,"kingdom":"Animalia","phylum":"Chordata","order":"Passeriformes","family":"Passeridae","kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":729,"familyKey":5264,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":729,"parent":"Passeriformes","scientificName":"Passeridae","canonicalName":"Passeridae","authorship":"","nameType":"SCIENTIFIC","rank":"FAMILY","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":211,"lastCrawled":"2018-06-20T14:41:51.801+0000","lastInterpreted":"2018-06-20T13:40:56.209+0000","issues":[],"synonym":false,"class":"Aves"},{"key":2492321,"nubKey":2492321,"nameKey":8290085,"taxonID":"gbif:2492321","kingdom":"Animalia","phylum":"Chordata","order":"Passeriformes","family":"Passeridae","genus":"Passer","kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":729,"familyKey":5264,"genusKey":2492321,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":5264,"parent":"Passeridae","scientificName":"Passer
        Brisson, 1760","canonicalName":"Passer","authorship":"Brisson, 1760","nameType":"SCIENTIFIC","rank":"GENUS","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Brisson,
        M. J. 1760. Ornithologie ou méthode contenant la division des oiseaux en ordres,
        sections, genres, especes & leurs variétés. A laquelle on a joint une description
        exacte de chaque espece, avec les citations des auteurs qui en ont traité,
        les noms qu''ils leur ont donnés, ceux que leur ont donnés les différentes
        nations, & les noms vulgaires. Ouvrage enrichi de figures en taille-douce.
        Bauche, Paris. Vol. Tome 1: j-xxiv , 1-526, j-lxxiij , Pl. I-XXXVII.","numDescendants":104,"lastCrawled":"2018-06-20T14:41:51.801+0000","lastInterpreted":"2018-06-20T13:40:56.993+0000","issues":[],"synonym":false,"class":"Aves"}]'
  recorded_at: 2018-10-09 21:17:06 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
[...]
