http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/3119195/verbatim?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"timestamp":"2022-12-02T09:47:45.002+00:00","status":404,"error":"","message":"Entity
        not found for uri: /species/3119195/verbatim"}'
  recorded_at: 2022-12-02 09:47:44 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
