http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5231190/synonyms?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"key":8933000,"nameKey":16124973,"taxonID":"gbif:8933000","sourceTaxonKey":134643108,"kingdom":"Animalia","phylum":"Chordata","order":"Passeriformes","family":"Passeridae","genus":"Passer","species":"Passer
        domesticus","kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":729,"familyKey":5264,"genusKey":2492321,"speciesKey":5231190,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"0e61f8fe-7d25-4f81-ada7-d970bbb2c6d6","parentKey":2492321,"parent":"Passer","acceptedKey":5231190,"accepted":"Passer
        domesticus (Linnaeus, 1758)","scientificName":"Fringilla domestica Linnaeus,
        1758","canonicalName":"Fringilla domestica","authorship":"Linnaeus, 1758","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"HOMOTYPIC_SYNONYM","nomenclaturalStatus":[],"remarks":"","numDescendants":0,"lastCrawled":"2018-06-20T14:41:51.801+0000","lastInterpreted":"2018-06-20T13:40:57.307+0000","issues":[],"synonym":true,"class":"Aves"}]}'
  recorded_at: 2019-02-26 15:29:45 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5135790/synonyms?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"key":6231515,"nubKey":6231515,"nameKey":8831492,"taxonID":"gbif:6231515","sourceTaxonKey":110504062,"kingdom":"Animalia","phylum":"Arthropoda","order":"Lepidoptera","family":"Nymphalidae","genus":"Acraea","species":"Acraea
        johnstoni","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":797,"familyKey":7017,"genusKey":1915529,"speciesKey":5135790,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":1915529,"parent":"Acraea","acceptedKey":5135790,"accepted":"Acraea
        johnstoni Godman, 1885","scientificName":"Planema telekiana Rogenhofer, 1891","canonicalName":"Planema
        telekiana","authorship":"Rogenhofer, 1891","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"SYNONYM","nomenclaturalStatus":[],"remarks":"","numDescendants":0,"lastCrawled":"2018-06-20T14:41:51.801+0000","lastInterpreted":"2018-06-20T14:02:17.836+0000","issues":[],"synonym":true,"class":"Insecta"}]}'
  recorded_at: 2019-02-26 15:29:45 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
