http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/1?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/1?offset=0&limit=100
    body:
      encoding: UTF-8
      string: '{"key":1,"nubKey":1,"nameKey":18528683,"taxonID":"gbif:1","sourceTaxonKey":144299179,"kingdom":"Animalia","kingdomKey":1,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","scientificName":"Animalia","canonicalName":"Animalia","authorship":"","nameType":"SCIENTIFIC","rank":"KINGDOM","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":2226311,"lastCrawled":"2018-06-20T14:41:51.801+0000","lastInterpreted":"2018-06-20T13:39:53.354+0000","issues":[],"synonym":false}'
  recorded_at: 2018-10-09 21:17:04 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5231190/references?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/5231190/references?offset=0&limit=100
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"taxonKey":5231190,"citation":"(1996)
        NODC Taxonomic Code","type":"taxon","source":"Catalogue of Life","sourceTaxonKey":132136870},{"taxonKey":5231190,"citation":"(2001)
        database, Comisión Nacional para el Conocimiento y Uso de la Biodiversidad","type":"vernacular","source":"Catalogue
        of Life","sourceTaxonKey":132136870},{"taxonKey":5231190,"citation":"(2003)
        database, http://www.menv.gouv.qc.ca/biodiversite/centre.htm","type":"vernacular","source":"Catalogue
        of Life","sourceTaxonKey":132136870},{"taxonKey":5231190,"citation":"(2005)
        web[...]
