http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5231190/descriptions?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"key":31032583,"taxonKey":5231190,"type":"Distribución","language":"","description":"Ecorregión
        (Hernández et al. (1992): South American Pacific mangroves (SAPm): Distrito
        Tumaco","source":"Aves del departamento de Nariño, Colombia","sourceTaxonKey":114072928},{"key":69459672,"taxonKey":5231190,"type":"Distribution","language":"","description":"Breeding
        regions are EU, OR, AF. Breeding subregions are widespread, introduced worldwide.","source":"IOC
        World Bird List, v9.1","sourceTaxonKey":123529007},{"key":70731005,"taxonKey":5231190,"type":"Distribution","language":"eng","description":"Caribbean","source":"Catalogue
        of Life","sourceTaxonKey":132136870},{"key":70731006,"taxonKey":5231190,"type":"Distribution","languag[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5127299/descriptions?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[]}'
  recorded_at: 2019-02-26 15:29:46 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
