http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5231190/references?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"taxonKey":5231190,"citation":"(1996)
        database, NODC Taxonomic Code","type":"taxon","source":"Catalogue of Life","sourceTaxonKey":132136870},{"taxonKey":5231190,"citation":"(2001)
        database, Comisión Nacional para el Conocimiento y Uso de la Biodiversidad","type":"vernacular","source":"Catalogue
        of Life","sourceTaxonKey":132136870},{"taxonKey":5231190,"citation":"(2003)
        database, http://www.menv.gouv.qc.ca/biodiversite/centre.htm","type":"vernacular","source":"Catalogue
        of Life","sourceTaxonKey":132136870},{"taxonKey":5231190,"citation":"(2005)
        website, AOU Check-List (07-2005)","type[...]
[...]
