http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/search?limit=0&offset=0&facet=habitat
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/search?limit=0&offset=0&facet=habitat
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":24824622,"results":[],"facets":[{"field":"HABITAT","counts":[{"name":"MARINE","count":1465724},{"name":"TERRESTRIAL","count":1022916},{"name":"FRESHWATER","count":284190}]}]}'
  recorded_at: 2018-10-09 21:07:02 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/search?limit=2&offset=0&habitat=terrestrial
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/search?limit=2&offset=0&habitat=terrestrial
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":1022916,"results":[{"key":1,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","nubKey":1,"kingdom":"Animalia","kingdomKey":1,"scientificName":"Animalia","canonicalName":"Animalia","authorship":"","nameType":"SCIENTIFIC","taxonomicStatus":"ACCEPTED","rank":"KINGDOM","origin":"SOURCE","numDescendants":2226311,"numOccurrences":0,"extinct":false,"habitats":["FRESHWATER","MARINE","TERRESTRIAL"],"nomenclaturalStatus":[],"threatStatuses":[],"descriptions":[{"description":"We
        include details on diversity for Central American representatives of 10 arachnid
        orders, excluding hyperdivrse mites & ticks. Individual taxa (families, genus,
        species) can be explored under taxonomy tab, using the dropdown hierarchical
        menu on the left, either directly or starting by the links below. AMBLYPYGI: http://arachnids.myspecies.info/taxonomy/term/12
        ARANEAE: http://arachnids.myspecies.info/taxonomy/term/18 OPILIONES: http://arachnids.myspecies.info/taxonomy/term/20
        PALPIGRADI: http://arachnids.myspecies.info/taxonomy/term/15 PSEUDOSCORPIONIDA: http://arachnids.myspecies.info/taxonomy/term/13
        RICINULEI: http://arachnids.myspecies.info/taxonomy/term/14 SCHIZOMIDA: http://arachnids.myspecies.info/taxonomy/term/17
        SCORPIONES: http://arachnids.myspecies.info/taxonomy/term/16 SOLIFUGAE: http://arachnids.myspecies.info/taxonomy/term/19
        THELYPHONIDA: http://arachnids.myspecies.info/taxonomy/term/11"}],"vernacularNames":[{"vernacularName":"Animal","language":"por"},{"vernacularName":"animals","language":"eng"},{"vernacularName":"animaux","language":"fra"},{"vernacularName":"Animals","language":"eng"},{"vernacularName":"dieren","language":"nld"}],"higherClassificationMap":{},"synonym":false},{"key":7,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","nubKey":7,"kingdom":"Protozoa","kingdomKey":7,"scientificName":"Protozoa","canonicalName":"Protozoa","authorship":"","nameType":"SCIENTIFIC","taxonomicStatus":"ACCEPTED","rank":"KINGDOM","origin":"SOURCE","numDescendants":11266,"numOccurrences":0,"extinct":false,"habitats":["FRESHWATER","MARINE","TERRESTRIAL"],"nomenclaturalStatus":[],"threatStatuses":[],"descriptions":[],"vernacularNames":[],"higherClassificationMap":{},"synonym":false}],"facets":[]}'
  recorded_at: 2018-10-09 21:07:02 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/search?limit=2&offset=0&habitat=marine
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/search?limit=2&offset=0&habitat=ma[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/species/search?limit=2&offset=0&habitat=freshwater
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/search?limit=2&offset=0&habita[...]
[...]
