http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/suggest?limit=100&rank=family&rank=genus
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"key":1888,"kingdom":"Chromista","phylum":"Oomycota","family":"Lagenaceae","kingdomKey":4,"phylumKey":32,"familyKey":1888,"parent":"Oomycota","parentKey":32,"scientificName":"Lagenaceae","canonicalName":"Lagenaceae","rank":"FAMILY","status":"ACCEPTED","higherClassificationMap":{"4":"Chromista","32":"Oomycota"},"synonym":false},{"key":1889,"kingdom":"Animalia","phylum":"Placozoa","family":"Trichoplacidae","kingdomKey":1,"phylumKey":76,"familyKey":1889,"parent":"Placozoa","parentKey":76,"scientificName":"Trichoplacidae","canonicalName":"Trichoplacidae","rank":"FAMILY","status":"ACCEPTED","higherClassificationMap":{"1":"Animalia","76":"Placozoa"},"synonym":false},{"key":1890,"kingdom":"Bacteria","phylum":"Cyanobacteria","order":"Nostocales","family":"Borzinemataceae","kingdomKey":3,"phylumKey":68,"classKey":7550188,"orderKey":745,"familyKey":1890,"parent":"Nostocales","parentKey":745,"scientificName":"Borzinemataceae","canonicalName":"Borzinemataceae","rank":"FAMILY","status":"ACCEPTED","higherClassificationMap":{"3":"Bacteria","68":"Cyanobacteria","7550188":"Cyanophyceae","745":"Nostocales"},"synonym":false,"class":"Cyanophyceae"},{"key":1891,"kingdom":"Bacteria","phylum":"Cyanobacteria","order":"Chroococcales","family":"Capsosiraceae","kingdomKey":3,"phylumKey":68,"classKey":7550188,"orderKey":746,"familyKey":1891,"parent":"Chroococcales","parentKey":746,"scientificName":"Capsosiraceae","canonicalName":"Capsosiraceae","rank":"FAMILY","status":"ACCEPTED","higherClassificationMap":{"3":"Bacteria","68":"Cyanobacteria","7550188":"Cyanophyceae","746":"Chroococcales"},"synonym":false,"class":"Cyanophyceae"},{"k[...]
