http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":100,"endOfRecords":false,"results":[{"key":0,"nubKey":0,"nameKey":97528424,"taxonID":"gbif:0","sourceTaxonKey":0,"kingdom":"incertae
        sedis","kingdomKey":0,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","scientificName":"incertae
        sedis","canonicalName":"incertae sedis","authorship":"","nameType":"PLACEHOLDER","rank":"KINGDOM","origin":"SOURCE","taxonomicStatus":"DOUBTFUL","nomenclaturalStatus":[],"remarks":"","numDescendants":14870,"lastCrawled":"2022-11-23T06:43:37.357+00:00","lastInterpreted":"2022-11-23T06:42:27.595+00:00","issues":[],"synonym":false},{"key":1,"nubKey":1,"nameKey":96916018,"taxonID":"gbif:1","sourceTaxonKey":1,"kingdom":"Animalia","kingdomKey":1,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","scientificName":"Animalia","canonicalName":"Animalia","vernacularName":"Animals","authorship":"","nameType":"SCIENTIFIC","rank":"KINGDOM","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":2941691,"lastCrawled":"2022-11-23T06:43:37.357+00:00","lastInterpreted":"2022-11-23T05:39:43.408+00:00","issues":[],"synonym":false},{"key":2,"nubKey":2,"nameKey":97064091,"taxonID":"gbif:2","sourceTaxonKey":2,"kingdom":"Archaea","kingdomKey":2,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"d7dddbf4-2cf0-4f[...]
[...]
