http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5231190/vernacularNames?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/5231190/vernacularNames?offset=0&limit=100
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"taxonKey":5231190,"vernacularName":"English
        sparrow","language":"","source":"Global Invasive Species Database","sourceTaxonKey":100220560},{"taxonKey":5231190,"vernacularName":"Europese
        huismuis","language":"","source":"Global Invasive Species Database","sourceTaxonKey":100220560},{"taxonKey":5231190,"vernacularName":"Gorrion
        domestico","language":"","source":"Global Invasive Species Database","sourceTaxonKey":100220560},{"taxonKey":5231190,"vernacularName":"Gorrión
        Común","language":"spa","source":"Multilingual IOC World Bird List, v8.2","sourceTaxonKey":123213203},{"taxonKey":5231190,"vernacularName":"Gorrión
        Común","language":"spa","source":"EUNIS Biodiversity Database","sourceTaxonKey":101186844},{"taxonKey":5231190,"vernacularName":"Gorrión
        casero","language":"spa","source":"Colaboraciones Americanas Sobre Aves","sourceTaxonKey":114130266},{"taxonKey":5231190,"vernacularName":"Gorrión
        casero","language":"spa","source":"Yanayacu Natural History Research Group","sourceTaxonKey":119245200},{"taxonKey":5231190,"vernacularName":"Gorrión
        casero","language":"spa","source":"Integrated Taxonomic Information System
        (ITIS)","sourceTaxonKey":102101640},{"taxonKey":5231190,"vernacularName":"Gorrión
        casero","language":"spa","source":"Catalogue of Life","sourceTaxonKey":132136870},{"taxonKey":5231190,"vernacularName":"Gråsparv","language":"swe","source":"EUNIS
        Biodiversity Database","sourceTaxonKey":101186844},{"taxonKey":5231190,"vernacularName":"Gråspurv","language":"dan","country":"DK","source":"Checklist
        of Danish Birds (Aves)","sourceTaxonKey":128535745},{"taxonKey":5231190,"vernacularName":"Gråspurv","language":"nor","source":"Multilingual
        IOC World Bird List, v8.2","sourceTaxonKey":123213203},{"taxonKey":5231190,"vernacularName":"Gråspurv","language":"dan","source":"Multilingual
        IOC World Bird List, v8.2","sourceTaxonKey":123213203},{"taxonKey":5231190,"vernacularName":"Haussperling","language":"deu","source":"EUNIS
        Biodiversity Databas[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5136034/vernacularNames?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/5136034/vernacularNames?offset=0&limit=100
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"taxonKey":5136034,"vernacularName":"common
        acraea","language":"","source":"NCBI Taxonomy","sourceTaxonKey":104428442},{"taxonKey":5136034,"vernacularName":"encedon
        acraea","language":"","source":"NCBI Taxonomy","sourceTaxonKey":104428442},{"taxonKey":5136034,"vernacularName":"white-barred
        acraea","language":"","source":"NCBI Taxonomy","sourceTaxonKey":104428442}]}'
  recorded_at: 2018-10-09 21:17:14 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
