http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Anastrophyllum+minutum&verbose=FALSE&checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"9KWYW","name":"Anastrophyllum minutum (Schreb.) R.M.
        Schust.","canonicalName":"Anastrophyllum minutum","authorship":"(Schreb.)
        R.M. Schust.","rank":"SPECIES","code":"BOTANICAL","status":"SYNONYM","genericName":"Anastrophyllum","specificEpithet":"minutum","type":"SCIENTIFIC","formattedName":"<i>Anastrophyllum</i>
        <i>minutum</i> (Schreb.) R.M. Schust."},"acceptedUsage":{"key":"4YVLW","name":"Sphenolobus
        minutus (Schreb.) Berggr.","canonicalName":"Sphenolobus minutus","authorship":"(Schreb.)
        Berggr.","rank":"SPECIES","code":"BOTANICAL","genericName":"Sphenolobus","specificEpithet":"minutus","type":"SCIENTIFIC","formattedName":"<i>Sphenolobus</i>
        <i>minutus</i> (Schreb.) Berggr."},"classification":[{"key":"CS5HF","name":"Eukaryota","rank":"DOMAIN"},{"key":"P","name":"Plantae","rank":"KINGDOM"},{"key":"9THX2","name":"Bryobiotina","rank":"SUBKINGDOM"},{"key":"9J9G3","name":"Marchantiophyta","rank":"PHYLUM"},{"key":"9J9G4","name":"Jungermanniopsida","rank":"CLASS"},{"key":"9JHXW","name":"Jungermanniidae","rank":"SUBCLASS"},{"key":"BV8D5","name":"Lophoziales","rank":"ORDER"},{"key":"9JFYL","name":"Anastrophyllaceae","rank":"FAMILY"},{"key":"9JNHJ","name":"Sphenolobus","rank":"GENUS"},{"key":"4YVLW","name":"Sphenolobus
        minutus","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":98,"timeTaken":14,"timings":{"nameNRank":0,"sciNameMatch":15,"nameParse":2,"luceneMatch":13}},"synonym":true,"left":774915,"right":774918}'
  recorded_at: 2026-08-13 12:22:48
recorded_with: VCR-vcr/2.0.0
