http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5231190/name?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"key":8290258,"scientificName":"Passer domesticus (Linnaeus, 1758)","type":"SCIENTIFIC","genusOrAbove":"Passer","specificEpithet":"domesticus","bracketAuthorship":"Linnaeus","bracketYear":"1758","parsed":true,"parsedPartially":false,"canonicalName":"Passer
        domesticus","canonicalNameComplete":"Passer domesticus (Linnaeus, 1758)","canonicalNameWithMarker":"Passer
        domesticus","rankMarker":"sp."}'
  recorded_at: 2022-12-06 09:51:02 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5127291/name?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"key":1200841,"scientificName":"Aulacodes aulocodoidalis Rothschild,
        1916","type":"SCIENTIFIC","genusOrAbove":"Aulacodes","specificEpithet":"aulocodoidalis","authorship":"Rothschild","year":"1916","parsed":true,"parsedPartially":false,"canonicalName":"Aulacodes
        aulocodoidalis","canonicalNameComplete":"Aulacodes aulocodoidalis Rothschild,
        1916","canonicalNameWithMarker":"Aulacodes aulocodoidalis","rankMarker":"sp."}'
  recorded_at: 2022-12-06 09:51:02 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
