http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Calopteryx&taxonRank=GENUS&verbose=FALSE
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"diagnostics":{"matchType":"NONE","issues":[],"confidence":100,"note":"Multiple
        equal matches for Calopteryx","timeTaken":46,"timings":{"sciNameMatch":46}},"synonym":false}'
  recorded_at: 2025-11-11 13:46:50
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Calopteryx&taxonRank=GENUS&verbose=TRUE
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"diagnostics":{"matchType":"NONE","issues":[],"confidence":100,"note":"Multiple
        equal matches for Calopteryx","timeTaken":44,"alternatives":[{"usage":{"key":"1427007","name":"Calopteryx
        Leach, 1815","canonicalName":"Calopteryx","authorship":"Leach, 1815","rank":"GENUS","code":"ZOOLOGICAL","status":"ACCEPTED","type":"SCIENTIFIC","formattedName":"<i>Calopteryx</i>
        Leach, 1815"},"classification":[{"key":"1","name":"Animalia","rank":"KINGDOM"},{"key":"54","name":"Arthropoda","rank":"PHYLUM"},{"key":"216","name":"Insecta","rank":"CLASS"},{"key":"789","name":"Odonata","rank":"ORDER"},{"key":"4211","name":"Calopterygidae","rank":"FAMILY"},{"key":"1427007","name":"Calopteryx","rank":"GENUS"}],"diagnostics":{"matchType":"EXACT","confidence":105,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=6; status=1; score=105","timeTaken":0},"synonym":false},{"usage":{"key":"3234109","name":"Calopteryx
        A.C.Sm.","canonicalName":"Calopteryx","authorship":"A.C.Sm.","rank":"GENUS","status":"SYNONYM","type":"SCIENTIFIC","formattedName":"<i>Calopteryx</i>
        A.C.Sm."},"acceptedUsage":{"key":"7763613","name":"Thibaudia Ruiz & Pav. ex
        J.St.-Hil.","canonicalName":"Thibaudia","authorship":"Ruiz & Pav. ex J.St.-Hil.","rank":"GENUS","type":"SCIENTIFIC","formattedName":"<i>Thibaudia</i>
        Ruiz & Pav. ex J.St.-Hil."},"classification":[{"key":"6","name":"Plantae","rank":"KINGDOM"},{"key":"7707728","name":"Tracheophyta","rank":"PHYLUM"},{"key":"220","name":"Magnoliopsida","rank":"CLASS"},{"key":"1353","name":"Ericales","rank":"ORDER"},{"key":"2505","name":"Ericaceae","ra[...]
