http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Calopteryx&rank=species&strict=false&verbose=FALSE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":1427007,"scientificName":"Calopteryx Leach, 1815","canonicalName":"Calopteryx","rank":"GENUS","status":"ACCEPTED","confidence":92,"matchType":"HIGHERRANK","kingdom":"Animalia","phylum":"Arthropoda","order":"Odonata","family":"Calopterygidae","genus":"Calopteryx","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":789,"familyKey":4211,"genusKey":1427007,"synonym":false,"class":"Insecta"}'
  recorded_at: 2022-04-08 13:34:59 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Calopteryx&rank=species&strict=false&verbose=TRUE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":1427007,"scientificName":"Calopteryx Leach, 1815","canonicalName":"Calopteryx","rank":"GENUS","status":"ACCEPTED","confidence":92,"note":"Similarity:
        name=100; classification=-2; rank=0; status=1; nextMatch=0","matchType":"HIGHERRANK","alternatives":[{"usageKey":3234109,"acceptedUsageKey":7763613,"scientificName":"Calopteryx
        A.C.Sm.","canonicalName":"Calopteryx","rank":"GENUS","status":"SYNONYM","confidence":73,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=-25; status=0","matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Ericales","family":"Ericaceae","genus":"Thibaudia","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1353,"familyKey":2505,"genusKey":7763613,"synonym":true,"class":"Magnoliopsida"},{"usageK[...]
