http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Cirsium%20arvense%20%28L.%29%20Scop.&kingdom=Plantae&strict=false&verbose=FALSE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":3113414,"scientificName":"Cirsium arvense (L.) Scop.","canonicalName":"Cirsium
        arvense","rank":"SPECIES","status":"ACCEPTED","confidence":100,"matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asterales","family":"Asteraceae","genus":"Cirsium","species":"Cirsium
        arvense","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":414,"familyKey":3065,"genusKey":3112554,"speciesKey":3113414,"synonym":false,"class":"Magnoliopsida"}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Calopteryx%20splendens%20%28Harris%2C%201780%29&kingdom=Animalia&strict=false&verbose=FALSE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":7412043,"scientificName":"Calopteryx splendens Harris,
        1780","canonicalName":"Calopteryx splendens","rank":"SPECIES","status":"ACCEPTED","confidence":100,"matchType":"EXACT","kingdom":"Animalia","phylum":"Arthropoda","order":"Odonata","family":"Calopterygidae","genus":"Calopteryx","species":"Calopteryx
        splendens","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":789,"familyKey":4211,"genusKey":1427007,"speciesKey":7412043,"synonym":false,"class":"Insecta"}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Puma%20concolor%20%28Linnaeus%2C%201771%29&kingdom=Animalia&strict=false&verbose=FALSE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":2435099,"scientificName":"Puma concolor (Linnaeus, 1771)","canonicalName":"Puma
        concolor","rank":"SPECIES","status":"ACCEPTED","confidence":100,"matchType":"EXACT","kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Felidae","genus":"Puma","species":"Puma
        concolor","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9703,"genusKey":2435098,"speciesKey":2435099,"synonym":false,"class":"Mammalia"}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Ceylonosticta%20alwisi%20%28Priyadarshana%20%26%20Wijewardhane%2C%202016%29&kingdom=Animalia&strict=false&verbose=FALSE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":4799067,"scientificName":"Ceylonosticta Fraser, 1931","canonicalName":"Ceylonosticta","rank":"GENUS","status":"ACCEPTED","confidence":96,"matchType":"HIGHERRANK","kingdom":"Animalia","phylum":"Arthropoda","order":"Odonata","family":"Platystictidae","genus":"Ceylonosticta","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":789,"familyKey":9403,"genusKey":4799067,"synonym":false,"class":"Insecta"}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Puma%20concuolor%20%28Linnaeus%2C%201771%29&kingdom=Animalia&strict=false&verbose=FALSE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":2435099,"scientificName":"Puma concolor (Linnaeus, 1771)","canonicalName":"Puma
        concolor","rank":"SPECIES","status":"ACCEPTED","confidence":97,"matchType":"FUZZY","kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Felidae","genus":"Puma","species":"Puma
        concolor","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9703,"genusKey":2435098,"speciesKey":2435099,"synonym":false,"class":"Mammalia"}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Fake%20species%20%28John%20Waller%202021%29&kingdom=Johnlia&strict=false&verbose=FALSE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"confidence":100,"note":"No match because of too little confidence","matchType":"NONE","synonym":false}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Calopteryx&kingdom=Animalia&strict=false&verbose=FALSE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":1427007,"scientificName":"Calopteryx Leach, 1815","canonicalName":"Calopteryx","rank":"GENUS","status":"ACCEPTED","confidence":95,"matchType":"EXACT","kingdom":"Animalia","phylum":"Arthropoda","order":"Odonata","family":"Calopterygidae","genus":"Calopteryx","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":789,"familyKey":4211,"genusKey":1427007,"synonym":false,"class":"Insecta"}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Cirsium%20arvense%20%28L.%29%20Scop.&kingdom=Plantae&strict=false&verbose=TRUE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":3113414,"scientificName":"Cirsium arvense (L.) Scop.","canonicalName":"Cirsium
        arvense","rank":"SPECIES","status":"ACCEPTED","confidence":100,"note":"Similarity:
        name=110; authorship=16; classification=4; rank=5; status=1; nextMatch=5","matchType":"EXACT","alternatives":[{"usageKey":7679403,"scientificName":"Cirsium
        arcense Scop.","canonicalName":"Cirsium arcense","rank":"SPECIES","status":"ACCEPTED","confidence":98,"note":"Similarity:
        name=95; authorship=12; classification=4; rank=5; status=1","matchType":"FUZZY","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asterales","family":"Asteraceae","genus":"Cirsium","species":"Cirsium
        arcense","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":414,"familyKey":3065,"genusKey":31[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Calopteryx%20splendens%20%28Harris%2C%201780%29&kingdom=Animalia&strict=false&verbose=TRUE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":7412043,"scientificName":"Calopteryx splendens Harris,
        1780","canonicalName":"Calopteryx splendens","rank":"SPECIES","status":"ACCEPTED","confidence":100,"note":"Similarity:
        name=110; authorship=0; classification=4; rank=5; status=1; singleMatch=5","matchType":"EXACT","kingdom":"Animalia","phylum":"Arthropoda","order":"Odonata","family":"Calopterygidae","genus":"Calopteryx","species":"Calopteryx
        splendens","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":789,"familyKey":4211,"genusKey":1427007,"speciesKey":7412043,"synonym":false,"class":"Insecta"}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Puma%20concolor%20%28Linnaeus%2C%201771%29&kingdom=Animalia&strict=false&verbose=TRUE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":2435099,"scientificName":"Puma concolor (Linnaeus, 1771)","canonicalName":"Puma
        concolor","rank":"SPECIES","status":"ACCEPTED","confidence":100,"note":"Similarity:
        name=110; authorship=4; classification=4; rank=5; status=1; singleMatch=5","matchType":"EXACT","kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Felidae","genus":"Puma","species":"Puma
        concolor","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9703,"genusKey":2435098,"speciesKey":2435099,"synonym":false,"class":"Mammalia"}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Ceylonosticta%20alwisi%20%28Priyadarshana%20%26%20Wijewardhane%2C%202016%29&kingdom=Animalia&strict=false&verbose=TRUE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":4799067,"scientificName":"Ceylonosticta Fraser, 1931","canonicalName":"Ceylonosticta","rank":"GENUS","status":"ACCEPTED","confidence":96,"note":"Similarity:
        name=100; classification=4; rank=0; status=1; singleMatch=5","matchType":"HIGHERRANK","kingdom":"Animalia","phylum":"Arthropoda","order":"Odonata","family":"Platystictidae","genus":"Ceylonosticta","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":789,"familyKey":9403,"genusKey":4799067,"synonym":false,"class":"Insecta"}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Puma%20concuolor%20%28Linnaeus%2C%201771%29&kingdom=Animalia&strict=false&verbose=TRUE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":2435099,"scientificName":"Puma concolor (Linnaeus, 1771)","canonicalName":"Puma
        concolor","rank":"SPECIES","status":"ACCEPTED","confidence":97,"note":"Similarity:
        name=95; authorship=4; classification=4; rank=5; status=1; singleMatch=5","matchType":"FUZZY","kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Felidae","genus":"Puma","species":"Puma
        concolor","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9703,"genusKey":2435098,"speciesKey":2435099,"synonym":false,"class":"Mammalia"}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Fake%20species%20%28John%20Waller%202021%29&kingdom=Johnlia&strict=false&verbose=TRUE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"confidence":100,"note":"No match because of too little confidence","matchType":"NONE","alternatives":[{"usageKey":1725165,"acceptedUsageKey":1725229,"scientificName":"Faku
        Péringuey, 1916","canonicalName":"Faku","rank":"GENUS","status":"SYNONYM","confidence":44,"note":"Similarity:
        name=75; authorship=0; classification=-11; rank=-25; status=0; singleMatch=5","matchType":"FUZZY","kingdom":"Animalia","phylum":"Arthropoda","order":"Orthoptera","family":"Anostostomatidae","genus":"Nasidius","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1458,"familyKey":3992,"genusKey":1725229,"synonym":true,"class":"Insecta"}],"synonym":false}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Calopteryx&kingdom=Animalia&strict=false&verbose=TRUE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Cirsium%20arvense%20%28L.%29%20Scop.&strict=false&verbose=FALSE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":3113414,"scientificName":"Cirsium arvense (L.) Scop.","canonicalName":"Cirsium
        arvense","rank":"SPECIES","status":"ACCEPTED","confidence":100,"matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asterales","family":"Asteraceae","genus":"Cirsium","species":"Cirsium
        arvense","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":414,"familyKey":3065,"genusKey":3112554,"speciesKey":3113414,"synonym":false,"class":"Magnoliopsida"}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Calopteryx%20splendens%20%28Harris%2C%201780%29&strict=false&verbose=FALSE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":7412043,"scientificName":"Calopteryx splendens Harris,
        1780","canonicalName":"Calopteryx splendens","rank":"SPECIES","status":"ACCEPTED","confidence":98,"matchType":"EXACT","kingdom":"Animalia","phylum":"Arthropoda","order":"Odonata","family":"Calopterygidae","genus":"Calopteryx","species":"Calopteryx
        splendens","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":789,"familyKey":4211,"genusKey":1427007,"speciesKey":7412043,"synonym":false,"class":"Insecta"}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Puma%20concolor%20%28Linnaeus%2C%201771%29&strict=false&verbose=FALSE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":2435099,"scientificName":"Puma concolor (Linnaeus, 1771)","canonicalName":"Puma
        concolor","rank":"SPECIES","status":"ACCEPTED","confidence":99,"matchType":"EXACT","kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Felidae","genus":"Puma","species":"Puma
        concolor","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9703,"genusKey":2435098,"speciesKey":2435099,"synonym":false,"class":"Mammalia"}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Ceylonosticta%20alwisi%20%28Priyadarshana%20%26%20Wijewardhane%2C%202016%29&strict=false&verbose=FALSE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":4799067,"scientificName":"Ceylonosticta Fraser, 1931","canonicalName":"Ceylonosticta","rank":"GENUS","status":"ACCEPTED","confidence":94,"matchType":"HIGHERRANK","kingdom":"Animalia","phylum":"Arthropoda","order":"Odonata","family":"Platystictidae","genus":"Ceylonosticta","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":789,"familyKey":9403,"genusKey":4799067,"synonym":false,"class":"Insecta"}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Puma%20concuolor%20%28Linnaeus%2C%201771%29&strict=false&verbose=FALSE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":2435099,"scientificName":"Puma concolor (Linnaeus, 1771)","canonicalName":"Puma
        concolor","rank":"SPECIES","status":"ACCEPTED","confidence":95,"matchType":"FUZZY","kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Felidae","genus":"Puma","species":"Puma
        concolor","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9703,"genusKey":2435098,"speciesKey":2435099,"synonym":false,"class":"Mammalia"}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Fake%20species%20%28John%20Waller%202021%29&strict=false&verbose=FALSE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"confidence":100,"note":"No match because of too little confidence","matchType":"NONE","synonym":false}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Calopteryx&strict=false&verbose=FALSE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":1427007,"scientificName":"Calopteryx Leach, 1815","canonicalName":"Calopteryx","rank":"GENUS","status":"ACCEPTED","confidence":92,"matchType":"EXACT","kingdom":"Animalia","phylum":"Arthropoda","order":"Odonata","family":"Calopterygidae","genus":"Calopteryx","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":789,"familyKey":4211,"genusKey":1427007,"synonym":false,"class":"Insecta"}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Cirsium%20arvense%20%28L.%29%20Scop.&strict=false&verbose=TRUE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      enco[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Calopteryx%20splendens%20%28Harris%2C%201780%29&strict=false&verbose=TRUE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":7412043,"scientificName":"Calopteryx splendens Harris,
        1780","canonicalName":"Calopteryx splendens","rank":"SPECIES","status":"ACCEPTED","confidence":98,"note":"Similarity:
        name=110; authorship=0; classification=-2; rank=5; status=1; singleMatch=5","matchType":"EXACT","kingdom":"Animalia","phylum":"Arthropoda","order":"Odonata","family":"Calopterygidae","genus":"Calopteryx","species":"Calopteryx
        splendens","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":789,"familyKey":4211,"genusKey":1427007,"speciesKey":7412043,"synonym":false,"class":"Insecta"}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Puma%20concolor%20%28Linnaeus%2C%201771%29&strict=false&verbose=TRUE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":2435099,"scientificName":"Puma concolor (Linnaeus, 1771)","canonicalName":"Puma
        concolor","rank":"SPECIES","status":"ACCEPTED","confidence":99,"note":"Similarity:
        name=110; authorship=4; classification=-2; rank=5; status=1; singleMatch=5","matchType":"EXACT","kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Felidae","genus":"Puma","species":"Puma
        concolor","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9703,"genusKey":2435098,"speciesKey":2435099,"synonym":false,"class":"Mammalia"}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Ceylonosticta%20alwisi%20%28Priyadarshana%20%26%20Wijewardhane%2C%202016%29&strict=false&verbose=TRUE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":4799067,"scientificName":"Ceylonosticta Fraser, 1931","canonicalName":"Ceylonosticta","rank":"GENUS","status":"ACCEPTED","confidence":94,"note":"Similarity:
        name=100; classification=-2; rank=0; status=1; singleMatch=5","matchType":"HIGHERRANK","kingdom":"Animalia","phylum":"Arthropoda","order":"Odonata","family":"Platystictidae","genus":"Ceylonosticta","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":789,"familyKey":9403,"genusKey":4799067,"synonym":false,"class":"Insecta"}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Puma%20concuolor%20%28Linnaeus%2C%201771%29&strict=false&verbose=TRUE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":2435099,"scientificName":"Puma concolor (Linnaeus, 1771)","canonicalName":"Puma
        concolor","rank":"SPECIES","status":"ACCEPTED","confidence":95,"note":"Similarity:
        name=95; authorship=4; classification=-2; rank=5; status=1; singleMatch=5","matchType":"FUZZY","kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Felidae","genus":"Puma","species":"Puma
        concolor","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9703,"genusKey":2435098,"speciesKey":2435099,"synonym":false,"class":"Mammalia"}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Fake%20species%20%28John%20Waller%202021%29&strict=false&verbose=TRUE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"confidence":100,"note":"No match because of too little confidence","matchType":"NONE","alternatives":[{"usageKey":1725165,"acceptedUsageKey":1725229,"scientificName":"Faku
        Péringuey, 1916","canonicalName":"Faku","rank":"GENUS","status":"SYNONYM","confidence":53,"note":"Similarity:
        name=75; authorship=0; classification=-2; rank=-25; status=0; singleMatch=5","matchType":"FUZZY","kingdom":"Animalia","phylum":"Arthropoda","order":"Orthoptera","family":"Anostostomatidae","genus":"Nasidius","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1458,"familyKey":3992,"genusKey":1725229,"synonym":true,"class":"Insecta"}],"synonym":false}'
  recorded_at: 2021-10-07 12:24:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Calopteryx&strict=false&verbose=TRUE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.6.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no[...]
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Cirsium%20arvense&strict=false&verbose=FALSE&limit=100
    body:
      encoding: ''
      string: ''
[...]
