http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/5231190/typeSpecimens?offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[]}'
  recorded_at: 2022-04-08 13:35:39 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
