http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/search?limit=200&offset=0&status=misapplied&status=synonym
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/search?limit=200&offset=0&status=misapplied&status=synonym
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":200,"endOfRecords":false,"count":7038125,"results":[{"key":11,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"daacce49-b206-469b-8dc2-2257719f3afa","nubKey":11,"parentKey":6,"parent":"Plantae","acceptedKey":7707728,"accepted":"Tracheophyta","kingdom":"Plantae","phylum":"Tracheophyta","kingdomKey":6,"phylumKey":7707728,"scientificName":"Ginkgophyta","canonicalName":"Ginkgophyta","authorship":"","nameType":"SCIENTIFIC","taxonomicStatus":"SYNONYM","rank":"PHYLUM","origin":"SOURCE","numDescendants":0,"numOccurrences":0,"extinct":false,"habitats":[],"nomenclaturalStatus":[],"threatStatuses":[],"descriptions":[],"vernacularNames":[],"higherClassificationMap":{"6":"Plantae","7707728":"Tracheophyta"},"synonym":true},{"key":12,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"daacce49-b206-469b-8dc2-2257719f3afa","nubKey":12,"parentKey":6,"parent":"Plantae","acceptedKey":7707728,"accepted":"Tracheophyta","kingdom":"Plantae","phylum":"Tracheophyta","kingdomKey":6,"phylumKey":7707728,"scientificName":"Lycopodiophyta","canonicalName":"Lycopodiophyta","authorship":"","nameType":"SCIENTIFIC","taxonomicStatus":"SYNONYM","rank":"PHYLUM","origin":"SOURCE","numDescendants":0,"numOccurrences":0,"extinct":false,"habitats":[],"nomenclaturalStatus":[],"threatStatuses":[],"descriptions":[],"vernacularNames":[],"higherClassificationMap":{"6":"Plantae","7707728":"Tracheophyta"},"synonym":true},{"key":49,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"daacce49-b206-469b-8dc2-2257719f3afa","nubKey":49,"parentKey":6,"parent":"Plantae","acceptedKey":7707728,"accepted":"Tracheophyta","kingdom":"Plantae","phylum":"Tracheophyta","kingdomKey":6,"phylumKey":7707728,"scientificName":"Magnoliophyta","canonicalName":"Magnoliophyta","authorship":"","nameType":"SCIENTIFIC","taxonomicStatus":"SYNONYM","rank":"PHYLUM","origin":"SOURCE","numDescendants":0,"numOccurrences":0,"extinct":false,"habitats":["FRESHWATER","MARINE","TERRESTRIAL"],"nomenclaturalStatus":[],"threatStatuses":[],"descriptions":[],"vernacularNames":[{"vernacularName":"angiosperms","language":""},{"vernacularName":"flowering
        plants","language":""}],"higherClassificationMap":{"6":"Plantae","7707728":"Tracheophyta"},"synonym":true},{"key":59,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"daacce49-b206-469b-8dc2-2257719f3afa","nubKey":59,"parentKey":6,"parent":"Plantae","acceptedKey":7707728,"accepted":"Tracheophyta","kingdom":"Plantae","phylum":"Tracheophyta","kingdomKey":6,"phylumKey":7707728,"scientificName":"Pteridophyta","canonicalName":"Pteridophyta"[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/species/search?limit=200&offset=0&nameType=cultivar&nameType=doubtful
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/search?limit=200&offset=0&nameType=cultivar&nameType=doubtful
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":200,"endOfRecords":false,"count":176232,"results":[{"key":1008183,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","nubKey":1008183,"parentKey":1008179,"parent":"Cribrilina","basionymKey":9708822,"basionym":"Membraniporella
        corbicula O''Donoghue & O''Donoghue, 1923","kingdom":"Animalia","phylum":"Bryozoa","order":"Cheilostomatida","family":"Cribrilinidae","genus":"Cribrilina","species":"Cribrilina
        corbicula","kingdomKey":1,"phylumKey":53,"classKey":252,"orderKey":467,"familyKey":5802,"genusKey":1008179,"speciesKey":1008183,"scientificName":"Cribrilina
        corbicula (O''Donoghue & O''Donoghue, 1923)","canonicalName":"Cribrilina corbicula","authorship":"
        (O''Donoghue & O''Donoghue, 1923)","nameType":"DOUBTFUL","taxonomicStatus":"ACCEPTED","rank":"SPECIES","origin":"SOURCE","numDescendants":0,"numOccurrences":0,"habitats":["MARINE"],"nomenclaturalStatus":[],"threatStatuses":[],"descriptions":[],"vernacularNames":[],"higherClassificationMap":{"1":"Animalia","53":"Bryozoa","252":"Gymnolaemata","467":"Cheilostomatida","5802":"Cribrilinidae","1008179":"Cribrilina"},"synonym":false,"class":"Gymnolaemata"},{"key":1195789,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","nubKey":1195789,"parentKey":1195552,"parent":"Cossonus","kingdom":"Animalia","phylum":"Arthropoda","order":"Coleoptera","family":"Curculionidae","genus":"Cossonus","species":"Cossonus
        lacupros","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1470,"familyKey":4239,"genusKey":1195552,"speciesKey":1195789,"scientificName":"Cossonus
        lacup[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/species/search?limit=250&offset=0&origin=implicit_name&origin=proparte
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/search?lim[...]
