http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Helianthus+annuus&taxonRank=species&verbose=FALSE
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"9206251","name":"Helianthus annuus L.","canonicalName":"Helianthus
        annuus","authorship":"L.","rank":"SPECIES","status":"ACCEPTED","genericName":"Helianthus","specificEpithet":"annuus","type":"SCIENTIFIC","formattedName":"<i>Helianthus</i>
        <i>annuus</i> L."},"classification":[{"key":"6","name":"Plantae","rank":"KINGDOM"},{"key":"7707728","name":"Tracheophyta","rank":"PHYLUM"},{"key":"220","name":"Magnoliopsida","rank":"CLASS"},{"key":"414","name":"Asterales","rank":"ORDER"},{"key":"3065","name":"Asteraceae","rank":"FAMILY"},{"key":"3119134","name":"Helianthus","rank":"GENUS"},{"key":"9206251","name":"Helianthus
        annuus","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"timeTaken":12,"timings":{"nameNRank":0,"sciNameMatch":12,"nameParse":0,"luceneMatch":12}},"additionalStatus":[{"clbDatasetKey":"53131","datasetAlias":"IUCN","datasetKey":"19491596-35ae-4a91-9a98-85cf505f1bd3","status":"LEAST_CONCERN","statusCode":"LC","sourceId":"19073408"}],"synonym":false,"left":1904731,"right":1904740}'
  recorded_at: 2025-08-14 10:38:05
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Helianthus+annuus&taxonRank=species&verbose=TRUE
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"9206251","name":"Helianthus annuus L.","canonicalName":"Helianthus
        annuus","authorship":"L.","rank":"SPECIES","status":"ACCEPTED","genericName":"Helianthus","specificEpithet":"annuus","type":"SCIENTIFIC","formattedName":"<i>Helianthus</i>
        <i>annuus</i> L."},"classification":[{"key":"6","name":"Plantae","rank":"KINGDOM"},{"key":"7707728","name":"Tracheophyta","rank":"PHYLUM"},{"key":"220","name":"Magnoliopsida","rank":"CLASS"},{"key":"414","name":"Asterales","rank":"ORDER"},{"key":"3065","name":"Asteraceae","rank":"FAMILY"},{"key":"3119134","name":"Helianthus","rank":"GENUS"},{"key":"9206251","name":"Helianthus
        annuus","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"note":"Similarity:
        name=110; authorship=0; classification=-2; rank=6; status=1; score=115; nextMatch=5","timeTaken":12,"alternatives":[{"usage":{"key":"4252034","name":"Helianthus
        canus (Britton) Wooton & Standl.","canonicalName":"Helianthus canus","authorship":"(Britton)
        Wooton & Standl.","rank":"SPECIES","code":"BOTANICAL","status":"SYNONYM","genericName":"Helianthus","specificEpithet":"canus","type":"SCIENTIFIC","formattedName":"<i>Helianthus</i>
        <i>canus</i> (Britton) Wooton & Standl."},"acceptedUsage":{"key":"4250528","name":"Helianthus
        petiolaris var. canescens A.Gray","canonicalName":"Helianthus petiolaris canescens","authorship":"A.Gray","rank":"VARIETY","genericName":"Helianthus","specificEpithet":"petiolaris","infraspecificEpithet":"canescens","type":"SCIENTIFIC","formattedName":"<i>Helianthus</i>
        <i>petiolaris</i> var. <i>canescens</i> A.Gray"},"classification":[{"key":"6","name":"Plantae","rank":"KINGDOM"},{"key":"7707728","name":"Tracheophyta","rank":"PHYLUM"},{"key":"220","name":"Magnoliopsida","rank":"CLASS"},{"key":"414","name":"Asterales","rank":"ORDER"},{"key":"3065","name":"Asteraceae","rank":"FAMILY"},{"key":"3119134","name":"Helianthus","rank":"GENUS"},{"key":"3119225","name":"Helianthus
        petiolaris","rank":"SPECIES"},{"key":"4250528","name":"Helianthus petiolaris
        canescens","rank":"VARIETY"}],"diagnostics":{"matchType":"VARIANT","confidence":9,"note":"Similarity:
        name=5; authorship=0; classification=-2; rank=6; status=0; score=9","timeTaken":0},"synonym":true,"left":1904770,"right":1904770}],"timings":{"nameNRank":0,"sciNameMatch":13,"nameParse":1,"luceneMatch":12}},"additionalStatus":[{"clbDatasetKey":"53131","datasetAlias":"IUCN","datasetKey":"19491596-35ae-4a91-9a98-85cf505f1bd3","status":"LEAST_CONCERN","statusCode":"LC","sourceId":"19073408"}],"synonym":false,"left":1904731,"right":1904740}'
  recorded_at: 2025-08-14 10:38:05
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Calopteryx+fakeus&verbose=FALSE
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"diagnostics":{"matchType":"NONE","issues":[],"confidence":100,"timeTaken":22,"timings":{"sciNameMatch":22}},"synonym":false}'
  recorded_at: 2025-08-14 10:38:05
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Calopteryx+splendens&kingdom=Plantae&strict=FALSE&verbose=FALSE
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"3234109","name":"Calopteryx A.C.Sm.","canonicalName":"Calopteryx","authorship":"A.C.Sm.","rank":"GENUS","status":"SYNONYM","type":"SCIENTIFIC","formattedName":"<i>Calopteryx</i>
        A.C.Sm."},"acceptedUsage":{"key":"7763613","name":"Thibaudia Ruiz & Pav. ex
        J.St.-Hil.","canonicalName":"Thibaudia","authorship":"Ruiz & Pav. ex J.St.-Hil.","rank":"GENUS","type":"SCIENTIFIC","formattedName":"<i>Thibaudia</i>
        Ruiz & Pav. ex J.St.-Hil."},"classification":[{"key":"6","name":"Plantae","rank":"KINGDOM"},{"key":"7707728","name":"Tracheophyta","rank":"PHYLUM"},{"key":"220","name":"Magnoliopsida","rank":"CLASS"},{"key":"1353","name":"Ericales","rank":"ORDER"},{"key":"2505","name":"Ericaceae","rank":"FAMILY"},{"key":"7763613","name":"Thibaudia","rank":"GENUS"}],"diagnostics":{"matchType":"HIGHERRANK","confidence":96,"timeTaken":27,"timings":{"sciNameMatch":27}},"synonym":true}'
  recorded_at: 2025-08-14 10:38:05
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Calopteryx+splendens&kingdom=Plantae&strict=TRUE&verbose=FALSE
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"diagnostics":{"matchType":"NONE","issues":[],"processingFlags":["LOW_CONFIDENCE"],"confidence":99,"note":"No
        match because of too little confidence","timeTaken":2,"timings":{"nameNRank":0,"sciNameMatch":2,"nameParse":1,"luceneMatch":1}},"synonym":false}'
  recorded_at: 2025-08-14 10:38:05
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Calopteryx+splendens&kingdom=Plantae&verbose=TRUE
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"3234109","name":"Calopteryx A.C.Sm.","canonicalName":"Calopteryx","authorship":"A.C.Sm.","rank":"GENUS","status":"SYNONYM","type":"SCIENTIFIC","formattedName":"<i>Calopteryx</i>
        A.C.Sm."},"acceptedUsage"[...]
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Calopteryx+splendens&kingdom=Plantae&strict=TRUE&verbose=TRUE
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"diagnostics":{"matchType":"NONE","issues":[],"processingFlags":["LOW_CONFIDENCE"],"confidence":99,"note":"No
        match because of too little confidence","timeTaken":2,"alternatives":[{"usage":{"key":"1427067","[...]
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Aves&verbose=FALSE&checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"V2","name":"Aves","canonicalName":"Aves","rank":"CLASS","code":"ZOOLOGICAL","status":"ACCEPTED","type":"SCIENTIFIC","formattedName":"<i>Aves</i>"},"classification":[{"key":"CS5HF","name":"Eukaryota","rank":"DOMAIN"},{"key":"N","name":"Animalia","rank":"KINGDOM"},{"key":"CH2","name":"Chordata","rank":"PHYLUM"},{"key":"8V4V3","name":"Vertebrata","rank":"SUBPHYLUM"},{"key":"8V4V5","name":"Gnathostomata","rank":"INFRAPHYLUM"},{"key":"8VVWB","name":"Osteichthyes","rank":"PARVPHYLUM"},{"key":"9CK8W","name":"Tetrapoda","rank":"MEGACLASS"},{"key":"V2","name":"Aves","rank":"CLASS"}],"diagnostics":{"matchType":"HIGHERRANK","confidence":94,"timeTaken":16,"timings":{"nameNRank":0,"sciNameMatch":17,"nameParse":3,"luceneMatch":13}},"synonym":false,"left":1151348,"right":1201153}'
  recorded_at: 2025-08-14 10:38:07
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Calopteryx&usageKey=V2&verbose=FALSE&checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"V2","name":"Aves","canonicalName":"Aves","rank":"CLASS","code":"ZOOLOGICAL","status":"ACCEPTED","type":"SCIENTIFIC","formattedName":"<i>Aves</i>"},"classification":[{"key":"CS5HF","name":"Eukaryota","rank":"DOMAIN"},{"key":"N","name":"Animalia","rank":"KINGDOM"},{"key":"CH2","name":"Chordata","rank":"PHYLUM"},{"key":"8V4V3","name":"Vertebrata","rank":"SUBPHYLUM"},{"key":"8V4V5","name":"Gnathostomata","rank":"INFRAPHYLUM"},{"key":"8VVWB","name":"Osteichthyes","rank":"PARVPHYLUM"},{"key":"9CK8W","name":"Tetrapoda","rank":"MEGACLASS"},{"key":"V2","name":"Aves","rank":"CLASS"}],"diagnostics":{"matchType":"EXACT","confidence":100,"note":"All
        provided names were ignored since the usageKey was provided","timeTaken":0,"timings":{"usageKeyMatch":0}},"synonym":false,"left":1151348,"right":1201153}'
  recorded_at: 2025-08-14 10:38:07
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificNameAuthorship=Erwin%2C+2002&genericName=Agra&specificEpithet=schwarzeneggeri&verbose=FALSE
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"7349050","name":"Agra schwarzeneggeri Erwin, 2002","canonicalName":"Agra
        schwarzeneggeri","authorship":"Erwin, 2002","rank":"SPECIES","code":"ZOOLOGICAL","status":"ACCEPTED","genericName":"Agra","specificEpithet":"schwarzeneggeri","type":"SCIENTIFIC","formattedName":"<i>Agra</i>
        <i>schwarzeneggeri</i> Erwin, 2002"},"classification":[{"key":"1","name":"Animalia","rank":"KINGDOM"},{"key":"54","name":"Arthropoda","rank":"PHYLUM"},{"key":"216","name":"Insecta","rank":"CLASS"},{"key":"1470","name":"Coleoptera","rank":"ORDER"},{"key":"3792","name":"Carabidae","rank":"FAMILY"},{"key":"1037335","name":"Agra","rank":"GENUS"},{"key":"7349050","name":"Agra
        schwarzeneggeri","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":100,"timeTaken":18,"timings":{"nameNRank":1,"sciNameMatch":19,"nameParse":1,"luceneMatch":17}},"synonym":false}'
  recorded_at: 2025-08-14 10:38:07
recorded_with: VCR-vcr/2.0.0
