http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/network?limit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":100,"endOfRecords":true,"count":10,"results":[{"key":"8534dd20-c368-4a1f-bdaf-e6b390710f89","title":"SCAR
        Scientific Committee on Antarctic Research","language":"eng","numConstituents":209,"email":[],"phone":[],"homepage":[],"address":[],"createdBy":"andrea","modifiedBy":"andrea","created":"2022-02-18T13:27:40.670+00:00","modified":"2022-02-18T14:56:04.788+00:00","contacts":[{"key":3394109,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":false,"userId":[],"firstName":"Anton","lastName":"Van
        de Putte","position":[],"email":["antonarctica@gmail.com","avandeputte@naturalsciences.be"],"phone":[],"homepage":[],"organization":"Royal
        Belgian Institute of Natural Sciences","address":["Vautierstraat 29"],"city":"Brussels","country":"BE","postalCode":"1000","createdBy":"andrea","modifiedBy":"andrea","created":"2022-03-01T14:06:23.259+00:00","modified":"2022-03-01T14:06:23.259+00:00"},{"key":3394209,"type":"POINT_OF_CONTACT","primary":false,"userId":[],"firstName":"Yi
        Ming","lastName":"Gan","position":[],"email":["ymgan@naturalsciences.be"],"phone":[],"homepage":[],"organization":"Royal
        Belgian Institute of Natural Sciences","address":["Vautierstraat 29"],"city":"Brussels","country":"BE","postalCode":"1000","createdBy":"andrea","modifiedBy":"andrea","created":"2022-03-01T14:07:17.856+00:00","modified":"2022-03-01T14:07:17.856+00:00"},{"key":3394210,"type":"POINT_OF_CONTACT","primary":false,"userId":[],"firstName":"Huw","lastName":"Griffiths","position":["Additional
        delegate"],"email":["hjg@bas.ac.uk"],"phone":[],"homepage":[],"organization":"British
        Antarctic Survey","address":["High Cross, Madingley Road "],"city":"Cambridge","country":"GB","postalCode":"CB3
        0ET","createdBy":"andrea","modifiedBy":"andrea","created":"2022-03-01T14:08:49.658+00:00","modified":"2022-03-01T14:08:49.658+00:00"}],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[],"comments":[]},{"key":"4b0d8edb-7504-42c4-9349-63e86c01bf97","title":"The
        Virtual Herbarium Reflora","language":"eng","numConstituents":66,"email":[],"phone":[],"homepage":[],"address":[],"createdBy":"andrea","modifiedBy":"andrea","created":"2021-11-09T10:25:07.055+00:00","modified":"2021-11-09T10:25:07.055+00:00","contacts":[{"key":3402098,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":false,"userId":[],"firstName":"Reflora","position":[],"email":["reflora@jbrj.gov.br"],"phone":[],"homepage":[],"address":[],"createdBy":"andrea","modifiedBy":"andrea","created":"2022-03-10T09:48:04.909+00:00","modified":"2022-03-10T09:48:04.909+00:00"}],"endpoints":[],"machineTags":[{"key":10781268,"namespace":"registry.gbif.org","name":"visibleOnDatasetPage","value":"true","createdBy":"andrea","created":"2022-03-09T09:06:18.608+00:00"}],"tags":[],"identifiers":[],"comments":[]},{"key":"17abcf75-2f1e-46dd-bf75-a5b21dd02655","title":"Distributed
        System of Scientific Collections (DiSSCo)","description":"The Distributed
        System of Scientific Collections is a new world-class Research Infrastructure
        (RI) for natural science collections. The DiSSCo RI works for the digital
        unification of all European natural science assets under common curation,
        access, policies and practices, and aims to ensure that the data is easily
        Findable, Accessible, Interoperable and Reusable (FAIR). As such, DiSSCo will
        transform a fragmented landscape of crucial natura[...]
