http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/network?limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":100,"endOfRecords":true,"count":23,"results":[{"key":"5e061a4a-d7d6-472f-95fe-a602b05e464a","title":"NBFC
        - Italian National Biodiversity Future Center","description":"NBFC (National
        Biodiversity Future Center) is Italy''s national research center dedicated
        to biodiversity, with a strong focus on biodiversity conservation, ecological
        restoration, and long-term monitoring. It brings together a network of more
        than 3,000 researchers from public research institutions and universities,
        complemented by industrial partners, research consortia, and regional and
        local authorities. Through close collaboration with nation[...]
