http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/network?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":true,"count":1,"results":[{"key":"2b7c7b4f-4d4f-40d3-94de-c28b6fa054a6","title":"Ocean
        Biogeographic Information System (OBIS)","description":"The Ocean Biogeographic
        Information System (OBIS) is the information component of the Census of Marine
        Life (CoML), a growing network of more than 1000 researchers in 73 nations
        engaged in a 10-year initiative to assess and explain the diversity, distribution,
        and abundance of life in the oceans - past, present, and future.","language":"eng","numConstituents":151,"homepage":["http://www.iobis.org/"],"logoUrl":"http://www.coml.org/comlfiles/images/obis_logo_large.gif","createdBy":"ADMIN","modifiedBy":"ADMIN","created":"2007-04-03T08:31:37.000+0000","modified":"2012-12-13T11:00:12.000+0000","contacts":[],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[],"comments":[]}]}'
  recorded_at: 2019-02-26 15:30:26 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
