http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/network?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rgbif/2.1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":100,"endOfRecords":true,"count":4,"results":[{"key":"b153643d-735a-440f-a0e9-428b4f9d1cd2","title":"TrIAS","description":"TrIAS
        is Belgian project building an open data-driven framework to support policy
        on invasive species.","language":"eng","numConstituents":32,"email":[],"phone":[],"homepage":[],"address":[],"createdBy":"Andrea","modifiedBy":"Andrea","created":"2019-06-17T10:59:35.820+0000","modified":"2019-06-17T10:59:35.820+0000","contacts":[],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[],"comments":[]},{"key":"1f2c0cbe-40df-43f6-ba07-e76133e78c31","title":"Arctos","description":"Arctos
        is a community, a collection management information system, and a provider
        of research-grade data. It provides fundamental research infrastructure and
        is intended for curators, collection managers, investigators, educators, and
        anyone interested in natural and cultural history.","language":"eng","numConstituents":80,"email":[],"phone":[],"homepage":[],"address":[],"createdBy":"trobertson","modifiedBy":"trobertson","created":"2019-04-30T09:05:56.259+0000","modified":"2019-04-30T09:05:56.259+0000","contacts":[{"key":1673408,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":false,"userId":[],"firstName":"Dusty
        L.","lastName":"McDonald","position":[],"email":[],"phone":[],"homepage":[],"address":[],"createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2019-09-24T07:45:55.731+0000","modified":"2019-09-24T07:45:55.731+0000"},{"key":1673409,"type":"TECHNICAL_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Michelle","lastName":"Koo","position":["Staff
        Curator of Biodiversity Informatics"],"email":["mkoo@berkeley.edu"],"phone":["5106428547"],"homepage":[],"organization":"Museum
        of Vertebrate Zoology, University of California Berkeley","address":[],"city":"Berkeley","province":"CA","country":"US","postalCode":"94720-3160","createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2019-09-24T07:47:08.876+0000","modified":"2019-09-24T07:47:08.876+0000"},{"key":1673434,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":false,"userId":[],"firstName":"Mariel
        L.","lastName":"Campbell","position":["Collection Manager"],"email":["msbdgr@unm.edu"],"phone":["505-277-1360"],"homepage":[],"organization":"Museum
        of Southwestern Biology","address":[],"city":"Albuquerque","province":"NM","country":[...]
