http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/node?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/node?limit=100
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":false,"count":141,"results":[{"key":"aabd2545-5e25-48c3-8839-7b4ddafec3c4","type":"OTHER","participationStatus":"ASSOCIATE","gbifRegion":"EUROPE","continent":"EUROPE","title":"GBIF
        LifeWatch ERIC","participantTitle":"LifeWatch ERIC","email":[],"phone":[],"homepage":[],"address":[null],"country":"ES","createdBy":"directory-update-robot","modifiedBy":"directory-update-robot","created":"2018-10-05T03:34:28.215+0000","modified":"2018-10-05T03:34:28.215+0000","contacts":[{"key":141,"type":"ADDITIONAL_DELEGATE","primary":false,"userId":[],"firstName":"Francisco","lastName":"Pando","position":[],"email":["pando@rjb.csic.es"],"phone":["+34
        91 420 30 17 x 172"],"homepage":[],"organization":"LifeWatch ERIC","address":["Plaza
        de Murillo, 2                        \n28014 Madrid"],"country":"ES","modified":"2018-10-05T14:31:07.711+0000"},{"key":3404,"type":"HEAD_OF_DELEGATION","primary":false,"userId":[],"firstName":"Juan
        Miguel","lastName":"Gonzalez Aranda","position":[],"email":["cto@lifewatch.eu"],"phone":["+34
        91 603 83 30"],"homepage":[],"organization":"LifeWatch ERIC","address":["Plaza
        de España\nSector II-III \n41071 Seville"],"country":"ES","modified":"2018-10-04T08:41:49.822+0000"},{"key":4009,"type":"ADDITIONAL_DELEGATE","primary":false,"userId":[],"firstName":"Jesús
        Miguel","lastName":"Santamaría Ulecia","position":[],"email":["ceo@lifewatch.eu"],"phone":[],"homepage":[],"organization":"LifeWatch
        ERIC","address":["Plaza de España\nSector II-III \n41071 Seville"],"country":"ES","modified":"2018-10-04T08:44:05.384+0000"}],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[{"key":126149,"type":"GBIF_PARTICIPANT","identifier":"383","createdBy":"directory-update-robot","created":"2018-10-05T03:34:28.400+0000"}],"comments":[]},{"key":"2f3725cd-0d3d-45eb-9597-1d9d90f14a87","type":"COUNTRY","participationStatus":"VOTING","gbifRegion":"AFRICA","continent":"AFRICA","title":"GBIF
        Liberia","participantTitle":"Liberia","email":[],"phone":[],"homepage":[],"address":[null],"country":"LR","createdBy":"directory-update-robot","modifiedBy":"directory-update-robot","created":"2018-09-22T03:34:25.683+0000","modified":"2018-09-22T03:34:25.683+0000","contacts":[],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[{"[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/node/1193638d-32d1-43f0-a855-8727c94299d8?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/node/1193638d-32d1-43f0-a855-8727c94299d8?limit=100
    body:
      encoding: UTF-8
      string: '{"key":"1193638d-32d1-43f0-a855-8727c94299d8","type":"COUNTRY","participationStatus":"OBSERVER","gbifRegion":"AFRICA","continent":"AFRICA","title":"Republic
        of Congo","participantTitle":"Congo, Republic of the","abbreviation":"Congo","email":[],"phone":[],"homepage":[],"address":["Enceinte
        ex ORSTOM, chemin de l’Auberge de Gascogne\nBrazzaville\nBP 1249\nCongo"],"country":"CG","createdBy":"registry-migration.gbif.org","modifiedBy":"directory-update-robot","created":"2013-03-14T09:40:38.000+0000","modified":"2017-01-10T04:34:04.643+0000","contacts":[],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[{"key":13587,"type":"GBIF_PARTICIPANT","identifier":"57","createdBy":"registry-migration.gbif.org","created":"2013-10-24T09:06:08.312+0000"}],"comments":[]}'
  recorded_at: 2018-10-09 21:19:57 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
- request:
    method: get
    uri: https://api.gbif.org/v1/node/1193638d-32d1-43f0-a855-8727c94299d8/identifier?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/node/1193638d-32d1-43f0-a855-8727c94299d8/identifier?limit=100
    body:
      encoding: UTF-8
      string: '[{"key":13587,"type":"GBIF_PARTICIPANT","identifier":"57","createdBy":"registry-migration.gbif.org","created":"2013-10-24T09:06:08.312+0000"}]'
  recorded_at: 2018-10-09 21:19:57 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
