http_interactions:
- request:
    method: post
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.5.2 rOpenSci(rgbif/0.9.9.9610)
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
      location: http://api.gbif.org/occurrence/download/request/0028628-180508205500799
    body:
      encoding: UTF-8
      string: 0028628-180508205500799
  recorded_at: 2018-06-17 15:59:44 GMT
  recorded_with: vcr/0.1.0, webmockr/0.2.6, crul/0.5.2
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/0028627-180508205500799
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.5.2 rOpenSci(rgbif/0.9.9.9610)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/download/0028627-180508205500799
    body:
      encoding: UTF-8
      string: '{"key":"0028627-180508205500799","doi":"10.15468/dl.ciozga","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ"},{"type":"equals","key":"YEAR","value":"1999"},{"type":"equals","key":"MONTH","value":"3"}]},"format":"DWCA","sendNotification":false},"created":"2018-06-17T15:58:15.961+0000","modified":"2018-06-17T15:58:16.034+0000","eraseAfter":"2018-12-17T15:58:15.902+0000","status":"RUNNING","downloadLink":"http://api.gbif.org/v1/occurrence/download/request/0028627-180508205500799.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2018-06-17 15:59:45 GMT
  recorded_with: vcr/0.1.0, webmockr/0.2.6, crul/0.5.2
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/0028627-180508205500799
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.5.2 rOpenSci(rgbif/0.9.9.9610)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/download/0028627-180508205500799
    body:
      encoding: UTF-8
      string: '{"key":"0028627-180508205500799","doi":"10.15468/dl.ciozga","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ"},{"type":"equals","key":"YEAR","value":"1999"},{"type":"equals","key":"MONTH","value":"3"}]},"creator":"<gbif_user>","format":"DWCA","notificationAddresses":["<gbif_email>"],"sendNotification":false},"created":"2018-06-17T15:58:15.961+0000","modified":"2018-06-17T15:58:28.136+0000","eraseAfter":"2018-12-17T15:58:15.902+0000","status":"RUNNING","downloadLink":"http://api.gbif.org/v1/occurrence/download/request/0028627-180508205500799.zip","size":0,"totalRecords":5986,"numberDatasets":30}'
  recorded_at: 2018-06-17 15:59:45 GMT
  recorded_with: vcr/0.1.0, webmockr/0.2.6, crul/0.5.2
[...]
