http_interactions:
- request:
    method: post
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      encoding: ''
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"SIMPLE_CSV","predicate":{"type":"greaterThan","key":"ORGANISM_QUANTITY","value":"1"}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: 0403044-210914110416597
  recorded_at: 2022-07-22 13:51:23 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/0403044-210914110416597
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":"0403044-210914110416597","doi":"10.15468/dl.bus787","license":"unspecified","request":{"predicate":{"type":"greaterThan","key":"ORGANISM_QUANTITY","value":"1","matchCase":false},"sendNotification":false,"format":"SIMPLE_CSV"},"created":"2022-07-22T13:51:23.130+00:00","modified":"2022-07-22T13:51:23.212+00:00","eraseAfter":"2023-01-22T13:51:23.073+00:00","status":"RUNNING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0403044-210914110416597.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2022-07-22 13:51:23 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
