http_interactions:
- request:
    method: POST
    uri: https://api.gbif-uat.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"DWCA","predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ"},{"type":"equals","key":"YEAR","value":"1993"},{"type":"equals","key":"MONTH","value":"1"}]}}'
  response:
    status: 201
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json
    body:
      string: 0000030-250729165959231
  recorded_at: 2025-08-04 14:03:30
- request:
    method: GET
    uri: https://api.gbif-uat.org/v1/occurrence/download/0000030-250729165959231
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      string: '{"key":"0000030-250729165959231","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ","matchCase":false},{"type":"equals","key":"YEAR","value":"1993","matchCase":false},{"type":"equals","key":"MONTH","value":"1","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-08-04T14:03:30.083+00:00","modified":"2025-08-04T14:03:30.083+00:00","eraseAfter":"2026-02-04T14:03:30.041+00:00","status":"PREPARING","downloadLink":"https://api.gbif-test.org/v1/occurrence/download/request/0000030-250729165959231.zip","size":0,"totalRecords":55,"numberDatasets":0}'
  recorded_at: 2025-08-04 14:03:30
[...]
- request:
    method: GET
    uri: https://api.gbif-uat.org/v1/occurrence/download/0000032-250729165959231
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      string: '{"key":"0000032-250729165959231","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"2435240","matchCase":false},{"type":"equals","key":"YEAR","value":"1974","matchCase":false},{"type":"equals","key":"MONTH","value":"2","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-08-04T14:03:31.357+00:00","modified":"2025-08-04T14:03:31.357+00:00","eraseAfter":"2026-02-04T14:03:31.305+00:00","status":"PREPARING","downloadLink":"https://api.gbif-test.org/v1/occurrence/download/request/0000032-250729165959231.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2025-08-04 14:03:32
recorded_with: VCR-vcr/2.0.0
