http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=0&facet=country
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":2303296103,"results":[],"facets":[{"field":"COUNTRY","counts":[{"name":"US","count":821077970},{"name":"FR","count":135910763},{"name":"CA","count":134015530},{"name":"SE","count":119517898},{"name":"AU","count":114434105},{"name":"GB","count":111434980},{"name":"NL","count":87997805},{"name":"ES","count":55723382},{"name":"DE","count":51192993},{"name":"DK","count":49800857}]}]}'
  recorded_at: 2023-01-27 08:14:41 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?facetMincount=100000000&limit=0&facet=country
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":2303296103,"results":[],"facets":[{"field":"COUNTRY","counts":[{"name":"US","count":821077970},{"name":"FR","count":135910763},{"name":"CA","count":134015530},{"name":"SE","count":119517898},{"name":"AU","count":114434105},{"name":"GB","count":111434980}]}]}'
  recorded_at: 2023-01-27 08:14:41 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
