http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/dataset/7f2edc10-f762-11e1-a439-00145eb45e9a?limit=20&offset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":53030,"results":[{"downloadKey":"0030156-240506114902167","datasetKey":"7f2edc10-f762-11e1-a439-00145eb45e9a","datasetTitle":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM","datasetDOI":"10.15468/blmvxk","datasetCitation":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM. Carl Faust Foundation.
        Occurrence Dataset https://doi.org/10.15468/blmvxk accessed via GBIF.org on
        2017-06-01.","numberRecords":1,"download":{"key":"0030156-240506114902167","doi":"10.15468/dl.xhhrhm","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"in","key":"TAXON_KEY","values":["5274861"],"matchCase":false},"sendNotification":false,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2024-05-22T08:55:07.694+00:00","modified":"2024-05-22T09:18:52.677+00:00","eraseAfter":"2024-11-22T08:55:07.652+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0030156-240506114902167.zip","size":289202,"totalRecords":3065,"numberDatasets":277}},{"downloadKey":"0030134-240506114902167","datasetKey":"7f2edc10-f762-11e1-a439-00145eb45e9a","datasetTitle":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM","datasetDOI":"10.15468/blmvxk","datasetCitation":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM. Carl Faust Foundation.
        Occurrence Dataset https://doi.org/10.15468/blmvxk accessed via GBIF.org on
        2017-06-01.","numberRecords":3,"download":{"key":"0030134-240506114902[...]
