http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/0003983-140910143529206/datasets?limit=20&offset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":254,"results":[{"downloadKey":"0003983-140910143529206","datasetKey":"95c938a8-f762-11e1-a439-00145eb45e9a","numberRecords":449},{"downloadKey":"0003983-140910143529206","datasetKey":"4ec3868e-b460-48f0-bd64-8e5daf392827","numberRecords":25},{"downloadKey":"0003983-140910143529206","datasetKey":"830da118-f762-11e1-a439-00145eb45e9a","numberRecords":1},{"downloadKey":"0003983-140910143529206","datasetKey":"51b92d4e-556f-4a05-bc5c-bfe982ee1156","numberRecords":1},{"downloadKey":"0003983-140910143529206","datasetKey":"86aa6b6c-f762-11e1-a439-00145eb45e9a","numberRecords":8},{"downloadKey":"0003983-140910143529206","data[...]
