http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/countries
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"UNITED_STATES":1146446332,"FRANCE":206118545,"CANADA":186719453,"UNITED_KINGDOM":185480976,"SWEDEN":162895462,"AUSTRALIA":143309692,"NETHERLANDS":132389179,"SPAIN":77423630,"GERMANY":66924246,"DENMARK":62227289,"NORWAY":59512681,"INDIA":52341570,"FINLAND":49765442,"SOUTH_AFRICA":43512234,"BELGIUM":42746168,"BRAZIL":36768895,"MEXICO":35468136,"COLOMBIA":34186972,"COSTA_RICA":32363405,"SWITZERLAND":30714728,"PORTUGAL":23451985,"TAIWAN":22852380,"RUSSIAN_FEDERATION":17456389,"POLAND":16199341,"NEW_ZEALAND":16048682,"JAPAN":15819011,"ARGENTINA":15479168,"AUSTRIA":13800445,"ECUADOR":12402421,"CHINA":11733350,"CHILE":11339141,"PERU":9757222,"ESTONIA":8674790,"ITALY":8613517,"PANAMA":8365606,"KOREA_SOUTH":8062643,"ISRAEL":7424078,"BELIZE":6768713,"THAILAND":6690458,"IRELAND":5234755,"GUATEMALA":4932483,"VENEZUELA":4786340,"KENYA":4713373,"INDONESIA":4656538,"CZECH_REPUBLIC":4655726,"PUERTO_RICO":4247794,"MALAYSIA":4098171,"GREECE":3918039,"TURKEY":3882415,"UKRAINE":3790195,"HONDURAS":3611054,"LUXEMBOURG":3403044,"ANTARCTICA":3301172,"MADAGASCAR":3120204,"PHILIPPINES":3094166,"TANZANIA":3090184,"BOLIVIA":2655715,"BULGARIA":2639752,"UGANDA":2445170,"SRI_LANKA":2403790,"PAPUA_NEW_GUINEA":2382434,"ICELAND":2350857,"CUBA":2184352,"NICARAGUA":2159618,"HUNGARY":2144610,"UNITED_ARAB_EMIRATES":1988198,"SLOVAKIA":1974542,"HONG_KONG":1888599,"ALAND_ISLANDS":1794959,"UNKNOWN":1793159,"MOROCCO":1777076,"URUGUAY":1777002,"SINGAPORE":1760941,"NAMIBIA":1682799,"ISLE_OF_MAN":1659111,"PARAGUAY":1655211,"SVALBARD_JAN_MAYEN":1539602,"NEPAL":1510048,"SERBIA":1491501,"CONGO_DEMOCRATIC_REPUBLIC":1417758,"EL_SALVADOR":1312658,"LITHUANIA":1306137,"GEORGIA":1291652,"ROMANIA":1265613,"TRINIDAD_TOBAGO":1248897,"CROATIA":1241009,"NIGERIA":1176241,"ETHIOPIA":1170884,"BENIN":1156050,"BAHAMAS":1148612,"IRAN":1129912,"VIETNAM":1080444,"NEW_CALEDONIA":1077192,"GHANA":1070635,"FRENCH_GUIANA":1065136,"GUYANA":1022151,"ZIMBABWE":1021762,"CAMEROON":1014590,"CAMBODIA":992465,"SLOVENIA":991607,"DOMINICAN_REPUBLIC":977991,"SAUDI_ARABIA":976347,"JAMAICA":973024,"ZAMBIA":960175,"BOTSWANA":938195,"RÉUNION":861614,"GABON":852410,"VIRGIN_ISLANDS":852359,"PAKISTAN":815373,"GREENLAND":792105,"MOZAMBIQUE":788979,"GUADELOUPE":780512,"SENEGAL":777819,"AFGHANISTAN":749491,"MONGOLIA":748123,"GAMBIA":732875,"EGYPT":716760,"BANGLADESH":707033,"BERMUDA":691248,"FRENCH_POLYNESIA":685184,"LATVIA":674022,"SURINAME":664184,"CÔTE_DIVOIRE":612520,"BHUTAN":603898,"CYPRUS":602481,"PALESTINIAN_TERRITORY":601493,"BELARUS":592693,"KAZAKHSTAN":592544,"OMAN":562239,"ALGERIA":469268,"MALAWI":457170,"MYANMAR":456134,"FIJI":438488,"RWANDA":424077,"AMERICAN_SAMOA":423511,"SOUTH_GEORGIA_SANDWICH_ISLANDS":394958,"ANGOLA":389642,"CURAÇAO":388160,"SYRIA":383408,"UNITED_STATES_OUTLYING_ISLANDS":381231,"CAYMAN_ISLANDS":372675,"BONAIRE_SINT_EUSTATIUS_SABA":328671,"LAO":328108,"KUWAIT":321169,"FAROE_ISLANDS":320298,"SEYCHELLES":313313,"GUERNSEY":308772,"AZERBAIJAN":308469,"SOLOMON_ISLANDS":306032,"HAITI":289556,"ARUBA":287157,"GUINEA":284141,"SWAZILAND":274684,"BURKINA_FASO":273693,"TUNISIA":273616,"NORTHERN_MARIANA_ISLANDS":267688,"FRENCH_SOUTHERN_TERRITORIES":263962,"ARMENIA":261744,"FALKLAND_ISLANDS":260251,"JERSEY":253034,"PALAU":248207,"MARTINIQUE":244732,"KYRGYZSTAN":243239,"MICRONESIA":237393,"ANGUILLA":234988,"LIBERIA":234438,"WESTERN_SAHARA":231342,"VANUATU":214049,"HEARD_MCDONALD_ISLANDS":206880,"MALI":202610,"LEBANON":197007,"MAURITANIA":196064,"SUDAN":193324,"CAPE_VERDE":186000,"KIRIBATI":183611,"BARBADOS":182382,"UZBEKISTAN":180996,"GUAM":180296,"MACEDONIA":177030,"MARSHALL_ISLANDS":175146,"ANDORRA":174712,"JORDAN":174055,"TONGA":167623,"MONTENEGRO":164921,"GRENADA":164867,"MAURITIUS":164799,"CONGO":164375,"IRAQ":164248,"YEMEN":160790,"SIERRA_LEONE":154580,"EQUATORIAL_GUINEA":152992,"ALBANIA":148429,"QATAR":145773,"TOGO":143560,"MOLDOVA":142776,"CENTRAL_AFRICAN_REPUBLIC":141759,"LESOTHO":140918,"TAJIKISTAN":133832,"SAO_TOME_PRINCIPE":128699,"DOMINICA":128085,"BURUNDI":127544,"BOSNIA_HERZEGOVINA":118252,"MALDIVES":115940,"NIGER":114892,"MALTA":104636,"SAINT_LUCIA":103194,"NORFOLK_ISLAND":97474,"TIMOR_LESTE":96761,"SOMALIA":94867,"ANTIGUA_BARBUDA":93822,"LIECHTENSTEIN":93144,"MAYOTTE":90394,"GUINEA_BISSAU":90220,"SAMOA":88894,"CHAD":85932,"NIUE":84900,"SAINT_MARTIN_FRENCH":83367,"VIRGIN_ISLANDS_BRITISH":81267,"BRUNEI_DARUSSALAM":81098,"KOREA_NORTH":78971,"TURKS_CAICOS_ISLANDS":78739,"SAINT_VINCENT_GRENADINES":77143,"COOK_ISLANDS":76659,"SAINT_PIERRE_MIQUELON":73712,"LIBYA":72291,"MACAO":65917,"TOKELAU":62783,"MONTSERRAT":57247,"TURKMENISTAN":54572,"WALLIS_FUTUNA":53737,"CHRISTMAS_ISLAND":52101,"SAINT_KITTS_NEVIS":51514,"COMOROS":50683,"SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA":49833,"GIBRALTAR":48533,"SINT_MAARTEN":43403,"KOSOVO":40910,"BRITISH_INDIAN_OCEAN_TERRITORY":38637,"DJIBOUTI":37006,"COCOS_ISLANDS":35098,"ERITREA":34243,"SOUTH_SUDAN":32188,"BAHRAIN":26887,"PITCAIRN":24797,"SAINT_BARTHÉLEMY":22120,"BOUVET_ISLAND":12622,"TUVALU":12447,"MONACO":8111,"NAURU":5576,"VATICAN":4083,"INTERNATIONAL_WATERS":3361,"SAN_MARINO":3358}'
  recorded_at: 2025-09-04 07:18:14
- request:
    method: GET
    uri: https://api.gbif.org/v1/enumeration/country/
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"iso2":"AF","iso3":"AFG","isoNumerical":"4","title":"Afghanistan","gbifRegion":"ASIA","enumName":"AFGHANISTAN"},{"iso2":"AX","iso3":"ALA","isoNumerical":"248","title":"Åland
        Islands","gbifRegion":"EUROPE","enumName":"ALAND_ISLANDS"},{"iso2":"AL","iso3":"ALB","isoNumerical":"8","title":"Albania","gbifRegion":"EUROPE","enumName":"ALBANIA"},{"iso2":"DZ","iso3":"DZA","isoNumerical":"12","title":"Algeria","gbifRegion":"AFRICA","enumName":"ALGERIA"},{"iso2":"AS","iso3":"ASM","isoNumerical":"16","title":"American
        Samoa","gbifRegion":"OCEANIA","enumName":"AMERICAN_SAMOA"},{"iso2":"A[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DK
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"DENMARK":60362197,"LITHUANIA":439439,"PERU":333617,"GREENLAND":240032,"ECUADOR":160334,"COLOMBIA":61347,"NORWAY":59012,"MEXICO":55472,"BOLIVIA":53741,"SWEDEN":44605,"GERMANY":43154,"FAROE_ISLANDS":39095,"SPAIN":34794,"TANZANIA":32039,"THAILAND":25415,"BRAZ[...]
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DK
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"DENMARK":60362197,"UNITED_STATES":736676,"UNITED_KINGDOM":314759,"SWEDEN":158357,"NETHERLANDS":133972,"BELGIUM":106185,"GERMANY":75479,"FRANCE":63374,"POLAND":51135,"ESTONIA":47927,"FINLAND":45247,"PORTUGAL":41195,"NORWAY":33286,"SPAIN":11031,"CANADA":10426,"UNKNOWN":9792,"AUSTRALIA":8126,"COLOMBIA":7372,"NEW_ZEALAND":1881,"RUSSIAN_FEDERATION":1682,"JAPAN":1411,"BRAZIL":988,"CHINA":913,"ARGENTINA":739,"CZECH_REPUBLIC":732,"AUSTRIA":718,"SWITZERLAND":712,"PANAMA":314,"SOUTH_AFRICA":114,"LUXEMBOURG":86,"VENEZUELA":78,"ITALY":71,"MEXICO":66,"CHILE":45,"ISRAEL":44,"BULGARIA":39,"TAIWAN":25,"GREECE":25,"ECUADOR":24,"UKRAINE":15,"URUGUAY":8,"LITHUANIA":7,"LATVIA":6,"COSTA_RICA":5,"HUNGARY":3,"ANTARCTICA":2}'
  recorded_at: 2025-09-04 07:18:16
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"2023":312348229,"2022":273405959,"2021":255316888,"2020":224569125,"2019":194609211,"2018":169105107,"2017":143712119,"2016":128059952,"2015":112100253,"2014":101821093,"2013":87585195,"2012":80264628,"2011":67725622,"2024":64018778,"2010":62633908,"2009":57601780,"2008":4642[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=1990%2C2000
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"2000":23932929,"1999":22627499,"1998":18913264,"1997":18499161,"1995":17544905,"1996":17540999,"1994":15071068,"1993":14823508,"1992":13952863,"1991":13102141,"1990":12616996}'
  recorded_at: 2025-09-04 07:18:30
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"HUMAN_OBSERVATION":2817046413,"PRESERVED_SPECIMEN":266105283,"MATERIAL_SAMPLE":75973580,"MACHINE_OBSERVATION":33840432,"OCCURRENCE":22508489,"OBSERVATION":16762637,"FOSSIL_SPECIMEN":9795504,"MATERIAL_CITATION":8406483,"LIVING_SPECIMEN":3458295}'
  recorded_at: 2025-09-04 07:18:33
recorded_with: VCR-vcr/2.0.0
