http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Puma%20concolor&kingdom=animals&strict=FALSE&verbose=FALSE&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/match?name=Puma%20concolor&kingdom=animals&strict=FALSE&verbose=FALSE&limit=100
    body:
      encoding: UTF-8
      string: '{"usageKey":2435099,"scientificName":"Puma concolor (Linnaeus, 1771)","canonicalName":"Puma
        concolor","rank":"SPECIES","status":"ACCEPTED","confidence":100,"matchType":"EXACT","kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Felidae","genus":"Puma","species":"Puma
        concolor","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9703,"genusKey":2435098,"speciesKey":2435099,"synonym":false,"class":"Mammalia"}'
  recorded_at: 2018-10-09 21:40:01 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?hasCoordinate=TRUE&elevation=1000&limit=500&offset=0&taxonKey=2435099
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/search?hasCoordinate=TRUE&elevation=1000&limit=500&offset=0&taxonKey=2435099
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":300,"endOfRecords":true,"count":6,"results":[{"key":1707667041,"datasetKey":"2a337d5a-a784-4f8a-a947-46d69e0fa3eb","publishingOrgKey":"2a7e3080-28a9-11dd-97cd-b8a03c50a862","networkKeys":[],"installationKey":"804b8dd0-07ac-4a30-bf92-3c1d862faf5e","publishingCountry":"CO","protocol":"DWC_ARCHIVE","lastCrawled":"2017-12-15T07:12:13.158+0000","lastParsed":"2017-12-15T07:12:13.240+0000","crawlId":76,"extensions":{},"basisOfRecord":"PRESERVED_SPECIMEN","taxonKey":2435099,"kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9703,"genusKey":2435098,"speciesKey":2435099,"scientificName":"Puma
        concolor (Linnaeus, 1771)","kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Felidae","genus":"Puma","species":"Puma
        concolor","genericName":"Puma","specificEpithet":"concolor","taxonRank":"SPECIES","dateIdentified":"2013-06-01T00:00:00.000+0000","decimalLongitude":-71.966389,"decimalLatitude":6.433056,"elevation":1000.0,"continent":"SOUTH_AMERICA","stateProvince":"Arauca","year":2013,"month":3,"day":23,"eventDate":"2013-03-23T00:00:00.000+0000","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84","IDENTIFIED_DATE_UNLIKELY"],"lastInterpreted":"2018-07-07T04:04:32.465+0000","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Mammalia","countryCode":"CO","country":"Colombia","organismQuantity":"1","identifier":"IAvH:IAvH-M-9480","recordNumber":"NVZ-1645","county":"Tame","municipality":"Reserva
        Forestal Protectora Rio Tame","locality":"Reserva Forestal Protectora Rio
        Tame, Vereda Sabana de La Vieja","gbifID":"1707667041","collectionCode":"IAvH-M","occurrenceID":"IAvH:IAvH-M-9480","http://unknown.org/http_//rs.tdwg.org/dwc/terms/MeasurementOrFact":"[
        ]","preparations":"Cráneo","catalogNumber":"IAvH-M-9480","recordedBy":"Nodier,  Vivas-Zamora
        |  Fernando ,  Forero","organismQuantityType":"Individuo","institutionCode":"Instituto
        de Investigación de Recursos Biológicos Alexander von Humboldt (IAvH)","identifiedBy":"Darwin
        Manuel, Morales"},{"key":233878125,"datasetKey":"e2483380-16f7-11df-b5b3-b8a03c50a862","publishingOrgKey":"979dd240-16f7-11df-b5b3-b8a03c50a862","networkKeys":[],"installationKey":"6064fb16-f762-11e1-a439-00145eb45e9a","publishingCountry":"AR","protocol":"DWC_ARCHIVE","lastCrawled":"2018-03-06T12:45:44.846+0000","lastParsed":"2018-03-06T12:44:45.622+0000","crawlId":51,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":2435099,"kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9703,"genusKey":2435098,"speciesKey":2435099,"scientificName":"Puma
        concolor (Linnaeus, 1771)","kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Felidae","genus":"Puma","species":"Puma
        concolor","genericName":"Puma","specificEpithet":"concolor","taxonRank":"SPECIES","decimalLongitude":-71.71084,"decimalLatitude":-42.14844,"elevation":1000.0,"elevationAccuracy":0.0,"depth":0.0,"depthAccuracy":0.0,"continent":"SOUTH_AMERICA","stateProvince":"Chubut","year":2007,"month":1,"day":19,"eventDate":"2007-01-19T00:00:00.000+0000","issues":["GEODETIC_DATUM_ASSUMED_WGS84","COORDINATE_UNCERTAINTY_METERS_INVALID"],"lastInterpreted":"2018-07-07T04:04:47.905+0000","license":"http://creativecommons.org/licenses/by/4.0/legalcode","identifiers":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Mammalia","countryCode":"AR","country":"Argentina","identifier":"233878125","catalogNumber":"APN-[...]
