http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"SIMPLE_CSV","predicate":{"type":"and","predicates":[{"type":"and","predicates":[{"type":"equals","key":"HAS_GEOSPATIAL_ISSUE","value":"false"},{"type":"equals","key":"HAS_COORDINATE","value":"true"},{"type":"equals","key":"OCCURRENCE_STATUS","value":"PRESENT"},{"type":"not","predicate":{"type":"in","key":"BASIS_OF_RECORD","values":["FOSSIL_SPECIMEN","LIVING_SPECIMEN"]}}]},{"type":"equals","key":"TYPE_STATUS","value":"Allolectotype"}]},"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0015342-260806074905277
  recorded_at: 2026-08-14 11:47:51
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0015342-260806074905277
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0015342-260806074905277","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"and","predicates":[{"type":"equals","key":"HAS_GEOSPATIAL_ISSUE","value":"false","matchCase":false},{"type":"equals","key":"HAS_COORDINATE","value":"true","matchCase":false},{"type":"equals","key":"OCCURRENCE_STATUS","value":"PRESENT","matchCase":false},{"type":"not","predicate":{"type":"in","key":"BASIS_OF_RECORD","values":["FOSSIL_SPECIMEN","LIVING_SPECIMEN"],"matchCase":false}}]},{"type":"equals","key":"TYPE_STATUS","value":"Allolectotype","matchCase":false}]},"sendNotification":false,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-08-14T11:47:51.773+00:00","modified":"2026-08-14T11:47:51.773+00:00","eraseAfter":"2027-02-14T11:47:51.645+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0015342-260806074905277.zip","size":0,"totalRecords":12,"numberDatasets":0}'
  recorded_at: 2026-08-14 11:47:51
recorded_with: VCR-vcr/2.0.0
