http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/countries
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"UNITED_STATES":821654822,"FRANCE":136219061,"CANADA":134148390,"SWEDEN":120309314,"AUSTRALIA":115216995,"UNITED_KINGDOM":111524074,"NETHERLANDS":87892381,"SPAIN":56122383,"DENMARK":50811454,"GERMANY":50145044,"NORWAY":49264667,"FINLAND":38094500,"BELGIUM":35195766,"SOUTH_AFRICA":34350580,"INDIA":32295464,"MEXICO":26650757,"BRAZIL":24936863,"COSTA_RICA":21132220,"COLOMBIA":20819919,"SWITZERLAND":19136408,"PORTUGAL":17608291,"TAIWAN":15400892,"NEW_ZEALAND":11383041,"JAPAN":11145713,"RUSSIAN_FEDERATION":10619039,"ARGENTINA":10145856,"CHINA":9601749,"AUSTRIA":8561237,"ESTONIA":7632465,"ECUADOR":7541883,"PERU":6935258,"POLAND":6711206,"KOREA_SOUTH":6367213,"ITALY":5868181,"PANAMA":5772906,"CHILE":5152670,"BELIZE":5111647,"ISRAEL":4202559,"THAILAND":4025939,"GUATEMALA":3534929,"IRELAND":3505176,"KENYA":3424920,"INDONESIA":3223178,"VENEZUELA":3092702,"PUERTO_RICO":3037373,"ANTARCTICA":2967591,"LUXEMBOURG":2857430,"HONDURAS":2797380,"MALAYSIA":2692931,"TURKEY":2675292,"CZECH_REPUBLIC":2572610,"GREECE":2314697,"PHILIPPINES":2161662,"UKRAINE":2096050,"TANZANIA":1949321,"NAMIBIA":1895500,"ICELAND":1890604,"PAPUA_NEW_GUINEA":1805876,"UNKNOWN":1751944,"BOLIVIA":1645045,"MADAGASCAR":1626637,"CUBA":1585092,"ALAND_ISLANDS":1513199,"NICARAGUA":1457876,"UNITED_ARAB_EMIRATES":1456302,"UGANDA":1429473,"SRI_LANKA":1360812,"PARAGUAY":1223418,"CONGO_DEMOCRATIC_REPUBLIC":1179122,"HONG_KONG":1173421,"MOROCCO":1172270,"ISLE_OF_MAN":1148616,"ZIMBABWE":1128953,"URUGUAY":1072281,"BENIN":1071916,"SINGAPORE":1061393,"HUNGARY":1025567,"LITHUANIA":1017101,"GEORGIA":960154,"TRINIDAD_TOBAGO":953491,"EL_SALVADOR":945974,"BAHAMAS":932752,"BULGARIA":927593,"NEPAL":889082,"ETHIOPIA":886128,"NEW_CALEDONIA":856868,"BOTSWANA":834670,"VIRGIN_ISLANDS":817225,"FRENCH_GUIANA":800814,"IRAN":798287,"RÉUNION":783118,"ROMANIA":778786,"VIETNAM":759653,"GUYANA":735558,"JAMAICA":729369,"MOZAMBIQUE":724851,"AFGHANISTAN":711316,"CAMEROON":708161,"NIGERIA":707705,"SLOVENIA":699304,"GHANA":687904,"CAMBODIA":686209,"DOMINICAN_REPUBLIC":681802,"CROATIA":674509,"GREENLAND":642298,"SLOVAKIA":619486,"SVALBARD_JAN_MAYEN":615752,"ZAMBIA":615258,"GUADELOUPE":613242,"SERBIA":601113,"BERMUDA":575563,"SENEGAL":564428,"FRENCH_POLYNESIA":545531,"PAKISTAN":533168,"SURINAME":511260,"LATVIA":507932,"MONGOLIA":499463,"GABON":484642,"EGYPT":473864,"BANGLADESH":430941,"SAUDI_ARABIA":430720,"GAMBIA":427670,"CÔTE_DIVOIRE":426229,"AMERICAN_SAMOA":413891,"OMAN":386919,"MYANMAR":370286,"BHUTAN":365779,"KAZAKHSTAN":344281,"BELARUS":341876,"SOUTH_GEORGIA_SANDWICH_ISLANDS":341314,"SWAZILAND":337355,"MALAWI":333331,"FIJI":327223,"CYPRUS":306780,"ANGOLA":301102,"UNITED_STATES_OUTLYING_ISLANDS":297185,"ALGERIA":293371,"FAROE_ISLANDS":292396,"KUWAIT":277455,"PALESTINIAN_TERRITORY":276934,"CURAÇAO":274571,"HAITI":257605,"RWANDA":255177,"BURKINA_FASO":246289,"FRENCH_SOUTHERN_TERRITORIES":244579,"NORTHERN_MARIANA_ISLANDS":240551,"CAYMAN_ISLANDS":235852,"SEYCHELLES":234741,"LAO":232666,"AZERBAIJAN":231275,"SOLOMON_ISLANDS":225176,"ANGUILLA":225152,"MICRONESIA":222073,"TUNISIA":220444,"PALAU":204546,"GUINEA":199943,"ARUBA":196784,"BONAIRE_SINT_EUSTATIUS_SABA":193486,"HEARD_MCDONALD_ISLANDS":190016,"MARTINIQUE":187851,"VANUATU":185635,"ARMENIA":180421,"FALKLAND_ISLANDS":176720,"KYRGYZSTAN":173320,"KIRIBATI":172921,"LIBERIA":163782,"GUAM":159889,"TONGA":155884,"SUDAN":155238,"MARSHALL_ISLANDS":152110,"ANDORRA":147771,"MALI":144641,"CAPE_VERDE":143371,"BARBADOS":140528,"WESTERN_SAHARA":138536,"MAURITANIA":137046,"SYRIA":136430,"CONGO":129090,"MAURITIUS":124702,"LESOTHO":119916,"TOGO":119690,"LEBANON":113517,"YEMEN":112550,"CENTRAL_AFRICAN_REPUBLIC":111062,"QATAR":108741,"UZBEKISTAN":105069,"MACEDONIA":104005,"DOMINICA":102752,"IRAQ":100222,"BURUNDI":99788,"EQUATORIAL_GUINEA":99575,"NIGER":98307,"GRENADA":97258,"MOLDOVA":97137,"SIERRA_LEONE":95577,"JORDAN":92340,"MALDIVES":85498,"NIUE":81944,"MONTENEGRO":81685,"TAJIKISTAN":77982,"TIMOR_LESTE":75180,"CHAD":73315,"JERSEY":72655,"ALBANIA":71476,"SAMOA":71260,"BOSNIA_HERZEGOVINA":71063,"SAINT_LUCIA":69765,"VIRGIN_ISLANDS_BRITISH":69257,"MAYOTTE":67710,"SAINT_MARTIN_FRENCH":67294,"SOMALIA":65556,"NORFOLK_ISLAND":62935,"ANTIGUA_BARBUDA":62643,"TOKELAU":62567,"GUINEA_BISSAU":62102,"LIECHTENSTEIN":62013,"COOK_ISLANDS":61758,"MALTA":61367,"GUERNSEY":59210,"LIBYA":58676,"KOREA_NORTH":56655,"TURKS_CAICOS_ISLANDS":54066,"SAO_TOME_PRINCIPE":53508,"SAINT_PIERRE_MIQUELON":51086,"BRUNEI_DARUSSALAM":48463,"WALLIS_FUTUNA":48251,"TURKMENISTAN":47774,"SAINT_VINCENT_GRENADINES":46033,"MONTSERRAT":42228,"COMOROS":40685,"CHRISTMAS_ISLAND":37661,"SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA":36068,"SAINT_KITTS_NEVIS":34534,"DJIBOUTI":32844,"BRITISH_INDIAN_OCEAN_TERRITORY":32568,"SINT_MAARTEN":32061,"ERITREA":26785,"KOSOVO":26473,"SOUTH_SUDAN":23724,"PITCAIRN":22072,"COCOS_ISLANDS":17653,"SAINT_BARTHÉLEMY":17459,"BAHRAIN":16546,"MACAO":14031,"GIBRALTAR":13895,"BOUVET_ISLAND":13278,"TUVALU":9901,"NAURU":5306,"MONACO":5068,"SAN_MARINO":2228,"VATICAN":1961,"INTERNATIONAL_WATERS":774}'
  recorded_at: 2023-03-06 13:39:02 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.gbif.org/v1/enumeration/country/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"iso2":"AF","iso3":"AFG","isoNumerical":"4","title":"Afghanistan","gbifRegion":"ASIA","enumName":"AFGHANISTAN"},{"iso2":"AX","iso3":"ALA","isoNumerical":"248","title":"Åland
        Islands","gbifRegion":"EUROPE","enumName":"ALAND_ISLANDS"},{"iso2":"AL","iso3":"ALB","isoNumerical":"8","title":"Albania","gbifRegion":"EUROPE","enumName":"ALBANIA"},{"iso2":"DZ","iso3":"DZA","isoNumerical":"12","title":"Algeria","gbifRegion":"AFRICA","enumName":"ALGERIA"},{"iso2":"AS","iso3":"ASM","isoNumerical":"16","title":"American
        Samoa","gbifRegion":"OCEANIA","enumName":"AMERICAN_SAMOA"},{"iso2":"A[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DK
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"DENMARK":49586528,"LITHUANIA":439429,"PERU":329946,"GREENLAND":170667[...]
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DK
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"DENMARK":49586528,"UNITED_STATES":391567,"UNITED_KINGDOM":367032,"SWEDEN":106523,"NETHERLANDS":66585,"GERMANY":63525,"FRANCE":55243,"ESTONIA":47710,"FINLAND":39906,"NORWAY":31928,"COLOMBIA":7370,"AUSTRALIA":5880,"SPAIN":4675,"CANADA":3958,"BELGIUM":3925,"SWITZERLAND":2429,"POLAND":2342,"RUSSIAN_FEDERATION":1676,"NEW_ZEALAND":1599,"JAPAN":1380,"BRAZIL":939,"CHINA":913,"CZECH_REPUBLIC":655,"AUSTRIA":572,"PORTUGAL":541,"ARGENTINA":260,"SOUTH_AFRICA":91,"VENEZUELA":78,"MEXICO":39,"ITALY":27,"PANAMA":26,"BULGARIA":25,"LUXEMBOURG":19,"ISRAEL":13,"TAIWAN":12,"COSTA_RICA":2,"ECUADOR":1}'
  recorded_at: 2023-03-06 13:39:02 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"2021":230837763,"2020":206714616,"2019":172432056,"2018":154649375,"2017":130426240,"2016[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=1990%2C2000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"2000":20027693,"1999":19220464,"1998":16127013,"1997":15762714,"1995":15043632,"1996":14870269,"1994":13138043,"1993":12973314,"1992":12769785,"1990":12625907,"1991":11866120}'
  recorded_at: 2023-03-06 13:39:02 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"HUMAN_OBSERVATION":1967565545,"PRESERVED_SPECIMEN":215991191,"MATERIAL_SAMPLE":51421905,"OBSERVATION":23398982,"OCCURRENCE":20362561,"MACHINE_OBSERVATION":15203565,"FOSSIL_SPECIMEN":10098569,"MATERIAL_CITATION":3072821,"LIVING_SPECIMEN":1960662}'
  recorded_at: 2023-03-06 13:39:02 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
