http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/user/<gbif_user>?limit=20&offset=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.2 crul/0.8.4 rOpenSci(rgbif/1.4.0.9100)
      Content-Type: application/json
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":497,"results":[{"key":"0032051-190918142434337","doi":"10.15468/dl.ktodhl","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"2877951"},{"type":"or","predicates":[{"type":"equals","key":"BASIS_OF_RECORD","value":"HUMAN_OBSERVATION"},{"type":"equals","key":"BASIS_OF_RECORD","value":"OBSERVATION"}]},{"type":"equals","key":"HAS_COORDINATE","value":"true"},{"type":"equals","key":"HAS_GEOSPATIAL_ISSUE","value":"false"},{"type":"equals","key":"YEAR","value":"1934"}]},"creator":"<gbif_user>","notificationAddresses":["<gbif_email>"],"sendNotification":false,"format":"DWCA"},"created":"2019-10-30T02:28:54.291+0000","modified":"2019-10-30T02:30:06.337+0000","eraseAfter":"2020-04-30T02:28:54.184+0000","status":"SUCCEEDED","downloadLink":"http://api.gbif.org/v1/occurrence/download/request/0032051-190918142434337.zip","size":331931,"totalRecords":2218,"numberDatasets":13},{"key":"0032050-190918142434337","doi":"10.15468/dl.l3dh1k","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"2877951"},{"type":"or","predicates":[{"type":"equals","key":"BASIS_OF_RECORD","value":"HUMAN_OBSERVATION"},{"type":"equals","key":"BASIS_OF_RECORD","value":"OBSERVATION"}]},{"type":"equals","key":"HAS_COORDINATE","value":"true"},{"type":"equals","key":"HAS_GEOSPATIAL_ISSUE[...]
