http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=0&facet=country
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":1083069575,"results":[],"facets":[{"field":"COUNTRY","counts":[{"name":"US","count":327138198},{"name":"SE","count":80197935},{"name":"AU","count":73759906},{"name":"GB","count":65890848},{"name":"FR","count":57886014},{"name":"CA","count":50311724},{"name":"NL","count":48854341},{"name":"DE","count":37904276},{"name":"NO","count":31585562},{"name":"DK","count":29429663}]}]}'
  recorded_at: 2019-02-26 17:24:02 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?facetMincount=30000000&limit=0&facet=country
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":1083069575,"results":[],"facets":[{"field":"COUNTRY","counts":[{"name":"US","count":327138198},{"name":"SE","count":80197935},{"name":"AU","count":73759906},{"name":"GB","count":65890848},{"name":"FR","count":57886014},{"name":"CA","count":50311724},{"name":"NL","count":48854341},{"name":"DE","count":37904276},{"name":"NO","count":31585562}]}]}'
  recorded_at: 2019-02-26 17:24:02 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
