http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/statistics?publishingCountry=US
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":187045,"results":[{"datasetKey":"000f8d2a-ab70-453d-95f2-59791930975c","totalRecords":1768,"numberDownloads":240,"year":2026,"month":2},{"datasetKey":"001db2b9-e713-43e4-ac5d-2c52ef009ef1","totalRecords":31920,"numberDownloads":331,"year":2026,"month":2},{"datasetKey":"001e060d-ac3b-46d9-955f-50fba13102d2","totalRecords":367885,"numberDownloads":596,"year":2026,"month":2},{"datasetKey":"00241b34-cdd0-48ac-b9ba-5fa67862b83d","totalRecords":19504,"numberDownloads":137,"year":2026,"month":2},{"datasetKey":"00319858-f963-416f-b7d2-cc7d8cde589d","totalRecords":252,"numberDownloads":126,"year":2026,"month":2},{"datasetKey":"0039bbb[...]
