http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/dataset/7f2edc10-f762-11e1-a439-00145eb45e9a?limit=20&offset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":34155,"results":[{"downloadKey":"0214777-210914110416597","datasetKey":"7f2edc10-f762-11e1-a439-00145eb45e9a","datasetTitle":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM","datasetDOI":"10.15468/blmvxk","datasetCitation":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM. Carl Faust Foundation.
        Occurrence Dataset https://doi.org/10.15468/blmvxk accessed via GBIF.org on
        2017-06-01.","numberRecords":1,"download":{"key":"0214777-210914110416597","doi":"10.15468/dl.mqrjtw","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"equals","key":"TAXON_KEY","value":"3103500","matchCase":false},"sendNotification":false,"format":"DWCA"},"created":"2022-04-08T12:55:54.627+00:00","modified":"2022-04-08T12:57:03.869+00:00","eraseAfter":"2022-10-08T12:55:54.570+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0214777-210914110416597.zip","size":853899,"totalRecords":3546,"numberDatasets":109}},{"downloadKey":"0214736-210914110416597","datasetKey":"7f2edc10-f762-11e1-a439-00145eb45e9a","datasetTitle":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM","datasetDOI":"10.15468/blmvxk","datasetCitation":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM. Carl Faust Foundation.
        Occurrence Dataset https://doi.org/10.15468/blmvxk accessed via GBIF.org on
        2017-06-01.","numberRecords":1,"download":{"key":"0214736-210914110416[...]
