http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/countries
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"UNITED_STATES":952594350,"CANADA":155682667,"FRANCE":149610978,"AUSTRALIA":126381135,"SWEDEN":125185775,"UNITED_KINGDOM":122346729,"NETHERLANDS":94836715,"SPAIN":62728301,"GERMANY":54588729,"DENMARK":52632257,"NORWAY":48169717,"INDIA":40994738,"FINLAND":39471457,"BELGIUM":36359386,"SOUTH_AFRICA":36297667,"MEXICO":30311346,"BRAZIL":29335125,"COLOMBIA":25199866,"COSTA_RICA":24933318,"SWITZERLAND":22069754,"PORTUGAL":20147290,"TAIWAN":18027502,"NEW_ZEALAND":13154754,"ARGENTINA":12509958,"RUSSIAN_FEDERATION":12148080,"JAPAN":12029379,"CHINA":10354478,"ECUADOR":9657168,"CHILE":9246198,"AUSTRIA":9192520,"PERU":8366678,"POLAND":7781921,"ESTONIA":7705236,"PANAMA":7013979,"KOREA_SOUTH":6842311,"ITALY":6569254,"BELIZE":5923161,"ISRAEL":5080966,"THAILAND":4944001,"GUATEMALA":4184081,"IRELAND":4158455,"KENYA":3901166,"VENEZUELA":3870991,"PUERTO_RICO":3760791,"INDONESIA":3542941,"CZECH_REPUBLIC":3410915,"HONDURAS":3183195,"ANTARCTICA":3181741,"TURKEY":3127055,"MALAYSIA":3117100,"LUXEMBOURG":2971430,"GREECE":2734109,"PHILIPPINES":2425084,"UKRAINE":2337165,"TANZANIA":2310323,"BOLIVIA":2272377,"NAMIBIA":2111267,"MADAGASCAR":2107656,"PAPUA_NEW_GUINEA":2083841,"ICELAND":2076637,"UGANDA":1900924,"UNKNOWN":1840217,"CUBA":1835449,"NICARAGUA":1826829,"UNITED_ARAB_EMIRATES":1802360,"SRI_LANKA":1774924,"ALAND_ISLANDS":1548192,"PARAGUAY":1475995,"HONG_KONG":1466787,"URUGUAY":1392546,"SINGAPORE":1339269,"MOROCCO":1316941,"ISLE_OF_MAN":1263800,"ZIMBABWE":1262361,"HUNGARY":1257782,"CONGO_DEMOCRATIC_REPUBLIC":1237403,"SVALBARD_JAN_MAYEN":1175447,"BULGARIA":1146498,"NEPAL":1143567,"EL_SALVADOR":1133432,"LITHUANIA":1112683,"BENIN":1104458,"TRINIDAD_TOBAGO":1090485,"GEORGIA":1064209,"NIGERIA":1042782,"BAHAMAS":1024684,"ETHIOPIA":969976,"BOTSWANA":952391,"IRAN":927736,"NEW_CALEDONIA":922246,"ROMANIA":915120,"FRENCH_GUIANA":897650,"VIETNAM":849261,"GUYANA":844836,"CAMEROON":828760,"CROATIA":823139,"CAMBODIA":817582,"GHANA":816232,"JAMAICA":811030,"RÉUNION":808843,"DOMINICAN_REPUBLIC":804581,"SLOVENIA":802494,"VIRGIN_ISLANDS":790963,"MOZAMBIQUE":776417,"ZAMBIA":742978,"SLOVAKIA":740314,"AFGHANISTAN":714953,"SERBIA":704003,"GUADELOUPE":679130,"GREENLAND":678459,"GABON":669514,"BERMUDA":630028,"SENEGAL":628081,"FRENCH_POLYNESIA":587211,"PAKISTAN":586047,"MONGOLIA":574618,"BANGLADESH":562279,"LATVIA":556199,"SURINAME":555597,"CÔTE_DIVOIRE":543497,"EGYPT":542293,"GAMBIA":538387,"SAUDI_ARABIA":481711,"OMAN":462608,"KAZAKHSTAN":427888,"BHUTAN":427026,"BELARUS":425097,"AMERICAN_SAMOA":415511,"CYPRUS":406005,"MYANMAR":395349,"SOUTH_GEORGIA_SANDWICH_ISLANDS":373400,"FAROE_ISLANDS":366247,"FIJI":365998,"MALAWI":363251,"SWAZILAND":356670,"PALESTINIAN_TERRITORY":339559,"ANGOLA":329970,"ALGERIA":327843,"CURAÇAO":326730,"RWANDA":317703,"UNITED_STATES_OUTLYING_ISLANDS":297993,"KUWAIT":297009,"CAYMAN_ISLANDS":288960,"HAITI":272204,"LAO":266089,"AZERBAIJAN":259174,"BURKINA_FASO":257298,"FRENCH_SOUTHERN_TERRITORIES":255197,"NORTHERN_MARIANA_ISLANDS":253839,"SEYCHELLES":249995,"BONAIRE_SINT_EUSTATIUS_SABA":242422,"TUNISIA":242278,"GUINEA":240275,"ARUBA":235077,"SOLOMON_ISLANDS":234407,"ANGUILLA":230565,"MICRONESIA":224085,"FALKLAND_ISLANDS":222827,"MARTINIQUE":216516,"PALAU":216087,"ARMENIA":201011,"KYRGYZSTAN":195706,"VANUATU":194314,"HEARD_MCDONALD_ISLANDS":190734,"LIBERIA":187119,"KIRIBATI":173910,"GUAM":169957,"TONGA":158079,"SUDAN":156259,"MARSHALL_ISLANDS":155839,"BARBADOS":154100,"ANDORRA":153446,"CAPE_VERDE":152579,"MALI":148070,"SYRIA":141873,"WESTERN_SAHARA":141540,"MAURITANIA":139779,"CONGO":137936,"MAURITIUS":134211,"GRENADA":129238,"JERSEY":129225,"TOGO":127975,"LEBANON":124928,"LESOTHO":122691,"QATAR":120105,"JORDAN":118035,"YEMEN":118021,"UZBEKISTAN":117579,"MOLDOVA":117144,"CENTRAL_AFRICAN_REPUBLIC":117128,"EQUATORIAL_GUINEA":115534,"MACEDONIA":113393,"DOMINICA":108816,"IRAQ":108787,"BURUNDI":104766,"SIERRA_LEONE":104693,"NIGER":99907,"MONTENEGRO":97228,"TAJIKISTAN":93487,"MALDIVES":91878,"ALBANIA":86144,"SAINT_LUCIA":83772,"NIUE":82285,"MAYOTTE":81952,"TIMOR_LESTE":81074,"BOSNIA_HERZEGOVINA":79926,"GUINEA_BISSAU":76629,"CHAD":76419,"SAMOA":74182,"VIRGIN_ISLANDS_BRITISH":72296,"ANTIGUA_BARBUDA":72289,"NORFOLK_ISLAND":72136,"SAINT_MARTIN_FRENCH":71718,"SAO_TOME_PRINCIPE":71642,"GUERNSEY":71347,"MALTA":71112,"SOMALIA":68705,"SAINT_PIERRE_MIQUELON":66582,"COOK_ISLANDS":65281,"LIECHTENSTEIN":65006,"TURKS_CAICOS_ISLANDS":64021,"TOKELAU":62593,"LIBYA":60492,"SAINT_VINCENT_GRENADINES":58950,"KOREA_NORTH":56849,"BRUNEI_DARUSSALAM":53501,"WALLIS_FUTUNA":51575,"TURKMENISTAN":49611,"MONTSERRAT":47898,"COMOROS":46765,"CHRISTMAS_ISLAND":41609,"SAINT_KITTS_NEVIS":41184,"SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA":38719,"SINT_MAARTEN":35711,"DJIBOUTI":34859,"BRITISH_INDIAN_OCEAN_TERRITORY":34444,"KOSOVO":30695,"ERITREA":27667,"MACAO":27547,"SOUTH_SUDAN":26884,"PITCAIRN":23037,"COCOS_ISLANDS":22855,"BAHRAIN":22413,"SAINT_BARTHÉLEMY":21151,"GIBRALTAR":18498,"BOUVET_ISLAND":12143,"TUVALU":9925,"MONACO":5915,"NAURU":5310,"VATICAN":2691,"SAN_MARINO":2527,"INTERNATIONAL_WATERS":143}'
  recorded_at: 2023-08-29 13:20:55 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif.org/v1/enumeration/country/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"iso2":"AF","iso3":"AFG","isoNumerical":"4","title":"Afghanistan","gbifRegion":"ASIA","enumName":"AFGHANISTAN"},{"iso2":"AX","iso3":"ALA","isoNumerical":"248","title":"Åland
        Islands","gbifRegion":"EUROPE","enumName":"ALAND_ISLANDS"},{"iso2":"AL","iso3":"ALB","isoNumerical":"8","title":"Albania","gbifRegion":"EUROPE","enumName":"ALBANIA"},{"iso2":"DZ","iso3":"DZA","isoNumerical":"12","title":"Algeria","gbifRegion":"AFRICA","enumName":"ALGERIA"},{"iso2":"AS","iso3":"ASM","isoNumerical":"16","title":"American
        Samoa","gbifRegion":"OCEANIA","enumName":"AMERICAN_SAMOA"},{"iso2":"A[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DK
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"DENMARK":51217435,"LITHUANIA":439429,"PERU":333100,"GREENLAND":195426[...]
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DK
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"DENMARK":51217435,"UNITED_STATES":474499,"UNITED_KINGDOM":372832,"SWEDEN":110184,"BELGIUM":85725,"NETHERLANDS":73489,"GERMANY":67867,"FRANCE":55999,"ESTONIA":47710,"FINLAND":40623,"NORWAY":32269,"COLOMBIA":7700,"AUSTRALIA":5975,"CANADA":5011,"SPAIN":4741,"POLAND":3227,"SWITZERLAND":2439,"NEW_ZEALAND":1695,"RUSSIAN_FEDERATION":1676,"JAPAN":1381,"BRAZIL":940,"CHINA":913,"CZECH_REPUBLIC":669,"AUSTRIA":582,"PORTUGAL":549,"ARGENTINA":260,"SOUTH_AFRICA":114,"VENEZUELA":78,"MEXICO":52,"ITALY":52,"PANAMA":31,"LUXEMBOURG":31,"BULGARIA":25,"TAIWAN":24,"ISRAEL":13,"COSTA_RICA":2,"GREECE":1,"ECUADOR":1}'
  recorded_at: 2023-08-29 13:20:55 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"2022":253804891,"2021":236675436,"2020":210149085,"2019":176048976,"2018":157195389,"2017[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=1990%2C2000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"2000":20817140,"1999":20052646,"1998":16795751,"1997":16414143,"1995":15637576,"1996":15412600,"1994":13689705,"1993":13455635,"1992":13209611,"1990":12989972,"1991":12291252}'
  recorded_at: 2023-08-29 13:20:55 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"HUMAN_OBSERVATION":2218042549,"PRESERVED_SPECIMEN":228372777,"MATERIAL_SAMPLE":55243416,"OCCURRENCE":43104772,"OBSERVATION":23404254,"MACHINE_OBSERVATION":17554299,"FOSSIL_SPECIMEN":10172622,"MATERIAL_CITATION":3404572,"LIVING_SPECIMEN":1966642}'
  recorded_at: 2023-08-29 13:20:55 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
