http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=0&facet=asdfasdf
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rgbif/2.1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":1385390925,"results":[],"facets":[]}'
  recorded_at: 2020-02-12 23:02:59 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
