http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"DWCA","predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ"},{"type":"equals","key":"YEAR","value":"1993"},{"type":"equals","key":"MONTH","value":"1"}]}}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0025321-250827131500795
  recorded_at: 2025-09-04 08:30:39
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0025321-250827131500795
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0025321-250827131500795","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ","matchCase":false},{"type":"equals","key":"YEAR","value":"1993","matchCase":false},{"type":"equals","key":"MONTH","value":"1","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-09-04T08:30:38.860+00:00","modified":"2025-09-04T08:30:38.860+00:00","eraseAfter":"2026-03-04T08:30:38.684+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0025321-250827131500795.zip","size":0,"totalRecords":15017,"numberDatasets":0}'
  recorded_at: 2025-09-04 08:30:39
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0025323-250827131500795
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0025323-250827131500795","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"2435240","matchCase":false},{"type":"equals","key":"YEAR","value":"1974","matchCase":false},{"type":"equals","key":"MONTH","value":"2","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-09-04T08:30:42.832+00:00","modified":"2025-09-04T08:32:52.968+00:00","eraseAfter":"2026-03-04T08:30:42.772+00:00","status":"RUNNING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0025323-250827131500795.zip","size":0,"totalRecords":9,"numberDatasets":0}'
  recorded_at: 2025-09-04 08:34:00
recorded_with: VCR-vcr/2.0.0
