http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"SPECIES_LIST","predicate":{"type":"greaterThanOrEquals","key":"DECIMAL_LATITUDE","value":"75"}}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0025179-250827131500795
  recorded_at: 2025-09-04 07:33:31
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0025179-250827131500795
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0025179-250827131500795","license":"unspecified","request":{"predicate":{"type":"greaterThanOrEquals","key":"DECIMAL_LATITUDE","value":"75","matchCase":false},"sendNotification":false,"format":"SPECIES_LIST","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-09-04T07:33:31.455+00:00","modified":"2025-09-04T07:33:31.455+00:00","eraseAfter":"2026-03-04T07:33:30.178+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0025179-250827131500795.zip","size":0,"totalRecords":1944110,"numberDatasets":0}'
  recorded_at: 2025-09-04 07:33:31
recorded_with: VCR-vcr/2.0.0
