http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/statistics
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":5959998,"results":[{"datasetKey":"00001da4-5433-4ccb-86a2-73e2b08575b5","totalRecords":1243,"numberDownloads":197,"year":2026,"month":9},{"datasetKey":"0000e36f-d0e9-46b0-aa23-cc1980f00515","totalRecords":78333,"numberDownloads":619,"year":2026,"month":9},{"datasetKey":"0001480b-76ca-4f30-86bc-f4292481554b","totalRecords":832243,"numberDownloads":815,"year":2026,"month":9},{"datasetKey":"00024397-569d-43a8-9e08-9a1072e201df","totalRecords":385,"numberDownloads":77,"year":2026,"month":9},{"datasetKey":"00029085-9665-4ef8-8e1e-a61f48947d14","totalRecords":3457,"numberDownloads":180,"year":2026,"month":9},{"datasetKey":"0004376e-[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/statistics?fromDate=2023-01&toDate=2023-12
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":724281,"results":[{"datasetKey":"0000e36f-d0e9-46b0-aa23-cc1980f00515","totalRecords":30154,"numberDownloads":244,"year":2023,"month":12},{"datasetKey":"0001480b-76ca-4f30-86bc-f4292481554b","[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/statistics?publishingCountry=US
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":209062,"results":[{"datasetKey":"000f8d2a-ab70-453d-95f2-59791930975c","totalRecords":1761,"numberDownloads":264,"year":2026,"month":9},{"datasetKey":"001db2b9-e713-43e4-ac5d-2c52ef009ef1","totalRecords"[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/statistics?datasetKey=50c9509d-22c7-4a22-a47d-8c48425ef4a7
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":157,"results":[{"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","totalRecords":40939383044,"numberDownloads":36949,"year":2026,"month":9},{"datasetKey":"50c9509d-22c7-4a22-[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/statistics?publishingOrgKey=28eb1a3f-1c15-4a95-931a-4af90ecb574d
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":157,"results":[{"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","totalRecords":40939383044,"numberDownloads":36949,"year":2026,"month":9},{"datasetKey":"50c9509d-22c7[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/statistics?limit=5
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":5,"endOfRecords":false,"count":5959998,"results":[{"datasetKey":"00001da4-5433-4ccb-86a2-73e2b08575b5","totalRecords":1243,"numberDownloads":197,"year":2026,"month":9},{"datasetKey":"0000e36f-d0e9-46b0-aa23-cc1980f00515","totalRecords":78333,"numberDownloads":619,"year":2026,"month":9},{"datasetKey":"0001480b-76ca-4f30-86bc-f4292481554b","totalRecords":832243,"numberDownloads":815,"year":2026,"month":9},{"datasetKey":"00024397-569d-43a8-9e08-9a1072e201df","totalRecords":385,"numberDownloads":77,"year":2026,"month":9},{"datasetKey":"00029085-9665-4ef8-8e1e-a61f48947d14","totalRecords":3457,"numberDownloads":180,"year":2026,"month":9}]}'
  recorded_at: 2026-10-02 09:09:57
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/statistics?limit=5&offset=5
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":5,"limit":5,"endOfRecords":false,"count":5959998,"results":[{"datasetKey":"0004376e-d562-407b-8f4e-bafb51800739","totalRecords":505426,"numberDownloads":1267,"year":2026,"month":9},{"datasetKey":"0006eab9-7c26-4272-aa80-53c8e60db999","totalRecords":466,"numberDownloads":261,"year":2026,"month":9},{"datasetKey":"0008b72b-c47a-4ef1-a40f-2551a8ec555a","totalRecords":314,"numberDownloads":157,"year":2026,"month":9},{"datasetKey":"00095b29-567c-4d1a-9337-a19e0cbb8d55","totalRecords":52561,"numberDownloads":814,"year":2026,"month":9},{"datasetKey":"000a7240-3d12-4025-aa65-16abe083cea0","totalRecords":6948,"numberDownloads":99,"year":2026,"month":9}]}'
  recorded_at: 2026-10-02 09:09:58
recorded_with: VCR-vcr/2.0.0
