http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/countries
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"UNITED_STATES":1292477980,"CANADA":214177561,"FRANCE":211998411,"UNITED_KINGDOM":202423395,"AUSTRALIA":193873110,"SWEDEN":167311675,"NETHERLANDS":138747645,"SPAIN":94133154,"NORWAY":81229710,"GERMANY":78161036,"DENMARK":66584685,"INDIA":64948667,"FINLAND":51191315,"SOUTH_AFRICA":45542657,"BELGIUM":43905984,"BRAZIL":42249298,"COLOMBIA":39808020,"MEXICO":39637469,"COSTA_RICA":39284794,"SWITZERLAND":32047517,"TAIWAN":25489039,"PORTUGAL":25473877,"RUSSIAN_FEDERATION":18547431,"ARGENTINA":18526459,"POLAND":18441981,"NEW_ZEALAND":17571516,"JAPAN":16862713,"AUSTRIA":16456310,"ECUADOR":14687939,"CHINA":14065981,"CHILE":13675487,"ITALY":12558460,"PERU":11533771,"PANAMA":10147121,"ESTONIA":9511171,"KOREA_SOUTH":8428510,"ISRAEL":8397060,"THAILAND":8102611,"IRELAND":7939260,"BELIZE":7869689,"VENEZUELA":5733557,"GUATEMALA":5618169,"CZECH_REPUBLIC":5600261,"KENYA":5550677,"INDONESIA":5148642,"ANTARCTICA":5015168,"PUERTO_RICO":4677044,"MALAYSIA":4588161,"TURKEY":4575933,"GREECE":4496020,"UKRAINE":4353310,"HONDURAS":3953024,"PHILIPPINES":3681087,"SLOVAKIA":3633107,"MADAGASCAR":3516389,"TANZANIA":3506314,"LUXEMBOURG":3434544,"BOLIVIA":2955935,"SRI_LANKA":2944569,"BULGARIA":2907549,"UGANDA":2879009,"ICELAND":2675448,"PAPUA_NEW_GUINEA":2590987,"CUBA":2462861,"HUNGARY":2445052,"NICARAGUA":2417496,"HONG_KONG":2256315,"URUGUAY":2149577,"SINGAPORE":2060359,"MOROCCO":2003996,"UNITED_ARAB_EMIRATES":1980211,"NEPAL":1935810,"NAMIBIA":1849131,"ALAND_ISLANDS":1848854,"UNKNOWN":1821242,"ISLE_OF_MAN":1813976,"PARAGUAY":1792826,"SVALBARD_JAN_MAYEN":1717854,"ROMANIA":1669721,"SERBIA":1622569,"LITHUANIA":1544464,"CONGO_DEMOCRATIC_REPUBLIC":1505664,"EL_SALVADOR":1485701,"GEORGIA":1444873,"TRINIDAD_TOBAGO":1429670,"CROATIA":1423850,"VIETNAM":1349018,"NEW_CALEDONIA":1324961,"ETHIOPIA":1294661,"GHANA":1279887,"IRAN":1266033,"BAHAMAS":1259444,"NIGERIA":1202367,"ZAMBIA":1196174,"CAMBODIA":1193164,"ZIMBABWE":1188629,"GUYANA":1164275,"BENIN":1162090,"FRENCH_GUIANA":1129524,"DOMINICAN_REPUBLIC":1120701,"BOTSWANA":1113416,"SLOVENIA":1102283,"GREENLAND":1086495,"PAKISTAN":1081914,"JAMAICA":1066594,"CAMEROON":1063035,"SAUDI_ARABIA":1048342,"LATVIA":1038136,"BANGLADESH":911306,"GABON":909776,"SENEGAL":882989,"GUADELOUPE":877837,"RÉUNION":876425,"VIRGIN_ISLANDS":875587,"GAMBIA":866422,"MONGOLIA":854621,"MOZAMBIQUE":850208,"EGYPT":804751,"SURINAME":798879,"BHUTAN":771087,"AFGHANISTAN":751854,"BERMUDA":727124,"OMAN":724221,"CYPRUS":724083,"FRENCH_POLYNESIA":711477,"BELARUS":697878,"KAZAKHSTAN":687759,"PALESTINIAN_TERRITORY":644625,"CÔTE_DIVOIRE":635896,"RWANDA":546302,"MALAWI":511898,"ALGERIA":505732,"SEYCHELLES":504936,"MYANMAR":478090,"FIJI":472491,"CURAÇAO":444279,"CAYMAN_ISLANDS":435489,"ANGOLA":429640,"SOUTH_GEORGIA_SANDWICH_ISLANDS":428867,"AMERICAN_SAMOA":426034,"UNITED_STATES_OUTLYING_ISLANDS":395091,"SYRIA":386267,"BONAIRE_SINT_EUSTATIUS_SABA":382062,"GUERNSEY":372297,"FRENCH_SOUTHERN_TERRITORIES":360880,"LAO":360778,"FAROE_ISLANDS":358797,"KUWAIT":353218,"MAURITANIA":340274,"AZERBAIJAN":329753,"ARUBA":324034,"MARTINIQUE":323454,"SOLOMON_ISLANDS":317903,"ARMENIA":315441,"TUNISIA":309445,"HAITI":297838,"GUINEA":297815,"FALKLAND_ISLANDS":296702,"KYRGYZSTAN":292655,"SWAZILAND":288306,"NORTHERN_MARIANA_ISLANDS":287538,"BURKINA_FASO":277668,"PALAU":276048,"JERSEY":273988,"WESTERN_SAHARA":265116,"MICRONESIA":250457,"LIBERIA":246296,"ANGUILLA":243868,"LEBANON":239823,"CAPE_VERDE":234456,"VANUATU":222923,"HEARD_MCDONALD_ISLANDS":212309,"UZBEKISTAN":208680,"YEMEN":207760,"BARBADOS":207074,"MALI":204993,"SUDAN":202662,"JORDAN":201214,"MACEDONIA":197964,"MONTENEGRO":195102,"GRENADA":193930,"KIRIBATI":190153,"MARSHALL_ISLANDS":186544,"GUAM":185173,"ANDORRA":181659,"ALBANIA":177514,"MAURITIUS":177307,"CONGO":175877,"SAO_TOME_PRINCIPE":174859,"QATAR":173397,"TONGA":171411,"IRAQ":168909,"SIERRA_LEONE":164280,"CHRISTMAS_ISLAND":163114,"EQUATORIAL_GUINEA":159790,"MOLDOVA":155571,"TOGO":152661,"LESOTHO":147254,"TAJIKISTAN":145146,"CENTRAL_AFRICAN_REPUBLIC":144981,"DOMINICA":138563,"BURUNDI":138259,"MALTA":137077,"BOSNIA_HERZEGOVINA":134375,"SAINT_LUCIA":124707,"ANTIGUA_BARBUDA":123406,"MALDIVES":122356,"NIGER":115667,"MAYOTTE":110612,"NORFOLK_ISLAND":109208,"TIMOR_LESTE":102593,"LIECHTENSTEIN":101267,"SOMALIA":100844,"GUINEA_BISSAU":96545,"SAMOA":95670,"CHAD":94390,"SAINT_MARTIN_FRENCH":89454,"BRUNEI_DARUSSALAM":88528,"SAINT_VINCENT_GRENADINES":88468,"TURKS_CAICOS_ISLANDS":87185,"VIRGIN_ISLANDS_BRITISH":85851,"NIUE":85326,"MACAO":84773,"SAINT_PIERRE_MIQUELON":83691,"COOK_ISLANDS":81386,"KOREA_NORTH":79755,"LIBYA":78303,"SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA":72312,"TOKELAU":63014,"MONTSERRAT":61135,"SAINT_KITTS_NEVIS":60414,"TURKMENISTAN":57108,"WALLIS_FUTUNA":55597,"COMOROS":54266,"GIBRALTAR":54206,"SINT_MAARTEN":48482,"KOSOVO":44536,"DJIBOUTI":40339,"BRITISH_INDIAN_OCEAN_TERRITORY":39947,"COCOS_ISLANDS":37662,"ERITREA":35280,"SOUTH_SUDAN":34660,"BAHRAIN":31218,"PITCAIRN":27321,"SAINT_BARTHÉLEMY":22735,"BOUVET_ISLAND":13114,"TUVALU":12620,"MONACO":9287,"NAURU":5688,"VATICAN":5441,"SAN_MARINO":3934,"INTERNATIONAL_WATERS":3361}'
  recorded_at: 2025-11-13 08:08:40
- request:
    method: GET
    uri: https://api.gbif.org/v1/enumeration/country/
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"iso2":"AF","iso3":"AFG","isoNumerical":"4","title":"Afghanistan","gbifRegion":"ASIA","enumName":"AFGHANISTAN"},{"iso2":"AX","iso3":"ALA","isoNumerical":"248","title":"Åland
        Islands","gbifRegion":"EUROPE","enumName":"ALAND_ISLANDS"},{"iso2":"AL","iso3":"ALB","isoNumerical":"8","title":"Albania","gbifRegion":"EUROPE","enumName":"ALBANIA"},{"iso2":"DZ","iso3":"DZA","isoNumerical":"12","title":"Algeria","gbifRegion":"AFRICA","enumName":"ALGERIA"},{"iso2":"AS","iso3":"ASM","isoNumerical":"16","title":"American
        Samoa","gbifRegion":"OCEANIA","enumName":"AMERICAN_SAMOA"},{"iso2":"A[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DK
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"DENMARK":62306219,"UNITED_KINGDOM":2989955,"NETHERLANDS":1719385,"GERMANY":1515099,"SPAIN":1353917,"FRANCE":1322088,"CANADA":1033835,"IRELAND":993336,"SWEDEN":821062,"NORWAY":609510,"LITHUANIA":457586,"PERU":333617,"GREENLAND":240151,"BELGIUM":213611,"POLA[...]
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DK
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"DENMARK":62306219,"BELGIUM":2414200,"UNITED_STATES":765556,"UNITED_KINGDOM":315047,"SWEDEN":159003,"NETHERLANDS":141773,"GERMANY":140143,"FRANCE":63374,"POLAND":51135,"ESTONIA":47927,"FINLAND":45280,"PORTUGAL":41199,"NORWAY":33323,"CANADA":11376,"SPAIN":11243,"UNKNOWN":10970,"AUSTRALIA":8215,"COLOMBIA":7372,"NEW_ZEALAND":1918,"RUSSIAN_FEDERATION":1682,"JAPAN":1411,"SWITZERLAND":1194,"BRAZIL":988,"CHINA":913,"ARGENTINA":739,"CZECH_REPUBLIC":738,"AUSTRIA":725,"PANAMA":344,"SOUTH_AFRICA":114,"LUXEMBOURG":90,"VENEZUELA":78,"ITALY":72,"MEXICO":67,"CHILE":50,"ISRAEL":44,"BULGARIA":39,"TAIWAN":26,"GREECE":24,"ECUADOR":24,"UKRAINE":15,"URUGUAY":12,"LITHUANIA":7,"LATVIA":6,"COSTA_RICA":5,"HUNGARY":3,"ANTARCTICA":2}'
  recorded_at: 2025-11-13 08:08:40
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"2024":326161490,"2023":323662501,"2022":279551924,"2021":263806275,"2020":230313603,"2019":203265184,"2018":174658339,"2017":161865997,"2016":136993103,"2015":118724643,"2014":111178008,"2013":93645182,"2012":85709765,"2011":71345551,"2010":65076168,"2009":57508488,"2025":545[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=1990%2C2000
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"2000":25432978,"1999":24121704,"1998":20129251,"1997":19677949,"1995":18729220,"1996":18639784,"1994":16233747,"1993":15951755,"1992":14960309,"1991":14022154,"1990":13262257}'
  recorded_at: 2025-11-13 08:08:43
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"HUMAN_OBSERVATION":3129335820,"PRESERVED_SPECIMEN":270491900,"MATERIAL_SAMPLE":147290563,"OCCURRENCE":50282110,"MACHINE_OBSERVATION":38710888,"OBSERVATION":16762802,"FOSSIL_SPECIMEN":9829806,"MATERIAL_CITATION":8656931,"LIVING_SPECIMEN":3466300}'
  recorded_at: 2025-11-13 08:08:43
recorded_with: VCR-vcr/2.0.0
