http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/user/<gbif_user>?limit=20&offset=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":1140,"results":[{"key":"0001344-230828120925497","license":"unspecified","request":{"predicate":{"type":"equals","key":"LIFE_STAGE","value":"Adult","matchCase":false},"creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2023-08-29T14:03:14.728+00:00","modified":"2023-08-29T14:03:48.635+00:00","eraseAfter":"2024-02-29T14:03:14.595+00:00","status":"CANCELLED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0001344-230828120925497.zip","size":0,"totalRecords":70678885,"numberDatasets":0,"source":"rgbif"},{"key":"0001343-230828120925497","license":"unspecified","request":{"predicate":{"type":"greaterThan","key":"ORGANISM_QUANTITY","value":"1","matchCase":false},"creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2023-08-29T14:03:12.738+00:00","modified":"2023-08-29T14:03:48.897+00:00","eraseAfter":"2024-02-29T14:03:12.589+00:00","status":"CANCELLED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0001343-230828120925497.zip","size":0,"totalRecords":82478203,"numberDatasets":0,"source":"rgbif"},{"key":"0001342-230828120925497","license":"unspecified","request":{"predicate":{"type":"equals","key":"VERBATIM_SCIENTIFIC_NAME","value":"Calopteryx","matchCase":false},"creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2023-08-29T14:03:10.819+00:00","modified":"2023-08-29T14:03:49.145+00:00","eraseAfter":"2024-02-29T14:03:10.742+00:00","status":"CANCELLED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0001342-230828120925497.zip","size":0,"totalRecords":3863,"numberDatasets":0,"source":"rgbif"},{"key":"0001290-230828120925497","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251","matchCase":false},{"type":"in","key":"COUNTRY","values":["US","CA"],"matchCase":false},{"type":"greaterThanOrEquals","key":"YEAR","value":"1979","matchCase":false}]},"creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2023-08-29T13:33:54.805+00:00","modified":"2023-08-29T13:33:56.339+00:00","eraseAfter":"2024-02-29T13:33:54.712+00:00","status":"CANCELLED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0001290-230828120925497.zip","size":0,"totalRecords":0,"numberDatasets":0,"source":"rgbif"},{"key":"0001289-230828120925497","doi":"10.15468/dl.d7hyyc","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251","matchCase":false},{"type":"in","key":"COUNTRY","values":["US","CA"],"matchCase":false},{"type":"greaterThanOrEquals","key":"YEAR","value":"1979","matchCase":false}]},"creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verba[...]
