http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&depth=5&limit=2&offset=0&taxonKey=7595433
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":2,"endOfRecords":true,"count":0,"results":[],"facets":[]}'
  recorded_at: 2022-12-23 10:49:16 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&depth=5-10&limit=2&offset=0&taxonKey=7595433
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '400'
      message: Bad Request
      explanation: Bad request syntax or unsupported method
    headers:
      status: HTTP/1.1 400 Bad Request
      content-type: text/plain
    body:
      encoding: ''
      file: no
      string: 'Invalid decimal range: 5-10'
  recorded_at: 2022-12-23 10:49:16 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
