http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"SIMPLE_CSV","predicate":{"type":"equals","key":"LIFE_STAGE","value":"Adult"},"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0007489-260928105237408
  recorded_at: 2026-10-02 06:48:40
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0007489-260928105237408
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0007489-260928105237408","license":"unspecified","request":{"predicate":{"type":"equals","key":"LIFE_STAGE","value":"Adult"},"sendNotification":false,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-10-02T06:48:40.593+00:00","modified":"2026-10-02T06:48:40.593+00:00","eraseAfter":"2027-04-02T06:48:40.513+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0007489-260928105237408.zip","size":0,"totalRecords":145244716,"numberDatasets":0}'
  recorded_at: 2026-10-02 06:48:40
recorded_with: VCR-vcr/2.0.0
