http_interactions:
- request:
    method: post
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      encoding: ''
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"SIMPLE_CSV","predicate":{"type":"equals","key":"VERBATIM_SCIENTIFIC_NAME","value":"Calopteryx"}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: 0260910-220831081235567
  recorded_at: 2023-01-27 08:46:35 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/0260910-220831081235567
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"key":"0260910-220831081235567","doi":"10.15468/dl.3pugvd","license":"unspecified","request":{"predicate":{"type":"equals","key":"VERBATIM_SCIENTIFIC_NAME","value":"Calopteryx","matchCase":false},"sendNotification":false,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2023-01-27T08:46:34.701+00:00","modified":"2023-01-27T08:46:34.701+00:00","eraseAfter":"2023-07-27T08:46:34.651+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0260910-220831081235567.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2023-01-27 08:46:35 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
