http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=500&year=2013&offset=0&taxonKey=3189815
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":300,"endOfRecords":false,"count":1612,"results":[{"key":1676588181,"datasetKey":"6ac3f774-d9fb-4796-b3e9-92bf6c81c084","publishingOrgKey":"bb646dff-a905-4403-a49b-6d378c2cf0d9","networkKeys":[],"installationKey":"36cae45c-1983-48be-9cf9-0672c4a60612","publishingCountry":"DE","protocol":"BIOCASE","lastCrawled":"2019-02-20T01:33:53.091+0000","lastParsed":"2017-11-01T11:08:00.104+0000","crawlId":100,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":3189815,"kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":933,"familyKey":6657,"genusKey":3189801,"speciesKey":3189815,"acceptedTaxonKey":3189815,"scientificName":"Aesculus
        hippocastanum L.","acceptedScientificName":"Aesculus hippocastanum L.","kingdom":"Plantae","phylum":"Tracheophyta","order":"Sapindales","family":"Sapindaceae","genus":"Aesculus","species":"Aesculus
        hippocastanum","genericName":"Aesculus","specificEpithet":"hippocastanum","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","decimalLongitude":8.655005,"decimalLatitude":50.43055,"coordinateUncertaintyInMeters":250.0,"year":2013,"month":1,"day":11,"eventDate":"2013-01-11T00:00:00","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"lastInterpreted":"2018-12-10T07:37:15.729+0000","license":"http://creativecommons.org/licenses/by/4.0/legalcode","identifiers":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Magnoliopsida","countryCode":"DE","country":"Germany","catalogNumber":"1041521129","recordedBy":"1416390964","institutionCode":"naturgucker","locality":"Butzbach","gbifID":"1676588181","collectionCode":"naturgucker"},{"key":1122517578,"datasetKey":"75956ee6-1a2b-4fa3-b3e8-ccda64ce6c2d","publishingOrgKey":"1928bdf0-f5d2-11dc-8c12-b8a03c50a862","networkKeys":[],"installationKey":"791e3715-7452-4dd0-a906-db21a3852427","publishingCountry":"FR","protocol":"DWC_ARCHIVE","lastCrawled":"2017-11-08T01:10:18.747+0000","lastParsed":"2015-07-18T00:11:42.133+0000","crawlId":6,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":3189815,"kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":933,"familyKey":6657,"genusKey":3189801,"speciesKey":3189815,"acceptedTaxonKey":3189815,"scientificName":"Aesculus
        hippocastanum L.","acceptedScientificName":"Aesculus hippocastanum L.","kingdom":"Plantae","phylum":"Tracheophyta","order":"Sapindales","family":"Sapindaceae","genus":"Aesculus","species":"Aesculus
        hippocastanum","genericName":"Aesculus","specificEpithet":"hippocastanum","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","decimalLongitude":0.76604,"decimalLatitude":48.50424,"coordinateUncertaintyInMeters":5000.0,"year":2013,"month":1,"day":9,"eventDate":"2013-01-09T00:00:00","issues":["GEODETIC_DATUM_ASSUMED_WGS84","INDIVIDUAL_COUNT_INVALID"],"lastInterpreted":"2018-12-08T16:25:25.766+0000","license":"http://creativecommons.org/licenses/by/4.0/legalcode","identifiers":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Magnoliopsida","countryCode":"FR","country":"France","identifier":"20832995","dataGeneralizations":"Taxon
        initialement rattaché au référentiel TAXREF v5 n''ayant pas subit de modifications
        depuis / taxon initially attached to the Taxonomic repository TAXREF v5. This
        taxon hasn''t undergone changes since","datasetName":"Données d''observation
        flore du réseau des CBN issues du SI de la FCBN","associatedReferences":"null","municipality":"MAGE
        (LE)","gbifID":"1122517578","collectionCode":"Données d''observation flore
        du réseau des CBN issues du SI de la FCBN","occurrenceID":"http://cbnbrest.fr/occtax/9db534a0-597f-4d2c-ab7f-01120ff2cfa8","taxonID":"80334","catalogNumber":"61002214-5099","recordedBy":"BOUSQUET
        Thomas (CBN-Brest)","occurrenceStatus":"Présent","datasetID":"126_1","occurrenceRemarks":"null","nameAccordingTo":"TAXREF
        8.0","collectionID":"T126","identifiedBy":"null"},{"key":1676586630,"datasetKey":"6ac3f774-d9fb-4796-b3e9-92bf6c81c084","publishingOrgKey":"bb646dff-a905-4403-a49b-6d378c2cf0d9","networkKeys":[],"installationKey":"36cae45c-1983-48be-9cf9-0672c4a60612","publishingCountry":"DE","protocol":"BIOCASE","lastCrawled":"2019-02-20T01:31:08.020+0000","lastParsed":"2018-11-06T08:35:14.614+0000","crawlId":100,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":3189815,"kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":933,"fami[...]
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=500&month=6&offset=0&taxonKey=3189815
 