http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request/validate
    body:
      string: '{"sendNotification":[true],"notificationAddresses":["<gbif_user>@gbif.org"],"format":"SQL_TSV_ZIP","sql":"SELECT
        gbifid,countryCode FROM occurrence WHERE genusKey = 2435098"}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: '{"sql":"SELECT\n  gbifid,\n  countrycode\nFROM\n  occurrence\nWHERE\n  CAST(occurrence.genuskey
        AS INTEGER) = 2435098","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"SQL_TSV_ZIP","type":"OCCURRENCE"}'
  recorded_at: 2025-11-12 10:47:46
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"sendNotification":[true],"notificationAddresses":["<gbif_user>@gbif.org"],"format":"SQL_TSV_ZIP","sql":"SELECT
        gbifid,countryCode FROM occurrence WHERE genusKey = 2435098"}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0028637-251025141854904
  recorded_at: 2025-11-12 10:47:48
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0028637-251025141854904
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0028637-251025141854904","license":"unspecified","request":{"sql":"SELECT
        gbifid,countryCode FROM occurrence WHERE genusKey = 2435098","sendNotification":false,"format":"SQL_TSV_ZIP","type":"OCCURRENCE"},"created":"2025-11-12T10:47:48.940+00:00","modified":"2025-11-12T10:47:48.940+00:00","eraseAfter":"2026-05-12T10:47:48.914+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0028637-251025141854904.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2025-11-12 10:47:48
recorded_with: VCR-vcr/2.0.0
