http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?depth=5&limit=500&offset=0&taxonKey=7595433
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.4.0.95)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":300,"endOfRecords":true,"count":0,"results":[],"facets":[]}'
  recorded_at: 2020-12-08 23:46:30 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?depth=5-10&limit=500&offset=0&taxonKey=7595433
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.4.0.95)
  response:
    status:
      status_code: '400'
      message: Bad Request
      explanation: Bad request syntax or unsupported method
    headers:
      status: 'HTTP/2 400 '
      content-type: text/plain
    body:
      encoding: UTF-8
      file: no
      string: 'Invalid decimal range: 5-10'
  recorded_at: 2020-12-08 23:46:30 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
