http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/855998194
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/855998194
    body:
      encoding: UTF-8
      string: '{"key":855998194,"datasetKey":"38b4c89f-584c-41bb-bd8f-cd1def33e92f","publishingOrgKey":"b8323864-602a-4a7d-9127-bb903054e97d","networkKeys":[],"installationKey":"4346b227-ca68-4d54-8a77-909148492e0b","publishingCountry":"SE","protocol":"DWC_ARCHIVE","lastCrawled":"2018-10-09T16:41:35.793+0000","lastParsed":"2018-07-31T19:01:56.585+0000","crawlId":167,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","individualCount":2,"lifeStage":"ADULT","taxonKey":8211070,"kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":1459,"familyKey":9456,"genusKey":2437489,"speciesKey":8211070,"scientificName":"Sciurus
        vulgaris Linnaeus, 1758","kingdom":"Animalia","phylum":"Chordata","order":"Rodentia","family":"Sciuridae","genus":"Sciurus","species":"Sciurus
        vulgaris","genericName":"Sciurus","specificEpithet":"vulgaris","taxonRank":"SPECIES","decimalLongitude":12.043857,"decimalLatitude":58.406765,"coordinateUncertaintyInMeters":50.0,"continent":"EUROPE","year":2013,"month":4,"day":17,"eventDate":"2013-04-17T00:00:00.000+0000","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84","RECORDED_DATE_MISMATCH"],"modified":"2013-04-17T12:37:00.000+0000","lastInterpreted":"2018-07-31T19:01:56.594+0000","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","identifiers":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Mammalia","countryCode":"SE","country":"Sweden","rightsHolder":"Hans
        Petersson","county":"Bohuslän","municipality":"Uddevalla","associatedReferences":"urn:lsid:artportalen.se:Sighting:Vertebrate.65338","identificationVerificationStatus":"Unvalidated","gbifID":"855998194","language":"Swedish","type":"Occurrence","taxonID":"urn:lsid:dyntaxa.se:Taxon:102606","occurrenceStatus":"Present","catalogNumber":"34275321","vernacularName":"ekorre","institutionCode":"ArtDatabanken","taxonConceptID":"urn:lsid:dyntaxa.se:Taxon:102606","eventTime":"09:00:00
        - 09:00:00","behavior":"Foraging","identifier":"urn:lsid:artportalen.se:Sighting:49366","informationWithheld":"More
        information can be obtained from the Data Provider.","endDayOfYear":"107","locality":"Holmen
        Lane Ryr","collectionCode":"Artportalen","occurrenceID":"urn:lsid:artportalen.se:Sighting:49366","recordedBy":"Hans
        Petersson","startDayOfYear":"107","datasetID":"urn:lsid:swedishlifewatch.se:DataProvider:1","occurrenceRemarks":"Åt
        havregryn på matningen","accessRights":"Free usage","higherClassification":"Biota;Animalia;Chordata;Craniata;Vertebrata;Gnathostomata;Mammalia;Placentalia;Boreoeutheria;Euarchontoglires;Rodentia;Sciuromorpha;Sciuridae;Sciurinae"}'
  recorded_at: 2018-10-09 21:45:15 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/855998194/verbatim
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/855998194/verbatim
    body:
      encoding: UTF[...]
[...]
