http_interactions:
- request:
    method: post
    uri: https://api.gbif-uat.org/v1/occurrence/download/request
    body:
      encoding: ''
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_email>"],"format":"DWCA","predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ"},{"type":"equals","key":"YEAR","value":"1993"},{"type":"equals","key":"MONTH","value":"1"}]}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: 0000624-210408133742558
  recorded_at: 2021-10-11 14:53:10 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif-uat.org/v1/occurrence/download/0000624-210408133742558
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":"0000624-210408133742558","doi":"10.21373/dl.mrhthg","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ","matchCase":false},{"type":"equals","key":"YEAR","value":"1993","matchCase":false},{"type":"equals","key":"MONTH","value":"1","matchCase":false}]},"sendNotification":false,"format":"DWCA"},"created":"2021-10-11T14:52:00.920+00:00","modified":"2021-10-11T14:52:00.920+00:00","eraseAfter":"2022-04-11T14:52:00.802+00:00","status":"PREPARING","downloadLink":"https://api.gbif-uat.org/v1/occurrence/download/request/0000624-210408133742558.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2021-10-11 14:53:10 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
