http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/countries
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"UNITED_STATES":821799957,"FRANCE":139844089,"CANADA":134189724,"SWEDEN":120307042,"AUSTRALIA":115258857,"UNITED_KINGDOM":111540818,"NETHERLANDS":87988452,"SPAIN":56160289,"DENMARK":50828589,"GERMANY":50160517,"NORWAY":48974504,"FINLAND":38110575,"BELGIUM":35208214,"SOUTH_AFRICA":34376183,"INDIA":32303267,"MEXICO":26671464,"BRAZIL":24945433,"COSTA_RICA":21137156,"COLOMBIA":20826114,"SWITZERLAND":19142543,"PORTUGAL":17491025,"TAIWAN":15425893,"NEW_ZEALAND":11272209,"JAPAN":11154992,"RUSSIAN_FEDERATION":10658904,"ARGENTINA":10154316,"CHINA":9604663,"AUSTRIA":8570544,"ESTONIA":7632769,"ECUADOR":7547615,"PERU":6938862,"POLAND":6714128,"KOREA_SOUTH":6367884,"ITALY":5884605,"PANAMA":5774951,"CHILE":5156198,"BELIZE":5112622,"ISRAEL":4204763,"THAILAND":4029795,"GUATEMALA":3535726,"IRELAND":3506707,"KENYA":3428646,"INDONESIA":3232637,"VENEZUELA":3093001,"PUERTO_RICO":3038492,"ANTARCTICA":2968495,"LUXEMBOURG":2858558,"HONDURAS":2798195,"MALAYSIA":2696249,"TURKEY":2680943,"CZECH_REPUBLIC":2574429,"GREECE":2319452,"PHILIPPINES":2167021,"UKRAINE":2100491,"TANZANIA":1953358,"NAMIBIA":1897803,"ICELAND":1890874,"PAPUA_NEW_GUINEA":1806221,"UNKNOWN":1752032,"BOLIVIA":1645392,"MADAGASCAR":1634483,"CUBA":1585384,"ALAND_ISLANDS":1513389,"NICARAGUA":1458425,"UNITED_ARAB_EMIRATES":1456748,"UGANDA":1431936,"SRI_LANKA":1361944,"PARAGUAY":1224254,"CONGO_DEMOCRATIC_REPUBLIC":1183070,"HONG_KONG":1175438,"MOROCCO":1172921,"ISLE_OF_MAN":1148641,"ZIMBABWE":1130521,"URUGUAY":1073467,"BENIN":1072165,"SINGAPORE":1064690,"HUNGARY":1027923,"LITHUANIA":1017807,"GEORGIA":960528,"TRINIDAD_TOBAGO":954129,"EL_SALVADOR":946267,"BAHAMAS":933666,"BULGARIA":929249,"NEW_CALEDONIA":891198,"NEPAL":889277,"ETHIOPIA":887825,"FRENCH_GUIANA":835019,"BOTSWANA":834945,"VIRGIN_ISLANDS":817566,"IRAN":799076,"RÉUNION":798606,"ROMANIA":779519,"VIETNAM":760232,"GUYANA":735640,"JAMAICA":729754,"MOZAMBIQUE":725790,"AFGHANISTAN":711356,"CAMEROON":710816,"NIGERIA":709199,"SLOVENIA":701432,"GHANA":688780,"CAMBODIA":686491,"DOMINICAN_REPUBLIC":683028,"CROATIA":677372,"GREENLAND":642589,"GUADELOUPE":625872,"SLOVAKIA":620210,"ZAMBIA":615979,"SVALBARD_JAN_MAYEN":615569,"SERBIA":601648,"BERMUDA":575909,"SENEGAL":565452,"FRENCH_POLYNESIA":561290,"PAKISTAN":533393,"SURINAME":511678,"LATVIA":507996,"MONGOLIA":499941,"GABON":485904,"EGYPT":475570,"SAUDI_ARABIA":431298,"BANGLADESH":431033,"CÔTE_DIVOIRE":429743,"GAMBIA":428015,"AMERICAN_SAMOA":413956,"OMAN":387942,"MYANMAR":370377,"BHUTAN":365812,"KAZAKHSTAN":345607,"BELARUS":342356,"SOUTH_GEORGIA_SANDWICH_ISLANDS":341349,"SWAZILAND":337504,"MALAWI":334469,"FIJI":327856,"CYPRUS":307618,"ANGOLA":302030,"UNITED_STATES_OUTLYING_ISLANDS":297197,"ALGERIA":295008,"FAROE_ISLANDS":292220,"KUWAIT":277502,"PALESTINIAN_TERRITORY":277147,"CURAÇAO":274966,"HAITI":257746,"RWANDA":255604,"FRENCH_SOUTHERN_TERRITORIES":251442,"BURKINA_FASO":246434,"NORTHERN_MARIANA_ISLANDS":240565,"CAYMAN_ISLANDS":236127,"SEYCHELLES":235425,"LAO":232721,"AZERBAIJAN":231324,"SOLOMON_ISLANDS":225811,"ANGUILLA":225064,"MICRONESIA":222093,"TUNISIA":221090,"PALAU":204632,"MARTINIQUE":204538,"GUINEA":200188,"ARUBA":197100,"BONAIRE_SINT_EUSTATIUS_SABA":194237,"HEARD_MCDONALD_ISLANDS":190016,"VANUATU":185731,"ARMENIA":180542,"FALKLAND_ISLANDS":176811,"KYRGYZSTAN":173614,"KIRIBATI":172931,"LIBERIA":163910,"GUAM":160228,"TONGA":155974,"SUDAN":155508,"MARSHALL_ISLANDS":152211,"ANDORRA":147837,"MALI":144668,"CAPE_VERDE":144507,"BARBADOS":140629,"WESTERN_SAHARA":138570,"MAURITANIA":137292,"SYRIA":136578,"CONGO":129372,"MAURITIUS":125115,"LESOTHO":120141,"TOGO":119864,"YEMEN":113602,"LEBANON":113582,"CENTRAL_AFRICAN_REPUBLIC":111330,"QATAR":108814,"UZBEKISTAN":105168,"MACEDONIA":104489,"DOMINICA":102806,"IRAQ":100327,"EQUATORIAL_GUINEA":99989,"BURUNDI":99856,"NIGER":98557,"GRENADA":97319,"MOLDOVA":97141,"SIERRA_LEONE":96267,"JORDAN":92411,"MALDIVES":85710,"MONTENEGRO":82086,"NIUE":81946,"MAYOTTE":78140,"TAJIKISTAN":78074,"TIMOR_LESTE":75237,"CHAD":73394,"JERSEY":72836,"ALBANIA":71639,"BOSNIA_HERZEGOVINA":71560,"SAMOA":71318,"SAINT_MARTIN_FRENCH":70036,"SAINT_LUCIA":69828,"VIRGIN_ISLANDS_BRITISH":69287,"SOMALIA":66045,"NORFOLK_ISLAND":62997,"ANTIGUA_BARBUDA":62675,"TOKELAU":62567,"MALTA":62566,"GUINEA_BISSAU":62111,"LIECHTENSTEIN":62026,"COOK_ISLANDS":61634,"GUERNSEY":59353,"LIBYA":58711,"KOREA_NORTH":56660,"TURKS_CAICOS_ISLANDS":54098,"SAINT_PIERRE_MIQUELON":53905,"SAO_TOME_PRINCIPE":53862,"WALLIS_FUTUNA":51366,"BRUNEI_DARUSSALAM":48491,"TURKMENISTAN":47857,"SAINT_VINCENT_GRENADINES":46095,"MONTSERRAT":42239,"COMOROS":41008,"CHRISTMAS_ISLAND":37703,"SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA":36131,"SAINT_KITTS_NEVIS":34659,"DJIBOUTI":32954,"BRITISH_INDIAN_OCEAN_TERRITORY":32585,"SINT_MAARTEN":32106,"ERITREA":27129,"KOSOVO":26525,"SOUTH_SUDAN":23781,"PITCAIRN":22074,"SAINT_BARTHÉLEMY":20135,"COCOS_ISLANDS":17656,"BAHRAIN":16573,"MACAO":14050,"GIBRALTAR":13884,"BOUVET_ISLAND":13278,"TUVALU":9903,"NAURU":5306,"MONACO":5078,"SAN_MARINO":2228,"VATICAN":1961,"INTERNATIONAL_WATERS":774}'
  recorded_at: 2023-03-10 11:14:14 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.gbif.org/v1/enumeration/country/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"iso2":"AF","iso3":"AFG","isoNumerical":"4","title":"Afghanistan","gbifRegion":"ASIA","enumName":"AFGHANISTAN"},{"iso2":"AX","iso3":"ALA","isoNumerical":"248","title":"Åland
        Islands","gbifRegion":"EUROPE","enumName":"ALAND_ISLANDS"},{"iso2":"AL","iso3":"ALB","isoNumerical":"8","title":"Albania","gbifRegion":"EUROPE","enumName":"ALBANIA"},{"iso2":"DZ","iso3":"DZA","isoNumerical":"12","title":"Algeria","gbifRegion":"AFRICA","enumName":"ALGERIA"},{"iso2":"AS","iso3":"ASM","isoNumerical":"16","title":"American
        Samoa","gbifRegion":"OCEANIA","enumName":"AMERICAN_SAMOA"},{"iso2":"A[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DK
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"DENMARK":49601374,"LITHUANIA":439429,"PERU":329987,"GREENLAND":170667[...]
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DK
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"DENMARK":49601374,"UNITED_STATES":394129,"UNITED_KINGDOM":367032,"SWEDEN":105953,"NETHERLANDS":66866,"GERMANY":63525,"FRANCE":55244,"ESTONIA":47710,"FINLAND":39912,"NORWAY":31927,"COLOMBIA":7370,"AUSTRALIA":5894,"SPAIN":4676,"CANADA":3965,"BELGIUM":3931,"SWITZERLAND":2429,"POLAND":2342,"RUSSIAN_FEDERATION":1676,"NEW_ZEALAND":1602,"JAPAN":1380,"BRAZIL":939,"CHINA":913,"CZECH_REPUBLIC":655,"AUSTRIA":572,"PORTUGAL":541,"ARGENTINA":260,"SOUTH_AFRICA":91,"VENEZUELA":78,"MEXICO":40,"ITALY":27,"PANAMA":26,"BULGARIA":25,"LUXEMBOURG":19,"ISRAEL":13,"TAIWAN":12,"COSTA_RICA":2,"ECUADOR":1}'
  recorded_at: 2023-03-10 11:14:14 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"2021":231206321,"2020":207004667,"2019":172905220,"2018":155017433,"2017":130798914,"2016[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=1990%2C2000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"2000":20044028,"1999":19228314,"1998":16145863,"1997":15784366,"1995":15064063,"1996":14891799,"1994":13158433,"1993":12990639,"1992":12771616,"1990":12624508,"1991":11863421}'
  recorded_at: 2023-03-10 11:14:14 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"HUMAN_OBSERVATION":1971938055,"PRESERVED_SPECIMEN":216066027,"MATERIAL_SAMPLE":51040604,"OBSERVATION":23398982,"OCCURRENCE":20350761,"MACHINE_OBSERVATION":15097585,"FOSSIL_SPECIMEN":10120339,"MATERIAL_CITATION":3073564,"LIVING_SPECIMEN":1959759}'
  recorded_at: 2023-03-10 11:14:14 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
