http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=0&facet=country&facet=basisOfRecord&facet=hasCoordinate&country.facetLimit=3&basisOfRecord.facetLimit=6
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":1083069575,"results":[],"facets":[{"field":"COUNTRY","counts":[{"name":"US","count":327138198},{"name":"SE","count":80197935},{"name":"AU","count":73759906}]},{"field":"BASIS_OF_RECORD","counts":[{"name":"HUMAN_OBSERVATION","count":857011897},{"name":"PRESERVED_SPECIMEN","count":158980395},{"name":"OBSERVATION","count":19652932},{"name":"UNKNOWN","count":17133616},{"name":"MACHINE_OBSERVATION","count":11179076},{"name":"FOSSIL_SPECIMEN","count":9123842}]},{"field":"HAS_COORDINATE","counts":[{"name":"true","count":996291793},{"name":"false","count":86777782}]}]}'
  recorded_at: 2019-02-26 17:24:04 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
