http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/user/<gbif_user>?limit=20&offset=0
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":2089,"results":[{"key":"0025179-250827131500795","license":"unspecified","request":{"predicate":{"type":"greaterThanOrEquals","key":"DECIMAL_LATITUDE","value":"75","matchCase":false},"creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"SPECIES_LIST","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-09-04T07:33:31.455+00:00","modified":"2025-09-04T07:34:52.940+00:00","eraseAfter":"2026-03-04T07:33:30.178+00:00","status":"CANCELLED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0025179-250827131500795.zip","size":0,"totalRecords":1944110,"numberDatasets":0,"source":"rgbif"},{"key":"0025177-250827131500795","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"within","geometry":"POLYGON((-14
        42,-7 26,9 38,-14 42))"},{"type":"greaterThanOrEquals","key":"ELEVATION","value":"5000","matchCase":false}]},"creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-09-04T07:33:28.193+00:00","modified":"2025-09-04T07:34:53.061+00:00","eraseAfter":"2026-03-04T07:33:23.572+00:00","status":"CANCELLED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0025177-250827131500795.zip","size":0,"totalRecords":104,"numberDatasets":0,"source":"rgbif"},{"key":"0025176-250827131500795","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251","matchCase":false},{"type":"in","key":"COUNTRY","values":["US","CA"],"matchCase":false},{"type":"greaterThanOrEquals","key":"YEAR","value":"1979","matchCase":false}]},"creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-09-04T07:33:21.597+00:00","modified":"2025-09-04T07:34:53.176+00:00","eraseAfter":"2026-03-04T07:33:20.853+00:00","status":"CANCELLED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0025176-250827131500795.zip","size":0,"totalRecords":21838,"numberDatasets":0,"source":"rgbif"},{"key":"0006470-250827131500795","doi":"10.15468/dl.k35gux","license":"unspecified","request":{"predicate":{"type":"equals","key":"DATASET_KEY","value":"0b9dbe02-b7b4-484e-9cf6-77d620b74ccf","matchCase":false},"creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-08-29T07:08:48.888+00:00","modified":"2025-08-29T07:11:04.703+00:00","eraseAfter":"2026-02-28T07:08:48.851+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0006470-250827131500795.zip","size":45078,"totalRecords":232,"numberDatasets":1,"source":"rgbif"},{"key":"0003867-250827131500795","doi":"10.15468/dl.4kcfet","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"sql":"SELECT
        COUNT(DISTINCT publisher) AS publisher_count\n        FROM occurrence;","creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"SQL_TSV_ZIP","type":"OCCURRENCE"},"created":"2025-08-28T12:14:27.587+00:00","modified":"2025-08-28T12:24:04.257+00:00","eraseAfter":"2026-02-28T12:14:27.574+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0003867-250827131500795.zip","size":209,"totalRecor[...]
