http_interactions:
- request:
    method: post
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      encoding: ''
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_email>"],"format":"DWCA","predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251"},{"type":"in","key":"COUNTRY","values":["US","CA"]},{"type":"greaterThanOrEquals","key":"YEAR","value":"1975"}]}}'
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rgbif/2.1.0.91)
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
      location: http://api.gbif.org/v1/occurrence/download/request/0013662-200127171203522
    body:
      encoding: UTF-8
      file: no
      string: 0013662-200127171203522
  recorded_at: 2020-02-15 00:17:53 GMT
  recorded_with: vcr/0.4.1.97, webmockr/0.5.1.98
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/0013662-200127171203522
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rgbif/2.1.0.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":"0013662-200127171203522","doi":"10.15468/dl.ztp4vv","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251"},{"type":"in","key":"COUNTRY","values":["US","CA"]},{"type":"greaterThanOrEquals","key":"YEAR","value":"1975"}]},"sendNotification":false,"format":"DWCA"},"created":"2020-02-15T00:16:48.189+0000","modified":"2020-02-15T00:16:48.316+0000","eraseAfter":"2020-08-15T00:16:48.119+0000","status":"RUNNING","downloadLink":"http://api.gbif.org/v1/occurrence/download/request/0013662-200127171203522.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2020-02-15 00:17:53 GMT
  recorded_with: vcr/0.4.1.97, webmockr/0.5.1.98
[...]
