http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"SIMPLE_CSV","predicate":{"type":"equals","key":"VERBATIM_SCIENTIFIC_NAME","value":"Calopteryx"},"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0024187-260806074905277
  recorded_at: 2026-08-19 10:58:28
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0024187-260806074905277
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0024187-260806074905277","license":"unspecified","request":{"predicate":{"type":"equals","key":"VERBATIM_SCIENTIFIC_NAME","value":"Calopteryx","matchCase":false},"sendNotification":false,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-08-19T10:58:27.727+00:00","modified":"2026-08-19T10:58:27.727+00:00","eraseAfter":"2027-02-19T10:58:27.583+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0024187-260806074905277.zip","size":0,"totalRecords":4666,"numberDatasets":0}'
  recorded_at: 2026-08-19 10:58:28
recorded_with: VCR-vcr/2.0.0
