http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"SPECIES_LIST","predicate":{"type":"greaterThanOrEquals","key":"DECIMAL_LATITUDE","value":"75"}}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0012152-260108223611665
  recorded_at: 2026-01-15 15:05:57
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0012152-260108223611665
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0012152-260108223611665","license":"unspecified","request":{"predicate":{"type":"greaterThanOrEquals","key":"DECIMAL_LATITUDE","value":"75","matchCase":false},"sendNotification":false,"format":"SPECIES_LIST","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2026-01-15T15:05:58.007+00:00","modified":"2026-01-15T15:05:58.007+00:00","eraseAfter":"2026-07-15T15:05:57.914+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0012152-260108223611665.zip","size":0,"totalRecords":2183177,"numberDatasets":0}'
  recorded_at: 2026-01-15 15:05:57
recorded_with: VCR-vcr/2.0.0
