http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/dataset/7f2edc10-f762-11e1-a439-00145eb45e9a?limit=20&offset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":39384,"results":[{"downloadKey":"0108435-230224095556074","datasetKey":"7f2edc10-f762-11e1-a439-00145eb45e9a","datasetTitle":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM","datasetDOI":"10.15468/blmvxk","datasetCitation":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM. Carl Faust Foundation.
        Occurrence Dataset https://doi.org/10.15468/blmvxk accessed via GBIF.org on
        2017-06-01.","numberRecords":2,"download":{"key":"0108435-230224095556074","doi":"10.15468/dl.mempdm","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"equals","key":"TAXON_KEY","value":"3034501","matchCase":false},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2023-03-22T11:03:46.807+00:00","modified":"2023-03-22T11:06:01.417+00:00","eraseAfter":"2023-09-22T11:03:46.755+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0108435-230224095556074.zip","size":5348257,"totalRecords":24753,"numberDatasets":326}},{"downloadKey":"0108415-230224095556074","datasetKey":"7f2edc10-f762-11e1-a439-00145eb45e9a","datasetTitle":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM","datasetDOI":"10.15468/blmvxk","datasetCitation":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM. Carl Faust Foundation.
        Occurrence Dataset https://doi.org/10.15468/blmvxk accessed via GBIF.org on
        2017-06-01.","numberRecords":688,"download":{"key":"0108415-230224095556074","doi":"10.15468/dl.kap9bg","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"in","key":"TAXON_KEY","values":["2974901","2975401","2975328","2974751","2974879","2974877","2975257","2974826","2975294","2975149","2975180","2974943","2975170","7766737","2975076","2975367","2974959","2974855","2975352","2974753","2974752","2974806","11521493","2975172","2974984","2975416","2975322","2974794","2975132","3972576","2946881","2975153","2975097","2974940","2974989","2974863","2975152","2974811","2974776","2975262","2975406","2974861","2975102","2974988","2975430","2975128","2974801","2975456","2975404","2975014[...]
