http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"SIMPLE_CSV","predicate":{"type":"equals","key":"VERBATIM_SCIENTIFIC_NAME","value":"Calopteryx"}}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0025450-250827131500795
  recorded_at: 2025-09-04 09:20:38
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0025450-250827131500795
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0025450-250827131500795","license":"unspecified","request":{"predicate":{"type":"equals","key":"VERBATIM_SCIENTIFIC_NAME","value":"Calopteryx","matchCase":false},"sendNotification":false,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-09-04T09:20:37.923+00:00","modified":"2025-09-04T09:20:37.923+00:00","eraseAfter":"2026-03-04T09:20:37.571+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0025450-250827131500795.zip","size":0,"totalRecords":4538,"numberDatasets":0}'
  recorded_at: 2025-09-04 09:20:38
recorded_with: VCR-vcr/2.0.0
