http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/countries
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"UNITED_STATES":821936687,"FRANCE":138240999,"CANADA":134186593,"SWEDEN":120311235,"AUSTRALIA":115261228,"UNITED_KINGDOM":111541373,"NETHERLANDS":87980902,"SPAIN":56157969,"DENMARK":50827451,"GERMANY":50160673,"NORWAY":49267146,"FINLAND":38103198,"BELGIUM":35208180,"SOUTH_AFRICA":34368752,"INDIA":32302695,"MEXICO":26671493,"BRAZIL":24945340,"COSTA_RICA":21137171,"COLOMBIA":20824595,"SWITZERLAND":19142301,"PORTUGAL":17618125,"TAIWAN":15425871,"NEW_ZEALAND":11393694,"JAPAN":11150637,"RUSSIAN_FEDERATION":10651468,"ARGENTINA":10154290,"CHINA":9604634,"AUSTRIA":8570196,"ESTONIA":7632773,"ECUADOR":7547616,"PERU":6938775,"POLAND":6714109,"KOREA_SOUTH":6367879,"ITALY":5881574,"PANAMA":5774951,"CHILE":5156264,"BELIZE":5112612,"ISRAEL":4204659,"THAILAND":4029786,"GUATEMALA":3535298,"IRELAND":3506704,"KENYA":3425795,"INDONESIA":3232572,"VENEZUELA":3092998,"PUERTO_RICO":3038515,"ANTARCTICA":2968492,"LUXEMBOURG":2858553,"HONDURAS":2798191,"MALAYSIA":2696196,"TURKEY":2680890,"CZECH_REPUBLIC":2574260,"GREECE":2319585,"PHILIPPINES":2167020,"UKRAINE":2100487,"TANZANIA":1950736,"NAMIBIA":1896557,"ICELAND":1891024,"PAPUA_NEW_GUINEA":1806196,"UNKNOWN":1751975,"BOLIVIA":1645378,"MADAGASCAR":1627599,"CUBA":1585400,"ALAND_ISLANDS":1513226,"NICARAGUA":1458425,"UNITED_ARAB_EMIRATES":1456675,"UGANDA":1430089,"SRI_LANKA":1361807,"PARAGUAY":1224239,"CONGO_DEMOCRATIC_REPUBLIC":1179268,"HONG_KONG":1175438,"MOROCCO":1173215,"ISLE_OF_MAN":1148641,"ZIMBABWE":1129342,"URUGUAY":1073489,"BENIN":1072138,"SINGAPORE":1064697,"HUNGARY":1026925,"LITHUANIA":1017802,"GEORGIA":960500,"TRINIDAD_TOBAGO":954153,"EL_SALVADOR":946267,"BAHAMAS":933678,"BULGARIA":929191,"NEPAL":889269,"ETHIOPIA":886392,"NEW_CALEDONIA":858283,"BOTSWANA":834867,"VIRGIN_ISLANDS":817556,"FRENCH_GUIANA":802128,"IRAN":798858,"RÉUNION":783777,"ROMANIA":779553,"VIETNAM":760231,"GUYANA":735644,"JAMAICA":729797,"MOZAMBIQUE":725348,"AFGHANISTAN":711335,"CAMEROON":708471,"NIGERIA":707802,"SLOVENIA":701428,"GHANA":688041,"CAMBODIA":686490,"DOMINICAN_REPUBLIC":683015,"CROATIA":677728,"GREENLAND":642721,"SLOVAKIA":620213,"SVALBARD_JAN_MAYEN":615776,"ZAMBIA":615344,"GUADELOUPE":612816,"SERBIA":601601,"BERMUDA":576018,"SENEGAL":565258,"FRENCH_POLYNESIA":546025,"PAKISTAN":533336,"SURINAME":511679,"LATVIA":508000,"MONGOLIA":499936,"GABON":484768,"EGYPT":475476,"BANGLADESH":431022,"SAUDI_ARABIA":430807,"GAMBIA":427885,"CÔTE_DIVOIRE":426359,"AMERICAN_SAMOA":413956,"OMAN":387686,"MYANMAR":370362,"BHUTAN":365808,"KAZAKHSTAN":346017,"BELARUS":342356,"SOUTH_GEORGIA_SANDWICH_ISLANDS":341366,"SWAZILAND":337467,"MALAWI":333542,"FIJI":327834,"CYPRUS":307603,"ANGOLA":301344,"UNITED_STATES_OUTLYING_ISLANDS":297197,"ALGERIA":294751,"FAROE_ISLANDS":292487,"KUWAIT":277500,"PALESTINIAN_TERRITORY":277111,"CURAÇAO":274965,"HAITI":257772,"RWANDA":255215,"BURKINA_FASO":246351,"FRENCH_SOUTHERN_TERRITORIES":244640,"NORTHERN_MARIANA_ISLANDS":240565,"CAYMAN_ISLANDS":236127,"SEYCHELLES":234911,"LAO":232721,"AZERBAIJAN":231317,"SOLOMON_ISLANDS":225806,"ANGUILLA":225165,"MICRONESIA":222090,"TUNISIA":220975,"PALAU":204632,"GUINEA":199976,"ARUBA":197100,"BONAIRE_SINT_EUSTATIUS_SABA":194237,"HEARD_MCDONALD_ISLANDS":190016,"MARTINIQUE":188915,"VANUATU":185727,"ARMENIA":180538,"FALKLAND_ISLANDS":176830,"KYRGYZSTAN":173609,"KIRIBATI":172925,"LIBERIA":163797,"GUAM":160224,"TONGA":155921,"SUDAN":155242,"MARSHALL_ISLANDS":152208,"ANDORRA":147837,"MALI":144644,"CAPE_VERDE":144444,"BARBADOS":140628,"WESTERN_SAHARA":138561,"MAURITANIA":137238,"SYRIA":136552,"CONGO":129164,"MAURITIUS":124914,"LESOTHO":119951,"TOGO":119703,"LEBANON":113551,"YEMEN":112807,"CENTRAL_AFRICAN_REPUBLIC":111119,"QATAR":108812,"UZBEKISTAN":105152,"MACEDONIA":104455,"DOMINICA":102803,"IRAQ":100285,"BURUNDI":99796,"EQUATORIAL_GUINEA":99583,"NIGER":98485,"GRENADA":97319,"MOLDOVA":97140,"SIERRA_LEONE":95594,"JORDAN":92382,"MALDIVES":85698,"MONTENEGRO":82093,"NIUE":81946,"TAJIKISTAN":78074,"TIMOR_LESTE":75237,"CHAD":73358,"JERSEY":72836,"ALBANIA":71599,"BOSNIA_HERZEGOVINA":71552,"SAMOA":71307,"SAINT_LUCIA":69828,"MAYOTTE":69728,"VIRGIN_ISLANDS_BRITISH":69287,"SAINT_MARTIN_FRENCH":67331,"SOMALIA":65629,"NORFOLK_ISLAND":63005,"ANTIGUA_BARBUDA":62675,"MALTA":62568,"TOKELAU":62567,"GUINEA_BISSAU":62107,"LIECHTENSTEIN":62026,"COOK_ISLANDS":61773,"GUERNSEY":59353,"LIBYA":58671,"KOREA_NORTH":56660,"TURKS_CAICOS_ISLANDS":54098,"SAO_TOME_PRINCIPE":53616,"SAINT_PIERRE_MIQUELON":51049,"BRUNEI_DARUSSALAM":48491,"WALLIS_FUTUNA":48256,"TURKMENISTAN":47815,"SAINT_VINCENT_GRENADINES":46087,"MONTSERRAT":42239,"COMOROS":40696,"CHRISTMAS_ISLAND":37703,"SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA":36083,"SAINT_KITTS_NEVIS":34659,"DJIBOUTI":32890,"BRITISH_INDIAN_OCEAN_TERRITORY":32577,"SINT_MAARTEN":32107,"ERITREA":26914,"KOSOVO":26493,"SOUTH_SUDAN":23724,"PITCAIRN":22074,"COCOS_ISLANDS":17656,"SAINT_BARTHÉLEMY":17474,"BAHRAIN":16556,"MACAO":14050,"GIBRALTAR":13905,"BOUVET_ISLAND":13278,"TUVALU":9903,"NAURU":5306,"MONACO":5078,"SAN_MARINO":2228,"VATICAN":1961,"INTERNATIONAL_WATERS":774}'
  recorded_at: 2023-03-08 15:18:31 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.gbif.org/v1/enumeration/country/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"iso2":"AF","iso3":"AFG","isoNumerical":"4","title":"Afghanistan","gbifRegion":"ASIA","enumName":"AFGHANISTAN"},{"iso2":"AX","iso3":"ALA","isoNumerical":"248","title":"Åland
        Islands","gbifRegion":"EUROPE","enumName":"ALAND_ISLANDS"},{"iso2":"AL","iso3":"ALB","isoNumerical":"8","title":"Albania","gbifRegion":"EUROPE","enumName":"ALBANIA"},{"iso2":"DZ","iso3":"DZA","isoNumerical":"12","title":"Algeria","gbifRegion":"AFRICA","enumName":"ALGERIA"},{"iso2":"AS","iso3":"ASM","isoNumerical":"16","title":"American
        Samoa","gbifRegion":"OCEANIA","enumName":"AMERICAN_SAMOA"},{"iso2":"A[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DK
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"DENMARK":49599676,"LITHUANIA":439429,"PERU":329987,"GREENLAND":170667[...]
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DK
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"DENMARK":49599676,"UNITED_STATES":394129,"UNITED_KINGDOM":367032,"SWEDEN":106523,"NETHERLANDS":66866,"GERMANY":63525,"FRANCE":55244,"ESTONIA":47710,"FINLAND":39906,"NORWAY":31925,"COLOMBIA":7370,"AUSTRALIA":5894,"SPAIN":4675,"CANADA":3965,"BELGIUM":3930,"SWITZERLAND":2429,"POLAND":2342,"RUSSIAN_FEDERATION":1676,"NEW_ZEALAND":1602,"JAPAN":1380,"BRAZIL":939,"CHINA":913,"CZECH_REPUBLIC":655,"AUSTRIA":572,"PORTUGAL":541,"ARGENTINA":260,"SOUTH_AFRICA":91,"VENEZUELA":78,"MEXICO":40,"ITALY":27,"PANAMA":26,"BULGARIA":25,"LUXEMBOURG":19,"ISRAEL":13,"TAIWAN":12,"COSTA_RICA":2,"ECUADOR":1}'
  recorded_at: 2023-03-08 15:18:31 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"2021":231103173,"2020":206983627,"2019":172818314,"2018":154930224,"2017":130693340,"2016[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=1990%2C2000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"2000":20033993,"1999":19225333,"1998":16131697,"1997":15767077,"1995":15048203,"1996":14874986,"1994":13143123,"1993":12977915,"1992":12774755,"1990":12630108,"1991":11871017}'
  recorded_at: 2023-03-08 15:18:31 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"HUMAN_OBSERVATION":1970221032,"PRESERVED_SPECIMEN":216256427,"MATERIAL_SAMPLE":51421854,"OBSERVATION":23398982,"OCCURRENCE":20362722,"MACHINE_OBSERVATION":15203672,"FOSSIL_SPECIMEN":10119532,"MATERIAL_CITATION":3073299,"LIVING_SPECIMEN":1960768}'
  recorded_at: 2023-03-08 15:18:31 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
