http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=500&offset=0&datasetKey=7b5d6a48-f762-11e1-a439-00145eb45e9a
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/search?limit=500&offset=0&datasetKey=7b5d6a48-f762-11e1-a439-00145eb45e9a
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":300,"endOfRecords":true,"count":177,"results":[{"key":240713227,"datasetKey":"7b5d6a48-f762-11e1-a439-00145eb45e9a","publishingOrgKey":"104e9c96-791b-4f14-978c-f581cb214912","networkKeys":[],"installationKey":"27c24cba-13c5-47d1-96a1-16abd8f11437","publishingCountry":"GB","protocol":"DWC_ARCHIVE","lastCrawled":"2018-10-03T14:25:27.870+0000","lastParsed":"2018-07-23T09:40:36.070+0000","crawlId":74,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":8405705,"kingdomKey":4,"phylumKey":8376456,"classKey":7882876,"orderKey":7617014,"familyKey":8405705,"scientificName":"Allogromiidae","kingdom":"Chromista","phylum":"Foraminifera","order":"Allogromiida","family":"Allogromiidae","genericName":"Allogromiidae","taxonRank":"FAMILY","decimalLongitude":163.583,"decimalLatitude":-77.5667,"issues":["GEODETIC_DATUM_ASSUMED_WGS84","TAXON_MATCH_HIGHERRANK"],"lastInterpreted":"2018-07-23T09:40:36.183+0000","license":"http://creativecommons.org/licenses/by/4.0/legalcode","identifiers":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Monothalamea","countryCode":"AQ","country":"Antarctica","identifier":"urn:catalog:BAS:CAML
        - Foraminifera:188","catalogNumber":"188","scientificNameID":"urn:lsid:marinespecies.org:taxname:111889","institutionCode":"BAS","locality":"Explorers
        Cove","datasetID":"IMIS:dasid:1775","gbifID":"240713227","occurrenceRemarks":"GenBankID:
        AJ307857","collectionCode":"CAML - Foraminifera","occurrenceID":"urn:catalog:BAS:CAML
        - Foraminifera:188","bibliographicCitation":"Holzmann,M."},{"key":240713189,"datasetKey":"7b5d6a48-f762-11e1-a439-00145eb45e9a","publishingOrgKey":"104e9c96-791b-4f14-978c-f581cb214912","networkKeys":[],"installationKey":"27c24cba-13c5-47d1-96a1-16abd8f11437","publishingCountry":"GB","protocol":"DWC_ARCHIVE","lastCrawled":"2018-10-03T14:25:27.840+0000","lastParsed":"2018-07-23T09:40:36.032+0000","crawlId":74,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":7384915,"kingdomKey":4,"phylumKey":8376456,"classKey":7882876,"orderKey":8142878,"familyKey":7426646,"genusKey":7384915,"scientificName":"Psammosphaera
        Schulze, 1875","kingdom":"Chromista","phylum":"Foraminifera","order":"Astrorhizida","family":"Psammosphaeridae","genus":"Psammosphaera","genericName":"Psammosphaera","taxonRank":"GENUS","decimalLongitude":163.583,"decimalLatitude":-77.5667,"issues":["GEODETIC_DATUM_ASSUMED_WGS84"],"lastInterpreted":"2018-07-23T09:40:36.128+0000","license":"http://creativecommons.org/licenses/by/4.0/legalcode","identifiers":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Monothalamea","countryCode":"AQ","country":"Antarctica","identifier":"urn:catalog:BAS:CAML
        - Foraminifera:153","catalogNumber":"153","scient[...]
