http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/countries
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"UNITED_STATES":1321123362,"UNITED_KINGDOM":262790865,"AUSTRALIA":259488943,"CANADA":221709607,"FRANCE":215080060,"SWEDEN":173178188,"NETHERLANDS":149551342,"NORWAY":96684896,"SPAIN":95838989,"GERMANY":83561413,"DENMARK":67761125,"INDIA":65766936,"FINLAND":53856076,"SOUTH_AFRICA":48679232,"BELGIUM":47764512,"BRAZIL":45529161,"COLOMBIA":40792870,"MEXICO":39664357,"COSTA_RICA":39651050,"SWITZERLAND":34803777,"PORTUGAL":27126799,"TAIWAN":26385566,"CHILE":22401016,"RUSSIAN_FEDERATION":21440465,"NEW_ZEALAND":19647798,"AUSTRIA":19478632,"POLAND":18933364,"ARGENTINA":18865075,"JAPAN":17759407,"CHINA":15452713,"ECUADOR":15069426,"ITALY":14093972,"PERU":12457589,"ESTONIA":10440904,"PANAMA":10283850,"ISRAEL":9372769,"KOREA_SOUTH":8886104,"CZECH_REPUBLIC":8497323,"THAILAND":8404063,"IRELAND":8006663,"BELIZE":7897285,"KENYA":6207139,"VENEZUELA":5786836,"GUATEMALA":5640639,"INDONESIA":5542598,"UKRAINE":5509184,"ANTARCTICA":5398443,"MALAYSIA":5043644,"PUERTO_RICO":4887536,"GREECE":4786075,"TURKEY":4770132,"SLOVAKIA":4651466,"LUXEMBOURG":4138458,"HONDURAS":3982843,"PHILIPPINES":3896195,"MADAGASCAR":3651980,"TANZANIA":3608055,"BULGARIA":3076551,"SRI_LANKA":3034524,"BOLIVIA":3030204,"NAMIBIA":2945096,"UGANDA":2926789,"HUNGARY":2773953,"ICELAND":2745775,"PAPUA_NEW_GUINEA":2724773,"FRENCH_GUIANA":2576216,"CUBA":2497048,"NICARAGUA":2432459,"HONG_KONG":2369737,"MOROCCO":2247634,"SINGAPORE":2247458,"URUGUAY":2212156,"UNKNOWN":2178601,"UNITED_ARAB_EMIRATES":2002106,"NEPAL":1989735,"ISLE_OF_MAN":1938806,"SVALBARD_JAN_MAYEN":1896881,"ROMANIA":1885801,"PARAGUAY":1850754,"ZIMBABWE":1832374,"ALAND_ISLANDS":1794456,"GHANA":1740638,"LITHUANIA":1738476,"SERBIA":1664418,"CROATIA":1586658,"CONGO_DEMOCRATIC_REPUBLIC":1584876,"GEORGIA":1503460,"TRINIDAD_TOBAGO":1496408,"EL_SALVADOR":1490228,"BOTSWANA":1447681,"VIETNAM":1444001,"ZAMBIA":1378724,"NEW_CALEDONIA":1374049,"ETHIOPIA":1314321,"IRAN":1307368,"NIGERIA":1301159,"BAHAMAS":1278324,"CAMBODIA":1207514,"BENIN":1198221,"SLOVENIA":1191530,"GUYANA":1185323,"PAKISTAN":1161619,"DOMINICAN_REPUBLIC":1150188,"GREENLAND":1135587,"CAMEROON":1116384,"SAUDI_ARABIA":1091523,"JAMAICA":1085686,"LATVIA":1055072,"MOZAMBIQUE":1049870,"AMERICAN_SAMOA":991768,"SENEGAL":982407,"BANGLADESH":972000,"CÔTE_DIVOIRE":961117,"GABON":960447,"VIRGIN_ISLANDS":930143,"GAMBIA":901662,"RÉUNION":895933,"GUADELOUPE":891794,"MONGOLIA":875508,"EGYPT":872635,"SURINAME":846273,"KAZAKHSTAN":823929,"BELARUS":796950,"BHUTAN":782517,"OMAN":771808,"CYPRUS":766277,"FRENCH_POLYNESIA":757520,"AFGHANISTAN":750461,"BERMUDA":737274,"KIRIBATI":655463,"ALGERIA":592783,"FIJI":579645,"MALAWI":569171,"RWANDA":561548,"NIUE":545879,"SEYCHELLES":521127,"MYANMAR":491038,"GUINEA":479554,"CURAÇAO":472633,"SWAZILAND":465698,"ANGOLA":449929,"CAYMAN_ISLANDS":445966,"SOUTH_GEORGIA_SANDWICH_ISLANDS":432432,"PALESTINIAN_TERRITORY":423408,"BONAIRE_SINT_EUSTATIUS_SABA":410991,"MAURITANIA":402313,"UNITED_STATES_OUTLYING_ISLANDS":400992,"FAROE_ISLANDS":388086,"ARMENIA":380785,"GUERNSEY":365534,"FRENCH_SOUTHERN_TERRITORIES":360713,"KUWAIT":356254,"LAO":355608,"SOLOMON_ISLANDS":346927,"AZERBAIJAN":338698,"MARTINIQUE":337132,"TUNISIA":332907,"ARUBA":329605,"BURKINA_FASO":327655,"KYRGYZSTAN":317387,"WESTERN_SAHARA":315182,"HAITI":301717,"FALKLAND_ISLANDS":301381,"NORTHERN_MARIANA_ISLANDS":298970,"TOKELAU":297266,"PALAU":293103,"JERSEY":287098,"LEBANON":281160,"MICRONESIA":268668,"LIBERIA":253699,"UZBEKISTAN":247839,"CAPE_VERDE":247441,"ANGUILLA":244499,"MALI":236631,"VANUATU":231938,"MONTENEGRO":230699,"MACEDONIA":219935,"HEARD_MCDONALD_ISLANDS":213641,"BARBADOS":210833,"SUDAN":209678,"YEMEN":207293,"JORDAN":206259,"ALBANIA":206150,"IRAQ":202836,"GUAM":199351,"GRENADA":197135,"MARSHALL_ISLANDS":195291,"TONGA":194366,"ANDORRA":189902,"CONGO":189093,"MAURITIUS":187427,"SAO_TOME_PRINCIPE":180214,"QATAR":178444,"SIERRA_LEONE":169331,"MOLDOVA":168728,"EQUATORIAL_GUINEA":162880,"SYRIA":158273,"CHRISTMAS_ISLAND":157645,"BOSNIA_HERZEGOVINA":153896,"CENTRAL_AFRICAN_REPUBLIC":153515,"LESOTHO":151473,"DOMINICA":149384,"MALTA":147648,"TAJIKISTAN":147590,"NIGER":147141,"BURUNDI":146776,"TOGO":137653,"MALDIVES":135858,"SAINT_LUCIA":128846,"ANTIGUA_BARBUDA":125603,"MAYOTTE":125163,"NORFOLK_ISLAND":120301,"CHAD":119521,"TIMOR_LESTE":114235,"GUINEA_BISSAU":110198,"SAMOA":106976,"LIECHTENSTEIN":106667,"SOMALIA":100924,"MACAO":99445,"BRUNEI_DARUSSALAM":93344,"SAINT_MARTIN_FRENCH":92135,"SAINT_VINCENT_GRENADINES":91891,"VIRGIN_ISLANDS_BRITISH":91349,"SAINT_PIERRE_MIQUELON":91236,"TURKS_CAICOS_ISLANDS":88898,"LIBYA":88062,"COOK_ISLANDS":87595,"SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA":75773,"KOREA_NORTH":72596,"SAINT_KITTS_NEVIS":62335,"MONTSERRAT":62317,"TURKMENISTAN":61140,"WALLIS_FUTUNA":57440,"GIBRALTAR":57315,"COMOROS":56995,"SINT_MAARTEN":53169,"KOSOVO":49063,"DJIBOUTI":43970,"COCOS_ISLANDS":43291,"BRITISH_INDIAN_OCEAN_TERRITORY":43063,"ERITREA":38104,"SOUTH_SUDAN":35639,"BAHRAIN":31847,"PITCAIRN":28510,"SAINT_BARTHÉLEMY":23199,"MONACO":14201,"TUVALU":13552,"BOUVET_ISLAND":13106,"VATICAN":5881,"NAURU":5750,"SAN_MARINO":4432,"INTERNATIONAL_WATERS":3363}'
  recorded_at: 2026-10-01 08:14:32
- request:
    method: GET
    uri: https://api.gbif.org/v1/enumeration/country/
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"iso2":"AF","iso3":"AFG","isoNumerical":"4","title":"Afghanistan","gbifRegion":"ASIA","enumName":"AFGHANISTAN"},{"iso2":"AX","iso3":"ALA","isoNumerical":"248","title":"Åland
        Islands","gbifRegion":"EUROPE","enumName":"ALAND_ISLANDS"},{"iso2":"AL","iso3":"ALB","isoNumerical":"8","title":"Albania","gbifRegion":"EUROPE","enumName":"ALBANIA"},{"iso2":"DZ","iso3":"DZA","isoNumerical":"12","title":"Algeria","gbifRegion":"AFRICA","enumName":"ALGERIA"},{"iso2":"AS","iso3":"ASM","isoNumerical":"16","title":"American
        Samoa","gbifRegion":"OCEANIA","enumName":"AMERICAN_SAMOA"},{"iso2":"A[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DK
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"DENMARK":63473879,"UNITED_KINGDOM":4174501,"IRELAND":1628739,"GERMANY":1221553,"NETHERLANDS":1158691,"CANADA":1030793,"SPAIN":977214,"FRANCE":852617,"SWEDEN":741370,"NORWAY":699728,"LITHUANIA":549049,"PERU":333740,"POLAND":253057,"GREENLAND":249325,"ECUADO[...]
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DK
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"DENMARK":63473879,"BELGIUM":2028328,"UNITED_STATES":908824,"UNITED_KINGDOM":495362,"NETHERLANDS":174626,"SWEDEN":170193,"GERMANY":140500,"FRANCE":67828,"POLAND":51182,"ESTONIA":49558,"FINLAND":46852,"PORTUGAL":41367,"NORWAY":39671,"UNKNOWN":17946,"SPAIN":13632,"CANADA":11935,"AUSTRALIA":8657,"COLOMBIA":7520,"SWITZERLAND":1969,"NEW_ZEALAND":1820,"RUSSIAN_FEDERATION":1693,"JAPAN":1437,"BRAZIL":995,"CZECH_REPUBLIC":984,"CHINA":913,"ARGENTINA":759,"AUSTRIA":752,"ITALY":446,"PANAMA":379,"LUXEMBOURG":335,"MEXICO":153,"SOUTH_AFRICA":132,"LITHUANIA":126,"VENEZUELA":78,"CHILE":51,"ISRAEL":45,"TAIWAN":37,"BULGARIA":37,"ECUADOR":30,"GREECE":26,"COSTA_RICA":16,"UKRAINE":15,"URUGUAY":12,"PHILIPPINES":7,"TURKEY":6,"LATVIA":6,"HUNGARY":3,"ANTARCTICA":2,"IRELAND":1}'
  recorded_at: 2026-10-01 08:14:33
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"2024":343372924,"2023":336586110,"2022":293025157,"2021":273536970,"2020":238686663,"2019":212749523,"2018":181994075,"2017":170293992,"2016":154105890,"2015":124166336,"2014":114498509,"2013":97520885,"2025":89445064,"2012":89437082,"2011":74485905,"2010":67913237,"2009":584[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=1990%2C2000
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"2000":26355885,"1999":25060257,"1998":20919012,"1997":20206610,"1995":19114254,"1996":19045145,"1994":16609430,"1993":16340036,"1992":15384024,"1991":14393381,"1990":13437105}'
  recorded_at: 2026-10-01 08:14:35
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"HUMAN_OBSERVATION":3316210323,"PRESERVED_SPECIMEN":284422660,"MATERIAL_SAMPLE":231475577,"MACHINE_OBSERVATION":49189862,"OCCURRENCE":29634580,"OBSERVATION":19532972,"FOSSIL_SPECIMEN":10248597,"MATERIAL_CITATION":9671058,"LIVING_SPECIMEN":4143747}'
  recorded_at: 2026-10-01 08:14:36
recorded_with: VCR-vcr/2.0.0
