http_interactions:
- request:
    method: post
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      encoding: ''
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"SIMPLE_CSV","predicate":{"type":"greaterThan","key":"ORGANISM_QUANTITY","value":"1"}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: 0002192-220831081235567
  recorded_at: 2022-09-02 09:48:38 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/0002192-220831081235567
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":"0002192-220831081235567","doi":"10.15468/dl.j2djfj","license":"unspecified","request":{"predicate":{"type":"greaterThan","key":"ORGANISM_QUANTITY","value":"1","matchCase":false},"sendNotification":false,"format":"SIMPLE_CSV"},"created":"2022-09-02T09:48:38.191+00:00","modified":"2022-09-02T09:48:38.259+00:00","eraseAfter":"2023-03-02T09:48:38.133+00:00","status":"RUNNING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0002192-220831081235567.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2022-09-02 09:48:38 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
