http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/statistics?fromDate=2023-01&toDate=2023-12
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":724281,"results":[{"datasetKey":"0000e36f-d0e9-46b0-aa23-cc1980f00515","totalRecords":30154,"numberDownloads":244,"year":2023,"month":12},{"datasetKey":"0001480b-76ca-4f30-86bc-f4292481554b","totalRecords":385079,"numberDownloads":389,"year":2023,"month":12},{"datasetKey":"00024397-569d-43a8-9e08-9a1072e201df","totalRecords":200,"numberDownloads":40,"year":2023,"month":12},{"datasetKey":"00029085-9665-4ef8-8e1e-a61f48947d14","totalRecords":2296,"numberDownloads":117,"year":2023,"month":12},{"datasetKey":"000a7240-3d12-4025-aa65-16abe083cea0","totalRecords":3602,"numberDownloads":53,"year":2023,"month":12},{"datasetKey":"000c32[...]
