http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/countries
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"UNITED_STATES":1283717217,"CANADA":211144686,"FRANCE":210348828,"UNITED_KINGDOM":199359098,"AUSTRALIA":191618084,"SWEDEN":165743695,"NETHERLANDS":136008769,"SPAIN":92509988,"NORWAY":78717185,"GERMANY":75152964,"DENMARK":64992891,"INDIA":64645215,"FINLAND":50883066,"SOUTH_AFRICA":45165736,"BELGIUM":43534655,"BRAZIL":41824855,"COLOMBIA":39405058,"MEXICO":38963988,"COSTA_RICA":37144569,"SWITZERLAND":31443237,"TAIWAN":25322986,"PORTUGAL":25206619,"POLAND":18189658,"ARGENTINA":18152287,"RUSSIAN_FEDERATION":18118748,"NEW_ZEALAND":17455605,"JAPAN":16787308,"AUSTRIA":16287295,"ECUADOR":14594719,"CHINA":13013109,"CHILE":12899458,"PERU":11440662,"PANAMA":9922564,"ITALY":9597646,"ESTONIA":9497527,"KOREA_SOUTH":8391325,"ISRAEL":8367152,"THAILAND":8040142,"BELIZE":7719410,"IRELAND":6889212,"VENEZUELA":5703467,"GUATEMALA":5613373,"CZECH_REPUBLIC":5524799,"KENYA":5438956,"INDONESIA":5070970,"ANTARCTICA":4917243,"PUERTO_RICO":4630287,"TURKEY":4548408,"MALAYSIA":4529949,"GREECE":4441081,"UKRAINE":4182816,"HONDURAS":3940010,"TANZANIA":3462661,"PHILIPPINES":3452243,"LUXEMBOURG":3424869,"MADAGASCAR":3250306,"BOLIVIA":2936231,"SRI_LANKA":2931205,"BULGARIA":2888101,"UGANDA":2868318,"ICELAND":2658822,"PAPUA_NEW_GUINEA":2491763,"CUBA":2457716,"HUNGARY":2410246,"NICARAGUA":2387602,"HONG_KONG":2186822,"SLOVAKIA":2125724,"URUGUAY":2105808,"SINGAPORE":2038437,"UNITED_ARAB_EMIRATES":1976438,"MOROCCO":1976139,"NEPAL":1929649,"ALAND_ISLANDS":1830005,"UNKNOWN":1820741,"NAMIBIA":1817345,"PARAGUAY":1789741,"ISLE_OF_MAN":1764026,"ROMANIA":1648395,"SERBIA":1616659,"SVALBARD_JAN_MAYEN":1616330,"LITHUANIA":1520610,"EL_SALVADOR":1483348,"CONGO_DEMOCRATIC_REPUBLIC":1452252,"GEORGIA":1429473,"TRINIDAD_TOBAGO":1418776,"CROATIA":1400400,"ETHIOPIA":1279665,"VIETNAM":1258968,"IRAN":1257753,"BAHAMAS":1256903,"GHANA":1253839,"NIGERIA":1194769,"CAMBODIA":1191237,"ZAMBIA":1190330,"ZIMBABWE":1175872,"GUYANA":1160459,"BENIN":1159914,"NEW_CALEDONIA":1136980,"FRENCH_GUIANA":1122165,"DOMINICAN_REPUBLIC":1117601,"BOTSWANA":1109687,"SLOVENIA":1091082,"JAMAICA":1064719,"SAUDI_ARABIA":1040417,"CAMEROON":1029183,"LATVIA":970882,"SENEGAL":878669,"VIRGIN_ISLANDS":874557,"RÉUNION":874067,"GABON":873466,"GUADELOUPE":870348,"GAMBIA":863736,"PAKISTAN":860851,"MONGOLIA":845299,"MOZAMBIQUE":842954,"GREENLAND":835933,"BANGLADESH":811104,"EGYPT":783801,"BHUTAN":769769,"AFGHANISTAN":750639,"BERMUDA":726510,"SURINAME":722377,"OMAN":717640,"CYPRUS":716882,"FRENCH_POLYNESIA":696503,"BELARUS":686347,"KAZAKHSTAN":671372,"PALESTINIAN_TERRITORY":641313,"CÔTE_DIVOIRE":621798,"RWANDA":539506,"MALAWI":494234,"ALGERIA":488626,"MYANMAR":474804,"FIJI":465400,"CURAÇAO":440604,"CAYMAN_ISLANDS":434006,"SOUTH_GEORGIA_SANDWICH_ISLANDS":428513,"ANGOLA":426089,"AMERICAN_SAMOA":424639,"UNITED_STATES_OUTLYING_ISLANDS":388989,"SYRIA":384667,"BONAIRE_SINT_EUSTATIUS_SABA":380016,"LAO":359707,"FAROE_ISLANDS":353510,"KUWAIT":352987,"GUERNSEY":347031,"SEYCHELLES":333524,"AZERBAIJAN":326822,"ARUBA":323307,"MARTINIQUE":321619,"SOLOMON_ISLANDS":314455,"ARMENIA":311614,"TUNISIA":306069,"HAITI":297012,"FALKLAND_ISLANDS":296138,"KYRGYZSTAN":289930,"SWAZILAND":287101,"GUINEA":286922,"NORTHERN_MARIANA_ISLANDS":286830,"BURKINA_FASO":275780,"JERSEY":270082,"FRENCH_SOUTHERN_TERRITORIES":266062,"PALAU":259374,"WESTERN_SAHARA":259214,"MICRONESIA":249325,"ANGUILLA":243826,"LIBERIA":241247,"LEBANON":237904,"CAPE_VERDE":224126,"VANUATU":221138,"HEARD_MCDONALD_ISLANDS":212306,"BARBADOS":206568,"MAURITANIA":204569,"MALI":204104,"UZBEKISTAN":203049,"SUDAN":200253,"JORDAN":199998,"MACEDONIA":194716,"GRENADA":193422,"YEMEN":191264,"MONTENEGRO":189844,"MARSHALL_ISLANDS":186314,"KIRIBATI":185061,"GUAM":183534,"ANDORRA":181269,"MAURITIUS":175565,"CONGO":173461,"ALBANIA":173274,"QATAR":173089,"TONGA":170111,"IRAQ":166649,"CHRISTMAS_ISLAND":162349,"SIERRA_LEONE":160991,"EQUATORIAL_GUINEA":158340,"MOLDOVA":153601,"TOGO":149841,"LESOTHO":146796,"TAJIKISTAN":143831,"CENTRAL_AFRICAN_REPUBLIC":143131,"DOMINICA":137696,"SAO_TOME_PRINCIPE":136729,"MALTA":134489,"BOSNIA_HERZEGOVINA":130850,"BURUNDI":129134,"SAINT_LUCIA":124421,"MALDIVES":120219,"NIGER":115322,"ANTIGUA_BARBUDA":111868,"MAYOTTE":110153,"NORFOLK_ISLAND":108408,"TIMOR_LESTE":102187,"SOMALIA":99309,"LIECHTENSTEIN":99098,"GUINEA_BISSAU":95928,"SAMOA":94609,"CHAD":93794,"SAINT_MARTIN_FRENCH":89343,"SAINT_VINCENT_GRENADINES":88067,"BRUNEI_DARUSSALAM":87307,"TURKS_CAICOS_ISLANDS":87018,"VIRGIN_ISLANDS_BRITISH":85635,"NIUE":85200,"MACAO":84556,"SAINT_PIERRE_MIQUELON":83587,"COOK_ISLANDS":80038,"KOREA_NORTH":79488,"LIBYA":77235,"SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA":69232,"TOKELAU":62813,"MONTSERRAT":61011,"SAINT_KITTS_NEVIS":59983,"TURKMENISTAN":56124,"WALLIS_FUTUNA":55207,"GIBRALTAR":53891,"COMOROS":52297,"SINT_MAARTEN":48164,"KOSOVO":43570,"DJIBOUTI":40187,"BRITISH_INDIAN_OCEAN_TERRITORY":39898,"COCOS_ISLANDS":37289,"ERITREA":34576,"SOUTH_SUDAN":33926,"BAHRAIN":31197,"PITCAIRN":26350,"SAINT_BARTHÉLEMY":22604,"BOUVET_ISLAND":13113,"TUVALU":12461,"MONACO":9204,"NAURU":5684,"VATICAN":5396,"SAN_MARINO":3870,"INTERNATIONAL_WATERS":3361}'
  recorded_at: 2025-09-29 11:23:09
- request:
    method: GET
    uri: https://api.gbif.org/v1/enumeration/country/
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"iso2":"AF","iso3":"AFG","isoNumerical":"4","title":"Afghanistan","gbifRegion":"ASIA","enumName":"AFGHANISTAN"},{"iso2":"AX","iso3":"ALA","isoNumerical":"248","title":"Åland
        Islands","gbifRegion":"EUROPE","enumName":"ALAND_ISLANDS"},{"iso2":"AL","iso3":"ALB","isoNumerical":"8","title":"Albania","gbifRegion":"EUROPE","enumName":"ALBANIA"},{"iso2":"DZ","iso3":"DZA","isoNumerical":"12","title":"Algeria","gbifRegion":"AFRICA","enumName":"ALGERIA"},{"iso2":"AS","iso3":"ASM","isoNumerical":"16","title":"American
        Samoa","gbifRegion":"OCEANIA","enumName":"AMERICAN_SAMOA"},{"iso2":"A[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DK
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"DENMARK":60817265,"LITHUANIA":439439,"PERU":333617,"GREENLAND":240130,"ECUADOR":160334,"COLOMBIA":61347,"NORWAY":59013,"MEXICO":55472,"BOLIVIA":53741,"SWEDEN":44605,"GERMANY":43154,"FAROE_ISLANDS":39095,"SPAIN":34795,"TANZANIA":32039,"THAILAND":25415,"BRAZ[...]
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DK
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"DENMARK":60817265,"BELGIUM":2397462,"UNITED_STATES":750031,"UNITED_KINGDOM":314857,"SWEDEN":158368,"NETHERLANDS":138782,"GERMANY":75863,"FRANCE":63374,"POLAND":51135,"ESTONIA":47927,"FINLAND":45253,"PORTUGAL":41197,"NORWAY":33286,"SPAIN":11062,"CANADA":10444,"UNKNOWN":9792,"AUSTRALIA":8147,"COLOMBIA":7372,"NEW_ZEALAND":1904,"RUSSIAN_FEDERATION":1682,"JAPAN":1411,"SWITZERLAND":1182,"BRAZIL":988,"CHINA":913,"ARGENTINA":739,"CZECH_REPUBLIC":733,"AUSTRIA":723,"PANAMA":328,"SOUTH_AFRICA":114,"LUXEMBOURG":89,"VENEZUELA":78,"ITALY":72,"MEXICO":66,"CHILE":49,"ISRAEL":44,"BULGARIA":39,"TAIWAN":26,"GREECE":24,"ECUADOR":24,"UKRAINE":15,"URUGUAY":8,"LITHUANIA":7,"LATVIA":6,"COSTA_RICA":5,"HUNGARY":3,"ANTARCTICA":2}'
  recorded_at: 2025-09-29 11:23:10
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"2024":323849240,"2023":318953488,"2022":276728413,"2021":261544307,"2020":229085842,"2019":201572032,"2018":170912346,"2017":159421897,"2016":133694064,"2015":116213950,"2014":108220979,"2013":92644211,"2012":83332250,"2011":70130215,"2010":64204546,"2009":59096590,"2008":485[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=1990%2C2000
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"2000":25045332,"1999":23709143,"1998":19857904,"1997":19376959,"1995":18434107,"1996":18348797,"1994":15924421,"1993":15655884,"1992":14677206,"1991":13750600,"1990":13112096}'
  recorded_at: 2025-09-29 11:23:12
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"HUMAN_OBSERVATION":3114734757,"PRESERVED_SPECIMEN":266790409,"MATERIAL_SAMPLE":116161384,"OCCURRENCE":52065152,"MACHINE_OBSERVATION":34117435,"OBSERVATION":16762802,"FOSSIL_SPECIMEN":9799877,"MATERIAL_CITATION":8415010,"LIVING_SPECIMEN":3462155}'
  recorded_at: 2025-09-29 11:23:13
recorded_with: VCR-vcr/2.0.0
