http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Salmo+salar&kingdom=animals&verbose=FALSE&checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"6XCXT","name":"Salmo salar Linnaeus, 1758","canonicalName":"Salmo
        salar","authorship":"Linnaeus, 1758","rank":"SPECIES","code":"ZOOLOGICAL","status":"ACCEPTED","genericName":"Salmo","specificEpithet":"salar","type":"SCIENTIFIC","formattedName":"<i>Salmo</i>
        <i>salar</i> Linnaeus, 1758"},"classification":[{"key":"CS5HF","name":"Eukaryota","rank":"DOMAIN"},{"key":"N","name":"Animalia","rank":"KINGDOM"},{"key":"CH2","name":"Chordata","rank":"PHYLUM"},{"key":"8V4V3","name":"Vertebrata","rank":"SUBPHYLUM"},{"key":"8V4V5","name":"Gnathostomata","rank":"INFRAPHYLUM"},{"key":"8VVWB","name":"Osteichthyes","rank":"PARVPHYLUM"},{"key":"8VR36","name":"Actinopterygii","rank":"GIGACLASS"},{"key":"KTWM8","name":"Actinopteri","rank":"SUPERCLASS"},{"key":"8V4VD","name":"Teleostei","rank":"CLASS"},{"key":"3ZR","name":"Salmoniformes","rank":"ORDER"},{"key":"KVRVN","name":"Salmonidae","rank":"FAMILY"},{"key":"KVRVP","name":"Salmoninae","rank":"SUBFAMILY"},{"key":"KVRR8","name":"Salmo","rank":"GENUS"},{"key":"6XCXT","name":"Salmo
        salar","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":100,"timeTaken":6,"timings":{"nameNRank":0,"sciNameMatch":7,"nameParse":1,"luceneMatch":6}},"additionalStatus":[{"clbDatasetKey":"53131","datasetAlias":"IUCN","datasetKey":"19491596-35ae-4a91-9a98-85cf505f1bd3","status":"NEAR_THREATENED","statusCode":"NT","sourceId":"19855"}],"synonym":false}'
  recorded_at: 2026-08-04 11:49:56
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b&depth=5&taxonKey=6XCXT
  response:
    status: 503
    headers:
      status: HTTP/1.1 503 Backend fetch failed
      content-type: application/json
      retry-after: '5'
    body:
      string: |
        [
          "HTTP 503 Backend fetch failed",
          "Request XID: 85250480465"
        ]
  recorded_at: 2026-08-04 11:49:56
recorded_with: VCR-vcr/2.0.0
