http_interactions:
- request:
    method: post
    uri: https://api.gbif-uat.org/v1/occurrence/download/request
    body:
      encoding: ''
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_email>"],"format":"DWCA","predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ"},{"type":"equals","key":"YEAR","value":"1993"},{"type":"equals","key":"MONTH","value":"1"}]}}'
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.91 rOpenSci(rgbif/2.3.0.91)
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
      location: http://api.gbif-uat.org/v1/occurrence/download/request/0000205-200429162749254
    body:
      encoding: UTF-8
      file: no
      string: 0000205-200429162749254
  recorded_at: 2020-06-11 16:18:09 GMT
  recorded_with: vcr/0.5.4.91, webmockr/0.6.2
[...]
- request:
    method: get
    uri: https://api.gbif-uat.org/v1/occurrence/download/0000205-200429162749254
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.91 rOpenSci(rgbif/2.3.0.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":"0000205-200429162749254","doi":"10.21373/dl.3mgje6","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ"},{"type":"equals","key":"YEAR","value":"1993"},{"type":"equals","key":"MONTH","value":"1"}]},"sendNotification":false,"format":"DWCA"},"created":"2020-06-11T16:16:57.941+0000","modified":"2020-06-11T16:16:57.941+0000","eraseAfter":"2020-12-11T16:16:57.763+0000","status":"PREPARING","downloadLink":"http://api.gbif-uat.org/v1/occurrence/download/request/0000205-200429162749254.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2020-06-11 16:18:09 GMT
  recorded_with: vcr/0.5.4.91, webmockr/0.6.2
[...]
