http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"DWCA","predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251","checklistKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c"},{"type":"in","key":"COUNTRY","values":["US","CA"]},{"type":"greaterThanOrEquals","key":"YEAR","value":"1975"}]},"checklistKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c"}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0019854-260806074905277
  recorded_at: 2026-08-17 12:13:41
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0019854-260806074905277
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0019854-260806074905277","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251","matchCase":false,"checklistKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c"},{"type":"in","key":"COUNTRY","values":["US","CA"],"matchCase":false},{"type":"greaterThanOrEquals","key":"YEAR","value":"1975","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c"},"created":"2026-08-17T12:13:41.146+00:00","modified":"2026-08-17T12:13:41.146+00:00","eraseAfter":"2027-02-17T12:13:40.605+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0019854-260806074905277.zip","size":0,"totalRecords":26782,"numberDatasets":0}'
  recorded_at: 2026-08-17 12:13:41
recorded_with: VCR-vcr/2.0.0
