http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/0000066-140928181241064
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.4.91 rOpenSci(rgbif/3.1.0.95)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":"0000066-140928181241064","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"equals","key":"ELEVATION","value":"9500"},"sendNotification":false,"format":"DWCA"},"created":"2014-09-29T06:00:16.704+0000","modified":"2014-09-29T06:01:29.520+0000","eraseAfter":"2015-03-29T06:00:16.704+0000","status":"SUCCEEDED","downloadLink":"http://api.gbif.org/v1/occurrence/download/request/0000066-140928181241064.zip","size":143097,"totalRecords":470,"numberDatasets":26}'
  recorded_at: 2020-07-22 16:21:46 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/request/0000066-140928181241064
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.4.91 rOpenSci(rgbif/3.1.0.95)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-disposition: attachment; filename=0000066-140928181241064.zip
      content-type: application/octet-stream; q=0.5
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: yes
      string: ../files/0000066-140928181241064.zip
  recorded_at: 2020-07-22 16:21:46 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
[...]
