http_interactions:
- request:
    method: post
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      encoding: ''
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_email>"],"format":"DWCA","predicate":{"type":"and","predicates":[{"type":"within","geometry":"POLYGON((-14
        42, 9 38, -7 26, -14 42))"},{"type":"greaterThanOrEquals","key":"ELEVATION","value":"5000"}]}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: 0022669-210914110416597
  recorded_at: 2021-10-11 14:51:15 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/0022669-210914110416597
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":"0022669-210914110416597","doi":"10.15468/dl.w48d7p","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"within","geometry":"POLYGON((-14
        42, 9 38, -7 26, -14 42))"},{"type":"greaterThanOrEquals","key":"ELEVATION","value":"5000","matchCase":false}]},"sendNotification":false,"format":"DWCA"},"created":"2021-10-11T14:51:14.177+00:00","modified":"2021-10-11T14:51:14.269+00:00","eraseAfter":"2022-04-11T14:51:14.106+00:00","status":"RUNNING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0022669-210914110416597.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2021-10-11 14:51:15 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
