http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/dataset/7f2edc10-f762-11e1-a439-00145eb45e9a?limit=20&offset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":31556,"results":[{"downloadKey":"0022612-210914110416597","datasetKey":"7f2edc10-f762-11e1-a439-00145eb45e9a","datasetTitle":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM","datasetDOI":"10.15468/blmvxk","datasetCitation":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM. Carl Faust Foundation.
        Occurrence Dataset https://doi.org/10.15468/blmvxk accessed via GBIF.org on
        2017-06-01.","numberRecords":1,"download":{"key":"0022612-210914110416597","doi":"10.15468/dl.vut4wd","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"in","key":"TAXON_KEY","values":["2874706"],"matchCase":false},"sendNotification":false,"format":"DWCA"},"created":"2021-10-11T14:21:32.930+00:00","modified":"2021-10-11T14:23:03.485+00:00","eraseAfter":"2022-04-11T14:21:32.871+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0022612-210914110416597.zip","size":2652823,"totalRecords":1567,"numberDatasets":160}},{"downloadKey":"0022606-210914110416597","datasetKey":"7f2edc10-f762-11e1-a439-00145eb45e9a","datasetTitle":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM","datasetDOI":"10.15468/blmvxk","datasetCitation":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM. Carl Faust Foundation.
        Occurrence Dataset https://doi.org/10.15468/blmvxk accessed via GBIF.org on
        2017-06-01.","numberRecords":4,"download":{"key":"0022606-21091411[...]
