http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/countries
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"UNITED_STATES":1317554999,"AUSTRALIA":260582021,"UNITED_KINGDOM":254404704,"CANADA":219668226,"FRANCE":213591526,"SWEDEN":173716438,"NETHERLANDS":146613781,"SPAIN":94452934,"NORWAY":92384926,"GERMANY":81446154,"DENMARK":65531426,"INDIA":65471585,"FINLAND":53647263,"SOUTH_AFRICA":48548785,"BELGIUM":47224175,"BRAZIL":43739200,"SWITZERLAND":42442838,"COLOMBIA":40311046,"COSTA_RICA":39557148,"MEXICO":39465640,"PORTUGAL":26357292,"TAIWAN":26267790,"CHILE":22370078,"RUSSIAN_FEDERATION":20958135,"NEW_ZEALAND":19567897,"AUSTRIA":19337178,"ARGENTINA":18814492,"POLAND":18583625,"JAPAN":17634447,"CHINA":15210586,"ECUADOR":15014457,"ITALY":13988389,"PERU":12406642,"ESTONIA":10421816,"PANAMA":10257314,"ISRAEL":9359455,"KOREA_SOUTH":8847575,"CZECH_REPUBLIC":8406347,"THAILAND":8357272,"BELIZE":7889184,"IRELAND":6332537,"KENYA":6188656,"VENEZUELA":5775939,"GUATEMALA":5632757,"INDONESIA":5495283,"ANTARCTICA":5416118,"UKRAINE":5029686,"MALAYSIA":5006142,"PUERTO_RICO":4865223,"GREECE":4756762,"TURKEY":4746702,"SLOVAKIA":4644331,"LUXEMBOURG":4127295,"HONDURAS":3975153,"PHILIPPINES":3862744,"MADAGASCAR":3632945,"TANZANIA":3589745,"BULGARIA":3041837,"SRI_LANKA":3022333,"BOLIVIA":3006831,"NAMIBIA":2936177,"UGANDA":2921100,"HUNGARY":2728996,"ICELAND":2728569,"PAPUA_NEW_GUINEA":2710684,"FRENCH_GUIANA":2563882,"CUBA":2493194,"NICARAGUA":2427901,"HONG_KONG":2356477,"SINGAPORE":2216627,"URUGUAY":2207586,"UNKNOWN":2160403,"MOROCCO":2115136,"UNITED_ARAB_EMIRATES":1999770,"NEPAL":1984591,"SVALBARD_JAN_MAYEN":1888348,"ISLE_OF_MAN":1884143,"ROMANIA":1858499,"PARAGUAY":1845585,"ZIMBABWE":1828313,"ALAND_ISLANDS":1790131,"GHANA":1702243,"LITHUANIA":1690623,"SERBIA":1659469,"CONGO_DEMOCRATIC_REPUBLIC":1580996,"CROATIA":1557030,"GEORGIA":1492665,"TRINIDAD_TOBAGO":1491857,"EL_SALVADOR":1487739,"BOTSWANA":1443019,"VIETNAM":1429533,"NEW_CALEDONIA":1387391,"ZAMBIA":1374814,"ETHIOPIA":1305015,"IRAN":1294711,"NIGERIA":1291493,"BAHAMAS":1275389,"CAMBODIA":1204221,"BENIN":1181076,"GUYANA":1180310,"SLOVENIA":1174137,"PAKISTAN":1149376,"DOMINICAN_REPUBLIC":1145810,"GREENLAND":1120006,"CAMEROON":1089995,"SAUDI_ARABIA":1086220,"JAMAICA":1082991,"MOZAMBIQUE":1047045,"AMERICAN_SAMOA":991340,"LATVIA":973428,"BANGLADESH":966558,"GABON":957248,"CÔTE_DIVOIRE":949498,"VIRGIN_ISLANDS":928713,"SENEGAL":905821,"GAMBIA":900945,"RÉUNION":893699,"GUADELOUPE":889918,"MONGOLIA":866381,"EGYPT":863632,"SURINAME":843831,"KAZAKHSTAN":808376,"BHUTAN":780527,"OMAN":769061,"BELARUS":767413,"CYPRUS":763352,"FRENCH_POLYNESIA":750367,"AFGHANISTAN":748040,"BERMUDA":736124,"KIRIBATI":655070,"FIJI":574452,"MALAWI":567490,"ALGERIA":565701,"RWANDA":559298,"NIUE":545661,"SEYCHELLES":519472,"MYANMAR":488605,"GUINEA":476045,"CURAÇAO":471378,"SWAZILAND":465277,"ANGOLA":448434,"CAYMAN_ISLANDS":444106,"SOUTH_GEORGIA_SANDWICH_ISLANDS":432162,"PALESTINIAN_TERRITORY":422396,"BONAIRE_SINT_EUSTATIUS_SABA":409623,"UNITED_STATES_OUTLYING_ISLANDS":400579,"FAROE_ISLANDS":381851,"ARMENIA":377809,"FRENCH_SOUTHERN_TERRITORIES":360192,"KUWAIT":355483,"LAO":353274,"SOLOMON_ISLANDS":345107,"MAURITANIA":343154,"AZERBAIJAN":337716,"MARTINIQUE":334469,"GUERNSEY":332677,"TUNISIA":330213,"ARUBA":328335,"KYRGYZSTAN":313228,"HAITI":301201,"FALKLAND_ISLANDS":301005,"NORTHERN_MARIANA_ISLANDS":298278,"TOKELAU":297260,"PALAU":290870,"JERSEY":282718,"LEBANON":280177,"BURKINA_FASO":278576,"UZBEKISTAN":272206,"MICRONESIA":267948,"WESTERN_SAHARA":266526,"LIBERIA":253160,"ANGUILLA":244414,"CAPE_VERDE":241806,"VANUATU":230049,"MONTENEGRO":226079,"MACEDONIA":218177,"HEARD_MCDONALD_ISLANDS":213464,"BARBADOS":210452,"YEMEN":206741,"JORDAN":205367,"ALBANIA":201724,"MALI":201083,"SUDAN":199775,"IRAQ":197999,"GUAM":197908,"GRENADA":196685,"MARSHALL_ISLANDS":194945,"TONGA":193496,"ANDORRA":188542,"CONGO":188409,"MAURITIUS":186077,"SAO_TOME_PRINCIPE":179656,"QATAR":177910,"SIERRA_LEONE":168665,"CHRISTMAS_ISLAND":166019,"MOLDOVA":165712,"EQUATORIAL_GUINEA":162641,"SYRIA":157558,"LESOTHO":151188,"BOSNIA_HERZEGOVINA":150994,"CENTRAL_AFRICAN_REPUBLIC":150747,"DOMINICA":147703,"TAJIKISTAN":146524,"MALTA":146263,"BURUNDI":145711,"MALDIVES":133627,"TOGO":130838,"SAINT_LUCIA":128299,"LIECHTENSTEIN":126283,"ANTIGUA_BARBUDA":125359,"MAYOTTE":124497,"NORFOLK_ISLAND":119709,"NIGER":113097,"TIMOR_LESTE":112982,"SAMOA":105738,"GUINEA_BISSAU":99855,"MACAO":98584,"SOMALIA":98077,"CHAD":96110,"BRUNEI_DARUSSALAM":92637,"SAINT_MARTIN_FRENCH":91774,"SAINT_VINCENT_GRENADINES":91195,"SAINT_PIERRE_MIQUELON":91043,"VIRGIN_ISLANDS_BRITISH":90754,"TURKS_CAICOS_ISLANDS":88667,"LIBYA":87259,"COOK_ISLANDS":86512,"SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA":75318,"KOREA_NORTH":72403,"MONTSERRAT":62206,"SAINT_KITTS_NEVIS":62145,"TURKMENISTAN":60635,"WALLIS_FUTUNA":57153,"GIBRALTAR":56987,"COMOROS":56556,"SINT_MAARTEN":52845,"KOSOVO":48701,"BRITISH_INDIAN_OCEAN_TERRITORY":43055,"COCOS_ISLANDS":43032,"DJIBOUTI":41573,"ERITREA":38004,"SOUTH_SUDAN":35242,"BAHRAIN":31763,"PITCAIRN":28457,"SAINT_BARTHÉLEMY":23156,"MONACO":14077,"TUVALU":13464,"BOUVET_ISLAND":13092,"VATICAN":5878,"NAURU":5745,"SAN_MARINO":4412,"INTERNATIONAL_WATERS":3361}'
  recorded_at: 2026-08-13 12:25:18
- request:
    method: GET
    uri: https://api.gbif.org/v1/enumeration/country/
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"iso2":"AF","iso3":"AFG","isoNumerical":"4","title":"Afghanistan","gbifRegion":"ASIA","enumName":"AFGHANISTAN"},{"iso2":"AX","iso3":"ALA","isoNumerical":"248","title":"Åland
        Islands","gbifRegion":"EUROPE","enumName":"ALAND_ISLANDS"},{"iso2":"AL","iso3":"ALB","isoNumerical":"8","title":"Albania","gbifRegion":"EUROPE","enumName":"ALBANIA"},{"iso2":"DZ","iso3":"DZA","isoNumerical":"12","title":"Algeria","gbifRegion":"AFRICA","enumName":"ALGERIA"},{"iso2":"AS","iso3":"ASM","isoNumerical":"16","title":"American
        Samoa","gbifRegion":"OCEANIA","enumName":"AMERICAN_SAMOA"},{"iso2":"A[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DK
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"DENMARK":61395352,"LITHUANIA":519729,"PERU":333610,"GREENLAND":240579,"ECUADOR":160530,"COLOMBIA":61344,"NORWAY":59207,"MEXICO":55383,"BOLIVIA":53741,"SWEDEN":45496,"GERMANY":43429,"SPAIN":34833,"TANZANIA":28725,"FAROE_ISLANDS":26478,"THAILAND":24441,"BRAZ[...]
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DK
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"DENMARK":61395352,"BELGIUM":2025192,"UNITED_STATES":867753,"UNITED_KINGDOM":395579,"SWEDEN":169787,"NETHERLANDS":169157,"GERMANY":140433,"FRANCE":67828,"POLAND":51177,"ESTONIA":49550,"FINLAND":46761,"PORTUGAL":41310,"NORWAY":39518,"UNKNOWN":17946,"SPAIN":13117,"CANADA":11917,"AUSTRALIA":8608,"COLOMBIA":7480,"SWITZERLAND":1941,"NEW_ZEALAND":1796,"RUSSIAN_FEDERATION":1693,"JAPAN":1437,"BRAZIL":992,"CHINA":913,"CZECH_REPUBLIC":767,"ARGENTINA":759,"AUSTRIA":752,"ITALY":446,"PANAMA":375,"LUXEMBOURG":326,"MEXICO":152,"SOUTH_AFRICA":132,"LITHUANIA":126,"VENEZUELA":78,"CHILE":51,"ISRAEL":45,"BULGARIA":37,"ECUADOR":30,"TAIWAN":29,"GREECE":26,"UKRAINE":15,"URUGUAY":12,"PHILIPPINES":7,"TURKEY":6,"LATVIA":6,"COSTA_RICA":6,"HUNGARY":3,"ANTARCTICA":2,"IRELAND":1}'
  recorded_at: 2026-08-13 12:25:18
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"2024":339576394,"2023":335024408,"2022":292392199,"2021":273324972,"2020":238115863,"2019":212144156,"2018":181273307,"2017":170195532,"2016":153548576,"2015":123548787,"2014":114026976,"2013":97063393,"2012":88914303,"2025":86287538,"2011":74016316,"2010":67500511,"2009":581[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=1990%2C2000
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"2000":26291961,"1999":24956817,"1998":20828697,"1997":20164542,"1996":18983994,"1995":18980977,"1994":16503293,"1993":16257715,"1992":15268410,"1991":14293136,"1990":13421391}'
  recorded_at: 2026-08-13 12:25:21
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"HUMAN_OBSERVATION":3303675278,"PRESERVED_SPECIMEN":283124766,"MATERIAL_SAMPLE":217857287,"MACHINE_OBSERVATION":42127316,"OCCURRENCE":29477461,"OBSERVATION":19532885,"FOSSIL_SPECIMEN":10262122,"MATERIAL_CITATION":9584816,"LIVING_SPECIMEN":4142293}'
  recorded_at: 2026-08-13 12:25:22
recorded_with: VCR-vcr/2.0.0
