http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"DWCA","predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ"},{"type":"equals","key":"YEAR","value":"1993"},{"type":"equals","key":"MONTH","value":"1"}]}}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0026046-250827131500795
  recorded_at: 2025-09-04 12:21:30
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0026046-250827131500795
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0026046-250827131500795","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ","matchCase":false},{"type":"equals","key":"YEAR","value":"1993","matchCase":false},{"type":"equals","key":"MONTH","value":"1","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-09-04T12:21:29.733+00:00","modified":"2025-09-04T12:21:29.733+00:00","eraseAfter":"2026-03-04T12:21:29.629+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0026046-250827131500795.zip","size":0,"totalRecords":15016,"numberDatasets":0}'
  recorded_at: 2025-09-04 12:21:30
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0026047-250827131500795
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0026047-250827131500795","doi":"10.15468/dl.5dajqu","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"CATALOG_NUMBER","value":"Bird.27847588","matchCase":false},{"type":"equals","key":"YEAR","value":"1971","matchCase":false},{"type":"equals","key":"MONTH","value":"4","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-09-04T12:21:32.030+00:00","modified":"2025-09-04T12:24:59.335+00:00","eraseAfter":"2026-03-04T12:21:31.955+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0026047-250827131500795.zip","size":8187,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2025-09-04 12:25:13
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0026048-250827131500795
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0026048-250827131500795","doi":"10.15468/dl.a6c3sh","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"2435240","matchCase":false},{"type":"equals","key":"YEAR","value":"1974","matchCase":false},{"type":"equals","key":"MONTH","value":"2","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-09-04T12:21:33.984+00:00","modified":"2025-09-04T12:25:24.563+00:00","eraseAfter":"2026-03-04T12:21:33.914+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0026048-250827131500795.zip","size":19778,"totalRecords":9,"numberDatasets":3}'
  recorded_at: 2025-09-04 12:25:54
recorded_with: VCR-vcr/2.0.0
