http_interactions:
- request:
    method: post
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rgbif/2.1.0)
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
      location: http://api.gbif.org/v1/occurrence/download/request/0011597-200127171203522
    body:
      encoding: UTF-8
      file: no
      string: 0011597-200127171203522
  recorded_at: 2020-02-12 22:39:41 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
[...]
- request:
    method: post
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rgbif/2.1.0)
      Content-Type: application/json
  response:
    status:
      status_code: '420'
      message: Method Failure / Enhance Your Calm
      explanation: Spring Framework / Twitter
    headers:
      status: HTTP/1.1 420 Enhance your Calm
      content-type: text/plain
    body:
      encoding: UTF-8
      file: no
      string: |
        A download limitation is exceeded:
        User <gbif_user> has too many simultaneous downloads; the limit is 3.
        Please wait for some to complete, or cancel any unwanted downloads.  See your user page.
  recorded_at: 2020-02-12 22:39:41 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/0011596-200127171203522
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rgbif/2.1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":"0011596-200127171203522","doi":"10.15468/dl.t8lj9b","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ"},{"type":"equals","key":"YEAR","value":"1993"},{"type":"equals","key":"MONTH","value":"1"}]},"sendNotification":false,"format":"DWCA"},"created":"2020-02-12T22:38:32.185+0000","modified":"2020-02-12T22:38:32.185+0000","eraseAfter":"2020-08-12T22:38:32.128+0000","status":"PREPARING","downloadLink":"http://api.gbif.org/v1/occurrence/download/request/0011596-200127171203522.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2020-02-12 22:39:41 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
[...]
