http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&depth=5&taxonKey=7595433
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-rlr: '25'
      x-grlr: '30'
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":11,"results":[{"key":4422916881,"datasetKey":"6bce37d6-a682-4cca-89c4-7464cefa65e9","publishingOrgKey":"b8850b4d-0749-4373-80c3-b576753859ba","networkKeys":["2b7c7b4f-4d4f-40d3-94de-c28b6fa054a6"],"installationKey":"4346b227-ca68-4d54-8a77-909148492e0b","hostingOrganizationKey":"4c415e40-1e21-11de-9e40-a0d6ecebb8bf","publishingCountry":"SE","protocol":"EML","lastCrawled":"2025-07-01T15:34:56.831+00:00","lastParsed":"2025-07-08T19:30:29.940+00:00","crawlId":109,"extensions":{"http://rs.gbif.org/terms/1.0/DNADerivedData":[{"https://w3id.org/mixs/0000044":"18S
        rRNA","https://w3id.org/mixs/0000050":"Illumina MiSeq","http://rs.gbif.org/terms/pcr_primer_name_reverse":"V4RB","http://rs.gbif.org/terms/pcr_primer_name_forward":"V4F","http://rs.gbif.org/terms/pcr_primer_reverse":"ACTTTCGTTCTTGATYRR","https://w3id.org/mixs/0000045":"V4","https://w3id.org/mixs/0000014":"brackish
        water [ENVO:00002019]","https://w3id.org/mixs/0000041":"paired","http://rs.gbif.or[...]
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&depth=5-10&taxonKey=7595433
  response:
    status: 400
    headers:
      status: HTTP/1.1 400 Bad Request
      content-type: text/plain
      x-rlr: '25'
      x-grlr: '30'
    body:
      string: 'Invalid decimal range: 5-10'
  recorded_at: 2025-09-04 08:12:33
recorded_with: VCR-vcr/2.0.0
