http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/dataset/7f2edc10-f762-11e1-a439-00145eb45e9a?limit=20&offset=0
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":62932,"results":[{"downloadKey":"0009867-250802193616735","datasetKey":"7f2edc10-f762-11e1-a439-00145eb45e9a","datasetTitle":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM","datasetDOI":"10.15468/blmvxk","datasetCitation":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM. Carl Faust Foundation.
        Occurrence Dataset https://doi.org/10.15468/blmvxk accessed via GBIF.org on
        2017-06-01.","numberRecords":3,"download":{"key":"0009867-250802193616735","doi":"10.15468/dl.55qnhh","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"in","key":"TAXON_KEY","values":["2891766","4193318","2891770","4193851","4193577","4193804","4193899","7428882","4193169","4936502","7309694","2891773","7309734","4936457","4193506","4193792","4193155","4193512","4193850","4193274","4193436","4193240","4193022","4192927","4193702","2891772","4193440"],"matchCase":false},"sendNotification":true,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-08-04T12:53:45.636+00:00","modified":"2025-08-04T13:02:20.815+00:00","eraseAfter":"2026-02-04T12:53:45.555+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0009867-250802193616735.zip","size":95098810,"totalRecords":1078950,"numberDatasets":2441}},{"downloadKey":"0009758-250802193616735","datasetKey":"7f2edc10-f762-11e1-a439-00145eb45e9a","datasetTitle":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM","datasetDOI":"10.15468/blmvxk","datasetCitation":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM. Carl Faust Foundation.
        Occurrence Dataset https://doi.org/10.15468/blmvxk accessed via GBIF.org on
        2017-06-01.","numberRecords":2,"download":{"key":"0009758-250802193616735","doi":"10.15468/dl.cx6g7x","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"equals","key":"TAXON_KEY","value":"5285604","matchCase":false},"sendNotification":true,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-08-04T12:25:14.125+00:00","modified":"2025-08-04T12:36:16.429+00:00","eraseAfter":"2026-02-04T12:25:14.073+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0009758-250802193616735.zip","size":29286653,"totalRecords":387812,"numberDatasets":561}},{"downloadKey":"0009689-250802193616735","datasetKey":"7f2edc10-f762-11[...]
