http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"DWCA","predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251"},{"type":"in","key":"COUNTRY","values":["US","CA"]},{"type":"greaterThanOrEquals","key":"YEAR","value":"1975"}]}}'
  response:
    status: 201
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json
    body:
      string: 0010118-250802193616735
  recorded_at: 2025-08-04 14:03:46
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0010118-250802193616735
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      string: '{"key":"0010118-250802193616735","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251","matchCase":false},{"type":"in","key":"COUNTRY","values":["US","CA"],"matchCase":false},{"type":"greaterThanOrEquals","key":"YEAR","value":"1975","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-08-04T14:03:46.491+00:00","modified":"2025-08-04T14:03:46.491+00:00","eraseAfter":"2026-02-04T14:03:46.408+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0010118-250802193616735.zip","size":0,"totalRecords":21994,"numberDatasets":0}'
  recorded_at: 2025-08-04 14:03:46
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0010118-250802193616735
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0010118-250802193616735","doi":"10.15468/dl.cmwguz","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251","matchCase":false},{"type":"in","key":"COUNTRY","values":["US","CA"],"matchCase":false},{"type":"greaterThanOrEquals","key":"YEAR","value":"1975","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-08-04T14:03:46.491+00:00","modified":"2025-08-04T14:06:53.721+00:00","eraseAfter":"2026-02-04T14:03:46.408+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0010118-250802193616735.zip","size":8265979,"totalRecords":21994,"numberDatasets":214}'
  recorded_at: 2025-08-04 14:06:58
recorded_with: VCR-vcr/2.0.0
