http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/foo-bar/datasets?limit=20&offset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '500'
      message: Internal Server Error
      explanation: Server got itself in trouble
    headers:
      status: HTTP/1.1 500 Internal Server Error
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"timestamp":"2023-08-29T14:03:51.309+00:00","status":500,"error":"Internal
        Server Error","message":"","path":"/occurrence/download/foo-bar/datasets"}'
  recorded_at: 2023-08-29 14:03:51 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
