http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"DWCA","predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251"},{"type":"in","key":"COUNTRY","values":["US","CA"]},{"type":"greaterThanOrEquals","key":"YEAR","value":"1975"}]}}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0026011-250827131500795
  recorded_at: 2025-09-04 12:11:35
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0026011-250827131500795
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0026011-250827131500795","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251","matchCase":false},{"type":"in","key":"COUNTRY","values":["US","CA"],"matchCase":false},{"type":"greaterThanOrEquals","key":"YEAR","value":"1975","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-09-04T12:11:34.648+00:00","modified":"2025-09-04T12:11:34.648+00:00","eraseAfter":"2026-03-04T12:11:34.469+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0026011-250827131500795.zip","size":0,"totalRecords":22235,"numberDatasets":0}'
  recorded_at: 2025-09-04 12:11:35
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0026011-250827131500795
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0026011-250827131500795","doi":"10.15468/dl.np3k7j","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251","matchCase":false},{"type":"in","key":"COUNTRY","values":["US","CA"],"matchCase":false},{"type":"greaterThanOrEquals","key":"YEAR","value":"1975","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-09-04T12:11:34.648+00:00","modified":"2025-09-04T12:14:17.723+00:00","eraseAfter":"2026-03-04T12:11:34.469+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0026011-250827131500795.zip","size":8329717,"totalRecords":22235,"numberDatasets":213}'
  recorded_at: 2025-09-04 12:14:23
recorded_with: VCR-vcr/2.0.0
