http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/1315970632/verbatim
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"key":1315970632,"datasetKey":"3c6e7390-3b56-11dc-8c19-b8a03c50a862","publishingOrgKey":"6b2f029b-7823-4b84-9c30-31ff364238fe","publishingCountry":"NZ","protocol":"DWC_ARCHIVE","lastCrawled":"2019-02-20T22:36:17.766+0000","lastParsed":"2018-04-25T03:02:14.897+0000","crawlId":232,"extensions":{"http://rs.tdwg.org/ac/terms/Multimedia":[],"http://rs.tdwg.org/dwc/terms/Identification":[{"http://rs.tdwg.org/dwc/terms/taxonRank":"species","http://rs.tdwg.org/dwc/terms/family":"Xanthomonadaceae","http://rs.tdwg.org/dwc/terms/identificationID":"11650","http://rs.tdwg.org/dwc/terms/phylum":"Proteobacteria","http://rs.tdwg.org/dwc/terms/genus":"Xanthomonas","http://rs.tdwg.org/dwc/terms/class":"Gammaproteobacteria","http://rs.tdwg.org/dwc/terms/kingdom":"Bacteria","http://rs.tdwg.org/dwc/term[...]
[...]
