http_interactions:
- request:
    method: post
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      encoding: ''
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"DWCA","predicate":{"type":"equals","key":"TAXON_KEY","value":"5052020"},"verbatimExtensions":["http://rs.tdwg.org/chrono/terms/ChronometricAge","http://rs.gbif.org/terms/1.0/DNADerivedData"]}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: 0120640-240321170329656
  recorded_at: 2024-04-08 13:20:39 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/0120640-240321170329656
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"key":"0120640-240321170329656","doi":"10.15468/dl.6n7wuk","license":"unspecified","request":{"predicate":{"type":"equals","key":"TAXON_KEY","value":"5052020","matchCase":false},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":["http://rs.tdwg.org/chrono/terms/ChronometricAge","http://rs.gbif.org/terms/1.0/DNADerivedData"]},"created":"2024-04-08T13:20:39.302+00:00","modified":"2024-04-08T13:20:39.302+00:00","eraseAfter":"2024-10-08T13:20:39.231+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0120640-240321170329656.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2024-04-08 13:20:39 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
