http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/0068181-200221144449610
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rgbif/2.2.0.98)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":"0068181-200221144449610","doi":"10.15468/dl.5dzkry","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"7707728"},{"type":"in","key":"BASIS_OF_RECORD","values":["PRESERVED_SPECIMEN","HUMAN_OBSERVATION","OBSERVATION","MACHINE_OBSERVATION"]},{"type":"within","geometry":"POLYGON
        ((68.02426 44.14495, 68.11511 44.12606, 68.19852 44.13503, 68.30507 44.13010,
        68.36212 44.11473, 68.43649 44.07318, 68.47878 44.03233, 68.53290 44.01387,
        68.60400 43.99773, 68.67934 43.99250, 68.72465 43.98053, 68.79412 43.95625,
        68.86817 43.92735, 68.93812 43.90045, 68.98201 43.86484, 69.01257 43.84040,
        69.04590 43.81892, 69.09982 43.78461, 69.18824 43.75223, 69.23779 43.73543,
        69.30406 43.69228, 69.37124 43.65958, 69.40030 43.64003, 69.4[...]
