http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=20&offset=0&geometry=POLYGON%28%2830.1%2010.1%2C%2010%2020%2C%2020%2040%2C%2040%2040%2C%2030.1%2010.1%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/search?limit=20&offset=0&geometry=POLYGON%28%2830.1%2010.1%2C%2010%2020%2C%2020%2040%2C%2040%2040%2C%2030.1%2010.1%29%29
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":2422616,"results":[{"key":1802790647,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2018-10-08T17:06:59.651+0000","lastParsed":"2018-10-08T17:06:59.757+0000","crawlId":129,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":9182765,"kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":414,"familyKey":3065,"genusKey":3104843,"speciesKey":9182765,"scientificName":"Calendula
        arvensis L.","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asterales","family":"Asteraceae","genus":"Calendula","species":"Calendula
        arvensis","genericName":"Calendula","specificEpithet":"arvensis","taxonRank":"SPECIES","dateIdentified":"2018-01-08T15:10:29.000+0000","decimalLongitude":35.758837,"decimalLatitude":32.826176,"coordinateUncertaintyInMeters":9.0,"stateProvince":"Golan","year":2018,"month":1,"day":8,"eventDate":"2018-01-08T11:42:00.000+0000","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2018-01-21T10:38:41.000+0000","lastInterpreted":"2018-10-08T17:07:10.802+0000","references":"https://www.inaturalist.org/observations/9410707","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/12783847/original.jpeg?1515418682","references":"https://www.inaturalist.org/photos/12783847","created":"2018-01-08T19:42:00.000+0000","creator":"דבורה
        שיצר","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"דבורה
        שיצר"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Magnoliopsida","countryCode":"IL","country":"Israel","rightsHolder":"דבורה
        שיצר","identifier":"9410707","verbatimEventDate":"2018-01-08 11:42:00 לפנה״צ
        GMT+02:00","datasetName":"iNaturalist research-grade observations","gbifID":"1802790647","verbatimLocality":"Golan,
        IL","collectionCode":"Observations","occurrenceID":"https://www.inaturalist.org/observations/9410707","taxonID":"59260","catalogNumber":"9410707","recordedBy":"דבורה
        שיצר","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/9410707","institutionCode":"iNaturalist","rights":"©
        דבורה שיצר some rights reserved","eventTime":"09:42:00Z","http://unknown.org/http_//rs.gbif.org/terms/1.0/Multimedia":"[
        {\n  \"http://rs.tdwg.org/dwc/terms/catalogNumber\" : \"12783847\",\n  \"http://purl.org/dc/terms/creator\"
        : \"דבורה שיצר\",\n  \"http://purl.org/dc/terms/format\" : \"image/jpeg\",\n  \"http://purl.org/dc/terms/identifier\"
        : \"https://static.inaturalist.org/photos/12783847/original.jpeg?1515418682\",\n  \"http://purl.org/dc/terms/type\"
        : \"StillImage\",\n  \"http://purl.org/dc/terms/created\" : \"2018-01-08T11:42:00-08:00\",\n  \"http://purl.org/dc/terms/references\"
        : \"https://www.inaturalist.org/photos/12783847\",\n  \"http://purl.org/dc/terms/rightsHolder\"
        : \"דבורה שיצר\",\n  \"http://purl.org/dc/terms/license\" : \"http://creativecommons.org/licenses/by-nc/4.0/\",\n  \"http://purl.org/dc/terms/publisher\"
        : \"iNaturalist\"\n} ]","identificationID":"20530190"},{"key":1805388560,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2018-10-08T17:07:08.162+0000","lastParsed":"2018-10-08T17:07:08.347+0000","crawlId":129,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":9752617,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":719095[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=20&offset=0&taxonKey=3189815&geometry=POLYGON%28%2830.1%2010.1%2C%2010%2020%2C%2020%2040%2C%2040%2040%2C%2030.1%2010.1%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 O[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=20&offset=0&geometry=POLYGON%28%28-125%2038.4%2C-121.8%2038.4%2C-121.8%2040.9%2C-125%2040.9%2C-125%2038.4%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      conte[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=30&offset=0&geometry=POLYGON%28%28-15.7404094934464%2031.5836400571481%2C40.8611530065536%2031.5836400571481%2C40.8611530065536%2055.4324133588853%2C-15.7404094934464%2055.4324133588853%2C-15.7404094934464%2031.5836400571481%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      me[...]
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=30&offset=0&geometry=POLYGON%28%2813.2635%2052.5399%2C18.3612%2054.1145%2C21.8768%2053.8042%2C24.6893%2054.2174%2C28.2049%2054.32%2C30.4901%2052.8595%2C34.7088%2052.7532%2C35.3367%2051.5836%2C24.4676%2051.5836%2C23.9862%2052.0021%2C23.9287%2051.5836%2C5.54231%2051.5836%2C5.00178%2052.3256%2C7.81428%2051.6763%2C7.81428%2054.5246%2C10.9783%2051.8938%2C10.9783%2055.4324%2C13.2635%2052.5399%29%29
    body:
      enco[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=30&offset=0&geometry=POLYGON%28%284.25959%2034.7878%2C0.958809%2031.5836%2C-5.5451%2035.68%2C-6.77557%2040.5184%2C-9.41228%2038.3464%2C-12.4006%2035.1068%2C-15.7404%2038.0701%2C-14.6857%2041.3153%2C-11.6974%2043.6484%2C-8.88494%2042.8804%2C-4.31463%2043.521%2C-8.3576%2047.2236%2C-8.18182%2050.1244%2C-5.01775%2049.5576%2C-2.7326%2046.26%2C-1.67791%2044.155%2C-1.32635%2039.3049%2C2.18928%2041.4472%2C4.25959%2043.09[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=30&offset=0&geometry=POLYGON%28%284.25959%2043.5926%2C2.18928%2046.744%2C1.83772%2050.3493%2C4.25959%2050.0273%2C4.25959%2043.5926%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HT[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=30&offset=0&geometry=POLYGON%28%2835.3367%2051.5836%2C35.9393%2050.4613%2C39.6307%2049.5576%2C40.8612%2046.3814%2C34.0057%2045.2791%2C33.3026%2048.6369%2C30.1385%2049.7851%2C28.3807%2047.2236%2C29.7869%2044.6573%2C27.6776%2042.6222%2C23.1072%2043.7754%2C24.5135%2047.1041%2C26.7987%2049.5576%2C24.4676%2051.5836%2C35.3367%2051.5836%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT:[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=30&offset=0&geometry=POLYGON%28%2823.9287%2051.5836%2C23.6346%2049.4435%2C19.4158%2047.5806%2C19.5916%2044.9068%2C20.119%2042.363%2C22.9315%2040.6518%2C25.5682%2039.9817%2C29.6112%2040.7851%2C32.951%2040.3846%2C32.951%2037.3749%2C26.2713%2033.6562%2C22.0526%2036.8141%2C18.7127%2036.1072%2C18.5369%2039.1688%2C15.3729%2038.3464%2C15.1971%2041.5788%2C12.5604%2041.0507%2C12.5604%2044.0287%2C15.1971%2045.5259%2C16.427[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=5&offset=0&geometry=POLYGON%28%28-7.65877%2046.5836%2C-8.3576%2047.2236%2C-8.18182%2050.1244%2C-5.01775%2049.5576%2C-2.95688%2046.5836%2C-7.65877%2046.5836%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    [...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=5&offset=0&geometry=POLYGON%28%2813.2635%2052.5399%2C18.3612%2054.1145%2C21.8768%2053.8042%2C24.6893%2054.2174%2C28.2049%2054.32%2C29.2596%2053.6459%2C29.2596%2048.5044%2C28.3807%2047.2236%2C28.7314%2046.5836%2C24.2936%2046.5836%2C24.5135%2047.1041%2C26.7987%2049.5576%2C23.9862%2052.0021%2C23.6346%2049.4435%2C19.4158%2047.5806%2C19.4814%2046.5836%2C15.7122%2046.5836%2C16.4276%2048.0527%2C17.4822%2048.8687%2C10.62[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=5&offset=0&geometry=POLYGON%28%2829.2596%2053.6459%2C30.4901%2052.8595%2C34.7088%2052.7532%2C35.9393%2050.4613%2C39.6307%2049.5576%2C40.7828%2046.5836%2C33.7325%2046.5836%2C33.3026%2048.6369%2C30.1385%2049.7851%2C29.2596%2048.5044%2C29.2596%2053.6459%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      s[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=5&offset=0&geometry=POLYGON%28%28-0.740409%2032.6539%2C-5.5451%2035.68%2C-6.77557%2040.5184%2C-9.41228%2038.3464%2C-12.4006%2035.1068%2C-15.7404%2038.0701%2C-14.6857%2041.3153%2C-11.6974%2043.6484%2C-8.88494%2042.8804%2C-4.31463%2043.521%2C-7.65877%2046.5836%2C-2.95688%2046.5836%2C-2.7326%2046.26%2C-1.67791%2044.155%2C-1.32635%2039.3049%2C-0.740409%2039.662%2C-0.740409%2032.6539%29%29
    body:
      encoding: ''[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=5&offset=0&geometry=POLYGON%28%2828.7314%2046.5836%2C29.2596%2045.6197%2C29.2596%2044.1485%2C27.6776%2042.6222%2C23.1072%2043.7754%2C24.2936%2046.5836%2C28.7314%2046.5836%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, docume[...]
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=5&offset=0&geometry=POLYGON%28%2810.2715%2046.5836%2C9.57209%2044.155%2C8.16584%2040.5184%2C6.05647%2036.5321%2C0.958809%2031.5836%2C-0.740409%2032.6539%2C-0.740409%2039.662%2C2.18928%2041.4472%2C4.47443%2043.2656%2C2.29461%2046.5836%2C10.2715%2046.5836%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
    [...]
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=5&offset=0&geometry=POLYGON%28%2829.2596%2045.6197%2C29.7869%2044.6573%2C29.2596%2044.1485%2C29.2596%2045.6197%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      [...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=5&offset=0&geometry=POLYGON%28%2829.2596%2040.7152%2C29.6112%2040.7851%2C32.951%2040.3846%2C32.951%2037.3749%2C29.2596%2035.3198%2C29.2596%2040.7152%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=500&offset=0&geometry=POLYGON%28%2830.1%2010.1%2C%2010%2020%2C%2020%2040%2C%2040%2040%2C%2030.1%20a%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '400'
      message: Bad Request
      explanation: Bad request syntax or unsupported method
    headers:
      status: HTTP/1.1 400 Bad Request
      content-type: text/plain
      x-api-url: /v1/occurrence/search?limit=500&offset=0&geometry=POLYGON%28%2830.1%2010.1%2C%2010%2020%2C%2020%2040%2C%2040%2040%2C%2030.1%20a%29%29
    body:
      encoding: UTF-8
      string: 'Invalid simple WKT: POLYGON((30.1 10.1, 10 20, 20 40, 40 40, 30.1 a))'
  recorded_at: 2018-10-09 21:54:28 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=500&offset=0&geometry=POLYGON%28%2830.1%2010.1%2C%2010%2020%2C%2020%2040%2C%2040%2040%2C%2030.1%20%2710.1%27%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '400'
      message: Bad Request
      explanation: Bad request syntax or unsupported method
    headers:
      status: HTTP/1.1 400 Bad Request
      content-type: text/plain
      x-api-url: /v1/occurrence/search?limit=500&offset=0&geometry=POLYGON%28%2830.1%2010.1%2C%2010%2020%2C%2020%2040%2C%2040%2040%2C%2030.1%20%2710.1%27%29%29
    body:
      encoding: UTF-8
      string: 'Invalid simple WKT: POLYGON((30.1 10.1, 10 20, 20 40, 40 40, 30.1 ''10.1''))'
  recorded_at: 2018-10-09 21:54:28 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=500&offset=0&geometry=POLYGON%28%2830.1%2010.1%2C%2010%2020%2C%2020%2040%2C%2040%2040%2C%2030.1%2010.1%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '400'
      message: Bad Request
      explanation: Bad request syntax or unsupported method
    headers:
      status: HTTP/1.1 400 Bad Request
      content-type: text/plain
      x-api-url: /v1/occurrence/search?limit=500&offset=0&geometry=POLYGON%28%2830.1%2010.1%2C%2010%2020%2C%2020%2040%2C%2040%2040%2C%2030.1%2010.1%29
    body:
      encoding: UTF-8
      string: 'Invalid simple WKT: POLYGON((30.1 10.1, 10 20, 20 40, 40 40, 30.1 10.1)'
  recorded_at: 2018-10-09 21:54:28 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
