http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/0108986-200613084148143
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.3.3.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":"0108986-200613084148143","doi":"10.15468/dl.hx3uzz","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"within","geometry":"POLYGON((-14
        42, 9 38, -7 26, -14 42))"},{"type":"greaterThanOrEquals","key":"ELEVATION","value":"5400","matchCase":false}]},"sendNotification":false,"format":"DWCA"},"created":"2020-11-11T16:47:40.736+0000","modified":"2020-11-11T16:47:40.832+0000","eraseAfter":"2021-05-11T16:47:40.654+0000","status":"RUNNING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0108986-200613084148143.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2020-11-11 16:47:48 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.7.0.91
