http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/countries
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"UNITED_STATES":823693243,"FRANCE":139993351,"CANADA":134276867,"SWEDEN":120738379,"AUSTRALIA":115426579,"UNITED_KINGDOM":110965864,"NETHERLANDS":89809832,"SPAIN":56279567,"DENMARK":50987722,"GERMANY":50691151,"NORWAY":49419455,"FINLAND":38279541,"BELGIUM":35228808,"SOUTH_AFRICA":33611138,"INDIA":32349571,"MEXICO":26897706,"BRAZIL":25137217,"COSTA_RICA":21261789,"COLOMBIA":20977863,"SWITZERLAND":19164635,"PORTUGAL":18071147,"TAIWAN":15455783,"JAPAN":11460380,"NEW_ZEALAND":11420979,"RUSSIAN_FEDERATION":10900230,"ARGENTINA":10260304,"CHINA":9764796,"AUSTRIA":8603855,"ECUADOR":7985709,"ESTONIA":7643506,"PERU":7249763,"POLAND":6736150,"KOREA_SOUTH":6382025,"ITALY":5926845,"PANAMA":5816328,"CHILE":5179306,"BELIZE":5125555,"ISRAEL":4212776,"THAILAND":4048168,"GUATEMALA":3567491,"IRELAND":3549012,"KENYA":3455154,"INDONESIA":3264924,"VENEZUELA":3130269,"PUERTO_RICO":3046763,"ANTARCTICA":2974542,"LUXEMBOURG":2861590,"HONDURAS":2812183,"MALAYSIA":2726188,"TURKEY":2692478,"CZECH_REPUBLIC":2581827,"GREECE":2336346,"PHILIPPINES":2177770,"UKRAINE":2110261,"TANZANIA":2044401,"MADAGASCAR":2021189,"BOLIVIA":2018255,"ICELAND":1892134,"NAMIBIA":1857406,"PAPUA_NEW_GUINEA":1814415,"UNKNOWN":1762076,"CUBA":1589564,"NICARAGUA":1545615,"ALAND_ISLANDS":1516143,"UNITED_ARAB_EMIRATES":1457676,"UGANDA":1445371,"SRI_LANKA":1371266,"PARAGUAY":1312894,"HONG_KONG":1216756,"CONGO_DEMOCRATIC_REPUBLIC":1191539,"ISLE_OF_MAN":1184955,"MOROCCO":1174859,"SVALBARD_JAN_MAYEN":1150667,"ZIMBABWE":1127359,"BENIN":1098193,"URUGUAY":1079217,"SINGAPORE":1070594,"HUNGARY":1056786,"LITHUANIA":1020224,"EL_SALVADOR":976690,"GEORGIA":972134,"TRINIDAD_TOBAGO":956184,"BAHAMAS":935482,"BULGARIA":933869,"NEPAL":892350,"ETHIOPIA":890812,"NEW_CALEDONIA":881299,"FRENCH_GUIANA":848044,"BOTSWANA":820079,"IRAN":808777,"CAMEROON":807193,"RÉUNION":799285,"VIETNAM":789319,"ROMANIA":785884,"VIRGIN_ISLANDS":767762,"JAMAICA":744271,"GUYANA":743935,"MOZAMBIQUE":723919,"NIGERIA":715496,"AFGHANISTAN":711720,"SLOVENIA":709605,"GHANA":694630,"CROATIA":691274,"CAMBODIA":688372,"DOMINICAN_REPUBLIC":685167,"GREENLAND":646373,"GABON":637220,"GUADELOUPE":626920,"SLOVAKIA":622527,"ZAMBIA":622046,"SERBIA":603803,"BERMUDA":576230,"SENEGAL":569276,"FRENCH_POLYNESIA":562121,"PAKISTAN":539915,"SURINAME":521608,"LATVIA":508437,"MONGOLIA":502756,"EGYPT":485197,"CÔTE_DIVOIRE":458565,"GAMBIA":450136,"BANGLADESH":436780,"SAUDI_ARABIA":434001,"AMERICAN_SAMOA":414011,"OMAN":401066,"MYANMAR":371695,"BHUTAN":367120,"KAZAKHSTAN":349962,"BELARUS":344066,"SOUTH_GEORGIA_SANDWICH_ISLANDS":342220,"MALAWI":334742,"FIJI":330505,"SWAZILAND":318960,"CYPRUS":308668,"ANGOLA":299994,"ALGERIA":298956,"UNITED_STATES_OUTLYING_ISLANDS":297235,"FAROE_ISLANDS":290528,"KUWAIT":278100,"PALESTINIAN_TERRITORY":277540,"CURAÇAO":277045,"HAITI":259238,"RWANDA":257465,"FRENCH_SOUTHERN_TERRITORIES":253171,"BURKINA_FASO":247674,"NORTHERN_MARIANA_ISLANDS":240901,"CAYMAN_ISLANDS":236443,"SEYCHELLES":236154,"LAO":234869,"AZERBAIJAN":232027,"SOLOMON_ISLANDS":226250,"ANGUILLA":225089,"GUINEA":224014,"TUNISIA":222858,"MICRONESIA":222322,"MARTINIQUE":205154,"PALAU":205088,"BONAIRE_SINT_EUSTATIUS_SABA":199702,"ARUBA":197291,"HEARD_MCDONALD_ISLANDS":190039,"VANUATU":186475,"ARMENIA":181237,"FALKLAND_ISLANDS":177067,"KYRGYZSTAN":174218,"KIRIBATI":173045,"LIBERIA":171339,"GUAM":163581,"TONGA":156096,"SUDAN":155745,"MARSHALL_ISLANDS":152510,"ANDORRA":147960,"CAPE_VERDE":145835,"MALI":145173,"BARBADOS":140811,"WESTERN_SAHARA":138681,"MAURITANIA":137653,"SYRIA":137312,"TOGO":133009,"CONGO":132905,"MAURITIUS":126197,"CENTRAL_AFRICAN_REPUBLIC":114630,"LEBANON":114191,"YEMEN":113896,"QATAR":109019,"UZBEKISTAN":105980,"MACEDONIA":105224,"EQUATORIAL_GUINEA":103336,"DOMINICA":102963,"IRAQ":102576,"LESOTHO":102442,"BURUNDI":101318,"NIGER":99073,"SIERRA_LEONE":97489,"GRENADA":97449,"MOLDOVA":97168,"JORDAN":93073,"MALDIVES":87320,"MONTENEGRO":83192,"NIUE":82040,"MAYOTTE":79230,"TAJIKISTAN":78665,"TIMOR_LESTE":75644,"CHAD":73831,"JERSEY":73067,"BOSNIA_HERZEGOVINA":72651,"ALBANIA":72219,"SAMOA":71443,"SAINT_MARTIN_FRENCH":70062,"SAINT_LUCIA":69938,"VIRGIN_ISLANDS_BRITISH":69347,"SOMALIA":66587,"SAO_TOME_PRINCIPE":65291,"NORFOLK_ISLAND":63213,"ANTIGUA_BARBUDA":62861,"MALTA":62761,"TOKELAU":62568,"GUINEA_BISSAU":62377,"LIECHTENSTEIN":62080,"COOK_ISLANDS":61850,"GUERNSEY":59477,"LIBYA":58767,"KOREA_NORTH":56643,"TURKS_CAICOS_ISLANDS":54247,"SAINT_PIERRE_MIQUELON":53906,"WALLIS_FUTUNA":51325,"BRUNEI_DARUSSALAM":49483,"TURKMENISTAN":48007,"SAINT_VINCENT_GRENADINES":46169,"COMOROS":43625,"MONTSERRAT":42319,"CHRISTMAS_ISLAND":37735,"SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA":36211,"SAINT_KITTS_NEVIS":35372,"DJIBOUTI":33021,"BRITISH_INDIAN_OCEAN_TERRITORY":32985,"SINT_MAARTEN":32258,"ERITREA":27166,"KOSOVO":26560,"SOUTH_SUDAN":23857,"PITCAIRN":22107,"SAINT_BARTHÉLEMY":20208,"COCOS_ISLANDS":17644,"BAHRAIN":16658,"MACAO":14073,"GIBRALTAR":13842,"BOUVET_ISLAND":13275,"TUVALU":9923,"NAURU":5306,"MONACO":5087,"SAN_MARINO":2229,"VATICAN":1961,"INTERNATIONAL_WATERS":774}'
  recorded_at: 2023-04-03 08:53:55 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif.org/v1/enumeration/country/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"iso2":"AF","iso3":"AFG","isoNumerical":"4","title":"Afghanistan","gbifRegion":"ASIA","enumName":"AFGHANISTAN"},{"iso2":"AX","iso3":"ALA","isoNumerical":"248","title":"Åland
        Islands","gbifRegion":"EUROPE","enumName":"ALAND_ISLANDS"},{"iso2":"AL","iso3":"ALB","isoNumerical":"8","title":"Albania","gbifRegion":"EUROPE","enumName":"ALBANIA"},{"iso2":"DZ","iso3":"DZA","isoNumerical":"12","title":"Algeria","gbifRegion":"AFRICA","enumName":"ALGERIA"},{"iso2":"AS","iso3":"ASM","isoNumerical":"16","title":"American
        Samoa","gbifRegion":"OCEANIA","enumName":"AMERICAN_SAMOA"},{"iso2":"A[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DK
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"DENMARK":49748434,"LITHUANIA":439429,"PERU":329996,"GREENLAND":169039[...]
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DK
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"DENMARK":49748434,"UNITED_STATES":398172,"UNITED_KINGDOM":370343,"SWEDEN":105960,"NETHERLANDS":69686,"GERMANY":64988,"FRANCE":55246,"ESTONIA":47710,"FINLAND":39951,"NORWAY":31907,"COLOMBIA":7700,"AUSTRALIA":5905,"SPAIN":4653,"BELGIUM":3995,"CANADA":3974,"SWITZERLAND":2432,"POLAND":2342,"RUSSIAN_FEDERATION":1676,"NEW_ZEALAND":1606,"JAPAN":1381,"BRAZIL":939,"CHINA":913,"CZECH_REPUBLIC":659,"AUSTRIA":572,"PORTUGAL":541,"ARGENTINA":260,"SOUTH_AFRICA":91,"VENEZUELA":78,"MEXICO":40,"PANAMA":31,"ITALY":27,"BULGARIA":25,"LUXEMBOURG":19,"ISRAEL":13,"TAIWAN":12,"COSTA_RICA":2,"ECUADOR":1}'
  recorded_at: 2023-04-03 08:53:55 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"2021":231807256,"2020":207242110,"2019":173334888,"2018":155337584,"2017":131044066,"2016[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=1990%2C2000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"2000":20126895,"1999":19313707,"1998":16230866,"1997":15868594,"1995":15160928,"1996":14984223,"1994":13267491,"1993":13087014,"1992":12851750,"1990":12697048,"1991":11933806}'
  recorded_at: 2023-04-03 08:53:55 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"HUMAN_OBSERVATION":1976648574,"PRESERVED_SPECIMEN":221114353,"MATERIAL_SAMPLE":53123866,"OBSERVATION":23399167,"OCCURRENCE":20387550,"MACHINE_OBSERVATION":15110973,"FOSSIL_SPECIMEN":10128629,"MATERIAL_CITATION":3094948,"LIVING_SPECIMEN":1960912}'
  recorded_at: 2023-04-03 08:53:55 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
