http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/term
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"simpleName":"accessRights","qualifiedName":"http://purl.org/dc/terms/accessRights","source":"DcTerm"},{"simpleName":"bibliographicCitation","qualifiedName":"http://purl.org/dc/terms/bibliographicCitation","source":"DcTerm"},{"simpleName":"language","qualifiedName":"http://purl.org/dc/terms/language","source":"DcTerm"},{"simpleName":"license","qualifiedName":"http://purl.org/dc/terms/license","source":"DcTerm"},{"simpleName":"modified","qualifiedName":"http://purl.org/dc/terms/modified","source":"DcTerm"},{"simpleName":"publisher","qualifiedName":"http://purl.org/dc/terms/publisher","source":"DcTerm"},{"simpleName":"references","qualifiedName":"http://purl.org/dc/terms/references","source":"DcTerm"},{"simpleName":"rightsHolder","qualifiedName":"http://purl.org/dc/terms/rightsHolder","source":"DcTerm"},{"simpleName":"type","qualifiedName":"http://purl.org/dc/terms/type","source":"DcTerm"},{"simpleName":"day","qualifiedName":"http://rs.tdwg.org/dwc/terms/day","group":"Event","source":"DwcTerm"},{"simpleName":"endDayOfYear","qualifiedName":"http://rs.tdwg.org/dwc/terms/endDayOfYear","group":"Event","source":"DwcTerm"},{"simpleName":"eventDate","qualifiedName":"http://rs.tdwg.org/dwc/terms/eventDate","group":"Event","source":"DwcTerm"},{"simpleName":"eventID","qualifiedName":"http://rs.tdwg.org/dwc/terms/eventID","group":"Event","source":"DwcTerm"},{"simpleName":"eventRemarks","qualifiedName":"http://rs.tdwg.org/dwc/terms/eventRemarks","group":"Event","source"[...]
