http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/dataset/7f2edc10-f762-11e1-a439-00145eb45e9a?limit=20&offset=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.2 crul/0.8.4 rOpenSci(rgbif/1.4.0.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":20542,"results":[{"downloadKey":"0032660-190918142434337","datasetKey":"7f2edc10-f762-11e1-a439-00145eb45e9a","datasetTitle":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM","datasetDOI":"10.15468/blmvxk","datasetCitation":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM. Carl Faust Foundation.
        Occurrence Dataset https://doi.org/10.15468/blmvxk accessed via GBIF.org on
        2017-06-01.","numberRecords":4277,"download":{"key":"0032660-190918142434337","doi":"10.15468/dl.tqp8x2","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"sendNotification":true,"format":"SPECIES_LIST"},"created":"2019-10-30T17:40:38.976+0000","modified":"2019-10-30T18:10:30.114+0000","eraseAfter":"2020-04-30T17:40:38.912+0000","status":"SUCCEEDED","downloadLink":"http://api.gbif.org/v1/occurrence/download/request/0032660-190918142434337.zip","size":238053603,"totalRecords":3261795,"numberDatasets":25669}},{"downloadKey":"0032650-190918142434337","datasetKey":"7f2edc10-f762-11e1-a439-00145eb45e9a","datasetTitle":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM","datasetDOI":"10.15468/blmvxk","datasetCitation":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM. Carl Faust Foundation.
        Occurrence Dataset https://doi.org/10.15468/blmvxk accessed via GBIF.org on
        2017-06-01.","numberRecords":38,"download":{"key":"0032650-190918142434337","doi":"10.15468/dl.ak24e0","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"equals","key":"TAXON_KEY","value":"2978223"},"sendNotification":true,"format":"DWCA"},"created":"2019-10-30T17:35:45.406+0000","modified":"2019-10-30T18:00:47.654+0000","eraseAfter":"2020-04-30T17:35:45.290+0000","status":"SUCCEEDED","downloadLink":"http://api.gbif.org/v1/occurrence/download/request/0032650-190918142434337.zip","size":230940745,"totalRecords":1029894,"numberDatasets":755}},{"downloadKey":"0032604-190918142434337","datasetKey":"7f2edc10-f762-11e1-a439-00145eb45e9a","datasetTitle":"Fundación
        Carl Faust: He[...]
