http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/describe/dwca
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"verbatim":{"fields":[{"name":"gbifID","type":"STRING","term":"http://rs.gbif.org/terms/1.0/gbifID","nullable":false},{"name":"accessRights","type":"STRING","term":"http://purl.org/dc/terms/accessRights","nullable":true},{"name":"bibliographicCitation","type":"STRING","term":"http://purl.org/dc/terms/bibliographicCitation","nullable":true},{"name":"language","type":"STRING","term":"http://purl.org/dc/terms/language","nullable":true},{"name":"license","type":"STRING","term":"http://purl.org/dc/terms/license","nullable":true},{"name":"modified","type":"STRING","term":"http://purl.org/dc/terms/modified","nu[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/describe/simpleCsv
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"fields":[{"name":"gbifID","type":"STRING","term":"http://rs.gbif.org/terms/1.0/[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/describe/simpleParquet
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"fields":[{"name":"gbifID","type":"STRING","term":"http://rs.gbif.org/terms/[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/describe/speciesList
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"fields":[{"name":"taxonKey","type":"INT","term":"http://rs.gbif.org/terms/1.0[...]
