http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/user/<gbif_user>?limit=20&offset=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":223,"results":[{"key":"0022670-210914110416597","doi":"10.15468/dl.5edeac","license":"unspecified","request":{"predicate":{"type":"greaterThanOrEquals","key":"DECIMAL_LATITUDE","value":"75","matchCase":false},"creator":"<gbif_user>","notificationAddresses":["<gbif_email>"],"sendNotification":false,"format":"SPECIES_LIST"},"created":"2021-10-11T14:51:16.344+00:00","modified":"2021-10-11T14:51:52.470+00:00","eraseAfter":"2022-04-11T14:51:16.287+00:00","status":"CANCELLED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0022670-210914110416597.zip","size":0,"totalRecords":0,"numberDatasets":0},{"key":"0022669-210914110416597","doi":"10.15468/dl.w48d7p","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"within","geometry":"POLYGON((-14
        42, 9 38, -7 26, -14 42))"},{"type":"greaterThanOrEquals","key":"ELEVATION","value":"5000","matchCase":false}]},"creator":"<gbif_user>","notificationAddresses":["<gbif_email>"],"sendNotification":false,"format":"DWCA"},"created":"2021-10-11T14:51:14.177+00:00","modified":"2021-10-11T14:51:53.041+00:00","eraseAfter":"2022-04-11T14:51:14.106+00:00","status":"CANCELLED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0022669-210914110416597.zip","size":0,"totalRecords":24,"numberDatasets":0},{"key":"0022668-210914110416597","doi":"10.15468/dl.rf2bu5","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251","matchCase":false},{"type":"in","key":"COUNTRY","values":["US","CA"],"matchCase":false},{"type":"greaterThanOrEquals","key":"YEAR","value":"1979","matchCase":false}]},"creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"DWCA"},"created":"2021-10-11T14:51:12.900+00:00","modified":"2021-10-11T14:51:53.505+00:00","eraseAfter":"2022-04-11T14:51:12.842+00:00","status":"CANCELLED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0022668-210914110416597.zip","size":0,"totalRecords":147[...]
