http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"DWCA","predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251"},{"type":"in","key":"COUNTRY","values":["US","CA"]},{"type":"greaterThanOrEquals","key":"YEAR","value":"1979"}]}}'
  response:
    status: 420
    headers:
      status: HTTP/1.1 420 Unknown HTTP Status
      content-type: application/json
    body:
      string: |
        A download limitation is exceeded:
        User <gbif_user> has too many simultaneous downloads; the limit is 3.
        Please wait for some to complete, or cancel any unwanted downloads.  See your user page.
  recorded_at: 2025-09-04 07:34:51
recorded_with: VCR-vcr/2.0.0
