http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?depth=5&limit=500&offset=0&taxonKey=7595433
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":300,"endOfRecords":true,"count":0,"results":[],"facets":[]}'
  recorded_at: 2022-04-08 13:35:58 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?depth=5-10&limit=500&offset=0&taxonKey=7595433
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '400'
      message: Bad Request
      explanation: Bad request syntax or unsupported method
    headers:
      status: HTTP/1.1 400 Bad Request
      content-type: text/plain
    body:
      encoding: UTF-8
      file: no
      string: 'Invalid decimal range: 5-10'
  recorded_at: 2022-04-08 13:35:58 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
