http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?q=kingfisher&spellCheck=true&limit=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/search?q=kingfisher&spellCheck=true&limit=0
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":486973,"results":[],"facets":[],"spellCheckResponse":{"correctlySpelled":true}}'
  recorded_at: 2018-10-09 21:56:33 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?q=helianthus&spellCheck=true&limit=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/search?q=helianthus&spellCheck=true&limit=0
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":117863,"results":[],"facets":[],"spellCheckResponse":{"correctlySpelled":true}}'
  recorded_at: 2018-10-09 21:56:33 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?q=asteraceae&spellCheck=true&limit=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/search?q=asteraceae&spellCheck=true&limit=0
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":21116738,"results":[],"facets":[],"spellCheckResponse":{"correctlySpelled":true}}'
  recorded_at: 2018-10-09 21:56:33 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?q=sparrow&spellCheck=true&limit=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/search?q=sparrow&spellCheck=true&limit=0
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":874669,"results":[],"facets":[],"spellCheckResponse":{"correctlySpelled":true}}'
  recorded_at: 2018-10-09 21:56:33 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?q=asdfadfasdf&spellCheck=true&limit=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/search?q=asdfadfasdf&spellCheck=true&limit=0
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":0,"endOfRecords":true,"count":0,"results":[],"facets":[],"spellCheckResponse":{"correctlySpelled":false}}'
  recorded_at: 2018-10-09 21:56:33 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?q=helir&spellCheck=true&limit=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/search?q=helir&spellCheck=true&limit=0
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":0,"endOfRecords":true,"count":0,"results":[],"facets":[],"spellCheckResponse":{"correctlySpelled":false,"suggestions":{"heldr":{"numFound":34630,"alternatives":["heldr"]},"helix":{"numFound":537842,"alternatives":["helix"]},"helia":{"numFound":2648,"alternatives":["helia"]}}}}'
  recorded_at: 2018-10-09 21:56:33 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
