http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=20&offset=0&taxonKey=3118771
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/search?limit=20&offset=0&taxonKey=3118771
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":2588,"results":[{"key":1880676352,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2018-10-08T17:08:47.838+0000","lastParsed":"2018-10-08T17:08:47.857+0000","crawlId":129,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":3118771,"kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":414,"familyKey":3065,"genusKey":3118743,"speciesKey":3118771,"scientificName":"Encelia
        californica Nutt.","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asterales","family":"Asteraceae","genus":"Encelia","species":"Encelia
        californica","genericName":"Encelia","specificEpithet":"californica","taxonRank":"SPECIES","dateIdentified":"2018-02-18T06:05:14.000+0000","decimalLongitude":-118.535881,"decimalLatitude":34.060184,"stateProvince":"California","year":2018,"month":1,"day":31,"eventDate":"2018-01-31T16:32:06.000+0000","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2018-06-22T22:21:45.000+0000","lastInterpreted":"2018-10-08T17:13:14.710+0000","references":"https://www.inaturalist.org/observations/9903441","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/13580970/original.jpeg?1518933953","references":"https://www.inaturalist.org/photos/13580970","created":"2018-02-01T00:32:06.000+0000","creator":"Dan
        Horowitz","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"Dan
        Horowitz"},{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/13580978/original.jpeg?1518933986","references":"https://www.inaturalist.org/photos/13580978","created":"2018-02-01T00:32:13.000+0000","creator":"Dan
        Horowitz","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"Dan
        Horowitz"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Magnoliopsida","countryCode":"US","country":"United
        States","rightsHolder":"Dan Horowitz","identifier":"9903441","verbatimEventDate":"2018-01-31
        4:32:06 PM PST","datasetName":"iNaturalist research-grade observations","gbifID":"1880676352","verbatimLocality":"Temescal
        Ridge Trail, Pacific Palisades, CA 90272, USA","collectionCode":"Observations","occurrenceID":"https://www.inaturalist.org/observations/9903441","taxonID":"64141","catalogNumber":"9903441","recordedBy":"Dan
        Horowitz","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/9903441","institutionCode":"iNaturalist","rights":"©
        Dan Horowitz some rights reserved","eventTime":"00:32:06Z","http://unknown.org/http_//rs.gbif.org/terms/1.0/Multimedia":"[
        {\n  \"http://rs.tdwg.org/dwc/terms/catalogNumber\" : \"13580970\",\n  \"http://purl.org/dc/terms/creator\"
        : \"Dan Horowitz\",\n  \"http://purl.org/dc/terms/format\" : \"image/jpeg\",\n  \"http://purl.org/dc/terms/identifier\"
        : \"https://static.inaturalist.org/photos/13580970/original.jpeg?1518933953\",\n  \"http://purl.org/dc/terms/type\"
        : \"StillImage\",\n  \"http://purl.org/dc/terms/[...]
