http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=0&facet=country&facet=basisOfRecord&facet=hasCoordinate&country.facetLimit=3&basisOfRecord.facetLimit=6
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rgbif/2.1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":1385390925,"results":[],"facets":[{"field":"HAS_COORDINATE","counts":[{"name":"true","count":1290936092},{"name":"false","count":94454833}]},{"field":"BASIS_OF_RECORD","counts":[{"name":"HUMAN_OBSERVATION","count":1128762718},{"name":"PRESERVED_SPECIMEN","count":168187016},{"name":"MATERIAL_SAMPLE","count":25352431},{"name":"OBSERVATION","count":19654002},{"name":"UNKNOWN","count":17477531},{"name":"MACHINE_OBSERVATION","count":12578602}]},{"field":"COUNTRY","counts":[{"name":"US","count":463258161},{"name":"AU","count":90966826},{"name":"SE","count":89027080}]}]}'
  recorded_at: 2020-02-12 23:02:58 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
