http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=2&offset=0&scientificName=Pulsatilla%20patens
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/search?limit=2&offset=0&scientificName=Pulsatilla%20patens
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":5151,"results":[{"key":1836647947,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2018-10-08T14:19:43.930+0000","lastParsed":"2018-10-08T14:19:44.088+0000","crawlId":129,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":3924212,"kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":399,"familyKey":2410,"genusKey":3033620,"speciesKey":3033623,"scientificName":"Anemone
        patens subsp. multifida (Pritzel) Hultén","kingdom":"Plantae","phylum":"Tracheophyta","order":"Ranunculales","family":"Ranunculaceae","genus":"Pulsatilla","species":"Pulsatilla
        patens","genericName":"Anemone","specificEpithet":"patens","infraspecificEpithet":"multifida","taxonRank":"SUBSPECIES","dateIdentified":"2018-03-18T01:55:14.000+0000","decimalLongitude":-135.568408,"decimalLatitude":60.876831,"coordinateUncertaintyInMeters":15.0,"stateProvince":"Yukon","year":2018,"month":3,"day":17,"eventDate":"2018-03-17T14:45:00.000+0000","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2018-03-19T13:11:26.000+0000","lastInterpreted":"2018-10-08T14:23:12.545+0000","references":"https://www.inaturalist.org/observations/10283717","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/14237699/original.jpeg?1521337165","references":"https://www.inaturalist.org/photos/14237699","created":"2018-03-17T21:45:28.000+0000","creator":"jozien","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"jozien"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Magnoliopsida","countryCode":"CA","country":"Canada","rightsHolder":"jozien","identifier":"10283717","verbatimEventDate":"2018/03/17
        2:45 PM PDT","datasetName":"iNaturalist research-grade observations","gbifID":"1836647947","verbatimLocality":"Yukon,
        YT, Canada","collectionCode":"Observations","occurrenceID":"https://www.inaturalist.org/observations/10283717","taxonID":"127859","catalogNumber":"10283717","recordedBy":"jozien","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/10283717","institutionCode":"iNaturalist","rights":"©
        jozien some rights reserved","eventTime":"21:45:00Z","occurrenceRemarks":"not
        quite the first crocus. Yet i did find a ''trying but never quite make it''
        fuzzy head. It seems they just tried too early. I found 1 on the whole sunny
        rockwarmed slope.","http://unknown.org/http_//rs.gbif.org/terms/1.0/Multimedia":"[
        {\n  \"http://rs.tdwg.org/dwc/terms/catalogNumber\" : \"14237699\",\n  \"http://purl.org/dc/terms/creator\"
        : \"jozien\",\n  \"http://purl.org/dc/terms/format\" : \"image/jpeg\",\n  \"http://purl.org/dc/terms/identifier\"
        : \"https://static.inaturalist.org/photos/14237699/original.jpeg?1521337165\",\n  \"http://purl.org/dc/terms/type\"
        : \"StillImage\",\n  \"http://purl.org/dc/terms/created\" : \"2018-03-17T14:45:28-07:00\",\n  \"http://purl.org/dc/terms/references\"
        : \"https://www.inaturalist.org/photos/14237699\",\n  \"http://purl.org/dc/terms/rightsHolder\"
        : \"jozien\",\n  \"http://purl.org/dc/terms/license\" : \"http://creativecommons.org/licenses/by-nc/4.0/\",\n  \"http://purl.org/dc/terms/publisher\"
        : \"iNaturalist\"\n} ]","identificationID":"22835620"},{"key":1841235345,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2018-10-08T14:23:48.646+0000","lastParsed":"2018-10-08T14:23:48.780+0000","crawlId":129,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":3924212,"kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":3[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=2&offset=0&scientificName=Corynorhinus%20townsendii%20ingens
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occu[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=2&offset=0&scientificName=Corynorhinus%20townsendii
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/se[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=2&offset=0&scientificName=Myotis%20septentrionalis%20septentrionalis
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/search?limit=2&offset=0&scientificName=Myotis%20septentrionalis%20septentrionalis
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":2,"endOfRecords":true,"results":[],"facets":[]}'
  recorded_at: 2018-10-09 21:53:15 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=2&offset=0&scientificName=Myotis%20septentrionalis
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/sea[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=2&offset=0&scientificName=Parastrellus%20hesperus
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/sear[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=2&offset=0&scientificName=Pipistrellus%20hesperus
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/search?limit=2&offset=0&scientificName=Pipistrellus%20hesperus
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":1477,"results":[{"key":1418246370,"datasetKey":"5381c29f-b090-488a-8693-0038708c904f","publishingOrgKey":"ff90b050-c256-11db-b71b-b8a03c50a862","networkKeys":[],"installationKey":"e081c7d7-2dab-42fd-94c4-9f275767fe7d","publishingCountry":"MX","protocol":"DWC_ARCHIVE","lastCrawled":"2018-08-21T00:51:56.336+0000","lastParsed":"2018-08-21T00:51:56.346+0000","crawlId":56,"extensions":{},"basisOfRecord":"PRESERVED_SPECIMEN","individualCount":1,"taxonKey":5218481,"kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":734,"familyKey":9368,"genusKey":4831869,"speciesKey":8397398,"scientificName":"Pipistrellus
        hesperus (H.Allen, 1864)","kingdom":"Animalia","phylum":"Chordata","order":"Chiroptera","family":"Vespertilionidae","genus":"Parastrellus","species":"Parastrellus
        hesperus","genericName":"Pipistrellus","specificEpithet":"hesperus","taxonRank":"SPECIES","decimalLongitude":-101.790833,"decimalLatitude":18.965,"elevation":271.0,"elevationAccuracy":271.0,"depth":0.0,"depthAccuracy":0.0,"stateProvince":"Michoacan
        de ocampo","year":2009,"month":12,"day":17,"eventDate":"2009-12-17T00:00:00.000+0000","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84","ELEVATION_MIN_MAX_SWAPPED"],"modified":"2015-12-03T00:00:00.000+0000","lastInterpreted":"2018-08-21T00:51:56.424+0000","license":"http://creativecommons.org/licenses/by/4.0/legalcode","identifiers":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Mammalia","countryCode":"MX","country":"Mexico","rightsHolder":"Comisión
        Nacional para el Conocimiento y Uso de la Biodiversidad (CONABIO)","institutionID":"1932","scientificNameID":"22657","dynamicProperties":"TipoVegetacion
        / Bosque tropical caducifolio Otros Datos Ejemplar / Capturista: livia","county":"LA
        HUACANA","namePublishedInYear":"1864","fieldNumber":"MBB150","gbifID":"1418246370","language":"es","type":"Event","taxonID":"4cc0016e085cd387c8addcf83ecffab8","preparations":"Taxidermia","catalogNumber":"10223","vernacularName":"sinónimo","institutionCode":"FC-UNAM","namePublishedIn":"Smithson.
        Misc. Coll., 7: 43","eventTime":"00:00:00","nameAccordingTo":"Wilson & Reeder,
        2005","identifiedBy":"L. S. L. P.","identifier":"urn:catalog:FC-UNAM:MZFC:10223:4f9f827b9055ed4bf1b6e6bc7ba4bbff","acceptedNameUsage":"Parastrellus
        hesperus subsp. hesperus","verbatimCoordinateSystem":"grados minutos segundos","datasetName":"Actualización
        de la base de datos de la Colección de mamíferos del Museo de Zoología ''Alfonso
        L. Herrera''","locality":"Río Huámito","collectionCode":"MZFC","occurrenceID":"urn:catalog:FC-UNAM:MZFC:10223:4f9f827b9055ed4bf1b6e6bc7ba4bbff","recordedBy":"L.
        S. L. P.; C. M. A.; C. C.; L. F. C.; R. C. M.; L. D. V. A.","locationID":"912","ownerInstitutionCode":"Museo
        de Zoología Alfonso L. Herrera, Facultad de Ciencias, Universidad Nacional
        Autónoma de México","startDayOfYear":"351","datasetID":"4f9f827b9055ed4bf1b6e6bc7ba4bbff","accessRights":"CC-BY","bibliographicCitation":"León,
        P. L. y V.Z.A. Ávila. 2012. Actualización de la base de datos de la Colección
        de mamíferos del Museo de Zoología ''Alfonso L. Herrera''. Universidad Nacional
        Autónoma de México. Facultad de Ciencias. Bases de datos SNIB-CONABIO, proyectos
        EC010, M099_Mamíferos, J123_Mamíferos, H160, B002_Mamíferos. México D. F.","collectionID":"464","higherClassification":"Animalia;
        Chordata; Mammalia; Chiroptera; Vespertilionidae; Pipistrellus","georeferenceSources":"Geoposicionador,
        Magellan","identificationID":"18237","parentNameUsage":"Pipistrellus"},{"key":1418874736,"datasetKey":"806d5b92-f762-11e1-a439-00145eb45e9a","publishingOrgKey":"ff90b050-c256-11db-b71b-b8a03c50a862","networkKeys":[],"installationKey":"e081c7d7-2dab-42fd-94c4-9f275767fe7d","publishingCountry":"MX","protocol":"DWC_ARCHIVE","lastCrawled":"2018-08-21T00:48:36.905+0000","lastParsed":"2018-08-21T00:48:36.909+0000","crawlId":52,"extensions":{},"basisOfRecord":"PRESERVED_SPECIMEN","individualCount":1,"taxonKey":5218481,"kingdomKey":1,"phylumKey":44,"classKe[...]
