http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/user/<gbif_user>?limit=20&offset=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rgbif/2.1.0)
      Content-Type: application/json
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":570,"results":[{"key":"0010965-200127171203522","doi":"10.15468/dl.wf4tfd","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251"},{"type":"in","key":"COUNTRY","values":["US","MX"]},{"type":"greaterThanOrEquals","key":"YEAR","value":"1971"}]},"creator":"<gbif_user>","notificationAddresses":["<gbif_email>"],"sendNotification":false,"format":"DWCA"},"created":"2020-02-12T05:14:13.969+0000","modified":"2020-02-12T05:16:19.203+0000","eraseAfter":"2020-08-12T05:14:13.885+0000","status":"SUCCEEDED","downloadLink":"http://api.gbif.org/v1/occurrence/download/request/0010965-200127171203522.zip","size":5534953,"totalRecords":5255,"numberDatasets":100},{"key":"0010964-200127171203522","doi":"10.15468/dl.gcfrzq","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"3119195"},{"type":"equals","key":"YEAR","value":"2001"},{"type":"lessThanOrEquals","key":"MONTH","value":"8"}]},"creator":"<gbif_user>","notificationAddresses":["<gbif_email>"],"sendNotification":false,"format":"DWCA"},"created":"2020-02-12T05:12:53.556+0000","modified[...]
