http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=0&facet=asdfasdf
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/search?limit=0&facet=asdfasdf
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":1019284935,"results":[],"facets":[]}'
  recorded_at: 2018-10-09 21:43:22 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
