http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/dataset/7f2edc10-f762-11e1-a439-00145eb45e9a?limit=20&offset=0
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":71442,"results":[{"downloadKey":"0015360-260806074905277","datasetKey":"7f2edc10-f762-11e1-a439-00145eb45e9a","datasetTitle":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM","datasetDOI":"10.15468/blmvxk","datasetCitation":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM. Carl Faust Foundation.
        Occurrence Dataset https://doi.org/10.15468/blmvxk accessed via GBIF.org on
        2017-06-01.","numberRecords":1,"download":{"key":"0015360-260806074905277","doi":"10.15468/dl.b78r36","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"and","predicates":[{"type":"in","key":"OCCURRENCE_STATUS","values":["present"],"matchCase":false},{"type":"in","key":"TAXON_KEY","values":["38GZD"],"matchCase":false,"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"}]},"sendNotification":true,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-08-14T11:57:53.212+00:00","modified":"2026-08-14T12:01:00.906+00:00","eraseAfter":"2027-02-14T11:57:53.092+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0015360-260806074905277.zip","size":17761142,"totalRecords":29540,"numberDatasets":687}},{"downloadKey":"0015271-260806074905277","datasetKey":"7f2edc10-f762-11e1-a439-00145eb45e9a","datasetTitle":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM","datasetDOI":"10.15468/blmvxk","datasetCitation":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM. Carl Faust Foundation.
        Occurrence Dataset https://doi.org/10.15468/blmvxk accessed via GBIF.org on
        2017-06-01.","numberRecords":4277,"download":{"key":"0015271-260806074[...]
