http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"SIMPLE_CSV","predicate":{"type":"greaterThan","key":"ORGANISM_QUANTITY","value":"1"}}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0012246-260108223611665
  recorded_at: 2026-01-15 16:16:11
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0012246-260108223611665
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0012246-260108223611665","license":"unspecified","request":{"predicate":{"type":"greaterThan","key":"ORGANISM_QUANTITY","value":"1","matchCase":false},"sendNotification":false,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2026-01-15T16:16:12.165+00:00","modified":"2026-01-15T16:16:12.165+00:00","eraseAfter":"2026-07-15T16:16:11.960+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0012246-260108223611665.zip","size":0,"totalRecords":175518101,"numberDatasets":0}'
  recorded_at: 2026-01-15 16:16:11
recorded_with: VCR-vcr/2.0.0
