http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&depth=5&taxonKey=7595433
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '16'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":44,"results":[{"key":6396167231,"datasetKey":"3f8c5321-4081-46fc-84ef-27c12735c3a5","publishingOrgKey":"ff265032-b806-411a-b4b8-15a27b767dce","networkKeys":["2b7c7b4f-4d4f-40d3-94de-c28b6fa054a6"],"installationKey":"56b3ccf5-ad40-433f-997e-1eeb565a5889","hostingOrganizationKey":"ff265032-b806-411a-b4b8-15a27b767dce","publishingCountry":"NO","protocol":"EML","lastCrawled":"2026-07-13T15:48:14.311+00:00","lastParsed":"2026-07-18T14:45:24.921+00:00","crawlId":10,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","individualCount":2,"occurrenceStatus":"PRESENT","classifications":{"7ddf754f-d193-4cc9-b351-99906754a03b":{"usage":{"key":"6XCXT","name":"Salmo
        salar Linnaeus, 1758","rank":"SPECIES","code":"ZOOLOGICAL","authorship":"Linnaeus,
        1758","genericName":"Salmo","specificEpithet":"salar","formattedName":"<i>Salmo</i>
        <i>salar</i> Linnaeus, 1758"},"acceptedUsage":{"key":"6XCXT","name":"Salmo
        salar Linnaeus, 1758","rank":"SPECIES","code":"ZOOLOGICAL","authorship":"Linnaeus,
        1758","genericName":"Salmo","specificEpithet":"salar","formattedName":"<i>Salmo</i>
        <i>salar</i> Linnaeus, 1758"},"taxonomicStatus":"ACCEPTED","classification":[{"key":"CS5HF","name":"Eukaryota","rank":"DOMAIN"},{"key":"N","name":"Animalia","rank":"KINGDOM"},{"key":"CH2","name":"Chordata","rank":"PHYLUM"},{"key":"8V4V3","name":"Vertebrata","rank":"SUBPHYLUM"},{"key":"8V4V5","name":"Gnathostomata","rank":"INFRAPHYLUM"},{"key":"8VVWB","name":"Osteichthyes","rank":"PARVPHYLUM"},{"key":"8VR36","name":"Actinopterygii","rank":"GIGACLASS"},{"key":"KTWM8","name":"Actinopteri","rank":"SUPERCLASS"},{"key":"8V4VD","name":"Teleostei","rank":"CLASS"},{"key":"3ZR","name":"Salmoniformes","rank":"ORDER"},{"key":"KVRVN","name":"Salmonidae","rank":"FAMILY"},{"key":"KVRVP","name":"Salmoninae","rank":"SUBFAMILY"},{"key":"KVRR8","name":"Salmo","rank":"GENUS"},{"key":"6XCXT","name":"Salmo
        salar","rank":"SPECIES"}],"iucnRedListCategoryCode":"NT","issues":[]},"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c":{"usage":{"key":"7595433","name":"Salmo
        salar Linnaeus, 1758","rank":"SPECIES","code":"ZOOLOGICAL","authorship":"Linnaeus,
        1758","genericName":"Salmo","specificEpithet":"salar","formattedName":"<i>Salmo</i>
        <i>salar</i> Linnaeus, 1758"},"acceptedUsage":{"key":"7595433","name":"Salmo
        salar Linnaeus, 1758","rank":"SPECIES","code":"ZOOLOGICAL","authorship":"Linnaeus,
        1758","genericName":"Salmo","specificEpithet":"salar","formattedName":"<i>Salmo</i>
        <i>salar</i> Linnaeus, 1758"},"taxonomicStatus":"ACCEPTED","classification":[{"key":"1","name":"Animalia","rank":"KINGDOM"},{"key":"44","name":"Chordata","rank":"PHYLUM"},{"key":"1313","name":"Salmoniformes","rank":"ORDER"},{"key":"8615","name":"Salmonidae","rank":"FAMILY"},{"key":"2347608","name":"Salmo","rank":"GENUS"},{"key":"7595433","name":"Salmo
        salar","rank":"SPECIES"}],"iucnRedListCategoryCode":"NT","issues":[]}},"taxonKey":7595433,"kingdomKey":1,"phylumKey":44,"orderKey":1313,"familyKey":8615,"genusKey":2347608,"speciesKey":7595433,"acceptedTaxonKey":7595433,"scientificName":"Salmo
        salar Linnaeus, 1758","scientificNameAuthorship":"Linnaeus, 1758","acceptedScientificName":"Salmo
        salar Linnaeus, 1758","kingdom":"Animalia","phylum":"Chordata","order":"Salmoniformes","family":"Salmonidae","genus":"Salmo","species":"Salmo
        salar","genericName":"Salmo","specificEpithet":"salar","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","iucnRedListCategory":"NT","decimalLatitude":68.168,"decimalLongitude":6.369,"depth":5.0,"depthAccuracy":5.0,"gadm":{},"year":2021,"month":7,"day":14,"eventDate":"2021-07-14T01:50:45Z/2021-07-14T02:21:16Z","startDayOfYear":195,"endDayOfYear":195,"issues":["GEODETIC_DATUM_ASSUMED_WGS84","COUNTRY_DERIVED_FROM_COORDINATES"],"modified":"2026-04-15T10:39:03.000+00:00","lastInterpreted":"2026-07-18T14:45:24.921+00:00","license":"http://creativecommons.org/licenses/by/4.0/legalcode","organismQuantity":0.232,"organismQuantityType":"biomass
        in kilograms (kg)","isSequenced":false,"identifiers":[{"identifier":"IMR2021817-37589-127186"}],"media":[],"facts":[],"relations":[],"isInCluster":false,"datasetName":"imr_fish","samplingProtocol":"pelagic
        trawl nets","dnaSequenceID":[],"nucleotideSequence":[],"geodeticDatum":"WGS84","countryCode":"NO","recordedByIDs":[],"identifiedByIDs":[],"gbifRegion":"EUROPE","country":"Norway","publishedByGbifRegion":"EUROPE","rightsHolder":"https://ror.org/05vg74d16","eventID":"IMR2021817-37589","identifier":"IMR2021817-37589-127186","institutionID":"https://ror.org/05vg74d16","scientificNameID":"urn:lsid:marinespecies.org:taxname:127186","http://unknown.org/crawl_attempt":"10","footprintWKT":"LINESTRING(6.369
        68.168,6.4745 68.1665)","gbifID":"6396167231","language":"en","occurrenceID":"IMR2021817-37589-127186","type":"Occurrence","taxonID":"127186","institutionCode":"IMR","parentEventID":"IMR2021817"},{"key":6396382135,"datasetKey":"3f8c5321-4081-46fc-84ef-27c12735c3a5","publishingOrgKey":"ff265032-b806-411a-b4b8-15a27b767dce","networkKeys":["2b7c7b4f-4d4f-40d3-94de-c28b6fa054a6"],"installationKey":"56b3ccf5-ad40-433f-997e-1eeb565a5889","hostingOrganizationKey":"ff265032-b806-411a-b4b8-15a27b767dce","publishingCountry":"NO","protocol":"EML","lastCrawled":"2026-07-13T15:48:14.311+00:00","lastParsed":"2026-07-18T14:45:24.555+00:00","crawlId":10,"extensions":{},"basisOfRecord":"HUM[...]
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&depth=5-10&taxonKey=7595433
  response:
    status: 400
    headers:
      status: HTTP/1.1 400 Bad Request
      content-type: text/plain
      x-varnish-rli: '15'
      x-varnish-rlg: '250'
    body:
      string: 'Invalid decimal range: 5-10'
  recorded_at: 2026-08-13 12:38:17
recorded_with: VCR-vcr/2.0.0
