http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"DWCA","predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"3K5TS","checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},{"type":"in","key":"COUNTRY","values":["US","CA"]},{"type":"greaterThanOrEquals","key":"YEAR","value":"1975"}]},"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0007689-260928105237408
  recorded_at: 2026-10-02 09:10:06
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0007689-260928105237408
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0007689-260928105237408","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"3K5TS","checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},{"type":"in","key":"COUNTRY","values":["US","CA"]},{"type":"greaterThanOrEquals","key":"YEAR","value":"1975"}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-10-02T09:10:06.379+00:00","modified":"2026-10-02T09:10:06.379+00:00","eraseAfter":"2027-04-02T09:10:06.012+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0007689-260928105237408.zip","size":0,"totalRecords":27665,"numberDatasets":0}'
  recorded_at: 2026-10-02 09:10:06
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0007689-260928105237408
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0007689-260928105237408","doi":"10.15468/dl.ggkd6f","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"3K5TS","checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},{"type":"in","key":"COUNTRY","values":["US","CA"]},{"type":"greaterThanOrEquals","key":"YEAR","value":"1975"}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-10-02T09:10:06.379+00:00","modified":"2026-10-02T09:11:58.927+00:00","eraseAfter":"2027-04-02T09:10:06.012+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0007689-260928105237408.zip","size":9453540,"totalRecords":27665,"numberDatasets":226}'
  recorded_at: 2026-10-02 09:12:05
recorded_with: VCR-vcr/2.0.0
