http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0003983-140910143529206/datasets?limit=20&offset=0
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":254,"results":[{"downloadKey":"0003983-140910143529206","datasetKey":"865df020-f762-11e1-a439-00145eb45e9a","numberRecords":5721,"publishingCountryCode":"ZZ"},{"downloadKey":"0003983-140910143529206","datasetKey":"85802736-f762-11e1-a439-00145eb45e9a","numberRecords":2651,"publishingCountryCode":"US"},{"downloadKey":"0003983-140910143529206","datasetKey":"38b4c89f-584c-41bb-bd8f-cd1def33e92f","numberRecords":1762,"publishingCountryCode":"SE"},{"downloadKey":"0003983-140910143529206","datasetKey":"4fa894f4-b6c6-4ec0-b816-9bb03b3ca106","numberRecords":1580,"publishingCountryCode":"US"},{"downloadKey":"0003983-140910143529206","datasetKey":"9368f52[...]
