http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"SIMPLE_CSV","predicate":{"type":"and","predicates":[{"type":"and","predicates":[{"type":"equals","key":"HAS_GEOSPATIAL_ISSUE","value":"false"},{"type":"equals","key":"HAS_COORDINATE","value":"true"},{"type":"equals","key":"OCCURRENCE_STATUS","value":"PRESENT"},{"type":"not","predicate":{"type":"in","key":"BASIS_OF_RECORD","values":["FOSSIL_SPECIMEN","LIVING_SPECIMEN"]}}]},{"type":"equals","key":"TYPE_STATUS","value":"Allolectotype"}]},"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0007490-260928105237408
  recorded_at: 2026-10-02 06:48:42
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0007490-260928105237408
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0007490-260928105237408","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"and","predicates":[{"type":"equals","key":"HAS_GEOSPATIAL_ISSUE","value":"false"},{"type":"equals","key":"HAS_COORDINATE","value":"true"},{"type":"equals","key":"OCCURRENCE_STATUS","value":"PRESENT"},{"type":"not","predicate":{"type":"in","key":"BASIS_OF_RECORD","values":["FOSSIL_SPECIMEN","LIVING_SPECIMEN"]}}]},{"type":"equals","key":"TYPE_STATUS","value":"Allolectotype"}]},"sendNotification":false,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-10-02T06:48:41.715+00:00","modified":"2026-10-02T06:48:41.715+00:00","eraseAfter":"2027-04-02T06:48:41.658+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0007490-260928105237408.zip","size":0,"totalRecords":23,"numberDatasets":0}'
  recorded_at: 2026-10-02 06:48:42
recorded_with: VCR-vcr/2.0.0
