http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/countries
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"UNITED_STATES":1109093996,"FRANCE":205132922,"CANADA":181738840,"UNITED_KINGDOM":181600562,"SWEDEN":160156132,"AUSTRALIA":142055144,"NETHERLANDS":128053161,"SPAIN":76859957,"GERMANY":64094219,"DENMARK":61394303,"NORWAY":55231278,"INDIA":52190210,"FINLAND":48040543,"SOUTH_AFRICA":42854586,"BELGIUM":42168884,"BRAZIL":36433878,"MEXICO":35281007,"COLOMBIA":33765383,"COSTA_RICA":32296954,"SWITZERLAND":28848856,"PORTUGAL":23344870,"TAIWAN":22038211,"RUSSIAN_FEDERATION":16496531,"POLAND":16135731,"JAPAN":15744288,"NEW_ZEALAND":15650184,"ARGENTINA":15422393,"AUSTRIA":13437445,"ECUADOR":12346941,"CHINA":11617245,"CHILE":11300359,"PERU":9723781,"ITALY":8382258,"PANAMA":8343298,"ESTONIA":8261506,"KOREA_SOUTH":8064255,"ISRAEL":7315050,"BELIZE":6758869,"THAILAND":6641060,"IRELAND":5180938,"GUATEMALA":4900779,"VENEZUELA":4777612,"KENYA":4685915,"CZECH_REPUBLIC":4580556,"INDONESIA":4542701,"PUERTO_RICO":4232685,"MALAYSIA":4051010,"TURKEY":3823812,"UKRAINE":3635382,"HONDURAS":3594489,"GREECE":3490458,"LUXEMBOURG":3378987,"ANTARCTICA":3301674,"MADAGASCAR":3100126,"TANZANIA":3064587,"PHILIPPINES":3058052,"BOLIVIA":2639640,"UGANDA":2414850,"SRI_LANKA":2385346,"PAPUA_NEW_GUINEA":2363079,"ICELAND":2267837,"CUBA":2176609,"NICARAGUA":2151034,"HUNGARY":2079986,"BULGARIA":1984625,"UNITED_ARAB_EMIRATES":1982635,"SLOVAKIA":1900605,"HONG_KONG":1865749,"UNKNOWN":1793937,"URUGUAY":1771575,"MOROCCO":1736288,"SINGAPORE":1732765,"ALAND_ISLANDS":1718332,"NAMIBIA":1664847,"ISLE_OF_MAN":1656910,"PARAGUAY":1650984,"NEPAL":1492010,"CONGO_DEMOCRATIC_REPUBLIC":1390666,"SVALBARD_JAN_MAYEN":1328171,"EL_SALVADOR":1309862,"GEORGIA":1283731,"LITHUANIA":1279696,"ROMANIA":1254476,"TRINIDAD_TOBAGO":1241502,"CROATIA":1203849,"NIGERIA":1171613,"ETHIOPIA":1163453,"BAHAMAS":1144941,"BENIN":1144040,"IRAN":1123244,"VIETNAM":1066220,"NEW_CALEDONIA":1060456,"GHANA":1058539,"FRENCH_GUIANA":1056449,"ZIMBABWE":1010695,"GUYANA":1010056,"CAMEROON":1005172,"CAMBODIA":990536,"DOMINICAN_REPUBLIC":971127,"JAMAICA":967454,"SLOVENIA":962290,"ZAMBIA":949571,"SAUDI_ARABIA":944620,"BOTSWANA":924615,"SERBIA":897105,"VIRGIN_ISLANDS":850808,"RÉUNION":850238,"GABON":849576,"PAKISTAN":811384,"MOZAMBIQUE":776529,"SENEGAL":775919,"GUADELOUPE":772596,"AFGHANISTAN":746089,"MONGOLIA":733190,"GAMBIA":727488,"GREENLAND":721659,"EGYPT":709199,"BANGLADESH":704072,"BERMUDA":688330,"LATVIA":661491,"SURINAME":656065,"FRENCH_POLYNESIA":627470,"CÔTE_DIVOIRE":610199,"BHUTAN":601605,"PALESTINIAN_TERRITORY":597322,"CYPRUS":591152,"KAZAKHSTAN":573950,"BELARUS":572461,"OMAN":560593,"ALGERIA":463024,"MYANMAR":451243,"MALAWI":450673,"FIJI":431240,"AMERICAN_SAMOA":423235,"RWANDA":420328,"SOUTH_GEORGIA_SANDWICH_ISLANDS":394635,"CURAÇAO":385988,"ANGOLA":384697,"SYRIA":376317,"UNITED_STATES_OUTLYING_ISLANDS":370499,"CAYMAN_ISLANDS":369231,"LAO":327650,"BONAIRE_SINT_EUSTATIUS_SABA":324889,"KUWAIT":320239,"FAROE_ISLANDS":318616,"AZERBAIJAN":307984,"GUERNSEY":307459,"SOLOMON_ISLANDS":300711,"SEYCHELLES":295348,"HAITI":288340,"ARUBA":286026,"GUINEA":283248,"BURKINA_FASO":273112,"SWAZILAND":272969,"TUNISIA":272908,"NORTHERN_MARIANA_ISLANDS":267307,"ARMENIA":262482,"FALKLAND_ISLANDS":259895,"FRENCH_SOUTHERN_TERRITORIES":256071,"JERSEY":250806,"MARTINIQUE":243017,"KYRGYZSTAN":240240,"MICRONESIA":237175,"PALAU":236392,"ANGUILLA":234923,"LIBERIA":231713,"WESTERN_SAHARA":221013,"VANUATU":211364,"MALI":202411,"HEARD_MCDONALD_ISLANDS":199306,"LEBANON":194690,"SUDAN":192088,"MAURITANIA":191126,"BARBADOS":181507,"CAPE_VERDE":179344,"GUAM":179166,"KIRIBATI":178409,"MARSHALL_ISLANDS":174711,"UZBEKISTAN":174515,"ANDORRA":173875,"JORDAN":171515,"TONGA":166929,"GRENADA":164014,"CONGO":163433,"IRAQ":160633,"MAURITIUS":158051,"MONTENEGRO":157828,"MACEDONIA":152676,"SIERRA_LEONE":151789,"YEMEN":149680,"QATAR":145474,"MOLDOVA":144480,"ALBANIA":142700,"TOGO":142582,"CENTRAL_AFRICAN_REPUBLIC":140716,"EQUATORIAL_GUINEA":140618,"LESOTHO":140230,"TAJIKISTAN":133000,"SAO_TOME_PRINCIPE":127751,"DOMINICA":126600,"BURUNDI":125848,"NIGER":114705,"BOSNIA_HERZEGOVINA":114604,"MALDIVES":113934,"SAINT_LUCIA":102226,"MALTA":102038,"TIMOR_LESTE":95498,"SOMALIA":94402,"ANTIGUA_BARBUDA":93188,"NORFOLK_ISLAND":92811,"GUINEA_BISSAU":89969,"MAYOTTE":89107,"LIECHTENSTEIN":88282,"SAMOA":87439,"NIUE":84721,"CHAD":83616,"SAINT_MARTIN_FRENCH":82722,"VIRGIN_ISLANDS_BRITISH":80333,"BRUNEI_DARUSSALAM":79043,"KOREA_NORTH":78771,"TURKS_CAICOS_ISLANDS":78149,"SAINT_VINCENT_GRENADINES":76149,"COOK_ISLANDS":74656,"SAINT_PIERRE_MIQUELON":73477,"LIBYA":70431,"MACAO":65287,"TOKELAU":62775,"MONTSERRAT":57055,"TURKMENISTAN":54207,"WALLIS_FUTUNA":53517,"CHRISTMAS_ISLAND":51145,"SAINT_KITTS_NEVIS":50956,"COMOROS":50151,"SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA":49446,"GIBRALTAR":48018,"SINT_MAARTEN":43869,"BRITISH_INDIAN_OCEAN_TERRITORY":38542,"DJIBOUTI":36766,"KOSOVO":34423,"ERITREA":34000,"SOUTH_SUDAN":31032,"COCOS_ISLANDS":29723,"BAHRAIN":26677,"PITCAIRN":24111,"SAINT_BARTHÉLEMY":21633,"BOUVET_ISLAND":12613,"TUVALU":12271,"MONACO":7948,"NAURU":5543,"VATICAN":4048,"INTERNATIONAL_WATERS":3360,"SAN_MARINO":3324}'
  recorded_at: 2025-06-10 14:18:49 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif.org/v1/enumeration/country/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"iso2":"AF","iso3":"AFG","isoNumerical":"4","title":"Afghanistan","gbifRegion":"ASIA","enumName":"AFGHANISTAN"},{"iso2":"AX","iso3":"ALA","isoNumerical":"248","title":"Åland
        Islands","gbifRegion":"EUROPE","enumName":"ALAND_ISLANDS"},{"iso2":"AL","iso3":"ALB","isoNumerical":"8","title":"Albania","gbifRegion":"EUROPE","enumName":"ALBANIA"},{"iso2":"DZ","iso3":"DZA","isoNumerical":"12","title":"Algeria","gbifRegion":"AFRICA","enumName":"ALGERIA"},{"iso2":"AS","iso3":"ASM","isoNumerical":"16","title":"American
        Samoa","gbifRegion":"OCEANIA","enumName":"AMERICAN_SAMOA"},{"iso2":"A[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DK
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"DENMARK":59616930,"LITHUANIA":439437,"PERU":333587,"GREENLAND":228417[...]
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DK
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"DENMARK":59616930,"UNITED_STATES":685331,"UNITED_KINGDOM":293729,"SWEDEN":158858,"NETHERLANDS":120657,"BELGIUM":106190,"GERMANY":74283,"FRANCE":63344,"POLAND":51135,"ESTONIA":47927,"FINLAND":44530,"PORTUGAL":41193,"NORWAY":33235,"SPAIN":10909,"CANADA":9847,"UNKNOWN":9792,"AUSTRALIA":8128,"COLOMBIA":7372,"NEW_ZEALAND":2127,"RUSSIAN_FEDERATION":1682,"JAPAN":1411,"BRAZIL":985,"CHINA":913,"ARGENTINA":738,"CZECH_REPUBLIC":723,"SWITZERLAND":716,"AUSTRIA":716,"PANAMA":309,"SOUTH_AFRICA":114,"LUXEMBOURG":82,"VENEZUELA":78,"ITALY":70,"MEXICO":65,"ISRAEL":43,"BULGARIA":36,"TAIWAN":25,"GREECE":25,"ECUADOR":21,"UKRAINE":15,"LATVIA":6,"COSTA_RICA":5,"HUNGARY":3,"CHILE":3,"ANTARCTICA":2}'
  recorded_at: 2025-06-10 14:18:49 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"2023":287636569,"2022":270675651,"2021":253844541,"2020":222727912,"2019":193068215,"2018[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=1990%2C2000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"2000":23751975,"1999":22489981,"1998":18844329,"1997":18418050,"1995":17518727,"1996":17495382,"1994":15040282,"1993":14789149,"1992":13913152,"1991":13070259,"1990":12586629}'
  recorded_at: 2025-06-10 14:18:49 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"HUMAN_OBSERVATION":2754841072,"PRESERVED_SPECIMEN":264255834,"MATERIAL_SAMPLE":72060914,"MACHINE_OBSERVATION":25068278,"OCCURRENCE":20481477,"OBSERVATION":16763277,"FOSSIL_SPECIMEN":9757110,"MATERIAL_CITATION":8309117,"LIVING_SPECIMEN":3385488}'
  recorded_at: 2025-06-10 14:18:49 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
