http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=3&offset=0&taxonKey=9206251
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.4 rOpenSci(rgbif/1.2.0.9410)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":43817,"results":[{"key":1990481993,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-03-26T19:30:43.657+0000","lastParsed":"2019-03-19T20:59:48.916+0000","crawlId":155,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":9206251,"kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":414,"familyKey":3065,"genusKey":3119134,"speciesKey":9206251,"acceptedTaxonKey":9206251,"scientificName":"Helianthus
        annuus L.","acceptedScientificName":"Helianthus annuus L.","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asterales","family":"Asteraceae","genus":"Helianthus","species":"Helianthus
        annuus","genericName":"Helianthus","specificEpithet":"annuus","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","dateIdentified":"2019-01-12T19:44:54","decimalLongitude":-98.229859,"decimalLatitude":26.175213,"coordinateUncertaintyInMeters":10.0,"stateProvince":"Texas","year":2019,"month":1,"day":12,"eventDate":"2019-01-12T12:09:37","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2019-01-12T23:44:32.000+0000","lastInterpreted":"2019-03-19T21:05:35.371+0000","references":"https://www.inaturalist.org/observations/19594806","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/30165542/original.jpeg?1547322296","references":"https://www.inaturalist.org/photos/30165542","created":"2019-01-12T20:09:55.000+0000","creator":"John
        Brush","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"John
        Brush"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Magnoliopsida","countryCode":"US","country":"United
        States of America","rightsHolder":"John Brush","identifier":"19594806","verbatimEventDate":"2019-01-12
        12:09:37 PM CST","datasetName":"iNaturalist research-grade observations","gbifID":"1990481993","verbatimLocality":"516
        Bales Rd, McAllen, TX 78503, USA","collectionCode":"Observations","occurrenceID":"https://www.inaturalist.org/observations/19594806","taxonID":"57983","recordedBy":"John
        Brush","catalogNumber":"19594806","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/19594806","institutionCode":"iNaturalist","rights":"©
        John Brush some rights reserved","eventTime":"18:09:37Z","identificationID":"43037195"},{"key":1986613930,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-03-26T19:30:24.095+0000","lastParsed":"2019-03-19T20:59:23.725+0000","crawlId":155,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":9206251,"kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":4[...]
