http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=500&offset=0&datasetKey=7b5d6a48-f762-11e1-a439-00145eb45e9a
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":300,"endOfRecords":true,"count":177,"results":[{"key":240713157,"datasetKey":"7b5d6a48-f762-11e1-a439-00145eb45e9a","publishingOrgKey":"104e9c96-791b-4f14-978c-f581cb214912","networkKeys":["2b7c7b4f-4d4f-40d3-94de-c28b6fa054a6"],"installationKey":"27c24cba-13c5-47d1-96a1-16abd8f11437","publishingCountry":"GB","protocol":"DWC_ARCHIVE","lastCrawled":"2018-10-03T14:25:27.843+0000","lastParsed":"2018-07-23T09:40:36.037+0000","crawlId":74,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":8167686,"kingdomKey":4,"phylumKey":8376456,"classKey":7882876,"orderKey":8142878,"familyKey":7747923,"genusKey":8239499,"speciesKey":8162997,"acceptedTaxonKey":8162997,"scientificName":"Rhabdammina
        cornuta (Brady, 1879)","acceptedScientificName":"Astrorhizoides cornuta (Brady,
        1879)","kingdom":"Chromista","phylum":"Foraminifera","order":"Astrorhizida","family":"Astrorhizidae","genus":"Astrorhizoides","species":"Astrorhizoides
        cornuta","genericName":"Rhabdammina","specificEpithet":"cornuta","taxonRank":"SPECIES","taxonomicStatus":"SYNONYM","decimalLongitude":163.583,"decimalLatitude":-77.5667,"issues":["GEODETIC_DATUM_ASSUMED_WGS84"],"lastInterpreted":"2018-12-08T16:15:35.934+0000","license":"http://creativecommons.org/licenses/by/4.0/legalcode","identifiers":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Monothalamea","countryCode":"AQ","country":"Antarctica","identifier":"urn:catalog:BAS:CAML
        - Foraminifera:121","catalogNumber":"121","scientificNameID":"urn:lsid:marinespecies.org:taxname:113899","institutionCode":"BAS","locality":"Explorers
        Cove","datasetID":"IMIS:dasid:1775","gbifID":"240713157","collectionCode":"CAML
        - Foraminifera","occurrenceRemarks":"GenBankID: AJ307829","bibliographicCitation":"Holzmann,M.","occurrenceID":"urn:catalog:BAS:CAML
        - Foraminifera:121"},{"key":240713184,"datasetKey":"7b5d6a48-f762-11e1-a439-00145eb45e9a","publishingOrgKey":"104e9c96-791b-4f14-978c-f581cb214912","networkKeys":["2b7c7b4f-4d4f-40d3-94de-c28b6fa054a6"],"installationKey":"27c24cba-13c5-47d1-96a1-16abd8f11437","publishingCountry":"GB","protocol":"DWC_ARCHIVE","lastCrawled":"2018-10-03T14:25:27.822+0000","lastParsed":"2018-07-23T09:40:36.001+0000","crawlId":74,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxon[...]
