http_interactions:
- request:
    method: post
    uri: https://api.gbif-uat.org/v1/occurrence/download/request
    body:
      encoding: ''
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"DWCA","predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ"},{"type":"equals","key":"YEAR","value":"1993"},{"type":"equals","key":"MONTH","value":"1"}]}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: 0000005-230824125624414
  recorded_at: 2023-08-29 14:05:00 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif-uat.org/v1/occurrence/download/0000005-230824125624414
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"key":"0000005-230824125624414","doi":"10.21373/dl.p3j4wm","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ","matchCase":false},{"type":"equals","key":"YEAR","value":"1993","matchCase":false},{"type":"equals","key":"MONTH","value":"1","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2023-08-29T14:03:55.752+00:00","modified":"2023-08-29T14:03:55.752+00:00","eraseAfter":"2024-02-29T14:03:55.681+00:00","status":"PREPARING","downloadLink":"https://api.gbif-uat.org/v1/occurrence/download/request/0000005-230824125624414.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2023-08-29 14:05:00 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
[...]
