http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"SPECIES_LIST","predicate":{"type":"greaterThanOrEquals","key":"DECIMAL_LATITUDE","value":"75"},"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0019895-260806074905277
  recorded_at: 2026-08-17 12:47:56
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0019895-260806074905277
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0019895-260806074905277","license":"unspecified","request":{"predicate":{"type":"greaterThanOrEquals","key":"DECIMAL_LATITUDE","value":"75","matchCase":false},"sendNotification":false,"format":"SPECIES_LIST","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-08-17T12:47:56.053+00:00","modified":"2026-08-17T12:47:56.053+00:00","eraseAfter":"2027-02-17T12:47:55.353+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0019895-260806074905277.zip","size":0,"totalRecords":2347178,"numberDatasets":0}'
  recorded_at: 2026-08-17 12:47:56
recorded_with: VCR-vcr/2.0.0
