http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=0&facet=country&facet=basisOfRecord&facet=hasCoordinate&country.facetLimit=3&basisOfRecord.facetLimit=6
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.4.0.95)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":1635145880,"results":[],"facets":[{"field":"HAS_COORDINATE","counts":[{"name":"true","count":1536353338},{"name":"false","count":98792542}]},{"field":"BASIS_OF_RECORD","counts":[{"name":"HUMAN_OBSERVATION","count":1358970691},{"name":"PRESERVED_SPECIMEN","count":178880650},{"name":"MATERIAL_SAMPLE","count":32882617},{"name":"UNKNOWN","count":18990433},{"name":"OBSERVATION","count":18662617},{"name":"MACHINE_OBSERVATION","count":12780841}]},{"field":"COUNTRY","counts":[{"name":"US","count":558106273},{"name":"AU","count":98066651},{"name":"SE","count":97829728}]}]}'
  recorded_at: 2020-12-09 00:02:49 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
