http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=500&offset=0&catalogNumber=PlantAndMushroom.6845144
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rgbif/3.4.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":300,"endOfRecords":true,"count":0,"results":[],"facets":[]}'
  recorded_at: 2020-12-07 17:13:36 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
