http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"DWCA","predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ"},{"type":"equals","key":"YEAR","value":"1993"},{"type":"equals","key":"MONTH","value":"1"}]},"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0015451-260806074905277
  recorded_at: 2026-08-14 12:41:15
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0015451-260806074905277
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0015451-260806074905277","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ","matchCase":false},{"type":"equals","key":"YEAR","value":"1993","matchCase":false},{"type":"equals","key":"MONTH","value":"1","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-08-14T12:41:15.487+00:00","modified":"2026-08-14T12:41:15.487+00:00","eraseAfter":"2027-02-14T12:41:15.390+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0015451-260806074905277.zip","size":0,"totalRecords":15439,"numberDatasets":0}'
  recorded_at: 2026-08-14 12:41:15
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0015452-260806074905277
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0015452-260806074905277","doi":"10.15468/dl.zcrwyy","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"CATALOG_NUMBER","value":"Bird.27847588","matchCase":false},{"type":"equals","key":"YEAR","value":"1971","matchCase":false},{"type":"equals","key":"MONTH","value":"4","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-08-14T12:41:17.678+00:00","modified":"2026-08-14T12:43:29.225+00:00","eraseAfter":"2027-02-14T12:41:17.543+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0015452-260806074905277.zip","size":8301,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2026-08-14 12:43:46
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0019843-260806074905277
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0019843-260806074905277","doi":"10.15468/dl.ntbzuh","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"2435240","matchCase":false,"checklistKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c"},{"type":"equals","key":"YEAR","value":"1974","matchCase":false},{"type":"equals","key":"MONTH","value":"2","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c"},"created":"2026-08-17T12:10:16.873+00:00","modified":"2026-08-17T12:11:39.915+00:00","eraseAfter":"2027-02-17T12:10:11.625+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0019843-260806074905277.zip","size":19757,"totalRecords":8,"numberDatasets":3}'
  recorded_at: 2026-08-17 12:11:42
recorded_with: VCR-vcr/2.0.0
