http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/countries
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"UNITED_STATES":822383378,"FRANCE":139963190,"CANADA":134232311,"SWEDEN":120519976,"AUSTRALIA":115390023,"UNITED_KINGDOM":111620041,"NETHERLANDS":89805409,"SPAIN":56270472,"DENMARK":50927070,"GERMANY":50477717,"NORWAY":49331783,"FINLAND":38145259,"BELGIUM":35222358,"SOUTH_AFRICA":34443029,"INDIA":32341156,"MEXICO":26827809,"BRAZIL":25043540,"COSTA_RICA":21253047,"COLOMBIA":20960428,"SWITZERLAND":19160835,"PORTUGAL":17578093,"TAIWAN":15442690,"JAPAN":11457255,"NEW_ZEALAND":11409740,"RUSSIAN_FEDERATION":10707571,"ARGENTINA":10252686,"CHINA":9758707,"AUSTRIA":8594059,"ECUADOR":7955556,"ESTONIA":7643199,"PERU":7246025,"POLAND":6725924,"KOREA_SOUTH":6380409,"ITALY":5916434,"PANAMA":5812362,"CHILE":5173587,"BELIZE":5124894,"ISRAEL":4210471,"THAILAND":4043243,"GUATEMALA":3563606,"IRELAND":3510763,"KENYA":3452481,"INDONESIA":3256237,"VENEZUELA":3129269,"PUERTO_RICO":3042850,"ANTARCTICA":2973815,"LUXEMBOURG":2860155,"HONDURAS":2811120,"MALAYSIA":2706564,"TURKEY":2691034,"CZECH_REPUBLIC":2579521,"GREECE":2326967,"PHILIPPINES":2176836,"UKRAINE":2104176,"TANZANIA":2027430,"MADAGASCAR":2017195,"BOLIVIA":2016993,"NAMIBIA":1900381,"ICELAND":1891573,"PAPUA_NEW_GUINEA":1814222,"UNKNOWN":1762080,"CUBA":1588697,"NICARAGUA":1545236,"ALAND_ISLANDS":1513715,"UNITED_ARAB_EMIRATES":1457424,"UGANDA":1442256,"SRI_LANKA":1370324,"PARAGUAY":1312695,"HONG_KONG":1213891,"CONGO_DEMOCRATIC_REPUBLIC":1191803,"ISLE_OF_MAN":1186639,"MOROCCO":1174851,"ZIMBABWE":1132391,"URUGUAY":1078589,"BENIN":1072934,"SINGAPORE":1066626,"HUNGARY":1052775,"LITHUANIA":1019548,"EL_SALVADOR":974263,"GEORGIA":964056,"TRINIDAD_TOBAGO":955475,"BAHAMAS":934894,"BULGARIA":932022,"NEPAL":892187,"ETHIOPIA":890918,"NEW_CALEDONIA":880257,"FRENCH_GUIANA":846998,"BOTSWANA":835682,"VIRGIN_ISLANDS":818087,"IRAN":808513,"RÉUNION":799305,"VIETNAM":788503,"ROMANIA":782795,"JAMAICA":743619,"GUYANA":743300,"CAMEROON":737460,"MOZAMBIQUE":727957,"NIGERIA":714984,"AFGHANISTAN":711683,"SLOVENIA":709013,"GHANA":695707,"CROATIA":690399,"CAMBODIA":688214,"DOMINICAN_REPUBLIC":684708,"GREENLAND":641437,"GUADELOUPE":626543,"ZAMBIA":624042,"SLOVAKIA":621832,"SVALBARD_JAN_MAYEN":617832,"SERBIA":603439,"GABON":596614,"BERMUDA":576154,"SENEGAL":569021,"FRENCH_POLYNESIA":561987,"PAKISTAN":539794,"SURINAME":521473,"LATVIA":508362,"MONGOLIA":502084,"EGYPT":484363,"GAMBIA":449835,"CÔTE_DIVOIRE":437925,"BANGLADESH":436639,"SAUDI_ARABIA":433510,"AMERICAN_SAMOA":413999,"OMAN":400948,"MYANMAR":371560,"BHUTAN":367019,"KAZAKHSTAN":348567,"BELARUS":343603,"SOUTH_GEORGIA_SANDWICH_ISLANDS":342170,"SWAZILAND":337945,"MALAWI":336282,"FIJI":329963,"CYPRUS":308310,"ANGOLA":302887,"UNITED_STATES_OUTLYING_ISLANDS":297227,"ALGERIA":296374,"FAROE_ISLANDS":290408,"KUWAIT":278066,"PALESTINIAN_TERRITORY":277286,"CURAÇAO":276937,"HAITI":259551,"RWANDA":257400,"FRENCH_SOUTHERN_TERRITORIES":253050,"BURKINA_FASO":246962,"NORTHERN_MARIANA_ISLANDS":240709,"CAYMAN_ISLANDS":236233,"SEYCHELLES":236098,"LAO":234589,"AZERBAIJAN":232036,"SOLOMON_ISLANDS":226094,"ANGUILLA":225084,"TUNISIA":222894,"MICRONESIA":222302,"GUINEA":221326,"PALAU":205068,"MARTINIQUE":204908,"BONAIRE_SINT_EUSTATIUS_SABA":199235,"ARUBA":197217,"HEARD_MCDONALD_ISLANDS":190034,"VANUATU":186443,"ARMENIA":181003,"FALKLAND_ISLANDS":176992,"KYRGYZSTAN":174155,"KIRIBATI":173037,"LIBERIA":171146,"GUAM":160828,"TONGA":156077,"SUDAN":156060,"MARSHALL_ISLANDS":152387,"ANDORRA":147874,"CAPE_VERDE":145438,"MALI":144898,"BARBADOS":140761,"WESTERN_SAHARA":138613,"MAURITANIA":137650,"SYRIA":136882,"CONGO":131915,"MAURITIUS":126128,"LESOTHO":120541,"TOGO":120063,"CENTRAL_AFRICAN_REPUBLIC":114504,"LEBANON":114008,"YEMEN":113812,"QATAR":108957,"UZBEKISTAN":105901,"MACEDONIA":104971,"EQUATORIAL_GUINEA":103301,"DOMINICA":102884,"IRAQ":102511,"BURUNDI":101956,"NIGER":98658,"GRENADA":97430,"SIERRA_LEONE":97316,"MOLDOVA":97252,"JORDAN":92964,"MALDIVES":86736,"MONTENEGRO":82849,"NIUE":82032,"MAYOTTE":79153,"TAJIKISTAN":78623,"TIMOR_LESTE":75492,"CHAD":73706,"JERSEY":72989,"BOSNIA_HERZEGOVINA":72418,"ALBANIA":71976,"SAMOA":71411,"SAINT_MARTIN_FRENCH":70058,"SAINT_LUCIA":69859,"VIRGIN_ISLANDS_BRITISH":69246,"SOMALIA":66631,"SAO_TOME_PRINCIPE":64892,"NORFOLK_ISLAND":63118,"ANTIGUA_BARBUDA":62727,"MALTA":62726,"TOKELAU":62568,"GUINEA_BISSAU":62369,"LIECHTENSTEIN":62050,"COOK_ISLANDS":61739,"GUERNSEY":59470,"LIBYA":58782,"KOREA_NORTH":56689,"TURKS_CAICOS_ISLANDS":54098,"SAINT_PIERRE_MIQUELON":53905,"WALLIS_FUTUNA":51326,"BRUNEI_DARUSSALAM":49401,"TURKMENISTAN":47998,"SAINT_VINCENT_GRENADINES":46156,"COMOROS":43564,"MONTSERRAT":42304,"CHRISTMAS_ISLAND":37737,"SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA":36213,"SAINT_KITTS_NEVIS":35051,"BRITISH_INDIAN_OCEAN_TERRITORY":33008,"DJIBOUTI":33007,"SINT_MAARTEN":32194,"ERITREA":27213,"KOSOVO":26551,"SOUTH_SUDAN":23809,"PITCAIRN":22102,"SAINT_BARTHÉLEMY":20200,"COCOS_ISLANDS":17646,"BAHRAIN":16636,"MACAO":14056,"GIBRALTAR":13796,"BOUVET_ISLAND":13276,"TUVALU":9922,"NAURU":5306,"MONACO":5080,"SAN_MARINO":2229,"VATICAN":1961,"INTERNATIONAL_WATERS":774}'
  recorded_at: 2023-03-22 11:33:34 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.gbif.org/v1/enumeration/country/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"iso2":"AF","iso3":"AFG","isoNumerical":"4","title":"Afghanistan","gbifRegion":"ASIA","enumName":"AFGHANISTAN"},{"iso2":"AX","iso3":"ALA","isoNumerical":"248","title":"Åland
        Islands","gbifRegion":"EUROPE","enumName":"ALAND_ISLANDS"},{"iso2":"AL","iso3":"ALB","isoNumerical":"8","title":"Albania","gbifRegion":"EUROPE","enumName":"ALBANIA"},{"iso2":"DZ","iso3":"DZA","isoNumerical":"12","title":"Algeria","gbifRegion":"AFRICA","enumName":"ALGERIA"},{"iso2":"AS","iso3":"ASM","isoNumerical":"16","title":"American
        Samoa","gbifRegion":"OCEANIA","enumName":"AMERICAN_SAMOA"},{"iso2":"A[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DK
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"DENMARK":49692122,"LITHUANIA":439429,"PERU":329996,"GREENLAND":169039[...]
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DK
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"DENMARK":49692122,"UNITED_STATES":395661,"UNITED_KINGDOM":370338,"SWEDEN":105954,"NETHERLANDS":69686,"GERMANY":63527,"FRANCE":55244,"ESTONIA":47710,"FINLAND":39924,"NORWAY":31907,"COLOMBIA":7370,"AUSTRALIA":5902,"SPAIN":4676,"BELGIUM":3995,"CANADA":3965,"SWITZERLAND":2430,"POLAND":2342,"RUSSIAN_FEDERATION":1676,"NEW_ZEALAND":1604,"JAPAN":1381,"BRAZIL":939,"CHINA":913,"CZECH_REPUBLIC":659,"AUSTRIA":572,"PORTUGAL":541,"ARGENTINA":260,"SOUTH_AFRICA":91,"VENEZUELA":78,"MEXICO":40,"ITALY":27,"PANAMA":26,"BULGARIA":25,"LUXEMBOURG":19,"ISRAEL":13,"TAIWAN":12,"COSTA_RICA":2,"ECUADOR":1}'
  recorded_at: 2023-03-22 11:33:34 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"2021":231449530,"2020":207191106,"2019":173103920,"2018":155216501,"2017":130992187,"2016[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=1990%2C2000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"2000":20113980,"1999":19301051,"1998":16213170,"1997":15859119,"1995":15143086,"1996":14965010,"1994":13249343,"1993":13069084,"1992":12838672,"1990":12686549,"1991":11921769}'
  recorded_at: 2023-03-22 11:33:34 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"HUMAN_OBSERVATION":1975626614,"PRESERVED_SPECIMEN":219722434,"MATERIAL_SAMPLE":52105387,"OBSERVATION":23398982,"OCCURRENCE":20387007,"MACHINE_OBSERVATION":15099873,"FOSSIL_SPECIMEN":10126621,"MATERIAL_CITATION":3076780,"LIVING_SPECIMEN":1959798}'
  recorded_at: 2023-03-22 11:33:34 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
