http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=30&offset=0&taxonKey=2482598
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":30,"endOfRecords":false,"count":709564,"results":[{"key":1986628436,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-02-25T02:13:25.118+0000","lastParsed":"2019-01-13T23:39:14.795+0000","crawlId":151,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":2482598,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":729,"familyKey":5235,"genusKey":2482592,"speciesKey":2482598,"acceptedTaxonKey":2482598,"scientificName":"Cyanocitta
        stelleri (Gmelin, 1788)","acceptedScientificName":"Cyanocitta stelleri (Gmelin,
        1788)","kingdom":"Animalia","phylum":"Chordata","order":"Passeriformes","family":"Corvidae","genus":"Cyanocitta","species":"Cyanocitta
        stelleri","genericName":"Cyanocitta","specificEpithet":"stelleri","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","dateIdentified":"2019-01-10T19:54:00","decimalLongitude":-92.661838,"decimalLatitude":16.723328,"coordinateUncertaintyInMeters":56.0,"stateProvince":"Chiapas","year":2019,"month":1,"day":4,"eventDate":"2019-01-04T08:16:00","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2019-01-10T23:38:41.000+0000","lastInterpreted":"2019-01-13T23:39:38.560+0000","references":"https://www.inaturalist.org/observations/19556981","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/30100870/original.jpeg?1547148183","references":"https://www.inaturalist.org/photos/30100870","created":"2019-01-04T16:16:34.000+0000","creator":"Luis
        Correa","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"Luis
        Correa"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Aves","countryCode":"MX","country":"Mexico","rightsHolder":"Luis
        Correa","identifier":"19556981","verbatimEventDate":"2019/01/04 8:16 AM CST","datasetName":"iNaturalist
        research-grade observations","gbifID":"1986628436","verbatimLocality":"Barrio
        de Fatima, 29264 San Cristóbal de las Casas, Chis., México","collectionCode":"Observations","occurrenceID":"https://www.inaturalist.org/observations/19556981","taxonID":"8234","catalogNumber":"19556981","recordedBy":"Luis
        Correa","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/19556981","institutionCode":"iNaturalist","rights":"©
        Luis Correa some rights reserved","eventTime":"14:16:00Z","identificationID":"42913738"},{"key":1986594248,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-02-25T02:13:11.289+0000","lastParsed":"2019-01-13T23:38:59.276+0000","crawlId":151,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":2482598,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":729,"f[...]
[...]
