http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?q=kingfisher&limit=1&offset=0&spellCheck=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":650614,"results":[{"key":145539424,"datasetKey":"82cb293c-f762-11e1-a439-00145eb45e9a","publishingOrgKey":"95f1c5d0-8996-11d9-a962-b8a03c50a862","networkKeys":[],"installationKey":"5ff60d1e-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2018-03-06T17:26:44.033+0000","lastParsed":"2018-03-06T17:27:02.340+0000","crawlId":44,"extensions":{},"basisOfRecord":"OBSERVATION","taxonKey":9576216,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":1446,"familyKey":5233,"genusKey":2495346,"speciesKey":9576216,"acceptedTaxonKey":9576216,"scientificName":"Zenaida
        macroura Linnaeus, 1758","acceptedScientificName":"Zenaida macroura Linnaeus,
        1758","kingdom":"Animalia","phylum":"Chordata","order":"Columbiformes","family":"Columbidae","genus":"Zenaida","species":"Zenaida
        macroura","genericName":"Zenaida","specificEpithet":"macroura","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","decimalLongitude":-97.93597,"decimalLatitude":35.851257,"stateProvince":"Oklahoma","year":2006,"month":2,"day":20,"eventDate":"2006-02-20T00:00:00","issues":["GEODETIC_DATUM_ASSUMED_WGS84"],"lastInterpreted":"2018-12-19T10:40:45.417+0000","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","identifiers":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Aves","countryCode":"US","country":"United
        States of America","identifier":"145539424","catalogNumber":"OBS29976858","institutionCode":"CLO","county":"Kingfisher","locality":"73750
        Kingfisher","gbifID":"145539424","collectionCode":"GBBC"}],"facets":[],"spellCheckResponse":{"correctlySpelled":true}}'
  recorded_at: 2019-02-26 15:33:06 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?q=kajsdkla&limit=20&offset=0&spellCheck=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":20,"endOfRecords":true,"count":0,"results":[],"facets":[],"spellCheckResponse":{"correctlySpelled":false,"suggestions":{"kassukla":{"numFound":1,"alternatives":["kassukla"]}}}}'
  recorded_at: 2019-02-26 15:33:06 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?q=helir&limit=20&offset=0&spellCheck=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":20,"endOfRecords":true,"count":0,"results":[],"facets":[],"spellCheckResponse":{"correctlySpelled":false,"suggestions":{"heldr":{"numFound":34537,"alternatives":["heldr"]},"helix":{"numFound":567968,"alternatives":["helix"]},"helia":{"numFound":2582,"alternatives":["helia"]}}}}'
  recorded_at: 2019-02-26 15:33:06 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
