http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=500&year=2013&offset=0&taxonKey=3189815
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/search?limit=500&year=2013&offset=0&taxonKey=3189815
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":300,"endOfRecords":false,"count":1272,"results":[{"key":1037787610,"datasetKey":"271c444f-f8d8-4986-b748-e7367755c0c1","publishingOrgKey":"1cd669d0-80ea-11de-a9d0-f1765f95f18b","networkKeys":[],"installationKey":"9f25fd85-85dc-4dcd-a1b4-b31165442e2b","publishingCountry":"BE","protocol":"DWC_ARCHIVE","lastCrawled":"2018-09-24T14:54:42.454+0000","lastParsed":"2016-03-04T11:33:07.200+0000","crawlId":103,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":3189815,"kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":933,"familyKey":6657,"genusKey":3189801,"speciesKey":3189815,"scientificName":"Aesculus
        hippocastanum L.","kingdom":"Plantae","phylum":"Tracheophyta","order":"Sapindales","family":"Sapindaceae","genus":"Aesculus","species":"Aesculus
        hippocastanum","genericName":"Aesculus","specificEpithet":"hippocastanum","taxonRank":"SPECIES","decimalLongitude":4.53449,"decimalLatitude":51.46656,"coordinateUncertaintyInMeters":700.0,"continent":"EUROPE","year":2013,"month":1,"day":1,"eventDate":"2013-01-01T00:00:00.000+0000","issues":["REFERENCES_URI_INVALID"],"modified":"2014-10-20T00:00:00.000+0000","lastInterpreted":"2018-07-07T09:27:45.174+0000","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","identifiers":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Magnoliopsida","countryCode":"BE","country":"Belgium","identifier":"INBO:FLORA:04354614","nomenclaturalCode":"ICBN","verbatimEventDate":"2013-01-01/2013-12-31","dataGeneralizations":"The
        centroid coördinates of the IFBL square containing the occurence were given","verbatimCoordinateSystem":"IFBL
        1km","datasetName":"FLORABANK 1: a grid-based database on vascular plant distribution
        in the northern part of Belgium (Flanders and the Brussels Capital region)","gbifID":"1037787610","language":"nl","verbatimLocality":"Essen,
        Horendonkse Bossen","occurrenceID":"INBO:FLORA:04354614","type":"Event","catalogNumber":"04354614","recordedBy":"Joris
        Pinseel","institutionCode":"INBO","ownerInstitutionCode":"INBO","datasetID":"http://dataset.inbo.be/florabank1-occurrences","accessRights":"http://www.inbo.be/en/norms-for-data-use","bibliographicCitation":"Van
        Landuyt W, Vanhecke L, Brosens D (2012) Florabank 1: a grid-based database
        on vascular plant distribution in the northern part of Belgium (Flanders and
        the Brussels Capital region). PhytoKeys 12: 59–67. doi: team.3897/phytokeys.12.2849"},{"key":1867019032,"datasetKey":"bd8ee748-4ae8-4956-98d9-c1b8e8b2b9c9","publishingOrgKey":"1928bdf0-f5d2-11dc-8c12-b8a03c50a862","networkKeys":[],"installationKey":"07ea29ef-e386-4278-ae0f-095778a1b061","publishingCountry":"FR","proto[...]
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=500&month=6&offset=0&taxonKey=3189815
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/search?limit=500[...]
