http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"SIMPLE_CSV","predicate":{"type":"greaterThan","key":"ORGANISM_QUANTITY","value":"1"}}'
  response:
    status: 201
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json
    body:
      string: 0014176-250802193616735
  recorded_at: 2025-08-05 09:07:05
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0014176-250802193616735
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      string: '{"key":"0014176-250802193616735","license":"unspecified","request":{"predicate":{"type":"greaterThan","key":"ORGANISM_QUANTITY","value":"1","matchCase":false},"sendNotification":false,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-08-05T09:07:05.954+00:00","modified":"2025-08-05T09:07:05.954+00:00","eraseAfter":"2026-02-05T09:07:05.696+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0014176-250802193616735.zip","size":0,"totalRecords":102006913,"numberDatasets":0}'
  recorded_at: 2025-08-05 09:07:05
recorded_with: VCR-vcr/2.0.0
