http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?hasCoordinate=TRUE&elevation=1000&limit=500&offset=0&taxonKey=2435099
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":300,"endOfRecords":true,"count":7,"results":[{"key":1707667041,"datasetKey":"2a337d5a-a784-4f8a-a947-46d69e0fa3eb","publishingOrgKey":"2a7e3080-28a9-11dd-97cd-b8a03c50a862","networkKeys":[],"installationKey":"804b8dd0-07ac-4a30-bf92-3c1d862faf5e","publishingCountry":"CO","protocol":"DWC_ARCHIVE","lastCrawled":"2017-12-15T07:12:13.158+0000","lastParsed":"2017-12-15T07:12:13.240+0000","crawlId":76,"extensions":{},"basisOfRecord":"PRESERVED_SPECIMEN","taxonKey":2435099,"kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9703,"genusKey":2435098,"speciesKey":2435099,"acceptedTaxonKey":2435099,"scientificName":"Puma
        concolor (Linnaeus, 1771)","acceptedScientificName":"Puma concolor (Linnaeus,
        1771)","kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Felidae","genus":"Puma","species":"Puma
        concolor","genericName":"Puma","specificEpithet":"concolor","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","dateIdentified":"2013-06-01T00:00:00","decimalLongitude":-71.966389,"decimalLatitude":6.433056,"elevation":1000.0,"continent":"SOUTH_AMERICA","stateProvince":"Arauca","year":2013,"month":3,"day":23,"eventDate":"2013-03-23T00:00:00","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"lastInterpreted":"2018-12-09T20:10:21.300+0000","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Mammalia","countryCode":"CO","country":"Colombia","identifier":"IAvH:IAvH-M-9480","organismQuantity":"1","recordNumber":"NVZ-1645","county":"Tame","municipality":"Reserva
        Forestal Protectora Rio Tame","locality":"Reserva Forestal Protectora Rio
        Tame, Vereda Sabana de La Vieja","gbifID":"1707667041","collectionCode":"IAvH-M","occurrenceID":"IAvH:IAvH-M-9480","preparations":"Cráneo","catalogNumber":"IAvH-M-9480","recordedBy":"Nodier,  Vivas-Zamora
        |  Fernando ,  Forero","institutionCode":"Instituto de Investigación de Recursos
        Biológicos Alexander von Humboldt (IAvH)","organismQuantityType":"Individuo","identifiedBy":"Darwin
        Manuel, Morales"},{"key":1570685799,"datasetKey":"4502c3f2-9c75-47a5-9cbf-8f02eb519438","publishingOrgKey":"e1050db2-9faf-4d72-b860-295debaf9d2a","networkKeys":[],"installationKey":"2ec3e654-1407-4d5b-aa68-19e9c82b57a6","publishingCountry":"CO","protocol":"DWC_ARCHIVE","lastCrawled":"2018-12-20T21:19:58.592+0000","lastParsed":"2018-12-20T21:19:58.615+0000","crawlId":64,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":2435099,"kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9703,"genusKey":2435098,"speciesKey":2435099,"acceptedTaxonKey":2435099,"scientificName":"Puma
        concolor (Linnaeus, 1771)","acceptedScientificName":"Puma concolor (Linnaeus,
        1771)","kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Felidae","genus":"Puma","species":"Puma
        concolor","genericName":"Puma","specificEpithet":"concolor","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","decimalLongitude":-77.271111,"decimalLatitude":6.092778,"elevation":1000.0,"elevationAccuracy":0.0,"continent":"SOUTH_AMERICA","stateProvince":"Chocó","year":2011,"month":3,"day":1,"eventDate":"2011-03-01T00:00:00","issues":["COORDINATE_ROUNDED"],"modified":"2018-04-13T00:00:00.000+0000","lastInterpreted":"2018-12-20T21:19:58.664+0000","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Mammalia","countryCode":"CO","country":"Colombia","identifier":"IIAP_ALTODELBUEY_MAM_18","habitat":"Media
        montaña","verbatimEventDate":"2011-03-01/2011-03-10","higherGeography":"SA
        | Colombia | Chocó | Bahía Solano","institutionID":"818000156-8","endDayOfYear":"69","georeferenceVerificationStatus":"Requiere
        verificación","verbatimCoordinateSystem":"grados minutos segundos","county":"Bahía
        Solano","locality":"Municipio de Bahía Solano y colinda con el municipio de
        Bojayá","language":"es","gbifID":"1570685799","verbatimLocality":"Municipio
        de Bahía Slano y colinda con el municipio de Bojayá","occurrenceID":"IIAP_ALTODELBUEY_MAM_18","type":"Evento","recordedBy":"Cuesta
        R.E. | Moya R.J.","vernacularName":"León venado","institutionCode":"IIAP","previousIdentifications":"Puma
        concolor","startDayOfYear":"60","samplingProtocol":"Muestreo ecológico rápido|
        Entrevistas informales","verbatimElevation":"1000","higherClassification":"Animalia
        | Chordata | Mammalia | Carnivora | Felidae | Puma"},{"key":382131289,"datasetKey":"0409a304-cc5d-4af6-b509-5b6667905117","publishingOrgKey":"979dd240-16f7-11df-b5b3-b8a03c50a862","networkKeys":[],"installationKey":"254b8c8b-d0d3-4e6c-806c-a2f6d3a614ce","publishingCountry":"AR","protocol":"DWC_ARCHIVE","lastCrawled":"2015-05-13T17:43:18.886+0000","lastParsed":"2014-05-29T11:40:10.749+0000","crawlId":6,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":2435099,"kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9703,"genusKey":2435098,"speciesKey":2435099,"acceptedTaxonKey":2435099,"scientificName":"Puma
        concolor (Linnaeus, 1771)","acceptedScientificName":"Puma concolor (Linnaeus,
        1771)","kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Felidae","genus":"Puma","species":"Puma
        concolor","genericName":"Puma","specificEpithet":"concolor","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","decimalLongitude":-71.71084,"decimalLatitude":-42.14844,"coordinatePrecision":0.0,"elevation":1000.0,"elevationAccuracy":0.0,"depth":0.0,"depthAccuracy":0.0,"stateProvince":"Chubut","year":2007,"month":1,"day":19,"eventDate":"2007-01-19T00:00:00","issues":["GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2010-11-02T16:00:29.000+0000","lastInterpreted":"2018-12-21T11:32:25.066+0000","license":"http://creativecommons.org/licenses/by/4.0/legalcode","identifiers":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Mammalia","countryCode":"AR","country":"Argentina","identifier":"4599328","catalogNumber":"APN-PU-61","recordedBy":"M.
        Ferre[...]
