http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"SIMPLE_CSV","predicate":{"type":"equals","key":"LIFE_STAGE","value":"Adult"}}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0025483-250827131500795
  recorded_at: 2025-09-04 09:34:14
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0025483-250827131500795
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0025483-250827131500795","license":"unspecified","request":{"predicate":{"type":"equals","key":"LIFE_STAGE","value":"Adult","matchCase":false},"sendNotification":false,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-09-04T09:34:13.803+00:00","modified":"2025-09-04T09:34:13.803+00:00","eraseAfter":"2026-03-04T09:34:13.712+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0025483-250827131500795.zip","size":0,"totalRecords":132530426,"numberDatasets":0}'
  recorded_at: 2025-09-04 09:34:14
recorded_with: VCR-vcr/2.0.0
