http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"SIMPLE_CSV","predicate":{"type":"equals","key":"VERBATIM_SCIENTIFIC_NAME","value":"Calopteryx"}}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0012245-260108223611665
  recorded_at: 2026-01-15 16:16:09
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0012245-260108223611665
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0012245-260108223611665","license":"unspecified","request":{"predicate":{"type":"equals","key":"VERBATIM_SCIENTIFIC_NAME","value":"Calopteryx","matchCase":false},"sendNotification":false,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2026-01-15T16:16:09.648+00:00","modified":"2026-01-15T16:16:09.648+00:00","eraseAfter":"2026-07-15T16:16:09.554+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0012245-260108223611665.zip","size":0,"totalRecords":4624,"numberDatasets":0}'
  recorded_at: 2026-01-15 16:16:09
recorded_with: VCR-vcr/2.0.0
