http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"DWCA","predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ"},{"type":"equals","key":"YEAR","value":"1993"},{"type":"equals","key":"MONTH","value":"1"}]},"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0023900-260806074905277
  recorded_at: 2026-08-19 08:33:27
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0023900-260806074905277
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0023900-260806074905277","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ","matchCase":false},{"type":"equals","key":"YEAR","value":"1993","matchCase":false},{"type":"equals","key":"MONTH","value":"1","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-08-19T08:33:27.186+00:00","modified":"2026-08-19T08:33:27.186+00:00","eraseAfter":"2027-02-19T08:33:26.551+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0023900-260806074905277.zip","size":0,"totalRecords":15442,"numberDatasets":0}'
  recorded_at: 2026-08-19 08:33:27
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0023901-260806074905277
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0023901-260806074905277","doi":"10.15468/dl.5degjn","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"CATALOG_NUMBER","value":"Bird.27847588","matchCase":false},{"type":"equals","key":"YEAR","value":"1971","matchCase":false},{"type":"equals","key":"MONTH","value":"4","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-08-19T08:33:29.255+00:00","modified":"2026-08-19T08:34:52.280+00:00","eraseAfter":"2027-02-19T08:33:29.162+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0023901-260806074905277.zip","size":8301,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2026-08-19 08:35:04
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0023902-260806074905277
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0023902-260806074905277","doi":"10.15468/dl.kuadvg","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"6QR9T","matchCase":false,"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},{"type":"equals","key":"YEAR","value":"1974","matchCase":false},{"type":"equals","key":"MONTH","value":"2","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-08-19T08:33:31.220+00:00","modified":"2026-08-19T08:34:54.561+00:00","eraseAfter":"2027-02-19T08:33:31.075+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0023902-260806074905277.zip","size":19781,"totalRecords":8,"numberDatasets":3}'
  recorded_at: 2026-08-19 08:35:25
recorded_with: VCR-vcr/2.0.0
