http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=3&offset=0&recordedBy=smith
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/search?limit=3&offset=0&recordedBy=smith
    body:
      encoding: UTF-8
      string: "{\"offset\":0,\"limit\":3,\"endOfRecords\":false,\"count\":5846,\"results\":[{\"key\":1826756129,\"datasetKey\":\"9beef4fb-e3dd-475a-be95-45d2105b32bd\",\"publishingOrgKey\":\"977178c7-76fe-4c86-94f3-cf039ede5c3c\",\"networkKeys\":[],\"installationKey\":\"6aca019f-ee9d-4088-859b-5a601d4b093f\",\"publishingCountry\":\"DK\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2018-03-01T09:49:23.142+0000\",\"lastParsed\":\"2018-02-28T15:40:07.887+0000\",\"crawlId\":6,\"extensions\":{},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"individualCount\":1,\"taxonKey\":2494200,\"kingdomKey\":1,\"phylumKey\":44,\"classKey\":212,\"orderKey\":729,\"familyKey\":5242,\"genusKey\":8215044,\"speciesKey\":2494200,\"scientificName\":\"Serinus
        serinus (Linnaeus, 1766)\",\"kingdom\":\"Animalia\",\"phylum\":\"Chordata\",\"order\":\"Passeriformes\",\"family\":\"Fringillidae\",\"genus\":\"Serinus\",\"species\":\"Serinus
        serinus\",\"genericName\":\"Serinus\",\"specificEpithet\":\"serinus\",\"taxonRank\":\"SPECIES\",\"decimalLongitude\":11.192493,\"decimalLatitude\":55.58892,\"coordinateUncertaintyInMeters\":117.0,\"continent\":\"EUROPE\",\"year\":2015,\"month\":4,\"day\":18,\"eventDate\":\"2015-04-18T00:00:00.000+0000\",\"issues\":[\"COORDINATE_ROUNDED\"],\"lastInterpreted\":\"2018-07-07T14:23:11.028+0000\",\"license\":\"http://creativecommons.org/licenses/by/4.0/legalcode\",\"identifiers\":[],\"facts\":[],\"relations\":[],\"geodeticDatum\":\"WGS84\",\"class\":\"Aves\",\"countryCode\":\"DK\",\"country\":\"Denmark\",\"identifier\":\"DK_EB_phd_416177\",\"associatedReferences\":\"Buchwald,
        E., PhD-thesis 2018 and manuscripts in it. Analysis and prioritization of
        future efforts for biodiversity \x96 with particular regard to Danish Nature
        Agency lands.\",\"georeferenceRemarks\":\"DK_utm_10x10km_gridcell_PG36\",\"locality\":\"Bjerge\",\"gbifID\":\"1826756129\",\"verbatimLocality\":\"Bjerge\",\"collectionCode\":\"Dofbasen\",\"occurrenceID\":\"DK_EB_phd_416177\",\"taxonID\":\"Serinus
        serinus\",\"recordedBy\":\"Smith\",\"vernacularName\":\"Gulirisk\",\"occurrenceRemarks\":\"Manuscript
        A and B\",\"behavior\":\"Probable breeding\"},{\"key\":1826747686,\"datasetKey\":\"9beef4fb-e3dd-475a-be95-45d2105b32bd\",\"publishingOrgKey\":\"977178c7-76fe-4c86-94f3-cf039ede5c3c\",\"networkKeys\":[],\"installationKey\":\"6aca019f-ee9d-4088-859b-5a601d4b093f\",\"publishingCountry\":\"DK\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2018-03-01T09:49:21.971+0000\",\"lastParsed\":\"2018-02-28T15:40:04.750+0000\",\"crawlId\":6,\"extensions\":{},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"individualCount\":1,\"taxonKey[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=3&offset=0&recordedBy=BJ%20Stacey
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/search?limit=3&offset=0&recordedBy=BJ%20Stacey
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":45958,"results":[{"key":1807284917,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2018-10-08T17:07:52.698+0000","lastParsed":"2018-10-08T17:07:53.002+0000","crawlId":129,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":2605405,"kingdomKey":5,"phylumKey":95,"classKey":180,"orderKey":1048,"familyKey":8305,"genusKey":2605402,"speciesKey":2605405,"scientificName":"Letharia
        columbiana (Nutt.) J.W.Thomson","kingdom":"Fungi","phylum":"Ascomycota","order":"Lecanorales","family":"Parmeliaceae","genus":"Letharia","species":"Letharia
        columbiana","genericName":"Letharia","specificEpithet":"columbiana","taxonRank":"SPECIES","dateIdentified":"2018-01-30T04:57:33.000+0000","decimalLongitude":-116.453142,"decimalLatitude":32.83205,"stateProvince":"California","year":2018,"month":1,"day":27,"eventDate":"2018-01-27T12:22:00.000+0000","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2018-05-08T21:17:54.000+0000","lastInterpreted":"2018-10-08T17:10:41.517+0000","references":"https://www.inaturalist.org/observations/9665199","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/13207121/original.jpg?1517288001","references":"https://www.inaturalist.org/photos/13207121","created":"2018-01-27T20:22:51.000+0000","creator":"BJ
        Stacey","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"BJ
        Stacey"},{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/13207123/original.jpg?1517288003","references":"https://www.inaturalist.org/photos/13207123","created":"2018-01-27T20:22:51.000+0000","creator":"BJ
        Stacey","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"BJ
        Stacey"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Lecanoromycetes","countryCode":"US","country":"United
        States","rightsHolder":"BJ Stacey","identifier":"9665199","verbatimEventDate":"2018/01/27
        12:22 PM PST","datasetName":"iNaturalist research-grade observations","gbifID":"1807284917","verbatimLocality":"Laguna
        Mountains","collectionCode":"Observations","occurrenceID":"https://www.inaturalist.org/observations/9665199","taxonID":"54608","catalogNumber":"9665199","recordedBy":"BJ
        Stacey","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/9665199","institutionCode":"iNaturalist","rights":"©
        BJ Stacey some rights reserved","eventTime":"20:22:00Z","occurrenceRemarks":"San
        Diego County, California, US","http://unknown.org/http_//rs.gbif.org/terms/1.0/Multimedia":"[
        {\n  \"http://rs.tdwg.org/dwc/terms/catalogNumber\" : \"13207121\",\n  \"http://purl.org/dc/terms/creator\"
        : \"BJ Stacey\",\n  \"http://purl.org/dc/terms/format\" : \"image/jpeg\",\n  \"http://purl.org/dc/terms/identifier\"
        : \"https://static.inaturalist.org/photos/13207121/original.jpg?1517288001\",\n  \"http://purl.org/dc/terms/type[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=3&offset=0&recordedBy=smith&recordedBy=BJ%20Stacey
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/sea[...]
