http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/countries
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"UNITED_STATES":1088964641,"FRANCE":193629657,"CANADA":177791531,"UNITED_KINGDOM":157898928,"AUSTRALIA":136623527,"SWEDEN":131495670,"NETHERLANDS":103932725,"SPAIN":71533921,"GERMANY":58461064,"DENMARK":55448977,"INDIA":51239274,"NORWAY":49208805,"FINLAND":41051453,"SOUTH_AFRICA":38122488,"BELGIUM":37970283,"BRAZIL":34012745,"MEXICO":33940244,"COLOMBIA":32741969,"COSTA_RICA":29044367,"SWITZERLAND":23135426,"PORTUGAL":21681822,"TAIWAN":20883899,"ARGENTINA":14976727,"JAPAN":14895354,"NEW_ZEALAND":14862715,"POLAND":14368302,"RUSSIAN_FEDERATION":13784243,"ECUADOR":11828280,"CHINA":11175821,"CHILE":11125567,"AUSTRIA":10221828,"PERU":9478983,"PANAMA":8218359,"ESTONIA":8133674,"ITALY":7529742,"KOREA_SOUTH":7197483,"BELIZE":6717389,"THAILAND":6246398,"ISRAEL":6086478,"IRELAND":4938092,"GUATEMALA":4849449,"VENEZUELA":4554715,"KENYA":4520748,"CZECH_REPUBLIC":4326114,"PUERTO_RICO":4096962,"INDONESIA":4083397,"MALAYSIA":3706043,"TURKEY":3668962,"HONDURAS":3555857,"GREECE":3219688,"ANTARCTICA":3214035,"LUXEMBOURG":3106057,"UKRAINE":2827152,"PHILIPPINES":2794429,"TANZANIA":2752916,"BOLIVIA":2499291,"NAMIBIA":2343807,"UGANDA":2326318,"SRI_LANKA":2286851,"MADAGASCAR":2272986,"ICELAND":2207485,"PAPUA_NEW_GUINEA":2207219,"NICARAGUA":2129835,"CUBA":2082214,"UNITED_ARAB_EMIRATES":1969699,"BULGARIA":1858907,"UNKNOWN":1812337,"HONG_KONG":1756568,"URUGUAY":1733714,"SINGAPORE":1635247,"PARAGUAY":1627785,"ALAND_ISLANDS":1583289,"MOROCCO":1576105,"HUNGARY":1518909,"ISLE_OF_MAN":1430716,"NEPAL":1429939,"ZIMBABWE":1386327,"CONGO_DEMOCRATIC_REPUBLIC":1309063,"EL_SALVADOR":1295487,"SVALBARD_JAN_MAYEN":1259894,"LITHUANIA":1219137,"GEORGIA":1210900,"TRINIDAD_TOBAGO":1206141,"ROMANIA":1134354,"BENIN":1119218,"BAHAMAS":1111994,"BOTSWANA":1098043,"NIGERIA":1097767,"ETHIOPIA":1058963,"IRAN":1053143,"CROATIA":1009201,"NEW_CALEDONIA":986763,"VIETNAM":979367,"FRENCH_GUIANA":978575,"CAMBODIA":974535,"GHANA":969629,"GUYANA":946970,"ZAMBIA":932237,"JAMAICA":907382,"SLOVAKIA":907023,"SLOVENIA":896912,"DOMINICAN_REPUBLIC":887847,"CAMEROON":862965,"SERBIA":846019,"RÉUNION":833086,"MOZAMBIQUE":832719,"VIRGIN_ISLANDS":813628,"GUADELOUPE":747740,"SENEGAL":740263,"AFGHANISTAN":721476,"GABON":713020,"MONGOLIA":710752,"BERMUDA":675554,"GREENLAND":673533,"BANGLADESH":667440,"GAMBIA":649251,"PAKISTAN":641818,"EGYPT":639493,"SURINAME":606442,"FRENCH_POLYNESIA":603595,"LATVIA":601170,"BHUTAN":590907,"CÔTE_DIVOIRE":561159,"SAUDI_ARABIA":534609,"OMAN":532758,"BELARUS":520726,"CYPRUS":515004,"KAZAKHSTAN":509742,"AMERICAN_SAMOA":419042,"MYANMAR":417508,"MALAWI":407684,"RWANDA":402846,"FIJI":394940,"PALESTINIAN_TERRITORY":393688,"SOUTH_GEORGIA_SANDWICH_ISLANDS":387316,"ALGERIA":378514,"SWAZILAND":369431,"CURAÇAO":365810,"ANGOLA":363278,"CAYMAN_ISLANDS":361253,"UNITED_STATES_OUTLYING_ISLANDS":358767,"KUWAIT":315962,"FAROE_ISLANDS":309775,"LAO":303304,"AZERBAIJAN":295017,"BONAIRE_SINT_EUSTATIUS_SABA":289001,"SEYCHELLES":281484,"ARUBA":281226,"SOLOMON_ISLANDS":272563,"HAITI":266744,"BURKINA_FASO":261683,"NORTHERN_MARIANA_ISLANDS":260720,"TUNISIA":259788,"FRENCH_SOUTHERN_TERRITORIES":256477,"FALKLAND_ISLANDS":251635,"GUINEA":249921,"GUERNSEY":238618,"ANGUILLA":237046,"ARMENIA":235495,"MARTINIQUE":234746,"MICRONESIA":230681,"PALAU":228891,"KYRGYZSTAN":226766,"VANUATU":204298,"LIBERIA":200408,"WESTERN_SAHARA":196415,"HEARD_MCDONALD_ISLANDS":190739,"KIRIBATI":175981,"BARBADOS":175841,"GUAM":171808,"CAPE_VERDE":169111,"JERSEY":168813,"MARSHALL_ISLANDS":168493,"MAURITANIA":168340,"SUDAN":164244,"TONGA":161250,"GRENADA":160408,"ANDORRA":158148,"JORDAN":154760,"MALI":153787,"CONGO":151418,"SYRIA":148517,"LEBANON":147137,"MAURITIUS":145208,"QATAR":143241,"UZBEKISTAN":139854,"MOLDOVA":138104,"TOGO":134667,"CENTRAL_AFRICAN_REPUBLIC":132150,"YEMEN":130411,"MACEDONIA":129985,"EQUATORIAL_GUINEA":129250,"LESOTHO":128117,"IRAQ":123344,"TAJIKISTAN":121554,"MONTENEGRO":120501,"SIERRA_LEONE":119625,"DOMINICA":118009,"BURUNDI":113020,"ALBANIA":111010,"NIGER":107437,"MALDIVES":101082,"SAINT_LUCIA":99567,"BOSNIA_HERZEGOVINA":94064,"MALTA":91282,"TIMOR_LESTE":91213,"ANTIGUA_BARBUDA":90135,"GUINEA_BISSAU":87506,"MAYOTTE":86707,"NIUE":82676,"NORFOLK_ISLAND":82153,"SAINT_MARTIN_FRENCH":81415,"CHAD":79881,"SAO_TOME_PRINCIPE":79273,"SAMOA":79047,"SOMALIA":75651,"VIRGIN_ISLANDS_BRITISH":75426,"SAINT_PIERRE_MIQUELON":73150,"SAINT_VINCENT_GRENADINES":72790,"TURKS_CAICOS_ISLANDS":72646,"COOK_ISLANDS":69300,"LIECHTENSTEIN":68519,"LIBYA":63070,"TOKELAU":62759,"BRUNEI_DARUSSALAM":61853,"KOREA_NORTH":58402,"MONTSERRAT":53851,"WALLIS_FUTUNA":51991,"TURKMENISTAN":51836,"COMOROS":48345,"CHRISTMAS_ISLAND":47350,"SAINT_KITTS_NEVIS":46206,"GIBRALTAR":42761,"SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA":42109,"SINT_MAARTEN":41302,"MACAO":41059,"DJIBOUTI":36665,"BRITISH_INDIAN_OCEAN_TERRITORY":35293,"KOSOVO":33203,"ERITREA":29403,"SOUTH_SUDAN":29031,"COCOS_ISLANDS":27330,"BAHRAIN":25412,"PITCAIRN":23592,"SAINT_BARTHÉLEMY":19561,"BOUVET_ISLAND":12226,"TUVALU":11480,"MONACO":7223,"NAURU":5331,"VATICAN":3919,"SAN_MARINO":2981,"INTERNATIONAL_WATERS":143}'
  recorded_at: 2024-05-22 09:23:18 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif.org/v1/enumeration/country/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"iso2":"AF","iso3":"AFG","isoNumerical":"4","title":"Afghanistan","gbifRegion":"ASIA","enumName":"AFGHANISTAN"},{"iso2":"AX","iso3":"ALA","isoNumerical":"248","title":"Åland
        Islands","gbifRegion":"EUROPE","enumName":"ALAND_ISLANDS"},{"iso2":"AL","iso3":"ALB","isoNumerical":"8","title":"Albania","gbifRegion":"EUROPE","enumName":"ALBANIA"},{"iso2":"DZ","iso3":"DZA","isoNumerical":"12","title":"Algeria","gbifRegion":"AFRICA","enumName":"ALGERIA"},{"iso2":"AS","iso3":"ASM","isoNumerical":"16","title":"American
        Samoa","gbifRegion":"OCEANIA","enumName":"AMERICAN_SAMOA"},{"iso2":"A[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DK
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"DENMARK":54050411,"LITHUANIA":439435,"PERU":333562,"GREENLAND":214692[...]
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DK
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"DENMARK":54050411,"UNITED_STATES":532335,"UNITED_KINGDOM":265564,"SWEDEN":114846,"NETHERLANDS":85851,"BELGIUM":85716,"GERMANY":71580,"FRANCE":56034,"ESTONIA":47855,"FINLAND":41461,"NORWAY":32747,"UNKNOWN":15716,"SPAIN":10538,"CANADA":8126,"COLOMBIA":7700,"AUSTRALIA":6024,"POLAND":4342,"SWITZERLAND":2383,"NEW_ZEALAND":1978,"RUSSIAN_FEDERATION":1677,"JAPAN":1408,"BRAZIL":948,"CHINA":913,"CZECH_REPUBLIC":701,"AUSTRIA":636,"PORTUGAL":579,"ARGENTINA":264,"PANAMA":172,"SOUTH_AFRICA":114,"VENEZUELA":78,"MEXICO":60,"LUXEMBOURG":54,"ITALY":52,"TAIWAN":25,"BULGARIA":25,"ECUADOR":18,"UKRAINE":15,"ISRAEL":14,"GREECE":9,"COSTA_RICA":5}'
  recorded_at: 2024-05-22 09:23:19 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"2023":275553024,"2022":262740565,"2021":247288707,"2020":216631084,"2019":183571391,"2018[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=1990%2C2000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"2000":22038428,"1999":20591537,"1998":17343509,"1997":16942999,"1995":15944448,"1996":15906412,"1994":14002594,"1993":13764856,"1992":13251342,"1991":12430630,"1990":12144696}'
  recorded_at: 2024-05-22 09:23:19 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"HUMAN_OBSERVATION":2592291686,"PRESERVED_SPECIMEN":239966794,"MATERIAL_SAMPLE":56958444,"MACHINE_OBSERVATION":21550925,"OBSERVATION":20765341,"OCCURRENCE":19678462,"FOSSIL_SPECIMEN":8911604,"MATERIAL_CITATION":7557647,"LIVING_SPECIMEN":1985331}'
  recorded_at: 2024-05-22 09:23:19 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
