http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/user/<gbif_user>?limit=20&offset=0
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":2054,"results":[{"key":"0010078-250802193616735","doi":"10.15468/dl.natp3s","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"greaterThanOrEquals","key":"DECIMAL_LATITUDE","value":"75","matchCase":false},"creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"SPECIES_LIST","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-08-04T13:51:41.213+00:00","modified":"2025-08-04T13:58:10.401+00:00","eraseAfter":"2026-02-04T13:51:41.147+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0010078-250802193616735.zip","size":2068283,"totalRecords":26840,"numberDatasets":1393,"source":"rgbif"},{"key":"0010077-250802193616735","doi":"10.15468/dl.n882g5","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"within","geometry":"POLYGON((-14
        42,-7 26,9 38,-14 42))"},{"type":"greaterThanOrEquals","key":"ELEVATION","value":"5000","matchCase":false}]},"creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-08-04T13:51:39.166+00:00","modified":"2025-08-04T13:55:05.530+00:00","eraseAfter":"2026-02-04T13:51:38.918+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0010077-250802193616735.zip","size":116101,"totalRecords":99,"numberDatasets":24,"source":"rgbif"},{"key":"0010076-250802193616735","doi":"10.15468/dl.upkpzv","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251","matchCase":false},{"type":"in","key":"COUNTRY","values":["US","CA"],"matchCase":false},{"type":"greaterThanOrEquals","key":"YEAR","value":"1979","matchCase":false}]},"creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-08-04T13:51:36.989+00:00","modified":"2025-08-04T13:55:27.983+00:00","eraseAfter":"2026-02-04T13:51:36.928+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0010076-2508[...]
