http_interactions:
- request:
    method: post
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      encoding: ''
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_email>"],"format":"SIMPLE_CSV","predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"5052020"},{"type":"equals","key":"HAS_GEOSPATIAL_ISSUE","value":"false"},{"type":"equals","key":"HAS_COORDINATE","value":"true"},{"type":"greaterThanOrEquals","key":"YEAR","value":"1900"},{"type":"not","predicate":{"type":"equals","key":"BASIS_OF_RECORD","value":"FOSSIL_SPECIMEN"}},{"type":"or","predicates":[{"type":"not","predicate":{"type":"in","key":"ESTABLISHMENT_MEANS","values":["MANAGED","INTRODUCED"]}},{"type":"isNull","parameter":"ESTABLISHMENT_MEANS"},{"type":"lessThan","key":"COORDINATE_UNCERTAINTY_IN_METERS","value":"10000"},{"type":"isNull","parameter":"COORDINATE_UNCERTAINTY_IN_METERS"},{"type":"like","key":"CATALOG_NUMBER","value":"PAPS5-560*"}]}]}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: 0078329-210914110416597
  recorded_at: 2021-12-13 08:13:52 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/0078329-210914110416597
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":"0078329-210914110416597","doi":"10.15468/dl.trp7xd","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"5052020","matchCase":false},{"type":"equals","key":"HAS_GEOSPATIAL_ISSUE","value":"false","matchCase":false},{"type":"equals","key":"HAS_COORDINATE","value":"true","matchCase":false},{"type":"greaterThanOrEquals","key":"YEAR","value":"1900","matchCase":false},{"type":"not","predicate":{"type":"equals","key":"BASIS_OF_RECORD","value":"FOSSIL_SPECIMEN","matchCase":false}},{"type":"or","predicates":[{"type":"not","predicate":{"type":"in","key":"ESTABLISHMENT_MEANS","values":["MANAGED","INTRODUCED"],"matchCase":false}},{"type":"isNull","parameter":"ESTABLISHMENT_MEANS"},{"type":"lessThan","key":"COORDINATE_UNCERTAINTY_IN_METERS","value":"10000","matchCase":false},{"type":"isNull","parameter":"COORDINATE_UNCERTAINTY_IN_METERS"},{"type":"like","key":"CATALOG_NUMBER","value":"PAPS5-560*","matchCase":false}]}]},"sendNotification":false,"format":"SIMPLE_CSV"},"created":"2021-12-13T08:13:51.115+00:00","modified":"2021-12-13T08:13:51.172+00:00","eraseAfter":"2022-06-13T08:13:51.056+00:00","status":"RUNNING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0078329-210914110416597.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2021-12-13 08:13:52 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
