http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=2&offset=0&taxonKey=3118771
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":2825,"results":[{"key":1986611609,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-02-25T02:13:17.921+0000","lastParsed":"2019-01-13T23:39:07.253+0000","crawlId":151,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":3118771,"kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":414,"familyKey":3065,"genusKey":3118743,"speciesKey":3118771,"acceptedTaxonKey":3118771,"scientificName":"Encelia
        californica Nutt.","acceptedScientificName":"Encelia californica Nutt.","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asterales","family":"Asteraceae","genus":"Encelia","species":"Encelia
        californica","genericName":"Encelia","specificEpithet":"californica","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","dateIdentified":"2019-01-08T05:32:06","decimalLongitude":-117.085611,"decimalLatitude":32.668656,"stateProvince":"California","year":2019,"month":1,"day":7,"eventDate":"2019-01-07T13:43:00","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2019-01-08T15:49:52.000+0000","lastInterpreted":"2019-01-13T23:39:27.637+0000","references":"https://www.inaturalist.org/observations/19506829","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/30018532/original.jpeg?1546925473","references":"https://www.inaturalist.org/photos/30018532","created":"2019-01-07T21:43:40.000+0000","creator":"hikingsandiego","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"hikingsandiego"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Magnoliopsida","countryCode":"US","country":"United
        States of America","rightsHolder":"hikingsandiego","identifier":"19506829","verbatimEventDate":"2019/01/07
        1:43 PM PST","datasetName":"iNaturalist research-grade observations","gbifID":"1986611609","verbatimLocality":"National
        City, CA, USA","collectionCode":"Observations","occurrenceID":"https://www.inaturalist.org/observations/19506829","taxonID":"64141","catalogNumber":"19506829","recordedBy":"hikingsandiego","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/19506829","institutionCode":"iNaturalist","rights":"©
        hikingsandiego some rights reserved","eventTime":"21:43:00Z","identificationID":"42757321"},{"key":1990526358,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-02-25T02:13:51.492+0000","lastParsed":"2019-02-04T00:47:22.505+0000","crawlId":151,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":3118771,"kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":414,"familyKey":3065,"genusKey":3118743,"speciesKey":3118771,"acceptedTaxonKey":3118771,"scientificName":"Encelia
        californica Nutt.","acceptedScientificName":"Encelia californica Nutt.","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asterales","family":"Asteraceae","genus":"Encelia","species":"Encelia
        californica","genericName":"Encelia","specificEpithet":"californica","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","dateIdentified":"2019-01-18T19:06:07","decimalLongitude":-119.510196,"decimalLatitude":34.387244,"coordinateUncertaintyInMeters":5.0,"stateProvince":"California","year":2019,"month":1,"day":18,"eventDate":"2019-01-18T11:04:47","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2019-01-18T20:10:18.000+0000","lastInterpreted":"2019-02-04T00:48:27.810+0000","references":"https://www.inaturalist.org/observations/19713266","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/p[...]
[...]
