http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"SIMPLE_CSV","predicate":{"type":"equals","key":"LIFE_STAGE","value":"Adult"}}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0012308-260108223611665
  recorded_at: 2026-01-15 17:21:37
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0012308-260108223611665
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0012308-260108223611665","license":"unspecified","request":{"predicate":{"type":"equals","key":"LIFE_STAGE","value":"Adult","matchCase":false},"sendNotification":false,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2026-01-15T17:21:38.170+00:00","modified":"2026-01-15T17:21:38.170+00:00","eraseAfter":"2026-07-15T17:21:38.062+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0012308-260108223611665.zip","size":0,"totalRecords":137468017,"numberDatasets":0}'
  recorded_at: 2026-01-15 17:21:37
recorded_with: VCR-vcr/2.0.0
