http_interactions:
- request:
    method: post
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      encoding: ''
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_email>"],"format":"SPECIES_LIST","predicate":{"type":"greaterThanOrEquals","key":"DECIMAL_LATITUDE","value":"75"}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: 0022670-210914110416597
  recorded_at: 2021-10-11 14:51:16 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/0022670-210914110416597
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":"0022670-210914110416597","doi":"10.15468/dl.5edeac","license":"unspecified","request":{"predicate":{"type":"greaterThanOrEquals","key":"DECIMAL_LATITUDE","value":"75","matchCase":false},"sendNotification":false,"format":"SPECIES_LIST"},"created":"2021-10-11T14:51:16.344+00:00","modified":"2021-10-11T14:51:16.428+00:00","eraseAfter":"2022-04-11T14:51:16.287+00:00","status":"RUNNING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0022670-210914110416597.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2021-10-11 14:51:16 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
