http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/countries
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"UNITED_STATES":822135894,"FRANCE":139961420,"CANADA":134228959,"SWEDEN":120519698,"AUSTRALIA":115375507,"UNITED_KINGDOM":111618940,"NETHERLANDS":89805035,"SPAIN":56269327,"DENMARK":50925609,"GERMANY":50476896,"NORWAY":49331662,"FINLAND":38128297,"BELGIUM":35197243,"SOUTH_AFRICA":34433815,"INDIA":32335785,"MEXICO":26696857,"BRAZIL":24973082,"COSTA_RICA":21145182,"COLOMBIA":20843352,"SWITZERLAND":19159546,"PORTUGAL":17567580,"TAIWAN":15441852,"JAPAN":11455900,"NEW_ZEALAND":11408880,"RUSSIAN_FEDERATION":10706686,"ARGENTINA":10164338,"CHINA":9749555,"AUSTRIA":8593935,"ESTONIA":7643188,"ECUADOR":7553941,"PERU":6943411,"POLAND":6725730,"KOREA_SOUTH":6380369,"ITALY":5916049,"PANAMA":5778373,"CHILE":5163975,"BELIZE":5113413,"ISRAEL":4210322,"THAILAND":4041448,"GUATEMALA":3537485,"IRELAND":3510605,"KENYA":3439568,"INDONESIA":3247530,"VENEZUELA":3093817,"PUERTO_RICO":3040171,"ANTARCTICA":2973821,"LUXEMBOURG":2860153,"HONDURAS":2798913,"MALAYSIA":2702388,"TURKEY":2689817,"CZECH_REPUBLIC":2579434,"GREECE":2326410,"PHILIPPINES":2175305,"UKRAINE":2104130,"TANZANIA":1958390,"NAMIBIA":1899650,"ICELAND":1891523,"PAPUA_NEW_GUINEA":1809923,"UNKNOWN":1761165,"BOLIVIA":1646883,"MADAGASCAR":1615011,"CUBA":1586119,"ALAND_ISLANDS":1513776,"NICARAGUA":1458621,"UNITED_ARAB_EMIRATES":1457407,"UGANDA":1436704,"SRI_LANKA":1363680,"PARAGUAY":1224617,"HONG_KONG":1213850,"ISLE_OF_MAN":1186639,"CONGO_DEMOCRATIC_REPUBLIC":1184229,"MOROCCO":1174707,"ZIMBABWE":1131498,"URUGUAY":1075073,"BENIN":1072826,"SINGAPORE":1066363,"HUNGARY":1052735,"LITHUANIA":1019533,"GEORGIA":962595,"TRINIDAD_TOBAGO":954513,"EL_SALVADOR":946533,"BAHAMAS":933810,"BULGARIA":931988,"NEPAL":890565,"ETHIOPIA":889864,"NEW_CALEDONIA":869767,"FRENCH_GUIANA":836533,"BOTSWANA":835389,"VIRGIN_ISLANDS":817743,"IRAN":807566,"RÉUNION":798974,"ROMANIA":782749,"VIETNAM":770382,"GUYANA":735774,"JAMAICA":730247,"MOZAMBIQUE":726767,"NIGERIA":714100,"CAMEROON":712490,"AFGHANISTAN":711645,"SLOVENIA":709007,"GHANA":693069,"CROATIA":690370,"CAMBODIA":687523,"DOMINICAN_REPUBLIC":683474,"GREENLAND":641421,"GUADELOUPE":626514,"SLOVAKIA":621781,"SVALBARD_JAN_MAYEN":617817,"ZAMBIA":616975,"SERBIA":603433,"BERMUDA":576056,"SENEGAL":568796,"FRENCH_POLYNESIA":561793,"PAKISTAN":539733,"SURINAME":512632,"LATVIA":508357,"MONGOLIA":502069,"GABON":487327,"EGYPT":484265,"GAMBIA":449815,"CÔTE_DIVOIRE":437224,"BANGLADESH":436621,"SAUDI_ARABIA":433490,"AMERICAN_SAMOA":413977,"OMAN":400648,"MYANMAR":371292,"BHUTAN":366048,"KAZAKHSTAN":347833,"BELARUS":343592,"SOUTH_GEORGIA_SANDWICH_ISLANDS":342169,"SWAZILAND":337896,"MALAWI":334971,"FIJI":329238,"CYPRUS":308283,"ANGOLA":302308,"UNITED_STATES_OUTLYING_ISLANDS":297218,"ALGERIA":296261,"FAROE_ISLANDS":290403,"KUWAIT":278066,"PALESTINIAN_TERRITORY":277286,"CURAÇAO":276936,"HAITI":258270,"RWANDA":256203,"FRENCH_SOUTHERN_TERRITORIES":251595,"BURKINA_FASO":246937,"NORTHERN_MARIANA_ISLANDS":240687,"CAYMAN_ISLANDS":236226,"SEYCHELLES":235758,"LAO":233866,"AZERBAIJAN":231873,"SOLOMON_ISLANDS":225985,"ANGUILLA":225084,"TUNISIA":222879,"MICRONESIA":222258,"PALAU":205042,"MARTINIQUE":204888,"GUINEA":200781,"BONAIRE_SINT_EUSTATIUS_SABA":199235,"ARUBA":197217,"HEARD_MCDONALD_ISLANDS":190034,"VANUATU":185944,"ARMENIA":180909,"FALKLAND_ISLANDS":176962,"KYRGYZSTAN":174050,"KIRIBATI":173014,"LIBERIA":164354,"GUAM":160799,"TONGA":156053,"SUDAN":155898,"MARSHALL_ISLANDS":152377,"ANDORRA":147870,"CAPE_VERDE":145434,"MALI":144832,"BARBADOS":140698,"WESTERN_SAHARA":138613,"MAURITANIA":137648,"SYRIA":136768,"CONGO":129583,"MAURITIUS":125500,"LESOTHO":120497,"TOGO":119965,"LEBANON":113967,"YEMEN":113750,"CENTRAL_AFRICAN_REPUBLIC":111473,"QATAR":108957,"UZBEKISTAN":105879,"MACEDONIA":104971,"DOMINICA":102852,"IRAQ":102455,"BURUNDI":100049,"EQUATORIAL_GUINEA":99963,"NIGER":98642,"GRENADA":97419,"MOLDOVA":97252,"SIERRA_LEONE":96493,"JORDAN":92961,"MALDIVES":86735,"MONTENEGRO":82848,"NIUE":82025,"MAYOTTE":78446,"TAJIKISTAN":78157,"TIMOR_LESTE":75492,"CHAD":73689,"JERSEY":72989,"BOSNIA_HERZEGOVINA":72415,"ALBANIA":71970,"SAMOA":71363,"SAINT_MARTIN_FRENCH":70042,"SAINT_LUCIA":69851,"VIRGIN_ISLANDS_BRITISH":69245,"SOMALIA":66157,"NORFOLK_ISLAND":63099,"ANTIGUA_BARBUDA":62727,"MALTA":62726,"TOKELAU":62568,"GUINEA_BISSAU":62320,"LIECHTENSTEIN":62050,"COOK_ISLANDS":61699,"GUERNSEY":59470,"LIBYA":58780,"KOREA_NORTH":56683,"TURKS_CAICOS_ISLANDS":54088,"SAO_TOME_PRINCIPE":53938,"SAINT_PIERRE_MIQUELON":53905,"WALLIS_FUTUNA":51326,"BRUNEI_DARUSSALAM":49263,"TURKMENISTAN":47943,"SAINT_VINCENT_GRENADINES":46144,"MONTSERRAT":42287,"COMOROS":41106,"CHRISTMAS_ISLAND":37737,"SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA":36203,"SAINT_KITTS_NEVIS":35049,"BRITISH_INDIAN_OCEAN_TERRITORY":33002,"DJIBOUTI":33002,"SINT_MAARTEN":32194,"ERITREA":27182,"KOSOVO":26551,"SOUTH_SUDAN":23798,"PITCAIRN":22101,"SAINT_BARTHÉLEMY":20145,"COCOS_ISLANDS":17646,"BAHRAIN":16628,"MACAO":14056,"GIBRALTAR":13795,"BOUVET_ISLAND":13276,"TUVALU":9922,"NAURU":5306,"MONACO":5080,"SAN_MARINO":2229,"VATICAN":1961,"INTERNATIONAL_WATERS":774}'
  recorded_at: 2023-03-20 13:22:49 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.gbif.org/v1/enumeration/country/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"iso2":"AF","iso3":"AFG","isoNumerical":"4","title":"Afghanistan","gbifRegion":"ASIA","enumName":"AFGHANISTAN"},{"iso2":"AX","iso3":"ALA","isoNumerical":"248","title":"Åland
        Islands","gbifRegion":"EUROPE","enumName":"ALAND_ISLANDS"},{"iso2":"AL","iso3":"ALB","isoNumerical":"8","title":"Albania","gbifRegion":"EUROPE","enumName":"ALBANIA"},{"iso2":"DZ","iso3":"DZA","isoNumerical":"12","title":"Algeria","gbifRegion":"AFRICA","enumName":"ALGERIA"},{"iso2":"AS","iso3":"ASM","isoNumerical":"16","title":"American
        Samoa","gbifRegion":"OCEANIA","enumName":"AMERICAN_SAMOA"},{"iso2":"A[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DK
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"DENMARK":49690781,"LITHUANIA":439429,"PERU":329987,"GREENLAND":169039[...]
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DK
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"DENMARK":49690781,"UNITED_STATES":395620,"UNITED_KINGDOM":370338,"SWEDEN":105954,"NETHERLANDS":69615,"GERMANY":63527,"FRANCE":55244,"ESTONIA":47710,"FINLAND":39917,"NORWAY":31907,"COLOMBIA":7370,"AUSTRALIA":5902,"SPAIN":4676,"BELGIUM":3995,"CANADA":3965,"SWITZERLAND":2429,"POLAND":2342,"RUSSIAN_FEDERATION":1676,"NEW_ZEALAND":1604,"JAPAN":1381,"BRAZIL":939,"CHINA":913,"CZECH_REPUBLIC":659,"AUSTRIA":572,"PORTUGAL":541,"ARGENTINA":260,"SOUTH_AFRICA":91,"VENEZUELA":78,"MEXICO":40,"ITALY":27,"PANAMA":26,"BULGARIA":25,"LUXEMBOURG":19,"ISRAEL":13,"TAIWAN":12,"COSTA_RICA":2,"ECUADOR":1}'
  recorded_at: 2023-03-20 13:22:49 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"2021":231411531,"2020":207158707,"2019":173067131,"2018":155189226,"2017":130953459,"2016[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=1990%2C2000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"2000":20068533,"1999":19250790,"1998":16163385,"1997":15803093,"1995":15084388,"1996":14911354,"1994":13177825,"1993":13005810,"1992":12789967,"1990":12637665,"1991":11877959}'
  recorded_at: 2023-03-20 13:22:49 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"HUMAN_OBSERVATION":1975586173,"PRESERVED_SPECIMEN":216673153,"MATERIAL_SAMPLE":52105312,"OBSERVATION":23398982,"OCCURRENCE":20387007,"MACHINE_OBSERVATION":15098494,"FOSSIL_SPECIMEN":10126592,"MATERIAL_CITATION":3075940,"LIVING_SPECIMEN":1959776}'
  recorded_at: 2023-03-20 13:22:49 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
