http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"DWCA","predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ"},{"type":"equals","key":"YEAR","value":"1993"},{"type":"equals","key":"MONTH","value":"1"}]},"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0007680-260928105237408
  recorded_at: 2026-10-02 09:07:35
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0007680-260928105237408
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0007680-260928105237408","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ"},{"type":"equals","key":"YEAR","value":"1993"},{"type":"equals","key":"MONTH","value":"1"}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-10-02T09:07:35.229+00:00","modified":"2026-10-02T09:07:35.229+00:00","eraseAfter":"2027-04-02T09:07:34.827+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0007680-260928105237408.zip","size":0,"totalRecords":15451,"numberDatasets":0}'
  recorded_at: 2026-10-02 09:07:35
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0007682-260928105237408
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0007682-260928105237408","doi":"10.15468/dl.azxn86","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"6QR9T","checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},{"type":"equals","key":"YEAR","value":"1974"},{"type":"equals","key":"MONTH","value":"2"}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-10-02T09:07:37.666+00:00","modified":"2026-10-02T09:09:00.955+00:00","eraseAfter":"2027-04-02T09:07:37.569+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0007682-260928105237408.zip","size":19782,"totalRecords":8,"numberDatasets":3}'
  recorded_at: 2026-10-02 09:09:22
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0007682-260928105237408
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0007682-260928105237408","doi":"10.15468/dl.azxn86","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"6QR9T","checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},{"type":"equals","key":"YEAR","value":"1974"},{"type":"equals","key":"MONTH","value":"2"}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-10-02T09:07:37.666+00:00","modified":"2026-10-02T09:09:00.955+00:00","eraseAfter":"2027-04-02T09:07:37.569+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0007682-260928105237408.zip","size":19782,"totalRecords":8,"numberDatasets":3}'
  recorded_at: 2026-10-02 09:09:42
recorded_with: VCR-vcr/2.0.0
