http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=0&facet=country
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rgbif/2.1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":1385390925,"results":[],"facets":[{"field":"COUNTRY","counts":[{"name":"US","count":463258161},{"name":"AU","count":90966826},{"name":"SE","count":89027080},{"name":"FR","count":75932940},{"name":"GB","count":73173597},{"name":"CA","count":70966412},{"name":"NL","count":49239963},{"name":"ES","count":38421863},{"name":"DE","count":37294554},{"name":"BE","count":35810812}]}]}'
  recorded_at: 2020-02-12 23:02:58 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?facetMincount=50000000&limit=0&facet=country
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rgbif/2.1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":1385390925,"results":[],"facets":[{"field":"COUNTRY","counts":[{"name":"US","count":463258161},{"name":"AU","count":90966826},{"name":"SE","count":89027080},{"name":"FR","count":75932940},{"name":"GB","count":73173597},{"name":"CA","count":70966412}]}]}'
  recorded_at: 2020-02-12 23:02:58 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
