http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"SIMPLE_CSV","predicate":{"type":"equals","key":"TAXON_KEY","value":"2431950","checklistKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c"},"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0015421-260806074905277
  recorded_at: 2026-08-14 12:23:42
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0015421-260806074905277
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0015421-260806074905277","license":"unspecified","request":{"predicate":{"type":"equals","key":"TAXON_KEY","value":"2431950","matchCase":false,"checklistKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c"},"sendNotification":false,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-08-14T12:23:42.543+00:00","modified":"2026-08-14T12:23:42.543+00:00","eraseAfter":"2027-02-14T12:23:42.394+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0015421-260806074905277.zip","size":0,"totalRecords":972,"numberDatasets":0}'
  recorded_at: 2026-08-14 12:23:42
recorded_with: VCR-vcr/2.0.0
