http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"SPECIES_LIST","predicate":{"type":"greaterThanOrEquals","key":"DECIMAL_LATITUDE","value":"75"}}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0014160-250802193616735
  recorded_at: 2025-08-05 09:03:29
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0014160-250802193616735
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0014160-250802193616735","license":"unspecified","request":{"predicate":{"type":"greaterThanOrEquals","key":"DECIMAL_LATITUDE","value":"75","matchCase":false},"sendNotification":false,"format":"SPECIES_LIST","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-08-05T09:03:30.841+00:00","modified":"2025-08-05T09:03:30.841+00:00","eraseAfter":"2026-02-05T09:03:30.770+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0014160-250802193616735.zip","size":0,"totalRecords":1941170,"numberDatasets":0}'
  recorded_at: 2025-08-05 09:03:29
recorded_with: VCR-vcr/2.0.0
