http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/user/<gbif_user>?limit=20&offset=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":1584,"results":[{"key":"0030224-240506114902167","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251","matchCase":false},{"type":"in","key":"COUNTRY","values":["US","CA"],"matchCase":false},{"type":"greaterThanOrEquals","key":"YEAR","value":"1979","matchCase":false}]},"creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2024-05-22T09:25:14.348+00:00","modified":"2024-05-22T09:25:16.273+00:00","eraseAfter":"2024-11-22T09:25:14.296+00:00","status":"CANCELLED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0030224-240506114902167.zip","size":0,"totalRecords":0,"numberDatasets":0,"source":"rgbif"},{"key":"0030218-240506114902167","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251","matchCase":false},{"type":"in","key":"COUNTRY","values":["US","CA"],"matchCase":false},{"type":"greaterThanOrEquals","key":"YEAR","value":"1979","matchCase":false}]},"creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"cre[...]
