http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/dataset/7f2edc10-f762-11e1-a439-00145eb45e9a?limit=20&offset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":43373,"results":[{"downloadKey":"0001332-230828120925497","datasetKey":"7f2edc10-f762-11e1-a439-00145eb45e9a","datasetTitle":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM","datasetDOI":"10.15468/blmvxk","datasetCitation":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM. Carl Faust Foundation.
        Occurrence Dataset https://doi.org/10.15468/blmvxk accessed via GBIF.org on
        2017-06-01.","numberRecords":2,"download":{"key":"0001332-230828120925497","doi":"10.15468/dl.az5p4k","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"equals","key":"TAXON_KEY","value":"5363818","matchCase":false},"sendNotification":true,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2023-08-29T13:59:46.836+00:00","modified":"2023-08-29T14:00:58.799+00:00","eraseAfter":"2024-02-29T13:59:46.783+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0001332-230828120925497.zip","size":1258605,"totalRecords":3785,"numberDatasets":187}},{"downloadKey":"0001322-230828120925497","datasetKey":"7f2edc10-f762-11e1-a439-00145eb45e9a","datasetTitle":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM","datasetDOI":"10.15468/blmvxk","datasetCitation":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM. Carl Faust Foundation.
        Occurrence Dataset https://doi.org/10.15468/blmvxk accessed via GBIF.org on
        2017-06-01.","numberRecords":1,"download":{"key":"0001322-230828120925[...]
