http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0003983-140910143529206/countries?limit=20&offset=0
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":35,"results":[{"downloadKey":"0003983-140910143529206","numberRecords":12,"publishingCountryCode":"AR"},{"downloadKey":"0003983-140910143529206","numberRecords":56,"publishingCountryCode":"AT"},{"downloadKey":"0003983-140910143529206","numberRecords":312,"publishingCountryCode":"AU"},{"downloadKey":"0003983-140910143529206","numberRecords":203,"publishingCountryCode":"BE"},{"downloadKey":"0003983-140910143529206","numberRecords":3,"publishingCountryCode":"BR"},{"downloadKey":"0003983-140910143529206","numberRecords":143,"publishingCountryCode":"CA"},{"downloadKey":"0003983-140910143529206","[...]
