http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=0&facet=country
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":2298098025,"results":[],"facets":[{"field":"COUNTRY","counts":[{"name":"US","count":820028047},{"name":"FR","count":135859403},{"name":"CA","count":133937135},{"name":"SE","count":118149141},{"name":"AU","count":114128644},{"name":"GB","count":111294920},{"name":"NL","count":87954359},{"name":"ES","count":55634531},{"name":"DE","count":51158570},{"name":"DK","count":50011653}]}]}'
  recorded_at: 2022-12-30 08:43:33 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?facetMincount=100000000&limit=0&facet=country
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":2298098025,"results":[],"facets":[{"field":"COUNTRY","counts":[{"name":"US","count":820028047},{"name":"FR","count":135859403},{"name":"CA","count":133937135},{"name":"SE","count":118149141},{"name":"AU","count":114128644},{"name":"GB","count":111294920}]}]}'
  recorded_at: 2022-12-30 08:43:33 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
