http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request/validate
    body:
      string: '{"sendNotification":[true],"notificationAddresses":["<gbif_user>@gbif.org"],"format":"SQL_TSV_ZIP","sql":"SELECT
        gbifid,countryCode FROM occurrence WHERE genusKey = 2435098"}'
  response:
    status: 201
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json
    body:
      string: '{"sql":"SELECT\n  gbifid,\n  countrycode\nFROM\n  occurrence\nWHERE\n  CAST(occurrence.genuskey
        AS INTEGER) = 2435098","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"SQL_TSV_ZIP","type":"OCCURRENCE"}'
  recorded_at: 2025-08-05 12:06:11
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"sendNotification":[true],"notificationAddresses":["<gbif_user>@gbif.org"],"format":"SQL_TSV_ZIP","sql":"SELECT
        gbifid,countryCode FROM occurrence WHERE genusKey = 2435098"}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0014773-250802193616735
  recorded_at: 2025-08-05 12:06:14
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0014773-250802193616735
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0014773-250802193616735","license":"unspecified","request":{"sql":"SELECT
        gbifid,countryCode FROM occurrence WHERE genusKey = 2435098","sendNotification":false,"format":"SQL_TSV_ZIP","type":"OCCURRENCE"},"created":"2025-08-05T12:06:15.405+00:00","modified":"2025-08-05T12:06:15.405+00:00","eraseAfter":"2026-02-05T12:06:15.378+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0014773-250802193616735.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2025-08-05 12:06:14
recorded_with: VCR-vcr/2.0.0
