http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"SIMPLE_CSV","predicate":{"type":"and","predicates":[{"type":"and","predicates":[{"type":"equals","key":"HAS_GEOSPATIAL_ISSUE","value":"false"},{"type":"equals","key":"HAS_COORDINATE","value":"true"},{"type":"equals","key":"OCCURRENCE_STATUS","value":"PRESENT"},{"type":"not","predicate":{"type":"in","key":"BASIS_OF_RECORD","values":["FOSSIL_SPECIMEN","LIVING_SPECIMEN"]}}]},{"type":"equals","key":"TYPE_STATUS","value":"ALLOLECTOTYPE"}]}}'
  response:
    status: 201
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json
    body:
      string: 0014178-250802193616735
  recorded_at: 2025-08-05 09:07:08
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0014178-250802193616735
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      string: '{"key":"0014178-250802193616735","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"and","predicates":[{"type":"equals","key":"HAS_GEOSPATIAL_ISSUE","value":"false","matchCase":false},{"type":"equals","key":"HAS_COORDINATE","value":"true","matchCase":false},{"type":"equals","key":"OCCURRENCE_STATUS","value":"PRESENT","matchCase":false},{"type":"not","predicate":{"type":"in","key":"BASIS_OF_RECORD","values":["FOSSIL_SPECIMEN","LIVING_SPECIMEN"],"matchCase":false}}]},{"type":"equals","key":"TYPE_STATUS","value":"ALLOLECTOTYPE","matchCase":false}]},"sendNotification":false,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-08-05T09:07:09.881+00:00","modified":"2025-08-05T09:07:09.881+00:00","eraseAfter":"2026-02-05T09:07:09.797+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0014178-250802193616735.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2025-08-05 09:07:08
recorded_with: VCR-vcr/2.0.0
