http_interactions:
- request:
    method: post
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      encoding: ''
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"DWCA","predicate":{"type":"and","predicates":[{"type":"within","geometry":"POLYGON((-14
        42, 9 38, -7 26, -14 42))"},{"type":"greaterThanOrEquals","key":"ELEVATION","value":"5000"}]}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: 0260860-220831081235567
  recorded_at: 2023-01-27 08:11:00 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/0260860-220831081235567
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"key":"0260860-220831081235567","doi":"10.15468/dl.vqdvzp","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"within","geometry":"POLYGON((-14
        42, 9 38, -7 26, -14 42))"},{"type":"greaterThanOrEquals","key":"ELEVATION","value":"5000","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2023-01-27T08:10:59.233+00:00","modified":"2023-01-27T08:10:59.306+00:00","eraseAfter":"2023-07-27T08:10:59.168+00:00","status":"RUNNING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0260860-220831081235567.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2023-01-27 08:11:00 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
