http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/countries
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"UNITED_STATES":1318245468,"AUSTRALIA":260769540,"UNITED_KINGDOM":254520969,"CANADA":220130428,"FRANCE":213738421,"SWEDEN":173875027,"NETHERLANDS":147455337,"SPAIN":94523895,"NORWAY":92518885,"GERMANY":81726060,"DENMARK":65608299,"INDIA":65542819,"FINLAND":53653383,"SOUTH_AFRICA":48587833,"BELGIUM":47251989,"BRAZIL":43772866,"SWITZERLAND":42460483,"COLOMBIA":40325811,"COSTA_RICA":39609153,"MEXICO":39493546,"PORTUGAL":26380075,"TAIWAN":26293043,"CHILE":22377753,"RUSSIAN_FEDERATION":21083991,"NEW_ZEALAND":19588802,"AUSTRIA":19404822,"ARGENTINA":18829933,"POLAND":18608802,"JAPAN":17674404,"CHINA":15274825,"ECUADOR":15028095,"ITALY":14024947,"PERU":12414925,"ESTONIA":10418751,"PANAMA":10266049,"ISRAEL":9363535,"KOREA_SOUTH":8859052,"CZECH_REPUBLIC":8422513,"THAILAND":8371840,"BELIZE":7891090,"IRELAND":6341309,"KENYA":6195253,"VENEZUELA":5777862,"GUATEMALA":5634269,"INDONESIA":5512517,"ANTARCTICA":5436331,"UKRAINE":5044831,"MALAYSIA":5018372,"PUERTO_RICO":4867708,"GREECE":4768530,"TURKEY":4757678,"SLOVAKIA":4649987,"LUXEMBOURG":4132640,"HONDURAS":3977213,"PHILIPPINES":3870224,"MADAGASCAR":3641378,"TANZANIA":3594253,"BULGARIA":3045623,"SRI_LANKA":3025835,"BOLIVIA":3009133,"NAMIBIA":2938328,"UGANDA":2923088,"HUNGARY":2737714,"ICELAND":2733273,"PAPUA_NEW_GUINEA":2715851,"FRENCH_GUIANA":2567312,"CUBA":2494339,"NICARAGUA":2429095,"HONG_KONG":2359239,"SINGAPORE":2225293,"URUGUAY":2208528,"UNKNOWN":2160469,"MOROCCO":2118684,"UNITED_ARAB_EMIRATES":2000441,"NEPAL":1985730,"SVALBARD_JAN_MAYEN":1889559,"ISLE_OF_MAN":1884279,"ROMANIA":1868819,"PARAGUAY":1846581,"ZIMBABWE":1829446,"ALAND_ISLANDS":1791733,"GHANA":1702841,"LITHUANIA":1696809,"SERBIA":1661127,"CONGO_DEMOCRATIC_REPUBLIC":1582576,"CROATIA":1567269,"GEORGIA":1495593,"TRINIDAD_TOBAGO":1493529,"EL_SALVADOR":1488431,"BOTSWANA":1444143,"VIETNAM":1435244,"NEW_CALEDONIA":1390448,"ZAMBIA":1376340,"ETHIOPIA":1306751,"IRAN":1300603,"NIGERIA":1294080,"BAHAMAS":1275853,"CAMBODIA":1206081,"GUYANA":1182678,"SLOVENIA":1182495,"BENIN":1179867,"PAKISTAN":1158434,"DOMINICAN_REPUBLIC":1147363,"GREENLAND":1122222,"CAMEROON":1091114,"SAUDI_ARABIA":1088533,"JAMAICA":1083524,"MOZAMBIQUE":1047676,"AMERICAN_SAMOA":991628,"LATVIA":979759,"BANGLADESH":968806,"GABON":958498,"CÔTE_DIVOIRE":949877,"VIRGIN_ISLANDS":929140,"SENEGAL":906403,"GAMBIA":901187,"RÉUNION":894907,"GUADELOUPE":890152,"MONGOLIA":869447,"EGYPT":867275,"SURINAME":844611,"KAZAKHSTAN":812804,"BHUTAN":780757,"BELARUS":774396,"OMAN":769685,"CYPRUS":764467,"FRENCH_POLYNESIA":753387,"AFGHANISTAN":748292,"BERMUDA":736153,"KIRIBATI":655117,"FIJI":576095,"MALAWI":567913,"ALGERIA":567279,"RWANDA":559619,"NIUE":545695,"SEYCHELLES":520166,"MYANMAR":490057,"GUINEA":476267,"CURAÇAO":471978,"SWAZILAND":465414,"ANGOLA":449088,"CAYMAN_ISLANDS":444600,"SOUTH_GEORGIA_SANDWICH_ISLANDS":432548,"PALESTINIAN_TERRITORY":422670,"BONAIRE_SINT_EUSTATIUS_SABA":410177,"UNITED_STATES_OUTLYING_ISLANDS":400698,"FAROE_ISLANDS":382200,"ARMENIA":378643,"FRENCH_SOUTHERN_TERRITORIES":360332,"KUWAIT":355710,"LAO":354832,"SOLOMON_ISLANDS":345567,"MAURITANIA":343318,"AZERBAIJAN":338065,"MARTINIQUE":335280,"GUERNSEY":332893,"TUNISIA":330988,"ARUBA":328595,"KYRGYZSTAN":314440,"HAITI":301374,"FALKLAND_ISLANDS":300918,"NORTHERN_MARIANA_ISLANDS":298434,"TOKELAU":297262,"PALAU":291274,"JERSEY":282976,"LEBANON":280315,"BURKINA_FASO":278842,"UZBEKISTAN":273219,"MICRONESIA":268122,"WESTERN_SAHARA":266537,"LIBERIA":253297,"ANGUILLA":244428,"CAPE_VERDE":242211,"VANUATU":230639,"MONTENEGRO":228082,"MACEDONIA":219107,"HEARD_MCDONALD_ISLANDS":213611,"BARBADOS":210558,"YEMEN":206873,"JORDAN":205774,"ALBANIA":203480,"MALI":201241,"IRAQ":200304,"SUDAN":200058,"GUAM":198271,"GRENADA":196756,"MARSHALL_ISLANDS":195057,"TONGA":193625,"ANDORRA":189030,"CONGO":188843,"MAURITIUS":186549,"SAO_TOME_PRINCIPE":179908,"QATAR":178065,"SIERRA_LEONE":168859,"CHRISTMAS_ISLAND":166146,"MOLDOVA":166144,"EQUATORIAL_GUINEA":162715,"SYRIA":157738,"BOSNIA_HERZEGOVINA":152403,"LESOTHO":151263,"CENTRAL_AFRICAN_REPUBLIC":151052,"DOMINICA":148008,"TAJIKISTAN":146832,"MALTA":146769,"BURUNDI":145719,"MALDIVES":134338,"TOGO":130990,"SAINT_LUCIA":128404,"LIECHTENSTEIN":126500,"ANTIGUA_BARBUDA":125421,"MAYOTTE":124831,"NORFOLK_ISLAND":119873,"NIGER":113193,"TIMOR_LESTE":113058,"SAMOA":105963,"GUINEA_BISSAU":99915,"MACAO":98813,"SOMALIA":98137,"CHAD":96150,"BRUNEI_DARUSSALAM":92267,"SAINT_MARTIN_FRENCH":91825,"SAINT_VINCENT_GRENADINES":91261,"SAINT_PIERRE_MIQUELON":91113,"VIRGIN_ISLANDS_BRITISH":90815,"TURKS_CAICOS_ISLANDS":88725,"LIBYA":87331,"COOK_ISLANDS":86859,"SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA":75569,"KOREA_NORTH":72440,"MONTSERRAT":62229,"SAINT_KITTS_NEVIS":62206,"TURKMENISTAN":60695,"WALLIS_FUTUNA":57312,"GIBRALTAR":57105,"COMOROS":56703,"SINT_MAARTEN":52914,"KOSOVO":48882,"COCOS_ISLANDS":43241,"BRITISH_INDIAN_OCEAN_TERRITORY":43042,"DJIBOUTI":41713,"ERITREA":38035,"SOUTH_SUDAN":35392,"BAHRAIN":31810,"PITCAIRN":28460,"SAINT_BARTHÉLEMY":23173,"MONACO":14101,"TUVALU":13471,"BOUVET_ISLAND":13093,"VATICAN":5881,"NAURU":5747,"SAN_MARINO":4428,"INTERNATIONAL_WATERS":3361}'
  recorded_at: 2026-08-19 07:16:38
- request:
    method: GET
    uri: https://api.gbif.org/v1/enumeration/country/
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"iso2":"AF","iso3":"AFG","isoNumerical":"4","title":"Afghanistan","gbifRegion":"ASIA","enumName":"AFGHANISTAN"},{"iso2":"AX","iso3":"ALA","isoNumerical":"248","title":"Åland
        Islands","gbifRegion":"EUROPE","enumName":"ALAND_ISLANDS"},{"iso2":"AL","iso3":"ALB","isoNumerical":"8","title":"Albania","gbifRegion":"EUROPE","enumName":"ALBANIA"},{"iso2":"DZ","iso3":"DZA","isoNumerical":"12","title":"Algeria","gbifRegion":"AFRICA","enumName":"ALGERIA"},{"iso2":"AS","iso3":"ASM","isoNumerical":"16","title":"American
        Samoa","gbifRegion":"OCEANIA","enumName":"AMERICAN_SAMOA"},{"iso2":"A[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DK
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"DENMARK":61440039,"LITHUANIA":519729,"PERU":333610,"GREENLAND":240579,"ECUADOR":160530,"COLOMBIA":61344,"NORWAY":59214,"MEXICO":55383,"BOLIVIA":53741,"SWEDEN":45502,"GERMANY":43430,"SPAIN":34833,"TANZANIA":28725,"FAROE_ISLANDS":26478,"THAILAND":24441,"BRAZ[...]
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DK
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"DENMARK":61440039,"BELGIUM":2025192,"UNITED_STATES":877499,"UNITED_KINGDOM":412367,"NETHERLANDS":174183,"SWEDEN":169841,"GERMANY":140433,"FRANCE":67828,"POLAND":51177,"ESTONIA":49550,"FINLAND":46818,"PORTUGAL":41312,"NORWAY":39317,"UNKNOWN":17946,"SPAIN":13580,"CANADA":11921,"AUSTRALIA":8630,"COLOMBIA":7496,"SWITZERLAND":1941,"NEW_ZEALAND":1799,"RUSSIAN_FEDERATION":1693,"JAPAN":1437,"BRAZIL":993,"CHINA":913,"CZECH_REPUBLIC":767,"ARGENTINA":759,"AUSTRIA":752,"ITALY":446,"PANAMA":375,"LUXEMBOURG":327,"MEXICO":152,"SOUTH_AFRICA":132,"LITHUANIA":126,"VENEZUELA":78,"CHILE":51,"ISRAEL":45,"BULGARIA":37,"ECUADOR":30,"TAIWAN":29,"GREECE":26,"UKRAINE":15,"URUGUAY":12,"PHILIPPINES":7,"TURKEY":6,"LATVIA":6,"COSTA_RICA":6,"HUNGARY":3,"ANTARCTICA":2,"IRELAND":1}'
  recorded_at: 2026-08-19 07:16:38
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"2024":339383593,"2023":334769376,"2022":292116420,"2021":272990699,"2020":237729386,"2019":211860709,"2018":181005685,"2017":169915201,"2016":153304802,"2015":123326523,"2014":113770818,"2013":96883708,"2012":88753425,"2025":86178074,"2011":73820226,"2010":67309061,"2009":579[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=1990%2C2000
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"2000":26086874,"1999":24793229,"1998":20712505,"1997":20067812,"1996":18886881,"1995":18885904,"1994":16393291,"1993":16154135,"1992":15176082,"1991":14194870,"1990":13314530}'
  recorded_at: 2026-08-19 07:16:42
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"HUMAN_OBSERVATION":3307273143,"PRESERVED_SPECIMEN":283809632,"MATERIAL_SAMPLE":217874658,"MACHINE_OBSERVATION":42169063,"OCCURRENCE":29478081,"OBSERVATION":19532885,"FOSSIL_SPECIMEN":10263939,"MATERIAL_CITATION":9585952,"LIVING_SPECIMEN":4142297}'
  recorded_at: 2026-08-19 07:16:43
recorded_with: VCR-vcr/2.0.0
