http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/countries
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"UNITED_STATES":821428344,"FRANCE":136246778,"CANADA":134162884,"SWEDEN":120223674,"AUSTRALIA":115226267,"UNITED_KINGDOM":111527738,"NETHERLANDS":87985544,"SPAIN":55539939,"DENMARK":50778263,"GERMANY":50164603,"NORWAY":49239049,"FINLAND":38077547,"BELGIUM":35203022,"SOUTH_AFRICA":34358479,"INDIA":32316166,"MEXICO":26613459,"BRAZIL":24953307,"COSTA_RICA":21130825,"COLOMBIA":20661186,"SWITZERLAND":19145627,"PORTUGAL":17615208,"TAIWAN":15409416,"NEW_ZEALAND":11388328,"JAPAN":11013437,"RUSSIAN_FEDERATION":10606264,"ARGENTINA":10150802,"AUSTRIA":8566998,"ECUADOR":7542423,"ESTONIA":7498562,"CHINA":7148995,"PERU":6939674,"POLAND":6717554,"KOREA_SOUTH":6376056,"ITALY":5889936,"PANAMA":5774339,"CHILE":5158010,"BELIZE":5111439,"ISRAEL":4206640,"THAILAND":4029454,"GUATEMALA":3535330,"IRELAND":3506751,"KENYA":3429709,"INDONESIA":3213465,"VENEZUELA":3092842,"PUERTO_RICO":3037946,"ANTARCTICA":2970490,"LUXEMBOURG":2858580,"HONDURAS":2797216,"MALAYSIA":2691833,"TURKEY":2687103,"CZECH_REPUBLIC":2573920,"GREECE":2319556,"PHILIPPINES":2158928,"UKRAINE":2096739,"TANZANIA":1952711,"NAMIBIA":1896033,"ICELAND":1891742,"PAPUA_NEW_GUINEA":1805621,"UNKNOWN":1759431,"BOLIVIA":1645802,"MADAGASCAR":1627214,"CUBA":1583865,"ALAND_ISLANDS":1511721,"NICARAGUA":1457043,"UNITED_ARAB_EMIRATES":1456785,"UGANDA":1432680,"SRI_LANKA":1360656,"PARAGUAY":1223831,"CONGO_DEMOCRATIC_REPUBLIC":1180193,"HONG_KONG":1175215,"MOROCCO":1174531,"ISLE_OF_MAN":1148637,"ZIMBABWE":1129577,"URUGUAY":1073630,"BENIN":1072444,"SINGAPORE":1059930,"HUNGARY":1024653,"LITHUANIA":1017557,"GEORGIA":961058,"TRINIDAD_TOBAGO":953654,"EL_SALVADOR":945726,"BAHAMAS":932960,"BULGARIA":928141,"ETHIOPIA":887498,"NEPAL":886576,"NEW_CALEDONIA":857118,"BOTSWANA":834689,"VIRGIN_ISLANDS":817238,"IRAN":806992,"FRENCH_GUIANA":801619,"RÉUNION":783477,"ROMANIA":777400,"VIETNAM":755248,"GUYANA":735283,"JAMAICA":729173,"MOZAMBIQUE":725757,"NIGERIA":712391,"AFGHANISTAN":711380,"CAMEROON":709837,"SLOVENIA":702512,"GHANA":689020,"CAMBODIA":686242,"DOMINICAN_REPUBLIC":681810,"CROATIA":677771,"GREENLAND":642411,"SLOVAKIA":620429,"SVALBARD_JAN_MAYEN":616662,"ZAMBIA":616008,"GUADELOUPE":613844,"SERBIA":602482,"BERMUDA":575590,"SENEGAL":565689,"FRENCH_POLYNESIA":546032,"PAKISTAN":537811,"SURINAME":511581,"LATVIA":508001,"MONGOLIA":500413,"GABON":485485,"EGYPT":481008,"BANGLADESH":436411,"SAUDI_ARABIA":432650,"GAMBIA":427751,"CÔTE_DIVOIRE":426759,"AMERICAN_SAMOA":413923,"OMAN":387879,"MYANMAR":368288,"BHUTAN":365508,"KAZAKHSTAN":345271,"SOUTH_GEORGIA_SANDWICH_ISLANDS":342136,"BELARUS":342045,"SWAZILAND":337350,"MALAWI":333526,"FIJI":327588,"CYPRUS":307581,"ANGOLA":301380,"UNITED_STATES_OUTLYING_ISLANDS":297188,"ALGERIA":294365,"FAROE_ISLANDS":292736,"KUWAIT":277981,"PALESTINIAN_TERRITORY":276992,"CURAÇAO":274790,"HAITI":257614,"RWANDA":255525,"BURKINA_FASO":246769,"FRENCH_SOUTHERN_TERRITORIES":244578,"NORTHERN_MARIANA_ISLANDS":240559,"CAYMAN_ISLANDS":235875,"SEYCHELLES":234860,"AZERBAIJAN":231585,"LAO":229105,"SOLOMON_ISLANDS":225786,"ANGUILLA":225151,"TUNISIA":222725,"MICRONESIA":222103,"PALAU":204499,"GUINEA":199796,"ARUBA":196944,"BONAIRE_SINT_EUSTATIUS_SABA":193580,"HEARD_MCDONALD_ISLANDS":190016,"MARTINIQUE":188111,"VANUATU":185753,"ARMENIA":179810,"FALKLAND_ISLANDS":176792,"KYRGYZSTAN":173734,"KIRIBATI":172975,"LIBERIA":163785,"GUAM":160053,"TONGA":155908,"SUDAN":155536,"MARSHALL_ISLANDS":152152,"ANDORRA":147287,"MALI":144776,"CAPE_VERDE":144520,"BARBADOS":140596,"WESTERN_SAHARA":138551,"MAURITANIA":137256,"SYRIA":136510,"CONGO":129180,"MAURITIUS":125038,"LESOTHO":120007,"TOGO":119778,"LEBANON":113796,"YEMEN":112682,"CENTRAL_AFRICAN_REPUBLIC":111230,"QATAR":108805,"UZBEKISTAN":104877,"MACEDONIA":104474,"DOMINICA":102758,"IRAQ":102182,"BURUNDI":99673,"EQUATORIAL_GUINEA":99557,"NIGER":98376,"GRENADA":97338,"MOLDOVA":97157,"SIERRA_LEONE":95649,"JORDAN":92781,"MALDIVES":85768,"NIUE":81949,"MONTENEGRO":81918,"TAJIKISTAN":78003,"TIMOR_LESTE":75335,"CHAD":73607,"JERSEY":72804,"BOSNIA_HERZEGOVINA":71765,"SAMOA":71268,"ALBANIA":71180,"SAINT_LUCIA":69768,"VIRGIN_ISLANDS_BRITISH":69258,"MAYOTTE":67809,"SAINT_MARTIN_FRENCH":67299,"SOMALIA":65631,"NORFOLK_ISLAND":62944,"ANTIGUA_BARBUDA":62650,"TOKELAU":62566,"MALTA":62531,"GUINEA_BISSAU":62331,"LIECHTENSTEIN":62017,"COOK_ISLANDS":61784,"GUERNSEY":59394,"LIBYA":58744,"TURKS_CAICOS_ISLANDS":54066,"SAO_TOME_PRINCIPE":53538,"SAINT_PIERRE_MIQUELON":51086,"KOREA_NORTH":50663,"BRUNEI_DARUSSALAM":49111,"WALLIS_FUTUNA":48252,"TURKMENISTAN":47754,"SAINT_VINCENT_GRENADINES":46067,"MONTSERRAT":42226,"COMOROS":40778,"CHRISTMAS_ISLAND":37668,"SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA":36076,"SAINT_KITTS_NEVIS":34704,"DJIBOUTI":32882,"BRITISH_INDIAN_OCEAN_TERRITORY":32569,"SINT_MAARTEN":32092,"ERITREA":26979,"KOSOVO":26495,"SOUTH_SUDAN":23725,"PITCAIRN":22105,"COCOS_ISLANDS":17653,"SAINT_BARTHÉLEMY":17459,"BAHRAIN":16587,"MACAO":14031,"GIBRALTAR":13902,"BOUVET_ISLAND":13278,"TUVALU":9900,"NAURU":5304,"MONACO":5071,"SAN_MARINO":2228,"VATICAN":1961,"INTERNATIONAL_WATERS":774}'
  recorded_at: 2023-03-02 09:08:55 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.gbif.org/v1/enumeration/country/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"iso2":"AF","iso3":"AFG","isoNumerical":"4","title":"Afghanistan","gbifRegion":"ASIA","enumName":"AFGHANISTAN"},{"iso2":"AX","iso3":"ALA","isoNumerical":"248","title":"Åland
        Islands","gbifRegion":"EUROPE","enumName":"ALAND_ISLANDS"},{"iso2":"AL","iso3":"ALB","isoNumerical":"8","title":"Albania","gbifRegion":"EUROPE","enumName":"ALBANIA"},{"iso2":"DZ","iso3":"DZA","isoNumerical":"12","title":"Algeria","gbifRegion":"AFRICA","enumName":"ALGERIA"},{"iso2":"AS","iso3":"ASM","isoNumerical":"16","title":"American
        Samoa","gbifRegion":"OCEANIA","enumName":"AMERICAN_SAMOA"},{"iso2":"A[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DK
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"DENMARK":49551487,"LITHUANIA":439429,"PERU":329946,"GREENLAND":170665[...]
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DK
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"DENMARK":49551487,"UNITED_STATES":391564,"UNITED_KINGDOM":370341,"SWEDEN":106523,"NETHERLANDS":66866,"GERMANY":63523,"FRANCE":55243,"ESTONIA":46912,"FINLAND":39904,"NORWAY":31928,"COLOMBIA":7370,"AUSTRALIA":5880,"SPAIN":4675,"CANADA":3958,"BELGIUM":3925,"SWITZERLAND":2429,"POLAND":2342,"RUSSIAN_FEDERATION":1676,"NEW_ZEALAND":1599,"JAPAN":1380,"BRAZIL":939,"CZECH_REPUBLIC":655,"AUSTRIA":572,"PORTUGAL":541,"ARGENTINA":260,"SOUTH_AFRICA":91,"VENEZUELA":78,"MEXICO":39,"ITALY":27,"PANAMA":26,"BULGARIA":25,"LUXEMBOURG":19,"ISRAEL":13,"TAIWAN":12,"COSTA_RICA":2,"ECUADOR":1}'
  recorded_at: 2023-03-02 09:08:55 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"2021":230566544,"2020":206630661,"2019":172372052,"2018":154638982,"2017":130435164,"2016[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=1990%2C2000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"2000":20024710,"1999":19215402,"1998":16117418,"1997":15754774,"1995":15033967,"1996":14865513,"1994":13132168,"1993":12964547,"1992":12762370,"1990":12615298,"1991":11853604}'
  recorded_at: 2023-03-02 09:08:55 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"HUMAN_OBSERVATION":1966190351,"PRESERVED_SPECIMEN":212997435,"MATERIAL_SAMPLE":51946547,"OBSERVATION":23398982,"OCCURRENCE":20755030,"MACHINE_OBSERVATION":15197460,"FOSSIL_SPECIMEN":10118623,"MATERIAL_CITATION":3060525,"LIVING_SPECIMEN":1960662}'
  recorded_at: 2023-03-02 09:08:55 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
