http_interactions:
- request:
    method: post
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.2 crul/0.8.4 rOpenSci(rgbif/1.3.4.9100)
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
      location: http://api.gbif.org/v1/occurrence/download/request/0025912-190918142434337
    body:
      encoding: UTF-8
      string: 0025912-190918142434337
  recorded_at: 2019-10-21 20:35:40 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
[...]
- request:
    method: post
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.2 crul/0.8.4 rOpenSci(rgbif/1.3.4.9100)
      Content-Type: application/json
  response:
    status:
      status_code: '420'
      message: Method Failure / Enhance Your Calm
      explanation: Spring Framework / Twitter
    headers:
      status: HTTP/1.1 420 Enhance your Calm
      content-type: text/plain
    body:
      encoding: UTF-8
      string: |
        A download limitation is exceeded:
        User <gbif_user> has too many simultaneous downloads; the limit is 3.
        Please wait for some to complete, or cancel any unwanted downloads.  See your user page.
  recorded_at: 2019-10-21 20:35:40 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/0025911-190918142434337
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.2 crul/0.8.4 rOpenSci(rgbif/1.3.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"key":"0025911-190918142434337","doi":"10.15468/dl.2fypln","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ"},{"type":"equals","key":"YEAR","value":"1993"},{"type":"equals","key":"MONTH","value":"1"}]},"sendNotification":false,"format":"DWCA"},"created":"2019-10-21T20:34:30.712+0000","modified":"2019-10-21T20:34:30.814+0000","eraseAfter":"2020-04-21T20:34:30.621+0000","status":"RUNNING","downloadLink":"http://api.gbif.org/v1/occurrence/download/request/0025911-190918142434337.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2019-10-21 20:35:40 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
[...]
