http_interactions:
- request:
    method: post
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      encoding: ''
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"DWCA","predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251"},{"type":"in","key":"COUNTRY","values":["US","CA"]},{"type":"greaterThanOrEquals","key":"YEAR","value":"1975"}]}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: 0108767-230224095556074
  recorded_at: 2023-03-22 13:06:01 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/0108767-230224095556074
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"key":"0108767-230224095556074","doi":"10.15468/dl.b9amuy","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251","matchCase":false},{"type":"in","key":"COUNTRY","values":["US","CA"],"matchCase":false},{"type":"greaterThanOrEquals","key":"YEAR","value":"1975","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2023-03-22T13:04:33.116+00:00","modified":"2023-03-22T13:04:33.116+00:00","eraseAfter":"2023-09-22T13:04:33.059+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0108767-230224095556074.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2023-03-22 13:06:01 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
[...]
