http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/countries
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"UNITED_STATES":1112637875,"FRANCE":205859234,"CANADA":186011070,"UNITED_KINGDOM":182604143,"SWEDEN":161983907,"AUSTRALIA":142681870,"NETHERLANDS":131008834,"SPAIN":77190458,"GERMANY":66355042,"DENMARK":61988595,"NORWAY":58520354,"INDIA":52290097,"FINLAND":48143328,"SOUTH_AFRICA":43004075,"BELGIUM":42543948,"BRAZIL":36650178,"MEXICO":35394899,"COLOMBIA":33980546,"COSTA_RICA":32332616,"SWITZERLAND":30097382,"PORTUGAL":23405087,"TAIWAN":22824460,"RUSSIAN_FEDERATION":17275985,"POLAND":16167553,"JAPAN":15797366,"NEW_ZEALAND":15796782,"ARGENTINA":15466015,"AUSTRIA":13712811,"ECUADOR":12384437,"CHINA":11711333,"CHILE":11323921,"PERU":9744805,"ESTONIA":8668007,"ITALY":8539716,"PANAMA":8359175,"KOREA_SOUTH":8074885,"ISRAEL":7417038,"BELIZE":6761837,"THAILAND":6674919,"IRELAND":5204795,"GUATEMALA":4905724,"VENEZUELA":4784026,"KENYA":4705355,"INDONESIA":4639401,"CZECH_REPUBLIC":4633599,"PUERTO_RICO":4239780,"MALAYSIA":4080517,"GREECE":3891482,"TURKEY":3873697,"UKRAINE":3755152,"HONDURAS":3598224,"LUXEMBOURG":3394804,"ANTARCTICA":3298249,"MADAGASCAR":3118270,"PHILIPPINES":3082752,"TANZANIA":3081027,"BOLIVIA":2652266,"BULGARIA":2634077,"UGANDA":2439025,"SRI_LANKA":2396408,"PAPUA_NEW_GUINEA":2372479,"ICELAND":2341589,"CUBA":2182228,"NICARAGUA":2152897,"HUNGARY":2124302,"UNITED_ARAB_EMIRATES":1983565,"SLOVAKIA":1968148,"HONG_KONG":1882806,"UNKNOWN":1792190,"URUGUAY":1775143,"SINGAPORE":1751079,"MOROCCO":1741975,"ALAND_ISLANDS":1723315,"NAMIBIA":1674483,"ISLE_OF_MAN":1657485,"PARAGUAY":1653914,"NEPAL":1507858,"SVALBARD_JAN_MAYEN":1474866,"CONGO_DEMOCRATIC_REPUBLIC":1415952,"EL_SALVADOR":1311404,"LITHUANIA":1293366,"GEORGIA":1288746,"ROMANIA":1254069,"TRINIDAD_TOBAGO":1246955,"CROATIA":1229197,"NIGERIA":1175044,"ETHIOPIA":1169078,"BENIN":1155725,"BAHAMAS":1146990,"IRAN":1127700,"VIETNAM":1075444,"NEW_CALEDONIA":1072105,"GHANA":1068580,"FRENCH_GUIANA":1062788,"ZIMBABWE":1015541,"GUYANA":1014991,"CAMEROON":1012514,"GREENLAND":1001487,"CAMBODIA":991836,"SLOVENIA":979313,"DOMINICAN_REPUBLIC":974335,"SAUDI_ARABIA":973791,"JAMAICA":971364,"ZAMBIA":955654,"BOTSWANA":931326,"SERBIA":930301,"RÉUNION":860140,"VIRGIN_ISLANDS":851924,"GABON":851161,"PAKISTAN":814269,"MOZAMBIQUE":786033,"GUADELOUPE":778226,"SENEGAL":776971,"AFGHANISTAN":746784,"MONGOLIA":740547,"GAMBIA":729016,"EGYPT":714056,"BANGLADESH":706642,"BERMUDA":690843,"LATVIA":671789,"SURINAME":662290,"FRENCH_POLYNESIA":633417,"CÔTE_DIVOIRE":612012,"BHUTAN":603065,"PALESTINIAN_TERRITORY":601170,"CYPRUS":595981,"BELARUS":585689,"KAZAKHSTAN":585488,"OMAN":561623,"ALGERIA":458463,"MYANMAR":454402,"MALAWI":453959,"FIJI":436245,"AMERICAN_SAMOA":423340,"RWANDA":422091,"SOUTH_GEORGIA_SANDWICH_ISLANDS":394925,"ANGOLA":388915,"CURAÇAO":387328,"SYRIA":382796,"UNITED_STATES_OUTLYING_ISLANDS":376615,"CAYMAN_ISLANDS":371832,"LAO":327870,"BONAIRE_SINT_EUSTATIUS_SABA":327823,"KUWAIT":320425,"FAROE_ISLANDS":319956,"SEYCHELLES":311926,"AZERBAIJAN":308191,"GUERNSEY":308112,"SOLOMON_ISLANDS":303766,"HAITI":289329,"ARUBA":286633,"GUINEA":283899,"SWAZILAND":273679,"BURKINA_FASO":273448,"TUNISIA":272476,"NORTHERN_MARIANA_ISLANDS":267612,"FRENCH_SOUTHERN_TERRITORIES":263913,"ARMENIA":260474,"FALKLAND_ISLANDS":260117,"JERSEY":251957,"PALAU":247721,"MARTINIQUE":243947,"KYRGYZSTAN":242171,"MICRONESIA":237264,"ANGUILLA":234959,"LIBERIA":234160,"WESTERN_SAHARA":220983,"VANUATU":213401,"HEARD_MCDONALD_ISLANDS":206854,"MALI":202545,"LEBANON":196754,"SUDAN":192623,"MAURITANIA":191416,"BARBADOS":181944,"CAPE_VERDE":181691,"UZBEKISTAN":180058,"GUAM":179947,"KIRIBATI":179403,"MACEDONIA":176321,"MARSHALL_ISLANDS":174946,"ANDORRA":174220,"JORDAN":172576,"TONGA":167389,"GRENADA":164642,"CONGO":164104,"MAURITIUS":162907,"IRAQ":162557,"MONTENEGRO":162246,"YEMEN":160429,"SIERRA_LEONE":153770,"EQUATORIAL_GUINEA":152876,"ALBANIA":146113,"QATAR":145649,"TOGO":143424,"MOLDOVA":142522,"CENTRAL_AFRICAN_REPUBLIC":141415,"LESOTHO":140667,"TAJIKISTAN":133596,"SAO_TOME_PRINCIPE":127930,"DOMINICA":127713,"BURUNDI":126902,"BOSNIA_HERZEGOVINA":116604,"MALDIVES":115351,"NIGER":114820,"MALTA":103875,"SAINT_LUCIA":102689,"TIMOR_LESTE":95782,"SOMALIA":94126,"NORFOLK_ISLAND":93811,"ANTIGUA_BARBUDA":93456,"LIECHTENSTEIN":91770,"MAYOTTE":90198,"GUINEA_BISSAU":90093,"SAMOA":88638,"CHAD":85884,"NIUE":84825,"SAINT_MARTIN_FRENCH":83205,"VIRGIN_ISLANDS_BRITISH":81106,"BRUNEI_DARUSSALAM":80453,"KOREA_NORTH":78934,"TURKS_CAICOS_ISLANDS":78419,"SAINT_VINCENT_GRENADINES":76836,"COOK_ISLANDS":76060,"SAINT_PIERRE_MIQUELON":73639,"LIBYA":72141,"MACAO":65794,"TOKELAU":62782,"MONTSERRAT":57197,"TURKMENISTAN":54438,"WALLIS_FUTUNA":53686,"CHRISTMAS_ISLAND":51269,"SAINT_KITTS_NEVIS":51176,"COMOROS":50595,"SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA":49630,"GIBRALTAR":48229,"SINT_MAARTEN":43124,"BRITISH_INDIAN_OCEAN_TERRITORY":38604,"DJIBOUTI":36797,"KOSOVO":35029,"ERITREA":34107,"COCOS_ISLANDS":33941,"SOUTH_SUDAN":32098,"BAHRAIN":26682,"PITCAIRN":24705,"SAINT_BARTHÉLEMY":21928,"BOUVET_ISLAND":12619,"TUVALU":12290,"MONACO":8058,"NAURU":5544,"VATICAN":4055,"INTERNATIONAL_WATERS":3361,"SAN_MARINO":3340}'
  recorded_at: 2025-08-04 13:50:40
- request:
    method: GET
    uri: https://api.gbif.org/v1/enumeration/country/
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"iso2":"AF","iso3":"AFG","isoNumerical":"4","title":"Afghanistan","gbifRegion":"ASIA","enumName":"AFGHANISTAN"},{"iso2":"AX","iso3":"ALA","isoNumerical":"248","title":"Åland
        Islands","gbifRegion":"EUROPE","enumName":"ALAND_ISLANDS"},{"iso2":"AL","iso3":"ALB","isoNumerical":"8","title":"Albania","gbifRegion":"EUROPE","enumName":"ALBANIA"},{"iso2":"DZ","iso3":"DZA","isoNumerical":"12","title":"Algeria","gbifRegion":"AFRICA","enumName":"ALGERIA"},{"iso2":"AS","iso3":"ASM","isoNumerical":"16","title":"American
        Samoa","gbifRegion":"OCEANIA","enumName":"AMERICAN_SAMOA"},{"iso2":"A[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DK
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"DENMARK":60151859,"LITHUANIA":439439,"PERU":333617,"GREENLAND":239879,"ECUADOR":160277,"COLOMBIA":61347,"NORWAY":59012,"MEXICO":55467,"BOLIVIA":53741,"SWEDEN":44605,"GERMANY":43153,"FAROE_ISLANDS":39089,"SPAIN":34794,"TANZANIA":32035,"THAILAND":25295,"BRAZ[...]
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DK
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"DENMARK":60151859,"UNITED_STATES":723450,"UNITED_KINGDOM":306512,"SWEDEN":158322,"NETHERLANDS":127353,"BELGIUM":106185,"GERMANY":75198,"FRANCE":63374,"POLAND":51135,"ESTONIA":47927,"FINLAND":45121,"PORTUGAL":41194,"NORWAY":33282,"SPAIN":11002,"CANADA":10342,"UNKNOWN":9792,"AUSTRALIA":8146,"COLOMBIA":7372,"NEW_ZEALAND":2163,"RUSSIAN_FEDERATION":1682,"JAPAN":1411,"BRAZIL":988,"CHINA":913,"ARGENTINA":739,"CZECH_REPUBLIC":732,"AUSTRIA":718,"SWITZERLAND":710,"PANAMA":313,"SOUTH_AFRICA":114,"LUXEMBOURG":85,"VENEZUELA":78,"ITALY":71,"MEXICO":66,"ISRAEL":43,"CHILE":42,"BULGARIA":39,"TAIWAN":25,"GREECE":25,"ECUADOR":24,"UKRAINE":15,"URUGUAY":8,"LITHUANIA":7,"COSTA_RICA":7,"LATVIA":6,"HUNGARY":3,"ANTARCTICA":2}'
  recorded_at: 2025-08-04 13:50:40
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"2023":289457496,"2022":272677078,"2021":254664248,"2020":223853215,"2019":193905702,"2018":168561650,"2017":143145119,"2016":127503655,"2015":111580258,"2014":101226610,"2013":86657319,"2012":79486979,"2011":66792961,"2010":62012567,"2024":60909275,"2009":57161464,"2008":4558[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/year?year=1990%2C2000
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"2000":23825157,"1999":22543963,"1998":18891392,"1997":18481018,"1995":17546465,"1996":17524732,"1994":15063176,"1993":14813001,"1992":13941297,"1991":13092501,"1990":12609485}'
  recorded_at: 2025-08-04 13:50:40
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"HUMAN_OBSERVATION":2772124147,"PRESERVED_SPECIMEN":266721099,"MATERIAL_SAMPLE":75711762,"MACHINE_OBSERVATION":32227842,"OCCURRENCE":20755952,"OBSERVATION":16761578,"FOSSIL_SPECIMEN":9788856,"MATERIAL_CITATION":8356422,"LIVING_SPECIMEN":3422735}'
  recorded_at: 2025-08-04 13:50:40
recorded_with: VCR-vcr/2.0.0
