http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=500&offset=0&catalogNumber=PlantAndMushroom.6845144
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.2.0 rOpenSci(rgbif/3.6.1.99)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":300,"endOfRecords":true,"count":0,"results":[],"facets":[]}'
  recorded_at: 2021-12-17 14:13:00 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
