http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=3&offset=0&recordedBy=smith
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: "{\"offset\":0,\"limit\":3,\"endOfRecords\":false,\"count\":6286,\"results\":[{\"key\":1826756129,\"datasetKey\":\"9beef4fb-e3dd-475a-be95-45d2105b32bd\",\"publishingOrgKey\":\"977178c7-76fe-4c86-94f3-cf039ede5c3c\",\"networkKeys\":[],\"installationKey\":\"6aca019f-ee9d-4088-859b-5a601d4b093f\",\"publishingCountry\":\"DK\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2018-03-01T09:49:23.142+0000\",\"lastParsed\":\"2018-02-28T15:40:07.887+0000\",\"crawlId\":6,\"extensions\":{},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"individualCount\":1,\"taxonKey\":2494200,\"kingdomKey\":1,\"phylumKey\":44,\"classKey\":212,\"orderKey\":729,\"familyKey\":5242,\"genusKey\":8215044,\"speciesKey\":2494200,\"acceptedTaxonKey\":2494200,\"scientificName\":\"Serinus
        serinus (Linnaeus, 1766)\",\"acceptedScientificName\":\"Serinus serinus (Linnaeus,
        1766)\",\"kingdom\":\"Animalia\",\"phylum\":\"Chordata\",\"order\":\"Passeriformes\",\"family\":\"Fringillidae\",\"genus\":\"Serinus\",\"species\":\"Serinus
        serinus\",\"genericName\":\"Serinus\",\"specificEpithet\":\"serinus\",\"taxonRank\":\"SPECIES\",\"taxonomicStatus\":\"ACCEPTED\",\"decimalLongitude\":11.192493,\"decimalLatitude\":55.58892,\"coordinateUncertaintyInMeters\":117.0,\"continent\":\"EUROPE\",\"year\":2015,\"month\":4,\"day\":18,\"eventDate\":\"2015-04-18T00:00:00\",\"issues\":[\"COORDINATE_ROUNDED\"],\"lastInterpreted\":\"2018-12-08T06:55:33.414+0000\",\"license\":\"http://creativecommons.org/licenses/by/4.0/legalcode\",\"identifiers\":[],\"facts\":[],\"relations\":[],\"geodeticDatum\":\"WGS84\",\"class\":\"Aves\",\"countryCode\":\"DK\",\"country\":\"Denmark\",\"identifier\":\"DK_EB_phd_416177\",\"associatedReferences\":\"Buchwald,
        E., PhD-thesis 2018 and manuscripts in it. Analysis and prioritization of
        future efforts for biodiversity \x96 with particular regard to Danish Nature
        Agency lands.\",\"georeferenceRemarks\":\"DK_utm_10x10km_gridcell_PG36\",\"locality\":\"Bjerge\",\"gbifID\":\"1826756129\",\"verbatimLocality\":\"Bjerge\",\"collectionCode\":\"Dofbasen\",\"occurrenceID\":\"DK_EB_phd_416177\",\"taxonID\":\"Serinus
        serinus\",\"recordedBy\":\"Smith\",\"vernacularName\":\"Gulirisk\",\"occurrenceRemarks\":\"Manuscript
        A and B\",\"behavior\":\"Probable breeding\"},{\"key\":1826747686,\"datasetKey\":\"9beef4fb-e3dd-475a-be95-45d2105b32bd\",\"publishingOrgKey\":\"977178c7-76fe-4c86-94f3-cf039ede5c3c\",\"networkKeys\":[],\"installationKey\":\"6aca019f-ee9d-4088-859b-5a601d4b093f\",\"publishingCountry\":\"DK\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2018-03-01T09:49:21.971+0000\",\"lastParsed\":\"2018-02-28T15:40:04.750+0000\",\"crawlId\":6,\"extensions\":{},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"individualCount\":1,\"taxonKey[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=3&offset=0&recordedBy=BJ%20Stacey
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=3&offset=0&recordedBy=smith&recordedBy=BJ%20Stacey
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      st[...]
