http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/user/<gbif_user>?limit=20&offset=0
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":2844,"results":[{"key":"0021908-260806074905277","doi":"10.15468/dl.cfvxek","license":"http://creativecommons.org/licenses/by/4.0/legalcode","request":{"predicate":{"type":"equals","key":"DATASET_KEY","value":"50c8a1bc-0f4e-4df6-9de8-651e2426b81d","matchCase":false},"creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[]},"created":"2026-08-18T10:59:52.958+00:00","modified":"2026-08-18T11:01:31.598+00:00","eraseAfter":"2027-02-18T10:59:52.887+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0021908-260806074905277.zip","size":255313,"totalRecords":4502,"numberDatasets":1,"source":"rgbif"},{"key":"0021588-260806074905277","doi":"10.15468/dl.mxwn69","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"3K5TS","matchCase":false,"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},{"type":"in","key":"COUNTRY","values":["US","CA"],"matchCase":false},{"type":"greaterThanOrEquals","key":"YEAR","value":"1975","matchCase":false}]},"creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-08-18T06:47:48.314+00:00","modified":"2026-08-18T06:49:40.696+00:00","eraseAfter":"2027-02-18T06:47:48.232+00:00","status":"SUCCEEDED"[...]
