http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"SIMPLE_CSV","predicate":{"type":"greaterThan","key":"ORGANISM_QUANTITY","value":"1"}}'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: 0025451-250827131500795
  recorded_at: 2025-09-04 09:20:42
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0025451-250827131500795
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":"0025451-250827131500795","license":"unspecified","request":{"predicate":{"type":"greaterThan","key":"ORGANISM_QUANTITY","value":"1","matchCase":false},"sendNotification":false,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-09-04T09:20:42.039+00:00","modified":"2025-09-04T09:20:42.039+00:00","eraseAfter":"2026-03-04T09:20:39.941+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0025451-250827131500795.zip","size":0,"totalRecords":105754995,"numberDatasets":0}'
  recorded_at: 2025-09-04 09:20:42
recorded_with: VCR-vcr/2.0.0
