http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/dataset/7f2edc10-f762-11e1-a439-00145eb45e9a?limit=20&offset=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rgbif/2.1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":21685,"results":[{"downloadKey":"0011533-200127171203522","datasetKey":"7f2edc10-f762-11e1-a439-00145eb45e9a","datasetTitle":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM","datasetDOI":"10.15468/blmvxk","datasetCitation":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM. Carl Faust Foundation.
        Occurrence Dataset https://doi.org/10.15468/blmvxk accessed via GBIF.org on
        2017-06-01.","numberRecords":4277,"download":{"key":"0011533-200127171203522","doi":"10.15468/dl.05up9g","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"sendNotification":true,"format":"SPECIES_LIST"},"created":"2020-02-12T20:22:54.299+0000","modified":"2020-02-12T20:31:27.092+0000","eraseAfter":"2020-08-12T20:22:54.219+0000","status":"SUCCEEDED","downloadLink":"http://api.gbif.org/v1/occurrence/download/request/0011533-200127171203522.zip","size":239026007,"totalRecords":3274660,"numberDatasets":28533}},{"downloadKey":"0011522-200127171203522","datasetKey":"7f2edc10-f762-11e1-a439-00145eb45e9a","datasetTitle":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM","datasetDOI":"10.15468/blmvxk","datasetCitation":"Fundación
        Carl Faust: Herbario del Jardí Botànic Marimurtra: HMIM. Carl Faust Foundation.
        Occurrence Dataset https://doi.org/10.15468/blmvxk accessed via GBIF.org on
        2017-06-01.","numberRecords":1,"download":{"key":"0011522-200127171203522","doi":"10.15468/dl.exqyfa","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"or","predicates":[{"type":"equals","key":"TAXON_KEY","value":"5329260"},{"type":"equals","key":"TAXON_KEY","value":"5329253"},{"type":"equals","key":"TAXON_KEY","value":"2765940"},{"type":"equals","key":"TAXON_KEY","value":"2765950"}]},"sendNotification":true,"format":"SIMPLE_CSV"},"created":"2020-02-12T20:04:07.384+0000","modified":"2020-02-12T20:05:06.015+0000","eraseAfter":"2020-08-12T20:04:07.328+0000","status":"SUCCEEDED","downloadLink":"http://api.gbif.org/v1/occurrence/download/request/0011522-200127171203522.zip","size":1355238,"totalRecords":2642[...]
