http_interactions:
- request:
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"SIMPLE_CSV","predicate":{"type":"equals","key":"LIFE_STAGE","value":"Adult"}}'
  response:
    status: 201
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json
    body:
      string: 0014177-250802193616735
  recorded_at: 2025-08-05 09:07:06
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/0014177-250802193616735
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      string: '{"key":"0014177-250802193616735","license":"unspecified","request":{"predicate":{"type":"equals","key":"LIFE_STAGE","value":"Adult","matchCase":false},"sendNotification":false,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2025-08-05T09:07:07.917+00:00","modified":"2025-08-05T09:07:07.917+00:00","eraseAfter":"2026-02-05T09:07:07.849+00:00","status":"PREPARING","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0014177-250802193616735.zip","size":0,"totalRecords":131241097,"numberDatasets":0}'
  recorded_at: 2025-08-05 09:07:06
recorded_with: VCR-vcr/2.0.0
