http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/user/<gbif_user>?limit=20&offset=0
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":2808,"results":[{"key":"0015438-260806074905277","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"3K5TS","matchCase":false,"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},{"type":"in","key":"COUNTRY","values":["US","CA"],"matchCase":false},{"type":"greaterThanOrEquals","key":"YEAR","value":"1979","matchCase":false}]},"creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-08-14T12:31:19.629+00:00","modified":"2026-08-14T12:31:21.058+00:00","eraseAfter":"2027-02-14T12:31:19.462+00:00","status":"CANCELLED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0015438-260806074905277.zip","size":0,"totalRecords":26426,"numberDatasets":215,"source":"rgbif"},{"key":"0015437-260806074905277","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251","matchCase":false,"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},{"type":"in","key":"COUNTRY","values":["US","CA"],"matchCase":false},{"type":"greaterThanOrEquals","key":"YEAR","value":"1979","matchCase":false}]},"creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-08-14T12:29:15.917+00:00","modified":"2026-08-14T12:29:17.318+00:00","eraseAfter":"2027-02-14T12:29:15.834+00:00","status":"CANCELLED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0015437-260806074905277.zip","size":0,"totalRecords":0,"numberDatasets":0,"source":"rgbif"},{"key":"0015421-260806074905277","doi":"10.15468/dl.s6qd3e","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"equals","key":"TAXON_KEY","value":"2431950","matchCase":false,"checklistKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c"},"creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-08-14T12:23:42.543+00:00","modified":"2026-08-14T12:26:25.277+00:00","eraseAfter":"2027-02-14T12:23:42.394+00:00","status":"SUCCEEDED","downloadLink":"https://api.gbif.org/v1/occurrence/download/request/0015421-260806074905277.zip","size":48953,"totalRecords":972,"numberDatasets":72,"source":"rgbif"},{"key":"0015383-260806074905277","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"isNotNull","parameter":"CATALOG_NUMBER"},{"type":"isNotNull","parameter":"SCIENTIFIC_NAME"},{"type":"isNotNull","parameter":"LIFE_STAGE"}]},"creator":"<gbif_user>","notificationAddresses":["<gbif_user>@gbif.org"],"sendNotification":false,"format":"SIMPLE_CSV","type":"OCCURRENCE","verbatimExtensions":[],"interpretedExtensions":[],"checklistKey":"7ddf754f-d193-4cc9-b351-99906754a03b"},"created":"2026-08-14T12:09:18.114+00:00","modified":"2026-08-14T12:09:50.174+00:00","eraseAfter":"2027-02-14T12:09:17.569+00:00","status[...]
