http_interactions:
- request:
    method: post
    uri: https://api.gbif-uat.org/v1/occurrence/download/request
    body:
      encoding: ''
      string: '{"creator":"<gbif_user>","notification_address":["<gbif_user>@gbif.org"],"format":"DWCA","predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ"},{"type":"equals","key":"YEAR","value":"1993"},{"type":"equals","key":"MONTH","value":"1"}]}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: 0000003-240429114822400
  recorded_at: 2024-05-22 09:26:47 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.gbif-uat.org/v1/occurrence/download/0000003-240429114822400
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"key":"0000003-240429114822400","doi":"10.21373/dl.2g5ex7","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ","matchCase":false},{"type":"equals","key":"YEAR","value":"1993","matchCase":false},{"type":"equals","key":"MONTH","value":"1","matchCase":false}]},"sendNotification":false,"format":"DWCA","type":"OCCURRENCE","verbatimExtensions":[]},"created":"2024-05-22T09:25:33.128+00:00","modified":"2024-05-22T09:25:33.128+00:00","eraseAfter":"2024-11-22T09:25:32.973+00:00","status":"PREPARING","downloadLink":"https://api.gbif-uat.org/v1/occurrence/download/request/0000003-240429114822400.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2024-05-22 09:26:47 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
[...]
