http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/organization?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/organization?limit=100
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":false,"count":1656,"results":[{"key":"cc9c6d3e-169f-46cb-ad4f-5aff30a65e78","endorsingNodeKey":"da44cd31-5901-4687-a106-6d1c7734ee3a","endorsementApproved":true,"title":"Institut
        Systematique Evolution Biodiversité - UMR 7205","description":"L''Institut
        de Systématique, Evolution, Biodiversité est un laboratoire commun (UMR 7205)
        du CNRS, du Muséum national d''Histoire naturelle, de  Sorbonne Université
        et de l''Ecole pratique des hautes études.\n\nL''UMR 7205 a pour objectif
        d''étudier l''origine de la biodiversité, la diversification des espèces et
        l''établissement de communautés en relation avec l''évolution des taxons dans
        le temps et dans l''espace.\n\nL’unité est l''un des pôles européens de la
        systématique et contribue de manière significative aux domaines de la taxonomie
        et de la biologie de l''évolution. Nous effectuons des approches intégratives
        en systématique phylogénétique qui ont permis de développer des outils taxonomiques,
        moléculaires, génétiques, acoustiques, cytogénétiques, morphologiques et morphométriques.","language":"eng","email":["pg@mnhn.fr"],"phone":["330140793848"],"homepage":["http://isyeb.mnhn.fr/fr"],"logoUrl":"http://isyeb.mnhn.fr/fr","address":["CP
        50, 45 rue Buffon"],"city":"Paris","country":"FR","postalCode":"75005","latitude":46.55886,"longitude":1.75781,"numPublishedDatasets":0,"createdBy":"gbif.express","modifiedBy":"gbif.express","created":"2018-10-08T14:19:24.548+0000","modified":"2018-10-08T14:19:59.040+0000","contacts":[{"key":1079511,"type":"POINT_OF_CONTACT","primary":false,"userId":[],"firstName":"Roseli","lastName":"PELLENS","position":[],"email":["pellens@mnhn.fr"],"phone":["0140793561"],"homepage":[],"address":[],"createdBy":"gbif.express","modifiedBy":"gbif.express","created":"2018-10-08T14:19:24.646+0000","modified":"2018-10-08T14:19:24.646+0000"}],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[],"comments":[{"key":20539,"content":"Is
        associated with a GBIF-funded project: no\n\n\nExpects to publish:\n\n\n -
        OccurenceData\n\nWill run a server which exposes data: yes\n\n\nPlans to run
        publishing software (e.g. an IPT): no\n\n\nNeeds help for data publishing:
        yes","createdBy":"gbif.express","modifiedBy":"gbif.express","created":"2018-10-08T14:19:24.695+0000","modified":"2018-10-08T14:19:24.695+0000"}]},{"key":"8672e4f5-6d6d-46d2-be1e-c1c06b3c56cd","endorsingNodeKey":"7f48e0c8-5c96-49ec-b972-30748e339115","endorsementApproved":true,"title":"Direction
        des eaux et Forêts Chasses et de la Conservation des Sols","description":"Gestion
        forestiére, aménagement","language":"eng","email":["laforez@yahoo.fr"],"phone":["002218310101"],"homepage":[],"address":["Route
        des pères Maristes"],"city":"DAKAR","province":"DAKAR","country":"SN","postalCode":"BP
        1831","latitude":14.93682,"longitude":-14.43604,"numPublishedDatasets":0,"createdBy":"gbif.express","modifiedBy":"gbif.express","created":"2018-09-28T15:22:04.158+0000","modified":"2018-10-01T09:02:31.032+0000","contacts":[{"key":1041914,"type":"POINT_OF_CONTACT","primary":false,"userId":[],"firstName":"DOUDOU
        SOW","lastName":"SOW","position":[],"email":["aime.sala@gmail.com"],"phone":["00221709882631"],"homepage":[],"address":[],"createdBy[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/organization/4b4b2111-ee51-45f5-bf5e-f535f4a1c9dc?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/organization/4b4b2111-ee51-45[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/organization/4b4b2111-ee51-45f5-bf5e-f535f4a1c9dc/contact?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/organization/4b4b2111[...]
