http_interactions:
- request:
    method: post
    uri: https://api.gbif.org/v1/parser/name
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
      x-api-url: /v1/parser/name
    body:
      encoding: UTF-8
      string: '[{"scientificName":"x Agropogon littoralis","type":"SCIENTIFIC","genusOrAbove":"Agropogon","specificEpithet":"littoralis","notho":"GENERIC","parsed":true,"parsedPartially":false,"canonicalName":"Agropogon
        littoralis","canonicalNameWithMarker":"×Agropogon littoralis","canonicalNameComplete":"×Agropogon
        littoralis","rankMarker":"sp."}]'
  recorded_at: 2018-10-09 21:57:18 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
- request:
    method: post
    uri: https://api.gbif.org/v1/parser/name
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
      x-api-url: /v1/parser/name
    body:
      encoding: UTF-8
      string: '[{"scientificName":"Arrhenatherum elatius var. elatius","type":"SCIENTIFIC","genusOrAbove":"Arrhenatherum","specificEpithet":"elatius","infraSpecificEpithet":"elatius","parsed":true,"parsedPartially":false,"canonicalName":"Arrhenatherum
        elatius elatius","canonicalNameWithMarker":"Arrhenatherum elatius var. elatius","canonicalNameComplete":"Arrhenatherum
        elatius var. elatius","rankMarker":"var."},{"scientificName":"Secale cereale
        subsp. cereale","type":"SCIENTIFIC","genusOrAbove":"Secale","specificEpithet":"cereale","infraSpecificEpithet":"cereale","parsed":true,"parsedPartially":false,"canonicalName":"Secale
        cereale cereale","canonicalNameWithMarker":"Secale cereale subsp. cereale","canonicalNameComplete":"Secale
        cereale subsp. cereale","rankMarker":"subsp."},{"scientificName":"Secale cereale
        ssp. cereale","type":"SCIENTIFIC","genusOrAbove":"Secale","specificEpithet":"cereale","infraSpecificEpithet":"cereale","parsed":true,"parsedPartially":false,"canonicalName":"Secale
        cereale cereale","canonicalNameWithMarker":"Secale cereale subsp. cereale","canonicalNameComplete":"Secale
        cereale subsp. cereale","rankMarker":"subsp."},{"scientificName":"Vanessa
        atalanta (Linnaeus, 1758)","type":"SCIENTIFIC","genusOrAbove":"Vanessa","specificEpithet":"atalanta","bracketAuthorship":"Linnaeus","bracketYear":"1758","parsed":true,"parsedPartially":false,"canonicalName":"Vanessa
        atalanta","canonicalNameWithMarker":"Vanessa atalanta","canonicalNameComplete":"Vanessa
        atalanta (Linnaeus, 1758)","rankMarker":"sp."}]'
  recorded_at: 2018-10-09 21:57:18 GMT
  recorded_with: vcr/0.1.0.9110, webmockr/0.2.6, crul/0.6.0
[...]
