http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=100&offset=0&geometry=POLYGON%28%28-15.7404094934464%2031.5836400571481%2C40.8611530065536%2031.5836400571481%2C40.8611530065536%2055.4324133588853%2C-15.7404094934464%2055.4324133588853%2C-15.7404094934464%2031.5836400571481%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(rgbif/1.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":false,"count":266925184,"results":[{"key":1986455951,"datasetKey":"6ac3f774-d9fb-4796-b3e9-92bf6c81c084","publishingOrgKey":"bb646dff-a905-4403-a49b-6d378c2cf0d9","networkKeys":[],"installationKey":"36cae45c-1983-48be-9cf9-0672c4a60612","publishingCountry":"DE","protocol":"BIOCASE","lastCrawled":"2019-02-20T11:34:20.047+0000","lastParsed":"2019-01-11T13:38:00.559+0000","crawlId":100,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":2498343,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":1108,"familyKey":2986,"genusKey":2498334,"speciesKey":2498343,"acceptedTaxonKey":2498343,"scientificName":"Cygnus
        olor (Gmelin, 1789)","acceptedScientificName":"Cygnus olor (Gmelin, 1789)","kingdom":"Animalia","phylum":"Chordata","order":"Anseriformes","family":"Anatidae","genus":"Cygnus","species":"Cygnus
        olor","genericName":"Cygnus","specificEpithet":"olor","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","decimalLongitude":10.183897,"decimalLatitude":49.964638,"coordinateUncertaintyInMeters":250.0,"year":2019,"month":1,"day":3,"eventDate":"2019-01-03T00:00:00","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"lastInterpreted":"2019-01-11T13:38:00.567+0000","license":"http://creativecommons.org/licenses/by/4.0/legalcode","identifiers":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Aves","countryCode":"DE","country":"Germany","catalogNumber":"-431408553","recordedBy":"1264062174","institutionCode":"naturgucker","locality":"Garstädter
        Seen (Vogelschutzgebiet)","gbifID":"1986455951","collectionCode":"naturgucker"},{"key":1986455880,"datasetKey":"6ac3f774-d9fb-4796-b3e9-92bf6c81c084","publishingOrgKey":"bb646dff-a905-4403-a49b-6d378c2cf0d9","networkKeys":[],"installationKey":"36cae45c-1983-48be-9cf9-0672c4a60612","publishingCountry":"DE","protocol":"BIOCASE","lastCrawled":"2019-02-20T11:31:16.234+0000","lastParsed":"2019-01-11T13:35:11.871+0000","crawlId":100,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":2498343,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":1108,"f[...]
