http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=100&offset=0&geometry=POLYGON%28%28-15.7404094934464%2031.5836400571481%2C40.8611530065536%2031.5836400571481%2C40.8611530065536%2055.4324133588853%2C-15.7404094934464%2055.4324133588853%2C-15.7404094934464%2031.5836400571481%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rgbif/1.0.4.9100)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/occurrence/search?limit=100&offset=0&geometry=POLYGON%28%28-15.7404094934464%2031.5836400571481%2C40.8611530065536%2031.5836400571481%2C40.8611530065536%2055.4324133588853%2C-15.7404094934464%2055.4324133588853%2C-15.7404094934464%2031.5836400571481%29%29
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":false,"count":228969982,"results":[{"key":1807914841,"datasetKey":"6ac3f774-d9fb-4796-b3e9-92bf6c81c084","publishingOrgKey":"bb646dff-a905-4403-a49b-6d378c2cf0d9","networkKeys":[],"installationKey":"36cae45c-1983-48be-9cf9-0672c4a60612","publishingCountry":"DE","protocol":"BIOCASE","lastCrawled":"2018-10-05T19:26:30.249+0000","lastParsed":"2018-02-15T21:05:43.886+0000","crawlId":83,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":9362027,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":1108,"familyKey":2986,"genusKey":2498056,"speciesKey":2498151,"scientificName":"Mareca
        strepera (Linnaeus, 1758)","kingdom":"Animalia","phylum":"Chordata","order":"Anseriformes","family":"Anatidae","genus":"Anas","species":"Anas
        strepera","genericName":"Mareca","specificEpithet":"strepera","taxonRank":"SPECIES","decimalLongitude":10.721283,"decimalLatitude":53.904415,"coordinateUncertaintyInMeters":250.0,"year":2018,"month":1,"day":10,"eventDate":"2018-01-10T00:00:00.000+0000","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"lastInterpreted":"2018-07-06T22:33:33.804+0000","license":"http://creativecommons.org/licenses/by/4.0/legalcode","identifiers":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Aves","countryCode":"DE","country":"Germany","recordedBy":"-755061113","catalogNumber":"-850601263","institutionCode":"naturgucker","locality":"Schellbruch
        Lübeck","gbifID":"1807914841","collectionCode":"naturgucker"},{"key":1821639491,"datasetKey":"38b4c89f-584c-41bb-bd8f-cd1def33e92f","publishingOrgKey":"b8323864-602a-4a7d-9127-bb903054e97d","networkKeys":[],"installationKey":"4346b227-ca68-4d54-8a77-909148492e0b","publishingCountry":"SE","protocol":"DWC_ARCHIVE","lastCrawled":"2018-10-02T17:42:37.941+0000","lastParsed":"2018-02-22T16:09:06.246+0000","crawlId":166,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","individualCount":1,"taxonKey":2487879,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":729,"familyKey":9327,"genusKey":2487875,"speciesKey":2487879,"scientificName":"Cyanistes
        caeruleus (Linnaeus, 1758)","kingdom":"Animalia","phylum":"Chordata","order":"Passeriformes","family":"Paridae","genus":"Cyanistes","species":"Cyanistes
        caeruleus","genericName":"Cyanistes","specificEpithet":"caeruleus","taxonRank":"SPECIES","decimalLongitude":13.611983,"decimalLatitude":55.409573,"coordinateUncertaintyInMeters":71.0,"continent":"EUROPE","year":2018,"month":1,"day":23,"eventDate":"2018-01-23T00:00:00.000+0000","issues":["GEODETIC_DATUM_ASSUMED_WGS84","RECORDED_DATE_MISMATCH"],"modified":"2018-02-03T08:53:16.000+0000","lastInterpreted":"2018-07-07T22:52:26.982+0000","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","identifiers":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Aves","countryCode":"SE","country":"Sweden","rightsHolder":"Richard
        Bergendahl","scientificNameID":"urn:lsid:dyntaxa.se:TaxonName:40694","county":"Skåne","municipality":"Skurup","identificationVerificationStatus":"Unvalidated","gbifID":"1821639491","language":"Swedish","type":"Occurrence","taxonID":"urn:lsid:dyntaxa.se:Taxon:103025","occurrenceStatus":"Present","catalogNumber":"109793570","vernacularName":"blåmes","institutionCode":"ArtDatabanken","taxonConceptID":"urn:lsid:dyntaxa.se:Taxon:103025","eventTime":"10:45:00
        - 11:15:00","behavior":"display/song","identifier":"urn:lsid:artportalen.se:Sighting:69337424","informationWithheld":"More
        information can be obtained from the Data Provider.","endDayOfYear":"23","locality":"Bongska
        marken","collectionCode":"Artportalen","occurrenceID":"urn:lsid:artportalen.se:Sighting:69337424","recordedBy":"Richard
        Bergendahl","startDayOfYear":"23","originalNameUsage":"Parus caeruleus Linnaeus,
        1758","datasetID":"urn:lsid:swedishlifewatch.se:DataProvider:1","accessRights":"Free
        usage","higherClassification":"Biota;Animalia;Chordata;Craniata;Vertebrata;Gnathostomata;Aves;Passeriformes;Paridae"},{"key":1807961791,"datasetKey":"6ac3f774-d9fb-4796-b3e9-92bf6c81c084","publishingOrgKey":"bb646dff-a905-4403-a49b-6d378c2cf0d9","networkKeys":[],"installationKey":"36cae45c-1983-48be-9cf9-0672c4a60612","publishingCountry":"DE","protocol":"BIOCASE","lastCrawled":"2018-10-05T21:24:09.417+0000","lastParsed":"2018-03-15T03:20:32.088+0000","crawlId":83,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey"[...]
