on:
  push:
    branches:
      - master
      - actions
      - cran_release
  schedule:
    - cron: '0 0 */3 * *' # every 3 days

name: R-check-real-requests

jobs:
  R-check-real-requests:
    runs-on: ubuntu-20.04
    name: 'ubuntu-20.04 (R-release)'
    strategy:
      fail-fast: false
    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      # CRAN: "https://packagemanager.rstudio.com/cran/__linux__/bionic/latest"
      VCR_VERBOSE_ERRORS: true
      VCR_TURN_OFF: true
      GEONAMES_USER: ${{ secrets.GEONAMES_USER }}
      GBIF_EMAIL: ${{ secrets.GBIF_EMAIL }}
      GBIF_USER: ${{ secrets.GBIF_USER }}
      GBIF_PWD: ${{ secrets.GBIF_PWD }}
      # RGBIF_BASE_URL: 'https://api.gbif-uat.org/v1'
    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'release'

      - uses: r-lib/actions/setup-pandoc@v2

      - name: Query dependencies
        run: |
          install.packages('remotes')
          saveRDS(remotes::dev_package_deps(dependencies = TRUE), ".github/depends.Rds", version = 2)
          writeLines(sprintf("R-%i.%i", getRversion()$major, getRversion()$minor), ".github/R-version")
        shell: Rscript {0}

      - name: Cache R packages
        uses: actions/cache@v3
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-2-${{ hashFiles('.github/depends.Rds') }}
          restore-keys: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-2-

      - name: Install pak
        run: |
          install.packages("pak", repos = "https://r-lib.github.io/p/pak/dev/")
        shell: Rscript {0}

      - name: Install system dependencies
        if: runner.os == 'Linux'
        env:
          RHUB_PLATFORM: linux-x86_64-ubuntu-gcc
        run: |
          Rscript -e 'writeLines(pak::local_system_requirements("ubuntu", "20.04", execute = TRUE, sudo = TRUE, echo = TRUE))'

      - name: Install dependencies
        run: |
          # pak::local_install_dev_deps()
          pak::pkg_install(c("rcmdcheck", "maps", "scales", "colorspace", "raster", "protolite"))
        shell: Rscript {0}

      - name: Session info
        run: |
          options(width = 100)
          pkgs <- installed.packages()[, "Package"]
          sessioninfo::session_info(pkgs, include_base = TRUE)
        shell: Rscript {0}

      - name: Check
        env:
          _R_CHECK_CRAN_INCOMING_: false
        run: rcmdcheck::rcmdcheck(args = c("--no-build-vignettes", "--no-manual", "--as-cran"), error_on = "warning", check_dir = "check")
        shell: Rscript {0}

      - name: Show testthat output
        if: always()
        run: find check -name 'test-all.Rout*' -exec cat '{}' \; || true
        shell: bash

      - name: Upload check results
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: ubuntu-20.04-r-release-results
          path: check
